[2020-01-18 20:55] patrakov opened #66598 "alternatives: should always change the link from auto to manual mode"
##### SUMMARY
If I use the "alternatives" module for the first time, and the default auto-selected alternative is already correct, then Ansible changes nothing. I.e., the link stays in the "auto" mode, pointing to the correct alternative. But this is fragile, the link can still change on installation of new packages. Instead of the current outcome, the link should be switched to the "manual" mode.

[2020-01-18 20:56] patrakov commented on #66598
As a follow-up, probably others will want to be able to put the link to the auto mode explicitly. They should be able to do so.

[2020-01-18 23:03] mmolinac commented on #58242
@erjohnso , @GoogleCloudPlatform @rambleraptor  : Bug still present in Ansible 2.9.3.
Please, having into account that there's a PR approved, merge it to the next version.

[2020-01-18 23:11] felixfontein commented on #19103
resolved_by_pr #66600

[2020-01-18 23:12] felixfontein commented on #66213
@dick-twocows: I've created a WIP PR for this (#66599). Could you please test whether it solves the problem for you?

[2020-01-18 23:41] hnakamur commented on #66597
!component = lib/ansible/modules/cloud/lxd/lxd_container
component = lib/ansible/plugins/connection/lxd

@qwertyx64 The error occurs in the lxd connection plugin, not in the lxd_container module.
I think you need to have `lxc` command in your PATH on host (where you execute ansible). See
https://github.com/ansible/ansible/blob/4181717af6c327fc9b7c647caccc3454c81df5c1/lib/ansible/plugins/connection

[2020-01-18 23:58] frogstarr78 opened #66602 "v2.9.3 errors trying to add an xml fragment on windows"
##### SUMMARY

The win_xml task fails when trying to insert an element into an existing element on v2.9.3 but not v2.9.2

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible/modules/windows/win_xml.ps1

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

 uname -a
Linux scott-vivio2.viviotech.net 4.19.86-gentoo #10 SMP Fri Dec 13 12:44:03 PST 2019 x86_64 In

[2020-01-19 01:42] #66597 closed, assigned to nobody

[2020-01-19 05:19] Akasurde commented on #66411
@hamdaagengui Could you please provide step by step procedure to reproduce this? Thanks.

[2020-01-19 05:25] Akasurde commented on #64354
@kclinden Any news?

[2020-01-19 05:26] Akasurde commented on #64144
@marcruhlmann  Any news?

[2020-01-19 05:44] kclinden commented on #64354
Unfortunately I haven’t had any time to dive back into this. :(

[2020-01-19 07:51] borowskiio commented on #66560
It maybe helpful to say that the previous version 2.8.5 I downgraded to, does not have this issue.

[2020-01-19 09:37] batchenr commented on #66527
Thank you it does work. i wish the docs had more info..

[2020-01-19 09:37] #66527 closed, assigned to Akasurde

[2020-01-19 11:22] briantist commented on #66341
!component powershell.py

I think this one should actually be considered a bug.

As far as I was able to tell, the problem was not in the `fetch` action itself. [`fetch` calls the current shell's `join_path` method](https://github.com/ansible/ansible/blob/85f36a3a42c8148decf20cef8ef62729649682f1/lib/ansible/plugins/action/fetch.py#L71), and it's [the one in `powershell.py`](https://github.com/ansi

[2020-01-19 12:08] hamdaagengui commented on #66411
@Akasurde, i used dynamic inventory for vmware, the plugin works partially.
For example, i have 8 Vms tagged "staging" ans my playbook begins like this
-hosts: staging
When i execute the playbook,
I have ont 3 vms detected.
And when i try to use vsphere client UI i get 8 vms with the tag staging.
Encore it works perfectly, there is no changes in ansible nor on vmware et vcenter.

[2020-01-19 12:58] #64526 closed, assigned to nobody

[2020-01-19 13:44] sky-joker commented on #63045
@Akasurde, The same phenomenon was reproduced in my lab environment.
I will try to check for a solution to this cause.

The following is the result of got node_wwn and port_wwn without using vmware_host_vmhba_info.(using self-made script)

[code]

The following is the result of got node_wwn and port_wwn using `vmware_host_vmhba_info` module.

[code]

[2020-01-19 17:57] #54519 closed, assigned to nobody

[2020-01-19 19:25] rmanibus opened #66607 "Role Variables leak to other Roles with docker_container module"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_container
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

I have the following role:
[code]
and the following playbook that create three containers:

[code]

##### EXPECTED RESULTS

The three containers are created with the variables defined in each role

##### A

[2020-01-19 19:29] rmanibus commented on #66607
This workaround is working:
[code]

[2020-01-19 19:56] felixfontein commented on #66607
I don't see how this can actually be a bug of `docker_container`. Modules are executed on remote machines and cannot modify any variables in Ansible itself. The only thing they can do is return facts, which `docker_container` unfortunately still does (until it's removed in some versions), but the fact's name is `docker_container`, and you're not using that as a variable.

You could replace the `do

[2020-01-19 20:39] felixfontein commented on #66607
I can reproduce the behavior with `debug:` instead of `docker_container:`.

Also, changing your playbook to
[code]
fixes your problem (note that `vars:` is gone for `role:`).

So this is totally unrelated to `docker_container`.

notabug

[2020-01-19 20:41] felixfontein commented on #66607
(If you think this behavior is wrong, please open an issue for Ansible itself.)

[2020-01-19 20:41] #66607 closed, assigned to nobody

[2020-01-19 22:14] mik3fly-4steri5k commented on #18305
i have the same behavior randomly on any tasks, not often, but it's clearly a handicap to have no options to handle a timeout.

[2020-01-19 22:29] behemphi opened #66609 "maven_repository: Maven Central now requires `https` and 501 on `http`"
##### SUMMARY
As of 2019-01-15 Maven Central now requires `https`.

https://support.sonatype.com/hc/en-us/articles/360041287334

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
* maven_repository

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Attempt to get an artifact from Maven Central using `http` instead of `https`

[code]

##

[2020-01-19 22:31] rmanibus opened #66610 "Role Variables leak to other Roles when using vars"
##### SUMMARY

The documentation for roles (https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html) state that we can pass variable to roles using the following syntax:

[code]

but if the role contains a variable that can be omitted ( |default(omit) ), and this variable is defined in another role, the variable will take the other role value even if it has not been defined i

[2020-01-20 00:02] briantist commented on #51960
I'm not using consul right now, so I won't be able to take on the change at this time, but it looks like the problem is here:
https://github.com/ansible/ansible/blob/3bf8b1d1c99cf5354cb7687d4a8669a144f3f90d/lib/ansible/plugins/lookup/consul_kv.py#L131-L144

`url` is retrieved from environment in a `try:` block but if anything in there fails, then it retries in the `except:` , at which point it re-

[2020-01-20 03:41] Akasurde commented on #63045
@sky-joker Thanks for taking a look into this.

[2020-01-20 05:08] sohnaeo commented on #56629
Hi,
I had exactly the same issues while installing kubespray as ssh user dont have ssh trust and kubepray uses synchronize module to copy the files and ansible_ssh_pass doesnt work and had to install sshpass on my clients to fix this but despite of that was having broken pipe issue but I applied that patched and it fix the issue. May I know when is this PR going to be merged? Secondly, is there an

[2020-01-20 05:20] anusha94 commented on #53693
@balonik Can you share what is the permission level for your user roles?
I believe the permission level should be the same as you would have for deploying a vm or for vmotion

@Akasurde is there any specific way to document this in Ansible? I don't see other modules listing out roles

[2020-01-20 05:36] Akasurde commented on #53693
@anusha94 You can document this in module documentation itself like [`vmware_guest`](https://github.com/ansible/ansible/blob/3bf8b1d1c99cf5354cb7687d4a8669a144f3f90d/lib/ansible/modules/cloud/vmware/vmware_guest.py#L33) or in [scenarios guides](https://docs.ansible.com/ansible/latest/scenario_guides/vmware_scenarios/scenario_clone_template.html#scenario-requirements). Thanks.

[2020-01-20 05:40] Akasurde commented on #66609
!component =lib/ansible/modules/packaging/language/maven_artifact.py

[2020-01-20 05:42] Akasurde commented on #66609
@behemphi Would you be interested in raising a PR against your findings? Thanks in advance.

[2020-01-20 05:46] Akasurde commented on #66609
resolved_by_pr #66611

[2020-01-20 05:46] #66609 closed, assigned to nobody

[2020-01-20 06:23] KaliszAd commented on #23816
I haven't reported it, so if you please, go ahead and report it.

[2020-01-20 07:30] DHB-liuhong opened #66614 "Something wrong ,when "failed_when" with "with_together""
**my purpose and issue**
My purpose  is to stop the execution and exit the whole ansible if the result is not 0
**My yml:**
[code]
**test.sh**
[code]
**result**
![image](https://user-images.githubusercontent.com/26212922/72706440-00f03a00-3b99-11ea-8387-65dc68074ede.png)
it should be exit when "2" != "1". but It continues to execute the entire cycle

[2020-01-20 07:36] DHB-liuhong commented on #66614
@mkrizek  can you review it for me. Thanks

[2020-01-20 08:31] yamada-k-ts opened #66616 "blockinfile module doesn't work correctly"
##### SUMMARY

I used blockinfile module to change `/etc/bashrc` , it didn't work correctly.
It wrote block between the file, it should write end of the file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Amazonlinux2

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[c

[2020-01-20 08:32] bsautel opened #66617 "Ansible does not work when the working directory contains some non-ASCII characters"
##### SUMMARY
As of Ansible 2.9, the Ansible CLI commands crashe when the ansible project directory contains some non-ASCII characters. In my case it contains a `é`, a quite common character in french.

I get this error:

With `---v`, I get that:

If I remove this character from the directory path, it gets working.

Note that this also happens for other Ansible commands, such as `ansible --version

[2020-01-20 08:34] Akasurde commented on #66505
Hi @xxmlud!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us

[2020-01-20 08:34] #66505 closed, assigned to nobody

[2020-01-20 08:43] Akasurde commented on #66077
@hasegawa-csi Could you please check if PR https://github.com/ansible/ansible/pull/66119 works for you and let me know? Thanks.

needs_info

[2020-01-20 08:46] Akasurde commented on #65989
Closing this issue since PR #66131 is merged. Please feel free to open a new issue if the problem persists. Thanks.

[2020-01-20 08:46] #65989 closed, assigned to GomathiselviS

[2020-01-20 08:59] XVilka opened #66618 "ansible/bubblewrap ppa for Ubuntu Bionic"
Using https://launchpad.net/~ansible/+archive/ubuntu/bubblewrap with the following command:
[code]

It gives me the following error:
[code]

See the full log here https://travis-ci.org/ocaml/ocaml-ci-scripts/jobs/639385546?utm_medium=notification&utm_source=github_status
See the pull request that caused this error here: https://github.com/ocaml/ocaml-ci-scripts/pull/321/files

[2020-01-20 09:17] balonik commented on #53693
@anusha94
I was able to narrow my permission issues to DVSwitch configuration on the source VM.
If the source VM has DVSwitch assigned to NIC and such DVSwitch is not on the destination vCenter (I guess that is the case all the time) vCenter gives you following warning in the UI:

[code]

vCenter seems to workaround this warning by removing NIC assignment from source VM before the clone proces sta

[2020-01-20 09:37] Timoses commented on #65190
It turns out that the RHEVM user used with the `ovirt_nic` module (during `ovirt_auth`) did not have sufficient permissions (see [here](https://bugzilla.redhat.com/show_bug.cgi?id=1792209) for more details).

[2020-01-20 09:37] #65190 closed, assigned to nobody

[2020-01-20 09:41] nicolaibaralmueller commented on #66489
I was able to solve this after all. Google search 'consoleScreenshotBlobUri' indicated that this might have something to do with boot. Boot Diagnostics was enabled without any storage account. Disabled boot diagnostics and now module works again.

[2020-01-20 09:41] #66489 closed, assigned to nobody

[2020-01-20 09:50] marcruhlmann commented on #64144
Hi,

I reinstalled eveything from scratch, from the OS to Ansible, and the
problem did not reappear… Thanks for your help.

*Cordialement,*

*Marc RUHLMANN*  |  Ingénieur technico-commercial  |  Direction technique

*SCASICOMP*

Fixe : +33 (0)4 81 76 32 31  |  Port : +33 (0)6 75 08 48 94

mruhlmann@scasicomp.com

[image: image001] <http://www.scasicomp.com/>

  [image: texte01][image: image001] <h

[2020-01-20 09:54] yamada-k-ts commented on #66616
I tried lineinfile module, it worked correctly.
[code]

[2020-01-20 09:55] Akasurde commented on #64144
@marcruhlmann OK. Thanks for providing the feedback.

[2020-01-20 09:55] #64144 closed, assigned to nobody

[2020-01-20 10:56] flazzarini commented on #66520
I finally found the issue. Paramiko was missing from my ansible install environment. I found the issue by reverting to ansible 2.8.1 (probably also other 2.8 versions of ansible) which indicates that you need paramiko installed.

New virtualenv with ansible 2.8.1 gives me the following error. After installing the latest paramiko the execution of the `sros_command` works as expected.

[code]

Ansib

[2020-01-20 11:40] yurtesen commented on #27081
@zystem what if the file is a zip file? unzip does not have such options?

[2020-01-20 11:52] Nindaleth opened #66621 "Playbook-dir group_vars always override both the current-directory and inventory-directory group_vars"
##### SUMMARY

I set up a directory layout as close as possible to the one described in "Alternative Directory Layout" (https://docs.ansible.com/ansible/latest/user_guide/playbooks_best_practices.html#alternative-directory-layout) with one difference - there are group_vars at the top level still. I'm unable to use group_vars from inside the `inventories/` subfolder as long as top-level group_vars

[2020-01-20 12:45] raspbeguy opened #66623 "lvol: specify activation option"
##### SUMMARY

I think it would be useful to be able to specify the activation option (exclusive, shared, local) for LVs in a shared VG.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

lvol

##### ADDITIONAL INFORMATION

When using a shared VG between multiple nodes, sometimes we need to define an activation option different from the default (exclusive). For now, only default activation op

[2020-01-20 12:59] Nani-o commented on #58841
I'm still trying to debug my project, to find what can cause this, i'm not sure if it helps, but it may help locate the bug, if I add a when statement like this :

[code]

Then I got :

[code]

So first task, I output the variable, so it is defined, then on the next task (which was already "failing", erroring to be more precise since the task does not return) if I add a when statement to skip it i

[2020-01-20 13:23] CaptAintHere commented on #63180
Any news about this issue ?

[2020-01-20 13:33] Tocard opened #66627 "Feature Request - Add the possibility to override the temporary directory when you donwload a role"
##### SUMMARY
I'm using ansible==2.8.3
It's not possible to override where you donwload role from ansible-galaxy install before the extract.

[code]

during thoses steps, the file is downloaded as a tempfile.NamedTemporaryFile

#### **`ansible-devel/lib/ansible/galaxy/role.py`**
[code]

This function tempfile.NamedTemporaryFile()` support a parameter call dir which allow to specify a given temp_di

[2020-01-20 13:38] devarshishah3 commented on #57417
@vamsiatluri the issue you are facing because of invalid query parameters specified in the playbook, please re-check your config_policy and snapshots name and try again. It may be possible that one of those parameters is invalid which is causing failures in the comparison.

[2020-01-20 13:48] deepakpal-in commented on #66344
alright, thanks for the response over this. I tried it with k8s module and looks it works fine. But is there is any plan to implement a similar kind of wait_timout implementation for k8s_scale as well?

[2020-01-20 13:51] Tocard commented on #66627
!component

[2020-01-20 14:11] rasperepodvipodvert commented on #42090
До сих пор не решили :(

[2020-01-20 14:23] EvanCarroll commented on #16776
Still seeing this with ansible 2.7.7

[2020-01-20 16:00] 6sco opened #66632 "openstacksdk for os.* module"
##### SUMMARY

When i run ansible playbook I got this error:

fatal: [127.0.0.1]: FAILED! => {"changed": false, "msg": "openstacksdk is required for this module"}

Openstacksdk is installed:

pip show openstacksdk
Name: openstacksdk
Version: 0.39.0
Summary: An SDK for building applications to work with OpenStack
Home-page: https://docs.openstack.org/openstacksdk/
Author: OpenStack
Author-email: op

[2020-01-20 16:16] gundalow opened #66635 "Collections: support flatmapping"
#### SUMMARY

**NOTE:** This is a draft and will be updated over the next few days

The `community.general` collection will contain a large number of modules and plugin. This is to reduce the overhead on both the Community and Community Team in having to manage [many small Collections](https://gist.github.com/gundalow/81884926ff744755e2d2f46ef1ba1ebb).

As this collection will have a large number

[2020-01-20 16:18] vladimirf7 opened #66636 "File module: Using glob pattern creates a dir with an asterisk as a name"
##### SUMMARY
CHOWNing all dir content with * (asterisk) results in creating a dir **/usr/local/*** (asterisk at the end) rather than CHOWNing all directories inside the **/usr/local/** dir

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu Linux to macOS Catalina

##### STEPS TO REPRODUCE

[code]

#####

[2020-01-20 16:36] wenottingham commented on #66618
Just to note: that repo is a dependency repo for the Ansible Tower product, for the release supporting Ubuntu 16.04. It's not intended to be a general-purpose repo.

I will check with that release team as to whether that's something that needs fixed in that respect, but if you're using it for some upstream CI, I strongly suggest moving to a different repo more directly tied to the bubblewrap proje

[2020-01-20 16:39] sivel commented on #66618
Closing per above. This PPA was not intended for the larger public, but as a dependency of Ansible Tower.

It's possible we may get a new release there, but per the above, you should look to use some other repo.

Closing.

[2020-01-20 16:39] #66618 closed, assigned to nobody

[2020-01-20 16:57] DylanYoung commented on #50956
What about a `rerun_task` module (that looks up the last run task by name or module... or what else?).  You can use the existing variables in the `rescue` block to trigger the rerun of the failing task, but it would be substantially more flexible, and would make DRY roles easier to write.

[2020-01-20 17:03] sivel commented on #50956
FWIW, the idea of a task that effectively implements a "GOTO" has been frowned upon and turned down several times before.

I've become fond of the pattern where you have a tasks file that does a self include in a failure scenario.  https://gist.github.com/sivel/a3ab91d4966bfa17ee69cb4bd95f34a4

[2020-01-20 17:04] croensch commented on #55590
I believe this also affects `apt_repository`, which for me fails to add an Ubuntu PPA behind a proxy (similar to https://github.com/ansible/ansible/issues/31691). [My proxy config is battle-tested.]
[code]

[2020-01-20 17:56] DylanYoung commented on #50956
Not a GOTO!!! A call to a specific task.

Yeah that "works", but it is a huge bit of boilerplate and can lead to nesting hell if you need to do this at multiple levels (it's also much more like a GOTO than the ability to call a pre-defined task or block of tasks)

[2020-01-20 18:00] DylanYoung commented on #50956
In the worst case scenario that workaround leads to 2 yaml files per task.  That's crazysauce, though maybe there's a way to make it more DRY?

[2020-01-20 19:04] acalm commented on #66632
The location for the openstacksdk module from pip suggests the sdk is installed for Python3
[code]
However, Ansible seems to be using Python 2:
[code]
Either set your system default to Python 3, which probably is a good thing since py2 is going out of fashion, or set the ansible python interpreter to Python 3.

[2020-01-20 19:23] ansiblejunky commented on #64365
I believe this issue could be closed as "duplicate" and we can follow https://github.com/ansible/ansible/issues/65571

[2020-01-20 19:26] #66549 closed, assigned to maxamillion

[2020-01-20 19:40] clay584 commented on #57417
@devarshishah3 I figured out the issue is a race condition. Even though the APIC comes back that the snapshot has been created from the previous play, it seems to be an async task and it really isn't quite done in the background. Inserting a pause task in the playbook for ~10-30 seconds allows for the APIC to finish creating the snapshots. Then we don't get the NoneType has no attribute 'read' err

[2020-01-20 19:46] mszumilak opened #66641 "ec2_group no longer idempotent after upgrade 2.9.2 -> 2.9.3"
##### SUMMARY
Ansible fails on duplicate rule error.
Ansible 2.9.2 works fine, Ansible 2.9.3 does not.

Both versions tested with boto/boto3/botocore different versions. Task fails if there's a security that authorizes itself on existing rule duplication. Only ansible version makes the difference here.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_group

##### ANSIBLE VERSION
[code]

##

[2020-01-20 19:49] sivel commented on #66641
I believe this is the only change made between those versions: https://github.com/ansible/ansible/pull/62374

[2020-01-20 20:46] Freeze commented on #27299
Thanks for the workaround.  Using in `2.8.6`

[2020-01-20 21:29] kjw3 opened #66643 "Yum/Package module tasks take extremely long time if using a Subscription that has access to many repos"
##### SUMMARY

As the subject says, when utilizing a subscription that has access to many repos, the yum module takes an extremely long time to complete. This is exaggerated when using the Employee SKU and CDN. Tested Ansible versions 2.4, 2.7, 2.9. All same result.

Pointing to Satellite helps the situation, but the problem still exists. Just minimized because Satellite setups usually restrict th

[2020-01-20 21:59] sivel commented on #66560
!component =lib/ansible/plugins/connection/local.py

[2020-01-21 05:30] justjais opened #66647 "IOS resource module config filter based on section doesn’t work for older devices"
##### SUMMARY

IOS resource module config filter based on section doesn’t work for older devices.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_interfaces, ios_l2_interfaces, ios_l3_interfaces

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macos

##### STEPS TO REPRODUCE

Interfaces module relies on Cisco `section` config filtering, but for older Ci

[2020-01-21 07:17] ncoghlan commented on #30864
@bcoca Note that even with simple conditionals, the status quo results in very odd double-negative debug output when a `fail` task is skipped:

[code]

(That particular use case would likely be well-served by the dedicated "skip_reason" field proposed in https://github.com/ansible/ansible/issues/5449, but having Ansible populate it automatically does seem like a better approach)

[2020-01-21 07:53] onitake commented on #27081
@yurtesen You don't need to special options to specify the files to extract. Just list them as additional arguments.

[2020-01-21 08:34] donovan-gush commented on #23493
Thanks for sharing!

[2020-01-21 09:27] Nani-o commented on #63822
Hello, I hit this in a role, trying to update to Ansible 2.8, and it took me 3 days to understand what was going on. I finally did find removing part of the role trying to preserve the bug, until the role was so empty that the issue was obvious.

I think if this is not a bug, it should either :

- Error in the handler section to make it more obvious were the error come from
- Add a custom message

[2020-01-21 09:29] chillancezen opened #66651 "asynchronous multiple tasks result in error for last task: unable to connect to socket"
##### SUMMARY

I have `n` tasks which run asynchronously.
the first `n - 1` tasks run well as expected, while the `n`th task doesn't.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

custom collection: chillancezen.fortimanager.
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

and then run:
[code]

##### EXPECTED RESULTS

[co

[2020-01-21 09:43] igorfraa commented on #25337
`/root/ansible/root@remote.host:/apath `

issue is exactly here.

While this is not clear from module documentation, username and host are substituted for "dest" in normal mode and for "src" in delegate mode.

[2020-01-21 10:33] justjais commented on #66530
@eleksis Thanks for raising the issue, I have opened a PR #66654 with the fix for the same. Can you please verify with the PR branch change for the fix.
Once merged I can create a backport PR for the same in Ansible `2.9`.

[2020-01-21 10:43] dimasmir opened #66655 "Can't get info from router with routeros_facts"
##### SUMMARY
Can't get info from router with routeros_facts

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
routeros_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Information about router

##### ACTUAL RESULTS
[code]

[2020-01-21 10:56] Jo-Jo0 commented on #66413
I just searched the repo a bit and found this pull request which fixes my problem:
https://github.com/ansible/ansible/pull/45575

[2020-01-21 11:54] eleksis commented on #66530
@justjais Thanks for fast response & fix. I installed your branch and made some tests. It works as expected. :+1:

[2020-01-21 12:45] philfry opened #66657 "loops over undefined items using conditions"
##### SUMMARY

`loop` tasks are run regardless of a given condition. In this case, looping over an undefined dict cannot be skipped using simple `when:` conditions. Neither using conditions in an outer `block:` or `include:` helps here.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

core
task_executor.py maybe

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONME

[2020-01-21 14:01] heuels commented on #66655
@dimasmir, hi! Thanks for submitting this issue. It looks like you may be missing some required variables in your playbook. Can you please try running the following playbook?
[code]

[2020-01-21 14:33] sivel commented on #66657
This is expected, and documented at https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html

As such, you must ensure that your loop can always be evaluated. This can be achieved through the use of the `|default` filter:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com

[2020-01-21 14:33] #66657 closed, assigned to nobody

[2020-01-21 14:52] liutaurasa opened #66659 "Reference to variable in variable is not resolved in second and subsquent loop iterations"
##### SUMMARY
My goal is to run through all the defined groups and compile a list of packages. If "web" group packages list is ['apache'] and "mta" group has a packages variable set to ['postfix'] then host in both of those groups should have _packages variable set to ['apache', 'postfix'].
It works in most cases, but doesn't when the list of packages in group variables is actualy reference to oth

[2020-01-21 15:08] philfry commented on #66657
Sorry, but please take a look at the playbook before closing the bug report. I already mentioned in the first task that `when:` is evaluated for each iteration. The point is that even when putting the loop in an additional `block:` and using a condition on that block the loop runs/gets evaluated. In my understanding the block should never be entered on a failed condition. Your example
[code]
would

[2020-01-21 15:12] feisa opened #66660 "LLDP Module Issue"
##### SUMMARY
Run the following test code in ansible's documentation

 - name: Gather information from lldp
   lldp:

 - name: Print each switch/port
   debug:
    msg: "{{ lldp[item]['chassis']['name'] }} / {{ lldp[item]['port']['ifname'] }}"
   with_items: "{{ lldp.keys() }}"

# TASK: [Print each switch/port] ***********************************************************
# ok: [10.13.0.22] => (item

[2020-01-21 15:13] mkrizek commented on #66657
Yes. This is documented in https://docs.ansible.com/ansible/latest/user_guide/playbooks_blocks.html.

[2020-01-21 15:14] feisa commented on #66318
any feedback on this?

[2020-01-21 15:15] feisa commented on #66312
thanks, everyone

[2020-01-21 15:43] #56629 closed, assigned to nobody

[2020-01-21 15:56] ghost opened #66662 "VMware: vmware_guest not waiting for ip"
##### SUMMARY
Im using ansible 2.9.2 and i have this playbook that is runing on an exsisting machine,
this machine has no NIC and this playbook assianing it a new NIC and i want it to wait until
it gets an IP.

myabe this featuer isnt working because im not creating new machine but adding a nic?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
ansible 2.9.2

[2020-01-21 16:22] blackwood821 commented on #27081
Any update on this? Looking to extract specific files from a jar/zip.

[2020-01-21 16:29] s-hertel commented on #66621
Ansible follows the specific over general principle with respect to the playbook. Playbook directory variables have a higher precedence than inventory dir variables
https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable

I think that documentation is a bit misleading. The playbook path you provide to `ansible-playbook` defines

[2020-01-21 16:41] mfisher30 commented on #47427
Sorry for the delay. I've since moved onto another team and am trying to get someone who can be available to test this for you.

[2020-01-21 16:59] wilbur4321 opened #66663 "device serial number not retrieved without sudo"
##### SUMMARY
NVMe devices can have their serial number read by reading (eg) /sys/block/nvme1n1/device/serial, without having to try and run sg_inq, which requires root.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Facts collection, linux.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

AWS NVMe-based systems

##### STEPS TO REPRODUCE

Run setup task w

[2020-01-21 17:53] dimasmir commented on #66655
@heuels,hi.
I use group variables:
  ansible_network_os: routeros
  ansible_connection: network_cli
I have about 250 Routeros'es in that group, and about 235 pass normally, and about 15 pass with error. I will try to add variables to playbook and will give feedback tomorrow.
Thank you.

[2020-01-21 17:54] bkadykalo commented on #60512
+1

[2020-01-21 17:58] nschende-mort commented on #63276
Here is the output trimmed down to just a few, but including some of the templates that had given us issues with 1 in the name:
(vmodl.query.PropertyCollector.ObjectContent) {
      dynamicType = <unset>,
      dynamicProperty = (vmodl.DynamicProperty) [],
      obj = 'vim.VirtualMachine:vm-367',
      propSet = (vmodl.DynamicProperty) [
         (vmodl.DynamicProperty) {
            name = u'name

[2020-01-21 18:18] chrisvanheuveln commented on #66278
resolved_by_pr #66330

[2020-01-21 18:24] #66278 closed, assigned to nobody

[2020-01-21 18:42] #58868 closed, assigned to samdoran

[2020-01-21 19:30] sandrich commented on #24837
I have a workable implementation. Just needs review and some further testing. #66648

[2020-01-21 19:32] ironfroggy commented on #65440
There were some questions about the current behavior, so here's my observations as of 2.9.2:

Failures:
- `ansible-galaxy install geerlingguy.docker` fails to find the role
- `ansible-galaxy role install geerlingguy.docker` also fails to find the role, despite the explicit `role` subcommand
- `ansible-galaxy collection install newswangerd.collection_demo` when collection exists on Galaxy but not A

[2020-01-21 19:39] jborean93 commented on #65440
@ironfroggy the `ansible-galaxy collection install` command should be working today, it's only roles that don't have the fallback mechanism.

[2020-01-21 19:52] nschende-mort commented on #63276
Here is log from when we originally got the error:  {
    "_ansible_no_log": false,
    "_ansible_delegated_vars": {
        "ansible_host": "localhost"
    },
    "invocation": {
        "module_args": {
            "username": "vmwsvc",
            "force": false,
            "customization_spec": null,
            "hardware": {
                "memory_mb": "8********92",
                "hotadd

[2020-01-21 20:00] nschende-mort commented on #63276
Also, here is the playbook we were attempting to run when this was encountered: [dc1_vm_build.yml](https://gist.github.com/nschende-mort/789a0dcff2cc5a5ab52bbe8f75fa5bbe.js)   I am looking through our old stuff to find additional logs I can provide as well.

[2020-01-21 20:32] willtome commented on #64365
@ansiblejunky how can your filter on tags with the current plugin?

Yes, looks like this and #65571 are duplicates. @Akasurde, which issue do you want to track this RFE under?

[2020-01-21 21:15] sivel commented on #33947
I believe this is the required fix to address the issue:

[code]

However, I do not have the time or ability to test, write tests, and changelog.  For anyone interested, feel free to take this and see it to completion.

[2020-01-21 21:20] ansiblejunky commented on #64365
@willtome I believe in the inventory script situation, you still need to install the vSphere SDK to allow you to access the tag information. The SDK uses the REST API to speak to vSphere.  Then in the `ini` configuration file there is `host_filters` that is available. If we have enabled tags, then one could use `host_filters` to reference the tags and perform filtering. I would need to test this,

[2020-01-21 21:24] clay584 commented on #57417
Adding an explanation in the docs as well as an example would be sufficient. Thanks!

[2020-01-21 21:30] rhysmeister commented on #66395
If I remember correctly the version check is possible without auth too. This probably isn't that hard to implement. It just needs a bit of time which I don't have myself at the moment.

[2020-01-21 21:32] nikosmeds opened #66668 "XML module insertbefore and insertafter parameters are not idempotent"
##### SUMMARY

Using Ansible XML module's `insertbefore` or `insertafter` parameters is not idempotent.

The new content will be inserted each time Ansible is run.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

XML

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS Catalina Version 10.15.2

##### STEPS TO REPRODUCE

Create example XML file shown below

[2020-01-21 21:47] jillr opened #66669 "aws_acm tests hit quota in CI"
##### SUMMARY
Tests marked unstable in https://github.com/ansible/ansible/pull/66665
CI runs have begun failing.  We should figure out how many certificate create calls are made in a single CI run and determine what quota we need, or how frequently we can reasonably run these tests.

`You have imported the maximum number of 2200 certificates in the last year. `
https://app.shippable.com/github/ans

[2020-01-21 21:58] #65471 closed, assigned to nobody

[2020-01-21 22:09] s-hertel commented on #66669
That's a lot of certificates in just a couple months. Depending on the limit increase @mattclay can get, we may want to keep these as unstable so they only run when the module/test is modified since that will drastically reduce what we need. Another possibility for testing aws_acm would be to add unit tests with the placebo fixtures, so that we only need to record hitting real AWS endpoints when w

[2020-01-21 22:13] kjw3 commented on #66643
This issue is definitely tied to RHEL 7, yum and subscription-manager and shows itself at most extreme when using a subscription with multiple/many repos available to it.

[2020-01-21 22:14] jillr commented on #66669
Totally agreed - I just want to start from a position of numbers before making any concrete plans.

[2020-01-21 22:21] Bahu2016 opened #66672 "na_ontap_info – NetApp information gather The error was: AttributeError: 'NoneType' object has no attribute 'get_child_by_name'"
##### SUMMARY
na_ontap_info – NetApp information

When i ran the playbook it throws below error message.

The error was: AttributeError: 'NoneType' object has no attribute 'get_child_by_name'

{"ansible_facts": {"discovered_interpreter_python": "/usr/bin/python"}, "changed": false, "module_stderr": "Traceback (most recent call last):\n  File \"<stdin>\", line 102, in <module>\n  File \"<stdin>\",

[2020-01-21 23:41] mattclay commented on #66669
Our limit was previously set to 2,200 per year. I've requested a limit increase to 8,800 per year.

[2020-01-21 23:48] matt-telstra commented on #66669
Each run should create 4 certificates.

[2020-01-22 00:20] mattclay commented on #66669
Our quota has been increased, it should be at 5,000 now. The complete request to increase to 8,800 is still pending approval.

[2020-01-22 00:23] mattclay commented on #66669
I've opened https://github.com/ansible/ansible/pull/66674 to remove the `unstable` alias from the test since the quota has been increased.

[2020-01-22 01:04] finnje commented on #53746
Any movement on this?  The native password plugin should support the native vaulting method (ansible-vault).

[2020-01-22 01:22] #66669 closed, assigned to jillr

[2020-01-22 03:24] Lin-Buo-Ren commented on #63067
@sivel Just encountered this "documentation error" is the documentation fixed yet?

[2020-01-22 04:17] willtome commented on #64365
@ansiblejunky as mentioned on #43776 the inventory _script_ is deprecated and any new features should be added to the _plugin_. `host_filters` was part of the legacy _script_ but that functionality was not ported to the _plugin_ when it was developed, hence this RFE. !needs_info

[2020-01-22 04:45] Akasurde commented on #63276
@nschende-mort Thanks for providing the logs and output for the run. For me, `dc1_vm_build.yml` is not readable. Could you please re-upload it?

After going through the trimmed output of 63276.py, I don't see any template or VM which is named as `TEMPLATE_2016`. Can you check if VM or template with the name `TEMPLATE_2016` is available or is missed in copy-paste operation?

Thanks.

needs_info

[2020-01-22 05:02] sabik opened #66676 "Inconsistent handling of inventory with comma (,)"
##### SUMMARY

Currently, Ansible calls ansible.utils.path.unfrackpath on the inventory, special-casing inventories containing comma (`,`) for the use of `host_list`. This causes two complementary problems:

* Custom inventory plugins which are not file-based cannot access the original string (for instance, containing a URL).
* The `host_list` inventory plugin calls `os.path.isfile()` on a path th

[2020-01-22 05:09] #64799 closed, assigned to nobody

[2020-01-22 05:41] Akasurde commented on #66662
@batchenr Thanks for reporting this issue. When you specify `present` as `state` in `vmware_guest` will only reconfigure the existing VM with newly provided details and will not touch `powerstate` of the VM.

In order to leverage the effect of `wait_for_ip_address`, you may want to power on the VM like in an additional task like -

[code]

Here, `debian_10` is VM with no NIC. The first task will a

[2020-01-22 06:08] ssoerensen commented on #66641
I can confirm, i'm seeing the exact same issue

[2020-01-22 06:42] Akasurde commented on #33284
@mowntan Any news?

[2020-01-22 06:52] lonico commented on #66672
Are you running as vsadmin?

In 2.9, we did not support running as vserver.   This was added in the 19.11.0 collection.

[2020-01-22 06:59] Bahu2016 commented on #66672
Yes am running as vsadmin.

Then what is the options for me to get it work?

On Wed, Jan 22, 2020 at 12:52 AM Laurent Nicolas <notifications@github.com>
wrote:

--
Thanks & Regards,

Sekhar.P

[2020-01-22 07:03] justjais opened #66678 "Idempotency fails with ipv6 if input case differs in *_l3_interfaces module"
##### SUMMARY

Idempotency fails with ipv6 if the input case differs in *_l3_interfaces module, meaning if IPV6 address is given in the upper case and if the device actually configures in lower case, play idempotency fails as it always takes it as different input.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_l3_interfaces
eos_l3_interfaces
nxos_l3_interfaces

I believe in other suppor

[2020-01-22 07:05] Bahu2016 commented on #66672
Do I need to use vserver?

Document says nothing about vserver

On Wed, Jan 22, 2020 at 12:58 AM pulipate sekhar <go2sekhar@gmail.com>
wrote:

--
Thanks & Regards,

Sekhar.P

[2020-01-22 07:17] HRio opened #66679 "user.py Busybox support broke modifying users"
##### SUMMARY

The commit bf3e397ea7922e8bd8b8ffbc05d1aede0317d119 (PR #45507) that introduced Busybox support and changed so that class is always used on Alpine Linux, broke modifying existing user accounts.

Hence for instance a shell can not be changed for an existing user account.

Example
[code]
and then changing shell to `/bin/bash`. Will only change the shell on for instance Debian systems

[2020-01-22 08:01] 6sco commented on #66632
Two days works just for this. It's working for me now. Really thanks.

[2020-01-22 08:01] #66632 closed, assigned to nobody

[2020-01-22 08:26] justjais commented on #66530
@eleksis Thanks for confirming the fix, PR is merged in `devel` and I have created backport for the fix to Ansible `stable-2.9` as well #66680.
Closing the bug.

[2020-01-22 08:26] #66530 closed, assigned to justjais

[2020-01-22 08:29] Akasurde commented on #62770
@furball9000 Thanks for reporting. I think this is more of a user question than `vmware_guest` issue.

You can achieve same result by -

[code]

Hope this helps. Thanks,

[2020-01-22 08:29] #62770 closed, assigned to nobody

[2020-01-22 09:06] nicolaibaralmueller opened #66681 "VMware: Unable to connect to vCenter or ESXi API (_ssl.c:877)"
##### SUMMARY

I have a playbook that connects to vCenter which I can execute from my local machine without any problems. However, running the same playbook from AWX gives me this error:

Unable to connect to vCenter or ESXi API at virtualcenter.com on TCP/443: [SSL: UNSUPPORTED_PROTOCOL] unsupported protocol (_ssl.c:877)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_datastore_info

[2020-01-22 09:12] hryamzik commented on #66678
@justjais can you also post your interfaces file, please?

[2020-01-22 09:19] MarkKruse commented on #66419
Hey,
i have the issue. Is there any fix so far. this would be helpful. Thx

King regards Mark

[2020-01-22 09:52] batchenr commented on #66662
PERFECT! i used to do power on playbook and then the NIC change now both on the same playbook.
I really appreciate your support!!!

[2020-01-22 09:52] #66662 closed, assigned to nobody

[2020-01-22 10:16] jtessier72 opened #66684 "icx_vlan raises TypeError in check_fail using python3"
##### SUMMARY
Using icx_vlan module to create a new vlan raises TypeError when using python3, even though creating the vlan was successful. In my tests, this does not happen when using python2.7

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
icx_vlan

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

DISTRIB_ID=ManjaroLinux
DISTRIB_RELEASE=18.1.2
DISTRIB_CODE

[2020-01-22 10:22] jtessier72 commented on #66684
On Ubuntu 18.04, switching to python3 as interpreter in hosts file is handy way to reproduce
[code]

[2020-01-22 10:40] jdelvecchio opened #66685 "vault hashi_vault lookup plugin and set_fact is not skipped properly"
##### SUMMARY
Skipped set_fact are still being run despite task is marked as 'skipped' and the fact has an odd value, bug occurs only when using the hashi_vault lookup plugin.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
set_fact
hashi_vault lookup plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian 9

##### STEPS TO REPRODUCE
Create those 3 file

[2020-01-22 10:57] #65365 closed, assigned to nobody

[2020-01-22 11:02] keliansb opened #66686 "openssh_cert: add signing key password param"
##### SUMMARY

The module openssh_cert has no param to decrypt the private key of the certificate authority. If a certificate authority has been created with a private key protected by a password, we cannot use this module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

openssh_cert

##### ADDITIONAL INFORMATION

The password used to decrypt the private key can be passed to ssh-keygen wit

[2020-01-22 11:17] Andersson007 commented on #66571
@jzielke84 hey, thanks for reporting this!
Seems that it was fixed and backported by https://github.com/ansible/ansible/pull/65940
could you please upgrade and check?

[2020-01-22 11:25] Andersson007 commented on #66303
@truki , thanks for reporting this!
Did you try to put the column name between single quotes?
[code]
then we have
[code]

[2020-01-22 11:27] jelaby commented on #27299
Dear Holden

Please can you remove Paul Mealor from your mailing database as he no longer
works for the company.

Thanks very much.

Cheers

Steve

……………………………………………………

Steve Turner

CEO

email:  <mailto:steve.turner@stspayments.com> steve.turner@stspayments.com

mob: +44 (0)7798 624 536

ddi: +44 (0)20 3051 9342

tel: +44 (0)20 8680 0252

fax: +44 (0)70 0586 0258

Cobblestone House, 37 Brighton

[2020-01-22 11:49] spankme opened #66687 "cloudflare_dns: ignoring 'proxied: yes' parameter"
##### SUMMARY
When creating DNS entries using the cloudflare_dns module with Ansible 2.9.3 , the bool type parameter `proxied` used as `proxied: yes` (also tested with `proxied: "yes"`, `proxied: true`, `proxied: "true"`) is ignored and the resulting entries have proxying disabled.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

clourflare_dns

##### ANSIBLE VERSION

[code]

##### CONFIGURAT

[2020-01-22 12:00] spankme commented on #66687
Possibly related to https://github.com/ansible/ansible/issues/35190

[2020-01-22 12:01] spankme commented on #66687
I've actually tested it with the existing/new record scenario and the result is the same, that is Proxied is always 'DNS only' instead of 'ON'.

[2020-01-22 13:03] dimasmir commented on #66655
Moving variables to playbook didn't make a difference.

[2020-01-22 13:06] pawellrus commented on #65420
It seems that problem was with variable mis-defining.
I found solution that works for me:

`- name: Remove certificate
    win_certificate_store:
      thumbprint: '{{ thumbprint }}'
      state: absent`

Thumbprint is usually being copied from windows cert's properties window as is and passed to extra vars like this.

`'-e {"thumbprint":"a1 fd cd 24 ..............."}'`

[2020-01-22 13:27] vijayscsa opened #66691 "support needed on vmware_local_user_manager task failure during the ESXi post os"
##### SUMMARY
This is to bring you that every time, i execute the automated mode of install of ESXi,  always failure comes in

[code]

##### ISSUE TYPE
Regular bug always comes

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE
execute the local account creation playbook

##### EXPECTED RESULTS
without any errors, it

[2020-01-22 14:17] Akasurde commented on #66691
!component =lib/ansible/modules/cloud/vmware/vmware_local_user_manager.py

[2020-01-22 14:37] Akasurde commented on #63045
resolved_by_pr #66692

[2020-01-22 14:37] Akasurde commented on #63045
@Jon-Rausch, Could you please check PR #66692 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-01-22 14:43] lucc opened #66694 "Handler from dependency role only executed for one host"
##### SUMMARY
The handler from a dependency role is not executed for all hosts.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
handler

##### ANSIBLE VERSION
[code]
running from git checkout, `git describe` says `stable-2.9-branchpoint-1793-gec371eb227`.

##### CONFIGURATION
(no change/empty output)
##### OS / ENVIRONMENT
Arch Linux

##### STEPS TO REPRODUCE
- I have two roles that depend on

[2020-01-22 14:58] GomathiselviS commented on #66593
Hi @tknipper11 @kbreit Can you please share the output from virtual and the physical switch?

needs_info

[2020-01-22 15:09] nschende-mort commented on #63276
Hmm, not sure what happened there, lets try this: https://gist.github.com/nschende-mort/789a0dcff2cc5a5ab52bbe8f75fa5bbe

[2020-01-22 15:13] binaryplease commented on #63077
Any updates on this? I'm running into the same error, host and remote being linux Arch, with everything up-to-date.

[2020-01-22 15:29] ansiblejunky commented on #64365
Yup, totally agree.

[2020-01-22 15:33] wixaw commented on #64852
Hello @geerlingguy
I use your playbook and to adap; I use this :
[code]

[2020-01-22 16:04] Akasurde commented on #63276
@nschende-mort I don't see `TEMPLATE_2016` in your trimmed output. Can you check that as well?

[2020-01-22 16:05] nschende-mort commented on #63276
I looked through the entire output and we dont currently have a one called TEMPLATE_2016, I am pretty sure it got renamed to TEMPLATE_SERVER2016.  My colleague who was experiencing the issue was only getting it happening when inside of a tower workflow not running just the playbook, but then he also realized that he could do what he needed without using the customization and so he just started wor

[2020-01-22 16:09] Akasurde commented on #63276
Ok. So can you use tower workflow with `TEMPLATE_SERVER2016` and let me know if you are facing the same issue?

[2020-01-22 16:17] rockaut commented on #64278
@D3DeFi saw you mentioned you already has started the work on this? If not I would like to contribute it as we need this too.

[2020-01-22 16:27] jzielke84 commented on #66571
@Andersson007 Error present under 2.9.2. but gone in 2.9.4. Thank you!

[2020-01-22 16:33] andreaso commented on #66687
Not able to reproduce. For me the proxied toggle works as expected.

I assume that the `value` you are actually using is a regular public ip address, rather than _127.0.0.1_, an RFC1918 address or so?

[2020-01-22 16:44] ghost opened #66696 "Ansible on windows - pywinrm is not installed"
After Installing winrm packages on Control machine(Ubuntu 16) and windows servers (windows 2016).
The first run always throwing an error - "winrm or requests is not installed: No Module named winrm". Without changing anything next run is successful.

##### SUMMARY

##### ISSUE TYPE
Windows pywinrm isses

##### COMPONENT NAME
PYWINRM

##### ANSIBLE VERSION
ansible 2.8

##### STEPS TO REPRODUCE
crea

[2020-01-22 17:01] peewpw commented on #62126
I believe this is fixed by #63538

[2020-01-22 17:12] Bahu2016 commented on #66672
@lonico i found updated script https://github.com/ansible-collections/ansible_collections_netapp/blob/master/ansible_collections/netapp/ontap/plugins/modules/na_ontap_info.py

i have vserver cred but not cluster admin.

If you when it will available for all?

[2020-01-22 17:28] spankme commented on #66687
@andreaso You are correct, 127.0.0.1 was just an example. Is there any more information I could provide to help debugging this issue? Any chance you'd share your playbook where it works, so I could compare against mine? Have you checked in the Cloudflare web console that it actually changes the 'Proxied' switch - because it doesn't throw any errors for me, it's all executing well, but in effect th

[2020-01-22 17:37] craph opened #66698 "Bug Report: with_fileglob no skipping message when condition is not satisfied"
##### SUMMARY

No "skipping" message shown when the conditionnal test is true when using `with_fileglob` in task.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

component `copy` with `with_fileglob` in task

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7.7

##### STEPS TO REPRODUCE

Create a task like that.
And have a variable called `installati

[2020-01-22 18:36] peergynt commented on #56046
Is this issue different from https://github.com/ansible/ansible/issues/52323?

It sounds like both issues boil down to dependent roles (i.e. meta dependency) not being de-duplicated when using `include_role` or `import_role`.

[2020-01-22 18:37] webmozart commented on #66610
I'm encountering the same problem. Is there any suggested work-around?

[2020-01-22 18:41] rmanibus commented on #66610
Yes you can just get rid of vars (set the variable at the same level than the role)

[2020-01-22 19:05] justjais commented on #66518
@demakkar Thanks for providing the required info, and it seems like `sh memory statistics` output is not getting matched as expected and that's why the traceback error.

Can you please run `sh memory statistics` on your device where you're observing the failure and paste the output for analyzing the issue further

[2020-01-22 19:14] Andersson007 commented on #66571
@jzielke84 you and the community are always welcome!

[2020-01-22 19:15] Andersson007 commented on #66571
Could you please close the issue?

[2020-01-22 19:31] jzielke84 commented on #66571
@Andersson007 Sure

[2020-01-22 19:31] #66571 closed, assigned to nobody

[2020-01-22 19:41] Andersson007 commented on #66571
Thank you!

[2020-01-22 19:55] ironfroggy commented on #65440
@jborean93 Thank you for the correction, that was a mistake

`collection install` will check servers in order until it finds the matching collection version. This fallback behavior is a large the impetus for the idea that roles, likewise, should follow a similar behavior.

[2020-01-22 20:18] angystardust commented on #51108
@tremble is there any effort to bring this request on?

[2020-01-22 21:09] zendritic commented on #61228
XML is structured output. You can pipe to XML if you want. It's netconf.

[2020-01-22 21:37] utrumo commented on #11024
Good plugin. Why you didn't  make a pull request in this repository to this path: https://github.com/ansible/ansible/tree/devel/lib/ansible/modules/system?

[2020-01-22 22:01] ohenley commented on #46744
+1

[2020-01-22 22:58] evitalis commented on #54071
While I would like to see the newer implementation of bcrypt used I am withdrawing this PR. There appears to be a lack of interest from @jasperla or the Ansible team in getting the code up to modern defaults across the platforms, and I have other priorities at the moment.

[2020-01-22 22:58] #54071 closed, assigned to nobody

[2020-01-22 23:37] webmozart commented on #66610
@rmanibus OMG thank you so much!

[2020-01-22 23:39] webmozart commented on #66610
@rmanibus Is there a similar solution for `import_role` as well? I'm aware of `include_role`, but that will hide the handlers in the role from the outside world which is not what I want.

[2020-01-23 00:43] hnakamur commented on #66597
!component = lib/ansible/modules/cloud/lxd/lxd_container

[2020-01-23 04:18] LopezNathan commented on #57062
+1

Experiencing this same issue on CentminMod based environments, which creates a file `/etc/centminmod-release` and this is being utilized by Ansible.

Ansible OS Version Detected

[code]

Actual OS Version

[code]

[2020-01-23 04:25] D3DeFi commented on #64278
Sorry for leaving this without update for a  quite some time.

I almost have it finished, but lack some finishing touches. Let me open work in progress PR so you guys can help me test it if you are willing.

As of now, I am accessible only via mobile, but should be able to open the PR during the weekend.

[2020-01-23 04:26] relrod opened #66704 "In some cases, `ansible-test units --venv` continues despite being outside of a virtual environment"
##### SUMMARY

I am trying to set up an Ansible development environment and run the test suite out of the repo. When Python 2 and Python 3 are both avaiilable (for example, a Fedora 31 machine with default python and also the `python2` package installed), and Python 2 has no `virtualenv` module available, running `ansible-test units --venv -vvv` will proceed to try to `pip install` packages system

[2020-01-23 04:37] Akasurde commented on #66681
@nicolaibaralmueller Thanks for reporting this issue. Can you please provide steps to reproduce this issue? Thanks.

needs_info

[2020-01-23 05:20] lonico commented on #66672
You have 2 options

1. the easiest is to use cluster admin.   But you need to have the credentials.

1. the best is to start using collections.  They were introduced with Ansible 2.9, and they are enabling us to release on a much faster cadence.
There is also an overview at: https://netapp.io/2019/09/17/coming-together-nicely/

[2020-01-23 07:14] nicolaibaralmueller commented on #66681
Using module vmware_datastore_info with ansible 2.9.2 in awx 9.1.0.

[2020-01-23 07:22] anusha94 commented on #53693
@balonik

I have addressed the cosmetic changes in https://github.com/ansible/ansible/pull/66705
For the esxi cluster and DVSwitch config, will need a little more time to debug, will update that when ready.

Thanks!

[2020-01-23 07:49] gundalow commented on #59864
Once done
1) update docs in https://github.com/ansible/ansible/pull/66699/files
2) Consider copying the post into there retrospective Collections. Though we may need to keep the list in ansible/ansible for longer so older collections continue to function of this isn't done in 2.10

[2020-01-23 08:04] craph commented on #66698
component `copy` with `with_fileglob` in task

[2020-01-23 08:07] devongarde opened #66707 "vultr_server_info fails with "Could not find plans with VPSPLANID: 200""
Not found.

Apologies, I'm not in a position to do that now.

##### SUMMARY
vultr_server_info crashes for a server using a no-longer-available plan.
I have a vultr server purchased as special offer. That offer is no longer available (boo). It uses plan 200.
I suggest vultr_server_info should still return other server data when it cannot find information out about a plan.

##### ISSUE TYPE
- Bug Re

[2020-01-23 08:08] heuels commented on #66655
Ah, OK. You didn't include them in your playbook and I thought it may be an easy fix :)

How are those 15 devices different from the rest? Maybe OS version differs or their identity contains some special characters?

[2020-01-23 08:10] mickael-ange opened #66708 "ec2.py dynamic inventory does not honor boto profile configure in ec2.ini but use default boto profile for RDS instances"
##### SUMMARY
ec2.py dynamic inventory does not seem to honor boto profile configured in `ec2.ini` but uses the default boto profile for RDS instances.

The issue only affects RDS instances AFAIK.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
contrib/inventory/ec2.py

##### ANSIBLE VERSION
Ansible 2.9.2
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Controller/target OS
[code]

[2020-01-23 08:24] Syntax3rror404 opened #66710 "Include_Inventory modul"
##### SUMMARY
A way, to include a dynamic inventory file to a static inventory.

##### ISSUE TYPE
Feature request

##### COMPONENT NAME
include_inventory

##### ADDITIONAL INFORMATION
-The command `include_inventory: /your/path/inventory_dynamic.yml` inside the inventory_static.yml includes the stuff from the inventory_dynamic to the inventory_static.

With this solution you can switch the dynamic

[2020-01-23 08:25] mickael-ange commented on #66708
!component=contrib/inventory/ec2.py

[2020-01-23 08:48] Akasurde commented on #55653
resolved_by_pr #66706

[2020-01-23 08:48] Akasurde commented on #55653
@goneri, Could you please check PR #66706 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2020-01-23 09:34] janrv opened #66712 "F5 module bigip_command not able to run bash commands?"
##### SUMMARY

Hello

component name: bigip_command

I am implementing the following module in my playbook:

https://docs.ansible.com/ansible/latest/modules/bigip_command_module.html

task:
[code]
In order to find a certificate on the LTM I need to send some bash commands, however this module doesn't seem to support bash commands although the title says it does?

Running the above task and debuggi

[2020-01-23 10:22] felixfontein commented on #66712
!component =lib/ansible/modules/network/f5/bigip_command.py

[2020-01-23 10:39] #48353 closed, assigned to nobody

[2020-01-23 11:22] nicholasrodriguez opened #66713 "Module vmware_vcenter_settings bug and functionality"
##### SUMMARY
This module still dosen't function correctly if runtime_settings isn't specified but has potential for misconfiguration in general.

For runtime_settings there is no default dict defined in argument_spec.update(...) in main() so if the runtime_settings key isn't defined then the module fails with the error in ACTUAL RESULTS section.

In the documentation these keys aren't specified a

[2020-01-23 11:32] jeffrey-e commented on #59732
Same issue here. Does anyone know a proper workaround?

[2020-01-23 11:48] lorenzomorandini opened #66714 "Playbook using multiple times the same role does not respect roles defaults."
##### SUMMARY
Playbook using multiple times the same role does not respect roles defaults.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04 LTS

##### STEPS TO REPRODUCE
Run the following example playbook/role
[code]

##### EXPECTED RESULTS
Playbook should run the role 3 times with

[2020-01-23 12:13] tremble commented on #51108
@angystardust : Nothing concerted that I'm aware of at this time.

I know that @jillr would like to properly track such things (and potentially catch the lack of them in sanity tests)...

[2020-01-23 12:18] anryko opened #66716 "ec2_asg: Add MaxInstanceLifetime support"
##### SUMMARY

Add support for `MaxInstanceLifetime` option to AWS ec2_asg module.
AWS feature introduction link: https://aws.amazon.com/about-aws/whats-new/2019/11/amazon-ec2-auto-scaling-supports-max-instance-lifetime/

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ec2_asg

##### ADDITIONAL INFORMATION

Usage example:

[code]

[2020-01-23 12:19] RajpootNeha commented on #66696
Hello,

You can follow [winrm](https://www.ansible.com/blog/connecting-to-a-windows-host).

[2020-01-23 12:20] jklaiho commented on #48890
Ran into this today. As a workaround, I created a `library` folder under the role I was using, added an `__init__.py` file there and then copied the `rabbitmq_user.py` source code into a file there, calling it `rabbitmq_user_new.py`. Changed all the references from `rabbitmq_user` to `rabbitmq_user_new` in there, added the `--no-table-headers` command as per the PR, changed my task to use that nam

[2020-01-23 12:46] jtessier72 commented on #66684
Change works for me. Thanks.

[2020-01-23 13:22] #66417 closed, assigned to nobody

[2020-01-23 13:22] #66466 closed, assigned to nobody

[2020-01-23 13:26] nkromano opened #66718 "supervisorctl state=restarted affects all services"
##### SUMMARY
When I use:
[code]
Module execute command
[code]
without specified service name. It makes updates of all modified services.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[code]
##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE
Create two services:
[code]
[code]
Change both unit services.
Execute module:
[code]

##### EXPECTED RESULTS
Module updates only test1 service.

[c

[2020-01-23 13:31] valerytschopp commented on #66525
Moved to https://storyboard.openstack.org/#!/story/2007184

[2020-01-23 13:41] rockaut opened #66720 "Linked Templates not updated with xml/json templates"
##### SUMMARY
If you import a template with a xml/json file the linked templates of a templates ( so the child templates not the root ones ) aren't processed if you want to remove linked templates.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_templates

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Zabbix 4.4.4 on RHEL7

##### STEPS TO REPRODUCE
Export a template (no matter i

[2020-01-23 13:42] mnecas opened #66721 "Filter does not fail when is missing"
##### SUMMARY

Hi,
I noticed that the ansible filter does not fail when you use it like this `test.test.list` even that the filter does not exist.
Im not sure if its by design or if its an issue.
Mainly it could be issue when creating collections and mistype the name.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

filter
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

CentOS Linux re

[2020-01-23 13:44] rockaut commented on #66720
Also:
- fisma with linked fismb, fismc
if you want to remove only fismb it doesn't change.

[2020-01-23 13:44] kbreit commented on #66593
@Qalthos Here is the output for the show command.

`e7csco0nxos01# show environment fan | json
{"fandetails": {"TABLE_fan_zone_speed": {"ROW_fan_zone_speed": {"zone": "1", "zonespeed": "0x0"}}, "fan_filter_status": "NotSupported"}}`

[2020-01-23 13:49] rockaut commented on #66720
Actually I can't really wrap my head around that propblem. Maybe @sky-joker @D3DeFi can comment on it.

As i see it, the linked templates are read out in the ``check_template_changed`` function but at nowhere other. Also there are variables like link_template_ids mentioned often in code but they aren't the linked templates/child templates but the template id under the root templates nodes.

[2020-01-23 14:10] mnecas opened #66722 "async_status fails in collection role powershell issue"
##### SUMMARY

Hi,
on my machine I got Centos and when I try to run playbook with collection role in which have `async_status` it fails, because it tries to use `/bin/sh: powershell: command not found`.
Outside of the collection it works without problem.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

async_status
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.

[2020-01-23 14:17] mnecas opened #66723 "async_status fails in collection role does not have job_result.finished"
Hi,
same as  #66722
only diffrence is the role tasks.

##### SUMMARY

async_status fails in collection role does not have job_result.finished
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

async_status
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.7.1908 (Core)

##### STEPS TO REPRODUCE

same steps as in  #66722

[code]

##### EXPECTED RESULTS

##### ACTUAL RE

[2020-01-23 14:42] zwindler commented on #66421
A similar issue is opened for more than a year now #48890 ; There even is a a PR to fix this but it was never merged...

I ended up rewriting my own rabbitmq_user module (using the API, which is much more fast by the way)

[2020-01-23 14:50] rockaut commented on #66720
I opened a Zabbix issue too ( https://support.zabbix.com/browse/ZBX-17215 ) - I think this might be a issue for the Zabbix team as the API should work consistently here. That said I'm not shure if it shouldn't be covered in the Ansible module too somehow. At least it should be mentioned in the docs?

[2020-01-23 14:51] bcoca commented on #44374
Since the original issue seems to have been worked around and now the request is really for an AWX/tower feature, I'm going to close this ticket.

For Ansible Tower support or questions, please utilize https://access.redhat.com/products/ansible-tower-red-hat

For the OSS version (AWX) https://github.com/ansible/awx

This issue tracker is for the open source Ansible CLI tools project.

[2020-01-23 14:51] #44374 closed, assigned to nobody

[2020-01-23 14:55] samdoran commented on #44374
I agree that strictly controlling versions of roles per environment is crucial. An approach I've taken in the past is to use separate branches per environment in the project repository.

For example, the `prod` branch would contain the `requirements.yml` file with the appropriate role versions for that environment. This has the added benefit of changes to role versions going through a review proce

[2020-01-23 15:00] johnbui423 opened #66724 "win_command: "CreateProcessW() failed (%1 is not a valid Win32 application, Win32ErrorCode 193)"
#### SUMMARY

All `win_shell` tasks, and many win_command' tasks, fail with following error when executed against a certain Windows Server 2012 R2:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

NA

##### OS / ENVIRONMENT

Target: Windows Server 2012 R2

##### STEPS TO REPRODUCE

Running any `win_shell` task fails with

[2020-01-23 15:00] resmo opened #66725 "ansible galaxy install exception on empty requirements.yml"
##### SUMMARY
exception `ERROR! Unexpected Exception, this is probably a bug: 'NoneType' object has no attribute 'keys'` if requirements.yml is empty

2.8.x works as expected.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]
run
[code]

##### EXPECTED RESULTS

ansible 2.

[2020-01-23 15:32] colans commented on #56046
@peergynt It's the same issue, but as they locked the thread, there's no way for us to communicate to those users that they should move over here.  Normally, I would have added a link from there to here, and mentioning it here would add a link, but not when it's locked, it seems (as you tried that already).

[2020-01-23 15:37] derkoe opened #66727 "azure_rm_resourcegroup_facts does not work with ansible 2.9.x"
##### SUMMARY
azure_rm_resourcegroup_facts does not work with ansible 2.9.x (2.8 works)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure / azure_rm_resourcegroup_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

WSL with Ubuntu 18.04.3

##### STEPS TO REPRODUCE
Just add `azure_rm_resourcegroup_facts` to your playbook and it will fail.

[code]

###

[2020-01-23 15:48] gforster opened #66728 "add_host skipping added hosts in subsequent play"
##### SUMMARY

using `add_host` during provisioning of servers. Verified that new hosts are added to correct group. In the next play, which utilizes only the new group just added, getting "skipping: no hosts matched"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

add_host
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL7

##### STEPS TO REPRODUCE

[cod

[2020-01-23 15:49] #55211 closed, assigned to justjais

[2020-01-23 15:51] kbreit opened #66730 "ios_interfaces doesn't issue description with overridden state"
##### SUMMARY
I have a task executed using `ios_interfaces` where it should override the old description with a new description for an interface. The invocation shows a description associated but the commands aren't issued properly. It removes the description but doesn't re-add.

CC @tknipper11

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_interfaces

##### ANSIBLE VERSION

[code]

###

[2020-01-23 15:56] zwindler opened #66731 "Regression in rabbitmq_policy (ansible 2.9.4+) with RabbitMQ 3.8.0"
##### SUMMARY

New code has been added to fix a bug in may 2019 in ansible 2.9.4 (issue #29264 ). Sadly, this also introduced another bug that make the plugin fail when using RabbitMQ 3.8+

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
rabbitmq_policy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No modification whatsoever (empty output)

[code]

##### OS / ENVIRONMENT
RabbitMQ clusters

[2020-01-23 15:59] cveto opened #66732 "becoming a sudo user can not read files created by root with permission 600."
##### SUMMARY

Trying to play a playbook which:
1. Connects to a target CentOS7 as a _**non-sudo-user**_,
2. Become a sudo-user using the _**become_user: sudo_user**_ and _**become_method: su**_
3. Read a file owned by root with privileges 600 with elevated privileges using _**become: yes**_

The way SSH connection is made withouth SSH keys, only with passwords.
Using:
- ansible_ssh_user=non-sudo-

[2020-01-23 17:07] mrmurphy commented on #54174
I ran into this today as well.

[2020-01-23 17:20] andreaso commented on #66687
Here is the playbook for this issue. The only modification I've done to the paste is to mask the account email and the account token.

[code]

Yes, I've verified the the proxied status both using the web console and by doing an actual DNS lookup.

I'll get back to you with follow-up questions once I've spent a bit more time looking at the issue.

[2020-01-23 17:22] ShachafGoldstein commented on #66724
Can you please post the output of the Environment variable for the user running the playbook on the host?

[2020-01-23 17:22] andreaso commented on #66687
Actually, what might be useful would be the verbose response of `ansible-playbook -vvv`.

[2020-01-23 17:33] ShachafGoldstein commented on #66602
What is the content of the file before running?
I might be missing something but I don't see any diff between 9.2 and 9.3...

[2020-01-23 17:40] nitzmahone commented on #66635
There's not currently a switch to enable flatmapping- it's hardcoded only for the synthetic collection from 2.8 (`ansible.builtin`). There will be a bunch of new collection metadata going in that will be consumed by core to enable tombstoning/redirection/deprecation/etc, so adding a switch there to enable module flatmapping for a given collection shouldn't be too difficult.

[2020-01-23 17:43] spankme commented on #66687
@andreaso I've tested your playbook on one of my zones and it does indeed works. Then again, when I use mine, it fails. Would it matter for it to work that I am passing a single `cloudflare_dns` call with a list of maps?
[code]

[2020-01-23 17:50] ShachafGoldstein commented on #66066
Since it is not a native flag of `Add-Computer` I would suggest using the win_domain_computer module

https://docs.ansible.com/ansible/latest/modules/win_domain_computer_module.html#win-domain-computer-module

[2020-01-23 17:52] ShachafGoldstein commented on #65804
I never managed to recreate this one, is it still happening on the server?

[2020-01-23 17:58] Bahu2016 commented on #66672
@lonico Thanks for the information.
Installed collections and it is having below roles

Process install dependency map
Starting collection install process
Installing 'netapp.ontap:20.1.0' to '/usr/share/ansible/collections/ansible_collections/netapp/ontap'

But vserver parameter not supported

FAILED! => {"ansible_facts": {"discovered_interpreter_python": "/usr/bin/python"}, "changed": false, "msg

[2020-01-23 19:08] bcoca commented on #66413
Can you please show the commands you use to verify package state and how it indicates it is changed?

needs_info

[2020-01-23 19:08] #60497 closed, assigned to nobody

[2020-01-23 19:14] samdoran commented on #66414
This should work. Can you provide the output with `-vvvv`?

needs_info

[2020-01-23 19:16] samdoran commented on #66424
If package-manager specific features are needed, then use that module directly rather than `package`. The `package` module can only implement options that are supported by _all_ underlying package modules, which is a very small set.

[2020-01-23 19:16] #66424 closed, assigned to nobody

[2020-01-23 19:22] samdoran commented on #66469
Can you provide output with `-vvvv` so we can see connection debugging information?

needs_info

[2020-01-23 19:30] samdoran commented on #66497
This does appear to be not working correctly, but fixing it will be non-trivial.

A workaround could be to specify `defaults_from` for each role invocation.

[2020-01-23 19:34] bcoca commented on #66528
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-01-23 19:34] #66528 closed, assigned to nobody

[2020-01-23 19:39] samdoran commented on #66529
This is working as intended. Here is further documentation on the relationship between loops and conditionals:

https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html#retrying-a-task-until-a-condition-is-met
https://docs.ansible.com/ansible/latest/user_guide/playbooks_conditionals.html#loops-and-conditionals

To discuss this further, please reach out on IRC or the mailing list:

 

[2020-01-23 19:40] cultcom commented on #63045
This looks a lot better now.

[2020-01-23 19:42] SalimGangji opened #66736 "Ambiguous use of the term "dependent""
##### SUMMARY

In the "Creating Reusable Playbooks >> Roles" section of the user guide, the documentation uses the term "dependent" to refer to the role that is depended on by another role and uses the term "parent" to refer to the role which has dependencies on other roles.

I believe the word "dependent" usually refers to an object that depends on another object

I propose that the use of the te

[2020-01-23 19:45] samdoran commented on #66535
This is most likely an issue with the ssh settings of the VM Ansible is trying to connect to.

For help with this issue, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-01-23 19:45] #66535 closed, assigned to nobody

[2020-01-23 19:54] PhilRau opened #66737 "Ansible Facts missing from hostvars dictionary with Ansible 2.7.10-1.el7 and Python 3.8.1"
##### SUMMARY

I have tried accessing ansible_facts[‘pkg_mgr’] with  on both Ansible 2.7.10-1.el7 and 2.8.5-1.e17 with both Python versions 3.7.6 and 3.8.1.  In all cases except Ansible 2.7.10-1.el7 with Python 3.8.1, I get 340 properties back.  With Ansible 2.7.10-1.el7 with Python 3.8.1, I only get 330 properties back.  In this case, the following properties are missing:
[code]

##### ISSUE TYPE

[2020-01-23 19:56] samdoran commented on #66553
Variables defined at the play level, such as `vars` on an `include_roles` task, became part of the variables in the play scope. It is not scoped to just a particular task. So the variable is being overwritten and the last one set wins.

What you are seeing is expected behavior, though it can be sometimes undesirable.

In order to "pass variables" between roles, the variable name has to have a glob

[2020-01-23 19:56] #66553 closed, assigned to nobody

[2020-01-23 19:57] rgroten commented on #18391
This issue is also affecting us on HP-UX

[2020-01-23 20:01] lassizci commented on #66421
closing as a duplicate to https://github.com/ansible/ansible/issues/48890

[2020-01-23 20:01] #66421 closed, assigned to nobody

[2020-01-23 20:02] jborean93 commented on #66724
Part of executing a command we need to get the absolute path to the executable which involves looking up paths in the `PATH` env var. If `powershell` is unable to be found in `PATH` or something else takes priority over it then it could cause an error like this. Are you able to run the following code and return what is outputted back here

[code]

This should be run as the `ansible` user you are u

[2020-01-23 20:04] #65001 closed, assigned to nobody

[2020-01-23 20:06] #66725 closed, assigned to nobody

[2020-01-23 20:48] kjw3 opened #66740 "Starting in 2.9 service module no longer accepts wildcards"
##### SUMMARY
As the subject states, starting in 2.9, the ability to feed wildcard names to the service module is no longer accepted. Wildcard names is a feature of systemctl and is very useful for service lists that start with a consistent prefix but may have many different service names that could change between releases.

Example:
systemctl restart openstack-*

##### ISSUE TYPE
- Bug Report

##

[2020-01-23 20:54] kjw3 commented on #66740
Example failure below

[code]

[2020-01-23 20:55] billdodd commented on #65889
@xmadsen Any update on this issue? I still can't reproduce and haven't seen any other reports of this problem. My questions from the comment above:

[2020-01-23 20:56] kjw3 commented on #66740
Example success in previous versions

[code]

[2020-01-23 21:20] mattclay commented on #66669
Our quota has been increased to 10,000.

[2020-01-23 22:47] dglinder commented on #58307
It's been quite a few months - any thoughts on this PR being accepted?

[2020-01-23 23:10] blackwood821 commented on #66553
What exactly are you saying is overwriting a variable? I don't see that happening in my sample YAML files.

`role1` is the only thing that sets the value of the `role2_path` variable to the value of the `filepath` variable which is `/tmp/foo.out`. When `role1` calls `role2` with that variable are you saying that the variable gets set at the play level? If that's the case then wouldn't that play sc

[2020-01-23 23:12] blackwood821 commented on #66553
Since `role1` is what defined the variable `role2_path` does that mean the variable is not set in the play level so it's expected to no longer be available after `role1` has been called? I would expect any variables set by a role to still be available when the role handlers run at the end of the play.

Very

[2020-01-23 23:43] nschende-mort commented on #63276
I am working with my colleague who had this issue to re-produce again.  we will have to re-create the workflow to do so so it might take a bit.

[2020-01-24 00:02] #39201 closed, assigned to samccann

[2020-01-24 03:46] kbreit commented on #63309
I'm seeing this under Ansible 2.9.4.

[2020-01-24 05:01] ensignavenger opened #66744 "hashi_vault unhandled exception when secret doesn't exist"
##### SUMMARY

When trying to retrieve a secret that doesn't exist, the latest hashi_vault lookup plugin code throws an unhandled exception

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
 hashi_vault lookup plugin

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

try to lookup a secret that doesn't exist with the latest devel branch plugin code

##### ACTUAL RESULTS

This commit: htt

[2020-01-24 05:04] Akasurde commented on #66720
!component =lib/ansible/modules/monitoring/zabbix/zabbix_template.py

[2020-01-24 07:02] lonico commented on #66672
@Bahu2016 You don't need the vserver parameter.  ONTAP will implicitly know you are acting as vserver because the hostname is pointing to a vserver LIF.
Also, you need to use `gather_subset: vserver_info` to limit the query to something that is supported at the vserver level.

I'm only using `vserver_info` only as an example, you can use other subsets as long they are visible at the vserver level.

[2020-01-24 07:56] rockaut commented on #66720
Tested with Zabbix 4.4.4 against the new options metioned in Zabbix Issue. Works now as expected.

Added PR for new API update rule.

[2020-01-24 08:16] asarubbo opened #66748 "layman module does not work"
##### SUMMARY

The layman module does not work
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

layman
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Gentoo x86_64

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Install the overlay

##### ACTUAL RESULTS

[code]

[2020-01-24 08:20] asarubbo opened #66749 "layman: improve list_url"
##### SUMMARY

The layman module documentation should mention more about list_url

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

layman
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Gentoo x86_64
##### ADDITIONAL INFORMATION

The modules states: "Uses Layman to manage an additional repositories for the Portage package manager on Gentoo Linux"

[2020-01-24 08:50] jirib opened #66751 "fileglob ignores files"
##### SUMMARY

fileglob lookup ignores files, in my scenario it is a backup file (`dnsmasq.conf.20787.2020-01-22@10:12:43~`) in following list:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
fileglob lookup plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]
[code]
[code]

##### EXPECTED RESULTS

fileglo

[2020-01-24 09:18] relrod opened #66753 "Podman support for `ansible-test --docker`"
##### SUMMARY

First off, I realize that using Podman for `ansible-test` likely isn't actually supported right now. This is an attempt to get it to work despite that. I'm trying to get `ansible-test` to work against the Ansible repository when I use `podman-docker` (i.e. using Podman instead of Docker).

This bug documents the progress I've made and where I got stuck. I am more than happy to provi

[2020-01-24 09:22] justjais opened #66754 "IOS interfaces resource module config is empty with override operation"
##### SUMMARY

IOS interfaces resource module config is empty with override operation

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ios_interfaces

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

mac os

##### STEPS TO REPRODUCE

Fire override operation with Play:

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
`"config": []` is com

[2020-01-24 09:39] johnbui423 commented on #66724
I ran that powershell code in three ways:

On the host itself:

[code]

From the ansible controller, using `script` and `win_shell`, using following playbook:

[code]

Results:

[code]

[2020-01-24 09:48] justjais commented on #66730
@kbreit Thanks for raising the issue, I see you're using Ansible 2.9.0 and there was bug raised against the same and fix was merged in `devel` and was backported to `stable-2.9` and the changes are available from `2.9.1`.

Also, while triaging the issue I came across with the issue #66754, have raised a PR #66755 to fix the issue and once merged shall create a backport to `stable-2.9`.

[2020-01-24 09:48] #66730 closed, assigned to justjais

[2020-01-24 09:57] jborean93 commented on #66724
So the results when running it manually are what I expect but looks like it’s failing to find PowerShell.exe when running through Ansible.

Can you run `- raw: C:\Windows\System32\cmd.exe /c set` to see what the env vars are like when it’s run through WinRM?

[2020-01-24 09:58] johnbui423 commented on #66724
What would be the best way to print ou the environment variable?

I tried following test book:

[code]

Results:

[code]

[2020-01-24 10:00] johnbui423 commented on #66724
Result of that raw command suggested:

[code]

[2020-01-24 10:05] ajsiersema commented on #55211
@justjais : thanks !

[2020-01-24 10:09] #64590 closed, assigned to nobody

[2020-01-24 10:14] tapionx commented on #30130
this feature would be useful :+1:

[2020-01-24 10:19] jborean93 commented on #66724
That’s very weird, there’s nothing that’s really jumping out at me. Can you try running that script through a raw command like `- raw: C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe -NoProfile c:\users\ansible\Desktop\test.ps1`

The fact that there was no output when you ran it with script is a worrying sign.

[2020-01-24 10:30] jborean93 commented on #66724
Finally here is one definitive way of using the exact same code that determines the full path that `win_command/win_shell` uses by running this custom module

[code]

[2020-01-24 10:31] pnunn opened #66756 "Playbook broken after apt upgrade"
##### SUMMARY
A simple playbook that does apt updates was working fine until the latest ubuntu 19.10 upgrade, its now broken.

##### ISSUE TYPE
Play book reports a bug.

##### COMPONENT NAME
apt upgrade module.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows WSL... running ubuntu machine.

##### STEPS TO REPRODUCE

 ansible-playbook -vvv -i inventory/hos

[2020-01-24 10:50] johnbui423 commented on #66724
Result of `- raw: C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe -NoProfile -File c:\users\ansible\Desktop\test.ps1`:

[code]

Will share the results of the custom module shortly.

[2020-01-24 10:52] johnbui423 commented on #66724
Result of that custom module:

[code]

[2020-01-24 11:02] johnbui423 commented on #66724
So that indeed provides the answer. Apparently this machine has `C:\powershell.exe`, which seems to behave incorrectly. Removing that instance seems to solve the issue. Let me do some additional tests to confirm, and then close this issue.

Thanks a lot for the prompt help!

[2020-01-24 11:05] jborean93 commented on #66724
That would do it, it sounds like `C:\powershell.exe` is not even a valid Win32 binary. In any case it sounds like we've found the problem and I will close the issue.

[2020-01-24 11:05] #66724 closed, assigned to nobody

[2020-01-24 11:13] justjais commented on #55211
@ajsiersema Thanks for your contribution, PR is merged in `devel` and have created a backport for the fix to `stable-2.9` (ref: #66757)

[2020-01-24 11:17] Andersson007 commented on #65525
the line 262 where the problem is was added initially by https://github.com/ansible/ansible/pull/19872
@bmildren , as a module's author, could you please take a look?

[2020-01-24 11:17] ashutoshc1234 opened #66758 "Bug related to IOS download on the cisco WLC"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

---
- name: run show sysinfo on remote devices
  aireos_command:
    commands:
      - command: "transfer download datatype ap-image"
      - command: "transfer download ap-images mode tftp"
      - command: "transfer download ap-images serverIp x.x.x.x"
      - command: "transfer download ap-images

[2020-01-24 11:28] justjais commented on #66678
@hryamzik Below are ref interface for nxos:
[code]
same for eos:
[code]
And in such cases, if the user tries to pass uppercase IPV6 address in the play,
it'll always `changed` as `True`.

[2020-01-24 11:48] Andersson007 commented on #57704
Probably it is because of the following code.
@Jmainguy , as an author of the code, could you please explain why the "PROXY" word is presented there?
[code]
@bmalynovytch any ideas where it is safe way just to remove ```PROXY``` from there?

[2020-01-24 11:58] packetfairy commented on #20493
Here's a workaround for this _three year old bug_ that I finally found after two solid days of aggravation. It can probably use some cleanup... and I _might_ have screwed things up while I sanitized it for this post, but hopefully it will at least be a good starting place for someone.

Important details which make this work:
- a dependent role's handlers can be triggered by the enclosing role
- ha

[2020-01-24 12:59] Akasurde commented on #66684
PR #66715 merged. Closing this issue.

[2020-01-24 12:59] #66684 closed, assigned to nobody

[2020-01-24 13:16] Akasurde commented on #41425
resolved_by_pr https://github.com/ansible/ansible/pull/66745

[2020-01-24 14:13] taisph commented on #34144
This is what I ended up with.

[code]

[2020-01-24 14:29] samdoran commented on #66529
Reopening this after talking to @mkrizek since the conversation in this issue brought to light that we should do better error reporting on what is failing and why. Even though it is documented, better error reporting would be a lot more helpful in day to day use.

[2020-01-24 14:48] vrevelas opened #66764 ""Could not match supplied host pattern" warning printed for non-empty group before any plays"
##### SUMMARY
`[WARNING]: Could not match supplied host pattern, ignoring: <group_name>` is printed prior to the first play for a non-empty group when using a combination of group_by and import_role/import_tasks/include_tasks. Using include_role however works correctly (no warning is displayed).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION

[code]

#

[2020-01-24 14:55] mjrepo2 opened #66765 "postgresql_db restore won't restore - Too Many Arguments"
##### SUMMARY

postgresql_db module cannot restore a 100kb database
"msg": "[Errno 7] Argument list too long: '/bin/sh'",
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

postgresql_db module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

   Virtualization: vmware
   Operating System: Ubuntu 18.04.3 LTS
   Kernel: Linux 4.15.0-70-generic
   Architecture: x

[2020-01-24 15:10] ashutoshc1234 commented on #66758
The ansible version is ansible 2.5.3. I am writing a role for automatic upgrade of WLC Cisco ACCESS POINT.
aireos_command_module is what i am using right now.

I had been using the command prompt and answer feature however suddenly one command has two prompts one after another and that is where we got stuck since ansible is not taking two prompt and answers for one command.

[2020-01-24 15:11] deronnax commented on #64130
Hello. I would like to fix that one. I propose to introduce a `no_strip` option, and display a warning for deprecation that the behaviour of not providing the `strip` option will change. But how can I check that the user did not provide strip ? If I'm not mistaking, the module will always see `strip=0` since that's the default option

[2020-01-24 15:31] alfred-sa opened #66766 "Cannot add member to an aggregate interface on Fortios"
##### SUMMARY
I don't manager to add member to an LACP interface on fortios

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
fortios_system_interface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

On fortigate FG34E1-6.0.6-FW-build0272-190716

##### STEPS TO REPRODUCE

Here is a task that create a LACP interface on the fortigate and enslave the ports 3 and

[2020-01-24 15:50] whuji commented on #66766
@mamunozgonzalez I tag you on this as the author (and from Fortinet). Thanks !

[2020-01-24 15:55] LeDOC666 opened #66767 "Groups in vmware_vm_inventory plugin don't work"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_vm_inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7.5

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Create a group name cluster_dmz with all host from that inventory in.

##### ACTUAL RESULTS

[code]

[2020-01-24 16:24] stockiller commented on #42090
I also had the same issue.
The archive module doesn't support symbolic links and I'm forced to use the module command and make a tar with it.
Is there any plans on patching this issue?

[2020-01-24 16:52] chirogocki commented on #65678
@s-hertel
My understanding is that `constructed` changes var from gathered fact. In `vmware_vm_inventory` case, facts are not yet gathered.
I tried to do `ansible_host: guest.hostName` after using `vmware_vm_inventory` in the same AWX inventory but each time I have :

Even if inventory source `vmware_vm_inventory` have already populate `ansible_host` and `guest.hostName` variables
Am I missing som

[2020-01-24 17:03] rogozind commented on #39232
Looks like InstanceInterruptionBehavior has been added to Boto. Can this feature be escalated now please?

[2020-01-24 17:20] jirihnidek commented on #66478
When quantity is not specified, then default value 1 is used: https://github.com/ansible/ansible/blob/1152774f923e441ec2e71c380cdb78e7f44f94ea/lib/ansible/modules/packaging/os/redhat_subscription.py#L842

This works in most cases, but not in case described in this issue. When special type of product is used, then it is required to attach at least quantity e.g. 2 on physical server. When no quantit

[2020-01-24 18:32] #60567 closed, assigned to nobody

[2020-01-24 19:13] dmp1ce opened #66770 "mysql_db when using Python3 cannot read mariadb config"
##### SUMMARY
mysql_db, when using Python3, returns errors when setting a mariadb my.cnf for the config.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_db

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No config changes

##### OS / ENVIRONMENT
Arch Linux host to Ubuntu 16.04 target system running mariadb

##### STEPS TO REPRODUCE

On a system using the Python3 interpreter and mari

[2020-01-24 19:28] mariolenz commented on #55653
According to the documentation, vmware_guest_info returns `poweredOff`. Maybe this should be changed, too, for the sake of consistency.

[2020-01-24 20:59] JieX19 commented on #66077
Hi @hasegawa-csi,

Thanks for your question! It's a mistake in the document, we will correct it soon.

Thanks,
Jie

[2020-01-24 20:59] sivel commented on #66756
Ansible 2.5 is no longer supported.  However in newer versions this error is caught and you would instead see the following message:

As indicated by that error, you are running from a machine that likely does not have `/dev/shm`.

This is a dependency of python multiprocessing, and by extension is a dependency of Ansible.

If you have further questions please stop by IRC or the mailing list:

[2020-01-24 20:59] #66756 closed, assigned to nobody

[2020-01-25 00:43] stclark-incomm commented on #65525
I have this issue as well, it appears to be the fetchone() queries are returning tuples instead of dicts.  I can work around it by changing the return commands to be check_count[0].  I'm having the issue with proxysql_global_variables.py, but I suspect it's all related.

[2020-01-25 02:30] westurner opened #66775 "DOC: ansible-doc usage examples, link to docs, pygmentize -l yaml"
##### SUMMARY
The help docs printed with ``ansible-doc -h`` could be more helpful. IDK how to add docs to this thing:

- [ ] Add ansible-doc usage examples in the ansible-doc help string

[code]
- [ ] Link to the ansible-doc docs in the help string
  https://docs.ansible.com/ansible/latest/cli/ansible-doc.html
  `https://docs.ansible.com/ansible/{version|rstrip?}/cli/ansible-doc.html`

- [ ] Add t

[2020-01-25 03:35] #66504 closed, assigned to nobody

[2020-01-25 06:01] #66031 closed, assigned to nobody

[2020-01-25 06:27] Andersson007 commented on #66765
What Ansible version do you use?

[2020-01-25 06:33] davidism commented on #66163
We're no longer planning to rename the package or imports, they will remain `jinja2`. In the end, it would have caused more work in the community than the change was worth. The next version will be Jinja2 2.11, followed by Jinja2 3.0. Thanks for your help testing it out though!

[2020-01-25 06:57] Andersson007 commented on #66765
And could you please run your playbook with -vvv argument and put the output here

[2020-01-25 07:11] D3DeFi commented on #66720
Thanks @rockaut for such a deep analysis of the problem. The thing with importing multiple templates at once is only supported thanks to `configuration.import` from Zabbix API as you've already found out. The module itself is not very well suited to detect changes on more than one template, that's why I always try to talk about importing multiple templates via XML/JSON files as an experimental fea

[2020-01-25 07:46] D3DeFi commented on #66174
Hi @richlv . I've proposed implementation for this feature in #66777 . Can you test it in your environment please and see if it works for you?

[2020-01-25 07:46] D3DeFi commented on #64278
Hi guys, I've proposed implementation for this feature in #66777 . Can you test it in your environments please and see if it works for you?

[2020-01-25 08:37] tremble commented on #51122
resolved_by_pr #66603

[2020-01-25 08:45] #51122 closed, assigned to nobody

[2020-01-25 10:16] da-edra commented on #18917
I was able to get this working by first disabling the password for the user I'm creating and then expiring it:

[code]

[2020-01-25 12:27] alistairmackenzie commented on #66707
The issue seems to stem from [`lib/ansible/module_utils/vultr.py#L219`](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/vultr.py#L219) which requests [`https://api.vultr.com/v1/plans/list`](https://api.vultr.com/v1/plans/list).

It appears Vultr no longer gives the information for discontinued plans on the API even though they are still in use which triggers [`lib/ansible/mo

[2020-01-25 13:18] rockaut commented on #66720
Oh I totally get why it is how it is and I also think it's better than actually parse the xml/json as it would be way to error-prone. That's why I thought it should be handled in Zabbix API ... and now it's already present :D

That said ... I still think it should somehow be mentioned in the readme for the ansible module somehow. Booth things actually, the configuration.import and the multi-object

[2020-01-25 13:21] rockaut commented on #64278
Thank you @D3DeFi . I will have time to test that on monday against 4.4.4 - will give you an update than.

[2020-01-25 13:37] alistairmackenzie commented on #66707
As a quick fix, you can add the following to [`lib/ansible/module_utils/vultr.py`](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/vultr.py) before line 250.

`        if resource == 'plans' and key == 'VPSPLANID':
            return {}`

I'm not sure how viable this would be long term if it were to be committed to production.

[2020-01-25 14:30] inizovtsev commented on #66676
Faced with the same issue recently.

There is another issue with that. The docstring inside `BaseInventoryPlugin.verify_file` is misleading, it says "a string that was passed as an inventory source" but in general this is not true because the inventory string has been modified.

[code]

[2020-01-25 15:47] shubhamranjan12 commented on #66764
The warning message is informative.. stating that "test_localhost" isn't there in the inventory.

[2020-01-25 16:43] WesWWagner opened #66781 "module ecs_task assign_public_ip appears to be non-functional"
##### SUMMARY

During invocation by ecs_task of a task properly defined and successfully executed ecs_taskdefinition the ecs_task does not generate a public ip

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ecs_task

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I would expect an ecs_task to be g

[2020-01-25 17:36] dominikheinz opened #66782 "Ansible installation fails in php docker container"
##### SUMMARY
Trying to provision a docker image (php:7.0-apache) with Ansible results in the following error:

[code]

##### ISSUE TYPE
Ansible provisioning fails for specific docker image.

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Manjaro Linux with Docker version 19.03.5-ce, build 633a0ea838.
Docker Image used is: php:7.0-apache

##

[2020-01-25 18:54] maniagarwal90 opened #66783 "aws_eks_cluster: InvalidSubnetID.NotFound"
I am using the new module aws_eks_cluster_module.
the task is defined as

[code]
vpc, subnet, security groups are created perfectly. but when this task is executed. it is giving me following error:

[code]
 Any suggestions?

[2020-01-25 18:54] michalmedvecky commented on #61930
This happens with `fetch` module and Ansible 2.9.2 as well. Very sad.
It helped me to remove this slurp.ps1 file and now it magically works.

[2020-01-25 19:14] ryanmerolle commented on #51727
I recently faced this issue.  It feels very similar to the issue pallets/jinja#659 which was seemingly resolved in Jinja2 v2.9.4 and above.

[2020-01-25 20:10] maniagarwal90 commented on #66783
Issue type : seems to be a bug
ansible version : 2.7 , 2.9
component name: aws_eks_cluster ansible module

[2020-01-25 20:40] cristian04 commented on #65673
Im dealing with a related issue.

Ansible version:

[code]

Ansible-galaxy installing from a requirements file
[code]

Installing manually
[code]

[2020-01-25 22:56] planeturban commented on #63180
workaround is to add

`- meta: clear_facts `

after any delegation task.

Won't work:

[code]

Will work:
[code]

[2020-01-25 23:57] mafalb commented on #63180
setting ansible_python_interpreter for the delegate_to host ?

[2020-01-26 05:59] denisse-dev opened #66787 "unarchive module does not support checksums to validate file integrity of a file that needs to be downloaded"
Check

Check
##### SUMMARY

The `unarchive` module allows you to unarchive a file that needs to be downloaded like this:

[code]
However, issues may occur and the file could be intercepted and modified by an attacker, it could have changed to a new version (that may not be the one we want) or it could be simply be downloaded erroneously this is why validating a file with a checksum is handy, the o

[2020-01-26 08:56] resmo commented on #66707
Thanks @alistairmackenzie, I will work out a fix.

[2020-01-26 10:12] #43193 closed, assigned to nobody

[2020-01-26 11:01] planeturban commented on #63180
Will probably only work if the delegated task is not the first task in the playbook. One has to set the interpreter in the following task in that case as well. (As I remember it when I did my tests)

[2020-01-26 12:41] netravnen commented on #62740
[code]
[code]

Looking forward to fix being merged.

[2020-01-26 12:53] #45484 closed, assigned to nobody

[2020-01-26 16:27] resmo commented on #66707
resolved_by_pr #66792

[2020-01-26 17:17] WesWWagner commented on #66781
Just to clarify, I have been looking at some source code and it would appear that assign_public_ip is not implemented for ecs_task -- this is problematic because an ecs fargate task using awsvpc networking by default will be DISABLED if it does not appear in the JSON request.

I personally would regard this as a BUG rather than a feature request because it essentially renders this module inoperati

[2020-01-26 18:24] WesWWagner commented on #66781
I have hacked the code on my own and have it working against a 2.9.4 stable branch... within about the next 48 hours I will clean up my work and make sure everything is setup for a proper pull request.

[2020-01-27 00:51] Akasurde commented on #66758
!component =lib/ansible/modules/network/aireos/aireos_command.py

[2020-01-27 05:38] desimaniac commented on #66225
I’m considering dropping the updated module file into my project’s playbook library folder until Ansible team accepts the PR. Do you think that would that be too unorthodox?

[2020-01-27 05:54] felixfontein commented on #66225
I guess there are people who would oppose that, but I used that in the past as well to get hold of new features ;) You might want to apply the patch from #66601 to the module file as well, though, since it fixes a bug which currently only exists in `devel`, in case you (or someone from your team) starts using the new `container_default_behavior` option.

[2020-01-27 06:01] ashutoshc1234 commented on #66758
Hi Team, the component name is. Also this is there in ios_command.

lib/ansible/modules/network/aireos/aireos_command.py

[2020-01-27 06:44] robertdebock opened #66799 "mysql_db can't authenticate on mariadb 10.4"
### SUMMARY
The mysql_db module fails to create a database on Fedora Rawhide (32)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_db

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
control node: Fedora 31
managed node: Fedora rawhide (32 at the time of writing)

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Just as the other distributions, a d

[2020-01-27 08:00] Andersson007 commented on #66765
needs_info

[2020-01-27 08:03] Andersson007 commented on #66765
it looks like that something unexpected in the ```target```'s value. It is appended to the end of the generated pg_restore/psql command

[2020-01-27 08:18] mjrepo2 commented on #66765
Hello, Ansible version is 2.9, and I have run the playbook with -vvv, its just a huge psql command that lays the database back in, with all the CREATE DATABASE commands. I will post the beginning, and end. But if you need the entire command, let me know, since its just endless lines of "CREATE DB", etc.
`The full traceback is:
  File "/tmp/ansible_postgresql_db_payload_pdcvvvce/ansible_postgresql_

[2020-01-27 08:42] mkrizek commented on #66163
Thanks for letting us know, @davidism! Closing per above.

[2020-01-27 08:42] #66163 closed, assigned to nobody

[2020-01-27 09:22] mkrizek commented on #66751
[code]

This is expected. The lookup plugins are executed on the control node (see [documentation](
https://docs.ansible.com/ansible/latest/plugins/lookup.html)).

So `query('fileglob', '/etc/dnsmasq.conf*')` is executed on the control node and `command: python -c "import glob; print(glob.glob('/etc/dnsmasq.conf*'))"` on the target node (`ipa3.example.com`) which is why they can have different res

[2020-01-27 09:22] #66751 closed, assigned to nobody

[2020-01-27 09:32] DAgostinoLucas commented on #66266
Well, it seems that Ansible is not really Python3 ready... Since there are also issues about SELinux while being Enforced/Permissive...

[2020-01-27 09:44] vrevelas commented on #66764
Correct me if I'm wrong, but I think the warning is only supposed to appear when the group doesn't match any hosts. In this case, the test_localhost group does contain a host: See the "hello" debug message being printed in the output in the play for the test_localhost group.

Also (oddly) installing and running Ansible with an older Python version (2.7) gives the correct behaviour i.e. no warning

[2020-01-27 10:53] ganeshrn commented on #66758
@ashutoshc1234 You can use cli_command module https://docs.ansible.com/ansible/latest/modules/cli_command_module.html to handle multiple prompts

[2020-01-27 11:22] Andersson007 commented on #57533
resolved_by: https://github.com/ansible/ansible/pull/66801

[2020-01-27 11:27] jaap3 opened #66802 "htpasswd module does not update password when crypt_scheme changes"
##### SUMMARY
We recently noticed that sites protected with basic auth were very slow to respond. After some research we pinpointed this to using a strong `crypt_scheme` (`sha256_crypt`) to hash passwords.

We had hoped to easily resolve this by changing `crypt_scheme` to `apr_md5_crypt` (the default). However, after changing this and doing an ansible run all htpasswd files remained unchanged.

##

[2020-01-27 11:28] gundalow opened #66803 "Collection tarballs don't preserve file modes"
##### SUMMARY
If you have executable files in your source code they are not kept in the tarball.

Could be related to https://github.com/ansible/ansible/blob/99d7f150873011e7515851db9b44ff486efa9d77/lib/ansible/galaxy/collection.py#L763

This was noticed as I had some auxiliary scripts in my repo.

Need to also consider scripts in `files/` if/when Collections support roles.

This seems to fail the

[2020-01-27 11:36] jaap3 commented on #66802
To work around this issue one could either rotate the basic auth passwords (the file will get updated is the password doesn't match), or first remove all basic auth files using a task like this:

[code]

[2020-01-27 11:39] truki commented on #66303
thanks @Andersson007 , also works for me. We tried several kind of "escaping", but it seems that not the whole line (I'm sorry).
Thanks very much for your time.

[2020-01-27 11:39] #66303 closed, assigned to nobody

[2020-01-27 12:11] Andersson007 commented on #55917
is this still relevant? can we close this?

[2020-01-27 12:15] Nindaleth commented on #66621
Thanks for taking the time to write a concise answer.

You're right. I misinterpreted my observation while the behavior actually fits the linked documented precedence order.

It seems the cleanest way out of this (assuming that I need to keep support for top-level group_vars dir and cannot rename the per-site group_vars parameters) is to symlink the required playbooks into each per-site subinvento

[2020-01-27 12:15] #66621 closed, assigned to nobody

[2020-01-27 12:16] glenjamin commented on #59376
I haven't made time to check out the code and run it locally, but from looking at the PR's code that is exactly what I had in mind 👍

[2020-01-27 12:18] Signum commented on #55917
The workaround should at least be explained clearly in the documentation. MariaDB becomes increasingly common and many people will likely waste time trying to track the issue down.

[2020-01-27 12:19] ashutoshc1234 commented on #66758
Hi Ganesh,

The Cisco Access points does not support the cli_command module i believe.

Also tried using the same with the aireos_command however this does
not work.

Regards,
Ashutosh Chauhan

On Mon, Jan 27, 2020 at 4:23 PM Ganesh Nalawade <notifications@github.com>
wrote:

[2020-01-27 12:28] ashutoshc1234 commented on #66758
Yes i have rechecked the supported devices for this modules and the Cisco WLC  is not in supported list. Also tried running it, and got a clear error. So this is not working in case of cisco WLC.

[2020-01-27 12:31] fartosh opened #66804 "win_xml module omits "warn: no" option"
##### SUMMARY
When using win_xml module with
[code]
option, multiple warnings can be seen in the output.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_xml

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Windows Server 2016

##### STEPS TO REPRODUCE

1. Copy random xml file with some nodes to C:\Users\foo\Desktop\a.xml
2. Create role with task
[code]

[2020-01-27 13:18] madipietro commented on #66632
Hello guys im having the same problem on centos.
(venv) (overcloud) -bash-4.2$ pip show openstacksdk
DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. A future version of pip will drop support for Python 2.7. More details about Python 2 support in pip, can be found at https://pip.pypa.io/en/latest/development

[2020-01-27 13:19] Andersson007 commented on #54239
resolved_by: https://github.com/ansible/ansible/pull/66806

[2020-01-27 13:26] jhanssenfavaro commented on #47918
Hi Folks, I am also waiting for this commit. Its a huge improvement in the netbox plugin.. anyone aware if it's already available ? Best Regards!!!

[2020-01-27 13:32] Andersson007 commented on #54239
would be cool if anybody try https://github.com/ansible/ansible/pull/66806 manually and confirmed there

[2020-01-27 13:33] CWollinger commented on #66528
Hi @bcoca
This is not a question, should be a bug report :)

The playbook will stuck if you use more than 139k via the stdin.

[2020-01-27 13:40] necrose99 commented on #52308
simply the overlays , ie **layman** or **eselect-repository**   layman can use predefined repos.

as can _eselect repo.._    or also adds custom repos ,  NAME , git (svn,etc ie type)

if layman , if eselect-repository... if both , **Prefer eselect-repository..**

eselect-repository enable gentoo-rust
(wala and done)

eselect-repository add pinebookpro-overlay git https://github.com/Jannik2099/pine

[2020-01-27 13:57] Andersson007 commented on #66303
@truki you’re welcome

[2020-01-27 14:08] mhzawadi opened #66809 "ProxySQL mysql_galera_hostgroups"
##### SUMMARY
Add new mysql_galera_hostgroups config options to ProxySQL module

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
proxysql_galera_hostgroups

##### ADDITIONAL INFORMATION
ProxySQL v2 now has support for Galera hostgroups, this allow the monitoring of a Galera cluster and to move hosts into different groups depending on the stat of the cluster

[Blog post](https://www.proxysql.

[2020-01-27 14:18] acalm commented on #66632
Sorry, this wasn't a bug or issue with the referenced module or Ansible,
just a configuration error. You may get some help in the official Ansible
irc channel (#ansible) on irc.freenode.net or if you have a support
contract attached to your openstack environment you may contact your
support representative for help

On Mon, 27 Jan 2020, 14:18 Maximiliano Di Pietro, <notifications@github.com>
wrote:

[2020-01-27 14:20] #66720 closed, assigned to nobody

[2020-01-27 14:52] gundalow commented on #54601
!component lib/ansible/vars/manager.py

[2020-01-27 15:18] trollkarlen commented on #41543
Can be closed openstacksdk is now used and not shade!

//T

[2020-01-27 15:22] aitorpazos commented on #46362
This may be late to the party, but couldn't we make `docker_container` support podman as well. In a similar way I can `ln -s podman docker` and have all my scripts working, not being able to re-use the same playbooks is a big hurdle to move to podman..

[2020-01-27 15:36] benpatterson opened #66812 "Gitlab_project: support merge_method setting"
##### SUMMARY

Setting the `merge_method` for a given project would be helpful for setting up repos. The default method (`merge`) that comes with Gitlab is not a fit for all teams.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

source_control: gitlab
##### ADDITIONAL INFORMATION

There are three options for merge strategies in gitlab:
- merge (default)
- rebase_merge: this will only allow

[2020-01-27 15:41] benpatterson commented on #66812
!component lib/ansible/modules/source_control/gitlab/gitlab_project.py

[2020-01-27 15:46] psss commented on #66424
Ok, if it does not make sense for the `package` module can we reuse this issue for the `dnf` module? Issue description updated accordingly.

[2020-01-27 16:08] felixfontein commented on #46362
@aitorpazos that won't work this simply, since `docker_container` uses Docker SDK for Python to talk directly to the Docker daemon, instead of using the `docker` CLI executable. But there are plans for podman to support parts of the Docker daemon API; once that is on the way, it could well be that `docker_container` works with podman with slight modifications, or even out of the box! No idea what

[2020-01-27 16:33] jchristi commented on #51108
This would definitely be nice. I got a threshold exceeded errors during ELB in rotation actions last week while doing a deployment.

[2020-01-27 16:35] zwindler commented on #66731
After doing so Ansible module debugging, I've found out that, for some reason, the playbook doesn't find out the version of the rabbitMQ cluster

I've added a "print" in the list_policies function

[code]

Which answers "None". That's why the JSON extraction fails because it reads the first line that should have been excluded since 3.7.9 and ends up trying to decode "definition" instead of the JSO

[2020-01-27 16:41] guard43ru opened #66815 "proxmox_kvm can't create two VM simultaneously"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
proxmox_kvm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
TASK [proxmox : proxmox_kvm]
changed: [ast13.test -> proxmox.test]
changed: [ast16.test -> prxomox.test]

##### ACTUAL RESULTS

short result
[code]

more verbose (-vvvv)
[code]

[2020-01-27 16:42] robertdebock commented on #66799
Likely related to [changed in authentication on mariadb](https://mariadb.org/authentication-in-mariadb-10-4/). This document states that: `Technically, a new MariaDB installation will have two all-powerful accounts — root and the OS user that owns the data directory, typically mysql.`

Running the tasks as root does **not** work, **neither** does running the task as the mysql user:
[code]

[2020-01-27 16:44] guard43ru commented on #66815
when i repeat run task, second vm created succesfuly.
when i remove first created vm and repeat task, one vm always failed.

[2020-01-27 16:48] aitorpazos commented on #46362
@felixfontein fair enough. That makes sense, thanks

[2020-01-27 17:00] angystardust commented on #51108
I have issues using the _ec2_ami_copy_ module failing intermittently and I don't know how to solve this...
[code]

[2020-01-27 17:23] demakkar commented on #66518
@justjais This command is not working on this device

dd#sh memory ?
  debug     Memory debugging commands
  detailed  Detailed memory information
  location  Location Identifier
  |         Output modifiers
  <cr>

#sh memory sta
#sh memory statistics
                         ^
% Invalid input detected at '^' marker.

TUSREDRWEC4NU1#`

[2020-01-27 18:29] ldoktor opened #66819 "Unable to extend module path via --module-path"
##### SUMMARY
I'm looking for a way to ad-hoc extend the module search path. From documentation I understood that the "-M MODULE_PATH, --module-path MODULE_PATH" should do, but reality is different and nothing changes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible/cli/arguments/option_helpers.py

##### ANSIBLE VERSION
[code]
as well as `ansible-2.9.2-1.fc30.noarch` reported here: ht

[2020-01-27 18:34] mpechner opened #66820 "ecs implement boto3 tag_reource list operation"
##### SUMMARY

https://github.com/ansible/ansible/pull/66811  Made it clear state=list was a mistake.  Should still be able to grab tags.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ecs_tag_info
##### ADDITIONAL INFORMATION

The discussion I want is make this a call so  boto3 ecs tag_resource is called with list is standalone info resource, or add this to all the ecs info resources so t

[2020-01-27 18:49] aitorpazos commented on #46362
According to 1.7.1 podman RELEASE_NOTES currently in master (not released at the time of writing) `podman service` will expose that API from 1.7.1 as alpha.

[2020-01-27 19:02] feisa commented on #66660
any update?

[2020-01-27 19:50] bitchkat commented on #66731
It looks like the output of "rabbitmqctl status" is radically different on rabbitmq 3.8 than 3.7.

The _rabbit_version method is looking for this line:

`      {rabbit,"RabbitMQ","3.7.16"},`

but on 3.8 the equivalent line would be

`RabbitMQ version: 3.8.2`

I added a second re.search check and it seems to be working for me now

`    def _rabbit_version(self):
        status = self._exec(['status

[2020-01-27 19:52] robertdebock opened #66825 "Module digital_ocean fails on python3: name 'basestring' is not defined"
### SUMMARY
When using the `digital_ocean` module on a controller node running Python 3, an error is displayed:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
digital_ocean

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Controller: Fedora 31

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
A working droplet.

##### ACTUAL RESULTS

[code]

[2020-01-27 20:09] #66464 closed, assigned to nobody

[2020-01-27 20:23] gflex commented on #65968
This is still not working for VMC (VMware Cloud on AWS):
playbook:

[code]

result is:

[code]
And this is what I get from from registering network info
[code]

Obviously the latter NIC is the one I'm trying to add whereas first is the one that's already present.
Needless to say that network itself is defined and available to add.

[2020-01-27 21:18] valvin1 opened #66828 "scaleway_security_group_rule : rules are added several times"
##### SUMMARY

When I add a rule on a scaleway security group. The rule is added each time i run the playbook

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
scaleway_security_group_rule

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Running Fedora 31

##### STEPS TO REPRODUCE
Add a rule a first time to an existing security group. Run again this same playbook. We expect as the rule alr

[2020-01-27 21:27] valvin1 opened #66829 "scaleway_compute - tags are not updated"
##### SUMMARY
If compute is already present but tags changed they are not updated.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
scaleway_compute

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Fedora 31

##### STEPS TO REPRODUCE

Create an item using scaleway_compute with a first set of tag. Update the set of tags and run again playbook.

[code]

##### EXPECTED RESULTS

In the given

[2020-01-27 21:41] samdoran commented on #57062
I don't consider this a "won't fix" because it does seem like a bug. But it needs to be addressed in `distro`. We _could_ patch this in our vendored version of `distro`, but carrying these type of patches forward is a huge maintenance burden. We already have [one open PR upstream](https://github.com/nir0s/distro/pull/246).

It seems that `distro` should favor known/common release files, then fall

[2020-01-27 22:05] samdoran commented on #57062
Looking at this some more, `distro.LinuxDistribution()` accepts an `os_release_file` parameter. We could use that to specify the file to parse, but that creates other complexities. I'll keep looking into ways to solve this.

[2020-01-27 22:15] samdoran opened #66830 "ipify_facts integration tests fail intermittently"
##### SUMMARY

The `ipify_facts` integration tests fail intermittently. We may be hitting API limits, but it's hard to tell based on the error message.

https://app.shippable.com/github/ansible/ansible/runs/157231/73/tests

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`test/integration/targets/ipify_facts/`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENV

[2020-01-27 22:15] samdoran commented on #66830
It may be possible that increasing the timeout or adding a retry to the task would be sufficient to fix this.

[2020-01-27 22:27] srolskyi opened #66831 "win_iis_website: cannot set parameter: preloadEnabled: true"
##### SUMMARY

Tried to change option on IIS "preloadEnabled" from default option "False" to "True". On web_iis_website module added:
 **preloadEnabled: true**
and got an error: **FAILED! => {"changed": false, "msg": "Property (\"preloadEnabled\") is not found on...**

This option located in IIS:
choose your web site => On the right column "Manage WebSite" press "Advanced settings"

##### ISSUE TY

[2020-01-27 23:15] jamescassell commented on #61680
I've had great success hosting roles solely on internal git repos per-role, and avoided having to cut release tars, nor setting up an internal galaxy server.  The lack of the same capability helps make collections even less attractive...  Is it inherently difficult to copy the same logic from the roles processing to the collections processing, or to DRY it?

[2020-01-27 23:31] maxamillion commented on #66643
@kjw3 Now that [this patch](https://github.com/ansible/ansible/pull/65564) has been merged and released to Ansible 2.9.4, can you test on Ansible version 2.9.4 and see if that resolves your issue? (I'm expecting it to, but would like to confirm). Thank you!

[2020-01-28 02:38] r4j4h commented on #33581
@samdoran Do you mind answering us here? This issue really doesn't seem so complicated as to deserve being ignored, when its value and optics to users is so bold.

- Limit nesting. If nesting exceeds, behave as it does now.
- Embrace/ignore nesting. Between the three related threads there are numerous examples that support even deep nesting with any messiness still in the user's hands. Much better

[2020-01-28 03:07] shubhamranjan12 commented on #66764
Well let me try your code once.. and we'll see.

[2020-01-28 04:03] roperto commented on #66731
You can pass the parameter ` --formatter json` to rabbitmqctl in order to output as JSON like before (more parseable)

[2020-01-28 04:16] #63045 closed, assigned to nobody

[2020-01-28 04:44] roperto commented on #66731
Just a bit more info: It breaks from 2.9.0+

The commit is https://github.com/ansible/ansible/commit/35c8739c2a429b7f002c0bd800ea90e12454ea20

@bitchkat are you planning on making a pull request?

[2020-01-28 08:38] srolskyi commented on #66831
Fixed!
[code]
change:  parameters: **applicationDefaults.preloadEnabled:true**

[2020-01-28 08:38] #66831 closed, assigned to nobody

[2020-01-28 08:50] vrevelas commented on #66764
One more thing I've implied but should probably mention explicitly is that if you replace `import_tasks` with an `include_role` the warning is not printed, which is the expected behaviour. I'll edit the description to include this.

[2020-01-28 09:31] jetendralaha opened #66838 "How to compare different host Standard out in a playbook"
Play-----------------------------------------------------------------------------------------------
- shell:  'echo "show table sys platform peer_vnf | match {{  item  }}  | count"|/usr/local/bin/cli'
  with_items: "{{ lvn_name }}"
  register: ts
- name: Total number of peer Vnfs updated in each node's table.
  debug:  msg={{ ts.results.0.stdout_lines.3}}

output ----------------------------------

[2020-01-28 09:46] #66707 closed, assigned to resmo

[2020-01-28 09:50] hryamzik commented on #66678
I see, feel free to fire a PR. Don't forget to add test cases!

[2020-01-28 09:59] rockaut commented on #51345
Wanted to open an issue but found this one. Will add an PR.

##### SUMMARY
The zabbix_action module is only accepting integer values for esc_period option.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_action

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Zabbix 4.4.4 on RHEL7

##### STEPS TO REPRODUCE
Task with:

[code]

##### EXPECTED RESULTS
Setting the esc_period API value

[2020-01-28 10:07] rmanibus commented on #66610
I'm not sure, I only tested include_role which seems to work well with vars.

[2020-01-28 10:13] mkrizek commented on #66838
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-01-28 10:13] #66838 closed, assigned to nobody

[2020-01-28 10:17] rmanibus commented on #66610
I just tried,

import_role does not work with vars. It didn't work either with the workaround.
Why can't you just use role ? You have nested roles ?

[2020-01-28 10:20] zwindler commented on #66731
Oh, I didn't see your answer and I came to the same conclusion about rabbitmq version regex

[2020-01-28 10:29] tkelkermans opened #66843 "nxos_devicealias : Adding an option to write config to startup"
##### SUMMARY
When using this module, configure change is not written to the startup menu of all switches of the fabric. Adding an option to write the config would prevent a configuration mismatch in case of reboot.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
module nxos_devicealias.py on nxos/storage

##### ADDITIONAL INFORMATION
Adding an option to write the config would prevent a con

[2020-01-28 10:42] jetndra commented on #66838
Hi ,
 Thanks
But in my case, I can able to compare the out within a single host but when it comes to multiple hosts it's a bit difficult for me to catch the syntax can anyone plz help

for E.g In single host i m doing below

    - shell:  'echo "show table sys platform peer_ip | match SM | count"|/usr/local/bin/cli'
      register: ts1
#    - debug:  var=ts1
#    - name: test
#    - debug: msg={{

[2020-01-28 10:45] jetendralaha opened #66844 "How to compare different host Standard out in a playbook"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)
Play-----------------------------------------------------------------------------------------------

shell: 'echo "show table sys platform peer_vnf | match {{ item }} | count"|/usr/local/bin/cli'
with_items: "{{ lvn_name }}"
register: ts
name: Total number of peer Vnfs updated in each node's table.
de

[2020-01-28 10:54] rhoekstra opened #66845 "nsupdate fails on second run adding NS record"
##### SUMMARY
Adding an NS record in a zone to delegate a subzone, successive call breaks module (idempotency fails)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
this bug is about the nsupdate module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
output of 'ansible-config dump --only-changed is empty

##### OS / ENVIRONMENT

It's run on CentOS 7, latest updates installed, pyth

[2020-01-28 11:13] justjais commented on #66518
@demakkar thanks for the update, and if the respective cmd isn't working on the device then getting hardware facts won't be possible.

That said, I'll open a PR to handle the scenario gracefully instead of giving a Python trace-back.

[2020-01-28 11:22] Andersson007 commented on #66765
@mjrepo2  thank you for the information!
[code]
that causes the exception ```Argument list is too long```.

Regarding the documentation, the ```lookup``` plugin
which you use with the ```target``` parameter returns data from external sources.
In this case It tries to pass the **content** of the dump file to ```target``` as we can see from dump.log
I think we can't use the plugin for this purpose b

[2020-01-28 11:37] wagfeliz opened #66846 "How to setup winrm to allow more then 3 concurrent process."
Hi,

We have 3 bkp process that runs as concurrent process on windows using winrm, I did notice allways one of they get stuck waiting for the others to finish, then it continue and finish normally. As its configurated to allows only 2 on winrm.
I did follow all the documentation that I could find and this is my current conf :

PS C:\Windows\system32> winrm get winrm/config/Winrs
Winrs
    AllowRem

[2020-01-28 11:44] mjrepo2 commented on #66765
I will try it out, thanks for the response.

[2020-01-28 11:48] webmozart commented on #66610
I need to use it in blocks in order to gracefully handle errors, hence I can't use role

[2020-01-28 12:13] Andersson007 commented on #55917
is this https://github.com/ansible/ansible/pull/66848 explanation ok?

[2020-01-28 12:16] Andersson007 commented on #66765
if it works for you, could you please close the issue after checking
thank you!

[2020-01-28 12:34] imrejonk opened #66849 "azure_rm_publicipaddress cannot use Standard SKU with IPv6"
##### SUMMARY

I'm attempting to create a static IPv6 address with the azure_rm_publicipaddress module. Static IPv6 addresses are only supported with the 'Standard' SKU (see [Limitations](https://docs.microsoft.com/en-us/azure/virtual-network/ipv6-public-ip-address-prefix#limitations)). Setting this SKU however results in a StandardSkuPublicIPAddressesMustBeStatic Azure Error, even though I set `a

[2020-01-28 12:36] mjrepo2 commented on #66765
Same result, here is the playbook now:

# Keycloak postgres DB replace
    - name: Drop Keycloak DB
      postgresql_db:
        login_host: "{{ postgres_master_pod.resources[0].status.podIP }}"
        login_user: postgres
        login_password: "{{ postgres_pw }}"
        name: keycloak
        state: absent
    - name: Restore Keycloak DB
      postgresql_db:
        login_host: "{{ postgres_m

[2020-01-28 13:01] Andersson007 commented on #65525
@morgado-pythian @stclark-incomm thank you for reporting this!
https://github.com/ansible/ansible/pull/66850 could you please test the PR for both cases manually ?
I have never worked with proxysql, so it's difficult to build CI tests for that from scratch

[2020-01-28 13:21] Andersson007 commented on #66765
now ```"{{ hostvars['localhost']['keycloak_sql'] }}"``` contains a list, not a path
[code]
to debug see "invocation" section at the end of the dump2.log file

[2020-01-28 13:23] selivan opened #66852 "ec2_group module hangs for a long time and then fails"
##### SUMMARY
`ec2_group` module hangs for a long time and then fails with error if rules have security groups as traffic sources. Group is changed as requested, though.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: Ubuntu 18.04 LTS
boto3 version: 1.11.9
python version: 2.7.17

##### STEPS TO

[2020-01-28 13:26] heuels commented on #66655
There is also a chance you've stumbled upon this bug: #58325 – it causes timeouts when device's identity string so long it wrap to the next line.

[2020-01-28 13:27] mkrizek commented on #66844
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-01-28 13:27] #66844 closed, assigned to nobody

[2020-01-28 13:28] mkrizek commented on #66846
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-01-28 13:28] #66846 closed, assigned to nobody

[2020-01-28 13:28] Andersson007 commented on #66765
in general, it supports variables. I just run the code below and it works as expected
[code]
You can check yours by using something like:
[code]

[2020-01-28 13:33] mjrepo2 commented on #66765
Yeah, we solved it by providing the .sql locally, and just giving the path, thanks for your help and patience!

[2020-01-28 13:33] #66765 closed, assigned to nobody

[2020-01-28 13:40] Andersson007 commented on #66765
No problem, you’re welcome! Hope this discussion will be helpful for anyone in the future

[2020-01-28 13:44] matejak opened #66853 "Introduce a custom key-valjue separator in the ini_file module"
This was already discussed in #40786, but the issue got auto-closed after month of inactivity. The only way how to confirm the issue author's assumption that the request would be appreciated by more parties than just him.

The ini_file module assumes the delimiter is the "=" character. That is nice in most cases but there are some examples where a " " or a ":" are used for the same purpose.

#####

[2020-01-28 13:54] whuji commented on #66766
Actually, the member must be used in the slave port to specify the LACP port. Very poor documentation on that.

[2020-01-28 13:54] #66766 closed, assigned to nobody

[2020-01-28 14:03] alxndr13 opened #66854 "dnf module does not install two versions of a package"
##### SUMMARY
When installing two versions of the same package using the dnf module, it says the second time "nothing to do". When i run the command via cli: "dnf install <package-name> it works.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
dnf module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target Node: Red Hat Enterprise Linux release 8.1 (Ootp

[2020-01-28 14:13] anryko commented on #66716
Working on a PR for this feature.

[2020-01-28 14:19] bitchkat commented on #66731
Got busy yesterday but Its submitted now.  Let me know if I missed anything in it.

[2020-01-28 14:22] CyberOpJay opened #66856 "Ansible with ArubaOS - How to configure VSF stacking command"
I am fairly new to Ansible so please excuse my ignorance.
I been playing around with a couple of switches and I was wondering if there is a way to run the
VSF enable domain <#> command using Ansible.

When I run it the task times out. I suspect the reason is because the Aruba CLI is waiting for user input. When I run this command manually the CLI prompts type yes to continue and reboot. I been loo

[2020-01-28 14:23] CyberOpJay commented on #66856
Playbook thus far:

- hosts: switch1
  tasks:
      - name: TEST HA
        aruba_config:
          lines:
            - vsf enable domain 2

[2020-01-28 14:24] CyberOpJay commented on #66856
When I run the playbook:
PLAYBOOK: TEST.YML **********************************************************************************
1 plays in TEST.YML

PLAY [switch1] **************************************************************************************

TASK [Gathering Facts] ******************************************************************************
task path: /home/cyberop/Ansible/TEST.YML:1
<17

[2020-01-28 14:30] jpmens commented on #66853
I see @bcoca voiced an opinion at https://github.com/ansible/ansible/issues/40786#issuecomment-551902729

I don't think this is a bad idea.

[2020-01-28 14:47] katieneedshelp commented on #66204
I am having the same issue. Ansible reports changed=True, but no prefix is created in Netbox.

[2020-01-28 15:12] dominikholler opened #66858 "Unable to create new logical network on oVirt"
##### SUMMARY

Unable to create new logical network on oVirt

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ovirt_network

##### ANSIBLE VERSION

[code]
master

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

network is created

##### ACTUAL RESULTS

[code]

[2020-01-28 15:14] dominikholler commented on #66858
@mwperina  @mnecas please have a look.
This is the reason for
https://jenkins.ovirt.org/job/ovirt-system-tests_ansible-suite-master/
to fail and was introduced by PR #65701

[2020-01-28 15:19] samdoran commented on #66582
Do the existing methods `v2_runner_on_ok()`, ` v2_runner_on_skipped()` and `v2_runner_on_failed()` not provide enough information?

needs_info

[2020-01-28 15:22] samdoran commented on #66610
@jimi-c Can you comment on the intended behavior of role vars?

[2020-01-28 15:28] samdoran commented on #66614
This could be an issue with when we evaluate `failed_when`, but we think this may already be fixed. What version of Ansible are you seeing this with? Have you tried with 2.9?

needs_info

[2020-01-28 15:29] jctanner commented on #66560
@borowskiio i'm having trouble reproducing this on my F31 machine. Can you detail how you installed ansible and the content of the inventory file, and the full ansible[-playbook] command used?

needs_info

[2020-01-28 15:38] samdoran commented on #66636
This is working as intended. The `file` module does not support globs since it is concerned with managing individual files.

To modify multiple files, use `shell` with a glob or the results of a `find` task passed to `file`.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!for

[2020-01-28 15:38] #66636 closed, assigned to nobody

[2020-01-28 15:39] #61891 closed, assigned to mkrizek

[2020-01-28 15:47] mkrizek commented on #66856
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-01-28 15:47] #66856 closed, assigned to nobody

[2020-01-28 15:55] samdoran commented on #66685
This is an issue with using the same variable name for the registered task and the set fact. Using different variable names, and also using the `msg` field from the registered result, will probably get you the desired result.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/an

[2020-01-28 15:55] #66685 closed, assigned to nobody

[2020-01-28 16:08] #66858 closed, assigned to nobody

[2020-01-28 16:39] julie-blake-verizon opened #66861 "ucs_wwn_pool description"
##### SUMMARY
ucs_wwn_pool does not accept the 'description' parameter. It does allow the alias 'descr'.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ucs_wwn_pool

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.7.1908 (Core)

##### STEPS TO REPRODUCE
[code]
##### EXPECTED RESULTS
Expect the output to be the same with either 'descri

[2020-01-28 16:40] FragmentedPacket commented on #66204
@katieneedshelp These have been moved into Ansible Collections. https://galaxy.ansible.com/netbox_community/ansible_modules

Try the collections and you can post an issue on Github for the Ansible modules if you're still having issues.

[2020-01-28 16:44] pdumais commented on #66582
those handlers get called once per task per host.
If I have 2 hosts, the runner_on* will get called 2 times for the same task. But if host2 becomes unreachable, all subsequent tasks will only have the handler called once.

We are looking for a way to know that the task has been completed (success or fail, it doesn't matter).  If I rely on runner_on_* there is no way to be sure if the task is compl

[2020-01-28 16:50] tmbdev opened #66862 "Allow inline Dockerfile specifications for Docker images."
##### SUMMARY
Allow inline Dockerfile specifications for Docker images.

##### ISSUE TYPE
Add a dockerfile: option to docker_image:build: so that simple Docker files can be put in line.

##### COMPONENT NAME
docker_image

##### ADDITIONAL INFORMATION

Often, Docker files need to be built with just a few lines of text. It would be nice to be able to do this inline. In addition, this would also allo

[2020-01-28 17:44] sivel commented on #66610
This is expected. A roles `vars` are scoped at the play level, whether using `vars:` or `vars/main.yml`.

As such, defining `vars` on a role makes those cars accessible to the whole play, both to roles and tasks before and after.

You can change this behavior using https://docs.ansible.com/ansible/latest/reference_appendices/config.html#default-private-role-vars

[2020-01-28 18:01] chris93111 opened #66864 "custom plugin action load vars not interpreted"
##### SUMMARY
we have a custom plugin same as include_vars , vars with concat or lookup is not interpreted in custom module

I have try to copy exactly same code of include_vars in custom plugins and is the same

in task_executor and init strategy , set_fact and include_vars is targeted with some action , if i add my plugins , he work

https://github.com/ansible/ansible/issues/42186

##### ISSUE T

[2020-01-28 18:25] maxamillion commented on #60349
@das7pad apologies for the lag time on this, just now getting around to this issue ticket. I am able to reproduce on RHEL 7 (yum v3) but unable to reproduce on RHEL 8 (yum v4/DNF). I have a patch to fix the yum v3 scenario, but since you mention Fedora 30 in the original bug report I feel as though I'm missing something.

needs_info

[2020-01-28 18:26] bbuivn opened #66865 "mongodb_replicaset: add sslCAFile and sslPEMKeyFile/tlsCAFile and tlsCertificateSelector options when ssl: yes"
##### SUMMARY

Add the ability to use ssl/tls certificates when using `ssl: yes` and the MongoDB Servers has a `CAFile` configured and `allowConnectionsWithoutCertificates` set to `false`.
This module cannot be used when the MongoDB servers have a `CAFile` set.

For now this would work if we allowed connection without certificates, but we cannot.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT N

[2020-01-28 18:38] viniciusbona commented on #56629
hi,

i have the same problem with ansible version 2.7.8 and i fix by update to ansible 2.9.4 and run with python3.

$ ansible --version
ansible 2.7.8
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/viniciusbona/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3/dist-packages/ansible
  executable lo

[2020-01-28 19:34] robertdebock commented on #66799
With the hint listed in [this PR](https://github.com/ansible/ansible/pull/66848) I was able to work around the issue by using:

[code]

You can see the workaround [here](https://github.com/robertdebock/ansible-role-mysql/blob/master/tasks/main.yml#L40).

[2020-01-28 19:34] #66799 closed, assigned to nobody

[2020-01-28 20:46] ac-hibbert opened #66870 "k8s check mode does not work very well"
##### SUMMARY

With ```--check``` mode and k8s resources using the k8s_module (https://docs.ansible.com/ansible/latest/modules/k8s_module.html) it is showing things will change, when run without ```--check``` they don't change, which is correct

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

mac os (controlle

[2020-01-28 21:02] lanceofwhichwedream commented on #64612
I appear to have a similar issue.

I'm using unarchive in a task that should grab a tar gz archive where part of the url is a variable determined during execution of the playbook.

I can't share the full traceback from -vvv as it contains too much company senstive information, however this is the error I can share.

`The full traceback is:
WARNING: The below traceback may *not* be related to the a

[2020-01-28 21:11] roperto commented on #66731
Nice, thanks -- I will use your solution too - I hope they integrate it fast :-)

[2020-01-28 22:50] sevenbill opened #66874 "`access_token` parsing issue with Linode inventory plugin"
##### SUMMARY
inventory/production/linode.yaml
[code]

Error Messgae
[code]

Everything works fine when `LINODE_ACCESS_TOKEN` environment variable is set.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
plugins/inventory/linode

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
inventory/production/linode.yaml
[code]

Pull request will follow...

[2020-01-29 05:31] Akasurde commented on #66870
!component =lib/ansible/modules/clustering/k8s/k8s.py

[2020-01-29 05:35] Akasurde commented on #66820
cc @tremble @jillr @s-hertel

[2020-01-29 07:23] Akasurde commented on #66819
@ldoktor `configured module search path` shows value defined in `ansible.cfg`.

If I modify `ansible.cfg` or modify `ANSIBLE_LIBRARY` env variable, I get the desired effect.

[code]

or

[code]

Am I missing here?

needs_info

[2020-01-29 07:25] Akasurde commented on #66812
resolved_by_pr #66813

[2020-01-29 07:40] rmanibus commented on #66610
Maybe the role documentation need some clarification about this ?

[2020-01-29 08:01] ngp-star commented on #42191
hi @webstylesInt

i am able to deploy 3 vms on the vcenter 6.5 without playbook hanging while deploying.

following is the playbook what i have used.

---
- name: Get VM Facts
  hosts: localhost
  gather_facts: no
  tasks:
  - name: deploy vm
    vmware_guest:
      hostname: "{{host name}}"
      username: "{{user name}}"
      password: "{{password}}"
      validate_certs: no
      datacenter: "

[2020-01-29 08:02] ngp-star commented on #42191
hi @webstylesInt

is there any configurations do i need to add, or should i increase the no of vms?

Regards
naveen

[2020-01-29 08:02] ldoktor commented on #66819
Hello @Akasurde, thank you for the suggestion, it should work for me. But the main question here is, what the `--module-path` cmdline argument should do? In my testing it didn't change anything. Modules in the path specified via `-M` were not found and the `configured module search path` is also not updated.

Should this work or is the only way to change the configuration the configuration path or

[2020-01-29 08:15] mnecas commented on #66722
Could you please check it @abadger

[2020-01-29 08:16] mnecas commented on #66723
Could you please check it @abadger

[2020-01-29 09:29] sstagnaro opened #66888 "ovirt_network fails to be idempotent if network name contains spaces"
##### SUMMARY

Ansible module ovirt_network fails to be idempotent if network name contains spaces.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ovirt_network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHVM 4.3.7 as both control node and managed host.

##### STEPS TO REPRODUCE

1. declare a Logical Network with a space in the name
2. run the playb

[2020-01-29 12:06] mnecas commented on #66888
Hi @ninth9ste,
this issue was resloved in https://github.com/ansible/ansible/pull/59184
Just created backport so when it will be merged it will be in 2.9.x
Backport: https://github.com/ansible/ansible/pull/66890

[2020-01-29 12:06] mnecas commented on #66888
close_me

[2020-01-29 12:07] mnecas commented on #66888
duplicate_of #59140

[2020-01-29 12:23] riyad commented on #61997
I'd like to second the request made by @fessmage and add that it would also be very useful if the token could come from a vault.
In my `hcloud_*` tasks I use something like `token: "{{ vault_projects[hcloud_project].hcloud_api_token }}"` but this did not work in the inventory plugin file. :disappointed:
The closest thing I came up with for multiple hcloud projects was to have an inventory director

[2020-01-29 13:20] dnmvisser opened #66893 "Pinpoint to specific parameters in module documentation"
##### SUMMARY

Introduce anchors for each parameter on the module documentation.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Documentation

##### ADDITIONAL INFORMATION

Right now you can only point people to the generic module page, for instance https://docs.ansible.com/ansible/latest/modules/docker_container_module.html. But most of the times you want to point out to people that they s

[2020-01-29 13:21] vlajos opened #66894 "Yum module's install action does not verify if the installed package's architecture is the same when it decides if the package has already been installed"
##### SUMMARY
In this section:
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/yum.py#L977
Line 989 is triggered regardless if the already installed package is from a different architecture.

That way you cannot install a package's i686 version if the the same version's x86_64 has already been installed previously.

- Bug Report

##### COMPONENT NAME
lib/ansible/modu

[2020-01-29 13:25] dnmvisser commented on #66893
At a bare minimum should already do it: https://github.com/ansible/ansible/pull/66895
But i see there are also nested parameters...

@felixfontein

[2020-01-29 13:35] Akasurde commented on #42191
needs_info

[2020-01-29 14:22] #25714 closed, assigned to nobody

[2020-01-29 15:10] resmo commented on #66830
could not reproduce, probably a temporary error, but implemented a retry in tests.
resolved_by_pr #66897

[2020-01-29 15:16] johnpetersjr commented on #12233
Has this been solved?  I'm still having a heck of a time trying to read stopped instances from an Ansible Inventory...

If you have an inventory containing two ec2 machines, one stopped, and one started, this code will only  return the running host --

`---
- name: List ec2 instances from variables stored in Inventory
  hosts: all
  connection: local
  gather_facts: false
  vars:
    region: us-ea

[2020-01-29 15:35] dkrijgsman1979 commented on #65824
@ewchuah I'm experiencing the same behavior, not sure what i'm missing.
 usage of "aci_access_port_to_interface_policy_leaf_profile" seems to provide the same results without any issues......

[2020-01-29 15:40] hallvors opened #66901 "Yarn module: support --frozen-lockfile argument"
##### SUMMARY

Ensure `yarn install` will not update the `yarn.lock` file, and fail if an update is required

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Yarn module

##### ADDITIONAL INFORMATION

When deploying an update, the git checkout sometimes fails because `yarn install` apparently updated the `yarn.lock` file. This may very well be my fault for not having checked in an updated l

[2020-01-29 15:43] samdoran commented on #66830
@resmo Thanks for the quick fix. I wasn't able to reproduce it locally either, which is why I was thinking it may be due to a large number of tests running simultaneously that may be reaching API limits (though I didn't find any documentation about such limits either, but that doesn't mean they don't exist).

[2020-01-29 15:43] #66830 closed, assigned to nobody

[2020-01-29 15:45] ashutoshc1234 commented on #66758
Also i wanted to know whether we have something like ios_facts: for lib/ansible/modules/network/aireos/aireos_command.py. I can not find anything so far. If it is there then kindly help me with that. It will make my work lot more easy.

[2020-01-29 16:25] samdoran commented on #66610
@rmanibus Please look at #66907 and let me know if that explanation helps.

[2020-01-29 16:25] adisharoon commented on #66641
This is also affecting us. All tasks that use group_name for this module result in some form of:

[WARNING]: Ran out of time waiting for sg-xxx IpPermissions. Current: {Rule(port_range=(None, None), protocol='-1', target=('xxxx', 'sg-xxxx', None), target_type='group', description=None)}, Desired:
[Rule(port_range=(None, None), protocol='-1', target='sg-xxxx', target_type='group', description=None)

[2020-01-29 16:28] rmanibus commented on #66610
Great, it's way more clear thanks :)

[2020-01-29 16:35] travisen opened #66908 "Unable to Connect to Netapp Solidfire Instance with na_elementsw_check_connections behind a Proxy"
##### SUMMARY
The module na_elementsw_check_connections will not connect to a Solidfire instance when using a proxy.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
na_elementsw_check_connections
netapp.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
System where Ansible is being run: CentOS Linux release 7.6.1810 (Core)
Target of Ansible playbook: Eleme

[2020-01-29 16:55] blackwood821 opened #66909 "pkgin - not enough values to unpack"
##### SUMMARY

The `pkgin` module seems to always fail to install Java (could be any package) with the error `not enough values to unpack` after creating a new zone via the `vmadm` module. However when this happens if I run it again it succeeds. It seems to only happen when my playbook actually has to create the zone. If the zone already exists before the playbook runs then it doesn't seem to happ

[2020-01-29 17:04] blackwood821 commented on #66553
@samdoran any update on this?

[2020-01-29 17:08] webmozart commented on #66610
@samdoran Cool, thanks :) IMO it could be clarified that you *can* pass vars to regular `role:` roles without the `vars:` keyword and that these vars will not be public and that this is not possible for `import_role:`

[2020-01-29 17:10] #66478 closed, assigned to nobody

[2020-01-29 17:12] rmanibus commented on #66610
I don't know is it a side effect or an espected behaviour ?

[2020-01-29 17:13] desimaniac commented on #66225
Added! Thank You!

[2020-01-29 17:15] sivel commented on #66610
The following format is called "role params":

[code]

Whereas the following are vars:
[code]

They are inherently different, and `import_role` and `include_role` do not support role params.  As such, the difference in behavior is expected.

[2020-01-29 17:39] webmozart commented on #66610
Thanks for the explanation @sivel! In the docs about [Roles](https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html), there is no mention of the word "param". I think it would be great if params could be explained there.

[2020-01-29 17:48] sivel commented on #66864
!component =lib/ansible/executor/task_executor.py

[2020-01-29 17:55] s-hertel commented on #66864
Have you considered a vars plugin instead? Here's what you'd need to make something that works like include_vars https://github.com/ansible/ansible/compare/devel...s-hertel:copy_include_vars?expand=1.

[2020-01-29 18:11] blackwood821 commented on #66909
I just tried adding the following to the `pkgin` task in the sample playbook above and it works with retries:
[code]

[2020-01-29 18:28] gabops opened #66913 "Allow to declare group variables in dynamic inventory (aws_ec2)"
##### SUMMARY
At the moment there is no way for declaring variables in a dynamic inventory other than throught "compose". This covers a lot of cases however, would be useful having a way to define group vars easily in a "keyed_groups" or even "groups".

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
aws_ec2.py

##### ADDITIONAL INFORMATION
I think something like the next examples can give u

[2020-01-29 18:39] felixfontein commented on #66893
resolved_by_pr #66895

[2020-01-29 18:40] felixfontein commented on #66893
CC @acozine @samccann

[2020-01-29 18:48] chris93111 commented on #66864
Yes we have considered vars plugin but it is played at all tasks

We have the source of truth in a kv store (consul), and we need to pull and stock the vars in a temporary file on the controller for loading it by the plugin include_vars. Some loaded vars are lookup for hashi_vault (secret vars)

We save configuration of context (extra vars and inventory vars) of hosts in the kv store for easy reme

[2020-01-29 18:53] sasjowood opened #66916 "hostvars['name'] will not be converted to strings in the proper contexts (hostvarsvars issue)"
##### SUMMARY

When using the templating filter `to_nice_yaml` (or `to_yaml`) and running on SLES 12sp5, an error is thrown saying that the `value must be a string`. On the same system, if the Ansible version used is less than 2.8.0, the error is not thrown.

I also tested with RHEL 7.2, 7.7, and 8.0 as well as SLES 12sp3, sp4, and SLES 15. For each environment I tested Ansible 2.7.0, 2.7.16, 2.8.

[2020-01-29 18:56] s-hertel commented on #66864
With Ansible 2.10 you will have the choice for when to run vars plugins (such as only after importing inventory). That feature was added in #61078.

[2020-01-29 19:48] samdoran commented on #66610
Role params are something we would like to get away from since it "pollutes" the data and we have to guess what are `vars` and what aren't when parsing `roles:`. We don't currently have plans to remove this capability, but it is something we would like to remove long term. Therefore, omitting it from the documentation is the best path forward.

[2020-01-29 19:48] mycloudrevolution commented on #61963
I am not sure if that module was already released at that time (came with 2.9, right?). But ist also possible that I have totally overlooked that.

 But anyway, the solution works fine for me. Thanks!

[2020-01-29 19:48] #61963 closed, assigned to Akasurde

[2020-01-29 19:50] samdoran commented on #66582
That makes sense. Would you be willing to bring this up for discussion at an IRC meeting so others can weigh in?

[2020-01-29 20:18] samdoran commented on #33581
I'm not sure what more to add beyond what @sivel has mentioned. It would be more complicated to implement this than it seems, especially with the output formatting @fbruetting illustrated. Even the proposed solution above is fairly complex.

It _could_ be done because anything is possible in software. But a lot of Ansible internals would need to be reworked in order to accommodate this feature. An

[2020-01-29 20:30] felixfontein opened #66919 "removed_in_version=2.9 and 2.10 in some modules in devel"
##### SUMMARY
There is currently no test which checks `removed_in_version` for expired versions; there's only one for `module.deprecate()`. Therefore, some `removed_in_version` with versions `2.9` and `2.10` haven't been caught:
[code]

There should be a test similar to the one for `module.deprecate` which catches these.

(The main reason why I didn't start with a PR is that the current mechanism

[2020-01-29 20:48] chris93111 commented on #66864
ok so we wait 2.10 for develop vars plugin

thanks

[2020-01-29 20:51] 7php commented on #66537
Please someone merge that PR, it is breaking things in v2.9.3

[2020-01-29 20:52] #66864 closed, assigned to nobody

[2020-01-29 21:09] juriansluiman opened #66923 "2.9 series missing in ppa for Ubuntu Cosmic 18.10"
##### SUMMARY
In the PPA the repository ansible-2.9 has no package for Ubuntu 18.10 cosmic

##### ISSUE TYPE
- Bug Report
- Build configuration

At https://launchpad.net/~ansible/+archive/ubuntu/ansible-2.9 it is visible packages exist for bionic (18.04, the version prior to 18.10) and for disco (19.04, the release after 18.10). There is no 18.10 cosmic package, which I am running.

Is there any w

[2020-01-29 21:16] Bhagu5491 opened #66924 "Ansible checksum error on template/copy module"
##### SUMMARY
I'm getting below error when I'm using ansible copy or template module

fatal: [server]: FAILED! => {"changed": false, "checksum": "c1b955c231a37b92df49d26b32168a4fc9c17cf9", "msg": "Destination not writable"}

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

``
ansible 2.7.1
[code]

##### OS / ENVIRONMENT

coreos

##### STEPS TO REPRODUCE

[code]

##### EX

[2020-01-29 21:29] juriansluiman commented on #66923
Version:
[code]

Component: not related to any ansible component but it's the build process.

[2020-01-29 21:50] jtrain184 opened #66925 "[ec2_vpc_vpn] static routes are not added when State is "deleted""
##### SUMMARY
When static routes have been deleted

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ec2_vpc_vpn

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
rhel7

##### STEPS TO REPRODUCE
Example playbook:
[code]

##### EXPECTED RESULTS
Existing routes stay, new routes are added.

##### ACTUAL RESULTS
Routes that have "State": "deleted" don't get added back.  Possibly because curren

[2020-01-29 22:06] jtrain184 commented on #66925
I corrected the ANSIBLE VERSION of my original report.  Apologies.

[2020-01-29 22:16] Bahu2016 commented on #66672
@lonico  For testing am try cluster admin, but future i would need to use vserver for the facts.

I have different question apartment from this.

I created nfs volume using na_ontap_volume, but where i need provide uid and gid for share access?

[2020-01-30 05:38] salecharohit opened #66928 "Adding User to a Group not reflecting in subsequent tasks"
##### SUMMARY
Privileges of the user donot take effect after adding users to a group.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Vagrant Version: 2.2.6
vagrant plugin used : vagrant-vbguest (0.22.1, global)
Windows 10
Vagrantfile:
[code]

##### STEPS TO REPRODUCE

Use the above Vagrant file and the p

[2020-01-30 07:09] arrowd opened #66930 "pkgng module doesn't work without Internet connection"
##### SUMMARY
I'm using `pkgng` Ansible module in my LAN:

[code]

In my `/usr/local/etc/pkg/` I have `local.conf` file, which describes caching repository located in the same LAN. It also has `priority: 100` set to make it default repository whenever `pkg install` is called.
All machines in my LAN do not have direct Internet connection.

When I run the module I get:

[code]

So, my repo is workin

[2020-01-30 07:26] mnecas commented on #66888
close_me

[2020-01-30 07:31] #66888 closed, assigned to nobody

[2020-01-30 08:21] brsanche opened #66932 "to_nice_yaml indentation not working as documentation"
##### SUMMARY
to_nice_yaml indentation not working as mentioned in documentation
https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#filters-for-formatting-data

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Filters for formatting data

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.7.1908 (Core)
3.10.0-1062.9.1.el7.x86_64 #1 SMP

##### ST

[2020-01-30 08:48] das7pad commented on #60349
Here is a POC for Fedora 30 in a docker container (and using the latest ansible version 2.9.4):

[code]

<details>
<summary> Output </summary>

<pre>
+ sudo docker stop -t 0 fedora30
Error response from daemon: No such container: fedora30
+ sudo docker pull fedora:30
30: Pulling from library/fedora
Digest: sha256:a31809d5e9d991a291605e932077aaf5f2beff64dee85b34d911228196af406e
Status: Image is up

[2020-01-30 09:37] Spredzy opened #66934 "IBM: Enable IBM i platform as part of the testing platforms"
##### SUMMARY

Currently the AIX platform is supported as part of the test matrix. IBM i should be enabled too.

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

- testing

##### ADDITIONAL INFORMATION

- N/A

[2020-01-30 09:41] Spredzy opened #66935 "IBM: Enable httptester for AIX platform"
##### SUMMARY

Currently `httptester` is disabled when we run integration test against AIX platform. The necessary work should be done for it to be enabled.

Link: https://github.com/ansible/ansible/blob/devel/test/lib/ansible_test/_data/completion/remote.txt#L6

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

- testing

##### ADDITIONAL INFORMATION

- N/A

[2020-01-30 09:45] Spredzy opened #66937 "IBM: Enable pip-check for AIX platform"
##### SUMMARY

Currently `pip-check` is disabled when we run integration test against AIX platform. The necessary work should be done for it to be enabled.

Link: https://github.com/ansible/ansible/blob/devel/test/lib/ansible_test/_data/completion/remote.txt#L6

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

- testing

##### ADDITIONAL INFORMATION

- N/A

[2020-01-30 09:49] tremble commented on #66419
That specific error is coming from Boto3 / Amazon directly.  The most likely causes:

1. You need to update boto3/botocore
2. A lack of availability in your specific region
3. Some other option you've specified is incompatible with the ARM series

Providing the full invocation of ec2_lc, the output with -vvv, and your current version of boto3 and botocore would help.

[2020-01-30 09:54] mveroone commented on #28674
The issue is larger than just comments.
If you're using a variable with a single quote in it, it breaks .

[code]
=>
[code]

[2020-01-30 09:54] Spredzy opened #66938 "IBM: Enable temp-unicode for AIX platform"
##### SUMMARY

Currently `temp-unicode` is disabled when we run integration test against AIX platform. The necessary work should be done for it to be enabled.

Link: https://github.com/ansible/ansible/blob/devel/test/lib/ansible_test/_data/completion/remote.txt#L6

##### ISSUE TYPE

- Feature Idea

##### COMPONENT NAME

- testing

##### ADDITIONAL INFORMATION

- N/A

[2020-01-30 10:02] mkrizek commented on #66295
I understand the confusion.

[code]

Here the conditional is applied to `include_tasks` and since it's evaluated to true, the tasks are included into the `block`. The difference (from the second example) is that the conditional is again applied to the included tasks because each task within the `block` inherits the `when`.

[code]

Here, as I mentioned earlier, the `when` conditional is applied to

[2020-01-30 10:38] kitos9112 commented on #50334
This would be a life-changing module/s (e.g. git_commit & git_push) for people who are working on network automation and are willing to push and store their network configurations on a remote Git repository

[2020-01-30 11:55] pdumais commented on #66582
sure, can you PM me the details?

[2020-01-30 12:25] mok0 opened #66942 "Parsing of /etc/os-release is not adequate on Rasbian"
##### SUMMARY

In the [Tips & Tricks documentation](https://ansible-tips-and-tricks.readthedocs.io/en/latest/os-dependent-tasks/variables/) it is suggested that you can use a construct like this:

[code]

to pull in OS-specific variables. It appears that Ansible in some cases gets the `ansible_distribution` variable from the file `/etc/os-release` and in other cases it tries to work out the distri

[2020-01-30 13:03] odyssey4me commented on #64841
Actually, the issue is caused by https://github.com/ansible/ansible/commit/6c74e29618a6872bc0da66e4992cfcd9cebf6acc which did not include a bump of the minimum openstacksdk version to include support for the dns_domain parameter.

[2020-01-30 13:04] max-wittig opened #66943 "Unicode breaks dict"
##### SUMMARY

Ansible can't parse unicode correctly, when reading template

##### COMPONENT NAME

template

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.7.1908 (Core)

##### STEPS TO REPRODUCE

vars.yml

[code]

templates/example.json.j2

[code]

[code]

##### EXPECTED RESULTS

The valid json file should be correctly parsed and unicode should not be a problem in 2

[2020-01-30 13:08] #19103 closed, assigned to nobody

[2020-01-30 13:11] odyssey4me commented on #64495
Actually, the issue is caused by https://github.com/ansible/ansible/commit/6c74e29618a6872bc0da66e4992cfcd9cebf6acc which did not include a bump of the minimum openstacksdk version to include support for the dns_domain parameter. So Ansible 2.9+ is passing a parameter to openstacksdk which openstacksdk does not understand.

[2020-01-30 13:32] #64278 closed, assigned to nobody

[2020-01-30 13:32] #66174 closed, assigned to nobody

[2020-01-30 13:55] iamperson347 opened #66945 "ansible_play_batch variable is including unreachable hosts"
##### SUMMARY
ansible_play_batch variable is including unreachable hosts

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible_play_batch

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
ubuntu 16.04

##### STEPS TO REPRODUCE
When evaluating ansible_play_batch  using jinja in a playbook, ansible_play_batch returns an unreachable hosts, causing the entire pla

[2020-01-30 14:59] kjw3 commented on #66643
Appears that patch to 2.9.4 solves this issue. The looping calls did not happen and the package task completes same as cli call to yum.

[root@rhel-test ~]# ansible --version
ansible 2.9.4
  config file = None
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python3.6/site-packages/ansible

[2020-01-30 15:14] sivel commented on #66932
This is a shortcoming with the underlying YAML library we use. PyYAML will indent keys from a dictionary past their parent, but does not do this with list items. The hyphen used to define a list item is always printed in alignment with the parent.

[2020-01-30 15:23] #66593 closed, assigned to nobody

[2020-01-30 15:26] sivel commented on #66722
I believe this was resolved in https://github.com/ansible/ansible/pull/65776

[2020-01-30 15:45] brsanche commented on #66932
I've also tested that without the list item, and it's not working as well.

yaml file

[code]

conf.j2 template file

[code]

config.yml result file

[code]

It only works when adding something like this on j2 template.

[code]

[code]

Which is different usage from Ansible filters documentation.

[2020-01-30 15:47] sivel commented on #66819
@ldoktor `--module-path`/`-M` adds an additional path that ansible will use to find ansible modules. But as @Akasurde indicated, the output where `configured module search path` is shown, is based on config values, and not impacted by the `-M` flag, and as such, will not show any paths added via `-M`.

However, Ansible will indeed use the value from `-M` in finding modules.

For example (Ignore th

[2020-01-30 15:51] sivel commented on #66932
You may be misunderstanding the goal of the `indent` argument for `to_nice_yaml`.

I'll use the definition from the python `json` docs:

As such, it indicates that if you had sub keys, they would be indented to that level past the parent such as:

[code]

In the above `sub_key` is *indent*ed a total of 4.  It does not indicate that all lines after the first line are indented.

In fact, your exampl

[2020-01-30 15:51] #66932 closed, assigned to nobody

[2020-01-30 15:54] Urth opened #66953 "wrap_var tries to modify immutable mappings"
##### SUMMARY
When `wrap_var` encounters a `Mapping` subclass, which is immutable, it will try to mutate the mapping using `wrap_dict`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible/utils/unsafe_proxy.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

`wrap_var` should not attempt to modify an immutable mapping and

[2020-01-30 15:56] SylvainMartel opened #66954 "win_domain_group "Unable to contact the server. This may be because this server does not exist""
##### SUMMARY

Using win_domain_group with a WinRM connection returns

    "changed": false,
    "created": false,
    "msg": "failed to retrieve initial details for group L_EXP_Administrators: Unable to contact the server. This may be because this server does not exist, it is currently down, or it does not have the Active Directory Web Services running."
}

It seems the Domain Controler is refusi

[2020-01-30 15:56] igor-raits opened #66955 "lag in netbox_interface searches through all devices, not just current one"
##### SUMMARY
Specifying `lag` for the `netbox_interface` searches through the all devices instead of specific one.

[code]

will try to resolve `bond0` into the ID, however it will fail since it searches through all interfaces in Netbox. There is a code in `build_query_params()` to handle this case correctly, but `lag` option is a string and not dictionary. Changing it to dictionary of course hel

[2020-01-30 16:01] sivel commented on #66953
As of f8654de851a841d33d2d2e76942c68a758535e56 this is no longer the case.  In fact, since we cannot really support custom types, the value will be converted to a dict, but still wrapped with unsafe.

[2020-01-30 16:08] #66610 closed, assigned to nobody

[2020-01-30 16:09] Urth commented on #66953
A new dict also works for me, sorry for the noise.

[2020-01-30 16:09] #66953 closed, assigned to nobody

[2020-01-30 16:11] FragmentedPacket commented on #66955
@ignatenkobrain These have been moved into Ansible Collections. Can you please move to those and see if your issue persists? If the issue still exists, you're more than welcome to open an issue on the Github for those collections.

https://galaxy.ansible.com/netbox_community/ansible_modules

[2020-01-30 16:12] ldoktor commented on #66819
Hello @sivel, my fault I gave it another try and yes, it works well. The problem was an incomplete module that I was trying to use which I fixed before trying different config file. Now it works with both, config file or `-M`.

[2020-01-30 16:12] #66819 closed, assigned to Akasurde

[2020-01-30 16:41] samdoran commented on #66582
The IRC meeting schedule can be found [here](https://github.com/ansible/community/blob/master/meetings/README.md). Tuesdays at 1900 UTC and Thursdays at 1500UTC.

Please add the item to the [Februray 2020](https://github.com/ansible/community/issues/519) agenda along with your IRC nick.

[2020-01-30 16:44] #55917 closed, assigned to nobody

[2020-01-30 16:48] #65326 closed, assigned to nobody

[2020-01-30 17:11] kunaludapi opened #66958 "empty result for ./vmware_inventory.py and vmware_host_inventory.py after execution."
Hi Team,

I am trying to gather vcenter hosts inventory using ansible,
I am facing issue when exectuing **./vmware_host_inventory.py**, shows me empty results, and when using **./vmware_inventory.py --list** shows below empty json scaleton output. I am able to connect my vcenter using my custom script py/pyvmomi and that generates report. @Akasurde

[code]
below is the configuration of ansible
ans

[2020-01-30 17:24] samdoran commented on #50334
@kitos9112 In general, I have felt letting your automation tool have commit rights to a git repo could be dangerous. But I will agree that backing up network configs is the one place I can see it being useful. Having modules to commit to a repo would make Ansible a much more viable RANCID replacement (a tool I have used for years and really like).

[2020-01-30 17:25] dsglaser commented on #66363
That works as well. Just being able to see the data in some fashion would be great.

[2020-01-30 17:31] kinwolfqc commented on #66954
After searching for a while day, of course I find the solution only after opening the ticket.
Setting the `ansible_winrm_kerberos_delegation` value to true allows to bypass double hops issue and it worked.

[2020-01-30 17:31] #66954 closed, assigned to nobody

[2020-01-30 17:53] JGoutin opened #66959 ""ansible-galaxy collection build" should not package files in ".gitignore""
##### SUMMARY

Many people use Git as version control when writing Ansible roles and collection. And many Git repositories already include a `.gitignore` file.

The command `ansible-galaxy collection build` should look for `.gitignore` files and apply them when selecting files to package.

I see that the [doc](https://docs.ansible.com/ansible/devel/dev_guide/developing_collections.html#ignoring-fi

[2020-01-30 18:02] blackwood821 opened #66960 "imgadm module - add the ability to create an image from an existing zone"
##### SUMMARY

The `imgadm` command on SmartOS supports creating an image from an existing zone by running a command such as `imgadm create -s /path/to/prepare-image-script <vm-uuid> name=<image-name> version=<image-version>`. I don't see a way to invoke that via the `imgadm` module. I think this would be much better than just running the command via the `command` or `shell` modules.

##### ISSUE

[2020-01-30 18:03] jillr commented on #51108
There's quite a few places that would benefit from AWSRetry but it's not necessarily something we want or need to wholesale apply the same AWSRetry to every API call we make.  We have a backlog of unstable or failing [integration tests](https://github.com/ansible/ansible/projects/21) that are frequently indications of places that need retries.  Adding more [test coverage](https://github.com/ansibl

[2020-01-30 18:04] akamac commented on #24425
The workaround for dict with encrypted items, like
[code]
is to use `{{ config | string | from_yaml }}`.
Then you get unencrypted dict.

[2020-01-30 19:04] jborean93 commented on #66959
How would you ignore the gitignore entries and have them included in the build, what about people who aren't using git. The `build_ignore` is designed to be agnostic of the source control tool.

[2020-01-30 19:17] mnecas commented on #66722
Thank you for informing me tested on 2.9.4 and its working without problem.

[2020-01-30 19:17] #66722 closed, assigned to nobody

[2020-01-30 19:19] mnecas commented on #66723
Tested on 2.9.4 and works.
Might be resolved by #65776 .

[2020-01-30 19:19] #66723 closed, assigned to nobody

[2020-01-30 19:47] AirCombat opened #66963 "win_domain does not have the param LogPath"
##### SUMMARY
win_domain does not allow logpath to be set, this is however a common configuration item when using Install-ADDSForest and is less elegant to change later.

See my pull request for proposed fix https://github.com/ansible/ansible/pull/66956

The only detail is im not sure what value you want for the version in the docs 'added in x' so i put 2.10

##### ISSUE TYPE
- Bug Report

##### C

[2020-01-30 20:11] JGoutin commented on #66959
The idea is not to remove the `build_ignore`, just to add the support of the `.gitignore` if existing (by merging entries with it). And this can be optional.

`.gitignore` files are often quite large, especially if including IDE,  OS, ... stuff in addition of project related files.

[2020-01-30 20:18] jborean93 commented on #66959
My question is what do you do when you've had a file in the `.gitignore` because you don't want it in your version control but desire it in your collection artifact. If we just read from `.gitigore` then we now need another config option to say ignore this ignore.

[2020-01-30 20:27] rpluem-vf commented on #58619
Anything I can do to move #59772 forward?

[2020-01-30 20:33] samdoran commented on #64101
@thessell I agree. I would almost prefer the logic in `distro` to be reversed: favoring a list of well-known `*-release` files rather than blacking listing and falling back to the well-known list only if unable to find or read the first found `*-release` file.

I'm looking at ways to solve this by changing the way we call `distro`.

[2020-01-30 20:35] #66959 closed, assigned to nobody

[2020-01-30 20:35] samdoran commented on #55625
@pgbidkar That's the issue: VMware seems to have removed `multiprocessing`. See https://github.com/ansible/ansible/issues/55625#issuecomment-486434451

[2020-01-30 21:04] samdoran commented on #52354
@fbruetting

After discussing this internally, I believe the main concern is around the potential for a malicious user to set `XDG_CONFIG_PATH` to a path they control. On Unix, we assume `~/[anything]` to be safe. If `XDG_CONFIG_PATH` is set to `/var/tmp/xdg` and that directory did not exist, a malicious user could create it and redirect it via symlink to a path they control, or set the permission

[2020-01-30 21:41] geerlingguy commented on #59226
I hit this too; before namespacing `extends_documentation_fragment` I was confused about why the `validate-modules` test wasn't seeing my doc fragments.

[2020-01-30 22:07] geerlingguy opened #66968 "Unable to pass validate-modules sanity check if using custom type for arg spec"
### SUMMARY

In the Kubernetes `common.py`, a custom type is used for the `resource_definition` type, and this custom type is defined in a function `def list_dict_str(value)`. The spec is:

[code]

When I run `ansible-test sanity`, I get:

[code]

And if I define `type: raw` or `type: dict`, I get mismatch errors. There seems to be no way to reference a custom `type` in the documentation so I can

[2020-01-30 22:54] boazsh4 commented on #12565
I also have the same issue when I need some tasks to always run (as they are registering variables for later use) but I want to start running rest of the tasks where I failed.

Is this bug still relevant? Is there a workaround?

[2020-01-30 23:24] Tomasthanes opened #66971 "Extra-vars on command line not passed into Playbook"
##### SUMMARY

I'm passing an extra-var into a playbook (--extra-vars "target_profile=sbx") and the variable "target_profile" is undefined (or fails during parsing).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

extra-vars (ansible-playbook command line option)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

AWS EC2 instance running Ubuntu 16.04.

#####

[2020-01-31 00:01] fawaf commented on #53789
can this be merged yet?

[2020-01-31 04:47] minhio commented on #62844
having similar issue, encrypted on macosx, can't decrypt on ubuntu 18.04, debian 9/10.

[2020-01-31 05:19] felixfontein commented on #53789
@fawaf as soon as it gets a proper review.

[2020-01-31 08:37] kuntalFreshBooks opened #66974 "New Percona/MySQL 8 privileges with underscore is not working."
##### SUMMARY

New Percona/MySQL 8 privileges with underscore is not working.
the following error is coming

`MSG: invalid privileges string: Invalid privileges specified: frozenset({'BACKUP_ADMIN'})`

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

mysql_user module
most likely the new privileges needs to be added to lib/ansible/modules/database/mysql/mysql_user.py

##### ADDITIONAL INFORM

[2020-01-31 08:56] rabb1t opened #66976 "Make a configurable option to strip trailing newline character"
##### SUMMARY

Please make a configurable option to be able to write a password without trailing newline character.
It will make sense, for example, when you're generating a new passphrase for a **LUKS** container.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

'password' lookup plugin

##### ADDITIONAL INFORMATION
For example you can check the 'file' lookup plugin, that has the similar o

[2020-01-31 08:56] mkrizek commented on #66971
I cannot reproduce the issue:

[code]

[code]

[2020-01-31 09:06] zaskan opened #66977 ""undefined variable" error when updating from 2.8.2 to 2.9.4"
##### SUMMARY

Appears that some variables are not processed properly when update to 2.9 version. In this case I think that the problem is related with how Ansible is processing the variable:

`eap_ver_full: "{{ eap_ver_major }}.{{ eap_ver_minor }}.{{ eap_ver_patch }}"`

We tried to find out information about changes in the release notes but we couldn't find anything.

We really appreciate your he

[2020-01-31 09:27] sadanand25 opened #66978 "setup module failed on AIX servers"
##### SUMMARY

We are having ansible on Ubuntu server and we are making AIX as client.
we are planning for delete some files on AIX servers.   we able to ping servers from ubuntu server to AIX server.

when we run playbook its gives Module failure error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2020-01-31 09:50] sadanand25 commented on #66978
Thanks for reply..

we found two directories in server.
/usr/lib/python2.7/dist-packages/ansible/plugins/connection
/home/XXXX/ansible-2.0.1.0/lib/ansible/plugins/connection

where should i use !component

And how to identify inaccurate files...

[2020-01-31 10:29] zwindler commented on #66731
Looks good to me.

The crash is fixed in my environment and I confirm that the module is working as expected (don't touch if policy is already present, change if needed).

[2020-01-31 12:49] jonsbun opened #66983 "diff mode isn't working when copy module remote_src parameter is used"
##### SUMMARY

copy module with remote_src parameter in diff mode only returns state (CHANGED or SUCCESS), but files differences are not printout.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

copy, remote_src, check_mode, diff

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default Ansible configuration after fresh installation.

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO

[2020-01-31 13:01] salob opened #66984 "win_mapped_drive unable to add webdav network location"
##### SUMMARY
Can't use webdav url for path in this module
<img width="592" alt="image" src="https://user-images.githubusercontent.com/8070665/73541233-ce143480-4429-11ea-8c03-016c608d0e10.png">

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_mapped_drive
##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
mac-os mojave

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
mount the

[2020-01-31 13:06] #54045 closed, assigned to nobody

[2020-01-31 13:12] iroll007 opened #66985 "create olcOverlay=ppolicy with ldap_entry failed"
##### SUMMARY

When want to create the overlay

This is the ldif file that works :

dn: olcOverlay=ppolicy,olcDatabase={2}mdb,cn=config
changetype: add
objectClass: olcPPolicyConfig
olcOverlay: ppolicy
olcPPolicyDefault: cn=ppolicy,{{ base_dn }}
olcPPolicyHashCleartext: TRUE

But when we use ansible with have this error :

fatal: [ldap.local -> ldap.local]: FAILED! => changed=false
  details: '{''

[2020-01-31 14:04] utoddl commented on #14130
"omit" really needs to be a first class citizen rather than just a hack for module parameters. The following code, written in good faith, passes `ansible-lint` and even works on our hosts with private IPs.
[code]
There's a work-around for the `delegate_to` problem ("d(inventory_hostname)"), but it's still doing the `delegate_to`; the environment ends up pretty badly broken on public IP hosts as po

[2020-01-31 14:24] Andersson007 commented on #66974
@kuntalFreshBooks hello, which Ansible version do you use?

[2020-01-31 14:29] Andersson007 commented on #66974
BACKUP_ADMIN is presented in the frozenset since 2.8. Could you please upgrade Ansible and check.
If it is Ok, please, close the issue then

[2020-01-31 15:14] kuntalFreshBooks commented on #66974
[code]

[2020-01-31 15:21] stmarier commented on #66977
I can confirm this is happening to me as well upgrading from 2.8.0 to 2.9.4

In one task we discover stack outputs from cloudformation using `cloudformation_info`.  We can use a debugger/debug module to get the data we need through a normal lookup chain (ex `register['cloudformation'][stack_name][etc]`.

The next task is to push another cloudformation template using `lookup('template')` and the lo

[2020-01-31 15:28] Jo-Jo0 commented on #66413
I use apt show $package to verify the package state. The 'APT-Manual-Installed' Flag changes by running the described actions.
The flag switches from no to yes after the playbook run in check mode.

[2020-01-31 15:32] #57533 closed, assigned to nobody

[2020-01-31 15:37] sivel commented on #66928
Generally speaking, this is expected. Ansible uses ssh ControlPath for performance, which does not log into the target host between every task. As such, changes to that user like group modifications will not take immediate effect.  You may need to use `- meta: reset_connection` to facilitate your needs: https://docs.ansible.com/ansible/latest/modules/meta_module.html

If you have further questions

[2020-01-31 15:37] #66928 closed, assigned to nobody

[2020-01-31 16:08] mxmo0rhuhn commented on #63067
ping.

We also just ran into this "documentation error". This is quite poor for the documentation of a package maintained by the Ansible Core Team.

[2020-01-31 16:26] Andersson007 commented on #66974
@kuntalFreshBooks Thanks, strange
could you also please
1. give the related part of your playbook
2. Run it again with -vvv key and put the output here (or attach a file with the output)

[2020-01-31 16:26] jklaiho commented on #48890
Switched to using the code in https://github.com/ansible/ansible/pull/66876 as that PR is more comprehensive.

[2020-01-31 16:34] kuntalFreshBooks commented on #66974
here goes the output..

[code]

[2020-01-31 16:35] kuntalFreshBooks commented on #66974
@Andersson007 I think we just have add the new MySQL privileges in modules/database/mysql/mysql_user.py. They are not there right now. I believe that is the problem..

[2020-01-31 16:39] Tomasthanes commented on #66971
@mkrizek, ah, you used just the "-e" rather than the "--extra-vars" command line argument.  I'll try that today.  There still might be an issue with the longer version of the command line argument.

[2020-01-31 16:40] mattclay commented on #66983
!component =lib/ansible/modules/files/copy.py

[2020-01-31 16:41] kuntalFreshBooks commented on #66974
I think now I know the issue your frozenset does not have the "_".. :)

[2020-01-31 16:47] ggoyal23 opened #66989 "Unable to install win_chocolatey using Ansible Playbook and OpenSSH connection, Getting Error Failed to find choco.exe"
##### SUMMARY
Getting error while running ansible playbook on windows 10 host machine to install chocolatey manager "**Failed to find choco.exe, make sure it is added to the PATH or the env var 'ChocolateyInstall' is set", "rc**": 0

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
ansible 2.9.4
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u

[2020-01-31 16:49] kuntalFreshBooks commented on #66974
after further digging this PR which is closed without merging had the solution
https://github.com/ansible/ansible/pull/63086

[2020-01-31 17:04] domroutley commented on #55051
I also had this issue.

Did a bit of digging into the code to see if I could find the underlying problem.

The `matches` return variable is only set by two functions ([`get_element_text`](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/files/xml.py#L674) and [`get_element_attr`](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/files/xml.py#L685)), these functions

[2020-01-31 17:39] Tomasthanes commented on #66971
@mkrizek, it _does_ work with "-e".  Since the documentation says that it works with "--extra-vars", I expected it to work with that longer version of the command line option as well.

Thank you for the work around.

[2020-01-31 17:58] mkrizek commented on #66971
I works with both `-e` and `--extra-vars` for me. I do not see why those two options could behave differently as they point to the same thing:

https://github.com/ansible/ansible/blob/3dbc03d58a9dc17d3bb11873b026eeb3f001564b/lib/ansible/cli/arguments/option_helpers.py#L347-L350

[2020-01-31 18:11] Tomasthanes commented on #66971
That's what was surprising to me too.

[2020-01-31 18:23] Bahu2016 opened #66992 "na_ontap_volume, cannot have option uid and gid for nfs volume"
##### SUMMARY
na_ontap_volume didn't find the option to provide uid and gid for nfs volume

Through CLI we can set user and group permission, but not sure whether it is possible with module or it is required feature enhanced.

Eg: volume create -volume vol_v4 -aggregate aggr_110 -size 20GB -state online -type RW -policy default -unix-permissions ---rwxr-xr-x -space-guarantee volume -snapshot-polic

[2020-01-31 18:47] Andersson007 commented on #66974
got it! thanks, i am in progress of fixing now

[2020-01-31 19:07] Andersson007 commented on #66974
@kuntalFreshBooks https://github.com/ansible/ansible/pull/66995
thank you for reporting this!
I changed the current wrong options and added several absent.
Could you please look and put shipit in the PR if it is ok for you

[2020-01-31 19:27] kuntalFreshBooks commented on #66974
@Andersson007  it looks great, where and how should i put ship it. Pardon me this me reporting a issue first time in ansible world. I am not really aware of the process here

[2020-01-31 19:28] Andersson007 commented on #66974
@kuntalFreshBooks  just put ```shipit``` to a separate line, that's enough, thanks!

[2020-01-31 19:30] kuntalFreshBooks commented on #66974
@Andersson007 done in the PR. Hope that works

[2020-01-31 19:32] Andersson007 commented on #66974
@kuntalFreshBooks sure, thanks!

[2020-01-31 19:34] Andersson007 commented on #66974
there are some unrelated unstable CI tests that fail all the time but we'll certainly cope with them. After merging i backport them to 2.9, 2.8, 2.7

[2020-01-31 19:36] kuntalFreshBooks commented on #66974
so i can pull them now?

[2020-01-31 19:38] Andersson007 commented on #66974
unfortunately not now, probably after the next minor release.

[2020-01-31 19:39] kuntalFreshBooks commented on #66974
thanks a lot for a prompt response. will keep an eye on the release schedule..

[2020-01-31 19:40] Andersson007 commented on #66974
if you need only BACKUP_ADMIN now, you can find mysql_user.yml in your filesystem, backup it first, and change ```BACKUP ADMIN``` to ```BACKUP_ADMIN```, it should work

[2020-01-31 19:42] kuntalFreshBooks commented on #66974
will do that. thanks for the suggestion

[2020-01-31 19:42] Andersson007 commented on #66974
mysql_user.py, not .yml, sorry:)

[2020-01-31 19:44] #66974 closed, assigned to nobody

[2020-01-31 20:59] MLCoco commented on #63686
@samdoran Hi, can I work on this issue please? From what I understand, the `open_url()` function needs the headers to be normalized, similar to the `fetch_url()` function?

[2020-01-31 20:59] kareemhageali commented on #64523
I noticed that this was unassigned and was wondering if I could work on this. @mattclay

[2020-01-31 21:01] kareemhageali commented on #65450
Hey @sivel , I was wondering if I can work on this?

[2020-01-31 21:35] geerlingguy opened #67003 "TOML inventory examples in documentation are confusing"
##### SUMMARY

When browsing the [toml inventory source](https://docs.ansible.com/ansible/latest/plugins/inventory/toml.html) documentation, I found the examples included on that page to be confusing.

It looks like there should be three separate example TOML files, but instead, there's one code listing, with three YAML parameters, like:

[code]

This makes it confusing as to how I'm supposed to f

[2020-01-31 21:41] sivel commented on #67003
This could best be described as a shortcoming of our need to enforce that plugins have only valid YAML in EXAMPLES. Since CI enforces it, this is the only way to represent it. Ini looks the same.