[2018-02-22 12:30] fmiguelez commented on #23663
In our case it is failing with Ansible2.4. We use final state "poweredon", not "present".

It should be idempotent with any state, shouldn't it?

[2018-02-22 12:35] privateip commented on #36567
@Sunil788 I don't believe this is a bug but rather how Ansible works.  The heuristics that mask passwords will mask all occurrences of that string when returned from the module.  In this case,  hchnage your password to being something other than `nios` and the message will not be obfuscated.

[2018-02-22 12:56] offlinehoster opened #36578 "playbook_dir is ending with FAILED! "msg": "template error while templating string: unexpected '/'. String:"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/vars

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no output from ansible-config dump --only-changed

##### OS / ENVIRONMENT
Ubuntu 17.10 64bit

##### SUMMARY
While using {{ playbook_dir }} for example with debug - i'm getting an issue like

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Getting the real value f

[2018-02-22 13:07] anthonygreen commented on #26359
Same issue

Host
OS X: 10.11.6
Ansible: 2.4.3.0
Python: 2.7.10

Destination VM
xenial

    localhost> (0, '
    {"started": 1, "invocation": {"module_args": {"jid": "391783402491.7383", "mode": "status"}}, "finished": 0,     "ansible_job_id": "391783402491.7383"}
    ', 'OpenSSH_6.9p1, LibreSSL 2.1.8
    debug1: Reading configuration data /etc/ssh/ssh_config
    debug1: /etc/ssh/ssh_config line 21

[2018-02-22 13:07] offlinehoster commented on #36578
!component @ansibot

[2018-02-22 13:09] offlinehoster commented on #36578
!component +lib/ansible/vars/

[2018-02-22 13:11] chouseknecht commented on #36554
@twhiston

Thanks for reporting this. The OpenShift python client has been moving a little bit, in terms of getting to a stable 0.4 release. I think we're going to pin Ansible 2.5 to 0.4.3.

Testing this now with 0.4.3. Will report back with findings...

[2018-02-22 13:14] chouseknecht commented on #36554
@twhiston

Here's what I'm testing with:

[code]

And Ansible:

[code]

[2018-02-22 13:19] offlinehoster commented on #36578
!component +lib/ansible/vars/ @ansibot

[2018-02-22 13:23] selmison commented on #36300
You're correct, @giovannisciortino.  The api `api/hosts/:id` retrieve more host data than `api/hosts/:id/enc`.

But most of these data retrieved by `api/hosts/:id/enc`, as for example `ssh_authorized_keys` of `foreman_users`, are not retrieved by `api/hosts/:id`.

It might be interesting a new option "collect_enc_host_data" disabled for default  is added in foreman.ini.

[2018-02-22 13:23] gundalow commented on #36153
Is `display device` a valid command on IOS?

[2018-02-22 13:31] chouseknecht commented on #36554
@twhiston

With the above configuration, I'm running into the same error you're seeing. Will get it resolved today, and push the change into `stable-2.5`.

[2018-02-22 13:36] trishnaguha commented on #36499
@victorock `10150` is L2 VNI, so this needs to be associated with a vrf.
so you will need to have a task to associate vni with a vrf prior to configuring:
[code]
This should solve your problem.

[2018-02-22 13:43] chouseknecht commented on #36554
@twhiston

Fixed here https://github.com/ansible/ansible/pull/36580

[2018-02-22 14:02] liquidat opened #36582 "'order' keyword allows invalid values"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

'order' keyword for plays

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- managing host: Fedora 27
- managed nodes: CentOS 7.4

##### SUMMARY

The order keyword has the following possible values, according to documentation:

- inventory
- reverse_inventory
- sorted
- reverse_sorted
- shuffle

However, usi

[2018-02-22 14:11] fmiguelez commented on #23663
It fails with any state, not only "poweredon". Tested on ansible 2.4.2.0.

[2018-02-22 14:27] gundalow commented on #36153
Is netengine a Huawei device?
The `ios_` modules are for Cisco IOS.

[2018-02-22 14:51] bcoca commented on #36578
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The `debug` module's `var` option takes a variable name, by templating it you are telling it to use the value of `playbookd_dir` as a v

[2018-02-22 14:51] #36578 closed, assigned to nobody

[2018-02-22 14:55] offlinehoster commented on #36578
Hi @bcoca ,

i am sorry, you right by this.

But i got this issue when i'm using this var for example with the following playbook

[code]
This ends with the issue above...

[2018-02-22 14:58] gdpak commented on #36351
merged fix for 2.4.4 https://github.com/ansible/ansible/pull/36566

[2018-02-22 14:58] #36351 closed, assigned to gdpak

[2018-02-22 15:17] sivel commented on #36536
Re-opening as I'm not sure this is resolved yet.

[2018-02-22 15:20] selmison commented on #36300
@giovannisciortino please see also [https://community.theforeman.org/t/differences-between-apis/8428](https://community.theforeman.org/t/differences-between-apis/8428)

[2018-02-22 15:26] offlinehoster opened #36584 "playbook_dir var is ending with FAILED! "stderr_lines": ["/bin/sh: 1: cd: can't cd to…"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/vars

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no output from ansible-config dump --only-changed

##### OS / ENVIRONMENT
Ubuntu 17.10 64bit

##### SUMMARY

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Getting the real value for the var

##### ACTUAL RESULTS
Getting this information

[code]

[code]

But wit

[2018-02-22 15:27] offlinehoster commented on #36578
new issue see https://github.com/ansible/ansible/issues/36584

[2018-02-22 15:31] sivel commented on #36576
The cause to this is that `import_playbook` only accepts a single string identifying a single playbook.  It does not accept a list of playbooks.

I'll leave this open as the traceback is still a bug.

[2018-02-22 15:33] offlinehoster commented on #36584
!component +lib/ansible/vars/ @ansibot

[2018-02-22 15:37] bcoca commented on #36584
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-02-22 15:37] #36584 closed, assigned to nobody

[2018-02-22 15:41] offlinehoster commented on #36584
Why is this a user question @bcoca

[2018-02-22 15:46] keltik85 opened #36585 "systemd module - Could not find the requested service XXX: host"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
systemd

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
**Host:**
[code]

**Guest:**
[code]

##### SUMMARY
Ansible thinks that there is no `mongod` service at all on the guest-machine and does not restart the service, although the service is only disabled, as this shell command strongly suggests:
[code]

##### STEPS TO

[2018-02-22 15:47] julienvey commented on #35811
Not sure this is really a bug in ansible. It's more a "strange" behaviour of the AWS API

On [this documentation page](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_AuthorizeSecurityGroupIngress.html), if you have a look at the `IpProtocol` attribute, it is said

And this is exactly how it works in the ansible module.

I think we should stay consistent with the AWS API. However, we co

[2018-02-22 15:51] RedBlood9 commented on #36576
Yeah, confirm that selecting only one playbook solved the issed.
I've tried before commenting the other, like this:
[code]
But it doesn't work anyways. Then I modified the playbook by this way and it worked:
[code]

Thanks
Red

[2018-02-22 15:56] victorock commented on #36499
@trishnaguha, assoc_vrf should only be used for L3 VNIs....

[2018-02-22 16:02] steaksauce- commented on #31822
If I understand correctly, it seems like the code you linked checks for a valid IP address (in which case `8.8.8.8:5333` is invalid because of `:8553`)?

I thought the problem might be that they are not using `dns.query.udp(OPTIONS)`, which supports a port. To be fair though, this may not have been a feature in dnspython when the plugin was introduced.

I would say that if I had the skillset to co

[2018-02-22 16:48] petewilcock commented on #36192
Will close this with the solution outlined for this specific module and the pointer to the more generalised issue. Thanks!

[2018-02-22 16:48] #36192 closed, assigned to nobody

[2018-02-22 16:59] samdoran commented on #36156
@jsteel44 Thank you for verifying. This fix will be in Ansible `2.4.4` and Ansible `2.5.0.b2`.

[2018-02-22 17:08] jdschmitz15 commented on #35778
I upgraded and still see the same issue as version 2.2.1.   "Can not find job."  Does the .ansible_async  data on the node get deleted once the job is finished?  Should I ignore errors for a async_status task?

[2018-02-22 17:08] achrafamor commented on #23578
same issue in 2.4.1.0

[2018-02-22 17:13] wltjr commented on #21928
@webknjaz could you take a look at this and advise if anything needs to be done here, and/or make changes as necessary if you like. Thank you!

[2018-02-22 17:49] ozlevka-ericom commented on #36536
The input you ask me to post is done:
[code]

[2018-02-22 17:54] sivel commented on #36536
@ozlevka-ericom thank you for the update.  I'll continue to investigate the cause to this.

[2018-02-22 18:20] giovannisciortino commented on #36300
@selmison thanks for the clarification about you needs and the research of documentation about it.
I can try to work on it in my spare time. If I create a PR related to this issue, I'll ping you asking the pleasure to review and test it if you have a environment where you can test it because I have only a small lab Satellite 6.2 server with few test hosts where I test this foreman inventory.

[2018-02-22 18:23] unacceptable opened #36594 "Programmatically execute Ansible with a dynamic inventory."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible.playbook

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
EL 7.x

##### SUMMARY
How come we have to specify a file for an ansible inventory when executing ansible programmatically?  I believe that it should be allowed to pass in a python variable containing valid YAML, INI, or JSON.

This has been bugging me since I first noticed

[2018-02-22 18:25] sivel commented on #36594
Internal Ansible API
====================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us
to have an active community that is willing to submit feedback so that we may
continue to make Ansible better.

The internal Python API is considered an unsupported aspect of Ansible and this
is not considered a bug unless there is an issue with an Ansible binary
(`ansib

[2018-02-22 18:25] #36594 closed, assigned to nobody

[2018-02-22 18:30] jswart commented on #34296
@shurkaxaa I just added the `persistent_boot_disk=true` field to my gce ansible command and it resolved the issue. I now see my instances deployed with the proper disk size (yay!).

I think that if you use the `disk_size` option, it should infer that the `persistent_boot_disk `option is set. Perhaps that should be raised as a true bug if it is not already.

Thank you for taking the time to investi

[2018-02-22 18:54] rdalbenzio commented on #23065
Hello, is the fact that when your run os_stack create it does an undate instead of doing nothing in case nothing changes. I'm asking as I would have expected to have an ok and not a changed state when I run the same os_stack multiple times.

[2018-02-22 19:37] bcoca commented on #36594
Just create an inventory plugin that supports this

[2018-02-22 19:42] rgm3 commented on #12034
This breaks here document use in the shell module.  For example:
[code]

The end-of-document marker will never be hit because a space is inserted before.  This does not affect the command module.

[2018-02-22 19:47] robocoder opened #36596 "shallow git: supporting more than one refspec"
# ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
source_control/git

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible Host: MacOS High Sierra; Python 2.7
Managed Host: Linux - Ubuntu 16.04 LTS (Xenial); git 2.16.2

##### SUMMARY
Doesn't handle multiple [refspec](https://git-scm.com/book/en/v2/Git-Internals-The-Refspec).

##### STEPS TO REPRODUCE

[code]

#####

[2018-02-22 20:07] samdoran commented on #36463
From digging through various `facts` files , we definitely are reporting numbers in base 2. I can add a note to the `setup` module docs clarifying this.

Adding another field that provides bytes is probably best way to solve this since we can't modify the existing field for backwards, as @dagwieers noted.

cc @alikins

[2018-02-22 20:18] jborean93 commented on #36341
@kkehres thanks for the responses, it still would be great if you could manually try out NTLM with the account to rule out some sort of Kerberos change with fetch that is causing the issue. I'm not suggesting use it from now on but just as a way to try and debug what is happening. The reason why I ask if your log indicates some error is occurring during the mutual authentication phase

[code]

[2018-02-22 20:18] chopraaa commented on #34296
Just found this after Ansible started throwing errors saying my disk was full...

Wouldn't `persistent_boot_disk` keep the boot disk even after instance deletion?

[2018-02-22 20:30] jswart commented on #34296
@chopraaa based on the articles you would be right:[https://cloud.google.com/compute/docs/disks/#pdspecs](url)

So this isn't the bullet proof solution I was hoping for. There has to be a way to decouple setting the persistent disk from actually just setting a disk size.

[2018-02-22 20:40] robocoder commented on #36596
Nevermind. Came up with a workaround.

[2018-02-22 20:40] #36596 closed, assigned to nobody

[2018-02-22 20:44] jswart commented on #34296
Well maybe it still is the solution. When I view my instance, I see a selected checkbox for:
`Delete boot disk when instance is deleted`

So, hopefully, I can assume that my persistent disk is deleted on instance deletion, but now there is even more confusion as to the true behavior of these gce options.

[2018-02-22 20:47] dagwieers commented on #36463
Please look at the Windows facts, because IIRC we are already doing it there.

[2018-02-22 21:05] samdoran commented on #36475
I'm not able to duplicate this in `2.4.3`, `2.5.0a1`, `2.5.0b1`, `v2.5.0b2`, or `devel`.

I do see the duplicate file error when I have both `main.yml` and `main.yaml` in the the `handlers` directory.

Could you provide a more detailed example of your role?

Here is what I used to test.

[code]

`role1/handlers/main.yaml`:
[code]

`role1/tasks/main.yaml`:
[code]

[code]

[code]

needs_info

[2018-02-22 21:10] danielmotaleite opened #36599 "second usage of truncate filter fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
jinja

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Distributor ID:	Ubuntu
Description:	Ubuntu 17.04
Release:	17.04
Codename:	zesty

##### SUMMARY
Running 2 truncate filters, the second one is ignored

{%   set zone1 = ansible_hostname|reverse|truncate(3,true,'')|reverse|truncate(1,true,'') %}
This should retu

[2018-02-22 21:11] UnitedMarsupials-zz opened #36600 "When listing multiple inventories, variables of the last-listed "win""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No changes from default.

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Using the "Altnernative Directory Layout" described on the ["Best Practices Page"](http://docs.ansible.com/ansible/latest/playbooks_best_practices.html#directory-layout), I have set up multiple inventories, each with

[2018-02-22 21:11] samdoran commented on #36490
!component=lib/ansible/modules/system/iptables.py

[2018-02-22 21:15] bcoca commented on #36600
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Ansible only sees one inventory in the end, you can specify 'multiple sources' but they all get merged into a single inventory.
If a ho

[2018-02-22 21:15] #36600 closed, assigned to nobody

[2018-02-22 21:19] faoiseamh commented on #36475
I was just adding to this - from further testing I can't reproduce the issue either. Thanks for taking the time to look into it!

My handlers failed to be found with both file names. I was unable to reproduce this in a more controlled environment -- the failures were happening within several layers of automation within an AWS CodeBuld container so it was tricky to debug further in that specific en

[2018-02-22 21:20] chouseknecht commented on #36554
Merging the fix into `devel`, and closing this issue.

[2018-02-22 21:20] #36554 closed, assigned to nobody

[2018-02-22 21:21] sivel commented on #36536
@ozlevka-ericom I've just confirmed that the PR that closed this issue, does in fact resolve the problem

The fix will be included in ansible 2.4.4, 2.5.0, and 2.6.0

[2018-02-22 21:28] UnitedMarsupials commented on #36600
In that case, an attempt to redefine the already set variable should trigger a warning or even an error.

But, although you are perfectly free to define, how you want these things to work, my argument is, the current choice is not useful.

Invoking ansible once with multiple inventories listed on command-line should result in the same variable-values as invoking it once _for each inventory_. The f

[2018-02-22 21:58] UnitedMarsupials commented on #20026
FWIW, I found this ticket after my #36600 got rejected... Sad, how deficient the current handling of multiple inventories is. Yes, we could compensate for it with custom scripts, but that's true for the entire Ansible, is not it?

[2018-02-22 22:15] samdoran commented on #36490
I'm able to duplicate this and found the problem: [this join](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/system/iptables.py#L376) is turning the strings into lists.

[2018-02-22 22:28] git-harry opened #36605 "apt_repository never updates the APT cache on retry"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
apt_repository

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.3 LTS
Release:	16.04
Codename:	xenial

##### SUMMARY

On the first attempt `apt_repository` updates the configuration file and then tries to update the cache. If the cache update fails, and the task is set

[2018-02-22 22:50] sivel commented on #36599
This appears to be an issue with your installed version of jinja2.

With `Jinja2==2.10` and updating to account for the change in the `leeway` argument:

this expression:

[code]

Outputs:

[code]

If you have further problems with the jinja2 provided filters, please consider reporting bugs for them at https://github.com/pallets/jinja

If you have further questions please stop by IRC or the mailin

[2018-02-22 22:50] #36599 closed, assigned to nobody

[2018-02-22 23:00] alikins commented on #36463
@Routhinator which facts in particular?

ansible_memory_mb
ansible_memfree_mb
ansible_memtotal_mb
ansible_swapfree_mb
ansible_swaptotal_mb

for linux, those are are in bytes / 1024 /1024 so, MiB rounded to nearest MiB.
osx and bsd seem to be same.

The unit or the facts names are not going to be changed, so converting desired
unit in jinja is most practical work around.

I would tend to agree that

[2018-02-23 00:44] hitoshi-isa commented on #28210
I'm sorry for the late reply.
i check this issue.(ansible version 2.4.2.0)→it works properly.
thanks for your support.

[2018-02-23 01:13] agrimal commented on #14131
Just found a workaround for recursive copy from remote to remote :

`- name: List files in /usr/share/easy-rsa
  find:
    path: /usr/share/easy-rsa
    recurse: yes
    file_type: any
  register: find_result

- name: Create the directories
  file:
    path: "{{ item.path | regex_replace('/usr/share/easy-rsa','/etc/easy-rsa') }}"
    state: directory
    mode: "{{ item.mode }}"
  with_items:
    -

[2018-02-23 01:28] steaksauce- commented on #29904
Has this been fixed in later versions? On the same note, is 2.0.0.2 still supported?

[2018-02-23 01:32] steaksauce- commented on #30179
The PR should be in the 2.5 release (per comments in the PR). Just an FYI if someone stumbles on this one :)

[2018-02-23 01:38] #36475 closed, assigned to nobody

[2018-02-23 01:44] troxil commented on #19593
@Akasurde I did refactor this use to be using the `vmware_guest` module instead. This working as expected.

This ticket can be closed referring to it's use against `vsphere_guest` which is basically deprecated.

[2018-02-23 01:44] #19593 closed, assigned to nobody

[2018-02-23 02:49] lassizci opened #36614 "decreased performance on inventory loop"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- core

##### ANSIBLE VERSION

[code]

[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
Fedora 26

##### SUMMARY
Close to 3x performance regression when looping through variables with debug.

##### STEPS TO REPRODUCE
inventory and variable setup:
[code]

playbook test_with_vars.yml:
[code]

to test:
[code]

##### EXPECTED RESULTS

Res

[2018-02-23 02:56] lassizci commented on #36614
originally tested with just `devel` but seems to affect 2.5.0 too..

[2018-02-23 03:12] dagwieers commented on #36463
To clarify, the default Windows memory size is still in MB:
[code]
And I would definitely add `ansible_memtotal` and `ansible_swaptotal`. But maybe we should take this opportunity to put these new values in a better hierarchy/structure, like: `ansible_memory.total` and `ansible_swap.total` so that we can add free, used, etc. And later we can hopefully access it as
`facts.memory.total` and `facts.s

[2018-02-23 03:13] Akasurde commented on #19593
@troxil Would you like to raise PR against `vmware_guest` for whatever you have done as part of refactor ?

[2018-02-23 03:15] selmison commented on #36300
Great, @giovannisciortino! It will be a pleasure to help in any way possible.

[2018-02-23 03:30] kyliel commented on #36206
@zikalino , could you please take a look? Thanks.

[2018-02-23 03:34] kyliel commented on #36206
@jigarjian-brian double confirm. Do you mean you could get some VMs boot up with the same playbook and some failed? Thanks.

[2018-02-23 03:59] msven commented on #35993
I think this arose with some changes made to the update_size method. update_size used to modify the group dict passed into it, but that was changed so the changes aren't seen outside the call.

As a result, the wait_for_new_inst call here https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_asg.py#L1238 doesn't see the new "min_size" so it goes straight into terminate

[2018-02-23 04:15] msven commented on #28087
I ran into this issue as well.  Looking into it I think the issue is related to `lc_check: false` in combination with `replace_all_instances: yes`. I believe I understand where the issue is and will try to submit a pull request for a fix this weekend.

Also, giving the specific replace_instances list worked for me instead of using `replace_all_instances` as a temporary workaround. e.g.
[code]

[2018-02-23 04:16] trishnaguha commented on #28210
Thanks! Closing the issue marked as resolved.

[2018-02-23 04:16] #28210 closed, assigned to privateip

[2018-02-23 05:00] zikalino commented on #36206
@jigarjian-brian i am going to try to reproduce this. in a meanwhile quick question: how was this vm created in first place?

[2018-02-23 05:03] MikeStutzzzz commented on #36568
I am also being affected here is a full Traceback
The full traceback is:
Traceback (most recent call last):
  File "/tmp/ansible_lktfSm/ansible_module_dellos6_config.py", line 286, in <module>
    main()
  File "/tmp/ansible_lktfSm/ansible_module_dellos6_config.py", line 249, in main
    config = Dellos6NetworkConfig(contents=config, indent=0)
  File "/tmp/ansible_lktfSm/ansible_modlib.zip/ansible

[2018-02-23 05:24] 1ambda commented on #33417
This is brew version of ansible's problem.

I am using OSX and had the same error in ansible 2.4.3.0 (installed via `brew install ansible`)
After switching ansible installed by `pip install ansible`, it works.

Hope this would be helpful

[2018-02-23 05:37] jikamens opened #36615 "nmcli does not set ipv4.method to manual when IP address is specified, no way to make it do so"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
nmcli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Nothing is changed.

##### OS / ENVIRONMENT
Ubuntu 17.10 64-bit

##### SUMMARY
Assigning static IP with `nmcli` module doesn't have any effect unless `ipv4.method` is set to `manual`, and there's no way to do that with the module.

##### STEPS TO REPRODUCE
I tried to use the task shown b

[2018-02-23 05:47] zikalino commented on #36206
i have tried to reproduce this, and it works for me:
- created standard Ubuntu VM
- stopped VM
- tried your playbook
- VM powered up

That suggests there must be some difference in case of VMs which are failing. Are you able how these machines differ from successful ones?

[2018-02-23 06:21] wrouesnel opened #36616 "Need ansible_scp_executable and ansible_sftp_executable"
##### ISSUE TYPE
 - ~~Bug  Report~~
- Feature Idea

##### COMPONENT NAME
~~playbook_executor~~
connection/ssh

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible allows you to override ansible_ssh_executable but does not allow overriding the scp and sftp executable paths. When using wrapper scripts, you probably want to override these comman

[2018-02-23 06:58] volkovsd commented on #13320
WARNING: All keys were skipped because they already exist on the remote system.
		(if you think this is a mistake, you may want to use -f option

[2018-02-23 07:04] harrytruman commented on #31620
I just saw this error pop up with someone I was [tmux] screen-sharing with today. We verified over and over that we were using the same password; sure enough, it's repeatable.

It seems to be a text encoding problem. I use Mac/RHEL/Fedora for my dev envs, and I've never seen this happen. However, my coworker uses Windows, and I verified via tmux that it's repeatable both with putty and WSL bash fr

[2018-02-23 07:40] liqingkai2017 commented on #36153
@gundalow
I Think the ansible network_cli can generate socket by ssh and communication itself does not distinguish between devices.
As the logs shows,it seems that the problem happend when ansible tried to generate the socket by ssh but not the different device reason to make it happen.And I think the communication establishment itself has nothing to do with the device type

the detail information

[2018-02-23 07:58] ykrmy opened #36620 "Gathering Facts failed when connecting Windows via credssp"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Gathering Facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

From: Scientific Linux release 6.3 (Carbon)
To: Windows Server 2012 R2 (Domain Controller)

##### SUMMARY

When I tried to connect Windows Server via credssp, Ansible failed in Gathering Facts step.
Windows Server in our company's domain, so I

[2018-02-23 08:22] ahmadmayahi commented on #25941
Maybe it could not be a good answer, but I solve it by installing Python on the destination server, I don't know why but it worked for me.

[2018-02-23 08:47] phandox commented on #36169
I also encounter this issue, using ansible 2.4.3.0.

[2018-02-23 09:07] mkrizek commented on #36614
cc @jimi-c @sivel

[2018-02-23 09:08] ingokofler opened #36621 "Authentication fails for federated Azure tenants"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
ansible_module_azure_rm_*

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Azure Module cannot authenticate users when using federated Azure tenant

##### STEPS TO REPRODUCE
Use a federated tenant that requires the authentication to a on-premise AD service and a valid user/password.

[code]

#####

[2018-02-23 09:15] ingokofler opened #36622 "Provision Azure VMs without allocating public IPs"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
azure_rm_virtualmachine_module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The current implementation of the VM provisioning module always tries to allocate a public IP for the VM. There is no simple way to turn of this via a setting. The only workaround that exists is to first create a NIC first an

[2018-02-23 09:26] ingokofler opened #36624 "Increase Azure network interface provisioning flexibility"
##### ISSUE TYPE
Feature Idea

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME
azure_rm_networkinterface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
The current implementation of the azure_rm_networkinterface does not allow to create a NIC in a resource group R and connect it to a virtual network in a different resource gro

[2018-02-23 10:33] ramonamis opened #36628 "elb_target_group modules sometimes throws a TypeError"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
elb_target_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
While trying to create a target group with ansible most of the time works, sometimes it throws the following error:
[code]
Re-running works like a charm, with exactly the same code

##### STEPS TO REPRODUCE

This is the code I am using to

[2018-02-23 10:34] salmomraj commented on #14822
when I run my ansible role with following command I got following

 ansible-playbook -i inventory site.yml --ask-pass
SSH password:

fatal: [127.0.0.1]: FAILED! => {"changed": false, "module_stderr": "Shared connection to 127.0.0.1 closed.\r\n", "module_stdout": "sudo: a password is required\r\n", "msg": "MODULE FAILURE", "rc": 1}

[2018-02-23 10:37] cympfh opened #36629 "Integers passed around using jinja2 variable references are converted to strings"
The bug  #9362 is available.
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
templar
##### ANSIBLE VERSION
- Ansible: 2.4.3.0
    -   python version = 3.6.2 |Anaconda custom (64-bit)| (default, Jul 20 2017, 13:14:59) [GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]

##### STEPS TO REPRODUCE
[code]
##### ACTUAL RESULTS
[code]

##### CONFIGURATION
##### OS / ENVIRONMENT
##### SUMMARY
#####

[2018-02-23 10:54] nbari opened #36631 "cs_sshkeypair.py return FAILED when renaming a key"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
cs_sshkeypair

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT
N/A

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

Change name to: `my-key-2` or something different and run again the playbook:

    ansible-playbook name-of-the-pb.yml

It will only work for the 2nd time, but the first one will get an error.

[2018-02-23 10:55] ingokofler opened #36632 "Azure authorization problem on NIC provisioning"
##### ISSUE TYPE
Bug report

##### COMPONENT NAME
azure_rm_networkinterface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]

##### SUMMARY

When provisioning a NIC and attaching it to a virtual network, the VM contributor role should be sufficient to perform that operation. However, due to the actual implementation of the Ansible module also read permission on t

[2018-02-23 11:02] dagwieers commented on #36519
It is an action plugin, not an actual module.

That said, we could support `delegate_to` one way or the other, but as I already indicated you don't need to use `delegate_to` in your example. Just target your newly added nodes in a new play and it will actually wait for all your hosts to come online in parallel.

So in my humble opinion `delegate_to` support is not really required.

[2018-02-23 11:30] gundalow commented on #36153
Hi,
For the connection to be successful, the prompt returned by the device needs to match.

We have modules for http://docs.ansible.com/ansible/latest/list_of_network_modules.html#cloudengine

[2018-02-23 11:56] kyliel commented on #36621
@zikalino will work on it.

[2018-02-23 11:57] kyliel commented on #36622
Bug fix is needed. @zikalino will work on it.

[2018-02-23 11:57] kyliel commented on #36624
Documentation should be updated. @zikalino will work on it.

[2018-02-23 11:57] kyliel commented on #36632
@zikalino will work on it.

[2018-02-23 12:01] rleigh-codelibre commented on #36427
While I provided a diff of the user shadow password data, it may be the case that something else was modified in addition to this file.  I'm not a MacOS X auth expert, so I don't know what else could be at fault.  But I'm happy to do further testing and provide more data.

[2018-02-23 12:16] tterranigma commented on #36519
OK.

I don't want to waste your time, but I think there is a UX issue here. How is a user supposed to know that delegate_to and other properties are not used by action plugins? I did not find any relevant information in the documentation (eg [this](http://docs.ansible.com/ansible/devel/plugins/action.html) says nothing about the issue). Neither do plugins' docs say anything about that (eg [here](h

[2018-02-23 12:46] dagwieers commented on #36519
@tterranigma I agree, the module documentation is not very clear about the distinction. I can only assume this is done to not confuse users too much. As some modules consist of an action-plugin, and some are only an action-plugin, and all this affects how actions work.

Maybe best to open a new issue related to this so others can voice their opinion on this. I personally wouldn't mind making it mo

[2018-02-23 12:48] tterranigma commented on #36519
@dagwieers Thanks for your suggestions and advice. I will create a new issue for the documentation part.

[2018-02-23 12:48] dagwieers commented on #36519
I will keep this issue open because we may still implement `delegate_to` support as technically this is possible. I just don't know if this is desirable as it is counter-intuitive IMO.

[2018-02-23 13:02] hdimitriou opened #36635 "Docker volume incorrectly expects a list for labels - it should be a dict"
##### SUMMARY
`docker_volume` incorrectly expects a list for volume labels. Instead it should expect dictionary. We can find this on the docker-py definition too, it should be a [dict](https://github.com/docker/docker-py/blob/master/docker/models/volumes.py).

I think the fix is simple, in the `main()` of `lib/ansible/modules/cloud/docker/docker_volume.py` change type from list to dict `"labels=di

[2018-02-23 13:20] es1o commented on #32157
I still have this issue in 2.4.3.0 - please reopen this bug.

Both become_exe in ansible.cfg and ANSIBLE_BECOME_EXE doesn't work.
`module_stdout": "\r\nSorry, user my_useris not allowed to execute '**/bin/su** - user-c /bin/sh -c 'echo BECOME-SUCCESS-tfczlpeduednzqbuuumjnwytdlgkghxg; /usr/bin/python /tmp/ansible-tmp-1519391857.7-47182692798888/command.py'' as root on ap-hdpen1t.\r\n",`

[2018-02-23 13:28] hdimitriou commented on #36635
Created a PR https://github.com/ansible/ansible/pull/36638
Hasn't been linked with the issue

[2018-02-23 13:31] sebschrader commented on #17763
With CPython 3.6's new `dict` implementation for example, [`dict` will automatically be insertion-ordered](https://docs.python.org/3/whatsnew/3.6.html#new-dict-implementation).

[2018-02-23 13:39] dagwieers commented on #17763
@sebschrader When reading up on it, there's an important note added:

Not sure if *few releases* implies major versions, or minor versions, if not I don't think we can depend on that either. But I wouldn't mind if this behaviour/implementation was backported to v3.5, v2.7 (and even v2.6 ;-))

[2018-02-23 14:04] jigarjian-brian commented on #36206
Yes we are able to use this same playbook to start and stop other vms. The vms that we are able to start and stop seem to be ones that have been created through ansible or through the Azure portal recently. This particular vm was actually created manually, but is approximately 1.5 years old which is why I am tentative to say that all vms created manually through the portal work.

The vms that fail

[2018-02-23 14:21] dirkjonker commented on #15215
For me the fix was to set `AWS_SECURITY_TOKEN` to the same value as `AWS_SESSION_TOKEN`

[2018-02-23 14:32] kbreit opened #36639 "Module returned value documentation should explain 'returned' options"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_documenting.html#return-block

##### ANSIBLE VERSION
N/A since it's web documentation

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Documentation has the description for`returned` as "When this value is returned, such as always, on success, alway

[2018-02-23 14:50] julienvey commented on #34767
I have sent a PR (#36641) to fix this bug. It required an upgrade to boto3 since the `update_hosted_zone_comment` is only available in boto3.

@danmoz If you could test with the PR code, it would be awesome

[2018-02-23 14:52] julienvey commented on #36635
@hdimitriou You should add "Fixes #36635" in the summary section of your PR for it to be linked

[2018-02-23 14:55] danielmotaleite commented on #36599
Thanks @sivel , you are right, adding a `0` to the leeway fixed the problem!

rechecking the jinja documentation:
[code]
So this changed the behavior of the truncate filter, broke my existent templates and only now i did noticed it. :disappointed:

Again, thanks for the help

[2018-02-23 14:58] SnehitR commented on #24096
@madhucs  - I faced similar problem what resolution you got to fixed it ?
Please suggest !

[2018-02-23 14:59] gundalow commented on #36639
@kbreit Would you be interested in raising a PR to improve the wording:
https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/dev_guide/developing_modules_documenting.rst

[2018-02-23 14:59] gundalow commented on #36153
For example https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/terminal/ios.py#L30-L50 defines the prompt match for `ios_`.

1) Can you confirm that the ios modules continue to work on `devel` and `stable-2.5` branch for IOS

2) If this issue is only about ios modules not working on IOS then we will close this.

For more background information on how this works see https://github.co

[2018-02-23 15:11] kbreit commented on #36639
@gundalow I'd love to, but I don't know what the list actually should be. Is there a source file or something else which shows all the options? I can put that together.

[2018-02-23 15:25] willmerae commented on #34861
First stab at[ `yaml_ordered`](https://gist.github.com/willmerae/bb7735d6f1048eb9e0fa45bb7de6f46a), a replacement inventory plugin which preserves the ordering of hosts in a group. Instructions are included for using it instead of Ansible's built in plugins. It's based on the `yaml` inventory plugin from Ansible 2.4.2.

[2018-02-23 15:28] Sunil788 opened #36643 "NIOS DNS View lookup example is incorrect in Documenation"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

- nios lookup plugin
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

- centos-release-7-4.1708.el7.centos.x86_64

##### SUMMARY

"fetch the default dns view" example is incorrect in https://docs.ansible.com/ansible/devel/plugins/lookup/nios.html

In filter dict, 'view' should be replaced with 'name' as shown below
[code]

[2018-02-23 15:32] bcoca commented on #17763
this makes all yaml dicts 'ordered' #36644

[2018-02-23 15:40] bcoca commented on #34861
not a fix that will be going in but #36644 'fixes' this issue, a similar approach just for the yaml inventory plugin might be a solution

[2018-02-23 15:42] sivel commented on #36614
A git bisect indicates this started at bbd6b8bb42cc8fa48157ce5db0efb0a836c94917

In eca3fcd214903595db4d4e2f06813b74f1511e85: 0m3.499s
In bbd6b8bb42cc8fa48157ce5db0efb0a836c94917: 0m9.345s

This is with the reproducer provided, and using python3.  Py2 on I get 0m2.823s/0m13.801s respectively.

cc @bcoca

[2018-02-23 15:46] bcoca commented on #36614
weird, one of the few things i don't touch in that commit is vars loading

[2018-02-23 15:47] resmo commented on #36631
@nbari which cloudstack version?

needs_info

[2018-02-23 15:49] #31655 closed, assigned to nobody

[2018-02-23 15:53] sivel commented on #36614
I agree, I was surprised it was that commit.  It is a big commit, and it could be hard to pin point. Between those commits I can visually see a degradation in performance between each debug.  I didn't profile, but it was easy to spot.

[2018-02-23 15:55] sivel commented on #36629
Closing as a duplicate of https://github.com/ansible/ansible/pull/32738

[2018-02-23 15:55] #36629 closed, assigned to nobody

[2018-02-23 15:56] bcoca commented on #36614
I suspect this is not related to vars loading, as testing just that, shows no diff, this is probably a loop/display issue or even inventory looping.

using my play:
[code]
10 on 'devel' runs, all mostly the same:
[code]

10 on '2.4' runs, all mostly the same:
[code]
so the vars loading is actually faster, but by very little.

[2018-02-23 15:59] bcoca commented on #36614
Added 'inventory looping' and 1 dynamic var access

[code]

devel:
[code]

stable-2.4:
[code]

[2018-02-23 16:11] mxdlx commented on #21112
I'm running Ansible 2.5 and working with vSphere 5.5. I haven't been able to mount an ISO from any datastore. Everything fails silently.
The only way I've been able to do this is using [govc](https://github.com/vmware/govmomi). I can mount iso with 'govc device.cdrom.insert' and then set device as connected with 'govc device.connect'.
I hope someone finds this useful.

[2018-02-23 16:12] bcoca commented on #36614
Loop over hosts in tasks also:
[code]

devel
[code]

stable-2.4
[code]

one thing to note here, is that 2.4 is currently displaying extra info it should not during debug.

[2018-02-23 16:14] bcoca commented on #36614
looping over hosts and in task, but constant var access
[code]

devel
[code]

stable-2.4
[code]

[2018-02-23 16:33] liquidat opened #36646 "win_copy against Windows Server 2012 take multiples of 60 seconds"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- control host: Fedora 27
- managed node (with bug): Windows Server 2012
- managed node (without bug): Windows Server 2016

##### SUMMARY

Using the `win_copy` takes multiples of 60 seconds longer on Windows Server 2012 than on Windows Server 2016.

#

[2018-02-23 16:40] #36040 closed, assigned to nobody

[2018-02-23 16:43] bcoca commented on #36519
proposal for adding info to modules, including 'what keywords are not supported' https://github.com/ansible/proposals/issues/68

@dagwieers depending on action plugin, delegate_to is supported i.e copy/assemble/syncronize/etc ... for others it makes no sense i.e debug, add_host, etc

[2018-02-23 16:58] dagwieers commented on #36519
@bcoca Well, those you list have modules. So there's a remote counterpart.

My question is, should wait_for_connection support delegate_to. As to me one should be testing connections to the target node, not a delegate. IMO, the use-case is suboptimal (see PR listed).

[2018-02-23 17:23] s-hertel commented on #36504
I fixed the template for you. It's important to use the template so the bot can attach the right labels so the right people can find and fix the issue. Please use it in the future.

[2018-02-23 17:24] s-hertel commented on #36504
bot_status

[2018-02-23 17:26] twhiston commented on #36554
thanks so much for the fast fix!

[2018-02-23 17:41] azhurbilo opened #36649 ""any_errors_fatal" does not work when "flush_handlers" used"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
any_errors_fatal

##### ANSIBLE VERSION

ansible 2.4.3.0

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

With "any_errors_fatal: yes" playbook continue to run after "flush_handlers" block despite of failed handler

##### STEPS TO REPRODUCE

have 2 machines in target group:
- 01host
- 02host

[code]

##### EXPECTED RESULTS

"failed_h

[2018-02-23 17:45] bcoca commented on #36614
testing pure inventory loading `time ansible --list-hosts -i ./inventory all` ... gives me no change across versions.

so this seems 'looping related'.

[2018-02-23 17:48] kbreit commented on #16888
Is there still effort around this? I'm new to Ansible and developing modules and I've found the lack of documentation around module_utils to be challenging. I'd be happy to help on this, but probably don't have time to take it all on myself.

[2018-02-23 17:51] caphrim007 commented on #36504
@devopsian @s-hertel what version of ansible?

[2018-02-23 18:03] vasartori commented on #36334
https://github.com/ansible/ansible/pull/36336

[2018-02-23 18:40] devopsian commented on #36504
@caphrim007 It's broken in 2.4.2 (worked in a previous 2.3.1 install)

[2018-02-23 18:45] caphrim007 commented on #36504
@devopsian it should be fixed in 2.5

[2018-02-23 18:47] caphrim007 commented on #36504
@devopsian if you have a playbook that you would like me to test for you, feel free to post it here. Otherwise, if you want to take a stab at testing on 2.5.

[2018-02-23 18:50] hskundhal commented on #14578
facing same issue with ansible 2.4.0

[2018-02-23 19:06] #36189 closed, assigned to nobody

[2018-02-23 19:10] gundalow commented on #36199
Not sure if you are aware though we have some great `ios_` modules that run over SSH that would be much better, http://docs.ansible.com/ansible/latest/ios_command_module.html

We've got some new Getting Started guide as part of Ansible 2.5 which can be found at http://docs.ansible.com/ansible/devel/network/

[2018-02-23 19:17] gundalow commented on #36567
Closing as given the above we don't believe this is a bug

[2018-02-23 19:17] #36567 closed, assigned to privateip

[2018-02-23 19:21] magykjames commented on #30882
Same issue here. include_tasks is totally unusable since tags within the included playbooks are ignored and we're using with_items to loop over extra-vars for each included playbook.

We're using Ansible for VM deployments, where the same playbook is used to create the VM and then perform actions on it after it builds (like reconfigure or destroy). With include_tasks, the VM gets destroyed and re-

[2018-02-23 19:24] #36334 closed, assigned to nobody

[2018-02-23 19:47] tterranigma commented on #18305
I started getting this issue ~3 weeks ago. I "solved" it by setting

[code]

in my ansible.cfg. It seems that there is an issue with the socket the ControlMaster feature of ssh creates. Upon creation on my regular ext4 filesystem, it blocked ansible.

[2018-02-23 20:10] visualne opened #36656 "ios_command not escalating if prompt ends in #"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
##### SUMMARY

Upon initial login to a cisco device if the prompt ends in # the authorize and auth_pass variables will be ignored by the task.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected the output of commandoutput to be privilege level 15

##### ACTUAL RESULTS

The output of commandoutpu

[2018-02-23 20:11] acozine commented on #36406
Thanks @bcoca. Closing; removed references as part of https://github.com/ansible/ansible/pull/36337.

[2018-02-23 20:11] #36406 closed, assigned to nobody

[2018-02-23 20:16] bcoca commented on #20026
FYI, since this is now responsibility of 'vars plugins' it is trivial to change or override and provide other options.

[2018-02-23 20:23] bcoca commented on #36600
The feature is "multiple sources", before the only way to do this was creating symlinks into a directory and using that as the single source. As for the usefulness, there are many that had asked for it as the symlink solution did not work for them, there are many different setups in which this works, there are also many setups for which this is not a solution.

The 'core' of inventory has not chan

[2018-02-23 20:47] bcoca commented on #35745
Not just 'new loop', old `with_` loops provide the same i.e `with_fileglob`.

I cannot speak to docs but to discussions when the 'feature' was being developed, I even 'fixed' this at one point as part of removing restrictions on the 'naked' `include_vars: files` that this 'feature' had accidentally added and was asked to 'unfix' for the directory option.

[2018-02-23 21:00] chris-mccoy commented on #14413
I guess my use case was much more complex.  Here's mine written as a handler:

[code]

[2018-02-23 21:24] sivel commented on #36557
This is not a bug, but intentionally designed to work like this.  Per the documentation:

Because you have specified `testdir` without the trailing `/` and `dest` was configured as `/tmp/{{ item }}` that indicates that `copy` should copy the `testdir` (not contents) into `/tmp/testdir`.

If you were to specify `testdir/` for `src` and `/tmp/testdir` for `dest` it would work.  Or in the case you ha

[2018-02-23 21:24] #36557 closed, assigned to nobody

[2018-02-23 22:04] bcoca commented on #30200
fixed by #28420 , which now allows you to specify it is a local operation, the system must provide luseradd/luserdel commands though.

[2018-02-23 22:04] #30200 closed, assigned to nobody

[2018-02-23 22:19] joaocc opened #36664 "k8s_raw starts failing when run as local connection claiming missing package"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
k8s_raw

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
macOS Sierra 10.12.6
Trying to control AKS cluster.
Using a "virtual" hostname, defined as "ansible_connection=local" in ansible-hosts.

##### SUMMARY
k8s_raw was running fine when cli was ```ansible-playbook -c local ./playbook.yml``` and playbook started with:
[

[2018-02-23 22:25] sivel commented on #36664
`ansible_connection=local` uses the python interpreter configured for the host executing in the loop, all that does, is change the connection type, no other details.

Instead of `ansible_connection=local` or `-c local`, you should instead use `delegate_to: localhost` on the individual tasks needing this functionality.

If you have further questions please stop by IRC or the mailing list:

   * IRC

[2018-02-23 22:25] #36664 closed, assigned to nobody

[2018-02-23 22:30] joaocc commented on #36664
Yeap. That solved it! Thanks a lot for the amazingly fast answer!! :)

[2018-02-23 22:42] adragoset commented on #16397
Why was this closed. Async tasks will not retry on failures with until so using async is not a valid method of achieving this behavior. All modules should be capable of being timed out and then retried.  This is necessary behavior for any task that will not fail out on it's own.

[2018-02-23 22:47] joaocc commented on #36664
@sivel: For future reference, your answer led me to find another solution that doesn't requiring touching all the azure_rm_ and k8s_ commands.
Adding this as inventory variable solved it.
[code]
In my case, this also works very well.

[2018-02-23 22:56] nitzmahone commented on #36646
I'd be looking at Powershell performance on your Server 2012 host (eg, is there an ngen queue being processed or other update-y things happening that slow it down?). It's a common problem on "fresh" AWS instances- for instance, we run into it all the time with our CI envs when AWS screws up their image updates and forgets to clear the ngen queue before creating the image (so we have to do it when

[2018-02-23 23:08] dchidelf commented on #35448
Is there a way to do this, reading the child XML from a file?
The following works unless the jdks.xml contains more than one JDK tag.
[code]
That works if jdks.xml contains:
`<jdk>stuff</jdk>`
But if I but a second jdk tag in the jdks.xml file it fails to load the file because it is no longer valid XML.
In that case for the file to be valid XML you have to wrap the JDK tags in the parent JDKS tag,

[2018-02-23 23:10] #36240 closed, assigned to gundalow

[2018-02-23 23:50] kmadnani commented on #4297
The above doesn't work for me

[2018-02-24 01:38] zikalino commented on #36270
i will look into this early next week.

[2018-02-24 01:39] zikalino commented on #36087
preparing generic solution for this kind of issues, should be available at some point next week.

[2018-02-24 01:39] zikalino commented on #36085
preparing generic solution for this kind of issues, should be available at some point next week.

[2018-02-24 01:40] zikalino commented on #36076
preparing generic solution for this kind of issues, should be available at some point next week.

[2018-02-24 01:40] zikalino commented on #36072
preparing generic solution for this kind of issues, should be available at some point next week.

[2018-02-24 01:40] zikalino commented on #36070
preparing generic solution for this kind of issues, should be available at some point next week.

[2018-02-24 01:40] zikalino commented on #36069
preparing generic solution for this kind of issues, should be available at some point next week.

[2018-02-24 01:45] zikalino commented on #35619
@joaocc Thanks for submitting this feature request. We will prioritize this work.
I think we could make @sozercan 's AKS implementation available via our azure_preview_modules role.
(https://github.com/Azure/azure_preview_modules) and then push it to Ansible 2.6 later.
@sozercan is it ok to add this module to azure_preview_modules?

[2018-02-24 02:26] ljt91 commented on #29607
Any update on this?

[2018-02-24 02:31] asanabria-rms commented on #35745
@gregswift when I initially updated the module with the current help it did work as expected, but some of the features I added were taken out if I am not mistaken, shortly after being merged. Since I label all of my vars with `yml` or `json` all worked as expected as I didn't realize not everyone gives extensions to the vars files. I have a locally modified version that I use that is essentially t

[2018-02-24 02:35] linuxdynasty commented on #35745
@gregswift when I initially updated the module with the current help it did work as expected, but some of the features I added were taken out if I am not mistaken, shortly after being merged. Since I label all of my vars with yml or json all worked as expected as I didn't realize not everyone gives extensions to the vars files. I have a locally modified version that I use that is essentially the i

[2018-02-24 02:57] #36241 closed, assigned to gundalow

[2018-02-24 03:19] MikeStutzzzz commented on #36568
Alright so I tried running a simple playbook using the dellos6_config: module.
looks like it is still having issues.

[ansibleissue.txt](https://github.com/ansible/ansible/files/1753991/ansibleissue.txt)

[2018-02-24 04:23] abadger commented on #36557
Just to be sure that the documentation has always matched the behaviour, I also tested the behaviour of copy on historic versions.  This is copy's behaviour all the way back to 1.4.0 which is the oldest version that I tested. (My destination was ```'/tmp/output/{{ item }}'``` )
[code]

[2018-02-24 07:28] amolkahat commented on #36196
@sam-ww I'm not able to reproduce this issue. I think it is fixed in the upstream repo. Could you please try it on the upstream repo?

If you still seeing the issue, could you please paste the playbook example?

[2018-02-24 07:29] amolkahat commented on #36196
need_info

[2018-02-24 09:10] yuwzho commented on #29607
@liyaka I think the update is not released for ansible yet. But you can try the [`Azure.azure_modules`](https://galaxy.ansible.com/Azure/azure_modules/) ansible role.

* Install the ansible-role by running `ansible-galaxy install Azure.azure_modules`.
* Run this [playbook](https://github.com/Azure-Samples/ansible-playbooks/blob/master/networkinterface_with_virtualnetwork_in_another_resource_group.

[2018-02-24 09:32] ivan046 commented on #31620
@harrytruman you talk about absolutely different issue there. This thread is about the problem in some modules that try to load and use all group_vars including vaulted but not only the vars they need. This causes error executing playbook that forces user to set '--ask-vault-pass' (or another bay to provide vault password) even for playbooks and roles that contain no vaulted data. That's the pain.

[2018-02-24 13:11] dagwieers commented on #36639
Well, this is a free text as in a some cases when such returned values are being returned is much more complex then just "success" or "failure". A combination of things, incl. check-mode or what the back-end API returns depending on what you do (e.g. present, absent or query) etc.

It is not as clear-cut as one might expect.

[2018-02-24 13:25] privateip commented on #36564
resolved_by_pr 36673

[2018-02-24 13:31] dagwieers commented on #35916
Yup, I think the term "role" was a bad choice, it comes with too much bagage whereas Ansible roles are in essence reusable playbooks. Much more like a function you call, or a class you instantiate, with some common rules.

Sometimes it is better to create a new concept with new terminology rather than to reuse something. Naming is very important, but often done too lightly IMO and you can't just g

[2018-02-24 13:59] privateip commented on #36565
@Sunil788 this module is working as designed.  It calls the underlying ```network``` api object to create/update/delete network objects just only support IPv4.  We need a new module to expose the```ipv6network``` object via the API.

I'm going to reclassify this as a feature request instead of a bug as the module works as designed.

As a side node, I can update the module documentation to make thi

[2018-02-24 14:19] kbreit commented on #36639
Are we able to at least document the most common options and make a note there is more under complex conditions?

[2018-02-24 15:02] joaocc opened #36676 "k8s_raw fails when resource is Deployment with apiVersion=apps/v1beta2"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
k8s_raw

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
target environment: AKS with kubernetes 1.8.6

##### SUMMARY
When I try to apply a kubernetes YAML file via k8s_raw, I receive the following error:
[code]

the file starts with
[code]

The same file through ```kubectl apply -f``` works fine.

If I change th

[2018-02-24 15:11] dagwieers commented on #32541
This is not longer the case in devel, `M(aci_rest)` translates to `:ref:`aci_rest` and the generated module docs only has the module name as title. So I think we're good for the v2.5 release.

[2018-02-24 15:12] dagwieers commented on #35764
Can you make a PR for this ? Add me in a comment so I can review and merge. Thanks !

[2018-02-24 15:18] harrytruman commented on #31620
@ivan046 My results are identical to @paulcalabro, @AyushyaChitransh, and @stanchan.

[2018-02-24 15:20] joaocc commented on #36676
also happens on
[code]

[2018-02-24 15:22] joaocc commented on #36676
!affects_2.6

[2018-02-24 15:57] dagwieers commented on #35448
Sure, you need to use `set-children:` and `input_type: xml` together.

[2018-02-24 16:08] dchidelf commented on #35448
Sorry, that's actually what I had. I just switched to value when troubleshooting. If I make the jdks.xml like
<jdk>x </jdk><jdk>y </jdk>
I get an error saying it is invalid.
If I wrap it in a root tag <jdks>, it inserts that as a child of the jdks tag in the target.

[2018-02-24 16:57] joaocc opened #36677 "azure_rm_managed_disk fails when a disk gets attached to an AKS cluster"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_managed_disk

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
mac OS Sierra 10.12.6

##### SUMMARY
We have been using azure_rm_managed_disk to create managed disks. After the disk was created, as ran the same script many times, with a status of "unchanged"
After this, we enabled a deployment in AKS that

[2018-02-24 17:14] itdependsnetworks commented on #36656
This is an interesting question, if I understand it correctly. So you are saying you login and then `raise` your privileges even higher? I've not heard about this before, so I am inclined to think I may have a fundamental mis-understanding here.

Also what happens when you run a command that you are not auth'd for? I had something similar on a client, but was not able to open an issue do to securi

[2018-02-24 17:17] kbreit commented on #36639
I'll keep an eye out for them as they come up and I'll document it over time. Of course, other contributions are good too.

[2018-02-24 18:42] dagwieers commented on #35779
So after testing, it appears that the pygments syntax highlighting does work correctly.

The real issue here is that the standard YAML syntax highlighting is pretty poor. It only colours comments and quoted strings. Everything else is black. So most examples stay full black.

http://pygments.org/demo/?lang=yaml

Only when we have examples with YAML + Jinja, the syntax highlighting looks a bit dece

[2018-02-24 18:43] dagwieers commented on #35779
cc @tima

[2018-02-24 18:48] dagwieers commented on #35779
Thinking about this a bit more, I guess we should be adding our own Ansible syntax highlighting. This would add support for e.g. when-statements (use Jinja2 highlighting for the value) and support key-value pairs as well.

It's a small effort for a big gain.

[2018-02-24 20:48] dagwieers commented on #35779
https://github.com/dagwieers/pygments/blob/master/pygments/lexers/data.py

[2018-02-25 04:59] grimreaper commented on #14582
This is still an issue on ansible 2.4.3.0

[2018-02-25 08:37] caratzky opened #36687 "Needing Translations for this platform?"
Good day Sir!

I am an active Utopian Contributor for Translations to my native Language, Filipino/Tagalog. I would like to know if you need some translations for your .md and other translatable files. I've been translating files here in Github for a long time already, and I post these translations at Utopian.io for rewards. Once I manage to post at least once about your project at Utopian, more t

[2018-02-25 11:38] dagwieers commented on #35442
@h0nIg I reorganized the BOTMETA file to disable all notifications for you, but there's something not working right :-\

[2018-02-25 11:46] ilangrs commented on #36115
Works! Thanks!

[2018-02-25 15:39] dcode opened #36690 "Regression: subjectAltName is marked as optional in openssl_csr, but it isn't"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
openssl_csr

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Managing CentOS 7.4 from itself

##### SUMMARY
The `subjectAltName` property of the CSR isn't a required field for an x509 certificate. It is leveraged in many common use-cases, but this update actually broke my use-case. The documentation marks the fie

[2018-02-25 15:50] oliver opened #36691 "stat documentation: mime_type vs mimetype, mime output vs descriptive output"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
stat

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ansible.cfg:
[code]

##### OS / ENVIRONMENT
Running Ansible on Ubuntu 16.04.4 x86_64; target is the same machine.

Tried with and without python-magic module installed, but didn't observe any different behaviour.

##### SUMMARY

Documentation for stat module (http://docs.ansible.

[2018-02-25 16:51] DylanYoung commented on #36024
I believe this is caused by the `register` call.  This also affects the `set_fact` module (any module that produces `ansible_facts` and registers its result).

Registered variables are marked unsafe and marking unsafe has side effects as currently implemented :(

Two possible solutions:

1) `deepcopy` the results before registering (this could be expensive and means more overhead for maintainers)

[2018-02-25 17:02] DylanYoung opened #36692 "Dynamic vars lookups in templates always contaminate the AnsibleContext"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lib/ansible/template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Dynamic vars lookups in templates mark the entire Context unsafe, even if no unsafe values were accessed.  This is because AnsibleContext sets itself unsafe whenever a dictionary containing unsafe values/keys is resolved by Jinja2.

[2018-02-25 18:11] DylanYoung commented on #36692
!component =lib/ansible/template

[2018-02-25 19:09] willakat opened #36695 "copy action fails when using lxc connection"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

lxc_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

/output is empty (no changes)/

##### OS / ENVIRONMENT

Ansible Host OS:

Linux newt 4.14.0-3-amd64 #1 SMP Debian 4.14.13-1 (2018-01-14) x86_64 GNU/Linux

Controlled OS (LXC):

Linux alpine_dflt 4.14.0-3-amd64 #1 SMP Debian 4.14.13-1 (2018-01-14) x86_64 Linux

##### SUMMARY

Th

[2018-02-25 19:28] dagwieers commented on #36639
@kbreit You can get a complete list using `grep -hr 'returned:' lib/ansible/modules/ | sort -bu`

[2018-02-25 19:29] rustyx commented on #24942
The command to remove stale/nonexistent services is:

[code]

[2018-02-25 19:58] dagwieers commented on #30972
Just a quick update wrt. @jborean93 working on something already ! w00t
https://github.com/ansible/community/issues/294#issuecomment-366866379

[2018-02-25 20:55] jluyckx93 opened #36697 "Azure load balancer - failed to create - <type 'dict'> cannot be converted to a list"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_loadbalancer

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible-config dump --only-changed

##### OS / ENVIRONMENT
[code]
##### SUMMARY
Creating a Azure load balancer doesn't work. Hitting the same error for each "list" argument.

`  "msg": "argument frontend_ip_configurations is of type <type 'dict'> and we were unable to conve

[2018-02-25 21:29] loqutus commented on #36697
did you tried something like this:
`frontend_ip_configurations:
        - name: "{{ master_loadbalancer_frontend_pool_name }}"
          public_ip_address: "{{ lb_external_public_ip_name }}"`

[2018-02-25 21:31] loqutus commented on #36695
https://github.com/ansible/ansible/pull/36696

[2018-02-25 22:16] curldivergence opened #36698 "docker connection to remote containers is broken (probably due to a race condition)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

docker connection
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes.
##### OS / ENVIRONMENT

Arch Linux
Debian Stretch
Docker version 17.12.0-ce, build c97c6d6
Docker version 18.02.0-ce, build fc4de447b5
##### SUMMARY

When trying to run a simple playbook that creates a docker container on the remote host, adds it to the dynamic i

[2018-02-25 22:56] dingens commented on #14922
the issue has been recreated here: https://github.com/ansible/ansible-modules-core/issues/3291 - however it has been closed again a little later stating that issues are to be reported on this repo (ansible/ansible). I didn't find another issue for this issue. Please reopen!

[2018-02-25 23:29] schaten opened #36700 "pamd list index out of range"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
pamd

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no changes
##### OS / ENVIRONMENT
I tested this on arch and fedora 27.
##### SUMMARY
Inserting a rule after another rule that happens to be the last one in the pam.d-file causes a list index out of range error.
##### STEPS TO REPRODUCE
- `session   optional  pam_permit.so` is the last line

[2018-02-26 00:23] flowerysong commented on #36697
I haven't used the module myself, but you're passing in plain dicts for arguments where the documentation calls for a list (of dicts).

[code]

[2018-02-26 00:52] chouseknecht commented on #36676
@joaocc

The latest supported version of the OpenShift Python Client is 0.4.3, which wraps v4.0 of the Kubernetes client.

It doesn't appear that Kubernetes client v4.0 contains an `apps_v1beta2_deployment.py` under models: https://github.com/kubernetes-client/python/tree/release-4.0/kubernetes/client/models

There is a [v1beta2_deployment model here](https://github.com/kubernetes-client/python/bl

[2018-02-26 01:00] hitoshi-isa commented on #24879
thanks for your reply.

Is this problem solved with ansible 2.4.2.0?
i try to run the same playbook on CentOS platform(version 6.4), but the result was a failure.

[2018-02-26 01:08] joaocc commented on #36676
I was trying to use k8s_raw to deploy any file. Having to add it to an explicit call of k8s_raw kind of defeats the purpose of using k8s_raw (in my case). In the meantime I switched to calling kubectl and it works fine.
My impression is that v4.0 client may not be up to date (see https://github.com/garethr/kubernetes-json-schema/blob/master/v1.8.8/deployment.json for an example).

[2018-02-26 01:18] chouseknecht commented on #36676
You can set `api_version` in the task, or `apiVersion` in the config file you're passing.

There's not much we can do with `apps/v1beta2` until it appears in the Kubernetes client. There is also some ongoing work being done to define and build a dynamic client, which would likely solve this as well.

For now, it seems reasonable to close this issue.

[2018-02-26 01:18] #36676 closed, assigned to nobody

[2018-02-26 02:11] yuwzho commented on #36697
@jluyckx93 The load_balancing_rules should be accepted as a list. Could you have a try like the previous comment? I will update the document's example to avoid misunderstanding.

[2018-02-26 03:12] jluyckx93 commented on #36697
@flowerysong @yuwzho Many Thanks ! It is working now !
Also changed the load_balancing_rules: frontend_ip_configuration value to the frontend_ip_configurations name. It should be renamed to frontend_ip_configuration_name like in the inbound_nat_pools. 2 times same value, different names ....
[code]

[2018-02-26 03:12] #36697 closed, assigned to nobody

[2018-02-26 03:53] #34754 closed, assigned to rcarrillocruz, ganeshrn

[2018-02-26 04:01] skyler opened #36703 "Using gce module, new VM root is formatted ext2 and mounted readonly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`gce`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
[code]

macOS High Sierra 10.13.3 (17D47)

##### SUMMARY
When I create a new GCE VM using the `gce` module, `/` (root) is formatted ext2 and mounted readonly. For example:
[code]

However, when I create a VM using `gcloud`, using the same image, `/` is formatt

[2018-02-26 04:49] skamithi commented on #36269
please watch this webinar. it covers the Ansible 2.4 way of logging into network devices and the Ansible 2.5 (better) way of logging into Cisco devices.
https://www.ansible.com/blog/coming-soon-networking-features-in-ansible-2.5

[2018-02-26 05:15] trishnaguha opened #36705 "nxos_linkagg fails if provider is not used for transport cli"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_linkagg
##### ANSIBLE VERSION

[code]

##### EXPECTED RESULTS

Able to configure link aggregation
##### ACTUAL RESULTS

[code]

[2018-02-26 05:20] trishnaguha opened #36707 "nxos_vlan fails with KeyError when using aggregate"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_vlan
##### ANSIBLE VERSION

[code]

##### SUMMARY

nxos_vlan fails with KeyError
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Able to apply changes to vlan
##### ACTUAL RESULTS

[code]

[2018-02-26 05:31] DennisGlindhart opened #36708 "Cloudflare DNS does not allow for tls protocol type"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloudflare_dns

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Cloudflare DNS module does not allow for SRV-records of type tls - only tcp and udp are allowed. Cloudflare also supports tls-type.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Not failing

##### ACTUAL RESULTS
[code]

[2018-02-26 05:51] #36705 closed, assigned to trishnaguha

[2018-02-26 06:28] Akasurde commented on #21112
@mxdlx Thanks for reporting back. Could you please report a new issue against vmware_guest module that it is not able to u/mount CD-ROM.
I won't recommend govc option as it will defeat the purpose of having vmware_guest module.

[2018-02-26 06:53] pgrunwald commented on #12862
I've decided to drop my two cents in here as well since I have spent the past hour trawling Google for advice about this issue and found nothing I found to be an acceptable solution.

In my opinion, Ansible's behavior when moving playbooks into a subdirectory (but still running them from the root directory) is unintuitive and doesn't seem to match how other programs work. I could enumerate all of

[2018-02-26 06:59] #36707 closed, assigned to trishnaguha

[2018-02-26 07:15] sushmitareddy12 commented on #1934
Hii , i am new to ansible. So plz someone help me to compare the results of ansible with actual results ,by storing value into a registered variable.

[2018-02-26 07:41] liqingkai2017 commented on #36153
@gundalow  we develop plugin for our devices and it works well.So it seems that the problem is device not match,thanks a lot!

[2018-02-26 07:41] #36153 closed, assigned to gundalow

[2018-02-26 07:51] #35831 closed, assigned to Akasurde

[2018-02-26 08:09] mvrgotiks opened #36712 "ovirt_vms: AttributeError: 'NoneType' object has no attribute 'id'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ovirt_vms
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Using Defaults:
 - fresh install of the Ansible 2.4.3.0 on the fresh install of High Sierra

[code]
NOTE: same error observed with Ansible 2.4.2.0
##### OS / ENVIRONMENT
macOS High Sierra
Version 10.13.3

##### SUMMARY
Trying to Spaws VMs in oVIrt environment.
Successfully authenticatin

[2018-02-26 08:17] nbari commented on #36631
Hi @resmo, the version I am using is `2.1.3`

[2018-02-26 08:47] tmshn commented on #32048
@zoni I fixed this in #36715, so pls check out 👍

[2018-02-26 08:56] tmshn commented on #36237
Do you mean

- Host machine: Ubuntu 17.10
- Target machine: SUSE linux enterprise server

right?

[2018-02-26 09:01] ahotzler commented on #36237
right, target is SUSE Linux Enterprise Server 11, the problem didnt happen on SUSE Linux Enterprise Server 12 (because of systemd). We could also reproduce this when using Centos 7.4 on the Host.

[2018-02-26 09:11] gundalow commented on #36153
@liqingkai2017 Thank you for confirming everything works when you use ios devices.

If you would like any help & advice developing modules feel free to join us in `#ansible-network` on Freenode IRC.

The following two docs may help you:
https://github.com/ansible/community/blob/master/group-network/network_dev_network_cli.rst
http://docs.ansible.com/ansible/devel/dev_guide/developing_modules_in_gr

[2018-02-26 09:14] resmo commented on #36631
@nbari that is the cs library version, but to which cloudstack api endpoint? exoscale? or other cloud?

[2018-02-26 09:24] amarao opened #36716 "postgresql_privs: trace "'str' object is not callable" on errors from postgres"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
modules/database/postgresql/postgresql_privs.py
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -C -o ControlMaster=auto -o ControlPersist=10s
ANSIBLE_SSH_CONTROL_PATH(/etc/ansible/ansible.cfg) = /tmp/%%h-%%r
DEFAULT_SUDO_FLAGS(/etc/ansible/ansible

[2018-02-26 09:39] nbari commented on #36631
@resno, I am testing with exoscale

[2018-02-26 09:39] user318 opened #36717 "eos_config & ios_config causing "RuntimeError: dictionary changed size during iteration""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_config
ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
python3

##### SUMMARY
eos_config.py contains such code, which is not valid in python3 as ```.keys()``` return iterator in python3 (I have found that in google).
[code]
Stackoverflow suggests replacing ```result.keys()``` with ```list(result)```

[2018-02-26 09:40] flo-renaud commented on #36394
Hi,
I was able to reproduce this issue. The `user` module is calling the command `luseradd`, and the issue may be related to the behavior of `luseradd` (I don't know what is the expected behavior when FreeIPA is configured).

[2018-02-26 09:42] mcv21 opened #36718 "user module should allow setting of primary group id"
##### Issue Type:
- Bug Report
##### Ansible Version:

[code]

##### COMPONENT NAME

user

##### Environment:

Most relevant to Unix targets.
##### Summary:

A common pattern (e.g. it's the default behaviour in Debian) is to create user and group with the same name and id - e.g. user mcv21 group mcv21 have the same UID. The user module is unable to do this - you can specify user id and primary gro

[2018-02-26 09:43] mcv21 commented on #14922
re-opened as #36718

[2018-02-26 09:48] Akasurde commented on #36394
@flo-renaud Is there any way to detect if user is "local" or "FreeIPA" one without ipa-client commands?

[2018-02-26 09:59] gundalow commented on #35084
As part of the ongoing documentation updates for Ansible 2.5 (some live already see http://docs.ansible.com/ansible/devel/network/), we are adding some guides for where there are platform specific considerations that need documenting, such as eos, junos & nxos (cli vs http(s) vs netconf).

We've got a draft of the first page (Work in progress)
here https://acozine.github.io/html/network/user_guide

[2018-02-26 10:00] resmo commented on #36631
you wrote:

does that mean you change the name in the UI and run the playbook again?

[2018-02-26 10:03] flo-renaud commented on #36394
Local user would be in /etc/passwd and /etc/shadow ?

[2018-02-26 10:17] gundalow commented on #36717
@user318 Thank you for this bug report and suggested fix. We will take a look.

@newswangerd Something that may be good for you to look at

[2018-02-26 10:20] tmshn commented on #36237
@ahotzler Here is the quick fix, could you try?
https://github.com/ansible/ansible/pull/36719

[2018-02-26 10:29] nbari commented on #36631
All within the playbook, nothing within the UI.

[2018-02-26 10:35] resmo commented on #36631
ok, thanks for the info, trying to reproduce.

[2018-02-26 10:42] Akasurde commented on #36716
@amarao Thanks for reporting this issue. This issue is already addressed in this https://github.com/ansible/ansible/pull/32371

[2018-02-26 10:47] Akasurde commented on #36708
resolved_by_pr #36709

[2018-02-26 10:52] Akasurde commented on #36690
cc @MarkusTeufelberger

[2018-02-26 11:05] Akasurde commented on #36237
resolved_by_pr #36719

[2018-02-26 11:09] Akasurde commented on #32048
resolved_by_pr #36715

[2018-02-26 11:20] Akasurde commented on #36635
resolved_by_pr #36638

[2018-02-26 11:21] gundalow commented on #36687
Hi,
Thank you for your kind offer. I don't believe we currently have anyway in the Ansible Engine, nor the documentation on the website.

Assigning to @dharmabumstead for his input.

[2018-02-26 11:27] jborean93 commented on #30972
So I've progressed a bit further, the latest dev releases for both `pypsexec` and `smbprotocol` are coming along nicely and I think I may have fixed most of the issues so far. I've created a PR for a `psexec` module that can be run on a linux host to executable commands on a Windows host.

You can have a look at the PR and try it out https://github.com/ansible/ansible/pull/36723, every tester help

[2018-02-26 11:35] MarkusTeufelberger commented on #36690
Is it actually a problem that your certificate contains this extension? You said it broke your use-case but I am not sure how things would break anyways, even if the "domain" in SAN is wrong in a client certificate.

Not doing it this way (which is standard in e.g. cfssl too) would lead to issues for a lot of other people:

" If a subjectAltName extension of type dNSName is present, that MUST
be u

[2018-02-26 11:42] stefangweichinger commented on #34340
I hit the same issue, target is Debian Stretch with python3-selinux installed. Can someone point out the missing package for Debian? No "libselinux-python" there.

[2018-02-26 11:53] stromnet opened #36725 "connection/docker.py: put_file sporadically hangs on empty files"
Not sure if this could be said to be a ansible issue, python issue or docker issue, but I'll file it anyway and let you decide..

Verified on ansible 2.4.3.0 on Mac and Linux, both using python 2.7, also with isolated python code.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Docker connection plugin

##### ANSIBLE VERSION
(testrun on Ubuntu 16 Machine)
[code]

##### CONFIGURATION
No custo

[2018-02-26 11:55] dcode commented on #36690
If you look further at the client auth though:

The problem is the server tries to validate the client by the
subjectAltName. If the name isn't resolvable in DNS, that validation
will fail (which is what's happening in my use case).

The fallback is to validate that the client cert was issued by a trusted CA.

On Feb 26, 2018 05:35, "MarkusTeufelberger" <notifications@github.com>
wrote:

[2018-02-26 12:14] abirami-n commented on #36568
@MikeStutzzzz can u please raise a separate issue to track this along with the Dellos6 device and version details, as we are not able to reproduce this issue in our environment.Thanks.

[2018-02-26 12:20] Bassinator commented on #6854
I found a workoround for me. User does not report changed=true if: But you Need to know the existing Primary Group of the user, which is actually the case in my context.
- name: add user to newGroupName group
  user:
    name: username
    group: primaryGroupName
    groups: primaryGroupName, newGroupName
    append: yes

[2018-02-26 12:28] hentismith opened #36727 "Azure credentials work for azure_rm.py but not playbook"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_resourcegroup

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
`ANSIBLE_NOCOWS(env: ANSIBLE_NOCOWS) = True`

##### OS / ENVIRONMENT
Client OS : Linux Mint 18.3 Sylvia
Target OS: None
Azure pip:
[code]

##### SUMMARY

After setting up azure integration according to : http://docs.ansible.com/ansible/latest/guide_azure.html I can get a d

[2018-02-26 12:29] resmo commented on #36631
resolved_by_pr #36726

[2018-02-26 12:43] #36631 closed, assigned to nobody

[2018-02-26 12:45] ahotzler commented on #36237
It worked for me on SLES11SP4, thank you very much. i commented my rest results in #36719, but i am not sure if i did it the right way.

i noticed, that ansible said changed also on "SLES12SP2", but it didnt change anything. i will open a new bug report

[2018-02-26 12:48] crazzy opened #36729 "Ansible is not respecting user-specific configuration"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible

##### ANSIBLE VERSION

[code]

I want to add that I have tested with 2.5.0 in a virtualenv as well, with the exact same result.

##### CONFIGURATION

[  0]johanhedberg@shili:s014\~ ansible-config dump --only-changed
DEFAULT_REMOTE_USER(/Users/johanhedberg/.ansible.cfg) = jh

##### OS / ENVIRONMENT

Running on Mac OS X High Sierra, doe

[2018-02-26 12:55] #36563 closed, assigned to privateip

[2018-02-26 12:58] Akasurde commented on #36237
@ahotzler Thanks for reporting back.

[2018-02-26 13:24] dcode commented on #36690
If you look further at the client auth though:

The problem is the server tries to validate the client by the subjectAltName. If the name isn't resolvable in DNS, that validation will fail (which is what's happening in my use case).

The fallback is to validate that the client cert was issued by a trusted CA.

* Edited for formatting. Replying via email from my phone was a poor choice. :smile:

[2018-02-26 13:48] dcode commented on #36690
To be clear, I completely understand your position. The issue is that I'm not using this x509 certificate for HTTP over TLS server authentication. x509 has much broader scope than just TLS, and the use of subjectAltName varies according to the type of identity being verified See RFC 5280, [Section 4.2.1.6](https://tools.ietf.org/html/rfc5280#section-4.2.1.6)).

Given the RFC discussion, I may need

[2018-02-26 13:57] MarkusTeufelberger commented on #36690
Yeah, custom types for inputs to tasks would be awesome, but that's a bigger discussion.

I would also love to remove this "auto-SAN" behavior, but I'm afraid that the moment this gets released tons of people will write bug reports about how their certificate is rejected. Imho explicit is better than implicit though... maybe @Spredzy also has some opinion on this?

[2018-02-26 14:02] mscherer opened #36738 "openssl_certificate traceback with empty file"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
openssl_certificate

##### ANSIBLE VERSION
stable and latest git head

##### CONFIGURATION
nothing special

##### OS / ENVIRONMENT
Fedora 26, with python 3

##### SUMMARY
if I use openssl_certificate like this:
[code]

with certificate_path being a existing but empty file, it fail with the following traceback:
[code]
##### STEPS TO REPRODUCE
- c

[2018-02-26 14:37] giovannisciortino commented on #36718
Is this a bug?
Also the useradd command doesn't create the primary group with a specific gid but you have to create it just before using the groupadd command.
The same task can be executed through ansible using group module before user module.

**Example:**

[code]

[2018-02-26 14:46] resmo commented on #36631
fixed in 2.5.0 when released

[2018-02-26 14:51] giovannisciortino commented on #36446
I think that this documentation issue has been already fixed in devel branch.
This [PR](https://github.com/ansible/ansible/pull/30845) (thas has been already merged) add "content" as alias of "block"

Line to the PR source code: https://github.com/ansible/ansible/blob/19c3c7fe4437d583cb46265d766068b8bd298b01/lib/ansible/modules/files/blockinfile.py#L51

[2018-02-26 14:52] nbari commented on #36631
many thanks 👍

[2018-02-26 15:12] sivel commented on #36729
`remote_user` is the correct value as indicated at http://docs.ansible.com/ansible/latest/config.html#default-remote-user

However, that particular value is not exposed as a variable that you can access.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-02-26 15:15] sivel commented on #36718
As described above, if you need explicit control of the name of the ID of a group, please utilize the `group` module before the `user` module.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-02-26 15:15] #36718 closed, assigned to nobody

[2018-02-26 15:16] alikins commented on #36533
This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

 This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2018-02-26 15:16] #36533 closed, assigned to nobody

[2018-02-26 15:20] alikins commented on #36692
pinging @jimi-c

[2018-02-26 15:22] alikins commented on #36024
pinging @jimi-c

[2018-02-26 15:28] mcv21 commented on #36718
I still think this is something the `user` module should be able to do itself, since it's such a common pattern. Oh well :(

[2018-02-26 15:30] pawelmoll opened #36743 "omapi_host fails when the host already has a dhcpd lease"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
omapi_host module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Out of the box Ubuntu 17.10 config, no extra environmental variables.

##### OS / ENVIRONMENT
Ubuntu 17.10 host, Ubuntu 16.04 target

##### SUMMARY
omapi_host fails when the host already has a dhcpd lease:

TASK [DHCP reservation for test] ******
fatal: [dhcp.test]: FAILED! =>

[2018-02-26 15:30] crazzy commented on #36729
Please re-open this issue, because as mentioned the above was only to prove there is a bug.

The REAL problem is when running playbooks ansible still doesn't use remote_user even if I have it set. The ONLY way to get ansible to actually use the correct user is to do this before running ansible:

export USER=jh
export LOGNAME=jh

However, I shouldn't have to do that, it should work with setting the

[2018-02-26 15:45] Akasurde commented on #16796
@FuYuanZhao Could you please retry and let us know if it works for you or not ?

needs_info

[2018-02-26 15:51] gundalow commented on #35980
bot_status

Not sure why this got support core

[2018-02-26 15:55] giovannisciortino commented on #34181
I observe that ini_file module opens the file directly to write changes:

 https://github.com/ansible/ansible/blob/eb162bdf7f0b29ef0cc29bbb20c0fa871519910e/lib/ansible/modules/files/ini_file.py#L242

From paragraph "Common Pitfalls" of Ansible module best practice [link](http://docs.ansible.com/ansible/latest/dev_guide/developing_modules_best_practices.html) I read

So I think that the "write" sec

[2018-02-26 16:08] #16796 closed, assigned to nobody

[2018-02-26 16:12] gundalow commented on #35980
Ah, was `support:core`, as this is a feature idea

@amsinha2 The Cisco ACI team also have https://github.com/ansible/community/wiki/Network%3A-ACI where they list their plans

@brunocalogero @dagwieers @jmcgill298 @schunduri FYI

[2018-02-26 16:13] alikins commented on #36695
pinging @bcoca @abadger

[2018-02-26 16:16] dagwieers commented on #35980
@amsinha2 So, for v2.6 we do want to have basic facts support and we are looking for input from all stakeholders wrt. to this. However, this is currently already possible with **aci_rest** and the various ACI modules (e.g. **aci_tenant** with `state: query` returns tenants, **aci_epg** with `state: query` returns EPGs)

[2018-02-26 16:23] sivel commented on #36729
Please provide the output using `-vvvv` when running `ansible-playbook` configured with `remote_user=jh`.

needs_info

[2018-02-26 16:52] punkrokk opened #36745 "github_deploy_key removal giving key already exists error"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
github_deploy_key

##### ANSIBLE VERSION

[code]
also tried 2.4.2 and 2.4.1
##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS 7.4

##### SUMMARY
Unable to delete github deploy key via "absent".

##### STEPS TO REPRODUCE
After successfully creating a github deploykey unable to delete it. Seems the API might be configured wrong. In order f

[2018-02-26 17:00] newswangerd opened #36747 "eos_static_route fails idempotency test"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

eos_static_route

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Inventory.yaml
[code]

##### OS / ENVIRONMENT

##### SUMMARY

`eos_static_route` idempotency tests fail on the test lab (but not in DCI for some reason).

##### STEPS TO REPRODUCE

Run the integration tests using `ansible-test`

`ansible-test network-integration --inventory

[2018-02-26 17:01] #35725 closed, assigned to newswangerd

[2018-02-26 17:18] alikins commented on #36725
So far, I can't reproduce the failures.

I also tried running the mini python test code ('docker-test-36725.py' as I call it) as 10 concurrent processes but still no error.

[2018-02-26 17:23] Akasurde commented on #35219
needs_info

[2018-02-26 17:27] dingens commented on #36718
You are right saying that it is not really a bug.

Let's consider it a feature request: It is such a common pattern to have matching uid-gid pairs that it would be great to be able to define this in one `user` definition, rather than creating two nearly identical `group` and `user` definitions.

[2018-02-26 17:28] alikins commented on #36745
Looking at github_deploy_key.py, I think the module is trying to always add a key even for 'state=absent'

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/source_control/github_deploy_key.py#L314

If I read that correctly, the key will be deleted, then line 314 will run anyway and try to add a
new key and cause the error missing.

ie, looks like there is a missing else clause in

[2018-02-26 17:29] punkrokk commented on #36745
After reading the source code, somehow the code is getting an error message I don't think we should get for state=absent. Because that code is only accessible via the [add_new_key function](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/source_control/github_deploy_key.py#L237)

[code]

[2018-02-26 17:38] alikins commented on #36725
Possibly related to https://github.com/ansible/ansible/pull/36699 and https://github.com/ansible/ansible/issues/36698 ?

[2018-02-26 17:49] sozercan commented on #35619
@zikalino sounds good, I'll send a pr to azure_preview_modules

[2018-02-26 18:11] saichint opened #36751 "nxos_interface issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_interface

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I5(2)

##### SUMMARY

There are few issues with nxos_interface. These are affecting 2.5 stable branch as well.
1. interface_type -- this is used to unconfigure 'loopback', 'portchannel' etc. types. So the playbook only

[2018-02-26 18:53] #34181 closed, assigned to nobody

[2018-02-26 19:05] stromnet commented on #36725
Sounds suspiciously close indeed. I reproduced this issue on my home Mac 10.6 laptop now as well, problem shows up within 1-5 loops.
Adding `p.wait()` before `p.communicate()` as suggested in #36699 does not make any difference.

[2018-02-26 19:10] newswangerd opened #36752 "eos_static_route can't delete routes"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

eos_static_route

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Inventory.yaml
[code]

##### OS / ENVIRONMENT

##### SUMMARY

`state: absent` fails to remove a route. Might be related to #36747.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

`ip route 192.168.3.0/24 192.168.0.1 2` should be removed from the device's configura

[2018-02-26 19:25] #35760 closed, assigned to bcoca

[2018-02-26 19:45] curldivergence commented on #36725
@stromnet That is because `p.wait()` is not a fix, I don't know why the author of #36699 created that PR. As I've mentioned in #36698, even `time.sleep(5)` will do the trick.

[2018-02-26 19:59] stromnet commented on #36725
Actually, adding `time.sleep(5)` makes it even easier for me to reproduce, hang happens on first communicate()  attempt now.

[2018-02-26 21:05] adv4000 opened #36758 "Module ec2_metadata_facts and ec2_instance_facts not support Windows"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_metadata_facts:
ec2_instance_fact:

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_HOST_LIST(/home/ec2-user/ansible.cfg) = [u'/home/ec2-user/hosts.txt']
DEFAULT_PRIVATE_KEY_FILE(/home/ec2-user/ansible.cfg) = /home/ec2-user/.ssh/denis-oregon.pem

##### OS / ENVIRONMENT
Ansible: Amazon Linux 4.9.76-3.78.amzn1.x86_64
Trying to Contro

[2018-02-26 21:43] roadmapper commented on #36758
To my knowledge, most modules are not supported in Windows unless the module has a `win_` prefix (modules written for Windows in Powershell) or are in the list of "core modules/action-plugins" supported by the Ansible team (`debug`, `script`, `setup`, etc.). That being said, since this module logic doesn't require the AWS SDK, so it should be possible to rewrite this in Powershell. Good feature_id

[2018-02-26 21:55] joernheissler commented on #36502
I see. Then how about a command line argument to force a specific inventory format?

[2018-02-26 21:56] bcoca commented on #36502
you can currently use the env vars that way i.e `ANSIBLE_INVENTORY_ENABLED=yaml`

[2018-02-26 22:08] joernheissler commented on #36502
Guess then there really is no fix for the issue and only workarounds are available :-(

If noone else can think of something, please close the issue.

[2018-02-26 22:44] daveolker opened #36760 "win_uri returns very different information than uri"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
win_uri

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT
Ansible controller node is RedHat 7.4
Remote nodes are running RedHat 7.4 and Windows Server 2016

##### SUMMARY
Calling win_uri (the Ansible 2.5 version, since 2

[2018-02-26 22:50] jborean93 commented on #31030
It's been a while since I've last looked at this but I came across a similar issue today with another process. It failed with the error

[code]

The ultimate cause for this was that the user that the process had started from was never logged on interactively before and had no profile to load. This could be the cause of the async issues as I've only ever had the error come up in AWS with a newly pr

[2018-02-27 00:01] bincyber commented on #36745
Thanks for reporting this issue. I just tested this and I'm not able to duplicate what you're experiencing.

When `state="absent"`, L314 should not be executed because the module exits here: https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/source_control/github_deploy_key.py#L250

Adding an `else` clause after L250 won't make any difference:
[code]

The reason it doesn't exit for

[2018-02-27 00:34] #33858 closed, assigned to nobody

[2018-02-27 00:41] kozikow commented on #26297
I wouldn't use it for anything serious (especially not production!), but you can install it if you really try:

[code]

[2018-02-27 00:46] punkrokk commented on #36745
Are there instructions on how I could test? And maybe debug this in pycharm...  It doesnt make sense to me why I’m getting neither a key removed or key removed error - but a 422 - and if I understand correctly - the code should never fire...

[2018-02-27 01:01] willthames commented on #36758
`ec2_instance_facts` and `ec2_metadata_facts` are quite different.

`ec2_instance_facts` should work fine when run on the controller host - you can just add `delegate: localhost` to the task specification.

`ec2_metadata_facts` would indeed need to be rewritten in powershell for windows hosts.

[2018-02-27 01:12] bsholdice commented on #26146
I also see this problem.
ansible v2.4.3.0, python 2.7.10, paramiko v2.4.0.

The fixes in paramiko PR1051 (https://github.com/paramiko/paramiko/pull/1051) resolve this for me but this paramiko PR does not appear to have been merged/released yet.

[2018-02-27 01:56] jborean93 commented on #34470
There is a long and complicated reason why this is happening but I'll try and sum it up

* When Ansible goes to get the temp dir for an action, it just get's the value of `$env:temp` for the connection user - this case would be `C:\Users\ansible\AppData\Local\Temp`
* Your new user is not an admin so won't have rights to read from that temp folder , hence the access is denied when it tries to copy

[2018-02-27 01:58] willthames commented on #36115
That's a bad experience for an incorrect region parameter though, I'd prefer that boto3_conn would handle it better. I'll take a look and see what we can do.

[2018-02-27 02:00] jborean93 commented on #33896
Closing the issue as we haven't heard from the original issue author in regards to your questions.

[2018-02-27 02:00] #33896 closed, assigned to nobody

[2018-02-27 02:06] willthames commented on #36115
Ok, this bug is already fixed. I can reproduce this error in Ansible 2.4, but with stable-2.5 or devel I get a more useful error message:

[code]

[2018-02-27 02:06] #36115 closed, assigned to nobody

[2018-02-27 02:11] jborean93 commented on #36620
Facts work perfectly fine with me, even with CredSSP on a domain computer. Are you able to try out

* Using `ansible_winrm_transport: ntlm` to rule out something with CredSSP causing the issue
* Whether the account you are connecting with is a local administrator of that server
* Verify whether you are using the inbuilt facts or not, the path in verbose logs seems to indicate you are but best to c

[2018-02-27 02:36] jborean93 commented on #35460
I don't have a solution for this yet as I don't fully understand the problem right now but the issue stems from https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_wait_for.ps1#L67. The module resolves the hostname of the IP address `127.0.0.1` to the actual hostname and tries to connect to that port like a remote host would. In this case it fails with `Exception calling

[2018-02-27 02:42] winstonsimon commented on #30701
Any update on this?

[2018-02-27 03:32] jheller commented on #32992
I would also like to update the environment variables for an existing Lambda function. From my testing, the lambda_facts module does not return the S3 bucket/key details. It looks to be impossible in Ansible without using an aws command in the command module.

[2018-02-27 03:43] ronmessana-concerto commented on #29674
Hello, I am also experiencing the same issue with 'ansible 2.4.3.0'

[2018-02-27 04:19] Akasurde commented on #25281
@Illydth I will close this issue as this is more related to OS Packaging. Please feel free to re-open if you feel so.

[2018-02-27 04:19] #25281 closed, assigned to nobody

[2018-02-27 04:24] Akasurde commented on #29674
@ronmessana-concerto `vsphere_guest` is deprecated from version 2.5 in favor of `vmware_guest`. Could you please retry using `vmware_guest` and let me know if it works for you?

[2018-02-27 04:39] adv4000 commented on #36758
`ec2_instance_facts` and `ec2_metadata_facts `  working fine on Linux Controlled servers,
I need execute them on Windows Controlled and not on Ansible local host.

[2018-02-27 05:16] trishnaguha commented on #36752
@newswangerd the route could not be deleted as the config wasn't applied to the device at all.

[2018-02-27 05:35] trishnaguha commented on #36747
@newswangerd You need to update the address and next hop when testing on lab.
Note: this values were used based on the CI.

`ip route 192.168.3.0/24 192.168.0.1 2` is a dummy config for test lab. It will reflect operational state when ip `192.168.0.1` is assigned to an interface.

Change your next hop to `10.8.38.1`. It should work.
[code]

[2018-02-27 05:36] trishnaguha commented on #36752
Please check the comment: https://github.com/ansible/ansible/issues/36747#issuecomment-368753329

[2018-02-27 05:38] Akasurde commented on #35012
resolved_by_pr #35812

[2018-02-27 05:43] willthames commented on #32992
If you don't pass s3_bucket or s3_key or zip_file, the code will not change, but the environment variables will.

I've tested this behaviour on devel, stable-2.4 and stable-2.5 and it works as one might expect.

[2018-02-27 05:43] #32992 closed, assigned to nobody

[2018-02-27 05:44] Akasurde commented on #25970
@jepurdy Could you please check this [PR](https://github.com/ansible/ansible/issues/35012) and let me know if it works for you ?

needs_info

[2018-02-27 05:48] willthames commented on #36758
@adv4000 you might need ec2_metadata_facts to run on your windows host, but as ec2_instance_facts runs against the AWS APIs, and can return facts about any ec2 instance in your AWS account, you're better off running them from your controller, or any other linux box that can talk to AWS APIs.

I can see that you might have a situation where the windows hosts is authorised to use AWS and the linux c

[2018-02-27 05:49] Akasurde commented on #33284
@mowntan @cdelgehier Any news ?

[2018-02-27 06:28] Sunil788 commented on #36565
@privateip can we mention that we only support IPv4 in the documentation http://docs.ansible.com/ansible/devel/modules/nios_network_module.html

[2018-02-27 06:32] Sunil788 commented on #36567
On our environment the password for NIOS Grid was set to `infoblox` . As @privateip mentioned setting the password other than `infoblox` resolved this issue.

[2018-02-27 07:12] ice-8 opened #36769 "ansible-galaxy --force does not reinstall dependencies"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.3 LTS"

##### SUMMARY
ansible-galaxy with flag --force does not reinstall already installed roles dependencies

##### STEPS TO REPRODUCE

1. Create requ

[2018-02-27 07:15] gundalow commented on #26146
@jean-christophe-manciot Yes/yEs/true/"true" are equivalent in Ansible. The options documention changing is an artifact of some updates in how it's generated (using `type: bool`, rather than `choices`)

@bsholdice see from that PR we are just waiting for a release to me made.

[2018-02-27 07:16] gundalow commented on #36567
Thank you for confirming.

[2018-02-27 08:01] qduxiaoliang opened #36772 "ansible tasks continue to run when both any_errors_fatal and force_handlers are set to True and a task in handler has failed"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

any_errors_fatal
force_handlers

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

# ansible-config dump --only-changed
[root@sui kvm]# ansible-config dump --only-changed
ANSIBLE_SSH_CONTROL_PATH(/opt/test/ansible.cfg) = %(direct
DEFAULT_FORCE_HANDLERS(/opt/test/ansible.cfg) = False
DEFAULT_GATHERING(/opt/test/ansible.cfg) = explicit
DEFAULT

[2018-02-27 08:04] umrikar commented on #36009
resolved with patch https://github.com/ansible/ansible/pull/36091

[2018-02-27 08:05] Akasurde commented on #36009
@umrikar Thanks for reporting.

[2018-02-27 08:12] umrikar opened #36773 "unable to specify NIC teaming type while creating port group on vswitch on ESXI host"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-02-27 08:19] Akasurde commented on #36773
@umrikar Thanks for reporting this issue.

[2018-02-27 08:52] ganeshrn commented on #28757
@apolyr I am not able to reproduce this issue on both `stable-2.5` and `stable-2.3` branches.
Can you please share the output json in a simpler environment which can help debug the issue.

needs_info

[2018-02-27 08:52] es1o commented on #35645
I have the same issue with ansible 2.4.2.0

`fatal: [localhost]: FAILED! => {"changed": false, "msg": "Failed to find handler for \"/tmp/root/archive.tar.gz\". Make sure the required command to extract the file is installed. Command \"/usr/bin/unzip\" could not handle archive. Command \"/usr/bin/gtar\" could not handle archive."}
`

[2018-02-27 09:42] #36009 closed, assigned to nobody

[2018-02-27 10:01] stromnet commented on #36725
FYI: reproduced on another machine, both Python 2.7 and Python 3.6.

[2018-02-27 10:45] arjunprakashn opened #36776 "vmware_vsan_cluster:host cannot communicate with one or more another hosts in the vSAN enabled cluster"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_vsan_cluster

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

vsan configuration successfully configured on all hosts

##### ACTUAL RESULTS

host cannot communicate with one or more another hosts in the  vSAN enabled  cluster

[code]

[2018-02-27 10:55] umrikar commented on #36030
fixed with #36091...Thanks

[2018-02-27 10:56] sekharvajjula commented on #36116
Hi.
Can some one please update plans on accepting this pull request?

Thanks in advance.

[2018-02-27 11:01] arjunprakashn commented on #36776
![vsan](https://user-images.githubusercontent.com/34532422/36725179-78391788-1bdb-11e8-948a-4702a5819058.png)

[2018-02-27 11:26] gundalow commented on #35084
Reminder to self: For `junos_` this is a little more involved:

[2018-02-27 11:52] akamez commented on #35827
fixed in 2.5

[2018-02-27 11:52] #35827 closed, assigned to nobody

[2018-02-27 12:18] Akasurde commented on #35827
@akamez Thanks for reporting.

[2018-02-27 12:24] gundalow opened #36777 "2.5 Porting Guide to mention network_cli"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docs

##### ANSIBLE VERSION
[code]

##### SUMMARY
http://docs.ansible.com/ansible/devel/porting_guides/porting_guide_2.5.html#networking
* Some details about moving from `connection: local` to `network_cli`
* Link to new network docs

[2018-02-27 12:35] Akasurde commented on #36773
resolved_by_pr #36778

[2018-02-27 12:50] crazzy commented on #36729
Sorry but from the environment I'm working in right now, I cannot do that as it would expose information I can't expose. But I have ran it with -vvvv and read through it all. It says it has read the configuration file, but nowhere does it say it has understood the remote_user=jh.

So other than the ad-hoc commands I showed when opening the issue I can't really show the bug. If that's not enough I'

[2018-02-27 13:13] webknjaz commented on #21928
@wltjr It looks like portage module already supports accepting list as an argument. Closing.

[2018-02-27 13:13] #21928 closed, assigned to nobody

[2018-02-27 13:30] AjaxOdessa commented on #18910
+1 helpful to truncate fiels too, meanwhile have to run `state: absent ` + `state: touch`

[2018-02-27 14:26] martindines commented on #8603
+1

[2018-02-27 14:37] bcoca commented on #36729
I cannot reproduce locally with what you have given us. Since you cannot give us the exact play/inventory causing the issue, can you create a minimal reproducer?

Just a simple test case that shows the behaviour you are describing.

[2018-02-27 14:47] AuroraLi commented on #36169
it might because you did not specify backup_filename
line 85 is `if 0 < len(backup_filename):`
Thus I think backup_filename should be required and checked somehow.

[2018-02-27 14:57] sivel commented on #36729
Perhaps you can run a different command and do a small amount of sanitizing.  Here is a command I just executed:

[code]

And the output:

[code]

There are a few things to note here.

1. I am logged in as the user `matt` as evidenced by

[code]
1. Ansible has indicated it will connect as the user `sivel` in 2 locations:
  a. `<HOST> ESTABLISH SSH CONNECTION FOR USER: sivel`
  b. `-o User=sivel`

[2018-02-27 14:58] kg4giy commented on #22745
@mattduguid But doesn't the "--connection=local" mean you are talking just to the ansible host machine, not the machine you want to change?

I am also seeing this issue. I can connect fine via SSH on the command line with the assigned key, but not with ansible commands. I am following this:

https://aws.amazon.com/blogs/apn/getting-started-with-ansible-and-dynamic-amazon-ec2-inventory-management/

[2018-02-27 15:03] kg4giy commented on #22745
OK, this looks like it may be the answer (for those coming behind me)

https://linuxacademy.com/community/posts/show/topic/17507-ansible-ssh-into-server-not-working

Three steps - you need the agent, the set key false AND the change to SUDOers?! I haven't tested yet.

Put next line in /etc/sudoers

ansible ALL=(ALL) NOPASSWD: ALL

[2018-02-27 15:17] balonik commented on #34802
@Akasurde
My PR https://github.com/ansible/ansible/pull/34996 fixes the issue when `cluster` param is used by updating 2.4 code with the `get_resource_pool` function from devel.
The https://github.com/ansible/ansible/pull/32139 doesn't work for 2.4 code, because the code is never executed. The function `select_host` is called only if the `esxi_hostname` param is set. But the changes in the code ht

[2018-02-27 15:19] newswangerd commented on #36747
So this means that idempotency is based on the state of the device and not the running configuration?

Setting the route using the original invalid address causes `ip route 192.168.3.0/24 192.168.0.1 2` to show up in `show running-config` but using `state: absent` fails to remove `ip route 192.168.3.0/24 192.168.0.1 2` from the configuration. Is that a problem?

[2018-02-27 15:22] gundalow commented on #36116
Merged into `devel` and `stable-2.5`. Will be released in Ansible 2.5.0, which is targeted for release mid March

[2018-02-27 15:25] punkrokk commented on #36745
@bincyber - I figured out how to debug this. What it appears is happening in this situation is the github API is not returning the key created. Will get back with more soon. Trying some other stuff.

[2018-02-27 15:27] sekharvajjula commented on #36116
Thank you very much!!

[2018-02-27 15:33] mtarking opened #36786 "netconf_config module needs to support ncclient device handlers"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
netconf_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
$ ansible-config dump --only-changed
$

##### OS / ENVIRONMENT
$ cat /etc/centos-release
CentOS Linux release 7.3.1611 (Core)
$

##### SUMMARY
When using the netconf_config module in a task where the host is a Cisco Nexus device, this module would fail and timeout with the below e

[2018-02-27 15:43] ghoelzer-rht commented on #36206
I just came across the same issue testing the new Ansible integration with the Azure Cloud Shell using the simple playbook below:
[code]
I'm an App Dev Solutions Specialist on the MS Azure team, and would really like to start promoting Ansible, as I'm a big fan from my time at Red Hat.  The sooner this can be corrected the better, as we are really starting to promote our Open Source partnerships,

[2018-02-27 16:08] peteeckel opened #36787 "Tasks not executed properly after include_role with run_once in 2.4.1 and above"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible 2.4.1 core

##### ANSIBLE VERSION
2.4.1 and higher

##### CONFIGURATION
    lagavulin:ansible-2.4-bug pete$ ansible-config dump --only-changed
    HOST_KEY_CHECKING(/Users/pete/.ansible.cfg) = False

##### OS / ENVIRONMENT
Ansible host: Mac OS X 10.11.6

    lagavulin:ansible-2.4-bug pete$ ansible --version
    ansible 2.4.1.0
      conf

[2018-02-27 16:27] stefanhorning commented on #35110
Also realized today that bucket wide default encryption setting is not supported by `s3_bucket`. Was about the create a patch, when I realized the module still uses old boto (not boto3), where the encryption methods are not supported.

I guess this feature would be rather easy to add once the module has been migrated to `boto3` using this method: http://boto3.readthedocs.io/en/latest/reference/ser

[2018-02-27 16:30] Akasurde commented on #34802
@balonik Make sense to me. Just a note instead of adding changes in #34996 create a new PR for this and then we can take it forward from there.

[2018-02-27 16:43] ianibobs opened #36790 "/opt"
##### ISSUE TYPE

 - Bug Report
 - Feature Idea
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-02-27 16:53] #36790 closed, assigned to nobody

[2018-02-27 16:55] artmatsak opened #36791 "Failed to validate the SSL certificate (SSL: CERTIFICATE_VERIFY_FAILED)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

digital_ocean_tag

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/Users/amatsak/.ansible.cfg) = [u'/Users/amatsak/hosts']
HOST_KEY_CHECKING(/Users/amatsak/.ansible.cfg) = False

##### OS / ENVIRONMENT

Running from macOS 10.13.3, command delegated to localhost

##### SUMMARY

The command fails with a CERTIFICATE_VERIFY_

[2018-02-27 17:00] caphrim007 commented on #36504
@devopsian any update?

[2018-02-27 17:12] atnoslen commented on #17098
Using Ansible for networking.  Have many tasks that require asynchronous convergence before continuing on.  However, that requires several tasks to perform the checks.

1. Connect to device and get information.
2. REGEX the data (not all modules come back with structured data yet).
3. Format to structured data.
4. Assert values are good or bad.

For a concrete example, checking BGP neighbor adjace

[2018-02-27 17:49] wltjr commented on #21928
@webknjaz thanks for confirming! I was not sure, thus left it open.

[2018-02-27 17:54] skylerbunny opened #36792 "Establish a common base set of requirements for docker_ modules"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docker_container.py
docker_image.py
docker_image_facts.py
docker_login.py
docker_network.py
docker_secret.py
docker_service.py
docker_volume.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Docker modules have complicated requirements, as presented in the documentation today. Some of the

[2018-02-27 18:03] matjam commented on #13318
clearly the solution doesn't work because this is still a problem.

[2018-02-27 18:11] skylerbunny commented on #36792
It appears that this precise topic has been talked about but no change has been made with respect to the documentation, for the Docker SDK for Python, here:

[Minimum Version of Python-3.x and Python-2.x](http://docs.ansible.com/ansible/devel/dev_guide/developing_python3.html#minimum-version-of-python-3-x-and-python-2-x)
Modules are allowed to drop support for Python-2.6 when one of their dependen

[2018-02-27 19:20] kg4giy opened #36794 "ERROR! 'yum_repository' is not a valid attribute for a Play"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

yum_respository command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[ec2-user@ip-172-31-57-185 packer]$ ansible-config dump --only-changed
[DEPRECATION WARNING]: ANSIBLE_HOSTS option, The variable is misleading as it can be a list of hosts and/or paths to
inventory sources . This feature will be removed in version 2.8. Deprecation war

[2018-02-27 19:22] saichint opened #36795 "nxos_facts issue"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_facts
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I7(2)

##### SUMMARY

##### STEPS TO REPRODUCE

The output of "show ipv6 interface | json" has changed in the latest version n9k software and this is causing parse_ipv6_interfaces method to fail.

[code]
old output:
[code]

[2018-02-27 19:31] DSpeichert opened #36797 "apt_repository does not tolerate repository names with a colon"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt_repository

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04 as target host

##### SUMMARY
apt_repository does not tolerate repositories with a colon

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2018-02-27 19:45] kg4giy commented on #36794
I will add that I installed via the RHEL/EPEL repo package (and for grins, I tried the apt repo command and it passed).

Files are here: [ec2-user@ip-172-31-57-185 lib]$ sudo find / -name yum_repository.py -print
/usr/lib/python2.7/site-packages/ansible/modules/packaging/os/yum_repository.py

[2018-02-27 19:56] sivel commented on #36794
The problem is that your file is not a properly defined playbook, but instead it is a task file.

See the following URL for information about playbook structure: http://docs.ansible.com/ansible/latest/playbooks_intro.html#playbook-language-example

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.

[2018-02-27 19:56] #36794 closed, assigned to nobody

[2018-02-27 20:10] kg4giy commented on #36794
Yeah, but I am calling it with packer, so hosts etc are not needed. When I preface it with tasks, it still borfs. As I said, as is, the apt-repo add command works just fine.

[2018-02-27 20:16] nv596r commented on #35717
Whats the proper process for getting the patch and trying it? I am having this same issue (parameters for --rsh and --out-format are not quoted). Command attempted looks as below:

/usr/bin/rsync --delay-updates -F --compress --delete-after --archive --rsh=/usr/bin/ssh -S none -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null --omit-dir-times --exclude=.git --exclude=.svn --out-format=<<

[2018-02-27 20:20] kg4giy commented on #36794
Ok, that is just redundant...set hosts: all and boom, it works. Very stupid.

[2018-02-27 20:26] DSpeichert opened #36799 "apt does not pass allow_unauthenticated: yes for state=latest"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
apt

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04 as target host

##### SUMMARY
apt does not install unauthenticated packages even with `allow_unauthenticated: yes` during upgrade

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Updates should be installed

##### ACTUAL RESULTS
[code]

[2018-02-27 20:34] sivel commented on #36799
Currently `allow_unauthenticated` is only supported with `state: install/present` and does not impact the `upgrade` code path.  As a work around, it looks like `force: yes` may allow similar functionality.

[2018-02-27 20:35] DSpeichert commented on #36799
Could we make this a feature request to support `upgrade`? The output suggests it is possible, just Ansible needs to add this flag (`--allow-unauthenticated`)?

Or at least make it explicit in docs when it is supported or when it isn't - unless I missed it.

[2018-02-27 20:42] lucastheisen commented on #34470
@jborean93 , thanks for the detailed explanation.  I have a temporary workaround that satisfies my requirements for now.  It boils down to creating a folder owned by my  connection user, removing acl inheritance, granting full permissions to my become user, using win_template without become, then using a run-as shell command to copy the post-processed file from its template destination to its real

[2018-02-27 20:56] johncapobianco opened #36801 "nxos_config SVI (Interface VLAN) idempotency issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
nxos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ACCELERATE_CONNECT_TIMEOUT(default) = 1.0
ACCELERATE_DAEMON_TIMEOUT(default) = 30
ACCELERATE_KEYS_DIR(default) = ~/.fireball.keys
ACCELERATE_KEYS_DIR_PERMS(default) = 700
ACCELERATE_KEYS_FILE_PERMS(default) = 600
ACCELERATE_MULTI_KEY(default) = False
ACCELERATE_PORT(default) = 5099

[2018-02-27 20:58] jborean93 commented on #34470
@lucastheisen I haven't tested it but you should be able to run this without become if the `ansible` user is an Administrator. You may need to run a quick process with become on the automation username to set up the profile folders but the base WinRM session should have enough rights to copy into that folder.

[2018-02-27 21:03] indivisiblewalrus opened #36802 "nxos_vpc missing config options"
##### ISSUE TYPE
 - Feature idea

##### COMPONENT NAME
nxos_vpc

##### ANSIBLE VERSION
[code]

##### SUMMARY
missing command functionality under 'vpc domain <id>' context
  peer-switch
  track
  ipv6 nd synchronize
  delay(initialization)
  dual-active
  graceful
  fast-convergence

I'd say the first 4 are most important, at least to me.

##### STEPS TO REPRODUCE
Not documented options to attempt

[2018-02-27 21:34] lpenz commented on #36786
@privateip I wonder how this fits with connection=netconf. Does it make sense?
I can confirm that this doesn't break the behavior I'm testing.

[2018-02-27 21:37] toadzky commented on #29455
this bug applies to non-existent groups too

[2018-02-27 21:37] sivel commented on #36799
Absolutely.  I was just adding context around current behavior so that whoever works on this has info to go off of.  I've left this issue open so that it can be addressed.

[2018-02-27 22:54] amshash commented on #22944
TASK [agent : Install package-1 on 10.10.10.3] ***************************************************
fatal: [10.10.10.3]: UNREACHABLE! => {
    "changed": false,
    "msg": "Failed to connect to the host via ssh: Shared connection to 10.10.10.3 closed.\r\n",
    "unreachable": true
}

However, I can manually ssh 10.10.10.3, with NO PROBLEM. Any idea?

I'm using dynamic inventory during the play.

[2018-02-27 23:03] diegoitaliait commented on #35219
Hi,

Unfortunately I do not know what to tell you, as I simply installed ansible through the pypi repo.

Performing the following command

`pip install ansible == 2.4.2.0`

After that a configuration playbook was launched from a **redhat 6.3** machine (python 2.6) with **ansible** **2.2.1** ==> to the redhat machine 7.3 (python 2.7).

Can this be what generated the file?

[2018-02-27 23:30] rwaweber commented on #29762
Couldn't find anything in the issues to indicate this is reported elsewhere, but this would be really nice to be able to update the group list of running instances without having to reprovision them.

[2018-02-27 23:33] winstonsimon opened #36805 "AWS: Support for Global Tables, Streams and Encryption at Rest"
##### ISSUE TYPE
 - Feature Idea
 - Documentation Report

##### OS / ENVIRONMENT
AWS

##### SUMMARY
Existing Dynamodb module lacks lot of feature what AWS provides at this point. We need support for following features:

1. Create global tables
2. enable dynamodb streams
3. Enable encryption at rest

##### EXPECTED RESULTS
Ansible users able to use all the latest feature what AWS provides.

##### A

[2018-02-27 23:34] juju4 commented on #31576
It seems it is not working better on 2.5.0b2
https://ci.appveyor.com/project/juju4/ansible-win-firewall/build/0.1.x.8/job/okehplrya7riif24
like 2.4.3
https://ci.appveyor.com/project/juju4/ansible-win-firewall/build/0.1.x.7/job/o5luubhmr0feu5sv

only 2.3.3 seems to be fine
https://ci.appveyor.com/project/juju4/ansible-win-firewall/build/0.1.x.8/job/af88pqc19a2myxeb

any plan to address it before 2.

[2018-02-27 23:56] juzsal opened #36806 "Support vars_files when using import_playbook"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

import_playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.4

##### SUMMARY

Currently it is not possible to use `vars_files` to import variables when using `import_playbook`. It would be useful for my use case to be able to do this, as I am combining a third-party playbook with a custom inven

[2018-02-28 00:03] sunshine69 opened #36808 "python3 lookup csvfile error csvfile: argument 1 must be an iterator"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
lookup with csvfile failed with error message:
[code]

##### STEPS TO REPRODUCE

prepare the csv file /tmp/test.csv with content
[code]

Playbook content:
[code]

Run ansible playbook and got the error

[code]

Switch back to use python2 for ansible with

[2018-02-28 00:49] mtarking commented on #36786
@lpenz Would you mind sharing your playbook structure and tasks? I've installed 2.5rc1 and in my hosts file set the ansible_connection=netconf. I initially tried ansible_network_os=nxos, but that failed with this error : ```{"msg": "connection=netconf is not supported on nxos"}``` (understood to most likely not be addressed in this issue ticket), so then I retried with ansible_network_os=default,

[2018-02-28 01:38] walling commented on #14413
Here's my solution (Ansible 2.4.2):

[code]

[2018-02-28 01:38] bincyber commented on #36745
@punkrokk thanks for debugging the issue further. I will modify the code to support pagination.

[2018-02-28 02:11] punkrokk commented on #36745
Thanks man. Lmk if you need help. We started a PR but realized it needed some refactoring we couldn’t do today.

Cheers,

JP

[2018-02-28 02:13] BondAnthony commented on #35986
@wolfthefallen version `2.5.0rc1` is currently on PyPI if you would like to test that release.

[2018-02-28 02:45] jborean93 commented on #34343
I've been toying around with this today and while it is theoretically possible it is not something that is easily done. Currently I see 3 different ways of achieving this and documented the advantages/disadvantages of each option

* Copy the token of the user if they have a process running on the host at that time
    * The token is a duplicate of the user at that time
    * It may be able to auth

[2018-02-28 02:55] jlozadad commented on #36382
getting something similar using  wait_for_connection after a reboot.
`
- name: restart system to reboot to newest kernel
        shell: "reboot & sleep 20"
        async: 0
        poll: 0
        ignore_errors: yes

- name: wait for the system to reboot
        wait_for_connection:
          connect_timeout: 20
          sleep: 20
          delay: 60
          timeout: 60
`

[2018-02-28 03:23] dagwieers commented on #36400
It would help if you select the right component when you report issues, so that the right people are informed. Component should be "xml" not "API". Please change.

[2018-02-28 03:47] liqingkai2017 commented on #36153
@gundalow  I have a problem and need your help, it is about the interactive command,as I know the network plugin use local before did not support commands sending by this way,can it support it by network_cli?

the command example is:
[~Ansible]undo ***
Warning: This command will delete the configurations of *** on all the ports.Continue? [Y/N]: Y

as this kind command we need to send "undo ****" ,

[2018-02-28 04:19] gdpak commented on #36786
I was able to get netconf_config working on another Cisco device iosxr. netconf_config is platform agnostic module with raw xml data so it should work with Cisco nxos also. Can you please confirm if netconf agent is running on nxos by running following command ?
ssh -p 830 <username>@<host-ip>  -s netconf

it should return the netconf capabilities if netconf agent is running..

[2018-02-28 04:25] mtarking commented on #36786
@gdpak Yep, I wouldn't open an issue and not have the fundamentals configured. It'd be good to test apples to apples. Given this Ansible module actually relies on ncclient, I've replicated this and various other rpcs directly using ncclient, but with this module it fails. In the source code, there's nothing that makes this module adhere to ncclient's recommendation for device connectors. Is it bec

[2018-02-28 04:46] zikalino commented on #35536
implemented the solution as mentioned above.

[2018-02-28 05:02] gregswift commented on #35745
So far in my playing `with_fileglobs` is actually worse in behavior than what I'd expect.

[code]
Returns only the last file parsed inside the variable 'test' (yes i'm aware of the other discussions around this).  However, using include_vars by itself, like this, brings them all together just fine:

[code]

Frankly, the reason this has been an annoyance is that I like to include README's in the ba

[2018-02-28 05:15] ganeshrn commented on #36786
@mtarking Can you please apply the referenced patch PR #36819 and rerun with connection=netconf on stable-2.5 branch

[2018-02-28 05:15] #36795 closed, assigned to nobody

[2018-02-28 06:00] mtarking commented on #36786
@ganeshrn I pip installed 2.5.0rc1 which showed green/shippable. I then copied your netconf.py file and replaced the default file. Using my same playbook, I changed from local to ```ansible_connection=netconf``` and ```ansible_network_os=nxos``` in my hosts file. I'm executing the playbook as follows: ```ansible-playbook -i hosts site.yml -u admin -k -vvv```
I thought your fix would have done it a

[2018-02-28 06:27] ganeshrn commented on #36786
The error message you are seeing now is because nxos netconf plugin does not exist yet. I have updated the same PR to fallback on default netconf plugin in case the platform specific plugin does not exist.

An easier way to test PR branch is
[code]
The output of the last command should point to <present-working-directory-path>/bin/ansible

[2018-02-28 07:17] jdoss opened #36825 "openssl_certificate fails to write Let's Encrypt signed cert with Python 3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
openssl_certificate

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

Fedora 27 Workstation
Fedora 27 Server (Target)

##### SUMMARY
Generating a Let's Encrypt cert fail when using `ansible_python_interpreter=/usr/bin/python3`

##### STEPS TO REPRODUCE
Generate a Let's Encrypt Certificate

[code]

##### EXPECTED RESULTS

A signed SSL cert w

[2018-02-28 07:54] gbataille opened #36829 "ec2_ami_facts sort order? - get the latest AMI of a type (e.g. ubuntu)"
##### ISSUE TYPE
 - Feature Idea?
 - Documentation Report

##### COMPONENT NAME
ec2_ami_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
not relevant

##### OS / ENVIRONMENT
MAC OSX

##### SUMMARY
I just upgraded to 2.5.0rc1 to get the rule description in ec2_group.
I noticed the deprecation notice from ec2_ami_find to ec2_ami_facts.
One thing I don't find anymore is the ability to sort. W

[2018-02-28 08:06] Akasurde commented on #32886
resolved_by_pr #36811

[2018-02-28 08:30] MiStErLu opened #36831 "docker_container - missing read/write parameters"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/docker/docker_container.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
Ansible is missing support for the docker run

- --device_read_bps=<value>
-  --device_read_iops=<value>
- --device_write_bps=<value>
- --device_write_iops=

[2018-02-28 09:32] cavamagie opened #36835 "[vmware_guest] After deploy VM network is unknown"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest
when deployng a machine from template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible-config dump --only-changed --no change

##### OS / ENVIRONMENT
debian 8.8

##### SUMMARY
i use vmware_guest
when i try to deploy a machine from template and use a not vswitch i receive the error in vmware:
"A specified parameter was not

[2018-02-28 09:36] zikalino commented on #31967
i am just fixing all deployment issues, so i should handle this one by the end of this week.

[2018-02-28 09:36] TFCVDMEIJ opened #36836 "Assigning a role using a variable doesn't work when variable is prompted, does work when hardcoded"
- Bug Report (/Question)

##### COMPONENT NAME

- vars_prompt
- roles

##### ANSIBLE VERSION

ansible 2.3.1.0
I am not able to test this in other ansible versions.

##### CONFIGURATION

├── ansible.cfg
├── inventories
│   └── hosts
├── roles
│   └── test
│       └── tasks
│           └── main.yml
└── test.yml

##### SUMMARY

I have a setup following the setup sketched above. I want to assign a rol

[2018-02-28 09:45] miminar commented on #11496
No change on `ansible 2.4.3.0` either.

My case:

[code]

Actual result:

[code]

Expected result:

`ld3140.example.com` is picked instead of `ld3142.example.com` and the task is not skipped.

[2018-02-28 09:50] Akasurde commented on #36835
@cavamagie Thanks for reporting. Could you please retry using Ansible 2.5.0rc1 ?

needs_info

[2018-02-28 09:51] queria commented on #36170
@MonsieurCellophane yes, while for 'yeah' use case it may not be that much good without skippy,

but imagine there is not just one word, but whole log or output of get-status-overview commands etc,
spanning few dozen+ lines ... in which case one skip is better price to pay,

... instead of having to choose between '_always use increased verbosity_'  vs '_double printing in case of increased verbos

[2018-02-28 10:08] umrikar commented on #36773
@Akasurde...  Thanks, Its resolved_by_pr #36778

[2018-02-28 10:08] umrikar commented on #36773
will it be integrated in ansible 2.6

[2018-02-28 10:23] lpenz commented on #36786
@mtarking The repository https://github.com/lpenz/ansible-testing-netconf has the tests I use. It's essentially a smoke test against openyuma, nothing sophisticated.
The theory is that it doesn't do a whole lot more than `ssh -s admin@10.0.249.251 -p 830 netconf < config.xml` with some checks and activating the config afterwards - but it really depends on the portability of ncclient as well.

[2018-02-28 10:35] cavamagie commented on #36835
"msg": "Failed to create a virtual machine : A specified parameter was not correct: spec.deviceChange.device.port.switchUuid"

using
ansible 2.6.0
  config file = None
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python2.7/dist-packages/ansible
  executable location = /usr/local/bin/an

[2018-02-28 10:48] okgolove opened #36837 "Terraform module doesn't use variables dictionary"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- terraform

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Just main.yml

##### OS / ENVIRONMENT
WSL, Ubuntu 16.04.3 LTS

##### SUMMARY
I want to try terraform module from ansible 2.5 beta version. Terraform module always validates terraform files before starts applying, but it doesn't include variables specified in terraform module `variabl

[2018-02-28 11:17] #36776 closed, assigned to Akasurde

[2018-02-28 11:17] arjunprakashn commented on #36776
cosed ,config issues

[2018-02-28 11:29] orlra commented on #16456
Same problem with quotation. Seems bad that error is so bad that whole file is considered broken, and no way to point line except manual inspection.

[2018-02-28 11:33] Akasurde commented on #36776
@arjunprakashn Could you please add solution to config issue so that in future people may refer it ?

[2018-02-28 11:53] artmatsak commented on #36791
This seems to be unrelated to Ansible because this simple Python script also fails with the same error on my machine:

[code]

[2018-02-28 11:53] #36791 closed, assigned to nobody

[2018-02-28 12:12] Akasurde commented on #36835
@cavamagie Could you please run following script with appropriate values ?

[code]

TL;DR, I suspect that there are two types of DistributedVirtualSwitch -
1. `vim.dvs.VmwareDistributedVirtualSwitch`
2. `vim.DistributedVirtualSwitch`

One returns uuid as '50 25 1d c2 4c 01 04 b1-fb b4 7d 61 05 6d 95 3d' and two return uuid as '185bdc47-0fe8-4130-9014-00a91e8d519b' which is causing this error.

[2018-02-28 12:31] trishnaguha commented on #36751
@saichint Thanks for the bug report. Please try this PR https://github.com/ansible/ansible/pull/36827 and let us know.

[2018-02-28 12:32] gundalow commented on #28708
@mhalano Hi, we'd be looking to the community to develop such a module

!component lib/ansible/modules/network/layer2/net_vlan.py

[2018-02-28 12:46] BondAnthony commented on #36791
Thanks @artmatsak, it sounds like you have something messed up within your certificates on the host.

[2018-02-28 13:05] cavamagie commented on #36835
i have to pass a  DistributedVirtualSwitch? in the scritp?

[2018-02-28 13:11] twhiston opened #36845 "openshift_raw cannot create RoleBinding resources"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
openshift_raw

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Attempting to create a rolebinding fails because the Openshift Python Module does not support the roleRef key, which is a required field for a rolebinding

##### STEPS TO REPRODUCE
[code]

Resource file
[code]

##### EXPECTED RESULTS
Rolebind is created

####

[2018-02-28 13:13] hryamzik commented on #35460
I would say IP addresses shouldn't be resolved, only hostnames...

[2018-02-28 13:23] cpmills1975 commented on #27064
In fact, virt_net only allows a single "action" to be specified in the play. If state is specified, then the core function exits before the commands are processed (probably right due to them being non-idempotent) and if either a state or a command is specified, core returns before autostart is evaluated.

The whole core function needs refactoring. In addition, if the state is set to active, but th

[2018-02-28 13:23] cavamagie commented on #36835
if i run with

hostname = 'vcenterxxxx'
username = 'xxxxxxx'
password = 'xxxxxxxx'
dvportgroup = '3122_Farm_Intel-2'

i receive

Traceback (most recent call last):
  File "chec-git.py", line 44, in <module>
    print(dvpg.config.distributedVirtualSwitch)
AttributeError: 'NoneType' object has no attribute 'config'

[2018-02-28 13:27] #33906 closed, assigned to nobody

[2018-02-28 13:32] drybjed commented on #27064
@cpmills1975 I agree - I wrote these modules based on the existing (at the time) `virt` Ansible module, and they might not be optimized for different use cases than managing VMs. Not to mention that my Python knowledge wasn't as good as it is today (still not good, but slowly improving). Do you want to take a crack at it and make these modules better?

[2018-02-28 13:37] gundalow commented on #36802
Thanks for the suggestion. We will see how this fits in with the the plan for post-2.5 work

[2018-02-28 13:38] pdreker commented on #27064
Please also see #27905 which may or may not be abandoned before diving deep into these modules.

[2018-02-28 13:38] cpmills1975 commented on #27064
I'll take a look later. Thanks for the prompt feedback.

[2018-02-28 13:39] pdreker commented on #27905
Is this still being worked on?

[2018-02-28 13:43] diafour opened #36848 "Double extended error message in AnsibleParserError (triple in 2.4)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
AnsibleError, AnsibleParserError, Task#preprocess_data, ModuleArgsParser#parse

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No special configuration, local connection.

ansible-playbook -c local -i localhost, playbook.yml

playbook.yml:
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04, Python 3.5.2 (default, Nov 23 2017, 16:37:01) in virtualenv

[2018-02-28 13:48] diafour commented on #36848
!component +lib/ansible/errors
!component +lib/ansible/parsing/mod_args
!component +lib/ansible/playbook/task

[2018-02-28 13:50] jigarjian-brian commented on #36206
There is an issue from a few months ago that has a similar error message although not exactly the same.

https://github.com/Azure/msrest-for-python/issues/75

It seems that this issue was resolved by using a newer version of msrest (0.4.23). However, we are currently using version 0.4.25 so this might not be the issue in our case.

[2018-02-28 13:57] ghost opened #36849 "High memory consumption in loops and includes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core - Loops

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
All by default

##### OS / ENVIRONMENT
Linux agil 4.4.0-116-generic #140-Ubuntu SMP Mon Feb 12 21:23:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY
We've detected a very high memory usage when mixing includes and loops. In a real production situation with more than 200 ho

[2018-02-28 13:57] dkirrane opened #36850 "unixy callback fails with warning when using 'non strings' in debug's msg"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`unixy` callback plugin

##### ANSIBLE VERSION
ansible 2.6.0
  config file = //ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.14 (d

[2018-02-28 14:14] mtarking commented on #36786
@ganeshrn I pulled your repo and sourced it. I pip installed requirements and ncclient. I reran my playbook same as before with ```ansible-playbook -i hosts site.yml -u admin -k -vvvv```, but now getting this traceback:
[code]
Task:
[code]
Hosts file:
[code]

[2018-02-28 14:25] wufpack00 commented on #35580
The steps to reproduce don't indicate what host you are executing on, but since ec2 module uses a local connection I would bet that is your issue.

Be sure you are executing the filesystem and mount module on the ec2 instance itself, not on localhost.

[2018-02-28 14:43] jlozadad commented on #14413
this worked for me:
[code]

[2018-02-28 14:47] jbscare commented on #14413
All these workarounds are interesting, but the real fix will be

Right? (from https://github.com/ansible/ansible/issues/14413#issuecomment-330523110)

[2018-02-28 14:59] gundalow commented on #36153
[code]

Lets move any further discussion to `#ansible-network` on Freenode IRC

[2018-02-28 15:04] dagwieers commented on #14413
Confirmed.

[2018-02-28 15:19] jlozadad commented on #14413
looking forward to it

[2018-02-28 15:38] gundalow commented on #36777
As part of guiding people away from `connection: local` we should explain `network_cli` and `netconf` connection plugins.

Also http://docs.ansible.com/ansible/devel/porting_guides/porting_guide_2.5.html#change-in-deprecation-notice-of-top-level-connection-arguments needs updating to show how you *should* write your playbooks in Ansible 2.5

[2018-02-28 15:38] rdepke commented on #35613
Hi sorry for the delay, we still have this issue and reproduced it on a Linux machine.
[code]
[code]

[2018-02-28 15:42] dagwieers commented on #35613
Can you provide us with a traceback ? I hope with the new code there is one.

[2018-02-28 15:42] gundalow commented on #35084
This should also address https://github.com/ansible/ansible/issues/34697 eos & nxos over HTTP(S)

[2018-02-28 15:44] dagwieers commented on #35613
Ah sorry, I can see you already responded after @abadger 's change, right ?

[2018-02-28 15:57] gundalow commented on #31198
DONE!

[2018-02-28 15:57] #31198 closed, assigned to gundalow

[2018-02-28 15:58] jmcgill298 opened #36867 "Network facts return documentation"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Documentation does not explain that return values are nested under `ansible_facts`

##### STEPS TO REPRODUCE

N/A

[code]

##### EXPECTED RESULTS

I expected to have to register the results and then access the key/value pairs directly

[2018-02-28 15:58] gundalow commented on #36564
https://github.com/ansible/ansible/pull/36673 is merged so closing this

[2018-02-28 15:58] #36564 closed, assigned to privateip

[2018-02-28 16:04] sivel commented on #36849
This has been resolved in https://github.com/ansible/ansible/pull/35921

This fix will be included in 2.4.4 and 2.5.0.

Below are some comparisons between versions

#### v2.4.3.0-1
Memory Consumption: 1267.84MB

#### devel
Memory Consumption: 61.02MB

#### v2.4.4-0.1.beta1
Memory Consumption: 56.24MB

[2018-02-28 16:04] #36849 closed, assigned to sivel

[2018-02-28 16:15] max-lobur commented on #29766
crap

[2018-02-28 16:21] boyd77 opened #36869 "Ansible gets permission denied using become when ran out of a nfs mounted directory"
##### ISSUE TYPE
 - Feature Idea

Allow ansible to be ran from a shared NFS mount without the need to set NFS option no_root_squash

##### COMPONENT NAME
n/a

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

changed ansible.cfg:
remote_tmp     =   /mnt/ansible/tmp

##### OS / ENVIRONMENT
RHEL 7.4

##### SUMMARY
when running ansible out of shared directory permission is denied access to the comma

[2018-02-28 16:24] gundalow commented on #32724
I'll ask internally to see if this is something we'd accept.

For reference the location is currently defined in `./plugins/action/ios_config.py`'s `_write_backup`

[2018-02-28 16:38] gundalow opened #36871 "Docs: Correct terms for products"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docs

##### ANSIBLE VERSION

##### SUMMARY

* Review all product names, capitalizations and hyphens, etc and ensure they are consistent across rst/networking and `modules/network/` (one PR for each section)

* `asa_`: Cisco Adaptive Security Appliance (ASA) Software
* `eos_`: EOS eAPI
* `ios_`:  IOS
* `iosxr_`: IOS XR
* `junos_`:  Juno

[2018-02-28 16:47] acozine opened #36872 "Document how to use Network return values"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Network platforms

##### ANSIBLE VERSION
2.5

##### SUMMARY
The Network Platform documentation includes information about the return value formats supplied by each connection type (e.g. NX-API, network_cli, Netconf). Document how to use those return values in network tasks - possibly on the platform-specific pages, or possibly elsewher

[2018-02-28 17:02] acozine commented on #36871
Arista's [docs](https://eos.arista.com/introducing-the-python-client-for-eapi-pyeapi/), use EOS and eAPI.
Cisco's [docs](https://www.cisco.com/c/en/us/td/docs/ios-xml/ios/fundamentals/configuration/15_sy/fundamentals-15-sy-book/cf-setup.html) use IOS.
Juniper's [docs](https://www.juniper.net/documentation/en_US/junos/topics/topic-map/netconf-ssh-connection.html) use Junos OS and NETCONF.

[2018-02-28 17:02] max-lobur commented on #29766
For ansible 2.2.0.0
[code]

[2018-02-28 17:02] x-yuri opened #36875 "`hostvars` is not available in host vars used inside loop statements"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
loops

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Arch Linux

##### SUMMARY
When loop statements mention `hostvars`, and some host vars use `hostvars` as well, those vars doesn't get their values.

##### STEPS TO REPRODUCE
`playbook.yml`:
[code]

`hosts`:
[code]

`host_vars/h1`:
[code]

`host_vars/h2`:
[code]

Archive with [the files](

[2018-02-28 17:07] ganeshrn commented on #36786
@mtarking The traceback indicates it is failing while running `unlock()`, most likely seems a command_timeout related issue. Can you please try the troubleshooting steps mentioned here http://docs.ansible.com/ansible/devel/network/user_guide/network_debug_troubleshooting.html#category-socket-path-issue

[2018-02-28 17:14] bincyber commented on #36745
I've pushed a fix which should resolve this issue.

[2018-02-28 17:18] gundalow commented on #36867
Would it be OK to add a few lines in the `notes:` section of the `_facts` modules to make this clearer?

[2018-02-28 17:18] dagwieers commented on #34343
@jborean93 Thanks for this detailed report. If you're used to sudo, it's hard to grasp this is not easier on Windows.

We do have this use-case when managing desktops and require actions as that user (and users are able to set their own password, we don't know). Modifying the registry for that user only partly helps. But I understand that our use-case is very specific and not a priority.

I would

[2018-02-28 17:20] alikins commented on #36400
(for issue bot)
!component =lib/ansible/modules/files/xml.py

[2018-02-28 17:33] bdowling commented on #32724
Would like to :+1: this one as well, with all the flexibility ansible normally provides, this one aspect is overly rigid and the work around feels like a kludge.

[2018-02-28 17:49] jmcgill298 commented on #36867
IMO the way the return header reads now indicates that the values are returned by the module, when actually only `ansible_facts` is returned. But notes is still better than what is there now. What do you think about just saying the following values are returned to ansible_facts?

[2018-02-28 17:51] tbielawa commented on #36400
@jacksonp2008 Can you help me out with some more debugging information. Try running these commands and let's see what we can find.

I used localhost just to get examples of expected output. You should **replace** `localhost` with your `docker1` host.

* See if pip still shows `lxml` when ran through ansible (maybe not necessary, but nice to know):

* See if python can import lxml when ran through

[2018-02-28 18:19] mtarking commented on #36786
Please see the attached snippet from the ansible.log where at line 107 appears to indeed be a timeout occurring with ncclient.
[snippet_ansible.log](https://github.com/ansible/ansible/files/1768327/snippet_ansible.log)

[2018-02-28 18:24] ganeshrn commented on #36786
That's right, command timeout is triggered based on logs.
`2018-02-28 13:10:19,754 p=3510 u=pod1user |  command timeout triggered, timeout value is 10 secs`

Please retry after increasing the `command_timeout` and `connect_timeout` value in the active ansible.cfg file
[code]

[2018-02-28 18:37] mtarking commented on #36786
@ganeshrn Setting the timeouts worked.
[code]
I will admit, I haven't used those variables before, so learned something for troubleshooting. What is the proper way to handle this though, in the module or plugin?

To recap thus far, there has been no code modifications to the netconf_config module, so ```ansible_connection: local``` would still be busted for this device connector type using ncclien

[2018-02-28 18:37] telecodani commented on #33699
This worked for me:

First make sure that user which connect to the server is part of sudoers.

Then in the playbook, is only needed "become: true" and in the inventory
 is needed "ansible_become_pass=sudo_pass" in the same line that the server.

:)

[2018-02-28 18:47] bcoca commented on #13244
bot_broken

[2018-02-28 18:50] privateip commented on #32724
I'm okay with adding the capabilities as long as its done by using the copy module.   If you are going to do it, I would recommend looking at the `template` module in `action_plugins`.  We should call the `copy` module with the correct arguments and not reinvent the wheel to code writing contents to disk.

[2018-02-28 19:03] indivisiblewalrus opened #36880 "nxos_config Unable to apply custom control plane policer due to interactive confirmation"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
nxos 7.x

##### SUMMARY
Unable to apply custom control plane policer due to interactive confirmation
Confirmation request:
switch01(config)# control-plane
switch01(config-cp)# service-policy input copp-policy-strict-custom
This operation can cause disruption o

[2018-02-28 19:16] peterpakos opened #36881 "Task ec2_vpc_peer does not work for inter-region VPC Peering"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[lib/ansible/modules/cloud/amazon/ec2_vpc_peer.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_vpc_peer.py)

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Vanilla install via Homebrew, no modifications

##### OS / ENVIRONMENT
System Version: macOS 10.13.3 (17D102)
Kernel Version: Darwin 17.4.0

##### SU

[2018-02-28 19:32] kosmoit commented on #24530
@nicobrevin  @emonty  i've stumbled on this in search of answers to my issue.   I've historically ran puppet via ansible hostname -m shell -a "puppet agent -t"

i looked and saw a module for puppet and said, why not try that module....  I get the same error as this bug.   Any assistance would be great

ansible HOSTNAME -m puppet -b
HOSTNAME | FAILED! => {
    "changed": false,
    "msg": "Puppet a

[2018-02-28 19:33] neekz0r commented on #31822
I believe there are two portions:

1) The code needs to understand the ip.addres:port format OR it needs to understand port=something
2) Then it needs to be updated to use the available `dns.query.udp(options)` as you stated.

[2018-02-28 19:38] xenithorb commented on #12565
I just ran into this bug myself ... Use case is that I use the per-OS `include_vars` for a very complex role.

And while debugging, in order to save time I know I need to load up the `vars_include` tasks in order for the role to run correctly. This works with `tag: always` if I'm just using tags to test, but not with `--start` and that's a bit of a pain because I only need to run half of the playb

[2018-02-28 19:44] xenithorb commented on #12565
Alternatively it would make sense to me if `always: <bool>` worked for both `--tags` and `--start-at-task` but not `tag: always` because the directive implies that it's setting a tags attribute.

[2018-02-28 20:05] itdependsnetworks commented on #32724
I want to leverage the code provided as much as possible, but this should be a simple change.

from
[code]
to:
[code]

I just have to build or find that `create_dir_if_needed` function.

[2018-02-28 20:16] jborean93 commented on #35460
@hryamzik yea I'm not sure why I programmed like that but I am leaning towards that train of thought. I think it was actually for this reason to detect if the port is externally accessible but in hindsight that probably isn't what we want.

[2018-02-28 20:37] steaksauce- commented on #31822
While we're at it, might as well as add support for dns.query.tcp(options). Should default to port 53 and UDP when not specified otherwise.

[2018-02-28 20:38] peterpakos commented on #36881
This looks like a duplicate of #34036 which has been addressed with `peer_region` parameter added in Ansible 2.5.

Closing off.

[2018-02-28 20:38] #36881 closed, assigned to nobody

[2018-02-28 21:46] jborean93 commented on #35966
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * When running `ansible-galaxy install`, it is assumed there are roles to be installed and if the requirements file is empty that goes against the standard behav

[2018-02-28 21:46] #35966 closed, assigned to nobody

[2018-02-28 22:21] jborean93 commented on #36772
My local setup seems to be fine, here is what I used to run it

[code]

When running on 2.4.2.0 here is the results

[code]

This is what I would expect, after the 2nd shell task fails on host2, the play and any subsequent plays stops due to the presence of `any_errors_fatal: yes`. Even the handlers are not run because the play is seen as fatal.

Are you able to try out my repro and see if the iss

[2018-02-28 22:22] #36495 closed, assigned to nobody

[2018-02-28 22:24] bbartik commented on #36717
This issue is also in ios_config

[2018-02-28 22:33] jborean93 commented on #36797
This looks to be a duplicate of https://github.com/ansible/ansible/issues/30219. There is a workaround in that issue for dealing with colons but I am closing this issue so we don't have duplicates.

[2018-02-28 22:33] #36797 closed, assigned to nobody

[2018-02-28 22:34] jborean93 commented on #30219
_From @DSpeichert https://github.com/ansible/ansible/issues/36797_

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt_repository

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04 as target host

##### SUMMARY
apt_repository does not tolerate repositories with a colon

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL R

[2018-02-28 22:53] johnbianchi commented on #25522
How can this be a "fix":
``
Just pushed a fix.  The only caveat is that there cant be any spaces around the comparison.
 uid>=1025 as opposed to uid >= 1025
``

realm joining with SSSD writes the pam.d file, we do not have control if there are "spaces" around the comparison

before pamd module:

after pamd module:

that is still broken

[2018-02-28 22:57] akcrisp commented on #14413
I am interested to know whether any reboot module will support various Unix flavours beyond Linux ? Ie aix / Solaris etc, I assume it works with windows ?

The point I made with my example and most seem to have missed it - is that by simply having a time out of waiting for port 22 - it’s entirely possible to get a false positive - if a host takes longer to shutdown processes i.e. think large datab

[2018-02-28 23:02] ebarault commented on #15215
I confirm, when assuming a role from the CLI, setting AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY and AWS_SESSION_TOKEN alone in the env does not work, but adding AWS_SECURITY_TOKEN works as @dirkjonker pointed out.

While this allows working with roles assumed from the CLI, this is still a somewhat a bug, and could be fixed in ec2.py.

[2018-02-28 23:04] alikins commented on #36772
Similar to https://github.com/ansible/ansible/issues/18602

[2018-02-28 23:23] #36850 closed, assigned to nobody

[2018-03-01 00:00] dagwieers commented on #14413
@akcrisp That is the intention. The discussion was linked here before: https://github.com/ansible/ansible/issues/16186

[2018-03-01 00:27] willthames commented on #29766
This issue was fixed in 66ced41485 in 2016!

We do *not* support ansible 2.2 any longer, the fix is available in 2.3 onwards.

If for some reason you can't upgrade ansible, you can use newer modules with older ansible
https://willthames.github.io/2017/12/12/using-updated-modules-with-stable-ansible.html

[2018-03-01 00:27] #29766 closed, assigned to nobody

[2018-03-01 00:55] willthames commented on #15215
This isn't really an Ansible bug per se - ec2.py relies on boto, which doesn't really know about the AWS_SESSION_TOKEN env var (boto3, on the other hand, does)

https://github.com/boto/boto/issues/3298

We can probably add some functionality to work around this inconsistency, but it's related to an upstream inconsistency rather than anything weird that we're doing (`TOKEN` doesn't even appear in e

[2018-03-01 00:56] willthames commented on #15215
In future ec2.py will be converted to inventory plugins and ported to boto3, which should stop such nasty inconsistencies.

[2018-03-01 01:55] tunaranch commented on #15915
This issue affects ansible 2.3.3.0 as well.

[code]

The workaround described in https://github.com/ansible/ansible/issues/15915#issuecomment-293960640 gets around the problem.

[2018-03-01 02:13] privateip commented on #32724
@itdependsnetworks We need to fix this the right way (it was implemented wrong to begin with) which is why I made the comment in my earlier post about calling out to the copy module in the action plugin.  We have plenty of time to fix this (it will be a 2.6 change at this point) so lets take the opportunity to do it right.

[2018-03-01 02:47] bmv126 opened #36886 "Ansible lookup from json file, sorts the content"
ISSUE TYPE

    Bug Report

COMPONENT NAME
task

ANSIBLE VERSION
ansible 2.3

CONFIGURATION
OS / ENVIRONMENT
RHEL 7

SUMMARY
lookup from json file, sorts the content

STEPS TO REPRODUCE
[code]
Contents of meta.json is:
[code]

EXPECTED RESULTS
[code]

ACTUAL RESULTS
[code]

Can anyone let me know, how to avoid sorting of contents when loading a json file to a variable.

[2018-03-01 03:36] bcoca commented on #36886
its not actually sorting, ansible uses python internally, python dictionaries are 'unsorted' and can return a different order than as they were updated.

[2018-03-01 03:38] chouseknecht commented on #36845
@twhiston

Thanks for reporting this. The parameter issue is fixed by #36845.

[2018-03-01 03:48] chenli0906 commented on #27934
Have you solved it? I have the same issue.

[2018-03-01 04:04] Akasurde commented on #36835
@cavamagie Try updated code. Can you confirm if the distributed virtual portgroup exists and if yes, then does it contain the said ESXi host ?

I am able to replicate your issue if I specify a DVPG which does not have ESXi server as host member.

Could you please confirm procedure of creation of DVPG - manual or automated using Ansible ?

[2018-03-01 04:10] maxamillion commented on #35219
CC @bcoca @jimi-c - Any thoughts on this one? I'm unsure where this `.fact` file might have come from and I was curious if y'all might have some historic context I'm not familiar with.

[2018-03-01 04:12] Akasurde commented on #36745
resolved_by_pr #36876

[2018-03-01 04:19] maxamillion commented on #35717
@nv596r I'm not sure there's really a standard way but I'd suggest to [run it from source](https://docs.ansible.com/ansible/latest/intro_installation.html#running-from-source) and apply the patch to test.

[2018-03-01 04:25] maxamillion commented on #35778
@jdschmitz15 2.2.1 is no longer getting anything but security bugfixes as I mentioned before, can you reproduce this issue with Ansible 2.3.x or 2.4.x?

[2018-03-01 04:28] Akasurde commented on #32886
@cyrbi Could you please check if above PR resolves your issue ? Thanks.

[2018-03-01 04:46] DavidWittman commented on #29578
@jstephenson I just added a patch which adds the `cap_drop` option... please test it out and report any issues!

[2018-03-01 05:09] bmv126 commented on #36886
In python we have the OrderedDict, which is used to to maintain order.
Do we have any filter for this behaviour in ansible.

[2018-03-01 05:12] bmv126 commented on #36886
Requirement is that the first host in the json has a higher configuration. If it gets randomly ordered, then the first key will contain a host of not my requirement.

[2018-03-01 05:19] stutzzzz opened #36890 "Dell OS6 Config Module Failure"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-03-01 05:25] DSpeichert commented on #36797
@jborean93 Understood, sorry about the duplicate.
By the way, I don't think that workaround is complete - it does not trigger GPG key pull.

[2018-03-01 05:26] #36751 closed, assigned to trishnaguha

[2018-03-01 06:07] Akasurde commented on #33284
@mowntan While debugging https://github.com/ansible/ansible/issues/36835 I found that there are two types of virtual switches. And UUID returned by them are also different. Also, found that if host on which VM is going to be deployed should be part of that DVSPortgroup + DVSwitch, else you will always get this error.

Could you please check if the host / cluster member host are part of that DVSPor

[2018-03-01 06:26] jborean93 commented on #36797
That's ok, we do triage to try and avoid duplicates. Feel free to add that information to the ticket so the person who decides to fix it knows as much info as possible.

[2018-03-01 06:39] #36204 closed, assigned to ganeshrn

[2018-03-01 06:40] trishnaguha commented on #36747
Thanks for the bug report.
We should check running-config instead of operational state for idempotency.
I will work on the fix.

[2018-03-01 07:13] Akasurde commented on #29578
resolved_by_pr #36889

[2018-03-01 07:21] ghost opened #36892 "Ansible wrong search path"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible module "import_playbook"
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No configuration changed as output of ansible-config dump --only-changed

##### OS / ENVIRONMENT
[code]

##### SUMMARY
I would like to create a Master Playbook that when launched with some tags, import other "slave" playbook (every one of them has roles, tasks, va

[2018-03-01 07:26] #36892 closed, assigned to nobody

[2018-03-01 07:49] cavamagie commented on #36835
yes is correct i maskerade the name but are correct

[2018-03-01 07:59] Akasurde commented on #36835
OK. I am not sure what is happening here.

[2018-03-01 08:11] duck-rh commented on #34685
@Akasurde sorry for the delay.
I tested with current master and it is fixed, thanks.

[2018-03-01 08:11] #34685 closed, assigned to nobody

[2018-03-01 08:14] broferek commented on #32238
I'm also having the issue with a ansible2.4 on CentOS Linux release 7.4.1708 (Core).

[2018-03-01 08:15] Akasurde commented on #34685
@duck-rh No problem. Thanks for reporting back.

[2018-03-01 08:20] Akasurde commented on #30118
@mavit Thanks.

Closing this issue as this is now supported by https://github.com/ansible/ansible/commit/52332f5b78d2ecbe4368be9c52f0aaa52fc305e8

[2018-03-01 08:20] #30118 closed, assigned to nobody

[2018-03-01 08:50] liyaka commented on #29607
@yuwzho Thanks, but it means i need to rewrite my role which is used for other cases as well (and works just fine).
I believe the issue can not be closed till it is released...

[2018-03-01 09:20] ebarault commented on #15215
@willthames thanks for commenting this back.
I did notice there were no reference to AWS_SESSION_TOKEN in ec2.py, but I wasn't aware of the upstream issue in boto, thanks for pointing this out.

So, yes, fixing things in ec2.py to understand AWS_SESSION_TOKEN would serve as a workaround for the bug in boto, and yet would be useful. All depends on the timeframe for this new boto3-based EC2 ansible

[2018-03-01 10:13] twhiston commented on #36845
Interesting when i use this version I now encounter another error
[code]

[2018-03-01 11:03] umrikar commented on #36030
Thanks..issue resolved with https://github.com/ansible/ansible/pull/36091

[2018-03-01 11:21] twhiston opened #36900 "Cannot create openshift template instances "the server could not find the requested resource""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
openshift_raw

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Template instances cannot be created due to the error `"Failed to create object: the server could not find the requested resource"`

##### STEPS TO REPRODUCE
[code]
template_instance.yml
[code]

The actual template file that is included can be as simple as you

[2018-03-01 11:25] a0s commented on #33417
Unfortunately pip's version not working properly too. An error is still here

[code]

For python2
[code]

fatal: [127.0.0.1]: FAILED! => {"changed": false, "content": "", "msg": "Status code was not [200]: Request failed: <urlopen error [SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:590)>", "redirected": false, "status": -1, "url": "blablabla"}

For python3:
[code]

fatal

[2018-03-01 11:32] umrikar commented on #36773
i am able to create port group with patch but idem potency is lost..if i try to create same port group i get below error
 "msg": "Failed to update Portgroup as VLAN id was not correct as per specifications: A specified parameter was not correct: Vim.Host.PortGroup.Specification.name

[2018-03-01 11:50] liqingkai2017 commented on #36153
@gundalow  Thanks for your help,one more question :can our network module support connection by telnet  not by ssh

[2018-03-01 11:51] trishnaguha commented on #36880
@indivisiblewalrus this is because of the prompt in config. prompt in config is not supported in ansible network modules yet. we plan to implement prompt in config in future release/2.6

[2018-03-01 12:24] #20747 closed, assigned to nobody

[2018-03-01 12:39] brainstorm commented on #21562
Testing with `2.5.0rc1`, getting similar issue, so still broken for me, unfortunately :/

Downgrading to 2.2.0 works like a charm.

Trying `ansible_remote_tmp` as @bcoca suggested as a `extra_var` has no effect, unfortunately either :/

[code]

[2018-03-01 12:50] trishnaguha commented on #36747
@newswangerd please try the fix https://github.com/ansible/ansible/pull/36903

[2018-03-01 12:51] trishnaguha commented on #36752
@newswangerd please try the fix #36903

[2018-03-01 13:05] Akasurde commented on #36773
@umrikar Could you please provide playbook details and `-vvvv` output ?

needs_info

[2018-03-01 13:17] MarkusTeufelberger commented on #36825
Should have already been fixed in https://github.com/ansible/ansible/pull/35143

[2018-03-01 13:22] pjnagel commented on #35255
I'm also in favor of the option to silence this warning.

I have a single playbook with multiple plays that are intended to import the correct role depending on which group a host is in. So it is normal behaviour for only 1 out of 3 of the plays to match hosts.

I structured the playbook this way because if I have one play that conditionally imports the roles, then I either trip over #31751 or #18

[2018-03-01 13:29] bosa1 commented on #34164
I seem to have the same issue in Ansible 2.4.2.
Is there a version I can switch to that is not known to have this issue? or some workaround I could try?

[2018-03-01 13:35] jszigetvari opened #36905 "parted fails to create empty partion table on a new disk, says the number argument is missing"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
parted

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
Creating a disk label/empty partition table does not work with Ansible 2.4.3.0

Documentation says that the number argument is not mandatory, but in its latest version, Ansible seems to expect it.

##### STEPS TO REPRODUCE

[code]

####

[2018-03-01 13:38] chouseknecht commented on #36845
@twhiston

This might be a good candidate for a custom module. I'm guessing `oc` automatically handles setting the `api_group` within the `role_ref`. I'm not familiar with how role bindings work, and what the API call should actually look like.

Here's the `apiGroup` model, which is the missing data structure the error is complaining about: https://github.com/kubernetes-client/python/blob/release-

[2018-03-01 13:40] ganeshrn commented on #36786
@mtarking The support for `ansible_connetcion=netconf` which uses underlying Ansible persistent connection framework was added in 2.5 as  part of PR https://github.com/ansible/ansible/pull/33400

`ansible_connection=local` initiates a netconf session with remote host for every task run hence it is recommended to use `ansible_connection=netconf`

`ansible_connetcion=local` is supported for backward

[2018-03-01 13:44] twhiston commented on #36845
Well the interesting thing is that it seems to throw an error on the reply it receives because the RoleBinding gets added correctly. Also when I export an existing working RoleBinding object (made with `oc`) this value does not exist.
[code]

[2018-03-01 13:47] mtarking commented on #36786
@ganeshrn Right, understood. Just was clarifying that for the netconf_config module to work toward a Cisco Nexus device, the ```ansible_connection=netconf``` would have to used starting in 2.5 as there was no code update to the netconf_config module itself, thus ```ansible_connection=local``` would continue to fail (but I guess doesn't matter given it will be deprecated in the future) for any rele

[2018-03-01 13:52] ganeshrn commented on #36786
The right way to handle timeout issue is to increase the timer value either in `ansible.cfg` file or by setting timer related environment as mentioned in the troubleshooting guide.

Due to the current limitation in persistent connection framework timeout related messages are not displayed on the console.
In coming releases, we will be working on sending timeout related error messages to console so

[2018-03-01 14:10] danbohea commented on #22864
Am getting the same error but only on certain versions of macOS (Ansible 2.4.3.0 in each case):

https://travis-ci.org/macsible/macsible/builds/347767058

- macOS 10.13 (xcode9.3beta) (passed)
- macOS 10.11 (xcode7.3) (passed)
- macOS 10.12 (xcode8.3) (failed)
- macOS 10.10 (xcode6.4) (failed)

[2018-03-01 14:25] Akasurde commented on #36837
resolved_by_pr #36879

[2018-03-01 14:27] gundalow opened #36906 "Network docs: network_working_with_command_output interface speed example"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
ios_interface

##### ANSIBLE VERSION
[code]

##### SUMMARY

On http://docs.ansible.com/ansible/devel/network/user_guide/network_working_with_command_output.html @IPvSean suggested we should add some examples of `gt` with `rt_rate` & `tx_rate`

[code]

Can be post-2.5, though once done should be cherry-picked into `stable-2.5`

[2018-03-01 15:04] m4ci3k2 commented on #29774
Wouldn't it be better to add the option of changing the owner to postgresql_privs module? Then we could also change owners for separate objects.

NB. regarding

it should not be the case unless you explicitly disable setting the owner during the dump (`-O`).

[2018-03-01 15:06] dagwieers commented on #36867
I think we need to make a clear distrinction between **returned values** and **returned facts**.
And have separate sections for these.
I would even consider adding new terminology to make this clearer.

BTW IMO the returned values should have been part of the documentation blob, just like the returned facts. Rather then its own section, but that's a whole other story :-)

[2018-03-01 15:07] dagwieers commented on #36867
BTW I plan on redesigning the Returned Values section of the documentation as I have been doing for the rest of the docs. Mostly to avoid this chaos: http://docs.ansible.com/ansible/devel/modules/win_disk_facts_module.html

And if you have some time, let me know what you think about this: https://github.com/ansible/ansible/pull/36901

[2018-03-01 15:11] #36845 closed, assigned to nobody

[2018-03-01 15:16] twhiston commented on #36845
@chouseknecht should I create a new issue for the above error for api_group None?

[2018-03-01 15:21] inem commented on #36196
I am having the same problem. Here's the part that fails: https://github.com/inem/devops/blob/master/ansible/deploy.yml#L35-L44

The task is marked `failed` even when status is zero.

You can change it to `ls -l` for example with the same result.

The logs:

[code]

[2018-03-01 15:21] Qalthos commented on #33291
@jmcgill298 have you had a chance to test #39512 in your environment yet? If so, are there still concerns preventing it from closing this issua or #33290?

needs_info

[2018-03-01 15:43] davidbaril commented on #34054
Possible workaround?

What about using the Ansible pip module to perform a "pip" install of the pyOpenSSL python package?  If you run the following Ansible task:

     - name: install latest pyOpenSSL if needed
       pip:
         name: pyOpenSSL
         state: latest

and then you check the module version using pip:

pip freeze | grep OpenSSL
pyOpenSSL==17.5.0

It shows up as version 17.5.0.  T

[2018-03-01 15:49] jsumners commented on #34054
@davidbaril from my original report:

[2018-03-01 16:02] davidbaril commented on #34054
Could openssl_certificate include a private copy of pyOpenSSL somehow aliased to avoid the conflict with the default system utilities?

[2018-03-01 16:03] unguiculus commented on #31620
We are having the same issue. We use `ansible-vault` directly. Files are encrypted locally on MacOS. Jenkins cannot decrypt them. The Jenkins agent runs as a Ubuntu 16.04 Docker container. Ansible version is 2.4.3.0 in both cases.

[code]

FWIW, a file encrypted in the Ubuntu container can be successfully decrypted again. Files encrypted on MacOS cannot.

[2018-03-01 16:07] jimsmith commented on #24740
What matthewapeters has raised, this is a blocker for enterprise users and given Ansible is now with RedHat who have enterprise customers this I would love to see being implemented.

I keep coming across this for enterprise customers for more than 3 years now and was hoping this would have been resolved by now.

[2018-03-01 16:10] unguiculus commented on #31620
Also happens when I encrypt a file in the Ubuntu container and try to decrypt it on MacOS.

[2018-03-01 16:20] alikins commented on #36848
The mod_args.py and task.py cases need some tweaking, since currently they catch AnsibleParserError and then raises a new AnsibleParserError() with additional args, so the final displayed exception's orig_exc has two or more instances of the same exception type with the same message.  And when displayed as shown, that doesn't make a ton of sense.

[2018-03-01 16:30] davidbaril commented on #34054
Thanks for the feedback.

Its unfortunate.  This makes the openssl_certificate Ansible module unusable with Red Hat distributions ... who is the corporate parent of Ansible :-(

I my case, I will just code the openssl commands directly to create the certificate and check out the other certificated related roles in Ansible Galaxy.

[2018-03-01 16:34] MarkusTeufelberger commented on #34054
Your "pip install" workaround should work in general, it won't work for @jsumners because he seems to require the official pyopenssl package installed too. Installing pyopenssl with pip and with yum will cause some headache.

[2018-03-01 16:53] #36786 closed, assigned to ganeshrn

[2018-03-01 16:59] rbicker commented on #36835
I am having the same issue and while I was reading this thread, I noticed that @cavamagie seems to have dashes and underlines in the portgroup's name, which is also the case in for me. A shot in the dark, but might this be the reason why the existing portgroup cannot be found?

[2018-03-01 17:01] umrikar commented on #36773
Hi,
 when i try to updated vlanid for created port group.i am getting below error

[WARNING]: provided hosts list is empty, only localhost is available. Note that the implicit localhost does not match 'all'

PLAY [127.0.0.1] *****************************************************************************************************************************

TASK [Gathering Facts] *************************

[2018-03-01 17:02] umrikar commented on #36773
i created portgroup with vlan_id as 1 earlier and tried to create agian with vlan_id=2 . below is playbook

---
- hosts: 127.0.0.1
  connection: local
  tasks:
    - name: Add Management Network VM Portgroup
      local_action:
        module: vmware_portgroup
        hostname: 10.243.1.45
        hosts: 10.243.1.45
        username: root
        password: PASSW0RD
        switch_name: vSwitch0

[2018-03-01 17:03] jimsmith commented on #24740
looks like this one is more active.?
https://github.com/ansible/ansible/issues/15215

[2018-03-01 17:06] alikins commented on #36848
For cases like:

https://github.com/ansible/ansible/blob/devel/lib/ansible/playbook/task.py#L187

... guess there is no particular reason to re raise a new AnsibleParserError in those cases.
 As far as I can tell,  we could either just do a plain (re) `raise`, or if we need to set/update the AnsibleParserError._obj we can do it the original Exception instance and (re) `raise`

[code]

[2018-03-01 17:17] verschoof opened #36914 "Ansible ignore double servers in host"
Hi,

I have a question / feature request.

We use ansible for 2 purposes;
- Deploying our applications
- Provisioning the servers

Those are 2 different playbooks.

Now we have the following case;
We deploy our application 2 times on the same server (`staging` / `production`):
[code]

When I provision `webserver` ansible sees that webserver `staging` & `production` are the same server so it will o

[2018-03-01 17:29] resyst-it opened #36915 "VMware: VMWare inventory - Add tag"
##### ISSUE TYPE
Feature

##### COMPONENT NAME
contrib/inventory/vmware_inventory.py

##### ANSIBLE VERSION
devel

##### SUMMARY

Hello,

Is it possible to add tag for vmware_inventory.py instead of custom field ? Custom field will are outdated.
For tags : https://code.vmware.com/apis/191/vsphere-automation

Thank you.

[2018-03-01 17:36] bcoca commented on #31620
So it seems we have several issues, none of them clearly the original of this ticket:
- one seems to be purely WSL based
-  one is 'author on osX and deploy on ubuntu' , probably due to encoding differences, encodings need to be the same
- Another is 'vaults in group vars are always open', this is not a bug, this is how Ansible works and wont' change, as Ansible CANNOT know w/o decrypting the vaul

[2018-03-01 17:39] DSpeichert opened #36916 "-e ansible_ssh_common_args requires double qouting"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`-e ansible_ssh_common_args=` CLI param

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When using `-e ansible_ssh_common_args='-o option=value'`
ansible executes: `ssh -o ansible_option=value -o -o ansible_option2=value`
it strips the `option=value`, only passes `-o` without contents

##### S

[2018-03-01 17:42] bcoca commented on #36914
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-03-01 17:42] #36914 closed, assigned to nobody

[2018-03-01 17:50] #36837 closed, assigned to nobody

[2018-03-01 17:52] ivan046 commented on #31620
@bcoca You are not right about the 3th issue:

 --- Another is 'vaults in group vars are always open', this is not a bug, this is how Ansible works and won't change, as Ansible CANNOT know w/o decrypting the vault if it needs the values inside the vault. If you want to ONLY decrypt vaults for certain plays, don't put them in host_vars/group_vars.

As you can see, I'm talking not about vaulted file

[2018-03-01 17:56] bcoca commented on #31620
@ivan046 i had read only your last post, yes, that seems like a bug, but you are mistaken about 'some modules' .. NO module does any templating, it always gets done on the controller side BEFORE calling the modules themselves. Still it is different problem from the others even if the error message is the same.

[2018-03-01 17:57] kiorky commented on #33259
This should be backported to 2.4, and big thx to @agaffney  !!!

[2018-03-01 18:31] jimsmith commented on #25718
Is this now working as it doesn't seem to be for 2.4.30 of ansible

https://github.com/ansible/ansible/issues/24740

[2018-03-01 18:39] DavidWittman commented on #25718
@jimsmith Seems like it won't be fixed as-is. I'm using cyrus-mc's version from https://github.com/ansible/ansible/pull/34279 with some success.

[2018-03-01 18:47] spiffytech commented on #32702
With Ansible 2.4.2.0 using an absolute folder path, I get `The name 'my_machine' already exists` when running my playbook a second time.

[2018-03-01 18:58] newswangerd opened #36919 "eos_interface intent fails on eapi"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

eos_interface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

eos_interface produces a stack track when run using eapi

##### STEPS TO REPRODUCE

`ansible-playbook -i eos.inv eos.yaml -vvvv`

[code]

group_vars/eos.yaml:
[code]

##### EXPECTED RESULTS

task should pass

##### ACTUAL RESULTS

[code]

[2018-03-01 19:12] newswangerd opened #36920 "Need to Review DCI tests for eapi"
##### ISSUE TYPE

 - integration tests

##### COMPONENT NAME

test/integration/targets/eos*
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Eapi is disabled on roughly 2/3rds of the tests:
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-03-01 19:22] thiagomgo commented on #4707
+1

[2018-03-01 19:49] jimsmith commented on #24740
referencing this it looks like maybe 2.5 version possibly
https://github.com/ansible/ansible/pull/34279

[2018-03-01 20:30] #36108 closed, assigned to nobody

[2018-03-01 20:32] fabianvf commented on #36845
@twhiston @chouseknecht

I think the error is being raised here: https://github.com/kubernetes-client/python/blob/release-4.0/kubernetes/client/models/v1_role_ref.py

Looks like `api_group` is in fact a required attribute. It looks like the server is returning an invalid/unserializable response for some reason. What version is your cluster?

I would definitely file another issue for this.

[2018-03-01 20:38] s-hertel commented on #36628
Just making a note that a custom waiter would fix this. Going to try to work on that soon.

[2018-03-01 20:38] danowar2k opened #36924 "[2.4] git module documentation does not mention that archive can only be used on a local cloned repo"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
git

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/home/vagrant/playbooks/playbook-moodle/ansible.cfg) = True
COLOR_VERBOSE(/home/vagrant/playbooks/playbook-moodle/ansible.cfg) = bright blue
DEFAULT_BECOME_METHOD(/home/vagrant/playbooks/playbook-moodle/ansible.cfg) = sudo
DEFAULT_HOST_LIST(/home/vagrant/playbook

[2018-03-01 20:52] nitzmahone commented on #34343
Yeah, I was afraid that NtCreateToken/ZwCreateToken might be the only viable approaches for this, and given that they're basically undocumented and pretty locked down- ick... The other two are total non-starters IMO, and yeah, getting all the right stuff plugged into a hand-built token would be ... interesting. So I'm guessing this one's going nowhere anytime soon...

[2018-03-01 20:55] danowar2k opened #36925 "FR: Allow git option archive to use remote repository without cloning"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
git

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/home/vagrant/playbooks/playbook-moodle/ansible.cfg) = True
COLOR_VERBOSE(/home/vagrant/playbooks/playbook-moodle/ansible.cfg) = bright blue
DEFAULT_BECOME_METHOD(/home/vagrant/playbooks/playbook-moodle/ansible.cfg) = sudo
DEFAULT_HOST_LIST(/home/vagrant/playbooks/playbo

[2018-03-01 20:56] danowar2k commented on #36924
Ok, so the feature request for remote repository archive is separate, in ticket #36925

[2018-03-01 21:10] bcoca commented on #35219
This is not from Ansible, the machine had a 'local fact' that causes the issue.

[2018-03-01 21:22] alikins commented on #31620
@ivan046 @unguiculus @stanchan @paulcalabro

For that particular error message, there is even more verbosity output  available at -vvvv and -vvvvv verbosity levels. That should include which file is trying to be decrypted.

(the value of the vault passwords themselves are not show at these levels...)

[2018-03-01 21:28] alikins commented on #31620
If anyone wants to add a reproducer test case to test/integration/targets/vault/ that would be excellent.

[2018-03-01 21:53] DSpeichert opened #36926 "apt_repository doesn't check if line is None"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apt_repository

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04 as target host

##### SUMMARY
apt_repository doesn't check if line is None

##### STEPS TO REPRODUCE
[code]

[code]

##### EXPECTED RESULTS
do nothing

##### ACTUAL RESULTS

[2018-03-01 22:21] ivan046 commented on #31620
@alikins even with '-vvvvv' it just gives
[code]
without any additional info.

[2018-03-01 22:29] willthames commented on #15215
@ebarault doc fixes are more likely to make it for 2.5 than changes to ec2.py - were you thinking of a fix to http://docs.ansible.com/ansible/latest/intro_dynamic_inventory.html#example-aws-ec2-external-inventory-script ?

[2018-03-01 22:40] mattthehearn opened #36928 "Running ansible-playbook with "ANSIBLE_STDOUT_CALLBACK=json" adds "to retry, use: --limit @/opt/ansible/site.retry" to the top of the output"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_FORCE_COLOR(/opt/ansible/ansible.cfg) = True
DEFAULT_BECOME(/opt/ansible/ansible.cfg) = True
DEFAULT_BECOME_ASK_PASS(/opt/ansible/ansible.cfg) = False
DEFAULT_BECOME_METHOD(/opt/ansible/ansible.cfg) = sudo
DEFAULT_BECOME_USER(/opt/ansible/ansible.cfg) = root
DEFAULT_

[2018-03-01 22:44] joehakimrahme commented on #19809
Had the same issue in 2.2.0. Upgrading to 2.4.3 solved it for me. Thanks.

[2018-03-01 22:49] sivel commented on #36928
This is known, and we have plans to improve the situation.  Currently the `json` callback has no way to prevent that message from being displayed as that message doesn't use the callback.

You will also need to utilize `ANSIBLE_RETRY_FILES_ENABLED=0` as well to suppress that message.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   *

[2018-03-01 22:49] #36928 closed, assigned to nobody

[2018-03-01 22:59] saichint opened #36929 "nxos_vrrp issues"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

nxos_vrrp

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N9K running 7.0(3)I5(2)

##### SUMMARY

There are few problems with nxos_vrrp module.
1. The default for admin_state is shown as 'no shutdown', however the actual default is 'shutdown'
2. There is no support for setting parameters to default

[2018-03-01 23:57] kustodian commented on #25823
I made a pull request https://github.com/ansible/ansible/pull/36931 to resolve this issue, so check it out (and/or use the fixed module from the PR until it's merged into Ansible).

[2018-03-02 00:46] cdobbyn commented on #25344
@jborean93 - The only benefit I can see would be reliability at scale.

[2018-03-02 01:58] Akasurde commented on #25823
resolved_by_pr #36931

[2018-03-02 02:02] Akasurde commented on #36915
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
vmware_inventory.py

[2018-03-02 02:04] Akasurde commented on #32702
@spiffytech Could you please use latest 2.4 or 2.5 as a lot of changes went into `vmware_guest` ?

needs_info

[2018-03-02 02:06] zikalino commented on #36206
@jigarjian-brian i don't think it's the same issue. I have still failed to reproduce this issue, but i think we should get to bottom of that. In my next comment I will paste a playbook that uses REST API directly to power up / down virtual machine. Could you try it with your VMs? If it fails we will see more details why it failed.

[2018-03-02 02:06] zikalino commented on #36206
---
- name: Stop / Start virtual machine using REST API
  hosts: localhost
  connection: local
  vars:
    resource_group: zimsdemorg
    vm_name: zimstestvm
  tasks:

  - name: Authorization
    uri:
      url: https://login.windows.net/{{ lookup('env','AZURE_TENANT') }}/oauth2/token
      method: POST
      body: resource=https%3A%2F%2Fmanagement.core.windows.net%2F&client_id={{ lookup('env','AZ

[2018-03-02 02:32] maxamillion commented on #35219
@bcoca That's what I thought I knew, but didn't know if there was a historic reason that `.fact` files were shipped with older versions of Ansible 2.x that I somehow missed and/or didn't know about otherwise. Thanks.

[2018-03-02 02:55] zikalino commented on #36206
Ok, I think i have finally managed to reproduce this issue:

- I have created Classic VM using Azure Portal
- then used playbook above and it failed with following error:

{"code": "ResourceNotFound", "message": "The Resource 'Microsoft.Compute/virtualMachines/classdepmod' under resource group 'zimsdemorg' was not found."}

I have checked VM properties and resource id:

/subscriptions/xxxxxxxx-xxx

[2018-03-02 03:07] arkaraung1993 opened #36932 "Feature Request: Export config module for Palo Alto"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Configuration cannot export from Palo Alto Firewall

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-03-02 03:20] #36747 closed, assigned to trishnaguha

[2018-03-02 03:20] #36752 closed, assigned to trishnaguha

[2018-03-02 03:39] #35811 closed, assigned to nobody

[2018-03-02 03:39] willthames commented on #35811
We have improved docs to reflect module behaviour based on upstream behaviour.

[2018-03-02 04:32] #34421 closed, assigned to nobody

[2018-03-02 04:36] willthames commented on #31878
I'm going to close this as there is a workaround (now that sts_assume_role actually works with boto3) and we do have a plan for boto3 migration (38 modules left at most recent count)

[2018-03-02 04:36] #31878 closed, assigned to nobody

[2018-03-02 04:47] geerlingguy commented on #13552
Another option, if like me you just want to keep things simple and include a file if it exists, but not include it if it doesn't:

[code]

[2018-03-02 04:53] zikalino commented on #36206
seems like "powerOff" is not available in API for classic deployment, instead i had to use "start"

[2018-03-02 04:53] bottlelee commented on #25461
Hi nitzmahone!

Thanks for your reply and sorry for my late reply.

I will join the IRC channel look for help.

[2018-03-02 04:58] zikalino commented on #36206
Below is the playbook I used to successfully start/stop VM in deployed in classic mode. I think this can be used as a workaround for classic VMs.

I have checked Azure Python SDK and it doesn't provide any support for classic VMs. I have searched for "ClassicCompute", found a few references, but not related to VM implementation. So it seems adding support for classic VM is not possible at the mome

[2018-03-02 05:52] qduxiaoliang commented on #36772
`[root@sun kvm]# cat inventory/hosts
[allvm]
10.223.0.232
10.223.0.233
[root@sun kvm]# cat dd.yml
---
- name: play one
  hosts: allvm
  remote_user: root
  any_errors_fatal: True
  force_handlers: True
  tasks:
    - name: task one
      command: /bin/true
      notify: handler one
  handlers:
    - name: handler one
      command: /tmp/handler.sh
    - name: handler two
      command: /bin/true

[2018-03-02 05:53] qduxiaoliang commented on #36772
``
[root@sun kvm]# cat inventory/hosts
[allvm]
10.223.0.232
10.223.0.233
[root@sun kvm]# cat dd.yml
---
- name: play one
  hosts: allvm
  remote_user: root
  any_errors_fatal: True
  force_handlers: True
  tasks:
    - name: task one
      command: /bin/true
      notify: handler one
  handlers:
    - name: handler one
      command: /tmp/handler.sh
    - name: handler two
      command: /bin/true

[2018-03-02 05:53] qduxiaoliang commented on #36772
[code]

[2018-03-02 05:55] qduxiaoliang commented on #36772
[code]

[2018-03-02 05:55] qduxiaoliang commented on #36772
a more clear output is as below:

[code]

[2018-03-02 05:56] qduxiaoliang commented on #36772
[code]

[2018-03-02 05:57] qduxiaoliang commented on #36772
@alikins @jborean93
a more detailed log and information has been uploaded

[2018-03-02 06:03] jborean93 commented on #36772
@qduxiaoliang can you attempt to run the example I provided which runs over localhost? It will tell us whether some setup of your Ansible may be different to the vanilla install I have tested with or whether this only affects connections not on local.

[2018-03-02 07:05] ganeshrn commented on #36920
Enabled eos eapi integration test as part of PR #36934 for module eos_interface, eos_l2_interface,
eos_l3_interface, eos_lldp, eos_logging, eos_user.

Integration test for eapi is missing for below modules
eos_vrf
eos_vlan
eos_static_route
eos_linkagg

[2018-03-02 07:14] ganeshrn commented on #36786
Cherry-pick to stable-2.5 a211679. Fix will be available in 2.5.0 release

[2018-03-02 07:39] #36509 closed, assigned to nobody

[2018-03-02 07:41] cnasten commented on #36509
Was fixed in #36583

[2018-03-02 07:45] ericwb opened #36936 "panos_import module ignores certificate validation"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

panos_import

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Mac OS X 10.12.6

##### SUMMARY

The panos_import module ignores certificate validation

https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/panos/panos_import.py#L122

In the panos_import, it uses python-requests to make a post requ

[2018-03-02 07:52] gundalow commented on #29472
Hi,
Could you please retest in a newer version of Ansible, we believe this is fixed.

needs_info

[2018-03-02 08:32] mangellopez opened #36937 "ansible 2.4 setup module don't get mounts info on Solaris targets"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`setup.py`
`/lib/ansible/module/utils/facts/hardware/sunos.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible control server is RHEL 7.3

Problems on some Solaris targets

##### SUMMARY
The setup module doesn't get mounts subset info on some Solaris targets.

I think is failing on 2.4. I think this