[2018-05-11 15:16] mikewiebe commented on #40013
Additional Data Point: This issue appears to be intermittent.  Sometimes the copy succeeds and sometimes it fails.  Here is a case where it succeeds.  I simply re-ran the playbook after it has just failed.

[code]

[2018-05-11 16:04] gundalow commented on #39598
@DartNecrON If you modify your local install to use `write memory` does that fix the issue for you?

[2018-05-11 16:31] anis016 opened #40020 "[python2.6] [validate-modules] ImportError: cannot import name OrderedDict"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

- ansible-test

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

1. results of "ansible-config dump --only-changed" outputs nothing
2. no configurations/settings added.

##### OS / ENVIRONMENT

[code]
[code]
##### SUMMARY

ImportError while running the below command:

[code]

##### STEPS TO REPRODUCE

Steps:

1. $ git submodule add https://gi

[2018-05-11 17:18] mejo- commented on #32713
This bug still exists in Ansible 2.5.2 with `include_role`.

May I suggest to change the current behaviour? `set_fact` inside an included role should have precedence over variables given as argument to the `include_role` task.

With `import_role` it works as expected: `set_fact` inside the role overrides variables given as arguments to the `import_role` task.

[2018-05-11 17:29] #14539 closed, assigned to nobody

[2018-05-11 17:32] fabiel-leon commented on #29240
tha same issue with ansible version ansible 2.4.3.0

[2018-05-11 18:04] #39789 closed, assigned to nobody

[2018-05-11 18:39] shawing opened #40023 "Add an 'apt_options' Parameter to apt_module"
##### ISSUE TYPE
 - Feature Idea

// Add the parameter to be able to specify apt options to playbooks.  i.e. -o Dir::Etc::SourceList=/etc/apt/security.sources.list

##### COMPONENT NAME

apt_module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(venv-ansible) kens-mbp:ansible ken$ ansible-config dump --only-changed
(venv-ansible) kens-mbp:ansible ken$

##### OS / ENVIRONMENT

Running from:

[2018-05-11 18:55] ssbarnea commented on #35255
@agaffney Here is the question I have: we have code here that is cleaning up (deprovision) hosts from various groups, and obviously that is perfectly normal for these groups not to defined in nothing was provisioned.

So a real challenge: **How to run some tasks if a group exists or do nothing if it doesn't exist, without displaying any warning messages?**

[2018-05-11 18:56] saichint opened #40026 "default value for ping count wrong in nxos_ping"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_ping
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N7K running 7.0(3)D1(1)

##### SUMMARY

There is a minor issue with nxos_ping module.
The default value for count parameter is given as 2. Instead it is 5 on all platforms.

Note: I will open a PR shortly to address this issue.

[2018-05-11 18:56] mikewiebe opened #40027 "Cannot combine with network provider setting for connection network_cli"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_install_os

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
Ubuntu 16.04

##### SUMMARY
The following playbook works fine for connection `local` and connection `nxapi` but fails for connection `network_cli`

[code]
##### STEPS TO REPRODUCE
Result with connection `network_cli`

[code]
##### EXPECTED RESULTS
Re

[2018-05-11 19:29] ssbarnea opened #40030 "unable to avoid Could not match supplied host pattern warning with non existing groups"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
It seems that Ansible tries to outsmart us by throwing warnings if it fails to match host patterns, even if this is perfectly normal use case.

What is worse that that this feature/bug gives us no real choice to avoid it or to disable it completely.

Hosts and groups c

[2018-05-11 19:32] ssbarnea commented on #37221
Sometimes is perfectly normal to have non-existing groups/hosts, so I ended up creating https://github.com/ansible/ansible/issues/40030 for removal of this feature, or at least implementing a way to disable it.

[2018-05-11 19:52] agaffney commented on #35255
That's should be a separate issue, really. This issue was specifically for the warning being triggered on empty groups, which was addressed by my PR.

[2018-05-11 20:11] lvthillo opened #40032 "Syntax problem: name: unseal vault"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

`Ansible on Mac OS Sierra (nodes are Centos7)`

##### SUMMARY

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

To start the playbook

[code]

[2018-05-11 20:14] #40032 closed, assigned to nobody

[2018-05-11 20:14] zcutlip opened #40034 "allow_world_readable_tmpfiles ignored on macOS for admin users"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/plugins/action

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ALLOW_WORLD_READABLE_TMPFILES(/Users/admin/mac-setup/ansible/ansible.cfg) = True
##### OS / ENVIRONMENT

running locally on macOS 10.13
[code]
##### SUMMARY

In `plugins/action/__init__.py:438`, if the user in in admin_users, C.ALLOW_WORLD_READABLE_TMPFILES is not co

[2018-05-11 20:28] Vimal-Raghubir commented on #39329
Hey @acozine , are you currently working on this issue?

[2018-05-11 20:35] ghost opened #40035 "Subversion module does not work with Kerberos auth"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
source_control/subversion.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
n/a; nothing changed

##### OS / ENVIRONMENT
CentOS Linux release 7.4.1708 (Core)

##### SUMMARY
I am experiencing this through Tower, but I do not see how that matters as this is related to the code in Ansible itself.

We use Kerberos auth throughout our infrastruct

[2018-05-11 20:42] ghost opened #40036 "Subversion module does not validate TLS certificate"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
source_control/subversion.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A; nothing changed

##### OS / ENVIRONMENT
CentOS Linux release 7.4.1708 (Core)

##### SUMMARY

svn checkouts over HTTPS do not validate the certificate because the argument **--trust-server-cert** is hardcoded into the module

##### STEPS TO REPRODUCE
n/a

#####

[2018-05-11 21:32] bcoca commented on #30049
dupe of #19153

[2018-05-11 21:32] #30049 closed, assigned to nobody

[2018-05-11 21:38] bcoca commented on #29800
FYI, uid is not unique by nature, you can have several users share the same UID, but this does seem like something we should support, use either `name` OR `uid`.

[2018-05-11 21:44] bcoca commented on #32448
I cannot reproduce the problem on any of my platforms, but I don't have OS X, can you confirm this only happens on OS X?

needs_info

[2018-05-11 21:50] bcoca commented on #11024
what we really need is a `group` module

[2018-05-11 22:56] sirsanderp opened #40039 "set_fact module is taking over 2x longer"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

set_fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING = True
ANSIBLE_SSH_ARGS = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no  -o UserKnownHostsFile=/dev/null
ANSIBLE_SSH_RETRIES = 1
DEFAULT_BECOME_METHOD = sudo
DEFAULT_TIMEOUT = 30
RETRY_FILES_ENABLED = False

##### OS / ENVIRONMENT

Ubuntu

[2018-05-11 23:54] z3t0 commented on #39982
@Akasurde
1. We are currently in the process of upgrading our VMWare License in order to enable access to the vStorage API so that Ansible playbooks are able to write to the VMware storage and create new vms. Currently any output from playbook will simply output a licensing error.

*I will post relevant data from the output once we have sorted that out.*

2. The structure within the datacenter is

[2018-05-12 03:29] z3t0 commented on #39982
Another note.

While debugging vmware_guest.py I noticed that trying to set the power state of a virtual machine also causes a license error. However this error is not displayed in ansible... rather I was required to inspect the module using pdb

[2018-05-12 06:25] Akasurde commented on #25133
@majales Could you please try #21421 and let me know if it works for you ?

[2018-05-12 06:30] Akasurde commented on #39982
@z3t0 Could you please add your error here so that it will help ? Also, what license are you using ?

[2018-05-12 06:48] pruthvi992 commented on #15019
@timm088 I just fixed that issue in my macbook.
run "which python". it should provide you the path, in my case it was "/usr/local/bin/python".
Then go to your inventory file, paste that path in ansible_python_interpreter.
This is how my inventory hosts file looks:
[local]
localhost ansible_connection=local ansible_python_interpreter=/usr/local/bin/python/

It should work now.

[2018-05-12 07:17] #39717 closed, assigned to nobody

[2018-05-12 09:05] arkaraung1993 opened #40044 "panos_match_rule Fail with ("ElementTree.fromstring ParseError: not well-formed (invalid token): line 44, column 20)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]
##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS

[code]

[2018-05-12 09:12] arkaraung1993 commented on #40044
and please help where can find out this (line 44, column 20)

[2018-05-12 09:31] x-yuri opened #40046 "debug/var doesn't see item in a loop"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

`debug: var: item` doesn't print value if in a loop

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[Here's][omit-keys-1] [the][omit-keys-2] [reason][omit-keys-3].

[omit-keys-1]: https

[2018-05-12 10:44] ssbarnea commented on #35255
@agaffney I never said we should reopen this bug. I did  great job solving it, thanks! This is why I raised #40030 so we can continue there. At this moment I have no idea what it would be the right way to address it.

[2018-05-12 11:55] #35358 closed, assigned to nobody

[2018-05-12 12:27] eimis05 commented on #38429
would be nice to see some ansible documentation updated with playbook examples for network_cli especially for cisco gear.
any recommendations or docs on cisco asa/ios for network_cli?

[2018-05-12 13:36] dericcrago commented on #38648
hi @karniemi - I'm planning on providing this within the next couple of days.

[2018-05-12 13:40] aetelman commented on #40016
The example recommends:
[code]
I changed the prompt to:
 `prompt: '[confirm]'`
and the command executed properly. Not sure this is a fix, or what the final fix should be, but it worked with Cisco IOS 15-4.

[2018-05-12 15:01] sivel commented on #32448
Looking at the output here, it seems to indicate that you have a file called `user.kb` that is being picked up and overriding the shipped Ansible `user.py` file:

[code]

[2018-05-12 15:26] nikaro commented on #38931
I use CentOS and Fedora, where `/etc/locale.gen` does not exist nor the command `locale-gen`. The commands to use are `localedef` (https://unix.stackexchange.com/questions/140299/locale-gen-command-in-centos6) and/or `localectl` (https://www.rosehosting.com/blog/how-to-set-up-system-locale-on-centos-7/).

In both CentOS and Fedora, locales are in `/usr/share/i18n/locales/`, and Fedora have the `/u

[2018-05-12 15:32] eimis05 opened #40049 "issues with managing cisco devices using network_cli"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

asa_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

ansible.cfg configs
[code]
##### OS / ENVIRONMENT

[code]
##### SUMMARY

[code]

##### STEPS TO REPRODUCE

If using `connection: local` it works every time:

[code]

If using network_cli as example yaml below it works 50% time on same network device.
[code]

##### EXPECTED

[2018-05-12 18:28] rhysmeister opened #40051 "contrib/inventory/apache-libcloud.py: AttributeError: 'NoneType' object has no attribute 'groupdict'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

contrib/inventory/apache-libcloud.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

uname -a

Linux AnsibleTest 3.10.0-693.11.6.el7.x86_64 #1 SMP Thu Jan 4 01:06:37 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

cat /etc/redhat-release

CentOS Linux release 7.4.1708 (Core)

##### SUMMARY

ansible-test command fails...

a

[2018-05-12 18:37] rhysmeister commented on #40051
Code line mangled slightly. Should be...

[code]

[2018-05-12 22:02] #32048 closed, assigned to nobody

[2018-05-13 01:15] dkewley commented on #38219
@samdoran I think this is related to https://github.com/ansible/ansible/pull/36474

[2018-05-13 01:46] davidsev7 commented on #38219
The interesting behavior I see is that running this again on a file that has previously been updated to insert a line at BOF using insertbefore causes a second line to be inserted on the line just above the last line in the file. This module seems to be totally broken for BOF functions.

[2018-05-13 06:11] smachlin opened #40054 "aws_ec2 inventory plugin fail to parse hosts file with hostname from tag"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

aws_ec2

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/Users/user1/.ansible.cfg) = True
ANSIBLE_SSH_ARGS(/Users/user1/.ansible.cfg) = -o ControlMaster=auto -o ControlPersist=60s
DEFAULT_INTERNAL_POLL_INTERVAL(/Users/user1/.ansible.cfg) = 0.001
INVENTORY_ENABLED(/Users/user1/.ansible.cfg) = ['aws_ec2', 'host_list', 'scr

[2018-05-13 09:35] yuwzho commented on #38787
@tijmenvandenbrink Would you please try my fix? There is instruction in the PR how to try it

[2018-05-13 12:07] mxkle commented on #26359
ansible machine:
[code]

remote machine:
[code]

Getting this error when `gather_facts: yes` is set in the playbook.

[code]

[2018-05-13 16:49] mircea-vutcovici opened #40056 "clouds.yaml is searched on remote host, not on the machine where ansible is running"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

os_client_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

$ ansible-config dump --only-changed
$

##### OS / ENVIRONMENT

Fedora 28, kernel 4.16.7-300.fc28.x86_64
##### SUMMARY

Thew  clouds.yaml on the remote host and it will not be searched in the current folder of the ansible playbook, but remotely, on the host where the module is

[2018-05-13 16:54] chusiang commented on #14146
The `(item=None)` is back on Ansible 2.5.2 ! :joy:

[code]

[code]

[2018-05-13 17:10] Arsou33 opened #40057 "Redhat subscription manager try to reattach already attached pool"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
redhat_subscription

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
MacOs

##### SUMMARY
When using redhat_subscription to register a pool by pool_ids when LANG is not en_EN.UTF_8 (eg: fr_FR.UTF-8), ansible don't detect pool has already been registered.

I had found the problem at :
https://github.com/ansible/ansible/b

[2018-05-13 19:27] wojciechkopciewicz opened #40058 "vmware_guest_file_operation does not work with ESXi directly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest_file_operation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Red Hat 4.8.5-14
##### SUMMARY

File operations do not work if ESXi is used directly.
According to the documentation(https://pubs.vmware.com/vsphere-51/index.jsp?topic=%2Fcom.vmware.wssdk.apiref.doc%2Fvim.vm.guest.FileManager.html):
_The hos

[2018-05-13 19:29] rhysmeister commented on #40051
The line of code choking on the above line is in the file...

https://github.com/ansible/ansible/blob/a5cbc0a2c8fbde1582d738577d601026c9a2d57c/test/runner/lib/sanity/pep8.py

line 85...

[code]

[2018-05-13 19:32] wojciechkopciewicz commented on #40058
The same issue is in module_utils.vmware.push_file_to_guest module_utils.vmware.fetch_file_from_guest.

[2018-05-13 20:12] AquaL1te commented on #25286
I don't see why this issue was closed. I'm trying to replace a specific line in a file, a line that occurs twice. In order to make sure the right line is replaced, the line above it must be included in the regexp.

File is want to change:
[code]

Code of my task:
[code]

Syntax check [here](https://regex101.com/r/KsiKWu/1/)

Ansible doesn't recognize it, it passes as an OK. When I change the regex

[2018-05-13 20:34] stephan2012 commented on #39674
Indeed, `label_selector` instead of `labelSelector` and `topology_key` instead of `topologyKey` works. Thanks!

[2018-05-13 21:04] frittentheke opened #40060 "Add support for CONNECTION LIMIT to postgresql_db"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
postgresql_db

##### ANSIBLE VERSION
[code]

##### SUMMARY
Just like with https://github.com/ansible/ansible-modules-core/issues/1570 or https://github.com/ansible/ansible/commit/8a2f9b7e28106037a0bfe6d142b61a2e2ee9e984 Ansible received support to configure the connection_limit for postgresql_user it's also possible to limit the number of conn

[2018-05-13 22:34] timothyfranson commented on #40027
You shouldn't be using the provider argument when utilizing the network_cli plugin.  Please remove or comment out that line from the playbook and try again.

`- name: "Install OS image {{ si }}"
  check_mode: "{{ checkmode }}"
  nxos_install_os:
    system_image_file: "{{ si }}"
    issu: "{{ issu }}"
    # provider: "{{ connection | combine({'timeout': 500}) }}"
  register: result`

[2018-05-14 02:14] Fred-sun commented on #39998
Hi @yuwzho I have tested the report YML file， meet same problem as report describe , when create VM by other resource group network interface, it will prompt this error, Could you help check and confirm it is question or not , thanks!

[2018-05-14 03:03] devops-raj commented on #27878
see patch file not related to subnet @ https://github.com/ansible/ansible/issues/39998

[2018-05-14 03:46] #38787 closed, assigned to nobody

[2018-05-14 04:58] bmamouri opened #40063 "Elasticcache creation always is shown as changed (playbook is not idempotent)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
elasticache

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Ansible marks elasticcache creation as "changed" even though nothing has been changed.

##### STEPS TO REPRODUCE
A simple playbook to create a Redis server using elasticcahe would reproduce the issue:

[code]

##### EXPECTED RESULTS

[2018-05-14 05:02] sk1988 opened #40064 "ios_config: ansible 2.5.2 idempotency issue/bug?"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_FORKS(/etc/ansible/ansible.cfg) = 10
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/inventory']
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles']
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False
PARAMIKO_HOST_KEY_AUTO_ADD(/etc/ansible/ans

[2018-05-14 05:18] #39896 closed, assigned to nobody

[2018-05-14 05:59] #40026 closed, assigned to trishnaguha

[2018-05-14 06:13] kiorky commented on #21890
https://github.com/ansible/ansible/pull/35167#issuecomment-388706351

[2018-05-14 06:32] Akasurde commented on #38801
resolved_by_pr #38803

[2018-05-14 06:33] Akasurde commented on #40060
@frittentheke Thanks for requesting this feature. @maveric-tellrv Would you like to raise a PR for this ?

[2018-05-14 06:57] Akasurde commented on #39657
@LostInTheWoods Thanks for reporting this issue. Could you please run and provide output here -

[code]

needs_info

[2018-05-14 07:00] srwiser commented on #7019
Why is this issue marked as closed ?
Can't it be fixed in ansible ?

[2018-05-14 07:10] #39616 closed, assigned to trishnaguha

[2018-05-14 08:03] stravassac commented on #40058
@wojciechkopciewicz I cannot reproduce your error but I not use ESXI directly but the Vcenter(6.0U3) for hostname.
Now in your example you copy a file from the Ansible Host to the VM my_vm, you not fetch a file from the vm.
In my case:
`ansible 2.5.2
  config file = None
  configured module search path = ['/home/stravassac/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible

[2018-05-14 08:24] ThomasSteinbach opened #40068 "yum module has different update behavior than other package modules"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
yum module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible Control Machine: https://gitlab.com/thomassteinbach/ansiblecd Docker Container
Ansible Target Machine: centos:7 Docker Container

##### SUMMARY

[code]

.... failes with error: _"one of the following is required: name,list"_

But other package mo

[2018-05-14 08:25] ThomasSteinbach commented on #33461
Seems to me a little bit redundant but here the issue #40068 like suggested by @kustodian

[2018-05-14 08:27] ThomasSteinbach commented on #40068
Issue #30148 would support this solution or vice versa

[2018-05-14 08:48] mkrizek commented on #40046
Fixed in https://github.com/ansible/ansible/pull/36534.

@bcoca should we backport to `2.5`?

[2018-05-14 08:55] TheSameCH commented on #24536
Same problem with Ansible 2.5.2, but only our SLES 11 clients are affected. No problem on SLES 12, CentOS 6/7.
Infinite hang after calling `buffer = sys.stdin.read()` in basic.py

[2018-05-14 09:04] pieteravonts commented on #39959
I think this is a symptom of the cluster argument not being used by the selection of the resource_pool. Currently vmware_guest will just randomly choose a resource_pool (the first one returned by the api). If it happens to choose one linked to a different cluster, then you won't see the dvs you specified.

I created PR #39792 which should solve this.

[2018-05-14 09:27] Fred-sun commented on #39976
Hi @christopherkeller ，I ran following YML , it can create VM with multiple NICS on Ansible 2.6.0 (PR #38994), But it will meet same error on Ansbile 2.5.2,  I thinks it has be fixed by PR #38994.  Please help update your Ansible version and try again. If you have any question, Please let me know, If you have test successfully , I will add to_be_close label to close this question. Thanks !
[code]

[2018-05-14 09:41] #39897 closed, assigned to nobody

[2018-05-14 10:30] BondAnthony commented on #39655
Sorry for the delay, yes the same API token is being used. The only application responding with the "already_exists" id is Postman. I've opened another ticket with Digital Ocean to confirm this change in the API or provide more information on why this has occurred. I've looked through the request headers and nothing is standing out.

[2018-05-14 10:36] Akasurde commented on #29757
@gkhays vmware_guest in Ansible 2.5.2 is most stable one. You can try with this module and let me know if it works for you ?

needs_info

[2018-05-14 10:42] Akasurde commented on #38605
t

[2018-05-14 10:44] #39830 closed, assigned to Akasurde

[2018-05-14 11:04] mfms opened #40072 "os_recordset not working properly on Openstack Pike"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

os.recordset
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(env: ANSIBLE_INVENTORY) = [u'/Users/marcosilva/Documents/ansible']
##### OS / ENVIRONMENT

macOS Sierra V 10.12.6, Ubuntu Xenial
##### SUMMARY

Attempting to add a record to a zone results in failure in Openstack Pike.
##### STEPS TO REPRODUCE

[code]

##### EXP

[2018-05-14 11:07] mfms commented on #40072
To give some more detail:
When using the id of the zone instead of the name, the request goes through (maybe it has been changed in this version of Openstack) however the returned data is not as expected by the module, thus resulting in an error condition.

[2018-05-14 11:26] KevP commented on #39958
Thanks for the input people. I tried your example and it worked for me too. I did more digging and discovered that I hard my storage account set to Premium_LRS and the VM was set to Standard_LRS. I've changed them to both be Premium_LRS and the stop and starts now work correctly. Bit of a cryptic error message but putting the solution here for the future. Ticket closed.

[2018-05-14 12:08] shivam-chawla opened #40076 "Incorrect Vendor label gets set on VMware Distributed Switch (vCenter Version 5.5 and above)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible/lib/ansible/modules/cloud/vmware/vmware_dvswitch.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

[code]
##### SUMMARY

Vendor label gets set to "VMware" on VMware distributed switch created using vmware_dvswitch.py
and cause problem mentioned in VMware KB - https://kb.vmware.com/s/article/2126851

an

[2018-05-14 12:27] akira6592 commented on #40064
It looks like the same cause as #37550 .
and It will be fixed in 2.5.3.

[2018-05-14 12:43] Akasurde commented on #38605
!bot_skip

[2018-05-14 12:44] eddies1985 commented on #39598
seems that the onyx_config is doing an unnecessary "exit"  from config mode before it runs the command "configuration write "

[2018-05-14 12:51] #38785 closed, assigned to nobody

[2018-05-14 12:51] cliles commented on #39196
@jsutter55 - You should send a PR before someone else does and takes the credit!

[2018-05-14 13:03] mkrizek commented on #38402
@bank32 can you please verify if https://github.com/ansible/ansible/pull/37973 fixes your issue? Thanks!

needs_info

[2018-05-14 13:04] Akasurde commented on #38605
bot_skip

[2018-05-14 13:18] StoneISStephan commented on #33856
I too would love this, as this would possibly eliminate my need for

https://github.com/ansible/ansible/pull/19536#issuecomment-388782856

[2018-05-14 13:45] mikewiebe commented on #39364
@trishnaguha After updating to the latest `devel` on Friday, I still see the problem for connection local if I use `meta: reset_connection`

[code]

Here is the toplevel playbook that is controlling the upgrade workflow:

[code]

[code]

[2018-05-14 13:46] danielmotaleite commented on #11024
yep, that probably is the best solution, it will probably solve other group management problems that extending user alone would not solve

[2018-05-14 13:57] SurenNihalani commented on #22468
Looks this should be fixed already?

[2018-05-14 14:08] Vladimir-csp commented on #27266
I'm not seeing any more, closing.

[2018-05-14 14:08] #27266 closed, assigned to nobody

[2018-05-14 14:19] mikewiebe commented on #39364
@trishnaguha I also re-tested using `network_cli` plugin using two testbeds.  The task that executed right after the upgrade worked on one of the testbeds, but not the other.

Here are the logs:

[code]

As you can see, the meta_reset connection appears to have worked on n9kone, but not n9ktwo.

[2018-05-14 14:19] SurenNihalani commented on #30185
I would prefer if ansible didn't take this on because the pip way to do this is write the index url in /etc/pip.conf.

[2018-05-14 14:20] emonty commented on #26685
As of Ansible 2.5 we support passing a fully-formed clouds.yaml entry to the 'cloud' parameter of each task. This means that as long as you use the clouds.yaml **format** - you can store the entries in ansible variables. like this:

[code]

Or obviously you can put that structure into your group_vars and just do:

[code]

[2018-05-14 14:25] #36989 closed, assigned to nobody

[2018-05-14 14:39] braun1928 opened #40082 "[ERROR:] issued with dynamic inventories before playbook starts"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

dynamic inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

CentOS 7.3.1611
Linux 3.10.0-693.11.6.el7.x86_64

##### SUMMARY

After upgrading from 2.5.0 to 2.5.2 to solve a win_copy issue, whenever vmware_invent

[2018-05-14 14:47] wbolster commented on #30185
fwiw, pip also honours the `PIP_INDEX_URL` env var, in addition to `--index-url`.

[2018-05-14 15:03] SurenNihalani commented on #30095
This should be closed since the pull request seems to have been merged

[2018-05-14 15:05] ryansb commented on #39196
Merging into jsutter/devel branch doesn't close this for everyone ;)

[2018-05-14 15:08] philippelecoq commented on #39803
I updated ansible 2.5.2 but i still have the same problem as soon as the variable
 local_tmp = /dev/shm
is uncommented in /etc/ansible/ansible.cfg config file

[2018-05-14 15:25] jctanner commented on #39842
needs_info ^

[2018-05-14 15:25] jsutter55 commented on #39196
@ryansb

Sorry. Newb on parade. Just sent again... hopefully. :)

[2018-05-14 15:27] LukeShortCloud opened #40084 "async Does Not Start Background Task"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
async

##### ANSIBLE VERSION
[code]
[code]

##### CONFIGURATION
N/A (defaults)

##### OS / ENVIRONMENT
Fedora 28 and RHEL 7.5 (both as control and managed nodes)

##### SUMMARY
The "async" module is supposed to run commands in the background while the rest of the Playbook continues on. With Ansible 2.5.2 and 2.4.4, it does not appear to work on

[2018-05-14 15:28] tyler-8 commented on #37758
@haught - The `timeout` parameter is for the `provider` parameter of `ios_config`, not for `ios_config` itself. Try increasing the `timeout` for the `provider` and see if you can at least get the command to execute and return successfully.

@orgito `netmiko` also has some default timers (that it may be passing to paramiko as well). The takeaway here is that we have a known long-running command and

[2018-05-14 15:35] sijis commented on #18775
I'm unable to reproduce this in the latest available version on pypi.

[code]

As noted earlier, it seems the issue was related to a misconfiguration.

[2018-05-14 15:37] linsomniac opened #40086 "Allow with_items to trigger notifies"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
handlers

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A

##### SUMMARY
"notify:" is per task, as explained in #15421.  In many if not most of my roles I try to consolidate my template: delivery into a single task that uses with_items, but I often have to split them into two or three or four tasks with d

[2018-05-14 15:38] trishnaguha commented on #40027
@mikewiebe we currently do not have support to control per task timeout with network_cli.
The only way is to set timeout within persistent_connection in ansible.cfg

[2018-05-14 15:42] Akasurde commented on #38605
bot_skip

[2018-05-14 15:53] Akasurde commented on #32441
resolved_by_pr #40079

[2018-05-14 15:54] sivel commented on #18775
@sijis Thank you for testing and validating that this issue is resolved.

I'm going to proceed with closing this issue.

@richardweiu if you are still experiencing this issue on a recent version of ansible, feel free to open a new bug report with a complete reproducer that allows us to validate the failing behavior.

If you have further questions please stop by IRC or the mailing list:

   * IRC:

[2018-05-14 15:54] #18775 closed, assigned to abadger

[2018-05-14 15:57] tyler-8 commented on #37758
@privateip @rcarrillocruz I think this would be a bit more of an architectural change. Ideally a user would be able to pass in a higher timeout for a specific task without having to edit the original provider connection. `network_cli` is going to have the same issue I think. There's a related issue on this as well: https://github.com/ansible/ansible/issues/40027#issuecomment-388862299

[2018-05-14 16:05] #32441 closed, assigned to nobody

[2018-05-14 16:09] bcoca commented on #40082
duplicate of #39007, fixed in #39019

[2018-05-14 16:09] #40082 closed, assigned to nobody

[2018-05-14 16:13] sijis commented on #18897
I can validate this no longer appears to be an issue in ansible.

[code]

[2018-05-14 16:26] sivel commented on #18897
@sijis Thank you for confirming.  I'll go ahead and close.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-14 16:26] #18897 closed, assigned to abadger

[2018-05-14 16:37] suacide24 commented on #38595
I have a PR for this that removes the eth for port-channels

Modified the following [line](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/aci/aci_static_binding_to_epg.py#L343) that adds "eth" unnecessarily

[2018-05-14 16:42] plumbeo opened #40091 "mysql_user module fails when checking current privileges"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True

##### OS / ENVIRONMENT
Ubuntu Server 16.04 LTS

##### SUMMARY
The mysql_user module fails when checking a user's current privileges in a MySQL 8.0.11 database. The creation of the user succeeds because there are no privileges, but s

[2018-05-14 17:02] mzabaluev commented on #26359
Looks like a duplicate of #17935.

[2018-05-14 17:16] robinro commented on #30185
Based on the existing alternatives described above I'd close this.
close_me

[2018-05-14 17:24] #30185 closed, assigned to nobody

[2018-05-14 17:40] tyler-8 commented on #37991
@koladiya Try the command `wr` and `copy running-config startup-config` manually on your device. What output do you see? Are you getting any prompts? Could you paste the output here? To me it sounds like something unexpected is happening and Ansible isn't getting the prompt it expects.

[2018-05-14 17:58] nikitos3000 commented on #19731
The exception is raised from the call to `shutil.copy2` in https://github.com/ansible/ansible/blob/83c1cba511c99d5c68d4e0c5e596b9d07021ab8a/lib/ansible/modules/files/copy.py#L411

To reproduce (assuming `file.new` doesn't exist). Replace `/Users/nchepanov` with your path:
Note that `file` mode is `-rw-------`
[code]

By patching `os.chmod` I can see that it's called twice:

[code]

The newly copie

[2018-05-14 17:59] SurenNihalani commented on #25929
This should be somewhat fixed if we merge #23464.

[2018-05-14 18:12] SurenNihalani commented on #29810
Looks like this should be fixed in #35754

[2018-05-14 18:15] ppiyakk2 commented on #38938
I also have this bug in ansible devel branch.

[2018-05-14 18:18] mzabaluev commented on #17935
In my case the failing task is `wait_for` on a delegated-to host. The task runner script is preserved on the host in a temporary directory under `~/.ansible/tmp`. Running it manually produces expected JSON output.

My attempt to trace the script with `python -m trace -t wait_for.py` was unsuccessful due to a strange import failure:

[code]

[2018-05-14 18:43] sivel opened #40100 "config doesn't honor required"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lib/ansible/config/

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

1. Config manager does not honor `required` config entries
1. Plugins consuming a config from `vars` do not fail on `ensure_type` when typing fails. The value is added to `UNABLE` which is only used from the CLI on config parsing, so a

[2018-05-14 18:50] ppiyakk2 commented on #38938
@simanat  I tried reproduce the bug in ansible 2.5.0 (branch: stable-2.5) and devel, I can't reproduce the situation.

Here is my results and playbook.

**copy_folder.yml**
[code]

**list of share directory**
[code]

**result of run the playbook**
[code]

[2018-05-14 19:09] #38595 closed, assigned to nobody

[2018-05-14 19:35] rsubra13 commented on #29798
This can be closed. It is addressed in https://github.com/ansible/ansible/commit/f8fa772a5597a7699a39cae55989952b98732476

[2018-05-14 19:46] suacide24 commented on #38549
Created PR for this issue.

++ Added a new parameter "policy_group_type"
++ changed accportgrp to accbundle if "policy_group_type" is "vpc" or "port_channel"

[2018-05-14 20:01] aftrant commented on #35387
Which documentation are you looking at @soupdiver? The documentation in gce_lb or documentation online?

[2018-05-14 20:17] #19731 closed, assigned to nobody

[2018-05-14 20:20] kavink opened #40107 "Vault variables show up in logs unmasked when using Expect module"
When using `expect` module, the unencrypted vault passwords show up in logs ? As of now  im using the following in module

[code]

is there some special way to mask it?

Expected behavior: vault passwords should show up encrypted in log `****`

[2018-05-14 20:23] #40107 closed, assigned to nobody

[2018-05-14 20:52] abadger commented on #38938
@simanat  Per the above, we think that this has been fixed in a later version of 2.5.x.  Could you retest with the latest version of ansible and report whether this is now working?

needs_info

[2018-05-14 20:53] abadger commented on #38938
@simanat and if it isn't working, could you give us more information that might help us to reproduce the issue?

[2018-05-14 20:56] nikitos3000 commented on #25431
This appears to be fixed in the latest version
`ansible 2.6.0 (devel abb353290c) last updated 2018/05/14 16:36:46 (GMT -400)`

[code]

Playbook execution output (redacted for brevity)
[code]

[2018-05-14 20:58] sivel commented on #25431
@nikitos3000 thank you for testing and validating that this is now resolved.

I've confirmed that this was fixed in 0ac4722b29ee92be7130c6d8b07e8251127df6a2 and subsequently included in the 2.4.4 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-14 20:58] #25431 closed, assigned to nobody

[2018-05-14 21:00] sijis commented on #22922
I've been able to reproduce this error using the `Instalacion_AED.zip`.

Digging further into the cause of this, it appears there is some metadata in the zipfile affecting UTF-8 on that zip file which is borking the whole process and making the filename unreadable by the python ZipFile module.

If i take the contents in that zip and zip it myself (on Fedora 28), I no longer see the error filed.

I

[2018-05-14 21:02] abadger commented on #22922
Also note, the non-ascii character in the zip file is also not valid utf-8. So this is likely only a problem with a non-ut8 character in the filenames.

[2018-05-14 21:05] wojciechkopciewicz commented on #40058
@stravassac
Here are the playbooks and results again both for fail scenarios:
Copy:
[code]

Result:
[code]

Fetch:
[code]
Result:

[code]

I can see that asterisks are not present in my previous comment.
The code that solves the problem looks as follows:
[code]

[2018-05-14 21:06] Qalthos commented on #40027
Hey, so this isn't actually a bug with the provider change, rather this issue exposed the fact that I made a mistake converting all the tests to network_cli.

If your tests look like the tests in ansible/ansible, then you'll have something like the following

[code]

That actually sets the `connection` variable to `'{}'`, i.e., a string consisting of an open brace and a close brace. This wouldn't

[2018-05-14 21:09] user318 commented on #19731
@abadger In the #40099 it is mentioned that fix is "only relevant to remote_src=True". Does that mean it still will not work with local src? Than I would prefer this bug to be left open.

[2018-05-14 21:21] wojciechkopciewicz opened #40112 "vmware_guest_file_operation reports that file copied although incomplete file transferred previously"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest_file_operation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

If a copy operation is ceased, the next run of the playbook reports "ok" although incomplete file was transferred previously. As a result transfer is never finished.

##### STEPS TO REPRODUCE

Start a transfer of a big file to

[2018-05-14 21:27] saichint opened #40113 "save_snapshot_locally option in nxos_snapshot has no functionality"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_snapshot
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N7K running 7.0(3)D1(1)
##### SUMMARY

There is an option ```save_snapshot_locally ``` in nxos_snapshot module. But there is no associated code to support this. So it is not doing anything. This should be removed from the parameter list an

[2018-05-14 21:36] wbolster commented on #30185
those alternatives are workarounds at best. closing this issue seems wrong to me.

[2018-05-14 22:09] steven-lai commented on #38472
Just want to add that I'm on 2.5.2:
[code]

With:
[code]

Input:
[code]

Output:
[code]

Also some comments in https://github.com/ansible/ansible/issues/38655 seems relevant (specifically comment by @ppanczyk)

[2018-05-14 22:22] #40020 closed, assigned to nobody

[2018-05-14 22:27] Qalthos commented on #38425
duplicate_of #37507

[2018-05-14 22:34] #38425 closed, assigned to Qalthos

[2018-05-14 23:07] abadger commented on #19731
This bug does not affect remote_src=False.

If you can reproduce similar behavior with remote_src=False could you
please open a new bug with a reproducer for that behavior?

[2018-05-14 23:58] sleekmountaincat opened #40124 "privilege escalation fails using ios_command and network_cli connecting to Nexus3064"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_command
network_cli

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/home/teamx/ansible-inventory-files/hosts']

##### OS / ENVIRONMENT

Ubuntu Server 18.04
Nexus3064 system version 7.0(3)I6(1)

##### SUMMARY

Can not escalate privilege

##### STEPS TO REPRODUCE

run the playbook below t

[2018-05-14 23:59] #39886 closed, assigned to nobody

[2018-05-15 00:16] sleekmountaincat commented on #40124
i am an idiot, sorry for wasting your time. i need to change network_os to nxos. then it looks like i will run into this issue: https://github.com/ansible/ansible/issues/37526

but this can be closed i think

[2018-05-15 00:16] #40124 closed, assigned to nobody

[2018-05-15 01:01] LukeRussell commented on #37507
Could this please be back ported to 2.5-stable as well?

I’m fairly happy to install or run from source on stable branches, but I’m not so keen on running devel as that often requires rewriting some parts of playbooks.

[2018-05-15 01:37] jacksonp2008 commented on #33972
Upgraded to 2.6, and seeing them now. Thanks!

[2018-05-15 01:57] Akasurde commented on #33972
@jacksonp2008 Thanks for testing.

[2018-05-15 02:11] Akasurde commented on #40091
resolved_by_pr #40092

[2018-05-15 04:37] mileshampson opened #40130 "Errors in block never trigger rescue or always in plays included from a handler"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/ops/projects/ng/miles_ops/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/home/ops/projects/ng/miles_ops/ansible/ansible.cfg) = -q -o ControlPersist=15m -o ControlMaster=auto -o PreferredAuthentications=publickey -o GSSAPIAuthentication=no
ANSIBLE_SSH_CONTROL_PATH(

[2018-05-15 04:38] Akasurde commented on #34195
@nikitakazantsev12 Could you please check the latest update in PR and let me know if it works for you ? I have tried and it works for me (moving a VM from one datastore to another datastore of same host).

[2018-05-15 05:57] sijis commented on #33694
The docs mention that `extra_opts` should be a list.

What if you try:
[code]

Also, could you provide a link to a sample zip file that would need the `-j` option?

[2018-05-15 06:37] Akasurde commented on #37912
resolved_by_pr #40129

[2018-05-15 07:19] wojciechkopciewicz opened #40135 "vmware_guest_file_operation fails with file bigger than 2GB"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest_file_operation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

When trying to copy file bigger than 2GB to guest, the following error is reported:
msg: initiateFileTransferToGuest : problem during file transfer

##### STEPS TO REPRODUCE

Copy file larger than 2GB to guest machine.

[code]

[2018-05-15 07:28] ShaolongTan opened #40136 "Ansible assigns a incorrectly gid when create a new linux user with name of number"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

the user module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ACTION_PLUGIN_PATH(/etc/ansible/ansible.cfg) = [u'/opt/worker/bsm_worker/ansible_handler/action_plugins']
DEFAULT_LOCAL_TMP(/etc/ansible/ansible.cfg) = /tmp/.ansible/tmp/ansible-local-13668fZQZQU
DEFAULT_MODULE_PATH(/etc/ansible/ansible.cfg) = [u'/opt/bsm.worker/bsm_w

[2018-05-15 07:28] LostInTheWoods commented on #39657
`Traceback (most recent call last):
  File "<string>", line 1, in <module>
AttributeError: 'module' object has no attribute '__version__'`

[2018-05-15 07:36] MaxWinterstein commented on #37177
This happens to me as well, and drives me crazy as i restart services depending if the pip module changed something...

I think this has to do with https://github.com/pypa/pip/issues/5314

I use a local package that i made myself, but here is a quick reproduction for the problem:

Run clean python:2.7 container
[code]
Exec commands
[code]
Here is the output for me (shortended)
[code]

As you can s

[2018-05-15 07:52] MaxWinterstein commented on #37177
Putting this into my playbook works for me. I use virtualenvs for my setup and create it at first:

[code]

I think older ansible version had problems with the deprecation message of pip 9.0.1 but current one (2.5.2) works for me.

[2018-05-15 07:54] ShaolongTan commented on #40136
I think that the root cause of the bug is at below code.

'''
def create_user_useradd(self):
       ... ...
        if self.group is not None:
            if not self.group_exists(self.group):
                self.module.fail_json(msg="Group %s does not exist" % self.group)
            cmd.append('-g')
            cmd.append(self.group)
        elif self.group_exists(self.name):
            # use

[2018-05-15 08:15] lucapalano commented on #35607
+1

[2018-05-15 08:15] Fred-sun commented on #39977
hi @christopherkeller Before it been fixed, you can use variables method to define the image info, such as : image:  {publisher: 'OpenLogic', offer: 'CentOS', sku: '7.4', version: 'latest' }

[2018-05-15 08:29] Akasurde commented on #39657
@LostInTheWoods It seems that you have not installed `psycopg2` library on your system. I still wonder how module passed [this check](https://github.com/ansible/ansible/blob/553cf4cdfc0010d5b8120323112010a7e165ac1d/lib/ansible/modules/database/postgresql/postgresql_user.py#L746)

You can double check library installation by

[code]

[2018-05-15 08:36] Akasurde commented on #39657
I think this is something related to your environment,

[code]

[2018-05-15 08:47] LostInTheWoods commented on #39657
You could well be right, it could be an environment thing, but psycopg2 seems to be installed:
`pip list | grep psycopg`

`psycopg2 (2.7.4)`

But just in case I tried to install it:
`pip install psycopg2`

`Requirement already satisfied `

I also ran the module directly:
`ansible -m postgresql_user -a "user=s" localhost`

`An exception occurred during task execution. To see the full traceback, use

[2018-05-15 08:55] karlism opened #40140 "Inconsistent module behavior when using connection_local to write to same file in parallel"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

_lineinfile_ module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

COLOR_VERBOSE(/home/username/.ansible.cfg) = cyan
DEFAULT_HASH_BEHAVIOUR(/home/username/.ansible.cfg) = merge
DEFAULT_HOST_LIST(/home/username/.ansible.cfg) = [u'/home/username/ansible/inventory']
DEFAULT_VAULT_PASSWORD_FILE(env: ANSIBLE_VAULT_PASSWORD_FILE) = /home/userna

[2018-05-15 09:07] simanat commented on #38938
I try your playbook in my machine with ansible 2.5.2 and this the result:
PLAY [Copy BUGs] *******************************************************************************************************************************************************************************************

TASK [Gathering Facts] *************************************************************************************************

[2018-05-15 09:28] lindenaar commented on #31699
I am having the same issue with ansible 2.5.2, though only with one of my Cisco routers. The key difference seems to be  the IOS version, production routers running IOS 15.5 have no problems but for a test router still on IOS 15.1 Ansible fails to connect with the same messages in the log as above ("Exception: Illegal info request from server")

To connect to this router we need to specify the Cip

[2018-05-15 10:07] Alex5252 commented on #38358
I added the option "folder: /" to the playbook, checked that the virtual machine is created in the root of the storage. And I hope that this option will behave as well.

[2018-05-15 10:08] pierremahot opened #40142 "ios_vlan failes to correctly identify unmodified config when having long interface names"
#### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ios_vlan allways modify the switch even if the conf is the same

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
running on IOS 15.0.2-SE11 for 2960S switch

##### SUMMARY
The problème is that the plugin doesn't take in the fact that the IOS max lenght is 512 carracter.
if there ar too many interface a vlan the line is

[2018-05-15 10:14] wojciechkopciewicz commented on #40058
@stravassac
Yes, the fix works.

[2018-05-15 10:35] murican commented on #39116
On a local Host with Debian9 enable works. Tested with Docker Service and the Same Unitfile from RHEL7 Host.

[2018-05-15 10:42] MallikarjunaReddy-K opened #40146 "Ansible Playbook to find CPU Core count, Memory, and OS Name and Many other OS related parameters"
Hi ,

I need a playbook which could get me CPU Core count, Memory and OS Name, HostName and any OS related parameters. As i know we have  ansible -m setup module to perform this. But need Ansible Playbook to get these details. So that i can execute playbook for multiple hosts at once.

Please point me to exact Playbook. Thank you.

[2018-05-15 10:43] flare-ws commented on #14578
Probably this is related to subj. Can somebody confirm this?

Got that floating issue in an amazon EC2 centos instance.

`
- name: Callback to facts
  setup:
    filter: ansible_*
`

Last part of -vvv output was:

`<10.14.11.48> ESTABLISH SSH CONNECTION FOR USER: centos
<10.14.11.48> SSH: EXEC ssh -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o 'IdentityFile="/home/ce

[2018-05-15 10:46] simanat commented on #38938
I tested the playbook also in ansible 2.6.0 (devel 553cf4cdfc) and I have this result:

`PLAY [Copy BUGs] *******************************************************************************************************************************************************************************************

TASK [Gathering Facts] **********************************************************************************

[2018-05-15 10:48] Alicango commented on #19256
Where should we add "become: true" ? Unther the host definition or tasks definiton ? which one ? if you mean under the host definition, it should be "become: yes" not "true"

[2018-05-15 11:06] webknjaz commented on #40142
-label needs_triage

[2018-05-15 11:12] abadger commented on #38938
Are you doing an rm -rf between runs?

needs_info

[2018-05-15 11:16] simanat commented on #38938
yes of course and I show  the output of tree /opt/  before runing ansible

[2018-05-15 11:31] simanat commented on #38938
I use ssh too
[code]

[2018-05-15 11:34] simanat commented on #38938
@ppiyakk2  are you sure you don't have any cached file in /share/folder1/ you can do ls -al to see.

[2018-05-15 11:51] webknjaz commented on #39556
!component +import_role

[2018-05-15 11:51] webknjaz commented on #39556
-label needs_triage

[2018-05-15 11:52] webknjaz commented on #39949
-label needs_triage

[2018-05-15 11:54] webknjaz commented on #40006
-label needs_triage

[2018-05-15 11:55] webknjaz commented on #40007
-label needs_triage

[2018-05-15 11:56] webknjaz commented on #40007
@2vek Such issues should normally be reported to the browser developers. I would not expect a non-stable browser to act like a stable and tested one.

[2018-05-15 12:02] webknjaz commented on #40012
-label needs_triage

[2018-05-15 12:02] webknjaz commented on #40014
-label needs_triage

[2018-05-15 12:05] flare-ws opened #40149 "Error deleting remote temporary files: rc 127 (Floating error in CentOS)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
remote_tmp = /tmp/$USER
local_tmp = /tmp/$USER

##### SUMMARY
Sometimes ansible can not remove its temporary files on remote

##### STEPS TO REPRODUCE
This is a floating bug, about 3 of 58 builds during a week have that kind of issue (without any changes in the code). AFAIK, this is not li

[2018-05-15 12:05] webknjaz commented on #40015
-label needs_triage

[2018-05-15 12:06] webknjaz commented on #40016
-label needs_triage

[2018-05-15 12:09] flare-ws commented on #40149
Can somebody help me and say, what does that error >actually< mean?

[2018-05-15 12:10] Akasurde commented on #40146
Hi @MallikarjunaReddy-K !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.

[2018-05-15 12:10] #40146 closed, assigned to nobody

[2018-05-15 12:11] eprigorodov commented on #11544
Yes, the `devel` snapshot still does what was described above: it creates the new file, restores permissions but fails trying to restore the ownership. On Ubuntu 16, one non-root user creates the vault file and then another edits it:

    $ ansible-vault -vvv edit /opt/shared/vault.tmp
    ansible-vault 2.6.0 (devel 553cf4cdfc) last updated 2018/05/14 19:24:59 (GMT +200)
      config file = None

[2018-05-15 12:12] webknjaz commented on #40084
-label needs_triage

[2018-05-15 12:12] webknjaz commented on #40113
-label needs_triage

[2018-05-15 12:13] webknjaz commented on #40130
-label needs_triage

[2018-05-15 12:13] stravassac commented on #40058
@wojciechkopciewicz I make a pull request for it
https://github.com/ansible/ansible/pull/40148

[2018-05-15 12:17] Akasurde commented on #40058
resolved_by_pr #40148

[2018-05-15 12:20] webknjaz commented on #40140
-label needs_triage

[2018-05-15 12:25] Alicango opened #40150 "contains parameter of find module doesn't work"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
find

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_HOST_LIST(env: ANSIBLE_HOSTS) = [u'/etc/ansible/ec2.py']
DEFAULT_LOCAL_TMP(/etc/ansible/ansible.cfg) = /root/.ansible/tmp/ansible-local-24850aq6w2a
DEPRECATION_WARNINGS(/etc/ansible/ansible.cfg) = False
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT
Ubun

[2018-05-15 12:30] webknjaz commented on #40149
@flare-ws you run it under unicode env. Could you please rerun it with `LC_ALL=C`/`LANG=C` etc.?
It would be very helpful if everyone could see messages in English locale.

Your error is caused by inability to create a temporary directory on the host.

It looks like you're hitting this branch https://github.com/ansible/ansible/blob/e0813d7d47723a8a0c256dd5c6e446f2e331ef19/lib/ansible/plugins/actio

[2018-05-15 12:38] Qalthos commented on #40027
Right, I made a comment on the PR referencing the fix, so I'm going to close this issue. When #39224 lands, all instances of `connection={}` should be gone from the tests in ansible/ansible.

[2018-05-15 12:38] #40027 closed, assigned to Qalthos

[2018-05-15 12:42] flare-ws commented on #40149
sure, but it will take some time for that error to appear again

[2018-05-15 12:44] dagwieers commented on #40012
@felixfontein I can only comment on (1). I fixed this shortly after making that mistake in https://github.com/ansible/ansible/pull/37514 Unfortunately, smarter people than me thought it would be wise to revert that PR without understanding the details (or not caring about them).

As a result this was left unfixed to my own frustration.

[2018-05-15 12:48] dagwieers commented on #40012
@felixfontein Funny that you referenced my comment on StackOverflow which was in fact the result of the original issue ;-)

[2018-05-15 12:53] jonathanwcrane commented on #25929
Well this is exciting!

[2018-05-15 12:54] webknjaz commented on #40150
You enabled `use_regex: yes`, but expect glob matching: `patterns: 'hede*.js'`.
So either use a valid regexp `hede.*\.js` or switch to glob matching `use_regex: no`.

[2018-05-15 12:58] dagwieers commented on #39949
@webknjaz If you remove labels using the Github UI, people wouldn't get mails for every comment. So please leave `-label` to users that have no other means.

[2018-05-15 12:58] webknjaz commented on #40150
@Alicango I'm going to close this issue, please refer to the docs for more usage details: http://docs.ansible.com/ansible/latest/modules/find_module.html.

[2018-05-15 12:58] #40150 closed, assigned to nobody

[2018-05-15 13:01] webknjaz commented on #40072
-label needs_triage

[2018-05-15 13:01] webknjaz commented on #40063
-label needs_triage

[2018-05-15 13:02] webknjaz commented on #40056
-label needs_triage

[2018-05-15 13:09] webknjaz commented on #39949
@dagwieers thanks for pointing this out, I didn't think about it :)
That annoys me as well sometimes, as well as autosubscribing to the pile of issues, so I'm currently thinking about having some dashboard+bot integration to avoid that.

[2018-05-15 13:11] webknjaz commented on #40149
just check your monitoring if you have one in place: maybe you really ran out of disk space that time.

[2018-05-15 13:19] flare-ws commented on #40149
This is a /tmp folder on freshly created EC2 instance. I will check available disk space during the playbook execution, but I really doubt that this is an root cause of the subj.

[2018-05-15 13:19] webknjaz commented on #30185
@wbolster feel free to contribute a separate `pip_repo` (or maybe it would sound `pip_config` better?) module implementing config management, but `pip` module itself is not a right place for such changes.

[2018-05-15 13:41] webknjaz commented on #40149
If you look closely it uses return codes, but probably in some cases it's not enough. Anyway it's probably some old decision. Feel free to send a PR if you come up with a better way.

[2018-05-15 13:42] felixfontein commented on #40012
@dagwieers Ah, I didn't check the history and so didn't notice that you already had it like this...

About your stackoverflow comment: that was kind of intentional ;-) I thought it would be a nice reference, as I also saw that you did modifications to the docs templates before

[2018-05-15 13:45] gundalow opened #40151 "DOCS dev_guide Facts Modules"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
_facts

##### ANSIBLE VERSION
[code]

##### SUMMARY
Occasionally people get confused about developing Ansible Facts modules.

Currently we don't have much documentation specifically around facts modules, as from a development point they are *just* modules, with a few caveats.

Facts modules, are just like any other Ansible Module, with

[2018-05-15 13:53] cigamit commented on #39982
@z3t0
You should note, that "folder" doesn't not designate which "storage" folder the data and files are stored under, but which "folder" it is located under on the "VMs and Templates" UI view.

[2018-05-15 13:55] s-hertel commented on #25168
@GowthamRam2889 This functionality will be in 2.6 (added in 404f9260d9e6df1e6cf8ad2ada1fcdf52ce61b23).

[2018-05-15 13:55] #25168 closed, assigned to nobody

[2018-05-15 13:57] MPV commented on #20802
Is this maybe solved now using the `failed_when` feature?

See:
http://docs.ansible.com/ansible/latest/user_guide/playbooks_error_handling.html#controlling-what-defines-failure

I have (so far) successfully migrated my tasks into `failed_when` from the above mentioned "fail: when: not result|succeeded" method.

[2018-05-15 13:58] MPV commented on #20802
A complete example of what I changed it into:
[code]

[2018-05-15 14:14] lukegriffith opened #40153 "aws_ec2_net unable to remove default VPC"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aws_ec2_net

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux localhost.localdomain 3.10.0-693.el7.x86_64 #1 SMP Tue Aug 22 21:09:27 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

##### SUMMARY

Resource is unable to remove default VPC

##### STEPS TO REPRODUCE

Resource returns OK, is unable to remove the defa

[2018-05-15 14:20] #40012 closed, assigned to nobody

[2018-05-15 14:27] #38301 closed, assigned to Qalthos

[2018-05-15 14:33] slayer01 opened #40154 "create project with gitlab_project module fails with error ..unexpected keyword argument 'verify_ssl'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

gitlab_project
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/hosts']
RETRY_FILES_SAVE_PATH(/etc/ansible/ansible.cfg) = /root/.ansible-retry
##### OS / ENVIRONMENT

###### Ansible host
[code]
###### Managed host
[code]

##### SUMMARY

While trying to create a new project in a se

[2018-05-15 14:35] irfanjs opened #40155 "azure_rm_virtualmachine: error to import AzureRMModuleBase"
I am trying to create the azure VM using ansible module : azure_rm_virtualmachine
document referred : https://docs.ansible.com/ansible/2.4/azure_rm_virtualmachine_module.html

**Actual error**

**Environment :**
Ansible version : ansible 2.4.2.0
python version = 2.7.5
Ansible controller machine : centos 7
ansible managed node : centos 7
**azure packages :**
python2-msrestazure-0.4.21-1.el7.noarch

[2018-05-15 14:36] candlerb commented on #20802
I have retested with ansible 2.5, and now the "ignore_errors:" part is no longer needed.

So the following works correctly, in both success and failure situations:

[code]

There is no benefit from adding `failed_when: result is failed` (although it doesn't stop it working).

Specifying `retries:` without `until:` still does nothing though, meaning you need to add the two highlighted lines.

It's

[2018-05-15 14:43] woqer commented on #20802
I believe this is still hapenning on 2.5

[2018-05-15 14:43] ITD27M01 opened #40156 "openstack.py inventory plugin does not sanitizes data from "groups" property of metadata."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

openstack

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

From Mac OSx to Rhel/Windows systems on OpenStack

##### SUMMARY

openstack.py inventory plugin does not sanitizes data from "groups" property of metadata. The "groups" property is used as source of groups for openstack instance and this property shoul

[2018-05-15 14:45] rcarrillocruz commented on #38989
closing as not a module issue, unable to reproduce missing package issue without specifying ansible_python_interpreter

[2018-05-15 14:45] #38989 closed, assigned to rcarrillocruz

[2018-05-15 14:47] emilio commented on #40007
This is because we're trying to remove `@-moz-document` and the CSS uses it like:

[code]

It'd be nice to avoid using it, though for now the rules aren't going anytime soon from release unfortunately, given the amount of people that use that kind of hack.

[2018-05-15 14:47] GhostPratt commented on #29817
@jooadam Can you run the playbook with verbose logging enabled -vvvv and post the results here.

[2018-05-15 14:47] candlerb commented on #20802
@woqer: what exactly is still happening? Can you provide a sample playbook?

The playbook I just posted was tested with ansible `2.5.0-1ppa~xenial`

It shows that you still need an `until:` condition with `retries:`, but you no longer need `ignore_errors:` nor a subsequent playbook task to catch errors.

[2018-05-15 14:50] woqer commented on #20802
@candlerb you still need `until:` with `retries:` on 2.5.1, sorry I wasn't specific before

[2018-05-15 14:53] rcarrillocruz commented on #31699
This looks like a paramiko issue affecting some (not all) Cisco devices.

https://github.com/paramiko/paramiko/issues/122

Can you please check the paramiko snippet of code on above URL and see if you get the same 'Illegal info request from server' ?
Since the trace comes from Paramiko and we rely on it for connecting to devices, I recommend you try opening an issue on the paramiko project.

[2018-05-15 14:54] #31699 closed, assigned to rcarrillocruz

[2018-05-15 14:58] irfanjs commented on #40155
please suggest

[2018-05-15 15:06] Akasurde commented on #23607
resolved_by_pr #23702

[2018-05-15 15:14] webknjaz commented on #40007
I've reported this to upstream as rtfd/sphinx_rtd_theme#640

[2018-05-15 15:15] ppiyakk2 commented on #38938
@simanat  I can't find any cached file. But I found the file1 doesn't copied..  😞

Here is my remote server directory listing (/opt)

[code]

and This is my playbook.

[code]

**Version of ansible**
[code]

[2018-05-15 15:28] dagwieers opened #40159 "win_domain_membership: The RPC server is unavailable."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_domain_membership

##### ANSIBLE VERSION
v2.6 and earlier

##### OS / ENVIRONMENT
- RHEL7 as Ansible host.
- Windows 2012R2 as target nodes.

##### SUMMARY
This is likely not a problem with the module, but may be something we could avoid in the module ?

So we build a complete virtualized AD environment with MSSQL and SCVMM using templates,

[2018-05-15 15:29] resyst-it opened #40160 "WINRM OSError: [Errno 2] No such file or directory"
Hello,

I want to use winrm with ansible 2.5. I installed pywinrm, kerberos but i have this error when i use my playbook :

[code]

My inventory :

[code]

My role :

[code]

Thank you for your help.

[2018-05-15 15:36] #29549 closed, assigned to nobody

[2018-05-15 15:37] sijis commented on #30100
Elaborating on the `vault` usage with an example.

[code]

The `no_log` will prevent the password from being logged during a run.
Be aware that the password is in plain text and could potentially be viewed on the target system if a user is running `ps` and/or capture running processes on the system.

[2018-05-15 15:41] samdoran opened #40163 "Role default variables are not available in static task imports inside a role"
##### SUMMARY

Role default variables cannot be used as arguments to  `import_tasks` inside a role. Role defaults are available for conditionals, task arguments, and `include_tasks`.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`import_role`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
Run `play.yml` in this [example r

[2018-05-15 15:52] #22781 closed, assigned to nobody

[2018-05-15 15:53] sivel commented on #29817
This is the result of the command being executed without a tty. It appears as though `postfix check` detects the lack of a TTY, and decided to not print any information to stderr.  You will need to find a way to impact postfix to force output even when not attached to a tty.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing

[2018-05-15 15:53] #29817 closed, assigned to nobody

[2018-05-15 15:54] ppiyakk2 commented on #38938
@simanat  OK. I found the different. When I tried on python version 2.7.10. I can reproduce your bugs.

I will try more.

[2018-05-15 15:59] ppiyakk2 commented on #34893
I reproduced this bug.

When I tried on python version 3.6, THe only directory are created.

But, python version 2.7.10. The file are created.

This is my playbook, source directory listing and version of ansible

**playbook**
[code]

**src directory**
[code]

**Version of Ansible**
[code]

[2018-05-15 16:01] mkrizek commented on #40057
@arsou33 Can you please try and see if https://github.com/ansible/ansible/pull/40165 fixes your issue? Thanks!

[2018-05-15 16:01] hi117 commented on #38828
I started writing a pull request for this but using the name global seems to cause issues during testing since it is a reserved keyword. I'll reimplement using the suggested scope method instead to get around this.

[2018-05-15 16:04] simanat commented on #38938
Ok Thanks

[2018-05-15 16:12] mtnbikenc opened #40168 "MODULE FAILURE: basic.py tmpdir function"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible/module_utils/basic.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None
##### OS / ENVIRONMENT

N/A

##### SUMMARY

Since commit 44ab948e5d3c33b1f24c368da9aaee776d98f512, the tmpdir function has been failing.
##### STEPS TO REPRODUCE

Working on creating a limited reproducer.

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2018-05-15 16:15] nikitos3000 commented on #29893
Reproduced with 11f081cb99
[code]

Playbook:
[code]

However, this appears to work as designed in `devel`: `ansible 2.6.0 (devel 67acffb5f2)`

@abadger

[2018-05-15 16:35] abadger commented on #29893
I'll go ahead and close this as closed in more recent versions.  Thanks!

[2018-05-15 16:35] #29893 closed, assigned to nobody

[2018-05-15 16:40] IPvSean opened #40173 "ec2_vpc_net not idempotent when using variables in tags"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_vpc_net

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
macOS High Sierra 10.13.4

##### SUMMARY
when using variables within ec2 tags the module returns changed (yellow) even when running multiple times in a row (without the variable)

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
OK (green) withou

[2018-05-15 16:42] trishnaguha commented on #39616
cherry-picked to 2.5

[2018-05-15 16:44] mattclay opened #40175 "Unstable integration test ec2_vpc_vpn_facts"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

ec2_vpc_vpn_facts integration test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Shippable

##### SUMMARY

Unstable integration test ec2_vpc_vpn_facts:

https://app.shippable.com/github/ansible/ansible/runs/65508/67/tests

##### STEPS TO REPRODUCE

Run test on Shippable.

##### EXPECTED RESULTS

Tests pass.

##

[2018-05-15 16:47] hi117 commented on #38828
Created pull request #40179 to implement the changes.

[2018-05-15 16:48] s-hertel commented on #40175
Another instability:
[code]

[2018-05-15 16:51] retoo commented on #27973
I just accidental noticed this behavior. I thought 'end_play' is per host, but in fact it seems to stop the full playbook. Please either merge this PR OR at least put a big fat warning into the documentation that 'end_play' halts the full execution.

This behavior can screw you royally if you don't expect it (and don't look for it).

(I added the same comment to the PR; sorry for the redundancy)

[2018-05-15 17:04] sat1121 opened #40180 "VMware module for vmware_host_config_manager failing for certain parameters."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vmware_host_config_manager

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Using vmware_host_config_manager for certain parameters failing.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

When i use any other parameters instead of the ones above it works just fine, The playbook declare the

[2018-05-15 17:35] mfish82 opened #40181 "Module "iosxr_config" failing when run after specific role"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
iosxr_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/mfisher/.ansible.cfg) = False
DEFAULT_EXECUTABLE(/home/mfisher/.ansible.cfg) = /bin/bash
DEFAULT_HOST_LIST(/home/mfisher/.ansible.cfg) = [u'/home/mfisher/projects/hosts']
DEFAULT_JINJA2_EXTENSIONS(/home/mfisher/.ansible.cfg) = jinja2.ext.do,jinja2.ext.i18n

[2018-05-15 17:36] GowthamRam2889 commented on #25168
thank you for the update @s-hertel .

[2018-05-15 17:53] abenokraitis commented on #40011
I'm assuming this sounds like a stretch goal for 2.6?

[2018-05-15 17:57] tarlov opened #40185 "k8s_raw unicode_error when using jinja lookup templating"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

k8s_raw
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_BECOME(/etc/ansible/ansible.cfg) = True
DEFAULT_BECOME_ASK_PASS(/etc/ansible/ansible.cfg) = False
DEFAULT_BECOME_METHOD(/etc/ansible/ansible.cfg) = sudo
DEFAULT_BECOME_USER(/etc/ansible/ansible.cfg) = root
DEFAULT_HASH_BEHAVIOUR(/etc/ansible/ansible.cfg) = merge
DEFAULT_MODULE_

[2018-05-15 18:01] tyler-8 commented on #40016
I did some testing on the various cases and also found [this similar issue](https://github.com/ansible/ansible/issues/27097#issuecomment-326359429). If you use the entire prompt message (Clear "show interface" cou...) as the `prompt` parameter, you must escape the square brackets in `[confirm]` like this `\[confirm\]`.

However, if you only use `[confirm]` as the value of `prompt` you do not need

[2018-05-15 18:48] lindenaar commented on #31699
I can indeed reproduce the problem with a simple python script using paramiko directly, will follow-up with that project. Thanks!

[2018-05-15 19:05] shinji opened #40186 "docker_image encoding error loading image using python 3 (binary open?)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_image module

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
Fedora 28

##### SUMMARY
docker_image encoding error loading image using python 3 (binary open?)

##### ACTUAL RESULTS
[code]

[2018-05-15 19:06] indirakas opened #40187 "Task does not fail after the configuration error, using the EAPI connection in eos_config"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 eos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ESC[0;33mANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -s -p 830 netconfESC[0m
ESC[0;33mDEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/hosts']ESC[0m
ESC[0;33mDEFAULT_LOCAL_TMP(/etc/ansible/ansible.cfg) = /local/rootik/.ansible/tmp/ansible-local-4659WZR81GESC[0m
ESC[0;

[2018-05-15 19:11] acozine commented on #32050
Related to #40011

[2018-05-15 19:27] abadger commented on #19711
needs_info

[2018-05-15 19:29] abadger commented on #19711
Last test was done without cloud-init... Going to test again.

[2018-05-15 19:36] #38656 closed, assigned to nobody

[2018-05-15 19:37] odyssey4me commented on #20226
Interestingly, the cloud module_utils already has something: https://github.com/ansible/ansible/blob/7551e8c921da5b117c6f8fa3c6f575eeba9a77f8/lib/ansible/module_utils/cloud.py#L48-L99

I wonder if this could be made into a more general utility and made available to the do/until loops, perhaps something like.

[code]

I can also see value in something like:

[code]

[2018-05-15 19:45] odyssey4me commented on #20226
bot_status

[2018-05-15 19:46] jborean93 commented on #40168
Thanks @mtnbikenc for the issue, I think I know what is happening, the default tmp dir is to use `~/.ansible/tmp` but the folder `~/.ansible/tmp` does not exist on your remote host so it failed to create the sub temporary folder. I'll look into adding a fix for it.

[2018-05-15 19:55] gpmr commented on #26095
I am experiencing this issue on Ansible 2.5.2
Using this format, all disks are created on disk0_datastore

      disk:
      - size_gb: "{{ disk0_sizegb }}"
        datastore: "{{ disk0_datastore }}"
      - size_gb: "{{ disk1_sizegb }}"
        datastore: "{{ disk1_datastore }}"
      - size_gb: "{{ disk2_sizegb }}"
        datastore: "{{ disk2_datastore }}"

[2018-05-15 20:18] marwatk opened #40195 "k8s_raw and openshift_raw support a nonexistent username/password auth option"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

k8s_raw
openshift_raw

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/home/.../deployment/ansible.cfg) = [u'/home/.../deployment/inventory']

##### OS / ENVIRONMENT

CentOS 7.4.1708

##### SUMMARY

openshift_raw and k8s_raw docs show they support a username/password authentication option but the openshift python library

[2018-05-15 20:32] Nothing4You opened #40197 "file module applies permissions to files inside recursively"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
file

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
According to [the documentation](https://docs.ansible.com/ansible/latest/modules/file_module.html):

The file module however applies the permissions recursively to files in the directory, not just directories. Usually for directories you wan

[2018-05-15 20:37] marwatk commented on #40195
If it *is* just a cruft/docs issue I put in PR #40199

[2018-05-15 21:01] jborean93 commented on #40168
A simple reproducer

[code]

This will make sure the tempdir does not exists and try out get_url (which uses basic.py tmpdir) with that tmpdir specified.

[2018-05-15 21:04] jborean93 commented on #40168
@mtnbikenc just created a PR to fix this issue https://github.com/ansible/ansible/pull/40201. Would be great if you could test it out.

[2018-05-15 21:56] bkrubnzi commented on #36829
Small update:  It appears that the `| last` filter returns the result from the unsorted list unless you break it out like so.  Not certain why, but it worked for me.
`
  - set_fact:
      sorted_amis: "{{ amis.images | sort(attribute='creation_date') }}"
  - set_fact:
      latest_ami: "{{ sorted_amis | last }}"
`

[2018-05-15 23:58] emilio commented on #40007
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1461852 on the underlying table layout difference across browsers that is forcing you to use that hack. Not sure whether it's FF or the other browsers who are right.

[2018-05-16 00:37] kenwdelong opened #40203 "Creating AWS ALB Target Group fails with Unknown Parameter TargetType"
The creation of AWS ALB target groups is failing for me, even if I use the simplest example from the docs.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

elb_target_group

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/home/kdelong/hatch-devops/ansible/ansible.cfg) = [u'/home/kdelong/hatch-devops/ansible/inventory']
DEFAULT_PRIVATE_KEY_FILE(/home/kdelong/hatch-devop

[2018-05-16 01:25] GaboFDC opened #40204 "Windows double hop over CreedSSP"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_shell
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
Note: I have also tested without pipelining and the result is the same
##### OS / ENVIRONMENT

Running from: macOS High Sierra 10.13.4 (17E202)
Managing: Windows Server 2016

##### SUMMARY

When running `win_shell` module to manage some windows settings I receive an error than

[2018-05-16 02:15] monchitos82 commented on #40197
I believe this is a misunderstanding or I am failing to understand this report.

The `recurse` directive **depends** on the `state` directive set to `directory` and it makes perfect sense since you wouldn't be able to make an indepth search within a file; here's a validation that I believe confirms this interpretation:

[code]

So if you're seeing on every run that 2 tasks changed, it is because t

[2018-05-16 02:29] yuwzho commented on #38198
@savishy You can try my PR now, there is instruction in the PR to show how to install the changes 😄

[2018-05-16 03:13] Akasurde commented on #40180
@sat1121 Thanks for reporting this issue. I will try to reproduce this on my setup.

[2018-05-16 03:51] ghost opened #40207 "stdout_lines": "VARIABLE IS NOT DEFINED!""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

shell
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[defaults]
#pipelining=True
deprecation_warnings=False
##### OS / ENVIRONMENT

mac os sierra 10.12.6
##### SUMMARY

I am trying to print variable.stdout and I keep getting error message undefined varialble error message
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

it should

[2018-05-16 03:53] automationnuts commented on #40207
I see 3 years old link which says bug is fixed but don't see how it's fixedhttps://github.com/ansible/ansible/issues/13453

[2018-05-16 04:19] caphrim007 opened #40209 "Unit tests broken for unrelated PR"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

unit tests

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Unit tests are raising the following error

"msg": "the python etcd3 module is required"

For an unrelated PR.

Here's the unrelated PR that shows it failing

https://app.shippable.com/github/ansible/ansible/runs/65609/summary/console

##### S

[2018-05-16 04:21] caphrim007 commented on #40209
this is the PR, the other link was to the PR's test results

https://github.com/ansible/ansible/pull/40208

[2018-05-16 04:32] jborean93 commented on #39276
@acidmind it took a bit longer than I thought as it needed some changes within Ansible to get working but here is the PR https://github.com/ansible/ansible/pull/40210. It doesn't remove the need for tmp files but it allows you to now define where those files are created.

It would be great if you could try it out and provide some feedback on the PR.

[2018-05-16 05:33] felixfontein opened #40215 "Generating plugin documentation sometimes misses automatic aliases due to file order"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docs/bin/plugin_formatter.py

##### ANSIBLE VERSION
[code]

##### SUMMARY
One pattern for module renames is to rename the module and create a symlink from the old name (prefixed with `_` to indicate deprecation) to the new name. This is handled in https://github.com/ansible/ansible/blob/devel/docs/bin/plugin_formatter.py#L213-L216 on the documen

[2018-05-16 06:33] user318 commented on #19731
OK. I will file a separate bug.

[2018-05-16 07:04] grarvind opened #40219 "nic_gce_struct is not processed in gce_instance_template.py"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

gce_instance_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No changes
##### OS / ENVIRONMENT

Ubuntu 16.04.4 LTS

##### SUMMARY

In the python file gce_instance_template.py the nic_gce_struct for creating instance templates on GCP is not handled. As a result, the template is always created with a single NIC configuration.
#####

[2018-05-16 07:08] user318 opened #40220 "copy: do not chmod if mode in not set"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
from Ubuntu Linux
manage Arista switch with Fedora-based OS
or
manage another Ubuntu Linux

##### SUMMARY
When using "copy" module with destination on a file system not supporting chmod(), I'm getting an exception.
vfat not always returns an error on chmod

[2018-05-16 07:30] Nothing4You commented on #40197
Thank you, so it's actually a misunderstanding from the docs. I've created #40222 to improve this.

[2018-05-16 07:30] #40197 closed, assigned to nobody

[2018-05-16 08:01] soundwave01 commented on #39959
I have the exact same issue with ansible 2.5.2 and vmware 6.5 U1

my quick test shows vmware_guest works correctly in version 2.3.1

[2018-05-16 08:05] irfanjs commented on #40155
please suggest

[2018-05-16 08:08] rlukin commented on #40207
What's inside `hello`? @automationnuts
[code]

[2018-05-16 08:28] #38198 closed, assigned to nobody

[2018-05-16 08:41] onitake opened #40223 "Cloudstack VPN modules raise KeyError: 'forceencap'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

cs_vpn_customer_gateway
cs_vpn_connection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Control host: Debian buster (testing)
Target host: Not relevant, using local_action and cs_ modules only communicate via the CloudStack API (HTTP based) version 4.5

##### SUMMARY

When creating a VPN on CloudStack usin

[2018-05-16 08:42] sumkincpp commented on #10052
There might be a quick fix for this with additional wrapping of outer list, e.g. :
[code]

[2018-05-16 08:43] wimnat commented on #25361
resolved_by_pr 26483

[2018-05-16 08:48] mkrizek commented on #38573
@jmighion backported in https://github.com/ansible/ansible/pull/40182, should be in `2.5.3` release.

[2018-05-16 08:54] mohdumar321 opened #40226 "Vmware- Removing VNIC's from virtual machines"
##### COMPONENT NAME
vmware_guest

##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Hello All,

I am writing playbooks for Vmware automation using ansible.

I am stuck in Removing VNIC's on VM's using ansible as I am unable to Identify any modules available for that.

Looking forward to solutions.

[2018-05-16 09:08] #39238 closed, assigned to gdpak

[2018-05-16 09:18] resmo commented on #40223
Seems forceencap is not always returned by the api, this probably changed since cloudstack 4.5

[code]

would do it.

[2018-05-16 09:23] ITD27M01 opened #40228 "During inventory generation dynamic inventory plugin have merged all variables from all groups files in group_vars directory."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

openstack

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/Users/igor.tiunov/Sources/ansible-openstack-bug/ansible.cfg) = [u'/Users/igor.tiunov/Sources/ansible-openstack-bug/openstack.yml']
DEFAULT_VAULT_PASSWORD_FILE(env: ANSIBLE_VAULT_PASSWORD_FILE) = /Users/igor.tiunov/tmp/.vault
INVENTORY_ENABLED(/Users/igor.tiunov/So

[2018-05-16 09:29] trishnaguha commented on #40113
@saichint this is fixed by PR #40227 .
As per doc, save_snapshot_locally should be true in order to locally save snapshot created.
The PR adds the logic in the module.

[2018-05-16 09:29] #40113 closed, assigned to trishnaguha

[2018-05-16 09:34] trishnaguha commented on #40113
cherry-picked to 2.5

[2018-05-16 09:44] huiminzeng opened #40232 "User and Password while using the uri_modul"
##### ISSUE TYPE
 - Documentation Report

uri modul
parameter user and modul

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default configuration

##### OS / ENVIRONMENT

ubuntu 16.04
##### SUMMARY

Is there any possibility create a user for an application, for instance Rocket.Chat, via ansible? I tried to get the system info with ansible-playbook, which worked just fine.
But once i tried to

[2018-05-16 09:48] wimnat commented on #36983
I tried to replicate this with latest version of module and couldn't.

@srkiNZ84 can you confirm if it's fixed for you?

[2018-05-16 09:51] wimnat commented on #33021
@bobobox  this seems resolved now with latest version of the module. Can you confirm?

[2018-05-16 10:41] evrardjp commented on #20226
I like this idea.

As this would require changes in what the tasks look like, I think this can only be changed forwards, and not being backported.

The same way we did for `loop:` we can do something with a new keyword `retry:` (or whatever the name would be), which could have the following key/values:
* `delay_type`: `linear` (the list of delays will be generated from interval until min(retries,

[2018-05-16 10:42] hemskgren opened #40236 "nxos_vlan mode issue on N5k"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_vlan
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

default from pip
##### OS / ENVIRONMENT

centos6 and nxos 7.3 on nexus 5500.
##### SUMMARY

nxos_vlan mode fabricpath issue on n5k with nxapi
I can see in the module about network_os_platform for option mode.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTU

[2018-05-16 10:49] adrianrise opened #40237 "aws_application_scaling_policy.py needs register scalable target!"
##### ISSUE TYPE
 - Ability to register-scalable-target.

##### COMPONENT NAME
aws_application_scaling_policy.py

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT

OSX High Sierra 10.13.4

##### SUMMARY

I have been searching for a while but I think it would be a good feature also to add the ability to register scalable targets in this plugin.
Otherwise you have to do it from other way or you'l

[2018-05-16 10:52] pantaoran opened #40239 "Set_fact cannot access facts that were already set in the same step (2.5.2)"
##### ISSUE TYPE
 - ~Bug  Report~
- Feature Idea

##### COMPONENT NAME

set_fact

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7, in a docker container

##### SUMMARY

When setting several facts "at once", later facts cannot access the values of facts defined before them.
I've seen recent bug reports such as https://github.com/ansible/ansible/issues/3827

[2018-05-16 11:03] odyssey4me commented on #20226
@evrardjp Yeah, I was thinking that either ``loop_control`` could be extended, or a new ``retry_control`` keyword could be used to limit extending the task key words even more than has already been done.

[2018-05-16 11:16] rcarrillocruz commented on #38768
Hi there

I haven't been able to get an appliance yet to debug this, don't have access IOS-XE at the moment.

Could you please try bumpigng the provider timeout value as @salman1485 suggested?
Per your output it seems you are not setting any value, thus using the default value.

Thanks

[2018-05-16 11:25] chenl87 commented on #40237
@adrianrise
This issue was already addressed and you can find the updated module in the develop branch. The fix should be GA in version 2.6 AFAIK.

[2018-05-16 12:07] dennisconrad commented on #39414
An addition: quoted vars are also handled differently, which causes issues for templateing; the following code...

[code]
...produces the following output:

[code]
Same issue for `yes`/`no`, `true`/`false`, `on`/`off`.

The workaround for this is currently to explicitly write what you want to use if a boolean is found, for example with `on`/`off`:

[code]

Also adding a link here to a related issu

[2018-05-16 12:11] dennisconrad commented on #34591
Here's a workaround, as mentioned in related issue https://github.com/ansible/ansible/issues/39414, using `on`/`off` as an example:

[code]

[2018-05-16 12:21] gundalow opened #40241 "Regression when connecting as root to network devices"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`lib/ansible/plugins/action/__init__.py`
##### ANSIBLE VERSION
[code]

##### SUMMARY

For some of network test platforms we run Ansible as a normal user and connect to the network device as `root`

After https://github.com/ansible/ansible/pull/36755 and (stable-2.5 https://github.com/ansible/ansible/pull/39567)

This fails as we end up in the `e

[2018-05-16 12:25] Akasurde commented on #40180
@sat1121 Could you please try this fix - https://github.com/ansible/ansible/compare/devel...Akasurde:i40180 and let me know if it works for you ?

[2018-05-16 12:30] Nosmoht opened #40243 "Inventory order no longer matters"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Arch Linux

##### SUMMARY

Since Ansible 2.5.1 the order of hosts defined within the inventory seems no longer to matter to the executor. Until Ansibel 2.5.0 hosts where executed in the order defined inside the inventory. Since Ansible 2.5.1 the order seems t

[2018-05-16 12:42] stravassac commented on #40135
@wojciechkopciewicz it's an module_utils/urls.py module error.
Find in https://github.com/cf-platform-eng/tile-generator/issues/173
"This is a known limitation of the Python requests library...."
Perhaps you can try to send the huge file in multipart small files (with_items)
https://superuser.com/questions/198857/how-can-i-create-multipart-tar-file-in-linux

[2018-05-16 12:43] nkrishnakishor opened #40244 "Unable to copy in remote location using win_copy module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Trying to use win_copy module

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
# ansible-config dump --only-changed
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT
# cat /etc/redhat-release
CentOS Linux release 7.2.1511 (Core)

##### SUMMARY

I'm unable to copy files to

[2018-05-16 12:49] yodatak commented on #12686
For my part i use an extra_vars.yml and i use it in my command with --extra-vars @extra_vars.yml

[code]

[2018-05-16 12:50] onitake commented on #40223
Doesn't seem like it's working:
[code]

[2018-05-16 12:51] rcarrillocruz commented on #38768
needs_info

[2018-05-16 12:56] jmeridth commented on #15321
I was using a non-standard private key and it wasn't being found.  It was 0600 perms.  `ssh-add <path-to-private-key>` fixed my issue.

[2018-05-16 12:58] guillemsola commented on #39958
@KevP I think I found what is happening here, can you re-open the issue?

I have exactly the same module version mentioned in this thread so, unless requested I will no paste them again.

For your reference I'm trying to start a machine with this simple playbook.

[code]

If I try to start a machine that was started yesterday it fails and gives me the mentioned error

![image](https://user-images.

[2018-05-16 12:59] #38580 closed, assigned to rcarrillocruz

[2018-05-16 13:02] adrianrise commented on #40237
@chenl87
Thank you for the news! I was looking for something about it but did not find anything.
So then we can close the issue.

Thank you again!

[2018-05-16 13:02] #40237 closed, assigned to nobody

[2018-05-16 13:05] PisikeSipelgas commented on #26227
obviously ansible 2.5.2 has the same problem.

[2018-05-16 13:09] nkrishnakishor commented on #40244
Please find the attachment for file lib/ansible/modules/windows/win_copy.py. If i need to update the file, please let me know the procedure.
[win_copy.zip](https://github.com/ansible/ansible/files/2009230/win_copy.zip)

[2018-05-16 13:28] elaurijssens commented on #16186
[bump] Regarding shutdown functionality: there's certainly a use for that, e.g. cleanly shutting down a VM or instance in your favourite cloud, before imaging it, moving it, or whatever. You can't always be sure that a 'stop' command in the hypervisor management/cloud API initiates a proper shutdown. The specific drivers for the hypervisor might not have been installed properly, or they just have

[2018-05-16 13:33] #37507 closed, assigned to Qalthos

[2018-05-16 13:35] sivel commented on #40232
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-05-16 13:35] #40232 closed, assigned to nobody

[2018-05-16 13:39] valugi opened #40248 "ansible pip version specifiers"
##### ISSUE TYPE
 - Unsupported feature

##### COMPONENT NAME

pip

##### ANSIBLE VERSION

[code]

##### SUMMARY
Pip supports version specifiers and the Ansible pip module only supports fixed version. See https://www.python.org/dev/peps/pep-0440/#version-specifiers

##### STEPS TO REPRODUCE

This should work
pip:
  name: ansible
  state: present
  version: ">=2.4,<2.5"
  tags: ['pip']

[code]

###

[2018-05-16 13:39] huiminzeng commented on #40232
hi @sivel ! So do i need to open a new issue at this forum?https://groups.google.com/forum/#!forum/ansible-project

[2018-05-16 13:42] stintel commented on #39235
I've also encountered this problem. Unfortunately just starting the netlogon service is not enough.

Before running the win_domain module, I can login with `ansible_user = administrator`. After running the win_domain module (modified to start netlogon), I need to use `ansible_user = hostname\administrator` instead. After a reboot, it works again with just `ansible_user = administrator`. I guess an

[2018-05-16 13:45] ilevd opened #40249 "Copy creates only directory when notify handler doesn't exist"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

copy
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

Copy module only creates folders, without copying files, it there is 'notify' which handler doesn't exist.
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Copy entire files or error message that handler doesn't exist
##### ACTU

[2018-05-16 13:50] Qalthos commented on #39576
I fixed the fundamental issue here in #40109, the rest of the issue should follow like the changes in ios_facts in that PR

[2018-05-16 14:10] RushinthJohn opened #40251 "gce_pd module unable to modify size of existing disk"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module: gce_pd

##### ANSIBLE VERSION

[code]

##### SUMMARY
I am using the gce_pd module to create disks in Google Compute Engine, the issue I am facing is that I am not able change the size of existing disks using the module. When I run the module with the modified size the task completes successfully but the disk size never changed. We can mo

[2018-05-16 14:29] gundalow commented on #40187
Hi,
can you please provide the output of `ansible-playbook -vvvvv ...` so we can see the actual result and if any errors are reported

needs_info

[2018-05-16 14:33] gundalow commented on #40187
If you use `cli` does the task fail correctly?

[2018-05-16 14:33] ThomasSteinbach commented on #35778
@Zverik this solves the issue for me

[2018-05-16 14:39] #40016 closed, assigned to nobody

[2018-05-16 14:41] jhawkesworth commented on #40244
@nkrishnakishor - by default, windows does not allow using remote network resources (this is the so called 'second hop authentication' issue).
However you appear to be logging in using a domain user, so if your remote resource (192.168.5.10) is also a domain peer, you should be able to get this working by setting
`ansible_winrm_kerberos_delegation=true` as documented here: https://docs.ansible.com

[2018-05-16 14:46] ganeshrn opened #40256 "[NET_CONF] Add support for netconf_get module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

netconf_get

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Implement netconf_get module as discussed here https://github.com/ansible/proposals/issues/104
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-05-16 14:49] stintel commented on #39235
So I wiped the machine where I ran into this problem and retried, and am unable to reproduce this problem now...

@jtauke did you already start working on a PR? if not I could give it a shot

[2018-05-16 14:51] jhawkesworth commented on #39235
@stintel yes, just restarting netlogon is not enough, it will need a reboot straight afterwards, for which you can use the existing `win_reboot` module.
The issue I was having was authentication was being lost _while_ the `win_domain` module was running, meaning the module would not return control to ansible cleanly.
I'm not sure about adding a reboot option to the module, partly because `win_rebo

[2018-05-16 14:55] niko commented on #40015
It turns out ansibles use of the tag property is not the same as when using the `docker run` command. `docker run -t` wants "{{name}}:{{tag}}/{{registry}}". ansible has three separate properties for that and doesn't support mashing all into the tag property.

So no bug. Perhaps the documentation could be updated to be more explicit about that.

[2018-05-16 14:55] #40015 closed, assigned to nobody

[2018-05-16 15:03] jtauke commented on #39235
Sorry, I've been remiss in getting a pull request put together.  Here's the basics of what I've been testing with:

If specified true the module will check the current state of the netlogon service, then, if it's not running, start the service.  This allows ansible to continue to the next item (most likely a reboot), successfully.

[code]

[2018-05-16 15:17] niko opened #40258 "docker_container: published_ports uses 0.0.0.0 as default network; doesn't respect default ip from dockers daemon.json"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_container

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
In the docker_container module:

The published_ports attribute [uses 0.0.0.0 as default](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/docker/docker_container.py#L925) if the network isn't explicitly giv

[2018-05-16 15:36] AdamSmith-Mtl commented on #39856
Do you need additional information to look into this issue? We really need this feature so if there is anything I can do to help it will be my pleasure.

[2018-05-16 15:37] sat1121 commented on #40180
Thanks for the prompt response, I tested the code today and getting below failure and below are the full verberose output. I am testing to see if this is a environment variable, Thought of passing it along. Thanks for the support.

The full traceback is:
Traceback (most recent call last):
  File "/var/folders/7g/wr5fhrh10q36lvf7_cr0rsg8xzl0nt/T/ansible_t08JQb/ansible_module_vmware_host_config_mana

[2018-05-16 15:56] maxamillion commented on #35778
I'm closing this because it seems as though the issue was found and verified as resolved by others, if this is still unresolved please feel free to reopen the issue ticket and ping me.

[2018-05-16 15:56] #35778 closed, assigned to nobody

[2018-05-16 15:57] #36900 closed, assigned to nobody

[2018-05-16 15:57] #36939 closed, assigned to nobody

[2018-05-16 15:57] #37600 closed, assigned to nobody

[2018-05-16 15:57] #38312 closed, assigned to nobody

[2018-05-16 15:57] #38875 closed, assigned to nobody

[2018-05-16 15:57] #38895 closed, assigned to nobody

[2018-05-16 15:57] #38946 closed, assigned to nobody

[2018-05-16 15:57] #39674 closed, assigned to nobody

[2018-05-16 16:09] #34893 closed, assigned to nobody

[2018-05-16 16:31] apatt commented on #19392
created pull request: https://github.com/ansible/ansible/pull/40261

[2018-05-16 16:31] rockandska commented on #34566
Just had this conversation with bcoca / agaffney on irc.
it will be a huge improvement to have all the dependencies used by "include_role" automatically downloaded recursively by ansible-galaxy.
Without this possibility, each role who use "include_role" need to have a requirements.yml and force the user to launch a ansible-galaxy -r and could be really a pain for recursive dependencies.
Today we c

[2018-05-16 16:36] pastephens commented on #18227
I'm unable to set the Python interpreter for Ansible using virtualenv:

Playbook snippet:
[code]
Start of Ansible run from a virtualenv:
[code]

Ansible Debug output:
[code]

[2018-05-16 16:50] Leggggg opened #40264 "nxos_command - wait_for - operator negation support"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

nxos_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

`Red Hat Enterprise Linux Server release 7.4 (Maipo)`

##### SUMMARY

nxos_command's wait_for is limiting, and does not support negation or multiple operators when parsing conditionals.

- It uses its own boolean logic keywords (contains, etc) an

[2018-05-16 16:54] acozine commented on #40011
Yes, this is stretch. The `httpapi` docs are higher priority for 2.6 freeze.

[2018-05-16 17:04] webknjaz commented on #40007
Guys @ rtfd/sphinx_rtd_theme#640 pointed out that upstream doesn't use it anymore, so we could probably merge some changes from there to be in sync.

[2018-05-16 17:13] caphrim007 commented on #40209
this is fixed

[2018-05-16 17:13] #40209 closed, assigned to nobody

[2018-05-16 17:19] mfisher30 commented on #40181
After doing some further testing, I have discovered that I can get the original role to run as part of a block, but then noticed it pops the same error only when run after a specific command from iosxr_command.

Info as follows:

In the previously referenced playbook, the #Pre-Check Block has two called roles with the following ansible code in each role.

1) Cisco-ASR9k-Gold-Code_Pre-Check

[code]

[2018-05-16 17:22] mattclay opened #40266 "Failing integration test etcd3"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

etcd3

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The integration test etcd3 is disabled because it always fails.

##### STEPS TO REPRODUCE

`ansible-test integration etcd3 --docker ubuntu1604 -v --allow-disabled`

##### EXPECTED RESULTS

Tests pass.

##### ACTUAL RESULTS

Tests fail.

[co

[2018-05-16 17:26] mattclay commented on #40266
The test was disabled in commit https://github.com/ansible/ansible/commit/00d10e1d78859416974a45c28af0f341230e36c3

[2018-05-16 17:26] IPvSean opened #40267 "junos_netconf is not idempotent"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
junos_netconf

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MacOS High Sierra 10.13.4

##### SUMMARY
If you run the junos_netconf twice in a row, it will go YELLOW | CHANGED both times, it should report back green on the 2nd time, so it will not execute if netconf is already enabled

##### STEPS TO REPRODUCE

[2018-05-16 17:27] IPvSean commented on #40267
sorry I did not run this on my laptop... I ran it from a rhel box->

[code]

[2018-05-16 17:31] #40181 closed, assigned to nobody

[2018-05-16 17:32] mfisher30 commented on #40181
- name: Validate Cisco ASR9K Gold Code
    ios_command:

related to typo. revision issue, accidentally using ios_command and not iosxr_command

[2018-05-16 17:35] dagwieers commented on #40159
The idea here is that we create 2 more modules that could be of help.

1. A module **wait_for_process** that waits until a process appears
2. A module **wait_for_event** that waits until a specific event has happened

Both could help in determine whether a system enters a state where continuing is possible and helps to avoid spurious pauses/sleeps (with long delays to cover slow systems).

[2018-05-16 17:40] dagwieers commented on #39235
@jborean93 What is your opinion on this ? I am not convinced this is something we want to fix in the module, but a proper fix needs Microsoft's attention... Is there an alternative ? Maybe async ?

[2018-05-16 17:43] dagwieers commented on #32554
@craig08 Exactly, I described the same problem here: https://github.com/ansible/ansible/issues/35344

We should probably add a hint in that error-message about memory-related Jinja issues :)

[2018-05-16 17:58] marwatk commented on #40195
Per [this thread](https://github.com/ansible/ansible/pull/40199#issuecomment-389605856) it seems like this will be fixed with the new dynamic client.

[2018-05-16 17:58] #40195 closed, assigned to nobody

[2018-05-16 18:02] gomker opened #40273 "Terraform module targeting"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

terraform
##### ANSIBLE VERSION

[code]
Running latest devel branch for testing terraform in a separate virtual environment
[code]

##### CONFIGURATION

No output was displayed from this command
##### OS / ENVIRONMENT

N/A
##### SUMMARY

Targeting a specific module seems to still load the entire plan
##### STEPS TO REPRODUCE

[code]

Terraform

[2018-05-16 18:04] caphrim007 commented on #37506
fixed

[2018-05-16 18:04] #37506 closed, assigned to nobody

[2018-05-16 18:10] indirakas commented on #40187
@gundalow Yes, with cli it fails correctly.

[2018-05-16 18:13] indirakas commented on #40187
changed: [xxx-rt1] => {
    "changed": true,
    "commands": [
        "interface Ethernet4/24/1",
        "ipv6 address aa00::d:a:1:e/64"
    ],
    "diff": {
        "prepared": "\n"
    },
    "invocation": {
        "module_args": {
            "after": null,
            "auth_pass": null,
            "authorize": true,
            "backup": false,
            "before": null,
            "defa

[2018-05-16 18:14] indirakas commented on #40187
as you see, the playbook is finished with "changed", it doesn't fail.

[2018-05-16 18:27] #39196 closed, assigned to nobody

[2018-05-16 18:34] ecoutu opened #40276 "remote_tmp option with missing parent directories causes module failure"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lib/ansible/module_utils/basic.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Controlling host:

[code]

Target host (lxd container):

[code]

##### SUMMARY

Modules that rely on `remote_tmp` will fail if parent directories do not exist (as is the case in the [default configuration](https://github.com/an

[2018-05-16 18:46] Canta opened #40278 "URI module and cookies handling: lost "set_cookie" property (shown in docs)."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

uri
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
DEFAULT_CALLBACK_WHITELIST(/etc/ansible/ansible.cfg) =
DEFAULT_GATHERING(/etc/ansible/ansible.cfg) = explicit
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']
DEFAULT_SUDO_FLAGS(/etc/ans

[2018-05-16 18:56] Canta commented on #40278
Before creating this issue, I asked on ansible's mail list and irc channel.
https://groups.google.com/forum/#!topic/ansible-project/OQ8_k7X9Sm0

There, an irc user point me to this direction: https://github.com/ansible/ansible/commit/df8fde4d786e32ed7e8313d63e9a559d5f6137d3#diff-3448ba8582852f79eb0d697763e046d8

Also, I was trying to find where this "set_cookie" property could be originating, in o

[2018-05-16 19:13] jborean93 commented on #39235
I’ve been using this module for a while and have never come across this issue so I need to try and replicate it myself. I literally have run through this more than 10 times this past week testing out changes to ansible-windows and I never failed once so not sure what is happening.

[2018-05-16 19:27] NicTanghe opened #40280 "Manage machine running docker without having an ansible install on that mashine"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

Docker, since this is a feature request it does not seem aplicable.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

This is a feature request this part is not applicable

##### OS / ENVIRONMENT

This is a feature request this part is not applicable

##### SUMMARY

##### STEPS TO REPRODUCE

This is a feature request this part is not appli

[2018-05-16 19:31] ryansb commented on #39196
Thanks @jsutter55 , and congrats on your first PR!

[2018-05-16 19:37] abadger commented on #40276
Is this resolved by https://github.com/ansible/ansible/pull/40201 ?

needs_info

[2018-05-16 19:40] ecoutu commented on #40276
Ah, you are right, I did not spot this pull request. I can close my own then.

[2018-05-16 19:42] ecoutu commented on #40276
Fixed by #40201

[2018-05-16 19:51] mquidi86 opened #40281 "aws_s3 no longer supports async since ansible 2.5"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

aws_s3

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -o ControlMaster=auto -o ControlPersist=60s
DEFAULT_GATHERING(/etc/ansible/ansible.cfg) = explicit
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

N/A

##### SU

[2018-05-16 19:53] achhabr1 commented on #35914
I am getting this error

If I run show commands it works ok but if I try to add software. it just fails.

here is my play book

- name: vyatta upgrade scipt
  hosts: vyatta
  gather_facts: no
  connection: network_cli

  environment:
    OPT_YES: "1"

  vars:
    ansible_user: "{{ username }}"
    ansible_password: "{{ password }}"
    ansible_network_os: vyos

  tasks:

    - name: Testing comman

[2018-05-16 20:26] GhostPratt commented on #40239
A task cannot reference a fact that is to be set within itself.  When set_task is used it will set all of those variables at once at the end of the task.  So for your example it would require 2 separate tasks in order to create the 2nd fact.  Something like:

[code]

[2018-05-16 20:29] felixfontein commented on #40215
@webknjaz can you take a look here as well? I can create a PR if you think this is a good solution.

[2018-05-16 20:37] #19392 closed, assigned to nobody

[2018-05-16 20:45] mtnbikenc commented on #40168
Tested #40201 and no longer hit the issue noted above.

[2018-05-16 20:53] ghost opened #40285 "ecs_service Support for service discovery"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

ecs_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ALLOW_WORLD_READABLE_TMPFILES(/etc/ansible/ansible.cfg) = False
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/inventory']
DEFAULT_LOG_PATH(/etc/ansible/ansible.cfg) = /var/log/ansible.log
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/u

[2018-05-16 21:26] s-hertel commented on #22617
Adding some clarification on what the rds module does and doesn't do:

Can use aurora with `command:` `facts`/`reboot`/`delete`
Cannot (but should be able) with `command:` `create`/`modify`/`snapshot`/`restore`
And then `replicate` and `promote` don't work (as intended) because there are no stand-alone aurora instances.

[2018-05-16 21:36] thalesac commented on #32022
This is still happening on 2.5.2 and stock Ubuntu 16 from AWS.
Can we reopen @Nothing4You or aptitude is required?

[code]

[2018-05-16 22:01] felixfontein commented on #40215
@dagwieers Since you're around right now, maybe you want to take a look at this as well :)

[2018-05-16 22:03] sysnet4admin opened #40289 "[vyos_config] Could not parse '-' character."
##### ISSUE TYPE
 - Bug Report for the Parsing issue.

##### COMPONENT NAME

 vyos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

c:\HashiCorp>vagrant --version
Vagrant 2.1.1

Oracle VirtualBox version
Version 5.2.12 r122591 (Qt5.6.2)

**Ansible**
CentOS 7 image from vagrant box.
https://app.vagrantup.com/centos/boxes/7

**Receiver.**
And vyos 1.1.8 and

[2018-05-16 22:09] dagwieers commented on #40215
@felixfontein Makes sense. I'd say make that PR !

[2018-05-16 22:14] dagwieers commented on #40239
Agreed, and I think this would be a very nice feature to have.
As a work-around you could use play-vars or task-vars, or use a vars-file.

[2018-05-16 22:16] geerlingguy commented on #39116
Now I'm getting reports of things not working with `enable` for Apache either.

[2018-05-16 22:29] felixfontein commented on #40215
I created a PR (#40293).

[2018-05-16 22:47] saichint commented on #40113
@trishnaguha Thanks for the quick fix

[2018-05-16 23:08] #35619 closed, assigned to nobody

[2018-05-16 23:52] #40168 closed, assigned to jborean93

[2018-05-17 00:28] pioto commented on #35515
Agreed, I was hoping the `pkgng` module would have equivalent features to those in the `yum` (`name=*`) and `apt` (`upgrade=yes`, etc) modules.

[2018-05-17 02:35] sk1988 commented on #39842
I understand what you are referring to.  As mentioned, this problem is intermittent.  The credentials supplied to Ansible are privilege 15 and most of the times it works (even without authorize).  This problem only happens intermittently, and not always, so I am not sure if not specifying authorize is an issue.

I will give it a try with authorize: yes and let you know how it goes.

[2018-05-17 02:54] dan-perron opened #40297 "Empty ERROR: log at startup."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

inventory

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Ubuntu 14.
##### SUMMARY

On startup there's an `ERROR: ` log with no content.

##### STEPS TO REPRODUCE

This happens when I run any ansible command.

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

Everything works but I get a scary error line.

[2018-05-17 02:54] trishnaguha commented on #35914
@achhabr1 as discussed in the issue, you will need to set `command_timeout` with `persistent_connection` section in ansible.cfg or set environment variable.
[code]
env var `ANSIBLE_PERSISTENT_COMMAND_TIMEOUT=100`

[2018-05-17 03:58] jborean93 commented on #40276
Thanks for the issue report @ecoutu, https://github.com/ansible/ansible/pull/40201 has been merged so I will close this issue.

[2018-05-17 03:58] #40276 closed, assigned to nobody

[2018-05-17 04:04] jborean93 commented on #40297
duplicate of #39007, fixed in #39019

[2018-05-17 04:04] #40297 closed, assigned to nobody

[2018-05-17 04:09] jborean93 commented on #40204
CredSSP works by presenting your credentials in either Kerberos or NTLM form to downstream servers. This works in cases where you need to access fileshares but sometimes it may not be enough and it needs to run under an interactive type logon which can be done with become.

Can you try this out and see how it goes.

[code]

[2018-05-17 04:47] nkrishnakishor commented on #40244
@jhawkesworth i have tried by setting ```ansible_winrm_kerberos_delegation=true``` in /etc/ansible/host file but it did not work.

[code]
Below is the output.

[code]

Even i have tried to copy file within windows peer machines, which also did not work.
Playbook file as below.

[code]

[2018-05-17 05:08] jborean93 commented on #40244
You need to take out the `remote_dest: yes` as it is trying to find the path `/tmp/sw_config.txt` relative to the Windows host. When `remote_dest` is not set or set to `no` then the src is relative to the Ansible controller.

[2018-05-17 05:33] felixfontein commented on #37884
!component acme_certificate

[2018-05-17 05:38] felixfontein commented on #37884
!component -lib/ansible/modules/web_infrastructure/_letsencrypt.py

[2018-05-17 05:41] felixfontein commented on #37884
-label deprecated

[2018-05-17 05:58] felixfontein commented on #37884
bot_status

[2018-05-17 06:11] umrikar opened #40299 "vmware_vmkernel unable to update existing vmk"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL RESULTS

[code]

[2018-05-17 06:54] jborean93 commented on #40244
The `ansible_winrm_kerberos_delegation: true` is not enough to get a delegated token, if manually getting the Kerb ticket with `kinit` you must run it with the `-f` flag. Ansible now does that automatically for you but I believe you need to be on Ansible 2.5.1 or newer for that to happen. Please try the following;

* In your inventory make sure the following is set
[code]
* Before running Ansible,

[2018-05-17 07:11] anvpetrov commented on #24569
Hello It easy to add this feature.  I ll try to create pull request on this week.

[2018-05-17 07:12] evrardjp commented on #40266
It is network dependant, and may require some retries for resiliency. I will have a look at it.

[2018-05-17 07:41] guillemsola commented on #39958
@KevP cc @haroldwongms @nitzmahone @trstringer @xscript @yuwzho @zikalino
Anyone interested in taking a look back to this issue with the extra details provided?

[2018-05-17 07:49] haxorof commented on #39116
Seen same issue with td-agent (fluentd) and used Ansible 2.5.2

[2018-05-17 08:09] sijis commented on #22947
I believe this PR (https://github.com/ansible/ansible/pull/40120) will address the issue noted here.

[2018-05-17 08:26] wjainiya opened #40302 "ansible2.4 win_shell got no effect when exec on mount disk"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_shell
win_disk_image

##### ANSIBLE VERSION
`2.4.1`

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
windows server 2016 standard

##### SUMMARY
When i try to install huflt8 from hulft-windows-ne-v813.iso with silent mode ,  i write playbook like this

[code]

and the result is ok ,nothing error happened. but on windows server ,nothing insta

[2018-05-17 08:29] adamw-linadm opened #40303 "ec2_ami register failed with wait option set to yes"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ec2_ami

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible-config dump --only-changed
ANSIBLE_SSH_CONTROL_PATH(/etc/ansible/ansible.cfg) = %(directory)s/ansible-ssh-%%C
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT
Fedora 27 and Centos 7.5

##### SUMMARY
ec2_ami in version 2.5.x module don't work with wait s

[2018-05-17 08:42] Lampie1 opened #40304 "Unable to run Fortigate modules: Unknown action 0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

fortios_address
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing changed in config
$ ansible-config dump --only-changed
$

##### OS / ENVIRONMENT

Ansible server: Ubuntu 17.10
Target: Fortigate; v5.2.3, build 6700(GA)

##### SUMMARY

Unable to run modules, Fortinet generates unknown action 0. Looks like it won't enter the VDOM.

####

[2018-05-17 08:57] P4ndaFR opened #40305 "ovh_ip_loadbalancing_backend outdated"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

ovh_ip_loadbalancing_backend
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) = -F /home/antoine/.ssh/ssh_config -o ForwardAgent=yes -o StrictHostKeyChecking=no
ANSIBLE_SSH_CONTROL_PATH(/etc/ansible/ansible.cfg) = ~/.ssh/mux-%r@%h:%p
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS /

[2018-05-17 09:10] jhawkesworth commented on #40302
What happens if you run with  -v ?

Also please add a

[code]
after the

[code]

To see what is being stored in 'setup_exe_path'
I suspect what is happening is the windows path separator is getting mangled due to use of double quotes.

I think if you code it like the example (use return value directly, inside _single_ quotes), it will do the right thing.

[code]

I thoroughly recommend reading thi

[2018-05-17 09:23] abhaysrivastava83 opened #40308 "Trying to connect with another user if previews user unable to connect in playbook"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

---
- name: PLAY 1
  hosts: all
  gather_facts: false
  remote_user: centos
  tasks:
    - import_tasks: centos_change_user.yml
      ignore_errors: yes

- name: PLAY 2
  hosts: all
  gather_facts: false
  remote_user: cloud
  any_errors_fatal: true

  tasks:
    - import_tasks: c

[2018-05-17 09:33] wjainiya commented on #40302
@jhawkesworth
 Thanks for your reply. i have tried your way , but it doesn't work for me.
 Besides, i tried to use win_copy , to copy all the mounted files to C:\Temp\hulft-windows-ne-v813\,( I create the directory manually)
 like this
<pre>
- name: mount install packages
  win_disk_image:
     image_path: "C:\\Temp\\hulft-windows-ne-v813.iso"
     state: present
  register: ret

 - win_copy:

[2018-05-17 09:39] dagwieers commented on #40239
@pantaroran Nope, I never said it was designed like this. It simply never worked this way, and maybe it should. I don't see any downsides to allow this.

[2018-05-17 09:49] svpudik opened #40310 "win_updates Exception calling "RunAsUser""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_updates

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Distributor ID: Ubuntu
Description:    Ubuntu 16.04.4 LTS
Release:        16.04
Codename:       xenial

##### SUMMARY

issue during call win_updates module

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

install windows updates on target machine
#

[2018-05-17 09:49] Fred-sun commented on #39958
Hi @guillemsola I have used your YML to start a VM ( Yesterday created and was stop ), but it can start well and  result as below, Could you can share your create VM method , the VM status before your start it, also include ansible version. Thanks a lot!
[code]

[2018-05-17 09:51] Fred-sun commented on #39958
Hi @KevP I see you have reopen this issue, does you have reproduced this issue, Could you help share your reproduced method, thanks!

[2018-05-17 09:58] #40299 closed, assigned to nobody

[2018-05-17 09:59] cytopia commented on #17324
@atlante77

This **does not work** if the variable itself is dynamic:

I have the following task:
[code]
The `cluster.name` is a dynamic value which comes from host vars:
[code]

The above `set_fact` is called in a loop and references `kops_cluster` items as `cluster`.

[2018-05-17 10:03] jean commented on #33273
I think is issue is related: https://github.com/diyan/pywinrm/issues/201 , cert handling is fixed in master.

[2018-05-17 10:04] svpudik commented on #40310
same issue I have on other similar configuration at server with CentOS Linux release 7.5.1804 (Core)
ansible 2.5.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/svpudik/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python v

[2018-05-17 10:12] wjainiya commented on #40302
i tried use the following way to sovle this problem....
i copy the setup.iss file to the setup.exe folder , installed in silent mode default to use ./setup.iss  .
moved away the option  -f1"C:\Temp\setup.iss"
<pre>
- win_shell: "Copy-Item  E:/*  C:/Temp/hulft-windows-ne-v813/ -recurse"
- win_shell: "Copy-Item  C:/Temp/setup.iss  C:/Temp/hulft-windows-ne-v813/ -recurse"
- win_shell:  C:/Temp/hulft-

[2018-05-17 10:18] jhawkesworth commented on #40302
@wjainiya  can this be closed then?

[2018-05-17 10:28] jborean93 commented on #33273
@jean the issue is separate, this is about SNI and not certificate validation.

[2018-05-17 10:40] jhawkesworth commented on #40310
@svpudik  - what version of windows are you targetting?
Is your ansible user a member of local administrators? - it is required otherwise the module will not have permission to run.  It looks like you are running as a user which is not able to use 'runas' to become SYSTEM user.

[2018-05-17 10:44] sourcejedi opened #40313 "Regression: *copy* module says "[WARNING]: The src option requires state to be 'link' or 'hard'""
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

* Control node: Fedora Workstation 28
* Target host: Debian Stretch, running inside systemd-nspawn

##### SUMMARY

The copy module shows:
[code]

(Adding such a state option would be the wrong solution in my case. Additionally, the copy module has no `stat

[2018-05-17 10:50] nkrishnakishor commented on #40244
As suggested by @jborean93 i have changed ```remote_dest: yes``` to ```remote_dest: no```. It worked out and able to copy file from Linux to Windows but I'm unable to copy from windows system to windows system.

Below is the playbook file

[code]
Below is the error when executed

[code]

[2018-05-17 10:58] wjainiya commented on #40302
@jhawkesworth  sure,thanks

[2018-05-17 11:01] sourcejedi opened #40315 "Add a way to force handler execution (as per issue #4777, which was closed as fixed)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

* Control node: Fedora Workstation 28
* Target host: Debian 9 Stretch, running inside systemd-nspawn

##### SUMMARY

#4777 "Add a way to force handler execution"

...

This is lies :-).  The request was not implemented and there is no way to fulfil this us

[2018-05-17 11:03] dagwieers commented on #38559
@trishnaguha The module misbehaves, if this parameter should not be set for other interface types, it should provide a clear message to the user. Giving an error like this is always wrong, regardless if there is documentation.

Besides, it worked fine before and suddenly breaks with v2.5, which is at least a regression.

[2018-05-17 11:04] svpudik commented on #40310
1. I am using Microsoft Windows Server 2012 R2 Datacenter
2. Account which I am using for connect machine is in administrators (double checked).

[2018-05-17 11:08] svpudik commented on #40310
I checked Local security policy and it looks configured as expected
![image](https://user-images.githubusercontent.com/32640971/40173812-52de8988-59d3-11e8-8a2e-b8e419e53a42.png)

[2018-05-17 11:11] #38549 closed, assigned to nobody

[2018-05-17 11:43] yvbeek opened #40316 "Default playbook arguments"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When I create a playbook I always have to document the arguments to run the playbook with. It would be great if I could specify some of these arguments in the playbook itself.

Sometimes I ask a co-worker to run a playbook and they for

[2018-05-17 11:48] milankowww opened #40317 "looped include_tasks and include_roles lose list members"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

include_tasks
include_roles
with_items

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ACTION_PLUGIN_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/plugins/a
DEFAULT_BECOME(/etc/ansible/ansible.cfg) = True
DEFAULT_CALLBACK_PLUGIN_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/plugins
DEFAULT_CONNECTION_PLUGIN_PATH(/etc/ansible/

[2018-05-17 12:07] shadowlord017 opened #40318 "ec2_key duplicates key in dry run"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ec2_key
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.04 LTS
##### SUMMARY

ec2_key installs duplicate key in AWS region on dry run (-C flag) with name "ansible-UUID" (where UUID is random)
##### STEPS TO REPRODUCE

ansible-playbook test.yml -C

test.yaml
---
- hosts: localhost
  connection: local
  gathe

[2018-05-17 12:08] #38819 closed, assigned to ganeshrn

[2018-05-17 12:08] #40256 closed, assigned to ganeshrn

[2018-05-17 12:25] jborean93 commented on #40244
remote_dest isn’t an option, remote_src is what you are looking for. Sorry I thought I deleted my comment when I realised what you had before. I’ve updated it to try out some credential delegation issues now.

[2018-05-17 12:40] nkrishnakishor commented on #40244
i have changed ```remote_dest: src``` and i get different issue when run.
Playbook as below.

[code]
Below is the error being message

[code]

[2018-05-17 13:02] pascalheraud commented on #40305
This module was intended to only manage backends for an ip loadbalancer.
Thus it is possible to implement an ansible module that is compliant with Ansible's model (dry run using -C, checks state and does nothing if nothing different)

If you want to provide a generic service accessing the API, I think it should be a different module, maybe one module for all OVH API ? It could be useful to manage

[2018-05-17 13:28] TMiguelT commented on #31879
Also, if it helps anyone, I managed to work out that this error occurred when I had all the correct `OS_` variables set, but my password was incorrect!

[2018-05-17 13:44] nd4pa commented on #40305
Sorry, I might have been a bit confusing here: I'm talking about the same thing; manage backends for IPLB: if you look at the current documentation, there are new parameters: https://api.ovh.com/console/#/ipLoadbalancing/%7BserviceName%7D/http/farm/%7BfarmId%7D/server#POST

[2018-05-17 14:04] guillemsola commented on #39958
@Fred-sun thanks for your reply

Let me try to provide as much information as I can to see if you see what is going on here.

First of all, although I'm not sure the amount of time that a machine needs to be down I have retested what I'm saying and I found that machines started yesterday are still today able to be booted. This is not happening for a machine that has been down more time.

I checked

[2018-05-17 14:08] IPvSean opened #40323 "ansible networking pull request documentation gamification"
Moved to https://github.com/ansible/community/issues/311

[2018-05-17 14:13] Zyphrax commented on #40316
Some of these defaults can be specified using a `ansible.cfg` file. However those settings will apply to all playbooks in the folder. It would be great if you could specify in the playbook that it should ask for a vault password.

[2018-05-17 14:37] lukemgriffith commented on #40153
Further detail on this, appears to be due to the following line

        matching_vpcs = vpc.describe_vpcs(Filters=[{'Name': 'tag:Name', 'Values': [name]}, {'Name': 'cidr-block', 'Values': cidr_block}])['Vpcs']

As 'name' is a required parameter its expecting a VPC to have a name tag, but the default VPC does not have this tag assigned.

[2018-05-17 14:58] gundalow commented on #40323
Moved to https://github.com/ansible/community/issues/311

[2018-05-17 15:00] rockandska commented on #14172
For the people who had this bug, could i ask you if you use a version install via pip or via package manager ?

I had exactly the same behavior and lost many hours to finally found that the problem only occur if i use ansible installed via pip.

[2018-05-17 15:12] adrianrise opened #40328 "Handling errors not working?"
##### ISSUE TYPE
Hi there,

I was handling an error in a task but I noticed it is not working...

##### COMPONENT NAME
Handling errors.

failed_when
changed_when

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

MAC OSX High Sierra

##### SUMMARY
The handling errors are not working as expected.

##### STEPS TO REPRODUCE

[code]

Same for failed_when

[code]

##### EXPECTED RESULTS
To get a ch

[2018-05-17 15:29] bcoca commented on #40239
reclassified, as @dagwieers says, this works as intended, but that does not mean we cannot alter it to allow for this.

[2018-05-17 15:30] rockandska opened #40331 "role fonctionnal with ansibe installed via package manager but not with pip install"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]
but same error with 16.04

#### SUMMARY
It seems than the install via pip and the install via the ansible repository doesn't install the same things or works differently.

I have a role who only works with ansible installed via package manag

[2018-05-17 15:32] Arsou33 opened #40332 "When LOCALE is not English, rhsm_repository failed with message <repoId> is not a valid repository ID"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
rhsm_repository

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
MacOs

##### SUMMARY
When Locale is not english, rhsm_repository failed with message :
[code]

Problem has been similar to : https://github.com/ansible/ansible/issues/40057
Problem is localized at : https://github.com/ansible/ansible/blob/57f6abdb8460f8501

[2018-05-17 15:34] #20096 closed, assigned to nobody

[2018-05-17 15:41] arsou33 commented on #40057
@mkrizek Yes, the modification fixes issue in my use case. You can set only the LC_ALL environment variables, as it supersede all other one. For information same kind of problem appears on rhsm_repository module. I had opened an issue about it : https://github.com/ansible/ansible/issues/40332
You're welcome

[2018-05-17 15:46] 2rs2ts commented on #35993
Ok, I am going to file a duplicate issue since I have not gotten a response here.

[2018-05-17 15:49] gtema commented on #39472
agree with gaddman. According to https://docs.python.org/3/library/spwd.html was changed in 3.6. The mentioned change also helps me to fix openstack ansible tests under python 3.6 and seems to be ok from my POV

[2018-05-17 15:51] MattMencel commented on #39235
Just jumping in to say I'm seeing this exact same behavior on new 2012R2 instances on Azure.

[2018-05-17 15:55] shadowlord017 commented on #40318
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/amazon/ec2_key.py#L169
function delete_key_pair(module, ec2_client, random_name, finish_task=False)
called for temp key, but global check_mode prevents to actually delete this temp key

[2018-05-17 15:57] zenitraM opened #40336 "ec2.py: iam_role option fails when using more than one region"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`contrib/inventory/ec2.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ec2.ini:
[code]
##### OS / ENVIRONMENT

AWS

##### SUMMARY

On these lines:
https://github.com/ansible/ansible/blob/e0893aacc5bd13dd571c44b9a58c8c803f42dc07/contrib/inventory/ec2.py#L574-L593
`connect_args` is a reference to `self.credentials` instead of a copy.
Thi

[2018-05-17 15:59] 2rs2ts opened #40337 "ec2_asg still terminates an instance before creating a replacement"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ec2_asg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

`uname -a` output: `Linux mymachine 4.9.0-6-amd64 #1 SMP Debian 4.9.88-1 (2018-04-29) x86_64 GNU/Linux`

##### SUMMARY

The issue in #35993 is not fixed; TL;DR `ec2_asg` creates more instances than it needs to then deletes an old one before it should, n

[2018-05-17 16:00] #13665 closed, assigned to abadger

[2018-05-17 16:15] tedleyem opened #40340 "Using ansible with 2FA"
I was curious if I could use ansible to run playbooks or even ad-hoc commands using 2FA with DUO.
Some of the servers in my environment use 2 step authentication to ssh into them for security reasons. I have found that because of the prompted request it doesnt allow me to use ansible and returns pam errors.

Has anyone found a SECURE way to use ansible with two step authentication with Google auth

[2018-05-17 16:20] #40323 closed, assigned to gundalow

[2018-05-17 16:28] c4milo commented on #32687
any update on this?

[2018-05-17 16:32] sivel commented on #40278
I cannot duplicate this issue.  When hitting a site that returns cookies, I am getting a `set_cookie` key:

[code]

I tested with `https://www.google.com/` as well and see the `set_cookie` key.

I've tested this in 2.4.2 as well as devel (2.6).

needs_info

[2018-05-17 16:36] c4milo commented on #24425
Any update on this?

[2018-05-17 16:38] ibarrere opened #40342 "ios_config times out over high latency links when sending lots of lines"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/home/ibarrere/git/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/home/ibarrere/git/ansible/ansible.cfg) = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
CACHE_PLUGIN(/home/ibarrere/git/ansible/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/home/iba

[2018-05-17 16:44] sivel commented on #40317
Context for me later: This is a result of includes using a combo of filename+args+parent to determine uniqueness for merging.

In this case, with duplicated items in the loops, those args, are effectively squashed causing deduplication to happen.

[2018-05-17 16:45] markandrewj opened #40343 "CSS Display bug with Ansible documentation in Firefox Quantum."
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docsite

##### ANSIBLE VERSION
devel

##### SUMMARY

Currently there is a bug with the CSS for the generated documentation that causes the tables to collapse in Firefox Quantum.

![2018-05-17 10_40_56-get_url - downloads files from http https or ftp to node ansible documentati](https://user-images.githubusercontent.com/142597/40191574-

[2018-05-17 17:01] gundalow commented on #32405
So this can be closed?

[2018-05-17 17:03] sivel commented on #40313
This was introduced in 6227c2ac75acefbe30d3a22252adfc25ea52a3ae

cc @abadger

[2018-05-17 17:18] #37182 closed, assigned to nobody

[2018-05-17 17:31] abadger commented on #40313
There should be a fix for this in
https://github.com/ansible/ansible/pull/40326

On Thu, May 17, 2018, 1:03 PM Matt Martz <notifications@github.com> wrote:

[2018-05-17 17:33] tmeralus commented on #40340
SUMMARY
Add 2FA DUO connectivity to ansible for running playbooks and ansible commands in secure Linux environments

ISSUE TYPE
Feature Pull Request

COMPONENT NAME

ANSIBLE VERSION
2.4.2

##### CONFIGURATION

##### OS / ENVIRONMENT
 Red Hat Enterprise Linux Server release 6.9

##### SUMMARY
I was curious if I could use ansible to run playbooks or even ad-hoc commands using 2FA with DUO.
Some of t

[2018-05-17 17:45] #38713 closed, assigned to s-hertel

[2018-05-17 17:53] #36490 closed, assigned to samdoran

[2018-05-17 17:57] saichint opened #40346 "nxos_system issues"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_system
##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ansible Server : Ubuntu 14.04
Device: N7K running 7.0(3)D1(1)
##### SUMMARY

There are few issues with nxos_system module

1. ```domain_lookup``` cannot be removed due to needs_update() method which does not work for boolean parameter.
2. We cannot remove any of the parameters i

[2018-05-17 18:07] #39378 closed, assigned to nobody

[2018-05-17 18:27] NeckBeardPrince commented on #36585
Same error here.

[2018-05-17 18:27] bcoca commented on #40331
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-05-17 18:27] #40331 closed, assigned to nobody

[2018-05-17 18:32] Canta commented on #40278
This is weird. By running `ansible`, i got the same output as you:

[code]

But when running `ansible-playbook` with some custom role (wich calls URI module the way i specified in the bug report), i got this:

[code]

Same server.

What could possibly be an environment difference betwrrn `ansible` and `ansible-playbook` that could cause this behaviour? The cookie is clearly there in the remote ser

[2018-05-17 18:44] #40057 closed, assigned to nobody

[2018-05-17 19:06] adpjay opened #40356 "support TargetTrackingScaling autoscaling policy type"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

ec2_scaling_policy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

macos
running virtualenv

##### SUMMARY

AWS supports autoscaling groups of EC2 instances that scale up and down according to  cpu utilization. The AWS CLI and boto3 support this:
http://boto3.readthedocs.io/en/latest/reference/services/autoscaling

[2018-05-17 19:11] milankowww commented on #40317
Naive Q before reading the source code: is there any scenario where *dynamic* includes require uniqueness check and deduplication?

[2018-05-17 19:22] #40302 closed, assigned to nobody

[2018-05-17 19:28] Canta commented on #40278
Update: it wasn't about `ansible-playbook`, but apparently about the remote server.
Take a look at this:

[code]

They both process the remote server output in different way.

Another thing to note is the format of `set_cookie` value, when requesting data from `httpbin.org` and from my non-public host. The later have much more information on the string, wich is not reflected in the `cookies` array

[2018-05-17 19:33] sivel commented on #40278
I don't have a answer for that

Much of the data in `set-cookie` is not used in the string used for future requests, that data is used by the client to restrict when it uses that data in future requests.  This is expected.

[2018-05-17 19:34] Nothing4You commented on #32022
@thalesac can you post a -vvv run? i'll reopen with that.

[2018-05-17 19:34] benjdudas opened #40359 "Option to set UMASK with USER module."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

user

##### ANSIBLE VERSION

[code]

##### SUMMARY

Module parameter to set UMASK when creating a user. It looks like this would only work if the `local` parameter for the module is left at default (`local: no`) so that the useradd command is being run which has a `-K` opiton for UMASK setting.

[code]

[2018-05-17 19:36] michelleperz opened #40360 "Add rabbitmq_vhost and rabbitmq_plugin integration tests"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

- rabbitmq_vhost
- rabbitmq_plugin

##### ANSIBLE VERSION

[code]

##### SUMMARY

The Ansible Tower installer utilizes three rabbitmq modules in its rabbitmq role.  Need to ensure that there are integration tests in place for rabbitmq_vhost and rabbitmq_plugin.

[2018-05-17 19:36] perlpunk commented on #40331
Just for further information:
The list of allowed escapes sequences in double quotes is limited.
`\t`, `\n`, `\"` or things like `\x0a`. The single must not be escaped there.
PyYAML has implemented this correctly, but libyaml currently allows it. This has been fixed in libyaml master, though.

Please also have a look at my article http://blogs.perl.org/users/tinita/2018/03/strings-in-yaml---to-quo

[2018-05-17 19:39] bcoca commented on #40331
Also here: http://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.html#gotchas

[2018-05-17 19:43] sijis commented on #29587
It seems the current documentation has updated the content and seems to reflect things properly.
* Parameter `remote_src` says (added in 2.2)
* The `copy` param also now notes:
`This option has been deprecated in favor of remote_src.
This option is mutually exclusive with remote_src.`

[2018-05-17 19:51] Canta commented on #40278
In that case, I guess as a workaround I can create a fake `set_cookie` concatenating the contents of the `cookies` array, or something like that. I was unsure of this, because of the missing data.

However, even when a workaround may be trivial, I also fear this strange behaviour may be a symptom of something worst: somehow URI module is deleting a common (standard, in fact) header.

I'll try to g

[2018-05-17 19:58] mbuiro commented on #34924
The connection component doesn't seem to handle LXD clustering well either, the lxd node it is starting the container on may not be the actual node hosting the container.

[code]
Here you can see that backend01 was replicated to slave node02-cluster instead of the master node01-cluster, I am assuming this is due to declaring which node to connect to in the `ansible_host=` variable, I have been ign

[2018-05-17 19:59] sijis commented on #30976
Here are some things to try:
* Set `ignore_errors: yes` # will ignore real errors
* Set `failed_when: cmd.rc == 0 or cmd.rc == 1` # may ignore real errors
(http://docs.ansible.com/ansible/latest/user_guide/playbooks_error_handling.html)

I've never used the `-:` option, but maybe specifying it via `extra_opts` gives a different response code?
[code]

[2018-05-17 20:14] thalesac commented on #32022
Sure @Nothing4You

The command line I've used was `ansible-playbook -vvv -u ubuntu -e 'ansible_python_interpreter=/usr/bin/python3' --private-key key.pem play.standalone.image.yml -i 'ec2-instance.amazonaws.com,' play.standalone.image.yml `

The AMI Image from AWS was `AMI ID ubuntu/images/hvm-ssd/ubuntu-xenial-16.04-amd64-server-20180306 (ami-43a15f3e)` in `us-east-1`

Task example:
[code]
The fu

[2018-05-17 20:15] christopherkeller commented on #39977
Thanks @Fred-sun , I'll give that a go. Appreciated.

[2018-05-17 20:18] Nothing4You commented on #32022
@thalesac not sure if that's related to this, however, what happens without name and state?

i believe the task you provided would be installing any package in the configured repositories.

[2018-05-17 20:29] #35481 closed, assigned to maxamillion

[2018-05-17 20:35] thalesac commented on #32022
@Nothing4You Yeah, I just commented `name` and `state` and it passed (updated cache).
I'm currently using the `force_apt_get: yes` parameter in order to upgrade all packages - it works that way.

I'm not sure if I'm doing the upgrade correctly but at least the error message is misleading

[2018-05-17 20:42] Nothing4You commented on #32022
@thalesac how about adding `upgrade: true`? that should update all installed packages.

[2018-05-17 20:55] thalesac commented on #32022
@Nothing4You  From the documentation notes, it seems that the `upgrade: true` uses `aptitude`:
```Three of the upgrade modes (full, safe and its alias yes) required aptitude up to 2.3, since 2.4 apt-get is used as a fall-back.```

[2018-05-17 20:58] #38040 closed, assigned to samdoran

[2018-05-17 21:17] Nothing4You commented on #32022
@thalesac as it says, since 2.4 apt-get should used as fallback. that should happen automatically without forcing it to use that. what's the result from using it?

[2018-05-17 21:22] #39472 closed, assigned to samdoran

[2018-05-17 21:28] thalesac commented on #32022
@Nothing4You It works using `upgrade: yes`.

[code]

Althought my problem is resolved, some people will hit this issue if we don't update the documentation or old code be used.

Thanks a lot @Nothing4You .

[2018-05-17 21:29] rockandska commented on #14172
thanks to @bcoca , this is the nearest result i was able to have

[code]

[code]

[2018-05-17 21:45] drzraf commented on #38241
Don't forget that `python-shade` / `python3-shade` must be installed where the module is run, ie. if `localhost`, adds `deletegate_to: localhost`

[2018-05-17 21:49] brainstorm commented on #38241
@dzraf, that's the point, install with conda and shade comes as a dependency, gets installed automatically.

[2018-05-17 21:51] mariusvw commented on #36424
Running into the same problem when using the shell and find module.

[2018-05-17 22:01] drzraf opened #40366 "os_volume: can not resize existing volume"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
os_volume

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian 9

##### SUMMARY
os_volume does not resize a volume when such a volume exist but have a different size.

##### STEPS TO REPRODUCE
[code]
`{"changed": true, ....}`

#### Then change the size

[code]

##### EXPECTED RESULTS
`{"changed": true, ....}`

[2018-05-17 22:12] kustodian commented on #40315
`--force-handlers` only runs notified handlers on failure, the whole point of handlers is that they are run only if needed. Also looking at the [docs](http://docs.ansible.com/ansible/latest/user_guide/playbooks_error_handling.html#handlers-and-failure) they are correct:

What exactly is your use case that you want to run all handlers no matter if they were notified or not? Could you give a concret

[2018-05-17 22:18] kustodian commented on #40068
@ThomasSteinbach thanks for creating this issue.

This should be easy to implement and because other two modules have this option, the decision to add it is probably a no-brainer, but I'm still not a big fan of adding this, which is the reason why I asked to create this issue.

The reason why I don't like `upadate_cache: yes` as the only option is because it's not possible to make it idempotent, s

[2018-05-17 22:21] #40241 closed, assigned to bcoca, ganeshrn

[2018-05-17 22:31] gundalow commented on #40241
DCI Job run on `devel` is running and confirmed that we can connect and tests are running now

[2018-05-17 22:34] zacker330 opened #40367 "to_nice_yaml filter not work as expected"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
template or to_nice_yaml filter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_FILTER_PLUGIN_PATH(/Users/jack/.ansible.cfg) = [u'/usr/share/ansible_plugins/filter_plugins']

##### OS / ENVIRONMENT

N/A

##### SUMMARY

when to_nice_yaml filter a big number that begain with 0 like `020101805000086`, to_nice_yaml don't output a string

[2018-05-17 22:34] sourcejedi commented on #40315
Thanks for your reply. Literally this:

I run Ansible as a distributed system, therefore it can lose the connection. I run Ansible on physical computers, therefore they can lose the connection to their power source.

I want to be able to retry somehow, without losing the handler notifications and forgetting to restart apache, or compile the selinux module, etc. The trivial approach is to synthesiz

[2018-05-17 22:51] kustodian commented on #40315
Ah, so your problem are possible connection problems because of which hosts become unreachable. I forgot to add that part from the docs:

The problem is that if a host becomes unreachable, how can Ansible run a handler on it, when it cannot connect to it. I don't quiet understand what does it mean that you run Ansible as a distributed system? You are using `ansible-pull`?

I also don't understand

[2018-05-17 22:54] Dmitry1987 commented on #19711
omg is this for real? 🥇   guys, we're in a year 2018, and the core Ansible "hostname" module will have its node name overridden by cloud-init the next time instance boots? LOL, gotta test this now and see if a hostname remains the same :D

[2018-05-17 23:48] cam-fulcrum commented on #26190
Yeah definitely that'd be the best option :)

[2018-05-18 00:56] wimnat commented on #40203
@kenwdelong

I can not reproduce your error with ansible 2.5.2.

The error you are getting does not match the steps you've provided to reproduce.

The error is complaining because it is saying that you've passed TargetType but in your steps to reproduce that is not the case.

Can you copy and paste your playbook verbatim?

[2018-05-18 01:03] kenwdelong commented on #40203
This is the entire playbook:

	---
	# Application Load Balancer for the Answered Web Stack
	# This requires invocation like
	#       ansible-playbook answered-web-alb-create.yml -e dev_env=QA

	- hosts: localhost
	  connection: local
	  gather_facts: False
	  vars:
		ALB_SG_name: "HB-SG-{{ dev_env|upper }}-ANSWEB-ALB"
		target_group_name: HB-TG-{{ dev_env|upper }}-ANSWEB
	  tasks:
		- name: Create

[2018-05-18 02:01] victorfun1989 commented on #39949
I found an alternative solution. I upgrade python form python2 to python3 and use the shell module, then the output can be printed correctly. However, for the script module, I think the output should be printed correctly as well.

[2018-05-18 02:03] Dmitry1987 commented on #19711
it was ok, my hostnames set by ansible on EC2 machines with 'hostname' module did not revert back to those that cloud-init sets on fresh machine, so that seems to work fine 👍

[2018-05-18 02:07] tima opened #40371 "Can only print one physical page of docs."
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

All

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

Mac OS Safari/Chrome

##### SUMMARY

Tried

##### STEPS TO REPRODUCE

Load a page in the docs longer than one physical page (i.e. http://docs.ansible.com/ansible/latest/cli/ansible-galaxy.html) and try to print it. I tested Chrome and Safari on my Mac

[2018-05-18 02:14] sijis commented on #35537
I think you can probably just add the options you want in `extra_opts` parameter.

This seems to work using a `centos:7` docker container
[code]

The playbook used to recreate:
[code]

[2018-05-18 04:08] kenwdelong commented on #40203
Oh my gosh, that was it. I forgot that it was running locally and not on the remote.  So sorry for wasting your time!

[2018-05-18 04:08] #40203 closed, assigned to nobody

[2018-05-18 04:35] gowthamnakulan opened #40374 "Unable to copy a File Inside the VM using UUID"
We wated to copy a file from Ansible server to a VM using its UUID.

Code -

[code]

Error Message:-

[code]

[2018-05-18 04:40] sijis commented on #19760
I'm using a fairly recent version of ansible (2.4.2.0 with python 2.7.5) and I'm not longer seeing that behavior.

**playbook**
[code]

**result**
[code]
I do realize this was initially brought up a few years ago, but it does appear it was addressed between 2.0 and 2.2 ansible releases when installing those versions via easy_install/pip.

[2018-05-18 04:40] gowthamnakulan commented on #40374
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

copy
##### ANSIBLE VERSION

[code]

[2018-05-18 04:45] mtgto opened #40375 "module datadog_monitor needs dummy name even if id is set"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

datadog_monitor

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

Ansible 2.3 or later, module datadog_monitor has `id` parameter instead of `name`.

The document of datadog_monitor says:
[code]
http://docs.ansible.com/ansible/latest/modules/datadog_monitor_module.html

If `name` is not define

[2018-05-18 04:53] JacksonIsaac commented on #40343
Even I faced a similar issue as shown in the screenshot. (Link: https://docs.ansible.com/ansible/latest/modules/eos_config_module.html)

I am running Firefox Nightly "62.0a1 (2018-05-15) (64-bit)"

[2018-05-18 05:04] Akasurde commented on #40374
@gowthamnakulan Thanks for reporting this issue.

I see two potential issues here -

1. You have a typo in copy module task - `scr` instead of `src`

2. vmware_guest module can be used to provision and configure virtual machines. It does not help in copy file from controller machine to managed host. You can use [`vmware_guest_file_operation`](https://github.com/ansible/ansible/blob/devel/lib/ansib

[2018-05-18 05:05] Akasurde commented on #40332
resolved_by_pr #40338

[2018-05-18 05:08] gowthamnakulan commented on #40374
@Akasurde Thanks for the Prompt reply.

I have a question. Before even trying this, I just need to know if we can copy a file inside an VM only by accesing the UUID of it. I am not giving any username or password of the VM.

[2018-05-18 05:10] Fred-sun commented on #39976
Hi @christopherkeller Does this PR fix your problem, you haven't replied for a long time, we will close this issue in another 5 day if no response received. Thanks !

[2018-05-18 05:16] Akasurde commented on #40374
@gowthamnakulan vmware_guest is not right module for copying a file to VM. We can copy a file inside a VM with `vmware_guest_file_operation` module but it requires username and password for copy operation.

[2018-05-18 05:25] Fred-sun commented on #39958
Hi @guillemsola  Thanks for your info, I have created two VMs, one VM stop by azure portal button and another VM by set allocated =no to stop , I will restart it after 24h  ,try to reproduced it, Thanks !

[2018-05-18 05:35] Akasurde commented on #40374
Closing this issue as functionality is already available. Please feel free to open a new issue if fact any problem in vmware_guest_file_operation module. Thanks.

[2018-05-18 05:35] #40374 closed, assigned to nobody

[2018-05-18 05:55] Nothing4You commented on #32022
@thalesac I'm closing this since this doesn't have anything to do with the original issue. Please open a new issue explaining your task and the error. It's probably not just a documentation issue.

[2018-05-18 05:55] #32022 closed, assigned to nobody

[2018-05-18 05:55] #40332 closed, assigned to nobody

[2018-05-18 05:57] Akasurde commented on #40226
@mohdumar321 Thanks for reporting this issue. Currently, there is no way to remove an existing NIC from an existing VM.

Right now, `vmware_guest` is loaded with a lot of features, so we decided to segregate feature in different modules (See around 16:50:07 in [IRC meeting log](https://meetbot.fedoraproject.org/ansible-vmware/2018-05-07/ansible_vmware_working_group_meeting.2018-05-07-16.03.log.htm

[2018-05-18 05:58] svpudik commented on #40310
I am not sure where will be that issue.
I double checked that the account have admin  rights by module below and it works properly.
- name: Touch
  win_file:
    path: C:\Windows\debug\foo.conf
    state: touch

[2018-05-18 05:59] mkrizek commented on #32022
Thanks @Nothing4You.

[2018-05-18 06:36] gowthamnakulan opened #40377 "Copy Operation Failing"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME

vmware_guest_file_operation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

File from my Local machine should have created at the remote destination folder.
##### ACTUAL RESULTS

TASK [vmware_guest_file_operation]
***********

[2018-05-18 06:40] gowthamnakulan commented on #40377
Issue resolved

Resolution: in the dest we hve to give the file name also dest: "/opt/test1/networkfile"

[2018-05-18 06:40] #40377 closed, assigned to nobody

[2018-05-18 07:08] nkrishnakishor commented on #40244
Hi @jborean93  Below is the output of command as per the comments mentioned

[code]

When i try with using ```become_method: runas``` option. Below is the output

[code]

[2018-05-18 07:25] pascalheraud commented on #40305
Ok got it. You're not pointing to the same API this module is using, it's using the previous version of the load balancer (https://api.ovh.com/console/#/ip/loadBalancing/%7BserviceName%7D/backend#POST).

I think the previous version is not working at all anymore because all OVH's load balancers have been migrated to the new one. So this module is probably not working anymore, if you want to implem

[2018-05-18 07:42] guillemsola commented on #39958
@Fred-sun FYI the state a bot up fails is from de-allocated. To add more details I'm deploying my machines in northeurope region.

If it helps I can send you `.credentials` file to manage a VM that meets this condition.

[2018-05-18 07:46] sayantandas opened #40380 "convert a template to vm using vmware_guest"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest

using the module from the commit https://raw.githubusercontent.com/balonik/ansible/a11787648c132cf4a4dbf53d076ad9021b0d34f3/lib/ansible/modules/cloud/vmware/vmware_guest.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ansible Server: Ubuntu 16.04.2
Template : Ubuntu 16.04.3

##### SUMMARY

I am tryi

[2018-05-18 07:50] gtema commented on #39472
for reference: ansible 2.5 backport PR https://github.com/ansible/ansible/pull/40379

[2018-05-18 08:02] nd4pa commented on #40305
I am going to work on a new module, that supports the current ipLoadBalancing registering for now, so we have something working here. I think supporting the old LBs is not really helpful :
- As you said: all LBs have been migrated to a new version
- the ovh python support does not seem to take the API version as a parameter: https://github.com/ovh/python-ovh#configuration, it means that it needs t

[2018-05-18 08:34] mkrizek commented on #40371
cc @gundalow

[2018-05-18 08:35] mkrizek commented on #40308
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-05-18 08:35] #40308 closed, assigned to nobody

[2018-05-18 08:48] sourcejedi commented on #40315
Sorry, I just meant I use connection plugins other than `local`. (Good question, I don't use ansible-pull, which would avoid this problem with unreachable hosts).

Ansible can run a handler on the host _later_, once it becomes available again. There are absolutely features Ansible could provide for this. The question is whether it is considered worthwhile or not.

Otherwise - if Ansible feels that

[2018-05-18 09:00] Zanop commented on #17939
Same problem with 2.5.2, task fails, rescue does not get executed.

[2018-05-18 09:08] IamFive commented on #30518
on ubuntu, yum is not installed by default too.

[2018-05-18 09:10] jhawkesworth commented on #40244
A couple of thoughts.

when using kinit, i have allways wound up having to specify the domain name in upper so

kinit someuser@MY.DOMAIN.COM

I forget now whether a ticket is granted if you try in lower case, but I recall that it didn't work until I used upper case for the domain name.

Also, by the looks of things you are using a keyring for storing the kerberos tickets.  If I recall (and I may b

[2018-05-18 09:16] galund opened #40383 "Ansible should allow extra vars from "non-file" paths"
##### ISSUE TYPE
 - Feature Idea (moved from <https://github.com/ansible/proposals/issues/116>)

##### COMPONENT NAME
dataloader

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Under ansible 1, we were able to use bash process substitution to decrypt our secrets and pass them into ansible, however this no longer works in ansible 2.

##### STEPS TO REPRODUCE

Under ansible

[2018-05-18 09:19] gowthamnakulan commented on #40374
Thank you @Akasurde  for your help. Operation happening properly.

[2018-05-18 10:05] rsmeyers opened #40384 "aci_access_port_to_interface_policy_leaf_profile - policy_group"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
aci_access_port_to_interface_policy_leaf_profile

##### ANSIBLE VERSION
2.5

##### SUMMARY
aci_access_port_to_interface_policy_leaf_profile not handling policy_group

Not working
[code]

Working:

[code]

[2018-05-18 10:18] Akasurde commented on #38955
@emonat Can you please try this PR https://github.com/ansible/ansible/pull/40382 and let me know if it works for you ?

needs_info

[2018-05-18 10:29] Akasurde commented on #40380
@sayantandas I am not sure which commit ID is being used for vmware_guest, so can't comment on version.

I am able to convert template to vm using

[code]

Console -
[code]

[2018-05-18 10:29] ThomasSteinbach commented on #22303
Thank you @Zophren - `use: service` solved this issue for me in Ubuntu 18.04.
It could have been so simple, but it isn't. Maybe I hate computers.

[2018-05-18 10:34] dagwieers commented on #40384
@rsmeyers Good news ! This issue was recently fixed (#40104) in the devel branch, and we are looking to backporting it to v2.5.

[2018-05-18 10:37] Nephylhim commented on #40305
Hi!

IPLB techie here =)
the /ip/loadBalancing/ endpoint isn't supported anymore. The correct one is https://api.ovh.com/console/#/ipLoadbalancing
This endpoint support all lb (old and new ones). IPLB's API documentation is available here: https://docs.ovh.com/fr/load-balancer/api-details/

If you need some help, you might find some on our community too (mostly french): https://community.ovh.com/c

[2018-05-18 11:09] sayantandas commented on #40380
Hi Abhijeet (@Akasurde ),

So, does it mean that we have to use python 3? As your example has python 3 defined.

Regards,
Sayantan

[2018-05-18 11:13] Akasurde commented on #40380
no, I just copied my playbook. It will work with and without Python3.

[2018-05-18 11:31] sayantandas commented on #40380
@Akasurde , i do see that you've defined Resource pool.
When I run the v2.5 vmware_uest.py, I get the error
`"msg": "Resource pool must be specified when converting template to VM!"`
Is this mandatory now?
Can we not run this module without it?  I do not think we have Resource pool defined in any of our DCs

[2018-05-18 11:33] stravassac commented on #40112
@wojciechkopciewicz you can use overwrite option for always copy it.
or you can test string 'already exists' in the output
[code]

[2018-05-18 11:43] Akasurde commented on #40380
Resource pool is required to convert template to VM, so is required. If you do not have resource pool defined, its default value is 'Resources'

Can you ping me on IRC channel #ansible-vmware on freenode.net?

[2018-05-18 11:57] anis016 opened #40394 "Error while running custom module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

* results of "ansible-config dump --only-changed" outputs nothing
* no configurations/settings added.

##### OS / ENVIRONMENT

No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.2 LTS
Release:        16.04
Codename:       xenial

##### SUMMARY

[2018-05-18 12:14] Akasurde commented on #40394
@anis016 Thanks for reporting this issue. It is very difficult to say anything unless we see the code for `hdfs_ansible` module.

[2018-05-18 12:17] plaes commented on #34924
Following helps in case LXD is installed via snap: `url: unix:/var/snap/lxd/common/lxd/unix.socket`

[2018-05-18 12:38] yassen-itlabs commented on #32803
the `patch` tool actually detects that the patch has been applied previously, it says: `Ignoring previously applied (or reversed) patch.` How about detecting that and just moving forward with a "no-change" status in this case?

[2018-05-18 12:38] nkrishnakishor commented on #40244
@jhawkesworth Thanks for your thoughts.

- I have tried using UPPERCASE only but by mistake i posted here in lowercase.

- I did not understand about

- I have even tried using fqdn of the host but it did not work either.

[2018-05-18 12:48] huiminzeng opened #40395 "fail to use "include_vars" for loop list"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

loop
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default configuration
##### OS / ENVIRONMENT

Ubuntu 16.04
##### SUMMARY

Hello everyone! I just want to make the size of the master playbook smaller. So i tired to use loop and import/include-related modules of ansible.  However, i couldn't get the loop part right.

If i put the loop lis

[2018-05-18 13:12] anis016 commented on #40394
Yes, I already posted the code above.
However, please find the hdfs_module:
https://gist.github.com/anis016/bc09e340ae5c93bb1a70d3f37cbd4ace

[2018-05-18 13:13] 0mmariano opened #40396 "Loading all group_vars content even if only one is needed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

group_vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
COMMAND_WARNINGS(/etc/ansible/ansible.cfg) = True
DEFAULT_BECOME_ASK_PASS(/etc/ansible/ansible.cfg) = True
DEFAULT_CALLBACK_WHITELIST(/etc/ansible/ansible.cfg) = ['skippy']
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ans

[2018-05-18 13:31] wanexa opened #40397 "route-domain on bigip_xxx"
Hello

can you add the support of route domain with
- bigip_node
- bigip_static_route --> not working with the gateway

Thanks in advance

[2018-05-18 13:38] wojciechkopciewicz commented on #40112
@stravassac
Yes, I can use overwrite but if file is large and I need to re-run the playbook it unnecessarily takes time.
My point was that if overwrite is not used, module reports that file is already copied, although it is not true - only a part of it was copied.
This could be solved e.g. by copying the file to a temporary name and changing the name when copy operation is finished.

[2018-05-18 14:01] Alwaysc0d3 opened #40398 "Ansible 2.5.3 - when is not evaluated correctly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
conditional

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
CACHE_PLUGIN(/etc/ansible/ansible.cfg) = redis
CACHE_PLUGIN_TIMEOUT(/etc/ansible/ansible.cfg) = 86400
DEFAULT_GATHERING(/etc/ansible/ansible.cfg) = smart

##### OS / ENVIRONMENT

Mac OSX 10.13.4
##### SUMMARY
Using two when statements doens't work. At least not in described situation

[2018-05-18 14:11] Alwaysc0d3 opened #40400 "[CLOSED] Ansible 2.5.3 - tag 'never' at task is ignored when role is ran with tag"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
taggable
##### ANSIBLE VERSION
[code]

##### CONFIGURATION
CACHE_PLUGIN(/etc/ansible/ansible.cfg) = redis
CACHE_PLUGIN_TIMEOUT(/etc/ansible/ansible.cfg) = 86400
DEFAULT_GATHERING(/etc/ansible/ansible.cfg) = smart

##### OS / ENVIRONMENT
Mac OSX 10.13.4

##### SUMMARY
In my site.yml I declare a role, a when statement and a tag. When I ran the rol

[2018-05-18 14:26] Alwaysc0d3 commented on #40400
!component test/integration/targets/shadowed_module/library/tags

[2018-05-18 14:27] marcaddeo commented on #40243
I can also confirm this is happening. It exposed an edge-case bug in our playbooks where the host order apparently mattered.

[2018-05-18 14:27] tyler-8 commented on #39842
Is the user authorized via AAA (and a remote server) by any chance? Wondering if perhaps there's an issue authorizing the user properly.

[2018-05-18 14:41] sijis commented on #24989
@areobe Have you tried changing the group to the full name, like:

`group: "domain users@domain.local"`.

I was able to validate using the full domain name worked. I think the "simple" name doesn't work as those accounts are not really on the system. You can see the behavior below by using `getent` on a system.

**user**
`getent passwd sijis` vs `getent passwd sijis@domain.local`

**group**
`geten

[2018-05-18 14:47] sivel commented on #40395
The problem is with how you structured the data in your `test2.yml` file. You have a few options for fixing this:

1. Keeping your `test2.yml` as is:

[code]
1. Remove `name` from `include_vars` and remove the top level `vars` from `test2.yml`:

[code]
[code]
3. Keep `name` and remove both `vars` and `aloop` from `test.yml`

[code]
[code]

If you have further questions please stop by IRC or the ma

[2018-05-18 14:47] #40395 closed, assigned to nobody

[2018-05-18 14:50] Gittins opened #40403 "aci_interface_policy_leaf_policy_group query fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

aci_interface_policy_leaf_policy_group.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No change to config

##### OS / ENVIRONMENT
Ansible OS: Ubuntu 16.04LTS

Target OS: Cisco ACI v2.3(1f)

##### SUMMARY
The state "query" option does not work and instead outputs an error.

##### STEPS TO REPRODUCE
Used the below playbook against our lab

[2018-05-18 14:51] ITD27M01 commented on #40396
@0mmariano Hi

Looks like similar behavior: https://github.com/ansible/ansible/issues/40228
?

[2018-05-18 14:53] ibarrere commented on #29577
The "ntp server <ip>" command also looks to be susceptible to this, at least on some platforms.

[2018-05-18 14:54] sivel commented on #40398
Your issue stems from how `prompt` handles values.  All values provided to `prompt`, including defaults, are cast into strings as evidenced by:

[code]

As a result, you will need to use the `|bool` filter in your `when` statement, to have it evaluate properly:

[code]

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailin

[2018-05-18 14:54] #40398 closed, assigned to nobody

[2018-05-18 15:04] dda-vinko-magecic opened #40405 "Method invocation failed because [System.Management.Automation.PSCustomObject] does not contain a method named 'ContainsKey'."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_chocolatey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A
##### OS / ENVIRONMENT

N/A
##### SUMMARY

The following task fails.
[code]
With the following error message from all three packages.
[code]
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-05-18 15:12] Akasurde commented on #40394
@anis016 Instead of print on https://gist.github.com/anis016/bc09e340ae5c93bb1a70d3f37cbd4ace#file-hdfs_ansible-py-L53 use

[code]

Please go through this example - http://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html#new-module-development which discuss about module.exit_json and module.fail_json APIs.

[2018-05-18 15:33] mkchoithani commented on #4876
---
- name: experiment
  hosts: box
  tasks:
  - debug:
      msg: "before we run our role"

  - name: Run a task from a role
    include_role:
     name: rolename
     tasks_from: taskname
     when: ansible_os_family == "Debian"

  - name: Run a task from a role1
    include_role:
     name: rhidm_manage_users
     tasks_from: task1
    when: ssr  = 'man_create_tenant1'

[2018-05-18 15:34] mkchoithani commented on #4876
This is another way where you can call a specified task from a role inside a playbook

[2018-05-18 15:57] cornfeedhobo commented on #19711
@dmitry-sobolev cloud-init runs on every boot. could you reboot the instance and verify?

[2018-05-18 16:59] nerzhul opened #40410 "glusterfs_module doesn't modify options"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

glusterfs_volume module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

not relevant

##### OS / ENVIRONMENT

Archlinux testing (up to date)

##### SUMMARY

glusterfs_volume module is not idempotent when modifying volume options. They are not changed after creation. It seems it doesn't work at creation too.

Here is the output if i change

[2018-05-18 17:37] yvbeek opened #40412 "SSH arguments are overwritten"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ssh

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
N/A

##### SUMMARY

##### STEPS TO REPRODUCE
Specify the following `ssh_args` in your ansible.cfg
[code]

##### EXPECTED RESULTS
When I run `ansible -i hosts all -vvv -m ping`, I expect to see:
[code]

##### ACTUAL RESULTS
When I run `ansible -i hosts all -vvv -

[2018-05-18 17:38] smeso commented on #29352
resolved_by_pr #39794

[2018-05-18 17:56] drzraf commented on #37784
Note: `shade` relies upon `os-client-config` which seems deprecated in favor of openstacksdk.
The later allow [passing auth parameters explicitely](https://github.com/openstack/openstacksdk/blob/master/openstack/connection.py#L80) (= no always from a regular file) which may give more possibility for Ansible plugin interpolation at the price of lower level API calls.

[2018-05-18 19:20] acozine opened #40415 "Use .txt extension for shared docs snippets"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
All included snippets

##### ANSIBLE VERSION
2.5

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
As part of getting rid of `not-in-toctree` errors on the docs build, I marked a bunch of files with the `.. _orphan` tag. This works well for full pages, like the module indices. However, I added the tag to shared snippe

[2018-05-18 19:26] Dmitry1987 commented on #19711
@ScubaDrew  what is your Ansible version? I use "2.4.3.0", you might try to upgrade or something. For me it worked yesterday, I use ec2 in Oregon.

[2018-05-18 19:51] bwlang opened #40418 "Add support for f2fs to filesystems"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

filesystem

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no output

##### OS / ENVIRONMENT

linux

##### SUMMARY

cannot make an f2fs filesystem from ansible
[code]
##### STEPS TO REPRODUCE

[code]

[2018-05-18 19:55] acozine commented on #40011
@abenokraitis I like the idea of auto-generating this documentation. Right now we don't have metadata at the platform level, only at the module level. Putting together a platform-level template could also help us solve #30361. Right now there are a few gaps in my knowledge, but I think we could put together a plan. Meanwhile, I can create a table for the Ansible-maintained platforms as a first ite

[2018-05-18 20:54] SteveRodrigue opened #40423 "Module ios_config: "before" parameter improvement"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(/home/srodrigue3/dev/gnh-ansible/ansible.cfg) = [u'/home/dev/gnh-ansible/inventory']
DEFAULT_ROLES_PATH(/home/srodrigue3/dev/gnh-ansible/ansible.cfg) = [u'/home/dev/gnh-ansible/roles']
HOST_KEY_CHECKING(/home/dev/gnh-ansible/ansible.cfg) = False

##### OS / ENVIR

[2018-05-18 21:05] SteveRodrigue commented on #40423
Adding this to the task don't help: "ignore_errors: yes".

[2018-05-18 21:09] nbw74 opened #40424 "Module postgresql_db (state: dump) exits with 0 return code even if dump error occured"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

postgresql_db
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/nbw/ansible/ansible.cfg) = True
DEFAULT_HOST_LIST(/home/nbw/ansible/ansible.cfg) = [u'/home/nbw/ansible/inventory']
RETRY_FILES_ENABLED(/home/nbw/ansible/ansible.cfg) = False
##### OS / ENVIRONMENT

CentOS release 6.9 (Final)
##### SUMMARY

postgresql_db

[2018-05-18 21:37] nerzhul commented on #40410
!component lib/ansible/modules/system/gluster_volume.py

[2018-05-18 21:42] johnbcoughlin commented on #29519
The fact that the error message mentions `parameter groupId` instead of `vpc_subnet_id` is certainly a bug. Please reopen this, one shouldn't have to encounter this unresolved bug report to figure out which parameter is actually missing.

[2018-05-18 21:44] mbuiro opened #40425 "1&1 Server - Server creation fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

oneandone_server.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

Control Machine:
[code]
##### SUMMARY

Unable to create server using oneandone_server module due to python error:
[code]
##### STEPS TO REPRODUCE

Run below playbook using ```ansible-playbook test.yml```
[code]

##### EXPECTED RESULTS

[code]

[2018-05-18 21:56] Rickkwa opened #40426 "include_vars module to be able to load variables from scripts"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

include_vars

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

CACHE_PLUGIN(/root/.ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/root/.ansible.cfg) = ~/ansible-test/.ansible/fact_cache

##### OS / ENVIRONMENT

N/A

##### SUMMARY

I think it would be nice if the `include_vars` module can take in a script file (such as python) that genera

[2018-05-18 22:00] cornfeedhobo commented on #19711
@Dmitry1987 Oh, maybe that is the caveat, it sounds like you were expecting the `usual "ip-10-12-23-23" format`. I think this would require you to be using the [cloud-init hostname](http://cloudinit.readthedocs.io/en/latest/topics/modules.html#set-hostname) option.

[2018-05-18 22:03] christopherkeller commented on #39976
@Fred-sun Apologies, I'll give the PR a try and see how it works.

[2018-05-18 22:12] #29630 closed, assigned to nobody

[2018-05-19 00:05] jradtilbrook commented on #15828
I agree with this and would be willing to do the work. I've started looking and it seems really simple to add:
- if creates or removes is used, allow the module to check for existence and report back assumed status
- if neither are used, just skip like it would currently

This should not introduce any breaking changes either since it enriches the module to support check mode where possible.

[2018-05-19 05:38] markandrewj commented on #40343
After investigating further, I'm pretty sure that this issue is being caused by the 1px hack being applied .return-value-column used in combination with height: 100%.

[2018-05-19 07:15] AquaL1te commented on #38182
So, if I understand this correctly, `with_subelements` does not equal `loop: "{{ query('subelements', ...`? If so I won't move forward changing my code to the new syntax, I like consistency :)

[2018-05-19 08:33] #25683 closed, assigned to nobody

[2018-05-19 09:35] RalfJung commented on #21528
I am still having this issue with Ansible 2.5.2: When an imported playbook is skipped because of a tag, it still has its facts gathered. I have plenty of entries like this in my site.yml:
[code]
and then I use tags to deploy only specific roles, but ansible still spends tons of time just gathering facts for all the roles that are not executed.

From what I understand, #21734 fixed this for conditi

[2018-05-19 09:51] chopraaa commented on #18075
Is there a solution for this?

[2018-05-19 09:57] danvaida commented on #17324
@cytopia why is it that you need to do essentially `value: key` instead of `key: value` in the first place? it’s a rather strange approach. I assume it’s because of how kops tagged the resources, i.e. `kubernetes: owned`. for example, Terraform by default tags resources with `Owner: Terraform`, which makes more sense, IMHO.

[2018-05-19 10:08] cytopia commented on #17324
@danvaida I need to be able to substitute variable values on both sides, because that's what Kops is expecting as you can see here:

[code]

Which is basically:
[code]

---

However, this does not only affect kubernetes itself, but also if I want to create a VPC with userdefined tags from host_vars, such as:
[code]
I would first have to loop over the vpcs and then also over the tags to add to that

[2018-05-19 10:29] #29609 closed, assigned to nobody

[2018-05-19 12:57] 0xMH opened #40434 "Failed to set execute bit on remote files when managing Ubuntu 16.04 using SaltStack connection plugin"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

command, ping. Those are the ones I tried so far.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default configuration.

##### OS / ENVIRONMENT

OS  running Ansible: CentOS Linux 7
OS I'm managing: Ubuntu 16.04.4 LTS

##### SUMMARY

I'm using SaltStack connection plugin to access our servers and it worked in almost all servers but Ubuntu

[2018-05-19 13:32] felixfontein commented on #35779
There is an old issue (from 2013) in the pygments issue tracker w.r.t. YAML highlighting: https://bitbucket.org/birkenfeld/pygments-main/issues/890/yaml-highlight (There are [two](https://bitbucket.org/birkenfeld/pygments-main/issues/1436/yaml-lexer-does-not-highlight-keys-unless) [more](https://bitbucket.org/birkenfeld/pygments-main/issues/1385/something-is-wrong-with-yaml-support), which never g

[2018-05-19 13:33] felixfontein commented on #35779
Uhm, how did I unassign @dharmabumstead? I have no idea how I did that...

[2018-05-19 13:41] F1rst-Unicorn opened #40437 "edgeos_config command diff only considers router's active config"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

edgeos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running on Arch Linux, managing EdgeOS v1.10.1 router

##### SUMMARY

When comparing the active config with the desired commands, effects of previously scheduled desired commands is not taken into account.

##### STEPS TO REPRODUCE

Make sure no d

[2018-05-19 13:58] bobsaintcool commented on #38182
`with_subelements` will be equal to `loop: "{{ query('subelements', ...`. However, using `lookup` instead of `query` could not. The former could in some case not return a list which is required by the `loop`. `query` is required to return always a list so its will be ok in any case.

Regarding this point, it should be consistent and I think you can move the code to the new syntax. Understanding th

[2018-05-19 14:31] sac opened #40438 "gluster_volume: volume options are not working"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
gluter_volume

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[sac@dhcp35-44 roles]$ ansible-config dump --only-changed
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/home/sac/work']

##### OS / ENVIRONMENT
GNU/Linux (any distribution)

##### SUMMARY

On an existing GlusterFS volume we try to set the volume option

[2018-05-19 15:50] kustodian commented on #40315
I understand where you are going and I think that the way this issue was started isn't the best way to get the problems you mentioned resolved. Handlers not being executed after a host becomes unreachable are just the consequence of Ansible's lack of features for dealing with connection problems, as well as lack of documentation. So I would suggest that you open a different issue, or update this o

[2018-05-19 17:21] filicivi opened #40440 "Module archive: Add "create" parameter that creates destpath if not exists."
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
* archive [module]

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/Users/joeyrs/.ansible.cfg) = True
DEFAULT_LOG_PATH(/Users/joeyrs/.ansible.cfg) = /Users/joeyrs/.ansible/ansible.log
DEPRECATION_WARNINGS(/Users/joeyrs/.ansible.cfg) = True
DISPLAY_SKIPPED_HOSTS(/Users/joeyrs/.ansible.cfg) = True
ERROR_ON_MISSING_HANDLER(/Use

[2018-05-19 20:30] jatinderjawanda opened #40442 "If syntax inside the for syntax"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

I wonder is this possible.
{% for item, value in {% if source == "cde" %} abc.iteritems() {% else %} def.iteritems() {% endif %} %}
item
{% endfor %}
##### STEPS TO REPRODUCE

{% for item, value in {% if source == "cde" %} abc.iteritems() {%

[2018-05-19 20:47] ITD27M01 commented on #39610
@sivel
I have tested the openstack inventory plugin but there problems with this:
https://github.com/ansible/ansible/issues/40228
https://github.com/ansible/ansible/issues/40156
https://github.com/ansible/ansible/issues/40396

[2018-05-19 20:49] jatinderjawanda commented on #40442
!component

[2018-05-19 20:58] umrikar commented on #38799
hi @warthog9 @Akasurde  any update on it

[2018-05-19 21:40] kustodian commented on #40315
I can't close issue, I'm not an Ansible dev, just a contributor. The reason why I told you that the current issue won't get you far is because if you ask the devs to fix the `--force-handlers` parameter, it will just get closed because the parameter works as it is [documented](http://docs.ansible.com/ansible/latest/user_guide/playbooks_error_handling.html#handlers-and-failure):

So that parameter

[2018-05-20 03:57] mixja commented on #31543
To add to this, if you rescue a block and then have a failure in the `always` section, the playbook will exit with a failure message, however the shell exit code is 0 (success).  If you don't have a rescue block, failures in the `always` section do fail and correctly return an non-zero (error) shell exit code.

[code]

Example execution:
[code]

[2018-05-20 07:49] robinro commented on #40248
duplicate_of #22399

[2018-05-20 07:55] robinro commented on #22399
needs_contributor
I'd like to see this implemented. Getting this right (idempotency, upgrades/downgrades) is non-trivial, see e.g. the version specifier implementation in the zypper module.

[2018-05-20 07:55] #40248 closed, assigned to nobody

[2018-05-20 11:35] sevs44936 opened #40445 "cloudflare_dns fails on combination of SRV record and python3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

cloudflare_dns

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

CACHE_PLUGIN(/tank/appdata/ansible/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/tank/appdata/ansible/ansible.cfg) = /tank/appdata/ansible/fact-cache
CACHE_PLUGIN_TIMEOUT(/tank/appdata/ansible/ansible.cfg) = 86400
DEFAULT_GATHERING(/tank/appdata/ansible/ansible.cfg) = smart

[2018-05-20 13:06] rhysmeister commented on #40051
As a workaround I added

W605

to

ansible/test/sanity/pep8/current-ignore.txt

in my Ansible git repo

[2018-05-20 13:44] sourcejedi opened #40448 "Add a way to force handler execution"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

Core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### SUMMARY

#4777 "Add a way to force handler execution"

...

This is lies :-).  The request was not implemented and there is no way to fulfil this use case. The behaviour requested by #4777 is not the behaviour which is observed and documented.

[2018-05-20 13:45] #40315 closed, assigned to nobody

[2018-05-20 14:22] unacceptable opened #40450 "`win_environment` will remove variables if a value is not specified"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`win_environment`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
- _Firstly I wasn't sure if I should open a feature request or a bug.  However, after much thought about this, a bug seems appropriate since data is being unintentionally removed from a system._
- `win_environment` will remov

[2018-05-20 15:24] sweenu opened #40452 "Parted module (maybe) not idempotent with esp partition"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

parted
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_FORCE_HANDLERS(/home/sweenu/setup/ansible.cfg) = True
DEFAULT_MODULE_PATH(env: ANSIBLE_LIBRARY) = ['/home/sweenu/Repos/ansible/library']
RETRY_FILES_ENABLED(/home/sweenu/setup/ansible.cfg) = False
##### OS / ENVIRONMENT

Archlinux
##### SUMMARY

The `parted` module shows `change

[2018-05-20 15:42] julien-lang opened #40453 "'TaskQueueManager' object has no attribute 'callback_obj'"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Debian GNU/Linux 9.4 (stretch)
Ansible 2.5.3-1ppa~xenial

##### SUMMARY

When I run my usual playbook with ansible 2.5.3, I got the following error message and ansible stop

` 'TaskQueueManager' object has no attribute 'callback_obj' `
This issue happened after I update

[2018-05-20 15:50] julien-lang commented on #40453
Looking at the installed code on ansible 2.5.3 on my Debian system (/usr/lib/python2.7/dist-packages/ansible), I might have found something suspicious.

In the _executor/task_queue_manager.py_ file, there is this code:
[code]

The use of **self.callback_obj** does not seem right since the object define this variable. But in this function, there is a local variable named _callback_obj_ define. And

[2018-05-20 16:44] Akasurde commented on #38799
@umrikar You can use https://github.com/ansible/ansible/pull/40456 enhancement to get `cluster_uuid` from given host system.

After merge, you can use playbook like -

[code]

[2018-05-20 21:38] odyssey4me commented on #25949
Pushed up some PR's to handle various parts of this:

* https://github.com/ansible/ansible/pull/40462
* https://github.com/ansible/ansible/pull/40464
* https://github.com/ansible/ansible/pull/40465

The only bit outstanding is for the os_server_action module which looks like it will need new functions in the shade library.

[2018-05-20 22:32] bizmate commented on #25068
Same for me, I will try to add `ansible_ssh_common_args='-o StrictHostKeyChecking=no'`

[2018-05-20 22:34] jborean93 commented on #40450
I wouldn't call this a bug because it doesn't return the value without changing but I would say it is a bug because it removes the environment variable altogether. This is because the default state option is `present` and in this case it is removing the env var instead of just setting the value to an empty string.

We wouldn't want to change that behaviour to only display the value is `value` is n

[2018-05-20 22:46] jborean93 commented on #40244
@nkrishnakishor so if become is working then it shows the Kerberos ticket is not getting the forwarded ticket. Because you are on 2.4.3 I recommend you upgrade to 2.5.3. The issue where an Ansible managed ticket won't get a forwardable one was fixed with https://github.com/ansible/ansible/pull/37815 but this is only in the 2.5.x releases.

Not sure what you mean by this, you can set become for an

[2018-05-20 22:46] #40244 closed, assigned to nobody

[2018-05-20 22:47] jborean93 commented on #40009
Thanks @wsmckenz, this feature request is being tracked with https://github.com/ansible/ansible/issues/39587. I am going to close this issue as we don't want to have duplicates.

[2018-05-20 22:47] #40009 closed, assigned to nobody

[2018-05-20 22:53] jborean93 commented on #40160
When you have a username in the form of `user@domain` the winrm plugin will automatically try and get a kerberos ticket for you by running the `kinit` command. What seems to be happening is that `kinit` is either not available/installed, or is not added to the path so subprocess can't find it.

Can you run `which kinit` as well as `kinit --version` on your Ansible controller and post the results b

[2018-05-20 22:55] jborean93 commented on #40405
Can you post the full task output when you run with `-vvvv`, this is an issue when people are using older custom PowerShell modules that used a PSCustomObject instead of a hashtable for their result variable. What is probably happening here is that there is a custom win_chocolatey module stored in a library somewhere and it is overriding the default that comes with Ansible.

needs_info

[2018-05-20 23:05] jborean93 commented on #40310
@svpudik as part of the win_updates module it will automatically try to become a user, if the user was not explicitly set then it would just use the SYSTEM account. In this case it is failing to get a token for that SYSTEM account and so is failing to become that user. I'm quite curious as to why this might be failing and I'm hoping you can provide some info for me so I can debug further. Can prov

[2018-05-20 23:54] jborean93 commented on #39844
Hey @tonykay, this is a troublesome bug as it is based on historical behaviour where `ansible_ssh_user` was the var to set when defining a user. I believe 2.0 introduced `ansible_user` but a lot of people had (and unfortunately still have) `ansible_ssh_user` defined for their connection user. Currently `ansible_ssh_user/host/port/pass` is used as a global fallback when building the play context an

[2018-05-21 01:13] wsmckenz commented on #40009
Thanks

Sent from my mobile.

~Bill

[2018-05-21 01:14] tuanbo91 commented on #30833
still an issue with 2.5.3.1

[2018-05-21 01:47] Fred-sun commented on #39958
Hi @guillemsola ,Thanks for your help, I cannot reproduced, I will use your  .credentials file to try. Please send your .credentials to me. Thanks a lot!

[2018-05-21 01:48] wjainiya opened #40466 "How can i get the original command?"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
2.4.10

##### CONFIGURATION

##### OS / ENVIRONMENT

ansible RHEL7
target  windows server 2016

##### SUMMARY

when i try to install huflt8 on windows server 2016, i follow the manual command setup.exe -s -f1"setup.iss", (there is no space between f1 and "C:/"), i write playbook like this:

[code]
[code]
but, huflt8 doesn'

[2018-05-21 01:51] Fred-sun commented on #39976
@christopherkeller Do you have any update ? Thanks a lot!

[2018-05-21 02:48] spmp commented on #38883
Did anyone find a method that works?
You can specify the os disk size in an RM template so I assume you can do it via the Python API too.

Ideally we should be able to specify `os_disk_size` in `azure_rm_virtualmachine`

[2018-05-21 03:35] Fred-sun commented on #38883
Hi @spmp , Do you want create  data disk when create VM , I am not sure it meet your means. just like:
[code]

[2018-05-21 03:42] spmp commented on #38883
@Fred-sun I do create data disks as well, but I need a large os disk.

[2018-05-21 03:56] sayantandas commented on #40380
@Akasurde as discussed over IRC, we are using cluster setup with no Resource pools. So, adding resource_pool as Resources does not work. This needs a fix . Tested with v2.5 stable vmware_guest.py module

[2018-05-21 04:12] jborean93 commented on #40450
@ScriptMyJob turns out Windows doesn't support null or empty strings as an environment value. I've raised a PR to update the docs and throw an actual error message if someone tries to do this with `state: present` here https://github.com/ansible/ansible/pull/40468. My comments around retrieving variables still stand though, use either the builtin facts or a win_shell task to query them.

[2018-05-21 05:02] shrenikp7 opened #40469 "Authentication failure when login as regular user and sudo su - root"
Issue type: While login as a regular and try to execute command as root using -u root, -k, -b even though getting following error.
I tried using become=yes, remote_user=root in playbook also, even though it is generating same error.
UNREACHABLE! => {"changed": false, "msg": "Authentication failure.", "unreachable": true}
(5, '', 'Permission denied, please try again.\r\n')

ansible version : 2.5

c