[2019-12-04 15:28] sky-joker commented on #63376
Hi @mgsaranraj87

Can you check if the target port group can be found using `vmware_dvs_portgroup_info` module?
The following playbook is an example.

[code]

Please let me know the result of the execution.

[2019-12-04 15:35] chris-short commented on #65285
Yeah. The SIGs are aligned to functions not necessarily tooling. I can track down which SIG might work best. But, what will this group be managing, building, working on, etc.?

[2019-12-04 15:36] Akasurde commented on #65506
!component =lib/ansible/modules/system/beadm.py

[2019-12-04 15:40] sivel commented on #65450
This appears to be a bug, it should work as documented.  I think the fix is basically:

[code]

But this will need tested, a PR created with a changelog and integration tests to validate the functionality.

[2019-12-04 15:54] dagwieers commented on #65169
I no longer have hardware to test this.
So it would be better if someone else takes over maintainership.

[2019-12-04 16:01] dagwieers commented on #65169
Looking at the code, there have not been any changes between v2.8 and v2.9.
The code uses `atexit` to ensure a `logout()` is performed.
So the code looks correct and should be working fine.

I can only see one potential cornercase where we call `fail_json()` when a cookie is not acquired without performing a `logout()`. But in that case you would get a specific error.

And if there is no cookie, w

[2019-12-04 16:03] dagwieers commented on #65169
Maybe there has been a change in how Ansible exits its module runs that causes `atexit` not to work correctly. But we haven't seen this ourselves. This would depend on the use-case.

[2019-12-04 16:06] dagwieers commented on #65169
Also, did you know you can perform many operations in the same call by using multiple documents in the payload? This may simplify your playbook and would be more efficient because there would only be one login and one logout.

There is an example in the documentation for this.

[2019-12-04 17:08] #62633 closed, assigned to nobody

[2019-12-04 17:08] sivel commented on #65502
I believe you will need to add the `-w` flag onto the EDITOR command, so that vscode will wait for the files to be closed before returning.

needs_info

[2019-12-04 17:11] AechLyons commented on #51284
was this ever addressed.  Having the exact same issue all of a sudden

[2019-12-04 17:27] uubk opened #65511 "icx_vlan confuses interfaces between slots"
##### SUMMARY

`icx_vlan` seems to confuse interfaces between different slots, that is it tries to use interface `1/1/3` when told to use interface `1/2/3`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`icx_vlan`, possibly others

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Control machine: Debian 10
Switch: ICX7250-24P, Firmware `08.0.92T213`, connec

[2019-12-04 17:32] atimonin opened #65512 "error using variable from set_fact in hosts"
##### SUMMARY

When use variable in hosts: i get an error:
ERROR! The field 'hosts' has an invalid value, which includes an undefined variable. The error was: 'standby_nns' is undefined

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

maybe in set_fact
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

$ lsb_release -a
No LSB modules are available.
Distributor

[2019-12-04 17:35] fbruetting opened #65513 "Treating tabs after the keywords not as an error"
### SUMMARY
I get that YAML is totally about indentation and tabs may make that mistakable – which is why you handle tabs at errors and I don’t want to discuss this. BUT: After the keywords (i.e. after their colon) it doesn’t make any difference if there are tabs or spaces, as it’s just important that there is any amount of whitespace between keywords and their value.

Currently, tabs behind the k

[2019-12-04 17:36] sivel commented on #65513
This is not a function of Ansible, this is a function of pyyaml which is a YAML parser built to adhere to the YAML spec.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-12-04 17:36] #65513 closed, assigned to nobody

[2019-12-04 17:43] sivel commented on #65512
`set_fact` creates a per host fact. As such, that fact/variable is not in the global scope, and you cannot reference it without host context.

You may be able to use:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-12-04 17:43] #65512 closed, assigned to nobody

[2019-12-04 17:51] sivel commented on #65452
This is a function of `lookup`.  Due to historical reasons, and backwards compat, we cannot change the default behavior.  You can either specify `wantlist=True` on your call to `lookup`, or switch from `lookup()` to `q()`/`query()`.

`q`/`query` will always return a list.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing lis

[2019-12-04 17:51] #65452 closed, assigned to nobody

[2019-12-04 18:19] laaubert commented on #65169
Hmm that's too bad (for me ;-) ) . So it means this module is not maintained anymore.

So as per your suggestion, the following task will also work ? :

[code]

Thanks

[2019-12-04 18:22] dagwieers commented on #65169
Until someone else takes over. Without hardware I wouldn't be able to test.

Yes. And is more efficient. But if something fails, everything up to that point will have worked, and everything beyond that point will not have run. So you have less control over what happened.

The question is whether you expect any operation to fail. If you do, isolating that operation is probably best.

[2019-12-04 18:23] dagwieers commented on #65169
But let me repeat that there is no reason to assume the behavior is different between v2.8 and v2.9.
At least the module has not changed.

[2019-12-04 18:27] laaubert commented on #65169
So the root cause might be deeper in Ansible I guess…

From: Dag Wieers <notifications@github.com>
Reply-To: ansible/ansible <reply@reply.github.com>
Date: Wednesday, December 4, 2019 at 7:23 PM
To: ansible/ansible <ansible@noreply.github.com>
Cc: "laurent_aubert@yahoo.fr" <laurent_aubert@yahoo.fr>, Author <author@noreply.github.com>
Subject: Re: [ansible/ansible] Ansible 2.9.1: "Maximum sessions

[2019-12-04 18:30] dagwieers commented on #65169
If `atexit` no longer works for Ansible modules, that would be a bug IMO.
I count about 18 modules using atexit, the majority being Zabbix modules.

[2019-12-04 18:40] ftntcorecse commented on #65444
@Sethueha Sorry for the delay. We have two hotfixes in PR at the moment. Please see this link, for more information on the bug. The hotfix is in the httpapi plugin itself.

https://github.com/ansible/ansible/pull/62534

[2019-12-04 18:42] ftntcorecse commented on #65444
Here is the hotfix for FortiAnalyzer httpapi plugin, if you use that.

https://github.com/ansible/ansible/pull/62919

[2019-12-04 19:22] rule88 commented on #65466
To be honest I don't think this is in line with the philosophy of Ansible. With a "when" clause it is easily manageable to only deploy the cron in certain cases (when needs to be active).

Therefor this shouldn't be considered as a bug as the Warning is to be expected (ref: http://manpages.ubuntu.com/manpages/eoan/en/man8/cron.8.html).

[2019-12-04 19:36] renard commented on #65466
The issue was not about how to deploy or not a specific cron but how to allow deploying a disabled one using not an invalid name but ignored name scheme without generating an unwanted warning.

In the link you provided the doc goes in that way. Having a dot in a cron file name is not illegal and prevent cron from executing it.

This is a bug since there is no way to silent the warning.

[2019-12-04 20:02] rule88 commented on #65466
It still isn't a bug because you can't silent the warning as the module is being used a way beyond its intention.

Now I do see your challenge, but everyone has their own way to deal with a "disabled" cron file. Probably best is to have a new "feature" to the cron module allowing you to have the managed cron file "disabled". And yes, that might result in a cron file ending in .disabled, but also e

[2019-12-04 20:04] #58958 closed, assigned to nobody

[2019-12-04 20:06] atimonin commented on #65512
Thanks! It works!

[2019-12-04 20:23] #64654 closed, assigned to nobody

[2019-12-04 20:59] shawn-hurley commented on #65285
I was thinking that it might be worth making a thing here:

https://github.com/kubernetes/community/tree/master/sig-api-machinery#kubernetes-clients

I had thought that @fabianvf was working on making the kubernetes collection to be apart of that IIRC form a conversation we had awhile ago.

[2019-12-04 21:00] refriedjello opened #65520 "Support passing arguments to dynamic inventory script for selective CMDB queries"
##### SUMMARY
When calling a dynamic inventory script you should be able to specify --args with a list of arguments that are passed to the dynamic inventory script. This would allow for your inventory script to perform a selective query against your CMDB, returning a list of only the devices you wish to target.

In other words, this would allow for dynamic groups to be defined by the user, on the

[2019-12-04 21:16] felixfontein commented on #65486
Ok, I tested this a bit. It works fine with Ansible 2.9.x (`stable-2.9`) and `devel`, but *not* with Ansible 2.8.x (`stable-2.8`). So easy fix: upgrade to Ansible 2.9 :-)

[2019-12-04 21:24] felixfontein commented on #65486
The changelog for Ansible 2.9.0 says: `docker_container - Add support for image lookups by digest. Fixes the detection of digest changes.`. This has been implemented in #56649. I'm not exactly sure (anymore) why this wasn't backported to stable-2.8. Right now, I'm assuming that this was to avoid breaking backwards compatibility (containers unexpectedly restarting) between 2.8.0 and 2.8.1, but it c

[2019-12-04 21:27] sivel commented on #65520
Thank you very much for your interest in Ansible. Unfortunately we have no plans to implement such a feature.

Inventory scripts and inventory plugins can consume configuration via a config file, or via env variables.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-proj

[2019-12-04 21:27] #65520 closed, assigned to nobody

[2019-12-04 21:30] ls-1N opened #65522 "Flatpak idles on certain prompts."
##### SUMMARY
When trying to install the flatpak package `com.jetbrains.IntelliJ-IDEA-Ultimate` the playbook execution freezes. This is probably because of a prompt in the installation process.

When running directly (without ansible-playbook):
[code]

The automation workaround is to use the `-y` (aka `--assumeyes`) option:
[code]

A workaround would be if the Ansible-playbook module flatpak were

[2019-12-04 21:38] i-need-to-tell-you-something commented on #65522
Oh my god, I just realized it might just be my slow Internet downloading it for ages. Will report back.

[2019-12-04 21:38] #65522 closed, assigned to nobody

[2019-12-04 21:48] karthikeyan-dhandapani commented on #65416
@imuab Thanks for the test.

@Akasurde for help!

[2019-12-04 21:55] tsvsj commented on #65452
Thanks for this information. I was not aware of this, but this is very helpful!

[2019-12-04 22:08] jillr opened #65524 "K8s older_openshift_fail tests fail on python>=3.7"
##### SUMMARY
While testing our ability to run cloud integration tests on py3.8 in #65484, found `older_openshift_fail.yml` can not be executed on 3.7 or 3.8 as 0.6.x client did not receive kubernetes-client/python/pull/682.

Is there a version of openshift-client-python that has 3.7+ support that would still achieve the relevant test result?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
te

[2019-12-04 22:47] ghost opened #65525 "Upgrade to version 2.9 seems to break proxysql_backend_servers module"
##### SUMMARY
Upgrade to version 2.9 seems to break proxysql_backend_servers module

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
proxysql_backend_servers

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Both control host and target host running:
Ubuntu 16.04.6 LTS \n \l
Linux sqlproxy1 4.4.0-140-generic #166-Ubuntu SMP Wed Nov 14 20:09:47 UTC 2018 x86_64 x8

[2019-12-05 00:08] apple4ever commented on #59164
This is in 2.9.2 which just released! Wooo!

[2019-12-05 00:31] #63488 closed, assigned to nobody

[2019-12-05 03:47] beautifulentropy commented on #31627
I know, old thread, but I added a bunch of code to validate project/issue type/fields and resolve custom fields/allowed_values/options  from just the string of their underlying name/value. I'm getting it ready to submit this work for a PR. It's really made using Jira with Ansible a breeze.

[2019-12-05 03:57] beautifulentropy commented on #29299
`{"id":"6"}` is not the same as `"6"`, the YAML for this would be:

[code]

[2019-12-05 04:51] vgprash24 opened #65537 "snow ansible issue"
I have this code, when i run i am getting the error. I have both python3 and python2. Pysnow is installed in both version but still i am facing this issue.

[code]

[code]
where is the issue

[2019-12-05 05:03] Fred-sun commented on #65481
@Ackak12 Please try PR #65535, This may meet your need! Thank you very much!

[2019-12-05 05:07] Akasurde commented on #65537
!component =lib/ansible/modules/notification/snow_record.py

[2019-12-05 05:14] hefernan commented on #65332
@trishnaguha Thank you.

[2019-12-05 05:33] Fred-sun commented on #65316
@nicolaibaralmueller Sorry to reply late. I am confirming, I will update the status as soon as possible. Thank you very much!

[2019-12-05 06:18] Akasurde commented on #65537
@vgprash24 Thanks for reporting this issue. This error is raised due to https://github.com/rbw/pysnow/pull/131 changes. A quick workaround is to downgrade pysnow to 0.7.9 might solve the problem. Thanks.

[2019-12-05 06:18] Akasurde commented on #65537
needs_info

[2019-12-05 06:27] Akasurde commented on #65537
Upstream PR - https://github.com/rbw/pysnow/pull/137

[2019-12-05 06:41] rdonkin commented on #65365
Thanks for the quick responses and fix @mkrizek.

As to use cases -`hostvars` was added just for debugging.

My main use case was looping over all items in `vars` to generate plain YAML of instantiated values for all vars set in some Ansible YAML files including Jinja2 expressions (filtering out some Ansible internal vars) - this 'compiled' YAML is used by other tools such as Terraform, [InSpec](h

[2019-12-05 07:16] Akasurde commented on #65393
@OscarBell Thanks for reporting this issue. Could you please check if https://github.com/ansible/ansible/pull/65509 works for you and let us know ? Thanks.

needs_info

[2019-12-05 07:21] Akasurde commented on #65277
@rule88 Thanks for reporting this issue. Could you please check if #65509 works for you and let us know ? Thanks.

needs_info

[2019-12-05 07:23] Akasurde commented on #65107
needs_info

[2019-12-05 07:24] vgprash24 commented on #65537
How to downgrade the pysnow version

[2019-12-05 07:24] Sethueha commented on #65444
Thanks for the update team. Is this hotfix PR is ready for use, if yes could you please provide the steps to get this hotfix updated in my Ansible server.

[2019-12-05 07:31] vgprash24 commented on #65537
i tried to install the version 0.7.9, but still facing the same problem

[2019-12-05 07:35] Akasurde commented on #65537
@vgprash24 You can do like -

[code]
or write a playbook task like -

[code]

Verify like this -

[code]

[2019-12-05 07:41] ghost opened #65543 "Set certificate restrictions via mysql_user"
##### SUMMARY
Mariadb allows us to restrict users by their certificate, could you please add support the SUBJECT, ISSUER & CIPHER parameters?

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
mysql_user

##### ADDITIONAL INFORMATION
Here is an example, restricting the user by certificate subject, issuer and cipher, which is the most complex way of specifying certificate limits.

[code]

There

[2019-12-05 07:42] rule88 commented on #65277
Works like a charm !

[2019-12-05 07:49] vgprash24 commented on #65537
After downgrading to the version 0.7.9 i am still facing the same issue

[root@server1 ~]#  ansible-playbook snow.yml  -e 'ansible_python_interpreter=/usr/bin/python3'
[DEPRECATION WARNING]: The TRANSFORM_INVALID_GROUP_CHARS settings is set to allow bad characters in group names by default, this will change, but still be user
configurable on deprecation. This feature will be removed in version 2.1

[2019-12-05 07:53] Fred-sun commented on #65501
@deano2point0 Thank you for reporting this problem. May I ask why ICMP is added? Can you also use "*" instead? Because I saw that the Azure SDK only has 'Udp', 'Tcp' and '*' protocols. Thank you very much!

[2019-12-05 07:57] Akasurde commented on #65537
@vgprash24 Could you please verify if pysnow is at 0.7.9 version? Looking at output I don't think that is the case.

[2019-12-05 07:57] Akasurde commented on #65537
needs_info

[2019-12-05 08:43] ghost opened #65548 ""when: is not defined" Conditional not working"
##### SUMMARY
When using when: var is not defined in task it will be still executed when the variable is not set.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Local: Mac OSX Catalina 10.15.1 with Ansible installed via brew
Remote system is a Debian 10.1 VM

##### STEPS TO REPRODUCE
Create a new task like t

[2019-12-05 08:46] jensbaitingerbosch opened #65549 "lookup ('url',...) does not accept openssl"
##### SUMMARY
We have a corporate proxy that terminates tls connections and looks into the content and then reencrypts and presents its own certificate. In principle its an enterprise-man-in-the-middle attack .

The consequence is that each tool that does https connections needs to accepts the proxy certificate or ignore the certificate at all (Which is not secure at all). We installed the proxy r

[2019-12-05 09:24] Sheridan commented on #20493
+1 need this too

[2019-12-05 09:38] vgprash24 commented on #65537
'0.7.9'

[2019-12-05 09:59] kristvanbesien opened #65550 "ovirt_network fails creating network when external_provider is set."
overit_network fails when trying to create a network that uses an external provider.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module ovirt_network

##### ANSIBLE VERSION
[code]
##### OS / ENVIRONMENT

MacOSX 10.15

##### STEPS TO REPRODUCE
Consider the following playbook:

[code]

##### EXPECTED RESULTS

A network "boot" is created, using the external provider ovirt-provider-ovn

#####

[2019-12-05 10:03] #65024 closed, assigned to nobody

[2019-12-05 10:24] Sheridan commented on #20493
Oh, it seems to me that there will be no happiness :(

[2019-12-05 10:56] Akasurde commented on #59191
@stephan2012 Could you please confirm if @willthames solution works for you? Thanks.

needs_info

[2019-12-05 11:10] swatinarvekar commented on #65187
[from customer]
Main difference is that the `yum` module requires root and `yumdownloader` tool doesn't. I can work around the issue of packages not getting downloaded when they're installed by setting `installroot` to some path other than `/`.

[2019-12-05 11:25] t1hom7as commented on #26190
+1 for this functionality.

[2019-12-05 11:42] Timoses commented on #65190
@mnecas : This is the structure (names changed slightly):
[code]

---

What does "cannot" mean? I'm quite sure when I debugged it that it returned multiple results.
So it's either a bug in the SDK or something else is going on.

I'll try to reproduce above once again (earliest on Monday/Tuesday next week)

Please let me know if you need any more information.

[2019-12-05 12:17] evrardjp commented on #19232
-label clustering

[2019-12-05 12:26] rnsc opened #65556 "win_get_url doesn't follow redirects"
##### SUMMARY

When using win_get_url on Ansible 2.9.x to download files, it stops on the first 301 redirect and creates a 372 bytes file containing the HTTP response of the web server instead of the file that sits behind the redirect.
This happens on any Windows version that I tested: 2012 R2, 2016, 2019

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_get_url
##### ANSIBLE VERSION

[cod

[2019-12-05 12:43] queglay commented on #65502
Fantastic, thankyou @sivel !

[2019-12-05 12:43] #65502 closed, assigned to nobody

[2019-12-05 13:29] #63319 closed, assigned to nobody

[2019-12-05 13:40] Benjamin-Riefenstahl-mecom opened #65560 "grafana_datasource fails with "KeyError: 'secureJsonFields'""
##### SUMMARY

I try to use the module "grafana_datasource" without TLS, just plain HTTP.

I get an exception  "KeyError: 'secureJsonFields'".

The same parameters that I pass to grafana_datasource, do work fine, when I use the "uri" module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
grafana_datasource

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
An

[2019-12-05 14:05] stravassac commented on #63595
I have same issue

[2019-12-05 14:13] martincermak commented on #26190
+1, really need it!

[2019-12-05 14:21] dkossako opened #65561 "unixy callback duplicates entries in log"
##### SUMMARY
When using such task items on output are duplicated.
[code]
Using default output:

Using unixy:

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
unixy callback

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2019-12-05 14:23] dkossako commented on #65561
It would be also fine to put somewhere information about item like:

[2019-12-05 14:25] nre-ableton commented on #29647
Is there any update on this issue? I am still running into this error:

Example task:

[code]

Ansible output:

[code]

[2019-12-05 14:28] spkishoree opened #65562 "$ symbol not accepting as Extra vars . Extra Vars Issue"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

While passing extra vars to execute a playbook '$' symbol was not accepting.

Eg: mssql$inst1

While passing in playbook works fine.(hardcoded)
--------------------------------------------------

![picturemessage_mz5l5kfv qu2](https://user-images.githubusercontent.com/20322684/70243895-83fc3300-1799-

[2019-12-05 14:32] MathiasDidier commented on #62730
Hi @stefanhartmann123

This helped me! I did set it in the group_vars for my windows-hosts and it's working like a charm.

Best regards!
Mathias

[2019-12-05 14:32] renskewierda opened #65563 "Incorrect account_type mentioned in documentation of azure_rm_storageaccount module"
##### SUMMARY

The following list is included in the documentation of the choices for the parameter "account_type" of the azure_rm_storageaccount module:

Choices:
Premium_LRS
Standard_GRS
Standard_LRS
StandardSSD_LRS
Standard_RAGRS
Standard_ZRS
Premium_ZRS

However, "StandardSSD_LRS" is not a storage account SKU type but a disk type. Running the module with this value for the account_type paramet

[2019-12-05 14:46] Qalthos commented on #65482
Can you tell us what version of IOS you are running this on, please?

needs_info

[2019-12-05 14:48] robertdebock commented on #65304
Reviewed and it works for me. Thanks @sky-joker!

[2019-12-05 14:50] eliskovets-sixt commented on #32554
Hi guys, in case if somebody still struggle with the issue.
For me `no_proxy="*"` before ansible command solved the issue.
Here you can find more details about the issue: https://www.whatan00b.com/posts/debugging-a-segfault-from-ansible/

[2019-12-05 14:56] sky-joker commented on #65304
Thank you @robertdebock for the operation confirmed!

[2019-12-05 15:14] sebastianw opened #65565 "Playdir inventory plugins in subdirectories work only when explicitly configured"
##### SUMMARY
I try to organize inventory plugins in their own subdirectories so I can use git submodules to link them into the project. This does not work because plugins in subdirectories are ignored when loading inventory plugins from the playdir.

On the other hand I can make it work by adding `inventory_plugins = inventory_plugins` to my `ansible.cfg` which should make no difference in my min

[2019-12-05 15:20] nixfu commented on #61763
Actually the service module could attempt to use condrestart which is supported by many init scripts.
But for systemd this is DEFINITELY needed.

[2019-12-05 16:08] nerijus commented on #64819
Info is still not updated in https://docs.ansible.com/ansible/latest/modules/zabbix_host_module.html :

Requirements

The below requirements are needed on the host that executes this module.

    python >= 2.6
    zabbix-api >= 0.5.3

[2019-12-05 16:45] nerijus commented on #64560
I have the same problem, https://github.com/ansible/ansible/pull/64585 helps.

[2019-12-05 16:50] skytime-sh commented on #64776
I just did a raw test with module_utils/crypto.py and modules/crypto/openssl_certificate_info.py from #65400. Worked perfect in my script (both, using path and using content). So it would perfectly fit what I had in mind.

[2019-12-05 16:55] Akasurde commented on #64096
@seanw2020 Could you please check if https://github.com/ansible/ansible/pull/65568 works for you and let me know ? Thanks.

needs_info

[2019-12-05 19:23] jborean93 commented on #65179
Can you run `/opt/rh/rh-git29/root/usr/bin/git clone
https://develop.internal.com/bitbucket/scm/ansible/install-goss.git install-goss` and share the output so we can see what the error might be.

Also running `ansible-galaxy` with `-vvvv` may share some more information that is helpful

needs_info

[2019-12-05 19:26] jborean93 commented on #65195
Please update to 2.9 and test again. 2.4 is EOL and there has been lots of changes to the fact gathering in between versions to prevent issues with file locks and cleanups.

needs_info

[2019-12-05 19:45] sivel commented on #65266
Thank you very much for your interest in Ansible. Unfortunately we have no plans to add this feature at this time.

We may accept a pull request to add this, but we are going to close this issue.

In the meantime, we would recommend use of a `find` tasks, that registers the results, followed by a looped use of `file` to remove individual paths.

If you have further questions please stop by IRC or

[2019-12-05 19:45] #65266 closed, assigned to nobody

[2019-12-05 19:45] jborean93 commented on #65269
This behaviour is as designed as per the above. You can use the workaround that @sivel or @s-hertel has suggested but there is nothing we will be changing in Ansible so I am going to close this issue.

[2019-12-05 19:45] #65269 closed, assigned to nobody

[2019-12-05 19:48] sivel commented on #65282
Thank you very much for your interest in Ansible. Unfortunately we have no plans to add such functionality at this time.

We would be open to reviewing a pull request with this new feature, however we are going to proceed with closing this issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.c

[2019-12-05 19:48] #65282 closed, assigned to nobody

[2019-12-05 19:50] jborean93 commented on #65290
Are you able to verify your reproducer as the output you have provided indicated your hosts file is not set up or your are targeting the wrong hosts.

We cannot replicate this issue with the current setup. Please share the actual failure output you originally indicated in a full run with `-vvv` included the original version headers and other useful info so we can try and track down what is happeni

[2019-12-05 19:55] jborean93 commented on #65303
!component =lib/ansible/modules/network/ios/ios_command.py

[2019-12-05 19:57] jborean93 commented on #65318
Can you run this against Ansible 2.9 as 2.6 is EOL and the bug may be fixed by now. Also provide info on how MySQL was installed and at what version. Finally providing the actual service logs for that service to indicate that it failed and why. What is the output when you try and restart the service manually on the host.

needs_info

[2019-12-05 19:58] sivel commented on #65323
This is expected behavior. By default the inability of ansible to properly parse an inventory is not an error.

This behavior can be modified by using https://docs.ansible.com/ansible/latest/reference_appendices/config.html#inventory-any-unparsed-is-failed

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://group

[2019-12-05 19:58] #65323 closed, assigned to nobody

[2019-12-05 20:01] jamesmarshall24 opened #65571 "VMWare VM Inventory Plugin Host Filters"
##### SUMMARY

Add ability to filter down results when using the vmware_vm_inventory plugin

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_vm_inventory

##### ADDITIONAL INFORMATION

The older vmware_inventory.py script had the ability to filter down hosts based on "host_filters". Please implement a similar feature into the vmware_vm_inventory plugin.

[2019-12-05 20:16] Thulium-Drake opened #65572 "Sysctl module should add {{ ansible_managed }} to managed files"
##### SUMMARY

When changing sysctl parameters with the sysctl module, this will create new files or edit existing ones. However, these files are not marked with {{ ansible_managed }} to discourage local edits.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

sysctl
##### ADDITIONAL INFORMATION

I feel that all files that are touched/managed by Ansible should contain a notice, discouraging

[2019-12-05 20:31] perzizzle commented on #54054
I have a working local module that adds this functionality. Basically just adds another input parameter of ttl that has a default value of None and then update update_session function to pass this value in.

Is there a desire to have this available in the open source module?

[2019-12-05 20:42] #65121 closed, assigned to nobody

[2019-12-05 20:42] OscarBell commented on #65393
@Akasurde I've verified that PR and it doesn't work for me.
It looks like the fix will only be triggered if `self._task.async_val > 0` which is not the case if I debug my simple playbook with the remote_src copy module task.

[2019-12-05 20:48] sivel commented on #65393
Interesting, this issue was the one I used to verify that the PR in question does in fact work.

When I test the reproducer in this issue, it successfully removes the temporary directory.

The logic in that PR states to remove the tmpdir if not using async, or if `force=True`.

If that PR does not resolve your issue, than I have not been able to reproduce your specific problem.

[2019-12-05 21:12] OscarBell commented on #65393
@sivel. Hi I've retested and this time did a checkout of the PR in the latest development code instead of manually adding the modified lines.
This time when I execute my playbook, the directory is removed for the copy:remote_src task.
So yes your PR is working.
I'm not sure why the code is now working because the lines that are different are exactly the same as the ones I manually added but never

[2019-12-05 21:15] kbreit commented on #65342
@jvanderaa I may update the scenario guide to talk about how to do something like this. If I write a sample playbook, would you test it to make sure it does what you'd expect?

[2019-12-05 21:24] vvaldez opened #65577 "tower_workflow_template does not configure a workflow from a valid schema file"
##### SUMMARY
Module `tower_workflow_template` does not build workflow from schema file

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-tower
tower_workflow_template

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux Server release 7.7 (Maipo)

##### STEPS TO REPRODUCE
Given schema file:
[code]

Using a task such as:

[code]

Result:

[code]

Seems to compl

[2019-12-05 21:27] jborean93 commented on #63282
Fixed by https://github.com/ansible/ansible/pull/65438

[2019-12-05 21:27] #63282 closed, assigned to nobody

[2019-12-06 00:00] jborean93 commented on #65249
Looks like there was a bug introduced in Ansible 2.9 that added the `user` attribute to the logging root formatter. This causes the issue you see here and I've opened a PR to fix this up at https://github.com/ansible/ansible/pull/65582.

As for a workaround, the best bet is to either disable logging for now (by not setting [DEFAULT_LOG_PATH](https://docs.ansible.com/ansible/latest/reference_append

[2019-12-06 00:01] #42696 closed, assigned to nobody

[2019-12-06 00:01] #50569 closed, assigned to nobody

[2019-12-06 00:01] #56712 closed, assigned to nobody

[2019-12-06 00:01] #63018 closed, assigned to nobody

[2019-12-06 00:14] goniomdq commented on #47147
I tried gather_subset = !facter but still no luck.
In my case, the playbook only hangs when using -k (i.e. password authentication instead of ssh-keys).
Please let me know if I can provide any additional information while I can 100% reproduce the issue.
Thanks

[2019-12-06 00:34] tmiller02 commented on #56243
I seem to also be having this issue with Ansible 2.9.2 and Python 3.6.8 running on CentOS 8.

In my case I am seeing the same error message when attempting to template a file on a vagrant mount, ie a `vboxsf` filesystem, one of the 'special' SELinuxfs file systems already defined in `DEFAULT_SELINUX_SPECIAL_FS`.

I've had a bit of a look into this, my suspicion is that the [is_special_selinux_path

[2019-12-06 00:41] jvanderaa commented on #65342
Sure thing. I still have it on my to do list to get a PR in about the requirements in the documentation if you don't beat me to it. I had a touch of rework to get done this week.

[2019-12-06 01:38] jborean93 commented on #65556
Looks like this is a problem with the shared util we introduced in 2.9 that is used by both `win_get_url` and `win_uri`. I've fixed it in https://github.com/ansible/ansible/pull/65584 and will create the backport PR for 2.9.3. Thanks for reporting the issue.

[2019-12-06 01:47] #65556 closed, assigned to nobody

[2019-12-06 03:13] haiyuazhang commented on #65316
@nicolaibaralmueller
Yes there is major change of the return value structure between "the old facts" and "the new info" module.  There is no "roll back case" here, since the new and old return value structure are both supported via the "new info module" and the "old facts module" respectively.

[2019-12-06 03:19] Fred-sun commented on #65316
@nicolaibaralmueller It won't change. Maybe we can close the problem. Thank you very much!

[2019-12-06 03:28] #64634 closed, assigned to nobody

[2019-12-06 03:36] quxiaotong opened #65589 "gunicore gevent ansible shutting down"
my project is django2.2 ,python3.6.5, ansible 2.7.10， gunicorn 19.9.0。
I transfer ansible‘api through python,
when gunicorn is running on gevent mode，ansible‘s error_log is "Parent changed, shutting down",
but when gunicorn is running on sync mode，ansible is OK.
what are about the question？

[2019-12-06 03:42] ganeshrn commented on #64634
Merged to devel. Baclport PR raised for stable-2.9 https://github.com/ansible/ansible/pull/65588.
Fix will be available in the next minor version release of Ansible 2.9

[2019-12-06 03:46] hiyokotaisa opened #65590 "Add pywinrm version detail on message encryption over HTTP"
##### SUMMARY
We did not mention about the pywinrm version regarding message encryption over HTTP In the following document.
https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/user_guide/windows_winrm.rst#winrm-encryption

So I suggest explaining that HTTP encryption needs pywinrm 0.3.0 or higher version.
https://github.com/diyan/pywinrm/blob/master/CHANGELOG.md#version-030

##### ISSU

[2019-12-06 05:26] prasadkatti opened #65592 "Cloudformation returns `changed: false` after updating `termination_protection` of a stack"
##### SUMMARY
When the `termination_protection` value of a stack is changed using the `cloudformation` module, one would expect the module to exit with `changed: true`. But the module exits with `changed: false`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`cloudformation`

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE
1. Create stack with `termination_protection: no`.
2. Update

[2019-12-06 06:01] Akasurde commented on #65537
@vgprash24 I am able to reproduce this only if I install `pysnow==0.7.12`. Please check you environment. Since rbw/pysnow#137 is merged, you can install `pysnow==0.7.13` which is release Dec 6, 2019.

needs_info

[2019-12-06 06:08] Akasurde commented on #64408
resolved_by_pr #65509

[2019-12-06 06:08] Akasurde commented on #64408
@john-westcott-iv, Could you please check PR #65509 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-06 06:24] spkishoree opened #65595 "$ symbol not accepting as Extra vars . Extra Vars Issue"
##### SUMMARY
While passing extra vars to execute a playbook '$' symbol was not accepting.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
2.9
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS
``

[2019-12-06 07:24] Fred-sun commented on #65563
@renskewierda Thank you for taking the time to report this problem, I will confirm his function and whether it is retained. Thank you very much!

[2019-12-06 07:26] rnsc commented on #65556
@jborean93 Thank you for the prompt reaction and backport!

[2019-12-06 07:26] Fred-sun commented on #65563
@haiyuazhang Please help take a look this issue? Should I keep this? I don't see 'StandardSSD_LRS' on the azure API either. Thank you very much!

[2019-12-06 07:56] nicolaibaralmueller commented on #65316
@Fred-sun Thanks for the info. I hope module changes will be added to ansible version porting guide in the future. Closing

[2019-12-06 07:56] #65316 closed, assigned to nobody

[2019-12-06 08:14] Fred-sun commented on #65316
@nicolaibaralmueller Good idea. It should be done.

[2019-12-06 08:18] NilashishC opened #65598 "Document Network Resource Module States"
##### SUMMARY
- We need a consolidated document that describes how the newly introduced `states` in the Network Resource Modules work.
- Since the behaviour of these states is consistent across all resource modules for all the supported platforms, we can have one single document and add a link to this document in all the individual RMs.
- States that need to be documented:
  (a) merged
  (b) repla

[2019-12-06 08:43] renxulei opened #65599 "redfish_command - Manager - ClearSessions"
##### SUMMARY

This feature would implement a ClearSessions command for the Sessions category of redfish_command, to clear all active sessions.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

redfish_command.py
redfish_utils.py

##### ADDITIONAL INFORMATION

This command would help user to clear all active sessions.

[code]

[2019-12-06 09:16] D3DeFi commented on #64819
Thanks for noticing @nerijus . So far it is showing only for devel version:
https://docs.ansible.com/ansible/devel/modules/zabbix_host_module.html

Backport, that should fix 'latest' documentation and not just devel, opened in #65602

[2019-12-06 09:50] bbaassssiiee commented on #65179
[code]

[2019-12-06 09:56] bbaassssiiee commented on #65179
[code]

[2019-12-06 09:58] jborean93 commented on #65179
We can see see that when trying to run the command manually it is failing due to a shared library not being present. This isn't an Ansible issue but an install of that package unrelated to Ansible.

In saying that we should expose the stdout/stderr so this is easier for people to pick up when running `ansible-galaxy install` so I am going to keep this open until that is fixed.

[2019-12-06 10:29] mgsaranraj87 commented on #63376
@sky-joker  Thanks for the sharing the playbook. Please find the below result.

(ansible)[root@ansibleserver ansible]# bin/ansible-playbook dvswitch.yml
PLAY [Gather dvs portgroup infomation] ***********************************************************************************************************************

TASK [vmware_dvs_portgroup_info] ******************************************************

[2019-12-06 10:29] bbaassssiiee commented on #65179
This is set in my environment by SoftwareTools
[code]

[code]

[2019-12-06 10:46] jborean93 commented on #65179
I can't help you with this as it isn't related to Ansible. To get this working you need to get a simple git clone command outside of Ansible to work before using `ansible-galaxy role install`.

[2019-12-06 10:48] bbaassssiiee commented on #65179
https://bugzilla.redhat.com/show_bug.cgi?id=1780549

[2019-12-06 10:49] #65179 closed, assigned to nobody

[2019-12-06 10:53] bbaassssiiee commented on #65179
## Workaround
[code]

[2019-12-06 11:31] trondhindenes commented on #47707
I would love to see some movement here, we desperately need a more efficient way of communicating with Windows from Ansible.

[2019-12-06 11:36] vcube-asnsible commented on #64456
Hello team,

have you found a solution for this issue?

I am experiencing the same issue as @necouchman using vmware_guest_network module. When I try to change the network associated with a different interface nothing happens.

Ansible version: 2.9.1
Python version: 2.7.5

Example Plabook: Change Network adapter 3 port group name from "FE_1" to "FE_5"

- name: Change network adapter settings of vi

[2019-12-06 11:43] #64560 closed, assigned to nobody

[2019-12-06 12:18] nikolaykanov commented on #65324
Thanks to https://github.com/ansible/ansible/issues/56260 I figured out that my user need console access - even though I could already ssh and run pretty much everything in the console. Perhaps this is all because I'm new to NetApp and lack the knowledge.
Anyway, it would be nice to add console access as a requirement in the module description.

[2019-12-06 13:02] rrey commented on #65560
@Benjamin-Riefenstahl-mecom what is your Grafana version ?

[2019-12-06 14:04] sudoerss commented on #65444
I have the same problème with ansible 2.9.2

[2019-12-06 14:18] ccbenny commented on #65560
Currently 3.0.4-1464167 .  I am in the process of upgrading, but before I do that, I want to be able to reproduce the current deployment.

Anyway, I do not think the module even gets that far, does it?  I do not see anything in Grafana's logs and the datasource is not added.

[2019-12-06 14:49] DevFinGitGovSecChatOps opened #65611 "[vmware_guest] windows: add support for autounattend.xml / floppy"
##### SUMMARY

To create a windows template, an autounattend.xml file is needed. Usually it is provided with a floppy drive. Since there is no support for floppy drives in this module, there should be one. Optionally a method to directly specify an xml file could be implemented.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

vmware_guest

##### ADDITIONAL INFORMATION

This feature would b

[2019-12-06 14:58] DevFinGovSecOps commented on #65611
Seems like there has been some discussion on this some time ago - but without a solution:
https://meetbot.fedoraproject.org/ansible-vmware/2018-02-05/ansible_vmware_working_group_meeting.2018-02-05-15.59.log.html

[2019-12-06 15:00] DevFinGovSecOps commented on #65611
Maybe a related issue: https://github.com/ansible/ansible/issues/35665

[2019-12-06 15:22] carchi8py commented on #65324
Could you add an issue to the ontap collection here
https://github.com/ansible-collections/ansible_collections_netapp We are doing all future work on ansible ontap module here.

[2019-12-06 15:25] ccbenny commented on #65560
Forget what I said, it looks like the code that fails is massaging the response it gets for asking Grafana for an existing datasource with the name.  I may have been wrong about "datasource is not added", it may indeed have already existed from earlier tests that used the "uri" module.  I am not in the office at this time, so I can only do limited investigation.

[2019-12-06 15:45] AlexZzz commented on #23103
`lldp.eno1.unknown-tlvs.unknown-tlv=01
lldp.eno1.unknown-tlvs.unknown-tlv.oui=00,01,42`
It fails to parse the second line, because there's lldp.eno1.unknown-tlvs.unknown-tlv with string "01" already, so it's impossible to add dict.
It looks like this module is really buggy. If we have more than one TLV with the same name, but different values, they will be overwritten by this module.
We're going t

[2019-12-06 15:50] sivel commented on #65595
Duplicate of https://github.com/ansible/ansible/issues/65562

[2019-12-06 15:50] #65595 closed, assigned to nobody

[2019-12-06 15:52] AlanCoding commented on #65577
The given example does a lookup from a file for this parameter, not passing in a file path like what you are doing here. If you still have trouble, this is no longer being maintained here, but was moved to https://galaxy.ansible.com/awx/awx as a collection, and you can file issues at the new location in the respective issue tracker.

close_me

[2019-12-06 15:56] #65577 closed, assigned to nobody

[2019-12-06 15:57] sivel commented on #65589
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-12-06 15:57] #65589 closed, assigned to nobody

[2019-12-06 16:00] sivel commented on #65548
You have shown that the var is unset, but your when statement isn't written to do what you want.

Your `when` statement says to run the task when the variable is undefined.

You instead want:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-12-06 16:00] #65548 closed, assigned to nobody

[2019-12-06 16:23] Udayendu commented on #63376
@sky-joker
I tested it with ansible 2.9 and its working perfectly with nsx-v.
So this BZ can be closed.

Thanks alot for you help :)

[2019-12-06 16:23] #63376 closed, assigned to nobody

[2019-12-06 16:37] aldobongio opened #65613 "sns_topic: add support to tags"
##### SUMMARY
The `sns_topic` module should include a `tags` parameter for attaching AWS tags

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
module/sns_topic

##### ADDITIONAL INFORMATION
Other AWS modules such as `ec2` and `s3_bucket` include parameters (respectively `instance_tags` and `tags`) for attaching AWS tags.

[code]

[2019-12-06 17:04] ftntcorecse commented on #65444
@Sethueha The hotfix is with the plugin httpapi file, so it is buried in the python runtime "dist-packages" folder on your server. You'll have to clone the PR branch, get the file, and copy it to the proper location within your ansible python folder (ansible/plugins/httpapi/fortimanager.py).

In my experience the folder for python is usually under /usr/local or /usr/lib. Use "find /usr -name "fort

[2019-12-06 17:06] ftntcorecse commented on #65444
@sudoerss Thanks for the input. The aforementioned hotfix should apply to 2.9.2 as well.

[2019-12-06 17:07] tmiller02 commented on #56243
One workaround for this issue seems to be to ensure that the destination file already exists before using the 'template' module, eg:

[code]

This seems to work for me with both `vboxsf` and `nfs` mount types.

I suspect one other workaround to investigate could be to try running ansible using python 2 if your operating system still has that available.

[2019-12-06 17:58] sivel commented on #65087
I wonder if instead we should do something like the following  branch:

https://github.com/ansible/ansible/compare/devel...sivel:base-parser-constructor

That branch splits `AnsibleConstructor` and `AnsibleLoader` up to create `AnsibleBaseConstructor` and `AnsibleBaseLoader`, where the Base classes can operate without `ansible.constants`.  This was just a quick PoC, so there might be something els

[2019-12-06 18:11] sky-joker commented on #63376
Thank you @Udayendu for the confirmed :)

[2019-12-06 18:17] sky-joker commented on #63376
@mgsaranraj87
Could you please create an issue separately from this issue?

[2019-12-06 18:33] vvaldez commented on #65577
@AlanCoding Thank you, that worked.

[2019-12-06 19:25] gibsonje commented on #30229
December 2019 I'm repeatedly seeing this issue. All other AWS modules are not giving me rate limit errors. I upgraded to ansible 2.9.0 and using the **throttle** keyword no other parts of my playbook are giving rate limit errors. However, this **ec2_elb** module _very frequently_ does. I've had to try a lot of adjustments and retries to get this to reliably work.

I can only assume my other module

[2019-12-06 20:06] #65249 closed, assigned to jborean93

[2019-12-06 20:23] #64096 closed, assigned to Akasurde

[2019-12-06 21:44] fbruetting commented on #63314
Ok, I understand your view, but the markup with the horizontal bars totally change that and cause a misleading perception – which is bad when people then take wrong paths at error-search. Maybe you may halt all play-related warnings and flush them after the play header if that is really necessary. Would really improve UX! :)

[2019-12-06 22:29] #65393 closed, assigned to nobody

[2019-12-06 22:29] #65277 closed, assigned to nobody

[2019-12-06 22:43] prasadkatti commented on #36313
This is fixed in #65275 and should be closed.

[2019-12-06 22:51] bengaywins opened #65621 "win_stat isdir invalid attribute when path does not exist"
##### SUMMARY
isdir on win_stat module fails with `'dict object' has no attribute 'isdir'` if the path does not exist.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_stat

##### ANSIBLE VERSION
[code]
I have also tested in 2.10 with the same results.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Source: macOS (catalina) or rhel7
target: win2012r2 in AWS

##### STEPS TO REPRODUCE
U

[2019-12-06 22:59] jborean93 commented on #65621
This isn't a bug, both `stat` and `win_stat` only return `exists` on paths that don't exist. Even the documentation for both state that it is only returned if the path exists

<img width="601" alt="image" src="https://user-images.githubusercontent.com/8462645/70362040-56190a80-18cf-11ea-9ed6-7b06151f8f8a.png">

You have 2 options for this

* Use default to default the default as False so that the

[2019-12-06 22:59] #65621 closed, assigned to nobody

[2019-12-06 23:41] silverdr commented on #65290
Hi, and thank you for having a look at the issue! Targeting wrong host does not affect the problem. This minimal test case shows it already. As I no longer have an easy way of downgrading (I checked but homebrew does not provide earlier versions so I'd need to build it myself, which is possible but not a five minutes job) I started another machine where I have Ubuntu 18.10 with older ansible versi

[2019-12-06 23:45] jborean93 commented on #65290
Is there anything when you run `ansible-config dump --only-changed`. We've seen weird issues with installing Ansible with homebrew before, try installing it with pip and run it that way to run out some homebrew packaging issue. Make sure you use pip for the homebrew Python, or another custom python and not the builtin system python at `/usr/bin/python`

[2019-12-07 04:22] dhoer commented on #36395
Does this solution work? https://stackoverflow.com/a/55459494

[2019-12-07 06:04] #64408 closed, assigned to Akasurde

[2019-12-07 07:51] jaschaio opened #65623 "digital_ocean_block_storage support volume resizing"
##### SUMMARY
Would be nice if the digital_ocean_block_storage module would support resizing of volumes as well.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
digital_ocean_block_storage

##### ADDITIONAL INFORMATION
Currently if a volume with a given name exists but the size is different nothing else happens. It would be great if the module would check if the volume size is different as

[2019-12-07 12:12] rrey commented on #65560
ok. Grafana 3.x is a bit too old. We struggle to keep the pace to have the modules working with latest versions.

[2019-12-07 13:36] ccbenny commented on #65560
Rémi REY writes:

Ok.  You may want to note which versions your are supporting in the
module documentation on the website.

[2019-12-07 14:31] engin commented on #46310
Unsetting environment variable `ANSIBLE_VAULT_PASSWORD_FILE` helped as well. using ansible version `2.9.1`

[2019-12-07 14:52] rogozind opened #65627 "Add Lifecycle policy support for EFS"
##### SUMMARY
EFS supports life cycle policy to move files into cold storage. I cannot find any way to set it in EFS Ansible module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
efs

##### ADDITIONAL INFORMATION
It will allow to setup life cycle policy for EFS on EFS creation. Right now I have to follow up with an API call to set it up.

[2019-12-07 23:35] vrevelas commented on #18782
Reading #15523 It looks like aborting on unreachable hosts used to be how Ansible behaved in v1. It was then changed to ignore unreachable hosts in v2, reverted to failing in 2.2, and then changed to ignore again in 2.4.

Although the suggested workaround of asserting `ansible_play_hosts == ansible_play_hosts_all` works for a single task, it's not practical for playbooks that contain many tasks an

[2019-12-08 00:08] likan999 opened #65628 "Detection of python interpreter is broken w.r.t. delegate_to and loop"
##### SUMMARY

I observe very weird and inconsistent behavior how ansible detects Python interpreter (probably other interpreters as well) when it comes to delegate_to and loop.

Some of my digging shows that it is related to Python interpreter detection, which is triggered by the absent of an internal variable in facts. I believe loop or delegate_to handle facts incorrectly, thus the internal var

[2019-12-08 06:20] V-know commented on #33974
Got the same issue on ansible 2.7.2

[2019-12-08 11:11] MadDog2K commented on #61017
Hi @ganeshrn , any update on this ?
Do you need more info from me ?

[2019-12-08 13:19] MatthiasLohr commented on #61546
Anything new here?

[2019-12-08 14:09] bmillemathias commented on #38254
This bug should be closed

[2019-12-08 14:16] bmillemathias opened #65636 "[get_url] argument sha256sum declared deprecated without target version"
### SUMMARY
[code]

There is no `module.deprecate` either for `sha256sum`.

the argument has been declared deprecated in commit b3b11fbce26 (2017)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
get_url

* ansible version: 2.10

[2019-12-08 15:04] felixfontein opened #65639 "openssh_keypair and openssl_privatekey: make idempotence configurable"
##### SUMMARY
We had several discussions in the past about the behavior modules like openssh_keypair and openssl_privatekey should have when they encounter something not meeting the specified module options. (References: #53535, #32038, #65638 resp. the [meeting log](https://meetbot.fedoraproject.org/ansible-meeting/2019-12-05/ansible_core_public_irc_meeting_https:github.comansiblecommunityissues5

[2019-12-08 15:04] felixfontein commented on #65639
I would prefer if it is possible to configure the behavior of `openssh_keypair` and `openssl_privatekey` similarly to `docker_volume`. (Currently independent of how the default of the new option will look like - I always prefer backwards compatibility, but I can live with changes as long as I can set this option to whatever value I prefer.)

I can think of the following cases (which would correspo

[2019-12-08 17:37] cove opened #65641 "Unable to unsubscribe from ansible bot notices"
##### SUMMARY
I don’t see how to unsubscribe from ansible bot notices. The docs say to submit a PR to this file: https://github.com/ansible/ansible/blob/devel/.github/BOTMETA.yml

However I’m not listed in it, but notices like this one show me listed:
https://github.com/ansible/ansible/issues/65602#issuecomment-562499594

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Ansible bot

##### ANSI

[2019-12-08 18:07] bmillemathias commented on #63810
my 2 cents as ansible user who had to jump between jinja2 and ansible.
* jinja2 documentation does not includes all filters, flatten is one of them.
* most ansible example does not provide most of the time the results of the filters example (perhaps on purpose assuming the user would run example by themself).

first point should reported to jinja2 I think
second point would perhaps help figure out

[2019-12-08 18:24] bmillemathias commented on #65486
So I think this is safe to close this issue now.
could you do that @felixfontein ?

[2019-12-08 20:04] #65486 closed, assigned to nobody

[2019-12-08 20:22] felixfontein commented on #63553
The PR now allows to get the resulting object from the module return values, and allows to pass in non-primary objects by content (i.e. directly). For the primary object (i.e. the object the module operates on), this won't be possible anytime soon - that would require new modules with a new interface.

[2019-12-08 21:19] forestoden commented on #65003
bump

!component +lib/ansible/modules/network/fortios/fortios_vpn_ipsec_phase1_interface

[2019-12-08 23:19] thessell commented on #57062
@samdoran is this a "won't fix"? In our case, we have been putting down our custom release file for a number of years. It has only become an issue now due to Ansible's change in behaviour with the `distro` package.

[2019-12-08 23:53] kovkev opened #65644 "postgresql_user does not set the password properly"
##### SUMMARY

This json gets converted to YAML. I set a user=tgkj, password=tgkj
[code]
[code]

I also tried setting "password: 'tgkj'" in the task. That didn't work either

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
postgresql_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
See above.

##### EXPECTED RESULTS
I exp

[2019-12-08 23:55] kovkev commented on #65644
I also get a failure when trying to authenticate specifically for the tgkj database
[code]

[2019-12-08 23:55] kovkev commented on #65644
Well, I had to specify the host.... Odd.
[code]

[2019-12-08 23:55] #65644 closed, assigned to nobody

[2019-12-09 00:08] vahriin commented on #28382
@felixfontein it seems not so. I tried to do as follows:
[code]
but I still get the same error.

[2019-12-09 01:58] Lekensteyn opened #65645 "lineinfile: do not append on non-matching regexp pattern"
##### SUMMARY
The [lineinfile](https://docs.ansible.com/ansible/latest/modules/lineinfile_module.html) module is used to ensure that a line is in a file. Unfortunately, when none of the provided patterns (`regexp`, `insertafter`, `insertbefore`) match, the line will be appended to the end of the file. This is problematic if the context of the regexp was important.

I hope that the an option can be

[2019-12-09 02:48] DWSR commented on #55393
Hi, just ran into this on 2.9, which was really jarring. The way you can work around this is by using a dummy play that gathers facts, then setting `gather_facts: false` on all remaining plays. For example:

[code]

@sivel It looks like #53978 will fix this problem, but this isn't strictly a duplicate since #53978 seems to address a wider range of cases. However, that PR seems to be stalled on fig

[2019-12-09 04:00] Akasurde commented on #65641
@cove Thanks for reporting this issue. You are the author of the given modules mentioned in PR #65602. If you want to ignore yourself from every Zabbix module then you can add an entry like -

[code]

and in the rest of file. Let me know if you need any help.

[2019-12-09 04:01] Akasurde commented on #65641
!component =.github/BOTMETA.yml

[2019-12-09 05:19] felixfontein commented on #28382
@vahriin thanks for testing! Looks like I forgot that the code is still trying to get hold of the networks before doing anything else, and that part is not working. The container startup code itself (with these options) should now work, but it only comes up later...

[2019-12-09 06:30] nikolaykanov commented on #65324
I've created https://github.com/ansible-collections/ansible_collections_netapp/issues/22 to improve documentation. Closing this one.

[2019-12-09 06:30] #65324 closed, assigned to nobody

[2019-12-09 06:55] mgsaranraj87 commented on #65409
@sky-joker : i have created new issue , as similar to https://github.com/ansible/ansible/issues/63376.

Please check and let me know if your required any details.

[2019-12-09 06:57] mgsaranraj87 commented on #63376
i Have created a new issue. Please check and let me know if you required any details.

https://github.com/ansible/ansible/issues/65409

Thanks

[2019-12-09 07:29] Udayendu opened #65648 "VMware: No URL parameter for 'vmware_deploy_ovf' module."
#### SUMMARY
No option to specify URL based http link to OVA in vmware_deploy_ovf module.

##### ISSUE TYPE
- Currently only Path to OVF or OVA file to deploy is supported
- But VMware supports both absolute path and URL based deployment. Hence some option should be there to pass the URL for the deployment. So that manually no need to download the file on the system.

##### COMPONENT NAME
vmware_d

[2019-12-09 07:38] Udayendu commented on #65648
Not necessarily but it may require an additional `ova_storage` parameter to download the OVA in the provision server and then start the deployment. So the playbook may look like:

[code]

And depending on space customer should define this location.

[2019-12-09 08:01] TvL2386 commented on #62740
I'm very happy with the fix and would like to see it merged

[2019-12-09 08:17] Udayendu commented on #65409
@mgsaranraj87

Could you please test the following scenario:

a. Deploy the OVA using a standard vSwitch
b. Deploy using a dvSwitch (non NSX based)

#### Playbook Modification:

c. Try to deploy using the switch value directly as you are doing currently:

[code]

d. Then try to deploy it using a variable:

[code]

Try to deploy the OVA using both [a] and [b] through [c] and [d] procedure. And if t

[2019-12-09 08:20] Udayendu commented on #65409
BTW, the below is not looking like a correct syntax:

[code]

Can you change 'Network 1' to 'VM Network':

[code]

And try to deploy.

[2019-12-09 08:42] mgsaranraj87 commented on #65409
@Udayendu : I have tried this method before , still i got the same error.

@Udayendu: I have tried this method before and i still get the same error.

[2019-12-09 09:02] Akasurde commented on #64144
needs_info

[2019-12-09 09:48] Akasurde opened #65650 "Disable Fedora 31 tests temporarily"
##### SUMMARY
Fedora 31 tests are failing -

- https://app.shippable.com/github/ansible/ansible/runs/153090/112/console
- https://app.shippable.com/github/ansible/ansible/runs/153073/112/console
- https://app.shippable.com/github/ansible/ansible/runs/153093/112/console
- https://app.shippable.com/github/ansible/ansible/runs/153124/112/console

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
te

[2019-12-09 09:50] Fred-sun commented on #63927
@haiyuazhang Would you please help take a look this issue? azure_rm_sqldatabase ignores edition variable during create database. Thank you very much!

[2019-12-09 09:56] TPXP commented on #59206
Hello there, had the same issue here and I confirm PR #59207 fixes it. Please merge it 🙏

[2019-12-09 10:18] Timoses commented on #65190
@mnecas

I tried it once more. I added the following to https://github.com/ansible/ansible/blob/v2.9.2/lib/ansible/modules/cloud/ovirt/ovirt_nic.py#L261 :
[code]
Result:
[code]

I'm not sure why the `dcs` do not contain any clusters. Is that intended?
It looks like `dcs = dcs_service.list(search='Clusters.name=%s' % cluster_name)` returns all datacenters.

Bug in ovirt SDK? Something else happenin

[2019-12-09 10:22] sbaygithub commented on #65548
@sivel That's right my goal is to run a task which runs only if the variable is undefined.
I've forgotten to mention that, the variable was not set in role defaults or anywhere but the task was normally executed which is not the expected behaviour.

I've now use the following as recommended:
`when: var is defined `

In my eyes the following check seems be useless because its not working. Maybe it

[2019-12-09 10:26] #64595 closed, assigned to nobody

[2019-12-09 11:00] Akasurde commented on #55286
resolved_by_pr https://github.com/ansible/ansible/pull/65509

[2019-12-09 11:11] stephenpaynter commented on #65332
Do we have a timeframe for this fix?

[2019-12-09 11:13] subashp91 opened #65652 "aws_s3 module: permission inherit from bucket policy must be there"
### aws_s3 module:
I'm writing an object in S3 through aws_s3 module and by default ansible tries to set the permission when the object is getting uploaded which makes the play failure. Since I dont have the putObjectAcl permission for the S3 bucket, I'm getting the error.

I have only the below permission for the S3 bucket.
**putObject, getObject, listObject.**

I would suggest ansible must have

[2019-12-09 12:37] wisotzky opened #65655 "NETCONF connections/plugins require rework to support collections"
##### SUMMARY
Ansible platform contains some hard coded behaviour that blocks making NETCONF plugins pluggable using Collections (Galaxy).

Detailed issues:
1. NETCONF connection plugin contains a dictionary called `NETWORK_OS_DEVICE_PARAM_MAP` that translates from `ansible_network_os` to name of the ncclient device_handler. If adding a new networking OS using collections, it is rather unclear how

[2019-12-09 12:41] wisotzky commented on #65655
@ganeshrn, please have a look into the above. It would be good to understand how this is supposed to work. If you have a collection that contains a NETCONF plugin this would be great thing to share - however, I've checked on Galaxy and did not found any.
You might use the code from collection `nokia.sros.sros` as a reference. Please let me know, if this is something that would be fixed in a Ansibl

[2019-12-09 12:57] ramon-garcia commented on #49874
ping.

Is there any way I can help with testing?

Perhaps placing a virtual machine in a public cloud?

[2019-12-09 14:11] sky-joker commented on #65409
@mgsaranraj87

Looking at the following results, the port group name contains an asterisk.

[code]

Can you please try deploying ova with the following change.

[code]

Network 1 is the port group name when creating ova.

[2019-12-09 14:33] valpenguin commented on #56023
Ooops, also applies to version 2.9.1 👎

[2019-12-09 14:50] robertdebock opened #65659 "Module pamd fails on files with an authselect condition in it."
##### SUMMARY
The `pamd` module fails when this pattern is found in a managed file:

[code]

Conditions like these can be found in files that `authselect` uses.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
pamd

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Control node: Mac OS X
Managed node: RHEL 8

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESUL

[2019-12-09 14:54] robertdebock commented on #65659
We have worked around the issue by modifying `pamd.py`:

[code]

[2019-12-09 15:19] benjdudas opened #65660 "nxos_hsrp module will throw KeyError depending on NXOS version"
##### SUMMARY

Depending on the NXOS version the key "sh_keystring_attr" may not be returned with `show hsrp group <id#> all | json`. This value gets parsed/mapped to `auth_enc` and if this is not present will cause this KeyError at:

https://github.com/ansible/ansible/blob/04d32c503f3214985b5da4ce20504504a0b5dfbc/lib/ansible/modules/network/nxos/nxos_hsrp.py#L217

##### ISSUE TYPE
- Bug Report

#

[2019-12-09 15:56] pabelanger opened #65661 "ansible-galaxy publish timeout / retry option"
##### SUMMARY

While testing publishing collections to a local galaxy server, I was exposed to the following error:

[code]

There currently doesn't appear to be a way to increase the 'timeout' value on the client side, or how long to wait until galaxy response.

Another option, would be to introduce a retry flag in ansible-galaxy.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBL

[2019-12-09 16:18] vvanouytsel opened #65662 "gitlab modules: got an unexpected keyword argument 'password'"
##### SUMMARY

When using the gitlab_hook/gitlab_project module a python stacktrace is returned. The stacktrace claims that an unexpected keyword argument (password) has been passed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gitlab_hook
gitlab_project

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

Use one of the ex

[2019-12-09 16:21] Akasurde commented on #57732
Closing this as PR #58327 merged. @jjh74 Thanks for the contribution.

[2019-12-09 16:21] #57732 closed, assigned to nobody

[2019-12-09 16:22] #65662 closed, assigned to nobody

[2019-12-09 16:35] nervo opened #65664 "ansible-galaxy set user only permissions on installed connections"
##### SUMMARY
When ansible collections are installed in path `/usr/share/ansible/collections` (which is in the allowed paths as seen on https://docs.ansible.com/ansible/latest/reference_appendices/config.html#collections-paths), all files has user only permissions.

Note that with such permissions, nobody but `root` can use collections, although  installing them in `/usr/share` should mean that ev

[2019-12-09 17:03] philipsd6 commented on #49284
I've reproduced this in the latest AWX 9.0.1 (using Ansible 2.10.0.dev0) with a playbook using tasks like this:

[code]

The _second_ `unarchive` fails with:
`UnarchiveError: Cannot change group ownership of test-playbook-0.0.1/ to root, as user awx`

[2019-12-09 17:19] samdoran commented on #65650
I have not been able to reproduce this locally. Running just the `yum` works fine, so my next thought was it was a problem with test interaction. I also don't see the failure when running the entire test group locally, so I'm not sure what to make of this.

[2019-12-09 18:07] robbat2 commented on #33147
@favoyang DigitalOcean Spaces supports SSE only the SSE-C mode. The SSE-KMS & SSE-S3 modes are NOT supported.

You need to pass `encryption_mode: AES256`. I don't have an clear examples available on how to pass the SSE-C keys yourself in Ansible.

[2019-12-09 18:16] devourerOfBits80 commented on #64682
Ok. I see that nothing happen with this issue, so a few days ago I decided to write a completely new module, that is responsible for managing packages from the official repositories together with support for the AUR. It is completely insensitive to user localization and I hope that it should be quite friendly.

If anyone of you wants to use it, here is the link to the repository: [https://github.c

[2019-12-09 18:52] sivel commented on #65648
Duplicate of https://github.com/ansible/ansible/issues/42666

[2019-12-09 18:52] #65648 closed, assigned to nobody

[2019-12-09 19:15] geerlingguy commented on #65440
Option two seems the most flexible, and doesn't restrict options like having multiple private galaxy servers, plus Automation Hub, plus Galaxy as the final fallback. I just fear it could make operations a lot slower than they already are (especially since role installs are serial, and there are many playbooks with a dozen or more roles).

Maybe default to option two but allow configuration to say

[2019-12-09 19:21] pabelanger commented on #65440
I like option 2, as this is how collections work today right?  You can order a list of galaxy servers, and if the collection isn't found on first, fails to 2nd, and so on.

[2019-12-09 19:22] jborean93 commented on #65440
The configuration to force the server is already there with `--server <server name>`. Option 2 needs to be implemented though.

[2019-12-09 19:27] samdoran commented on #59531
This was "fixed" in 4291f09a68e60b41339f0597bb36a2e72fa94241 by skipping this test on EL since the package is no longer available.

[2019-12-09 19:27] #59531 closed, assigned to nobody

[2019-12-09 19:30] samdoran opened #65672 "ufw integration tests fails on RHEL 8.1"
##### SUMMARY
The `ufw` integration test fails on RHEL 8.1 with the error `Failed to download metadata for repo 'epel'`. This failure is intermittent and may be an issue with an EPEL mirror that may resolve itself eventually. Currently it is failing.

https://app.shippable.com/github/ansible/ansible/runs/153175/77/console

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`/test/integration/tar

[2019-12-09 19:48] geerlingguy opened #65673 "ansible-galaxy install user experience is disastrous if you use roles and collections"
##### SUMMARY

If I create one `requirements.yml` file which lists all my Ansible dependencies for a given project, including roles and collections from Galaxy, and try to install the dependencies using `ansible-galaxy`, it results in an unexpected and unintuitive behavior.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[c

[2019-12-09 19:48] grcancelliere commented on #64682
Sorry for not answering earlier.

@milouse I think it would work fine, but I saw [another issue](https://github.com/ansible/ansible/issues/65237) was created with this exact problem, and the way the PR resolves this issue is by setting `LC_ALL` for the whole module... Between the two solutions I prefer yours.

@devourerOfBits80 Nice work! It has more features than the `pacman` module, it's more do

[2019-12-09 19:49] andrecp commented on #55216
@Akasurde  @pgbidkar I believe this is a bug in Ansible and not in vsphere. This works perfectly fine outside Ansible with the same user. Seems to be something related to having the template in a different cluster from the VM you're deploying the template from.

What kind of info do you need more?

[2019-12-09 19:50] geerlingguy commented on #65673
Aside: Having roles use the key `src`, while collections use `name`, plus the optional `source` key for a galaxy server to use as the source server, adds an additional layer of confusion.

It seems like it would make a _lot_ more sense for both to use `name` for the _name_ of the role or collection, and maybe _type_ if you really wanted to specify if it's a role or collection. As it stands, roles

[2019-12-09 19:53] samdoran opened #65674 "yum integration test failing on Fedora 31"
##### SUMMARY

`yum` tests on Fedora 31 are failing
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`test/integration/targets/yum/`
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 31

##### STEPS TO REPRODUCE

I am unable to reproduce this outside of Shippable. The test command is `ansible-test integration --docker fedora31 yum -vvv`

##### EXPECTED

[2019-12-09 20:03] geerlingguy commented on #65673
I was informed that to have a split-dependency-type requirements.yml file, I have to put roles under `roles:` and collections under `collections:`, like so:

[code]

This indeed made the `ansible-galaxy install -r requirements.yml` command execute successfully, however, there was no indication that all dependencies were _not_ installed.

Therefore, I ask / propose:

  1. Why can't `ansible-galaxy

[2019-12-09 20:05] pabelanger commented on #65673
+1

I would suggest we also version the requirements file now:

version: "2.0"
collections:
  - name: geerlingguy.php_roles
roles:
  - name: nginx.nginx

[2019-12-09 20:34] AlanCoding commented on #64734
I added https://github.com/ansible/awx/issues/5474 to cover this case

close_me

[2019-12-09 20:48] #64734 closed, assigned to nobody

[2019-12-09 22:09] ktdreyer commented on #64905
I found this ticket from https://github.com/ansible/galaxy/issues/2137

@jborean93 wrote above:

On first glance, I don't think this would be impossible, particularly if we use the code from python-semanticversion as inspiration. Here's the important regular expression (from [semantic_version/base.py](https://github.com/rbarrois/python-semanticversion/blob/da55cf15dd71a0d9a839e7507e4fc69396c8326d/

[2019-12-09 22:30] samdoran commented on #65298
I'm having trouble duplicating this, even on Fedora 31 host in a Python 3.6 virtual env.

[code]

[code]

[code]

Is there another variable in the environment that I'm missing? Can you provide the output with `-vvv`?

needs_info

[2019-12-09 22:42] mwhahaha commented on #65298
@samdoran https://gist.github.com/mwhahaha/3fb9c0fe30877e4ea58b1cb88e90630b

[2019-12-09 23:11] riyad opened #65677 "template: does not preserve (mixed) line endings"
##### SUMMARY
Using the template module with a file with mixed line endings (i.e. most lines have UNIX-style "\n", but some with DOS-style "\r\n") results in only "\n" surviving in the remote copy.

I my case it was a patch file. `patch` (the tool) refused to apply the patch (the file) because of non-matching line endings. They were correct in the file on the host, but "borked" on the remote machi

[2019-12-09 23:12] jacksonp2008 commented on #64613
Any update?

[2019-12-10 00:24] cpolizzi commented on #30036
This bug still exists, Ansible 2.8.6.

[2019-12-10 02:10] qvsdeveloper opened #65678 "Add option to return guest.hostName as ansible_host variable in plugins/inventory/vmware_vm_inventory.py should"
##### SUMMARY

Currently, in the 2.9 ansible release, the vmware_vm_inventory.py plugin always returns the guest.ipAddress as the ansible_host variable.  This is a problem for windows winrm that uses kerberos which requires FQDN.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Add an optional parameter called, host_pattern, that accepts either guest.ipAddress and guest.hostName.  if guest.h

[2019-12-10 03:32] haiyuazhang commented on #63844
@mmallet-digipok
PR #65601 has been submitted to address this issue

[2019-12-10 03:38] Fred-sun commented on #63428
@nrig837 Are you still here? Are you still concerned about this or has it been solved?

[2019-12-10 05:36] Akasurde commented on #65678
!component =lib/ansible/plugins/inventory/vmware_vm_inventory.py

[2019-12-10 05:56] #64954 closed, assigned to Akasurde

[2019-12-10 06:16] Akasurde commented on #64643
resolved_by_pr #65569

[2019-12-10 06:16] Akasurde commented on #64643
@sky-joker, Could you please check PR #65569 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-10 06:19] Akasurde commented on #65628
Duplicate of #63180

[2019-12-10 06:19] #65628 closed, assigned to nobody

[2019-12-10 06:38] pgbidkar commented on #64613
Hi @jacksonp2008 , Sorry for the delay.
I will check this and update you soon.

Thanks

[2019-12-10 07:20] mgsaranraj87 commented on #65409
@sky-joker : i have included the asterisk to make value in BOLD letters. The actual portgroup name is just "TEST_LAB_3017"

[2019-12-10 07:42] pgbidkar commented on #64613
I am able to reproduce the issue.
Will provide the fix

[2019-12-10 07:47] Sethueha opened #65682 "aruba_command module running the task but not collecting output from device"
##### SUMMARY
Im using aurba_command module to collect show commands from HP_Procurve devices. The playbook is running fine but it is not collecting the command outputs from end network device.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
<aruba_command>

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
NAME="Red Hat Enterprise Linux Server"
VERSION="7.7 (

[2019-12-10 07:50] mgsaranraj87 commented on #65409
Playbook

'''
  - name: Deploy Virtual Machine from template in content library with PowerON State
    vmware_deploy_ovf:
      hostname: '{{ vcs }}'
      username: '{{ vc_user }}'
      password: '{{ vc_pass }}'
      datacenter: "{{ vc_dc }}"
      cluster: "{{ vminfo.instance.hw_cluster }}"
      datastore: "TESTLAB-SCLU-001"
      folder: "{{ vminfo.instance.hw_folder }}"
      name: "RHEL7-l

[2019-12-10 08:05] GLaN1K commented on #52319
Same.

I think this is caused by this:
`balancing_modestring | Default:"UTILIZATION"`
`This cannot be used for internal load balancing.`

Like, there is default value which cannot be used with INTERNAL.
Also can't workaround this with None:
`fatal: [localhost]: FAILED! => {"changed": false, "msg": "value of balancing_mode must be one of: UTILIZATION, RATE, CONNECTION, got: None found in backends"}

[2019-12-10 08:11] heavenly999 commented on #52082
I have the same issue. It seems like when the access policy is created by the ansible module, the category of the principal is filled as "Unknown" instead of for example "APPLICATION". If the Category is not correct for the principal, any call from it would be denied as it wouldn't be found on the access policy list (Azure apparently checks the Category as well not just the Application/Client ID).

[2019-12-10 08:33] Vebryn commented on #49044
+1

[2019-12-10 08:34] alexppg opened #65683 "Install collections from git"
##### SUMMARY

It's possible to install collections only if they're created as artifacts in ansible-galaxy. It would be very useful to install them from git repositories.
##### ISSUE TYPE
- ansible-galaxy: install collections from git

##### COMPONENT NAME

ansible-galaxy

[2019-12-10 08:46] Akasurde commented on #65562
@spkishoree How about using `'` instead of `"`

[code]

needs_info

[2019-12-10 08:47] alexppg commented on #65683
The template doesn't have a section for the version.

[2019-12-10 08:56] pgbidkar commented on #64613
Hi @jacksonp2008 Please can you test PR https://github.com/ansible/ansible/pull/65684 and confirm it fixes issue?

Thanks

[2019-12-10 08:56] pgbidkar commented on #64613
+label has_pr

[2019-12-10 09:07] Akasurde commented on #65244
Closing this issue as PR #65419 is merged. Please feel free to open a new issue if problem persists. Thanks.

[2019-12-10 09:07] #65244 closed, assigned to nobody

[2019-12-10 10:09] manhnt9 commented on #29200
Same with ansible 2.5.1 on Ubuntu 18.04

[2019-12-10 10:14] Akasurde commented on #64567
@jrvilda Thanks for reporting this issue. You are renaming the admin user which is used by Ansible to authenticate to the given VM. And `wait_for_process: True` checks if the process is complete or not. Since the user is renamed Ansible is unable to login back to the given VM.

Please remove `wait_for_process:True` and re-try the task.

[2019-12-10 10:14] #64567 closed, assigned to Akasurde

[2019-12-10 12:06] rafal-krypa opened #65687 "get_url in check_mode reports changed status when there is nothing to change"
##### SUMMARY
When using `get_url` module with `url` argument and `dest` argument pointing to a file, running in check mode will always cause status changed even if the local file is already downloaded and identical to the remote file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
get_url

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Debian testing with ansible

[2019-12-10 12:19] torees commented on #58679
Any updates on resolve on this issue?

[2019-12-10 12:23] Akasurde commented on #65549
@jensbaitingerbosch Thanks for reporting this issue. Have you tried `validate_certs=False` in lookup call ? Thanks.

needs_info

[2019-12-10 13:13] tnias opened #65689 "sefcontext: fatal failure for socket file type"
##### SUMMARY

The sefcotext module encounters an error when trying to run with parameter
`ftype` set to `"s"` when the fcontext is already present.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

sefcontext module

lib/ansible/modules/system/sefcontext.py

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Fedora 31 WS. Also broken for CentOS 8.

##### STEPS TO REPRODUCE

Run the given

[2019-12-10 13:22] machacekondra commented on #65190
Can you please try to run following script:

[code]

Where `cluster_name` is the cluster which doesn't properly work for you (the one which return mutiple results.

`dcs ` variable contains list of datacenters, which has cluster with name `cluster_name`. The reason you didn't see any values in 'clusters' ouput in your Exception, is because it's link, so you need to use `connection.follow_link` to

[2019-12-10 13:31] jensbaitingerbosch commented on #65549
Yes, acutally I needed to fork the mentioned prometheus role to make it working by not validating the vertificate, but ignoring certificate problems is big security issue. So I'd rather have ansible trust the CA certificates that I trust in my openssl configuration (or something else, like Java has its trust store).

[2019-12-10 14:26] singhujjwal opened #65691 "azure_rm_galleryimageversion is not updating the tags"
SUMMARY
Module azure_rm_galleryimageversion does not update the tags on the image version object

ISSUE TYPE
Bug Report
COMPONENT NAME
azure_rm_galleryimageversion

ANSIBLE VERSION
====================
ansible 2.9.1
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/ujjwal/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module locat

[2019-12-10 14:56] spkishoree commented on #65562
Hi ,

I have tried '  ' .  Even that was not helpful..

Thanks,
Sp Kishore.

On Tue, Dec 10, 2019, 2:16 PM Abhijeet Kasurde <notifications@github.com>
wrote:

[2019-12-10 15:09] Akasurde commented on #65562
Could you please provide the content of `createservice.yml` and console log when you use single quote ?

Thanks.

needs_info

[2019-12-10 15:16] #62249 closed, assigned to nobody

[2019-12-10 15:32] #65293 closed, assigned to nobody

[2019-12-10 15:33] s-hertel commented on #65565
Are you setting `inventory_plugins` to your play directory? I don't think that should work otherwise, whether using `ansible-inventory` with --playbook-dir, or using `ansible-playbook`.

It does look like there is a limit of recursively checking two dirs deep, so if your real setup is 3 or more, that may be what's happening.

needs_info

[2019-12-10 15:44] mwhahaha commented on #65298
I reproduced on a f31 vm with python 3.7.

[code]

[2019-12-10 15:57] cwiech opened #65695 "sros_config taking too long to configure a single device (over 30 minutes)"
##### SUMMARY

When configuring nokia routers using the sros_config module it is taking 37 minutes to load a config with 13k lines of config.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

sros_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I am seeing similar performance problems using the following:
operating systems: OSX, linux (ubuntu 18)
sro

[2019-12-10 16:20] geerlingguy commented on #65673
FWIW, I just tested using `name` for roles and that seems to work as well as `src`. So that's nice, at least—you can have some consistency between the parameters for the two already:

[code]

I did not test this with Ansible < 2.8 though, not sure when it was possible to start using the `name` parameter for roles.

[2019-12-10 16:26] sky-joker commented on #64643
@Akasurde

LGTM :)
Thank you for dealing with this issue.

[2019-12-10 16:53] sivel commented on #65677
This has a similar cause to https://github.com/ansible/ansible/issues/64966

In python3, newlines are all translated to `\n` when reading the file.  The only way around this is to switch from using `open` to `io.open` for opening files, so that we can pass `newline=''`.  See https://docs.python.org/3/library/functions.html#open-newline-parameter

There may be additional things that would need to b

[2019-12-10 17:02] pabelanger opened #65699 "ansible-galaxy collection install --upgrade <collection>"
##### SUMMARY

Please add the ability for ansible-galaxy to upgrade an installed collection, this could be controlled via the --upgrade flag to install (this is like how pip works).

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ansible-galaxy CLI
##### ADDITIONAL INFORMATION

[code]

[2019-12-10 17:04] pabelanger commented on #65683
you can do this, build you first need to ansible-galaxy collection build . in your git repo, then use ansible-galaxy collection install foo-bar-1.0.0.tar.gz

[2019-12-10 17:05] ijunaid8989 opened #65700 "ERROR! unexpected parameter type in action: <type 'bool'>"
##### SUMMARY
When I run my playbook I get this error.

[code]

##### ISSUE TYPE
- Bug Report

Playbook is not working on latest version.

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04 LTS

##### STEPS TO REPRODUCE

[code]

https://github.com/evercam/evercam-devops/blob/master/ansible/deps/tasks/main.yml

[2019-12-10 17:06] geerlingguy commented on #65699
+1 - Though I'm 50/50 on whether to recommend `--upgrade` (how pip works) or use `ansible-galaxy collection upgrade [name]` (as this feels more like the current UX of the CLI... or maybe that's just me?).

It would also be nice if this could be used for the use case:

  1. I ran `ansible-galaxy collection install -r requirements.yml` with collections, and collection `some.thing` is version `1.2.3`

[2019-12-10 17:19] knagamin commented on #65687
I could reproduce it in devel and find that It is due to using different HTTP method with or without check mode. I think this is intended to avoid wastes.

https://github.com/ansible/ansible/blob/95aef88a45410d909fb070e8b43e0a3682d78395/lib/ansible/modules/net_tools/basics/get_url.py#L357-L360

[2019-12-10 17:21] sebastianw commented on #65565
@s-hertel No, I'm setting it actually to `inventory_plugins`: `inventory_plugins = inventory_plugins`

[2019-12-10 17:23] mnecas commented on #65550
Hi @kristvanbesien,
after the PR will be merged you can fix it for you by
- adding library folder to your playbook
- copy and renaming the fixed module to the library
- use the renamed name module as task

example (https://github.com/oVirt/ovirt-ansible-vm-infra/tree/ovirt-ansible-vm-infra-1.1)
When it will be merged I'll backport it to Ansible 2.9.x not sure in which it will be.

[2019-12-10 17:27] sivel commented on #65700
As of Ansible 2.9, `sudo` is no longer a valid keyword type.  If you change that to `become: yes` things should start working.  This will have to be done throughout all of your tasks.

needs_info

[2019-12-10 18:06] alexppg commented on #65683
You mean having the tar.gz as a file in the repository?

Anyway, that would be very different from installing a role. In my opinion it would make sense both roles and collections need similar installing options.

[2019-12-10 18:11] s-hertel commented on #65565
@sebastianw I thought you were saying that not setting inventory_plugins to `inventory_plugins` was causing the problem, and I was wondering what it was before that. I'm guessing it was unset.

If the inventory_plugins setting isn't configured, then the default locations are used. You can see the what the setting is with `ansible-config dump | grep DEFAULT_INVENTORY_PLUGIN_PATH`. There's also docu

[2019-12-10 18:19] mariolenz commented on #61421
@patede Can you please have a look at PR #65675? I've called the parameter `advanced_settings` instead of `configuration_parameters`. And the advanced settings are strings, for example `'das.isolationaddress0'` and not just `das.isolationaddress0`. But I hope that's OK for you.

[2019-12-10 18:20] jillr commented on #36313
resolved_by_pr #65275

[2019-12-10 18:25] pabelanger commented on #65683
yes, this is a different process You need to compile the collection artifact, to then install.

This does mean, a new workflow for collections,

[2019-12-10 18:35] #36313 closed, assigned to nobody

[2019-12-10 19:12] karthikeyan-dhandapani commented on #65682
Hi @Sethueha ,
There are [different modules](https://community.arubanetworks.com/t5/Developer-Community/How-to-install-use-CLI-modules-and-tasks-for-Switch-and-CX-in/m-p/534333) for switches. The existing module is not tested on the mentioned switch.

Also, does this happen randomly or you never get the stdout for that switch regardless of the command?

[2019-12-10 19:14] zoredache opened #65710 "Unexpected Exception ... 'Block' object has no attribute 'get_search_path'"
##### SUMMARY

I get an `ERROR! Unexpected Exception, this is probably a bug: 'Block' object has no attribute 'get_search_path'`.  It seems to require both an 'apply' on include_tasks and the `playbook_vars_root` configuration option set to trigger the exception.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

    PLAYBOOK_VARS_ROOT(.

[2019-12-10 19:15] karthikeyan-dhandapani commented on #65416
Hi @imuab , Could you try the modules specifically written for switches? It is available in Aruba's official GitHub repo. [Link to the article.]( https://community.arubanetworks.com/t5/Developer-Community/How-to-install-use-CLI-modules-and-tasks-for-Switch-and-CX-in/m-p/534333)

[2019-12-10 20:57] HRio opened #65711 "user.py PR45507 broke update_password="on_create""
##### SUMMARY

The merge of #45507 broke `update_password="on_create"` on Alpine Linux with the shadow package installed.

This does not work anymore
[code]

After the PR, all users that have a password that is not '*' will get their password changed.

Reverting bf3e397ea7922e8bd8b8ffbc05d1aede0317d119, makes 'update_password: on_create' work as expected again.

##### ISSUE TYPE
- Bug Report

####

[2019-12-10 21:24] vince-lessbits commented on #59147
Still happening with ansible 2.9.2

[2019-12-10 21:31] rrey commented on #65560
Yeah true.
We are preparing for the move to collections, so we won't add this on ansible/ansible but you are right; we should display the supported versions.

[2019-12-10 21:33] felixfontein commented on #65471
I've got the test working, and found several other deprecations:
[code]
Two of the 2.10 deprecations already have issues (#61889, #61891), the others do not.

I'll see how easy they are to remove the next days...

[2019-12-10 21:45] #64643 closed, assigned to nobody

[2019-12-10 22:01] vince-lessbits commented on #59147
Still happening but just set
[code]
somewhere in your <filename>.gcp.yml file and inventory does work with 2.9.2.

[2019-12-10 22:04] pabelanger commented on #65699
I could go either way on --upgrade or collection upgrade. I slightly prefer --upgrade or -U as it is a flag to toggle, not new command.

I am in agreement on your workflow example.

[2019-12-11 00:19] jborean93 commented on #65699
@geerlingguy you can use `--force` to achieve your scenario right now. It will remove the older collection and install the newer one if a version is specified and does not match the already installed one. The `--force-with-deps` is like `--force` but will apply to the collections dependencies as well.

What doesn't work is a way to just blindly upgrade all collections to the latest version, you ne

[2019-12-11 00:58] geerlingguy commented on #65699
That’s how it works with roles currently too, but it’s quite annoying for a few reasons, two  of which I remember discussing in an old Galaxy issue about this same problem:

  1. Unlike every other dep/package manager in the world, I’m not able to run an update command, so figuring out the “--force” hack is not that great a UX.
  1. Assuming I have a lot of collections, it’s annoying to have to wa

[2019-12-11 01:40] jacksonp2008 commented on #64613
Awesome, I’ll try to get it tested

On Tue, Dec 10, 2019 at 00:56 Pavan Bidkar <notifications@github.com> wrote:

--
Regards,

-Steve

(415) 320-1102 <https://www.google.com/voice/#phones>

[2019-12-11 01:55] pabelanger commented on #65699
To me, while --force works, it isn't ideal. The keyword 'force' to me is pretty dangerous, eg rm -rf /.

Where I see --upgrade, much like pip, which will upgrade a collection, while validating the collection fits into the constraint system.

[2019-12-11 02:25] Fred-sun commented on #52082
@haiyuazhang Would you please help check this issue? Thank you very much!

[2019-12-11 02:40] Fred-sun commented on #62798
@jamesmarshall24 Thanks for your contributor this issue! Could you give more info about this, such as playbook and error info. Thank you very much!

[2019-12-11 04:23] Akasurde commented on #63749
@leonidas-o Could you please close this issue if the problem is resolved? Thanks.

needs_info

[2019-12-11 05:40] Sethueha commented on #65682
The Procurve devices are from HP and it is having arubaOS in it. So aurba_command module works in Procurve devices. This happens randomly in switches.

[2019-12-11 06:26] cove commented on #65641
thanks @Akasurde submitted PR #65714. also how do I unsubscribe from the docker notices? I'm not sure I understand the syntax to add an ignore them.

[2019-12-11 06:43] karthikeyan-dhandapani commented on #65682
Marking this issue duplicate of #65416

[2019-12-11 07:20] alexppg commented on #65683
But is not a good practice to have binary files in a git repository. It would maybe make sense if they were handled as "releases", but this depends heavily in the interface you use with git.

I understand that the artifact approach may be useful when shipping modules, plugins, etc. But since you can also ship playbooks and roles, why limit to only the artifact shipping? Or this is just for now and

[2019-12-11 07:32] #62441 closed, assigned to nobody

[2019-12-11 07:42] #56301 closed, assigned to justjais

[2019-12-11 08:15] #61220 closed, assigned to nobody

[2019-12-11 08:33] sebastianw commented on #65565
@s-hertel Yes the variable was unset before.

I'm quoting from https://docs.ansible.com/ansible/latest/dev_guide/developing_locally.html:

So `inventory_plugins` is implicitly used in the playbook directory but only when the plugin is directly underneath it (`<playbook dir>/inventory_plugins/myplugin.py`). When I set it *explicitly* with `inventory_plugins = inventory_plugins` in `ansible.cfg` the

[2019-12-11 08:47] Fred-sun commented on #65691
@singhujjwal Thank you for reporting this problem, we will track it and fix it. Thank you very much!

[2019-12-11 09:00] ijunaid8989 commented on #65700
thanks its working fine now.

[2019-12-11 09:00] #65700 closed, assigned to nobody

[2019-12-11 09:04] ijunaid8989 opened #65716 "how to send valid JSON in CURL Ansible"
I am using this task to get some specific values from github using ansible task.

    - name: Register evercam-media local commit hash
      local_action:
        shell
        chdir={{local_media_dir}}
        git log --pretty='["%h", "%an", "%ae", "%ad", "%s"]' | head -1
      register: local_commit_info

which results into

    "stdout": "[\"03d776b\", \"Azhar Malik\", \"azharmalik02@gmail.com\

[2019-12-11 09:09] Timoses commented on #65190
@machacekondra
The output is:
[code]

[2019-12-11 09:26] Akasurde commented on #65716
Hi @ijunaid8989 !

You can take help of [`jq`](https://stedolan.github.io/jq/) and [`from_json`](https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#filters-for-formatting-data) to achieve this.
Take a look at [this article](https://medium.com/@justinhennessy/parsing-json-with-ansible-bcbb8d4b6a54).

Thanks very much for your interest in Ansible.  It sincerely means a lot to

[2019-12-11 09:26] #65716 closed, assigned to nobody

[2019-12-11 09:50] ganeshrn commented on #65655
@wisotzky

As the number of native device handlers supported by ncclient is very limited, the alternative option would be just to provide mappings to known device-handlers - while for all other platforms the ncclient "default" device handler would be used.
Another alternative could be, to use just the strip the collection name and namespace - so in the case above, it would translate to just "sros"

[2019-12-11 10:10] b1czu opened #65719 "FreeIPA: There is no way to modify Automount Keys"
##### SUMMARY

There is no way to modify IPA's Automount Keys. I will be contributing a module in an upcoming PR.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`lib/ansible/modules/identity/ipa`

##### ADDITIONAL INFORMATION

There is no module for modifying IPA's Automount Keys yet.

[code]

[2019-12-11 10:17] machacekondra commented on #65190
@Timoses Hmm, as you can see both outputs for:

[code]

and for

[code]

are the same. So for cluster `Default` it doesn't return multiple DCs. Which cluster didin't work for you and returned mutiple DCs?

[2019-12-11 10:32] machacekondra opened #65721 "Support specify disks in ovirt_snapshot module"
##### SUMMARY

Currently it's not possible to specify disks to be included in the snapshot, always all disks are used.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ovirt_snapshot

##### ADDITIONAL INFORMATION

Could look like:
[code]

or

[code]

[2019-12-11 10:33] wisotzky commented on #65655
@ganeshrn, thanks for the fast response. From the code it looks that this would be planned to be shipped as part of Ansible 2.10... What is the method to be used until 2.10 will be released?

[2019-12-11 10:36] Saurabh-Thakre opened #65722 "Difference in how we handle templating vault variable keys in v2.8 and v2.9"
##### SUMMARY

I can see difference in how we handle templating in 2.9 and 2.8. You could see when we run the same playbook on 2.9.2 it is not showing us value of "testvar" in following result which we can see in 2.8.4

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 8

##### STEPS TO REPRODUCE

[c

[2019-12-11 10:55] b1czu commented on #65319
!component =lib/ansible/modules/identity/ipa

[2019-12-11 11:12] ganeshrn commented on #65655
@wisotzky I will check with the 2.9 release manager if we can backport this PR to stable-2.9 branch. If the PR is backported it will be available in the 2.9 minor release and can be used with Ansible 2.9.X version itself.

[2019-12-11 11:32] wisotzky commented on #65655
@ganeshrn, thx for putting effort in cross-checking potential of backporting this!

[2019-12-11 12:21] jirib opened #65727 "mysql_info doesn't list empty DBs"
##### SUMMARY

`mysql_info` module doesn't show empty DBs. It uses following query in the code:

[code]
But `show databases` show something else;
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`mysql_info` modules

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Amazon Linux 2
rh-mariadb103-3.3-5.el7.x86_64

##### STEPS TO REPRODUCE

* create empty via eg. via `mysql_db module`
*

[2019-12-11 12:25] jirib commented on #65727
It's OK if it should not list empty DBs by default but it would be handy to list even empty DBs with a new option.

[2019-12-11 13:46] pabelanger commented on #65683
I think you misunderstand what I am suggestion, I agree you do not want to store binaries in your git repository. You would now have to git clone the repo locally, and run ansible-galaxy collection build / install against the git repo on the local system.

The main difference with a collection, it was decided the interface users use to get a collection will now be galaxy, not git. This is, as you

[2019-12-11 14:46] sivel commented on #65722
This is actually expected.  Vaulted variables are considered unsafe, and we had a previous bug where we allowed them to be templated in some scenarios.  When an unsafe variable is involved in templating, we mark the templating engine as unsafe, which prevents any templating from happening, that may inadvertently template an unsafe value.

This only applies to single vault encrypted values.  If you

[2019-12-11 14:50] Qalthos commented on #37755
Is this still an issue with Ansible 2.9?

needs_info

[2019-12-11 14:51] #64936 closed, assigned to nobody

[2019-12-11 15:15] trondhindenes commented on #47707
![Screenshot from 2019-12-11 16-13-36](https://user-images.githubusercontent.com/1747120/70633730-497b1600-1c31-11ea-9cb4-4605671d3870.png)
This is a t3.medium instance. We run Ansible against the node, the ansible playbook takes about 15 minutes even tho its a fairly limited number of steps. The instance is out of credit balance way before ansible is done. This causes us to have to scale for prov

[2019-12-11 15:32] hktyper opened #65732 ""networkTier": as a configuration item and parameters in gcp_compute_instance module"
##### SUMMARY
"networkTier": as a configuration item and parameters in gcp_compute_instance module, this can cause an issue as there is a 1-1 relationship when provisioning a VM network address and assigning that to the interface when creating the instance

i.e. network address cannot be STANDARD and "networkTier": "PREMIUM"

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
gcp_compute_instan

[2019-12-11 15:45] s-hertel commented on #64659
Seconding what ipspace said. This is working as expecting. It isn't something specific to throttle, just how blocks work (for instance, if you use a `when:` condition on a block it is evaluated per-task). Feel free to stop by the mailing list or IRC if you have more questions.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2019-12-11 15:45] #64659 closed, assigned to nobody

[2019-12-11 15:52] GomathiselviS commented on #64753
Issue is not occurring now.

[2019-12-11 15:52] #64753 closed, assigned to GomathiselviS

[2019-12-11 16:22] onitake opened #65734 "hashi_vault should report secret when an error occurs"
##### SUMMARY

Currently, `hashi_vault` only reports a very basic exception when it can't access a secret. On large playbooks, where many secrets are accessed, this gives no indication which secret was failing.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

hashi_vault

##### ADDITIONAL INFORMATION

The error reported by `hashi_vault` currently looks like this:

[code]

This should be mor

[2019-12-11 17:18] automatictester opened #65737 "Ansible on Windows and mapping network drives"
##### SUMMARY

There is a huge amount of confusion among Ansible users with regards to how to map a Windows drive so that it's accessible to subsequent Ansible tasks. The overall understanding is that it cannot be done - the best you can achieve is that Ansible will create a mapped drive but it will be only visible for interactive sessions, or the other option - you will have to use UNC paths inst

[2019-12-11 17:20] automatictester commented on #65737
@jborean93

[2019-12-11 17:32] #62371 closed, assigned to GomathiselviS

[2019-12-11 18:16] s-hertel commented on #65565
:+1:
I finally was able to reproduce it.

It looks like this PR would fix it https://github.com/ansible/ansible/pull/64961. I also put together a quick minimal patch that should resolve it if you're so inclined to try it out.

[code]

[2019-12-11 18:29] jhholbert opened #65738 "walled_garden_ranges doesn't have the arguments built out"
##### SUMMARY
When using the meraki_ssid module, the walled_garden_ranges doesn't have the argument list built out.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
meraki_ssid module, walled_garden_ranges parameter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Try to add a walled garden range

[code]

##### EXPECTED RESULTS

Nee

[2019-12-11 18:59] #53865 closed, assigned to justjais

[2019-12-11 19:00] justjais commented on #53865
Fix PR ##53865 merged in `devel`

[2019-12-11 19:11] #62990 closed, assigned to nobody

[2019-12-11 19:29] kbreit commented on #65738
@jhholbert Thank you for reporting this. I'm looking at my code now and it appears I'm not converting it to a string instead of a list. From a parameter standpoint, SSID is by far the most complicated of the modules so I appreciate you bringing this up. I'll create a branch tonight for you to try. It doesn't seem (famous last words) to be too hard to fix so I hope to have something tonight.

[2019-12-11 19:29] ijunaid8989 commented on #65716
@Akasurde Thanks, and no problem, I have posted https://groups.google.com/forum/#!topic/ansible-project/8eCPF8wYcJI I hope someone will answer me, I have got stuck to this issue for a week now :)  Kind of losing all hopes on Ansible.

[2019-12-11 19:37] kbreit commented on #65738
Also, are you able to upgrade to Ansible 2.9?

[2019-12-11 19:38] zakariahoussa opened #65740 "docker_network lose static IP"
# SUMMARY
I created a network in docker and ran some containers with static IPs, after running playbook using the module docker_network, the containers lost all the static IPs.

the module when reconnecting the containers doesnt add the "--ip" to use same IPs used before

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
docker_network

##### ANSIBLE VERSION
ansible 2.9.1

##### CONFIGURATION

#

[2019-12-11 20:05] thedoubl3j opened #65741 "F5 Content Migration - BOTMETA needs to be updated"
##### SUMMARY

F5 content has moved to a collection and is no longer being maintained here. It can be found here: https://github.com/F5Networks/f5-ansible or found as a collection at f5networks.f5_modules.

[code]
[code]
These diffs are showing that some stuff didn't make it into the collection. Anshul is adding more context below but how do we want to handle that?
##### ISSUE TYPE
- Bug Report

#

[2019-12-11 20:16] kaysond opened #65742 "docker_network fails when trying to update network connected to swarm service"
##### SUMMARY

`docker_network` doesn't check if a network is connected to any services before trying to remove it

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_network

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Running ansible locally on Ubuntu 18.04

##### STEPS TO REPRODUCE

Create:
`~/docker-compose.yml`:
[code]
`playbook.yml`:
[code]
Ru

[2019-12-11 20:19] kaysond commented on #65742
Presumably you could work around this by scanning the existing services for those connected to the network, then removing them all (because from what I can tell there's no module for `docker service update`?). Then you'd have to add them all back exactly as they were before. But that would make for one ugly playbook.

The workaround would be much simpler if there was a module for `docker service u

[2019-12-11 20:20] dkt26111 commented on #57099
@alexdepalex Can you check if the above PR fixes your problem?

[2019-12-11 20:23] anshulbehl commented on #65741
@gundalow @abenokraitis
The above diff shows that some files are not migrated to collection. (e.g Deprecated ones) `>` in diff
And also shows new stuff added in collection '<' in diff

Based on the above saying migrated_to for the whole modules or module_utils folder doesn't makes sense.
Do we want to do this per file, migrated_to for files moved, deprecated for files deleted?
Or we can say  migra

[2019-12-11 20:26] abenokraitis commented on #65741
I don't believe marking something as deprecated will in fact delete them from the distribution. What I do think will happen is that for any content that is deprecated but not migrated manually by the partner would be auto-migrated by the Community Team to the community collection for four release cycles. @gundalow @gregdek can you weigh in and confirm/deny this?

The issue we are facing is that th

[2019-12-11 20:46] felixfontein opened #65746 "redfish_config contains deprecated call to be removed in 2.10"
##### SUMMARY
redfish_config contains call to Display.deprecated or AnsibleModule.deprecate and is scheduled for removal

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
[code]

[2019-12-11 21:12] samdoran commented on #65298
So poking around with this in an environment where the problem is I can reproduced this (thanks @mwhahaha) with lots of help from @sivel, the issue seems two fold:

1. We are running `self._find_plugin_legacy()` on items that are `ansible.builtin`. I'm not sure why. Simply skipping this function on candidates that start with `ansible.builtin` fixes this issue.

1. The real bug seems to be down in

[2019-12-11 21:32] jborean93 commented on #65737
This is mostly what I was referring to in my comment at https://github.com/ansible/ansible/issues/46713#issuecomment-440930802

I will get into the what I meant by caveats in the reply but first I'll break down the mapped drive implementation in Windows first. A mapped drive is stored as a [DosDevice](https://docs.microsoft.com/en-us/windows-hardware/drivers/kernel/introduction-to-ms-dos-device-na

[2019-12-11 21:32] #65737 closed, assigned to nobody

[2019-12-11 21:42] felixfontein commented on #65740
The module makes no guarantee about how the containers listed in `connected` are connected to the network, only that they are connected. So I would say this is more like a feature request than a bug :)

Are you using `docker_container` to manage the docker containers? Then you could not specify a `connected` list to `docker_network`, and after the `docker_network` call iterate over all containers

[2019-12-11 21:46] felixfontein commented on #65742
As you have correctly noted, `docker_network` isn't swarm aware, and thus also doesn't disconnect (or re-connect) services.

If someone wants to implement this (without breaking the module for non-swarm users), I'll happily review the change. I would call it a new feature though and not a bugfix.

[2019-12-11 21:52] ei-grad opened #65748 "docker_container module: GPU support"
##### SUMMARY
Allow to run docker containers with GPUs attached.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
docker_container

##### ADDITIONAL INFORMATION
TODO: discuss and describe implementation if it would be needed
Probably it should be implemented by adding a docker_container module option for "generic_resources" parameter of https://docker-py.readthedocs.io/en/stable/api.html#doc

[2019-12-11 22:02] billdodd commented on #65746
@felixfontein After looking at this issue, it seems like I may have misunderstood the meaning of the `version` param to the AnsibleModule.deprecate() method. In PR #62764 I added a new `bios_attibutes` option and marked the old `bios_attr_name` and `bios_attr_value` options as deprecated. This PR is targeted for Ansible version 2.10, so that is what I thought the `version` param should be set to -

[2019-12-11 22:20] felixfontein commented on #65746
@billdodd ah yes, in this case, you should have specified a later version :) The regular deprecation cycle is four versions, i.e. use `version='2.14'`. You should definitely also add a changelog fragment (with two sections: `minor_changes` for the new feature, `deprecated_features` for the deprecated option), and add an entry to the porting guide (https://github.com/ansible/ansible/blob/devel/docs

[2019-12-11 22:27] billdodd commented on #65746
@felixfontein Thanks much for the detailed explanation! I will create a PR to make those changes and additions.

[2019-12-11 22:32] felixfontein commented on #65748
From how I understand the docs and the docker-py code, this option is only available for swarm services. So you could add support for this to the docker_swarm_service module, but not to the docker_container module.

Do you kow whether this works with docker CLI? If yes, could you describe how the command looks like? Then I can look in its source to find out what it is doing.

[2019-12-11 22:32] felixfontein commented on #65746
@billdodd you're welcome! Feel free to CC me in the PR, then I can check if it's ok.

[2019-12-11 22:35] samdoran commented on #65298
After talking with @nitzmahone, I'm going to go with fix #2. I'll explain more tomorrow and in the PR when I get that submitted.

[2019-12-11 22:41] Helios-23 commented on #51552
how did you solve this with ansible?
im using the xfconf: module to execute this
the 2 issues im having are:
how to have anisble start a graphical session (or fake it enough that the xfconf-query will run)
how to set the environment variable so that the xfconf: module can use it.

[2019-12-11 22:53] ei-grad commented on #65748
There is a `--gpus` option in the resent `docker run` versions (when there is an nvidia-container-runtime installed), which works with the regular containers. Not sure if the "generic_resources" will work there (I'm not familar with the docker's python API, and with the swarm), but I'll try to check.

[2019-12-11 22:56] ei-grad commented on #65748
The command looks usual:

[code]

[2019-12-11 23:04] felixfontein commented on #65748
The `--gpus` option is mapped to something called `DeviceRequests` internally. This is available in API version 1.40: https://docs.docker.com/engine/api/v1.40/#operation/ContainerUpdate

There is one issue and two PRs for this for docker-py: docker/docker-py#2395, docker/docker-py#2419, docker/docker-py#2471

[2019-12-11 23:56] Lekensteyn commented on #43514
In your example, the file is empty so `regexp` does not match anything. The documentation about the backrefs option is quite clear on the behavior:

I do agree that reporting this as succesful/unchanged is bad. I think it should instead fail due to a non-matching line (#65645).

[2019-12-12 01:34] noziwatele opened #65751 "nios_network add field to specify a template to use for network creation"
##### SUMMARY

When a network is created in NIOS a pre-defined template can be specified that automatically creates commonly used objects within the new network, such as fixed addresses/reservations  for router IPs, DHCP ranges, etc.

It would be great if a template could be specified by name in a field in the nios_network module. Other nios_ modules could possibly also use templates.

##### ISSUE

[2019-12-12 02:49] kbreit commented on #65738
@jhholbert Please try the branch available at https://github.com/kbreit/ansible/tree/meraki/bugfix/65738. Thank you.

[2019-12-12 03:33] #45771 closed, assigned to Akasurde

[2019-12-12 03:34] Akasurde commented on #46342
resolved_by_pr https://github.com/ansible/ansible/pull/64544

[2019-12-12 03:34] Akasurde commented on #46342
Closing this issue since https://github.com/ansible/ansible/pull/64544 is merged. Please feel free to open a new issue if problem persists. Thanks.

[2019-12-12 03:34] #46342 closed, assigned to Akasurde

[2019-12-12 03:35] Akasurde commented on #52180
cc @pgbidkar This is aligned with the requirement, you suggested me in the IRC conversation.

[2019-12-12 03:37] Akasurde commented on #62739
@Poil Any news?

[2019-12-12 04:17] Akasurde commented on #64613
Closing this issue since PR #65684 is merged. Please feel free to open a new issue if problem persists. Thanks.

[2019-12-12 04:17] #64613 closed, assigned to nobody

[2019-12-12 05:37] Fred-sun commented on #62715
@haiyuazhang Would you please take a look this issue? Thank you very  much!

[2019-12-12 05:39] Fred-sun commented on #62711
@Tomelin Are you still here? Has your problem been solved?

[2019-12-12 05:46] Fred-sun commented on #62499
@wschoot Please try PR #65535, This may meet your need! Thank you very much!

[2019-12-12 05:57] Fred-sun commented on #62489
@nicolaibaralmueller PowerShell remote management USES ports 5985(HTTP) and 5986(HTTPS) by default. o you have any other questions? Any questions about this? Thank you very much!

[2019-12-12 06:04] Fred-sun commented on #62424
@goneri Are you still here? Can you try it out in the latest ansible version? It should be addressed in the latest version. Thank you very much!

[2019-12-12 06:25] Fred-sun commented on #62395
@nicolaibaralmueller Are you still here? Can you try it on? If there are no other problems, we might be able to close the problem. Thank you very much!

[2019-12-12 06:34] HRio commented on #65711
seems the `modify_user` function in the new BusyBox class is missing a check if `update_password` is `on_create`.

Also the code should not force the use of the Busybox commands if the commands from the `shadow` package is available, a check like this would not have caused this regression.

[2019-12-12 07:19] Andersson007 commented on #65727
@jirib , thanks for reporting this! will see

[2019-12-12 07:35] nicolaibaralmueller commented on #62489
@Fred-sun I don't understand the question in regards to my initial question.

Why does the azure_rm_virtualmachine module winrm function not support self signed certificate with https when the official ansible winrm script does?

[2019-12-12 07:35] nicolaibaralmueller commented on #62395
@Fred-sun I will test soon and close if the issue is solved. Thanks

[2019-12-12 07:58] Andersson007 commented on #65727
resolved_by_pr: https://github.com/ansible/ansible/pull/65755

i tried it manyally and added CI tests for the case
@jirib if the solution is ok for you, add ```shipit``` to a comment in the suggested PR (in separate line), please, or i'd be grateful for any feedback! thanks

[2019-12-12 08:27] alexanderadam commented on #64492
This issue appears every now and then and I don't have it at the very moment.
I will close it for now and reopen it when it happens again.

[2019-12-12 08:27] #64492 closed, assigned to nobody

[2019-12-12 08:30] Fred-sun commented on #62489
@haiyuazhang Can you help with the above questions? Thank you very much!

[2019-12-12 08:45] #60968 closed, assigned to nobody

[2019-12-12 09:09] #63749 closed, assigned to nobody

[2019-12-12 09:09] Sethueha commented on #65444
Could you please provide the PR branch URL to clone the same on my Ansible server.

[2019-12-12 09:16] timgates42 opened #65757 "Fix simple typo: workind -> working"
# Issue Type

[x] Bug (Typo)

# Steps to Replicate

1. Examine lib/ansible/plugins/shell/__init__.py.
2. Search for `workind`.

# Expected Behaviour

1. Should read `working`.

[2019-12-12 09:34] Shaps commented on #65639
Why would we need all those behaviors? I can only see 2 behaviors:
- Fail if the key is invalid ( unreadable/wrong passphrase etc );
- Regenerate if it does not adhere to the module options

[2019-12-12 09:44] ericsysmin commented on #64819
Thanks @D3DeFi  and @nerijus

[2019-12-12 09:55] Timoses commented on #65190
@machacekondra : Isn't exactly that the problem? (That it returns all dcs for the search?):

dcs_found:
[code]
dcs_all:
[code]

According to https://github.com/ansible/ansible/blob/v2.9.2/lib/ansible/modules/cloud/ovirt/ovirt_nic.py#L261 we would expect to return only **1** DC (the DC which contains the relevant cluster). Then we can load the correct network interfaces.

**!!!** However: It appear

[2019-12-12 10:05] NicolasLM commented on #51552
@Helios-23 I managed to solve my problem with:
[code]

[2019-12-12 10:07] #65757 closed, assigned to nobody

[2019-12-12 10:21] MarkusTeufelberger commented on #65639
A trivial 3rd behavior would be to just return "ok" if everything is ok. ;-)

[2019-12-12 10:48] Andersson007 opened #65761 "postgresql_privs fail after it's updated to 2.9.2"
##### SUMMARY
regardin the comment from https://github.com/ansible/ansible/pull/65098
[code]
related changes where backported by https://github.com/ansible/ansible/pull/65098

Seems that we need to add conditions to *.sort() if they are no empty/None, etc

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
```postgresql_privs```
```lib/ansible/modules/database/postgresql/postgresql_privs.py```

#

[2019-12-12 10:48] Andersson007 commented on #65761
CC @tcraxs

[2019-12-12 10:58] sirkubax opened #65762 "Allow multiple vault passwords/files - continution"
The original topic has been closed :/

https://github.com/ansible/ansible/issues/13243

##### SUMMARY
Update vault password management

My case - need to share 'part of my vault' to new employee without removing original key (CI/CD project dependencies).
ATM I use single vault-file (that is a big limitation).
The best would be to re-encrypt existing vault files with new-employee secret.
I'd like t

[2019-12-12 11:06] Andersson007 commented on #65761
@tcraxs could you please look when you are free
it looks like we just need to changes sortings by adding checks they are not empty, something like meaning:
[code]
but i didn't look at this deeply

[2019-12-12 11:26] ffdybuster commented on #65639
So we have:
  1) don't modify key if it exists (just fail if it is broken / cannot be checked),
  2) fail if key exists but doesn't satisfy conditions (no matter which condition),
  3) fail if key is invalid / password protected, fail; otherwise regenerate if neccessary,
  4) always regenerate if neccessary.

So current default is 4), and either 2) or 3) would be a potential new default. 1) is for

[2019-12-12 11:39] svhsvh opened #65763 "Unable to use junos_package or junos_scp"
##### SUMMARY

If we want to use the junos_package or junos_scp module to upgrade a device or to scp a file to a device it gives me the following error:

[code]

[code]

This is the playbook is use:

[code]

##### ISSUE TYPE
- Bug Report --> so it is a failure in the MODULE

##### COMPONENT NAME
- junos_package
- junos_scp

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2019-12-12 11:47] sebastianw commented on #65565
@s-hertel The patch works, yes. Do you think the PR will get implemented?

[2019-12-12 12:27] wisotzky commented on #65655
@ganeshrn, I've updated the Nokia SR OS collection `nokia.sros` to reflect those changed made. However, still need to setup my system accordingly to run some tests on this.

[2019-12-12 12:36] benschweizer commented on #58671
Looks like this doesn't work with openstackclient either; with that you need to add the newly created port to a server (openstack server add port $server $port), but the os_server module doesn't support this imho.

[2019-12-12 12:37] sirkubax commented on #65762
##### COMPONENT NAME
ansible-vault

[2019-12-12 12:38] limitedreality opened #65765 "VMware: Colon support within VMWare Tags vmware_tag_manager"
##### SUMMARY
VMWare supports using colons in VMWare tags, however the vmware_tag_manager module does not since colons are used to delineate categories.  It would be nice if there was some way to support using colons in tag names.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_tag_manager

##### ADDITIONAL INFORMATION
There should be some way to escape a colon in a tag_name so that

[2019-12-12 12:45] gundalow commented on #65741
You will need to expand `BOTMETA.yml` to list all of the files (not just the directories) and add `migrated_to: namespace.collection` for each of those.

Please don't delete or mark deprecated any files yet. We are still working on the right way to deal with this.

[2019-12-12 12:56] GBrawl commented on #65765
As of right now category and tag name are indeed separated by ":", but note that this string is only split once, so currently as a workaround you could specify the category name and then you could use colons in your tag name. For example:

[code]
But escaping sounds like a good idea for when there is no category name given.

[2019-12-12 13:10] #65727 closed, assigned to nobody

[2019-12-12 13:19] spkishoree commented on #65562
check service:

---
- hosts: win
tasks:
- name: check the status of service
# raw: cmd /c sc query "mssqlserver" -- mssql$inst1 is not working bcos of $ sign
# raw: cmd /c sc query "{{ service_name }}"
win_shell: Get-Service "{{ service_name }}"
register: result
- debug:
var: result.stdout_lines

![image](https://user-images.githubusercontent.com/20322684/70715353-1e1b2880-1d10-11ea-8c98-7634a31b9

[2019-12-12 13:20] spkishoree commented on #65562
check service:

---
- hosts: win
  tasks:
  - name: check the status of service
    win_shell: Get-Service "{{ service_name }}"
    register: result
   debug:
    var: result.stdout_lines

[2019-12-12 13:21] limitedreality commented on #65765
@GBrawl  Great idea, but unfortunately that fails for me stating InvalidArgument.  Are you able to test and confirm working on your side?

[2019-12-12 13:34] craph commented on #62759
Hi @felixfontein ,

Sorry for the delay.

Here is the output of your command lines :
[code]

[2019-12-12 13:38] GBrawl commented on #65765
Just tested it and it works fine on ansible 2.9.2, can you show me the task you are trying to run? Also you can't have colons in your category name with this approach.

[2019-12-12 14:14] limitedreality commented on #65765
Here's what I'm using with: Ansible 2.8.0

  - name: Add tags to a virtual machine
    vmware_tag_manager:
      hostname: '{{ vcenter_hostname }}'
      username: '{{ vcenter_username }}'
      password: '{{ vcenter_password }}'
      validate_certs: no
      tag_names:
        -  'Category:Tag:Name'
      object_name: 'TestGuest'
      object_type: VirtualMachine
      state: add
    delegate_to

[2019-12-12 14:29] GBrawl commented on #65765
Tried it on 2.8.4 and that also worked for me and your example looks correct, if both the category and the tag name exist it should work. Are you running vSphere 6.5 or higher?

[2019-12-12 14:39] germansokolov13 commented on #24228
@kiorky Maybe a friendly warning from Ansible cli tools telling about possible slowdown due to big open files limit could help? At least that way user will know right away what is wrong and why.

[2019-12-12 14:46] s-hertel commented on #65678
@qvsdeveloper As a workaround, you can create a 'constructed' inventory source that runs after your vmware_vm_inventory source. The contents may look like:
[code]
Then you could run `ansible-inventory -i vmware.yml -i constructed.yml --list`. Note that the inventory display 'hostname' will still be the IP, but the special ansible_host var will be set to the value you want. Here's some documentatio

[2019-12-12 14:52] Tomelin commented on #62711
Hi @fred-sun,

I create VM by az cli with module shell.

In the parameter image, I put the path image the other subscription.

On Thu, Dec 12, 2019 at 2:39 AM Fred-sun <notifications@github.com> wrote:

--
Atenciosamente,

Rafael Tomelin
Tel.: 51-984104084
Skype: rafael.tomelin

LPI ID: LPI000191271
Red Hat Certified Engineer
Puppet Professional 2017 Certification

[2019-12-12 14:54] limitedreality commented on #65765
Yes vSphere 6.5

[2019-12-12 14:58] dzintars commented on #48055
Same there F30.

[2019-12-12 15:04] Tya848 opened #65768 "Procédure de mise à jour vers 2.9 ansible"
Bonjour;

Je voulais upgrade ansible de 2.7 vers le 2.9 mais je ne trouve pas une procédure détaillée pour la suivre. Pouvez vous m'aider SVP?

Merci :)

[2019-12-12 15:06] sivel commented on #65768
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2019-12-12 15:06] #65768 closed, assigned to nobody

[2019-12-12 15:11] gearoidibm commented on #55329
One way to do this with the existing modules is to slurp the file and then use that in the k8s module
[code]

[2019-12-12 15:22] sky-joker commented on #65409
@mgsaranraj87

The same error occurred when specifying a non-existent network in `networks`.
`DportGroup` is exists port group name.

[code]

Could you please check ova network settings?
You can check with the following steps.

[code]

The settings, in this case, are as follows

[code]

[2019-12-12 15:50] mmolinac commented on #58242
Please merge it to `master`.

[2019-12-12 16:12] mmallet-digipok commented on #63844
Not that I don't like your PR but it seems to be identical to the one I publish more than two months ago: https://github.com/ansible/ansible/pull/63845

[2019-12-12 16:41] kaysond commented on #65742
@felixfontein I haven't dug through it yet, but do you know if the ansible docker client helper class supports swarm already? Or would that need to be implemented too

[2019-12-12 16:43] papanito opened #65770 "nmcli not working on Ubuntu: `No package matching 'libnm-glib-dev' is available`"
##### SUMMARY

The [docu](https://docs.ansible.com/ansible/latest/modules/nmcli_module.html) lists some requirements to be installed:

- network-manager
- python3-dbus
- libnm-glib-dev

however there is no package`libnm-glib-dev` available in Ubuntu and it is not clear how to install the required libraries.

[code]
Removing installation of `libnm-glib-dev` will lead to a subsequent error

[code]

[2019-12-12 16:54] gvcgael opened #65771 "win_dsc : Invoke multiple resources in one run"
##### SUMMARY
Sometimes, invoking resources in different steps in ansible does not work. It would be great if `win_dsc` could call multiple dsc resources in one step without requiring ansible reconnecting.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`win_dsc`

##### ADDITIONAL INFORMATION
For example, consider the following dsc :

[code]

The ansible equivalent would not work because di

[2019-12-12 17:08] chsnell commented on #62897
For reference, this can be worked around by utilizing globbing like so:
disablerepo: 'HDP-*,Updates-ambari*'

[2019-12-12 17:49] darkdragon-001 commented on #48134
When I understand it correctly, the suggested changes would add more options to the `state` argument and thus not even introduce a new one. While the implementation would probably be completely different (change `/etc/fstab` and calling `mount -a` vs. calling `mount SRC DST`), from a user point of view it doesn't add much more complexity.

While I would prefer to have everything in one module with

[2019-12-12 18:57] zakariahoussa commented on #65740
Thank you for your reply  :), i used docker_container to manage the network , the docker containers are managed in another way.

why i think it is a bug rather than feature, because if my containers are already started with static IP  then if i modify network options with docker_container  , im waiting that my containers keep same IP simply. because you simply disconnect containers modify network

[2019-12-12 19:19] jillr commented on #65349
!component=gcp_compute_router

[2019-12-12 19:26] krlinus opened #65774 "Usage message does not include --limit"
##### SUMMARY
The usage string in its present form is:
[code]
I see this when I omit the parameters to --limit. But it is likely always the case.
The additional error runs like:

```ansible-playbook: error: argument -l/--limit: expected one argument```

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

(BLANK)
[code]

##### OS

[2019-12-12 19:41] sivel commented on #65774
I'm not sure this is feasible. The usage is generated by the python `argparse` library, and when an argument has both a short and long option, the short option is preferred in the `usage` output.

So the display of `[-l SUBSET]` is what you are looking for. If you run with `--help` you would see:

[code]

The error you receive indicates that you have specified `-l/--limit` but without the required

[2019-12-12 19:46] jillr commented on #65464
!component=aci_contract_subject

[2019-12-12 19:49] felixfontein commented on #62759
Hmm, you don't get any errors now. Do you still have trouble with `docker_compose`? If yes, is Ansible executing the module with a different user than you were using when running /usr/bin/python manually?

[2019-12-12 19:58] jillr commented on #65572
This can be done with the `template` module however as Ansible is not actually managing the entire sysctl file, just adding or removing options on a line-by-line basis, we would not want to change this behaviour.

[2019-12-12 19:58] #65572 closed, assigned to nobody

[2019-12-12 20:11] samdoran commented on #65347
This feature would introduce a lot of implicit and "magic" behavior, potentially causing more problems than it solves. We tend to favor explicit behavior in Ansible, possibly making things more verbose but easier to see and follow what is going on.

It would sacrifice clarity and flexibility in order to type less. Yes, less typing would be great, but there very well may be some, if not many, relyi

[2019-12-12 20:11] #65347 closed, assigned to nobody

[2019-12-12 20:21] krlinus commented on #65774
Thanks for reviewing my issue.
Understanding the error is not so much my problem, as the usage string. But if this exclusion (of --limit) is uniform for all invocations, for example, if I run ```ansible-playbook --start-at-task``` (without the parameter) and the Usage message excluded ```--start-at-task``` then I can accept your point. But that is not the case, apparently

[2019-12-12 21:35] acozine commented on #65418
Thanks for raising an issue about the documentation @propyless. Take a look at the proposed fix in #65775.

[2019-12-12 21:55] samdoran commented on #65298
I added detailed comments to the code #65776. Essentially `ansible.builtin` means that no external paths should be searched for plugins because plugins/modules inside roles inside collections are not supported.

[2019-12-12 21:58] VeekeeFr opened #65778 "template module should allow remote_src option"
##### SUMMARY
template module currently copies j2 file and fill values. It doesn't support a file already present on the remote node.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
template

##### ADDITIONAL INFORMATION
At the current time, using template only supports files available on the controller side. Allowing the process of files already available on the remote host, would also all

[2019-12-12 22:01] samdoran commented on #65298
So I figured out why I had trouble duplicating this. For some reason, the order of files is different when running from a source checkout. I imagine something is different about the order of the items returned from `os.walk()`. We need `setup.ps1` to be below `setup.py` in order to avoid this bug. I added explicit sorting to ensure this, but I won't dig into why the sorting order is sometimes diff

[2019-12-12 22:04] sivel commented on #65778
All templating happens locally on the controller, so to support this, we would have to fetch the remote file back to the controller to achieve this goal. Personally is am -1 to such a feature.

[2019-12-12 22:07] Tomasthanes opened #65779 "Local library module fails to import and breaks playbook"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-12-12 22:08] #65779 closed, assigned to nobody

[2019-12-12 22:23] Tomasthanes opened #65780 "Local library module fails to import and breaks playbook"
##### SUMMARY
A local library module which had been working up to 2 weeks ago now failed with the following error message: "Unable to import mysql_query due to invalid syntax"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
mysql_query.py from https://github.com/ansible/ansible-modules-extras/issues/980
v1.9

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
S

[2019-12-12 23:49] demakkar opened #65781 "IOS_Config module not working for Prompts "Yes""
##### SUMMARY
IOS_Config module is not working for prompts like yes.

`    - name: Deploy Configuration for IOS
      ios_command:
        commands:
          - command: no access-session mac-move
            prompt:
              - 'Do you wish to continue? [yes]:'
            answer:
              - 'yes'`

`    - name: Deploy Configuration for IOS
      ios_config:
        commands:
          -

[2019-12-13 02:16] Fred-sun commented on #62711
@haiyuazhang I think we can only use dependent resources under the same credential when creating resources, not resources with other credentials. Could you help me confirm, please? Thank you very much!

[2019-12-13 03:25] jamescassell opened #65783 "`delegate_to: "{{ item }}"` fails if first item is localhost"
##### SUMMARY

`delegate_to: "{{ item }}"` fails if first item is `localhost`

This worked in ansible 2.7 and prior.  It works fine even on ansible 2.8+ if localhost is not the first item, but can be a later item.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

delegate_to
loop
become

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.7

#####

[2019-12-13 04:35] agaffney commented on #65783
I can't reproduce this exact issue, but I can reproduce something that is probably closely related (probably the same root cause).

With your playbook from above (with just the hosts changed), I get different behavior depending on whether `ansible_host` is defined for the current host. In the first run (with `ansible_host` defined), both loop iterations show `nuc2` (the machine I'm running ansible

[2019-12-13 04:54] vlours opened #65785 "[Systemd] Allow ansible to update the default systemd target mode"
##### SUMMARY

In some case it can be useful to update the default target level for systemd.
This is used from the "get-default", "set-default" and "isolate" systemd options.
- The "get-default" option will retrieve the current default target mode.
- The "set-default" option will set a new default target mode (used on next boot)
- The"isolate" option will set the new target mode dynamically

A com

[2019-12-13 05:08] s-hertel commented on #65780
It looks like you're using Python 3 but that custom module is using `except Exception, e:` in a couple places. That doesn't work with Python 3 and is a SyntaxError. Try changing those lines to `except Exception as e:`.

[2019-12-13 05:59] Andersson007 commented on #65367
@rtsisyk hey, is there any difficulty ? It is a clear bug, so would be cool to see it solved ASAP

[2019-12-13 06:33] jgspratt opened #65790 "synchronize detects two or more --verbose flags as a change"
##### SUMMARY
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/files/synchronize.py detects changes based on text returned.  When entering two or more `--verbose` on a synchronize that changes nothing, a change is always detected.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
synchronize module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[REDACTED]

##### OS / ENVI

[2019-12-13 07:10] cherusk commented on #32713
Still there for Ansible 2.8.x

[2019-12-13 07:10] Fred-sun commented on #61541
@Rajinikamu84 Are you still here? Can you try the latest version code? Thanks a lot!

[2019-12-13 07:22] Fred-sun commented on #61492
@haiyuazhang Would you please help take a look this issue? Thank you very much!

[2019-12-13 07:33] propyless commented on #65418
Hello @acozine thanks, I've taken a look and I remember testing these new import paths after some digging. But, it seems the test libs are no longer shipped with pypi. https://github.com/ansible/ansible/pull/46996#issuecomment-436752290

So even with the new import paths its not possible to run the tests. Is there a ansible-devel package that contains the testing libs?

[2019-12-13 07:39] D3DeFi commented on #58719
needs_contributor
+label docs
+label affects_2.9
+label affects_2.10

[2019-12-13 07:58] D3DeFi commented on #58747
needs_contributor

[2019-12-13 07:58] D3DeFi commented on #51345
needs_contributor

[2019-12-13 08:39] Fred-sun commented on #60284
kindly ping

[2019-12-13 08:59] Tazminia commented on #64625
@samdoran I saw your suggested changes on the PR, I am going to work on them and update the PR.

[2019-12-13 09:09] D3DeFi commented on #50573
Hey @richlv ! I was just looking at `vmware_guest` module and noticed how they do handle it there. What do you say if I rework this the same way the `customization` or `disk` module parameters are [documented in the mentioned module](https://docs.ansible.com/ansible/latest/modules/vmware_guest_module.html)?

[2019-12-13 09:13] richlv commented on #50573
Less readable than in the choices column, but much better than the current situation :)

[2019-12-13 09:17] alexppg commented on #65683
I see, thanks. I really don't like it, because it forces to change the distributing system to galaxy. And if you want it to be private you have to manage one yourself, which is a cost that doesn't give anything in exchange.
But as you said, it's outside the discussion. Thank you very much for your aclarations!

[2019-12-13 09:17] #65683 closed, assigned to thaumos

[2019-12-13 09:29] RROZEK93 opened #65794 "AnsibleAWX && WINRM returns "certificate: the specified credentials were rejected by the server""
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)
Ihave tried to raise issue above ^^ but I don't think my question fills in any of the categories.

Please forgive me if I post this in wrong category/section.

!component I have setup Windows remote management as per guidelines from below for the certificate:
https://docs.ansible.com/ansible/latest/us

[2019-12-13 09:40] trishnaguha commented on #65660
resolved_by_pr https://github.com/ansible/ansible/pull/65796

[2019-12-13 10:26] jori-be opened #65798 "[Ansible] Start process on Windows machine"
##### SUMMARY

 have a question related to Ansible.

Ansible version: 2.8.6
Powershell: 5.1

I want to start a process on Windows 10 via Ansible, currently I'm using the following task, but it does not work.
`- name: Start application process
   win_shell: | Start-Process 'C:\Application\Application.exe' -PassThru`

Output of Ansible:
[code]

Running the start-Process command locally via Powershel

[2019-12-13 10:53] gundalow commented on #60424
@pabelanger OOI, what was the work around for this?

[2019-12-13 12:00] jtyr opened #65803 "Ad-hoc include_role should display task names"
##### SUMMARY
When I use `include_role` in an ad-hoc command, the task names are not displayed. This is quite big problem as we don't know what is executed.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`include_role`

##### ADDITIONAL INFORMATION
This is how I run my role:
[code]

[2019-12-13 12:16] mossroy opened #65804 "Unhandled exception while executing module: Could not compare "524288000" to "524288000 53684994048". Error: "Cannot convert the "System.Object[]" value of type "System.Object[]" to type "System.UInt64""
##### SUMMARY
When using win_partition module on Windows 2016 servers, I sometimes get the following error :

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_partition

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
"ansible-config dump --only-changed" gives an empty output : we kept the default ansible.cfg

##### OS / ENVIRONMENT
Control node : CentOS 7.7 with Ansible 2.9.1
Target OS

[2019-12-13 12:20] Sethueha commented on #65444
Hi Team,

could you please provide the update on this?

[2019-12-13 12:24] atombrella opened #65805 "Molecule should be mentioned in testing documentation"
##### SUMMARY
Molecule is a good tool for testing, but it's not particular well-known. It's only mentioned in https://docs.ansible.com/ansible/latest/community/other_tools_and_programs.html?highlight=molecule but I believe that it would deserve some sections in the testing sections.

I know that's not an official part of Ansible, but it's under the ansible organization in Github.

I've used Molecu

[2019-12-13 12:35] jaschaio opened #65806 "digital_ocean_droplet support resizing"
##### SUMMARY
Similar to #65623 it would be awesome if the `digital_ocean_droplet` module would support resizing of Droplets.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
`digital_ocean_droplet`

##### ADDITIONAL INFORMATION
Currently the module only checks if a Droplet exists with the given name. It would be awesome if the module would check additionally if the given droplet has as well

[2019-12-13 12:57] Akasurde commented on #47911
!component =lib/ansible/modules/network/ios/ios_ping.py

[2019-12-13 13:13] gundalow opened #65807 "grafana issue move test"
##### SUMMARY
We should see what an issue moved from ansible/ansible to gundalow-collection/grafana looks like.

1) Does all history get moved across
2) What about labels that may not exist in the dest repo

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
grafana_dashboard

##### ADDITIONAL INFORMATION

[code]

[2019-12-13 13:18] Rogach commented on #56629
@sugitk Unfortunately ansible team is opposed to such PR being merged, citing security issues. (see: https://groups.google.com/forum/#!topic/ansible-devel/jk7ixOTb6rQ)

Thus it seems that the only way to proceed is to patch local ansible installation yourself.

[2019-12-13 13:28] pabelanger commented on #60424
rename _foo.py to foo.py in our migration scripts.

[2019-12-13 13:31] didier13150 commented on #60044
Same problem here, it happens only with a loop.

[2019-12-13 13:34] jamescassell commented on #65783
When running with `ansible_pipelining=yes`, the problem instead manifests by skipping the "become" step and running as the `ansible_user` instead of as the `become_user` -- this behavior is what I'd originally run into, which I tried to troubleshoot by turning off pipelining.

So the root issue seems to be that when 'localhost' is the first item and when the user on the control host is running as

[2019-12-13 13:51] gundalow commented on #65807
Well that failed as https://github.com/google/github-issue-mover is dead
And the new GitHub built-in functionality only allows moving Issues *within* the GitHub Organization.

[2019-12-13 13:51] #65807 closed, assigned to gundalow

[2019-12-13 14:10] limitedreality commented on #65765
We updated to Ansible 2.8.7 to see if that would help and the results are the same.  Anyone have any other thoughts or suggestions?  Any further way to debug why we're seeing different results than GBrawl?

[2019-12-13 15:31] sivel commented on #56629
It's possible that what needs to happen is in `AnsibleModule.run_command`, if `pass_fds` is provided, and we are on PY2, set `close_fds = False`. They are obviously not exactly equivalent, but without the ability to prevent specific fds from being closed, we could leave them all open, which is the py2 default, just not the `run_command` default.

[2019-12-13 16:07] darkdragon-001 opened #65811 "docker_container with auto_remove:yes fails"
##### SUMMARY

`docker_container` module often fails because removal of `auto_remove: yes` takes some time. I had the same problem before with shell scripts since `docker stop` returns immediately but container removal takes some time to finish. Until removal is finished, no new container with the same name can be created.

The error message is:

    Error creating container: 409 Client Error: Con

[2019-12-13 16:15] elmanm opened #65812 "Paramiko_ssh plugin connection has no ssh attribute error"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

paramiko_ssh

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux

##### STEPS TO REPRODUCE

Running a playbook with reset_connection with the ANSIBLE_TRANSPORT set to paramiko

[code]

##### EXPECTED RESULTS

It should reset the connection.

##### ACTUAL RESULTS

[code]

[2019-12-13 16:25] jharris-tc opened #65813 "start_at_task is required in cliargs or it fails? (pythonAPI)"
##### SUMMARY
When using the python API, as described here: https://docs.ansible.com/ansible/latest/dev_guide/developing_api.html

If 'start_at_task' is not supplied, the play fails.

this is because this line https://github.com/ansible/ansible/blob/devel/lib/ansible/executor/playbook_executor.py#L241

errors out when the argument is not defined.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAM

[2019-12-13 16:28] jharris-tc commented on #65813
Either the docs should be updated to reflect this, or that line should be changed to "if 'start_at_task' in context.CLIARGS" vs what it is now

[2019-12-13 16:28] #65813 closed, assigned to nobody

[2019-12-13 17:14] Tomasthanes commented on #65780
@s-hertel, thank you.  That got me past one hurdle but now I'm getting a different error.

"the python mysqldb module is required"

and I'm not sure why I'm getting it.  I went into the library sub-directory and renamed the original file to mysql_query.py.orig, copied it back to mysql_query.py making sure that it had the exact same ownerships and permissions.  I then changed to 2 lines as you sugg

[2019-12-13 17:16] jharris-tc commented on #65813
That makes sense.

I'd appreciate it if you could change the line in the guide
# since the API is constructed for CLI it expects certain options to always be set in the context object
from:
context.CLIARGS = ImmutableDict(connection='local', module_path=['/to/mymodules'], forks=10, become=None,
                                become_method=None, become_user=None, check=False, diff=False)

to:
cont

[2019-12-13 17:26] samdoran opened #65814 "azure_rm_storageaccount integration tests failing due to error message change"
##### SUMMARY
`azure_rm_storageaccount` tests are failing because I think the error message has changed.

https://app.shippable.com/github/ansible/ansible/runs/153582/72/console

This is the failure message:
[code]

Which doesn't match the `assert` check:
[code]

I don't know enough about what this is doing to tell if it's failing for some other reason, but my guess is that the error message chang

[2019-12-13 17:51] g00nix opened #65815 "docker_network with multiple subnets always changes"
##### SUMMARY

When using `docker_network` to create a network with multiple subnets, the task will delete/create the network even if it already exists with the correct subnets. Ansible fails to judge if the existing subnets are correct, probably because of the way the arrays of subnets are compared in python.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_network

##### ANSIBLE VERS

[2019-12-13 18:12] rrey opened #65816 "ansible-test duplicate-code with import future lines"
##### SUMMARY

`ansible-test` is reported duplicated lines in my collections while running pylon test.
The duplicated lines are the `from __future__ import ...` that are mandatory according to other pylint tests.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

`ansible-test` command is executed from gitlab-ci using a centos:

[2019-12-13 18:21] tyler-e-marshall opened #65817 "Module to interact with AWS Transfer for SFTP"
##### SUMMARY

There is no module for interacting with AWS Transfer for SFTP.  I'll be writing my own module by following patterns in your other AWS modules.  The botocore library that is used in those modules is actually missing a few things for interacting with Transfer too.  For example, there are no waiters when creating/deleting SFTP servers.

##### ISSUE TYPE
- Feature Idea/Request

##### CO

[2019-12-13 18:57] lukaskaplan opened #65818 "Module blockinfile - insertbefore: BOF statement does not work"
##### SUMMARY

I wanted to put block of text in the heading of file. I used module "blockinfile" with insertbefore: BOF statement. But it inserts my text in the random position the file. So my text it is not located in the beggininig of the file as I expect.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Module blockinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### O

[2019-12-13 19:07] derlucas opened #65819 "routeros_command fails if username contains period char"
##### SUMMARY
When using the RouterOS module and using a username with period in it ".", the command fails.
Changing the username fixes the Problem.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
routeros_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default unchanged configuration

##### OS / ENVIRONMENT
Manjaro Linux (Arch Linux) Kernel 4.19.88-1-MANJARO

##### STEPS TO REPRO

[2019-12-13 19:52] tyler-e-marshall commented on #65817
!component =lib/ansible/modules/cloud/amazon/

[2019-12-13 20:45] quazar0 opened #65823 "rds_instance fails to create database using aurora-postgresql engine"
##### SUMMARY

When attempting to create a database in AWS using the rds_instance module, specifying the aurora-postgresql engine, it returns a very strange error that says the 'iops' value is invalid for engine name 'manfred' and storage type 'aurora'.  But there is no reference to the text "manfred" anywhere that I can find, and the 'iops' option is not being used in the playbook.

##### ISSUE T

[2019-12-13 21:17] Tomasthanes commented on #65780
So when I saw the message "the python mysqldb module is required", I first thought that it was the very same module that you all helped me fix above but no, it's an apt package.

The fix for the message above is to install python3-mysqldb with apt-get.

Now all I have to do is get it to connect to the MySQL database on the localhost.  But that's on me.

Thank you for your help!

[2019-12-13 21:17] #65780 closed, assigned to nobody

[2019-12-13 21:41] aefhm commented on #33580
Same issue as @sebfere. +1

[2019-12-13 22:43] famousgarkin commented on #55911
In the meantime, you can override it however you like via a custom inventory plugin:

[code]

[2019-12-13 22:45] s-hertel commented on #65565
@sebastianw Thanks for testing. I opened a more minimal PR (#65784) to fix it for 2.10 so as to not be dependent on the larger PR.

[2019-12-13 22:58] ewchuah opened #65824 "parameter for leaf_port_blk for "aci_access_port_block_to_access_port:" module"
##### SUMMARY

There seem to be issue with aci_access_port_block_to_access_port: module. What is the parameter for "leaf_port_blk:" ?
using aci_rest the dn is
dn: "uni/infra/accportprof-{{item.name}}/hports-{{item.intSel}}-typ-range/portblk-block2"
but if i use leaf_port_blk: block2, the dn shown is correct, but i there is error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

aci_access_por

[2019-12-13 23:04] JulienPalard commented on #34736
I can reproduce this issue with Ansible 2.9.2.

[2019-12-14 00:54] Tomelin commented on #62711
Yes, is necessary to have permission the resources, but can be in other
subscription or resource group.  The resources should have permission.

In my environment, we have 4 subscriptions and eat subscriptions have
access different, but all subscriptions have access in my custom images.

On Thu, Dec 12, 2019 at 11:16 PM Fred-sun <notifications@github.com> wrote:

--
Atenciosamente,

Rafael Tomelin

[2019-12-14 02:25] fbruetting commented on #33581
How about using box drawing characters roughly like below? You get the idea. Especially for multiple nestings this would be hell of a lot of help for getting an easy to grasp overview of the Ansible output log! Especially when you have look over playbooks/roles you haven’t written yourself. Having some sort header also is necessary, as this is the only solution which avoids repeating the subject.

[2019-12-14 04:04] mulatinho commented on #65265
I made PR to solve this issue #65826 ;)

[2019-12-14 04:21] Akasurde commented on #65721
resolved_by_pr #65729

[2019-12-14 04:21] Akasurde commented on #65721
@machacekondra, Could you please check PR #65729 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-14 05:51] Akasurde commented on #65265
resolved_by_pr #65828

[2019-12-14 05:51] Akasurde commented on #65265
@omarqureshi, Could you please check PR #65828 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-14 05:55] Akasurde commented on #50573
resolved_by_pr #65808

[2019-12-14 05:55] Akasurde commented on #50573
@richlv, Could you please check PR #65808 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-14 06:57] mwberry opened #65831 "When using the `lxd` connection module, all tasks fail with `"unreachable": true`"
##### SUMMARY

When using the `lxd` connection module, all tasks fail with `"unreachable": true`. This is due to the `lxd` connection module try to use `self._play_context.remote_addr` as an argument to `lxc`. At least in my case, `remote_addr` is an IPv4 address and `lxc` complains that it is `Not Found`.

Here's the result of a log statement I added in [connection/lxd.py line 75](https://github.

[2019-12-14 07:02] mwberry commented on #65831
[code]

[2019-12-14 07:08] mwberry commented on #65831
Adding the following patch to the playbook does work around the issue, but it seems entirely redundant.

[code]

[2019-12-14 08:09] #65641 closed, assigned to nobody

[2019-12-14 08:09] Akasurde commented on #65641
@cove Thanks for your contributions.

[2019-12-14 08:45] Akasurde commented on #62902
@nature80 Could you please try @acozine suggestion and let us know? Thanks

needs_info

[2019-12-14 09:19] richlv commented on #50573
Not sure how to preview documentation changes.

[2019-12-14 09:59] D3DeFi commented on #50573
Not sure either as only thing I was able to try was `source <repodir>/hacking/env-setup; ansible-doc zabbix_action`.

[2019-12-14 10:08] papanito commented on #65770
Seems duplicate of #63291

[2019-12-14 12:51] #41116 closed, assigned to nobody

[2019-12-14 12:51] #25366 closed, assigned to nobody

[2019-12-14 15:02] D3DeFi commented on #50573
@richlv I was able to build docsite locally. If you haven't done so already, here are the steps to save you some time:

[code]

[2019-12-14 15:23] mulatinho commented on #65652
@subashp91 it would be nice if you provide your playbook to someone try to reproduce and fix this problem.

[2019-12-14 16:58] Akasurde commented on #62772
resolved_by_pr #65834

[2019-12-14 16:58] Akasurde commented on #62772
@markatdxb, Could you please check PR #65834 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-14 18:15] kladiv opened #65836 "show_per_host_start Issue: variables in task name not resolved"
##### SUMMARY
Variables in "[started TASK:" callback output are not resolved. It seems variables in Task name are not parsed

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
show_per_host_start = yes
stdout_callback = default

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible control node:
- DISTRIB_ID=Ubuntu
- DISTRIB_RELEASE=16.04
- DISTRIB_CODENAME=xen

[2019-12-14 21:58] felixfontein commented on #65815
Looking at the code, this is no surpise: the code assumes that `ipam_config` can contain at most one IPv4 and one IPv6 config. (The default bridge network driver can't handle multiple subnets of the same IP version.)

[2019-12-14 22:12] felixfontein commented on #65815
resolved_by_pr #65839

[2019-12-14 22:16] felixfontein commented on #65742
There's no need for special swarm support. The docker API client has support for swarm, you probably only need code to detect whether the node is a swarm manager node (that should be doable with the `info()` call - see https://docker-py.readthedocs.io/en/stable/api.html#docker.api.daemon.DaemonApiMixin.info and https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/docker/swarm.py#

[2019-12-14 22:30] felixfontein commented on #65742
I've created #65840 to explain the current situation better.

[2019-12-14 22:33] felixfontein commented on #65740
"Modifying" the network config means deleting the network and recreating it. It's in general problematic to make sure containers are reconnected with same / similar options, because the assumptions on how the containers should be connected depend on the network configuration. (Consider for example that the network's subnet(s) are changed - a fixed IP might no longer make sense.)

I've created #658

[2019-12-14 22:46] felixfontein commented on #65811
Is really `auto_remove` the problem, or is the problem that your docker daemon seems to be slow at actually removing the container? For me, `docker stop` seems to wait until the container is gone before exiting. When running `while true; do docker run --rm --detach --name test ubuntu:latest /bin/sh -c "sleep 1h" ; docker stop test ; done` I never experienced this problem (but then, I don't have a

[2019-12-14 23:11] darkdragon-001 commented on #65811
Yes, it is indeed `auto_remove` (`--rm`). I am using btrfs/zfs as storage driver and when I have a lot of snapshots on a system and perform tens of GB manipulation in a container, removal can take several minutes. `docker ps -a` still shows the container including name while being removed. When it finishes, it disappears.

Maybe aufs storage driver is just too fast for any developer to notice. The

[2019-12-15 00:10] andreaskaris commented on #61457
+1 When executing ansible from within the latest Fedora 31 docker container (fedora:31 from docker.io) system and using it against Rhel 7, I get:
[code]

This seems to be the same issue:
[code]

[code]

The container only has the C.UTF-8 locale by default:
[code]

Assuming that we can simply fall back to C.UTF-8 seems a bit bold given that in RHEL 7, this doesn't work at all:
https://bugzilla.redh

[2019-12-15 03:24] mit0223 opened #65843 "to_nice_yaml does not emit non ascii characters when stdout_callback=yaml"
##### SUMMARY
to_nice_yaml filter does not emit non ascii characters when stdout_callback=yaml and contents include newline.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
to_nice_yaml
stdout_callback=yaml

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
only one configuration ```stdout_callback=yaml``` from environment variable.

##### OS / ENVIRONMENT
macOS catalina 10.15.1
CentOS Linux

[2019-12-15 09:36] queglay opened #65850 "Ansible encounters unicode errors with lookup() but not with --extra-vars"
##### SUMMARY

Ansible handles environment variables inconsistently when passed with lookup() instead of as extra-vars arguments.
A variable such as:
export test='!asdf’tsdf'
...will cause unicode errors when passed as an environment variable via lookup().
But it will be handled fine if passed as --extra-vars "test=$test"
It would be helpful if the lookup function handled environment variables in

[2019-12-15 11:44] felixfontein commented on #65811
Could you send me a `docker inspect` output of a container which is currently being deleted (after `docker stop` / `docker rm -f` exited, and before it vanishes)? I'm particularly interested in its `State` section.

I can try to add a fix for that, but you would have to test it as I can't really do that myself. Are you willing to do that?

[2019-12-15 14:16] darkdragon-001 commented on #65811
@felixfontein I would like to assist testing.

Console 1:
[code]

Console 2 after update finished:
[code]

docker-deleting.log:
[code]

[2019-12-15 15:12] JulienPalard opened #65851 "Variable leaking from one role to the other"
##### SUMMARY
I'm having a playbook reusing the same role multiple times, but variable are "leaking" from one use to the other.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
roles

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### STEPS TO REPRODUCE

I tried with this simple playbook:

[code]

and static_website role simply containing:
[code]

in a hierarchy like this:
[code

[2019-12-15 16:09] Akasurde commented on #65836
resolved_by_pr #65852

[2019-12-15 16:09] Akasurde commented on #65836
@kladiv, Could you please check PR #65852 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-15 16:22] Akasurde commented on #65850
@queglay Thanks for reporting this issue. This issue is already been filed. So closing this one. Could you please check if #65541 works for you and let us know? Thanks.

Duplicate of https://github.com/ansible/ansible/issues/65297

[2019-12-15 16:22] #65850 closed, assigned to nobody

[2019-12-15 18:06] bogd opened #65853 "gcp_compute_instance fails when instance exists, but is stopped"
##### SUMMARY
I am using the `gcp_compute_instance` module to create GCE instances. While not using them, I keep the instances shut down.

When rerunning the task, with `state: present` and `status: RUNNING`, I would expect the missing instances to be created, and the stopped instances to be started. However, the task fails with an error when reaching a stopped instance.

##### ISSUE TYPE
- Bug Re

[2019-12-15 19:04] felixfontein commented on #65811
I've created a PR at #65854.

[2019-12-15 20:33] wirerydr opened #65855 "Mount module fails on nfs mounts with "as it does not exist'"
##### SUMMARY
When using the ansible 'mount' module to mount an NFS export, the play fails with an error containing "... as it does not exist".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible module **mount**

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Output of hostnamectl:
[code]

##### STEPS TO REPRODUCE

It appears that commit d2f45dada7f46

[2019-12-15 22:09] magick93 opened #65856 "Debug verbosity not working as expected"
##### SUMMARY
The `debug` module is too noisy, and doesnt output only what is being requested. And the `verbosity` property isnt working as expected.

The `debug` module is outputting more than is being asked.

When I set `verbosity: 3` and do not use `-v` / `-vv` / `-vvv` etc on the command line, I get blue, skipped, output from debug.

When I set `verbosity: 0` it actually ouputs more info than

[2019-12-15 23:19] WilliamDEdwards opened #65858 "with_first_found does not find any files since Ansible 2.7"
##### SUMMARY
with_first_found is not finding files after updating to Ansible 2.7.

I have not found any changes in Ansible changelogs between versions 2.4 to 2.9 relating to with_first_found behaviour.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
with_first_found

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ansible controller OS: Debian 9.11

##### STE

[2019-12-15 23:49] gparent commented on #56786
I dug into this a little bit more, I think https://github.com/ansible/ansible/blob/94be732351692e3418d88e73f4c1570513e86c1c/lib/ansible/plugins/inventory/vmware_vm_inventory.py#L393 would need to be changed so that the search can be targeted rather than on the whole infrastructure.

I patched the contrib script to do it: https://github.com/gparent/ansible/commit/c96da6eff66c08ae6fc56f4054b96b076b9

[2019-12-16 00:34] karmicdude opened #65859 "Inline vault as value of variable with numeric type not converted correctly to int and causing an error"
##### SUMMARY
The problem of converting a vault-encrypted value from a group vars (yaml format) file with variable-level encryption (not a whole file encryption) with type (int).

##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Arch Linux 5.4.2-arch1-1 / FreeBSD 11.2-RELEASE

##### STEPS TO REPRODUCE
[code]
`group_vars/testgroup.yaml`

[2019-12-16 02:57] markatdxb commented on #62772
@Akasurde - currently i dont have test environment available but will test in earliest possible time

[2019-12-16 04:52] Akasurde commented on #65561
If someone wants to take a stab at this (not tested) -

[code]

[2019-12-16 04:58] Akasurde commented on #65855
resolved_by_pr #65544

[2019-12-16 04:58] Akasurde commented on #65855
@wirerydr, Could you please check PR #65544 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-16 05:42] kirannhegde commented on #65366
Hello @sivel @jillr  I did like to pick up this issue. This is my first time contributing to an open source project as big as Ansible. I believe this would be a good start for me. Kindly let me know if i can pick this up.

Thanks,
Kiran Hegde

[2019-12-16 05:49] Akasurde commented on #65770
@papanito Thanks for reporting this issue. Could you please check if https://github.com/ansible/ansible/pull/65726 works for you and let us know. Thanks.

needs_info

[2019-12-16 06:19] rtsisyk commented on #65367
@Andersson007 I will try to finish on this week.

[2019-12-16 06:36] 0mmariano opened #65865 "openssl_certificate cannot detect installed required libraries"
##### SUMMARY
Ran a playbook with to test the openssl_certificate module but got the error below, even though higher versions of the libraries are installed in the target machine --

MSG:

Can't detect any of the required Python libraries cryptography (>= 1.6) or PyOpenSSL (>= 0.15)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
openssl_certificate module

##### ANSIBLE VERSION
[code]

#####

[2019-12-16 07:15] Akasurde commented on #65385
@Nikhil-bit Any news? Thanks.

[2019-12-16 07:20] Akasurde commented on #65141
@sohnaeo Could you please provide playbook used? I suspect that using `dns_servers` will trigger the nsswitch modification, will confirm once you provide playbook.

Thanks.

needs_info

[2019-12-16 07:21] Fred-sun commented on #65814
@samdoran Thank you for taking the time to report this problem. From the fail information, we can know that the custom_domain is illegal, but we are not sure what caused it， in the investigation. Thank you very much!

[2019-12-16 07:45] NilashishC commented on #61601
Assigned this to @rohitthakur2590 who is the maintainer for VyOS modules, to keep track of this.

[2019-12-16 08:02] #65304 closed, assigned to nobody

[2019-12-16 08:13] Fred-sun commented on #31867
Ping to closed! This problem can be closed and contributors disappear. If there are any more problems, an Issue report can be reopened for easy tracking. Thank you very much!

[2019-12-16 08:41] winem commented on #43514
I experienced a similar and maybe related behavior a while ago. The PR with the fix (which superseeded mine) was https://github.com/ansible/ansible/pull/63194

So I would check if the behaviour is still reproducible with a more recent release.

[2019-12-16 09:08] imuab commented on #65416
@karthikeyan-dhandapani I will give it a try later and than I will post my results.

[2019-12-16 09:13] MarkusTeufelberger commented on #65865
Are you sure that you are using Python3 on that machine?

[2019-12-16 10:02] JulienPalard commented on #65851
Found some "doc" maybe closely related: https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.7.html?highlight=include_role#include-role-and-import-role-variable-exposure

[2019-12-16 10:29] davidebelloni opened #65867 "GCP service account impersonification"
##### SUMMARY
Permit the impersonification of service account as gcloud and gsutil

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
All the GCP modules

##### ADDITIONAL INFORMATION
In a system with a user gcloud authendicated permit the execution of playbooks with GCP modules impersonificating a specific service account

[2019-12-16 10:42] JulienPalard commented on #65851
There's another hint in this page, the `public` variable: https://docs.ansible.com/ansible/latest/modules/include_role_module.html

Looks like this bug is a feature, I'm closing this.

[2019-12-16 10:42] #65851 closed, assigned to nobody

[2019-12-16 10:42] queglay commented on #65850
I’ve checked out this thread but there didn’t appear to be a solution available yet.

[2019-12-16 10:43] JulienPalard commented on #34736
It works using `include_role` instead of `roles`.

[2019-12-16 11:30] vinayupadhyay1994 opened #65870 "Ansible azure VM Generalization not working"
I am writing a playbook to generalize a azure windows vm, after generalization, i capture an image.

On creating a new vm from the captured image i get the below error :

[code]

My play book looks like this :
[code]
Expected Result:

VM is created from generalized image

Any idea where am I going wrong ?

[2019-12-16 12:04] internetionals opened #65871 "Azure CI errors"
##### SUMMARY
Currently the CI integration tests fail for `azure_rm_storageaccount`.

The test `Assert CNAME failure` in `test/integration/targets/azure_rm_storageaccount/tasks/main.yml` fails because the result message from the previous step doesn't match the expected string, though the tested action does fail as expected. At first glance it seems that some upstream project improved their error m

[2019-12-16 12:06] justjais commented on #64515
@misch42 thanks for that, and I have updated the PR with the change. Can u test the same again and if fixed I can merge the PR and create a backport to Ansible stable-2.9.

[2019-12-16 12:10] jesusch opened #65873 "YAML parser fails for octal mode in loop"
##### SUMMARY
It seems ansible's YAML parsers does not work well on loops

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
minimum file plugin. I guess everything related to octals and loops

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
not OS related

##### STEPS TO REPRODUCE
first task works
second task fails

[code]

##### EXPECTED RESULTS
both tasks shou

[2019-12-16 12:43] vinayupadhyay1994 commented on #65870
Hello,
I am using Ansible 2.8.0 and i am new to ansible i do not know the component name, are you talking about module ?

vinay

[2019-12-16 13:05] imuab commented on #65416
@karthikeyan-dhandapani Unfortunatley I did not got it working. I need some help.
That's my current playbook to backup the aruba switches:

[code]
The `aruba_task_lists` folder is in the folder like my playbook and I am getting following error:

`fatal: [switch]: FAILED! => {"msg": "The task includes an option with an undefined variable. The error was: 'switch_session' is undefined\n\nThe error ap

[2019-12-16 13:45] #65071 closed, assigned to nobody

[2019-12-16 13:58] akatch commented on #65561
I'll take a pass at this tonight, thanks @Akasurde (and @dkossako for submitting <3)

[2019-12-16 14:01] s-hertel commented on #65859
Yes, only string types are currently supported for inline vaults, as added in https://github.com/ansible/ansible/pull/65023. This could be resolved by doing something like https://github.com/ansible/ansible/pull/60715/files#diff-0c625695bed181c8ccc287e78a55d40eR93-R95 instead.

[2019-12-16 14:28] milouse commented on #64682
I just create my PR. Don't hesitate to test and comment :)

[2019-12-16 14:47] sivel commented on #65873
The problem is not obvious to see, but this is due to a historical integration between ansible and jinja2.

Here is roughly what is happening:

1. YAML parser reads octal, and stores it as an int (`384`)
1. Templating `item.mode` results in a string representation of the int (`"384"`)
1. Python assumes that string values provided as a mode are octal, and the value of "384" is not base 8, so it fai

[2019-12-16 14:47] #65873 closed, assigned to nobody

[2019-12-16 14:47] s-hertel commented on #65859
!component =lib/ansible/config/manager.py

[2019-12-16 14:50] sivel commented on #65856
The `verbosity` argument for `debug` indicates at what verbosity level ansible was run at, that the debug task should actually output.

It does not dictate how verbose the output is when using a debug task.

So using `verbosity: 3` means that the debug task will only display when ansible was invoked with `-vvv`.

`loop_control.label` is typically the recommended way to reduce output noise.

If you

[2019-12-16 14:51] sivel commented on #65843
!component =lib/ansible/plugins/callback/yaml.py

[2019-12-16 15:14] mossroy commented on #65804
If it can help, I tried to find what these numbers correspond to.
524288000 = 512MB corresponds to the size of a "System reserved" disk (see screenshot below)
53684994048 = around 50GB corresponds to the actual size of disk D
![storage volumes](https://user-images.githubusercontent.com/890923/70917412-8ffbb680-201d-11ea-9abf-83fcd34727b6.jpg)

We launched the same playbook a second time on xxxs01

[2019-12-16 15:39] ShachafGoldstein commented on #65804
Please include a verbose output of the playbook -vvvv

[2019-12-16 15:39] MH0302 commented on #65722
To explain more in detail I attached my testcase.

If I use the filter dictsort, the variables in keys and values are resolved.

If I use the filter dict2items and the values contain no "vaulted secret" the keys and values are resolved.

If I use the filter dict2items and one value is a "vaulted secret", all values are resolved but ALL keys are not resolved (not only the key of the variable that c

[2019-12-16 16:14] mossroy commented on #65804
Here is the verbose output (sorry, I had to replace lots of strings with "xxx") :

[code]

[2019-12-16 16:21] bugdebug opened #65881 "Add new max_fail_hosts play keyword that works like max_fail_percentage"
##### SUMMARY

Requesting ansible variable:
max_fail_hosts: <number>

`max_fail_percentage` count failed hosts in batch.
So, I would like to be very accurate.
I have 100 hosts and batch size = 3. I would like to stop if 3 hosts fail total, but do not have any way to do that.

##### ISSUE TYPE
- Feature Idea

[2019-12-16 16:22] mwild1 commented on #53750
I can confirm this bug. I used a bit of a hacky workaround (this code was only for dev purposes):

[code]

Generating a random 22 characters is not enough, apparently certain characters are disallowed and the last 4 bits must be 0.

[2019-12-16 16:28] #65298 closed, assigned to samdoran

[2019-12-16 16:28] tsacha commented on #65761
Hello, thanks for creating the issue.

Full traceback:

[code]

The target database is prepared with Ansible, then a backup is imported with `psql -f`.
Then the following tasks are applied to fix permissions:

[code]

The last one crash.

On the newly created DB the table, view, and sequence access privileges are empty:

With `psql` command and `\z`:
[code]

[2019-12-16 16:33] sivel commented on #65722
I'm guessing I know what is causing it, in that `dictsort` has an argument of `case_sensitive=False ` (https://jinja.palletsprojects.com/en/master/templates/#dictsort)

The result is that all keys have `.lower()` run on them, which is removing the unsafe designation.

I imagine if you make that `case_sensitive=True`, that `dictsort` and `dict2times` will work the same.

If there is any bug here, i

[2019-12-16 16:49] marusak opened #65882 "Deleting selinux rule and setting it back up does not work"
##### SUMMARY

I tried do use ansible selinux modules for syncing selinux rule on two machines. I want it to behave the same as it would behave with `semanage export` followed by `semanage import` on the other machine. But when I remove rule with `shell` task and then set it back up with selinux module, it states it is still up to date and does not change it, but actually it gets removed.

##### I

[2019-12-16 16:58] sivel commented on #65722
I still likely need to do some digging, as I haven't verified my assumption about `case_sensitive`.

[2019-12-16 17:21] acozine commented on #65418
@propyless thanks for the reply - you can always check out the codebase from GitHub to access the testing libraries. If that's not possible for some reason, please open a new issue. Thanks again for pointing out the out-of-date documentation!

[2019-12-16 17:22] acozine commented on #65418
Docs portion addressed by #65775.

[2019-12-16 17:22] #65418 closed, assigned to acozine

[2019-12-16 17:35] sivel commented on #65722
Also, fwiw, I'm looking at your reproducer, and all 3 "tests" are inconsistent, and not implemented the same way.  Which has the potential of changing behavior.  There is no consistency between the reproducers, adding too much variation to do an actual comparison between them.

[2019-12-16 18:16] quartin commented on #65450
Hi @sivel, how did you get to that conclusion? Where are then `args` passed that would make the pop make it work?
New to ansible, so sorry if i'm saying nonsense. Isn't it missing [here](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/files/assemble.py#L181) the `decrypt` argument?

[2019-12-16 18:17] bogd commented on #65853
!component gcp_compute_instance

[2019-12-16 18:30] sivel commented on #65722
Ok, I think I have tracked it down, to not special casing `tuple` in unsafe wrapping, which is indeed a bug.  I'll likely be able to get a PR together this week.

[2019-12-16 18:34] sivel commented on #65450
@quartin the actual module doesn't care about `decrypt` and has no use for it.  Allowing the module to accept `decrypt` could be done, but since it has no use for that argument, popping it and only using it where it is needed seems the best approach.

But I can see from a validate-modules perspective (CI test), that we would have to continue to ignoring a mismatch between `DOCUMENTATION` and `argu

[2019-12-16 18:35] jillr commented on #65366
@kirannhegde That would be great, thanks! Take a look over the [dev guide](https://docs.ansible.com/ansible/latest/dev_guide/) and make sure to include `Fixes #65366` in your pull request to link it to this issue.

[2019-12-16 18:35] Tomasthanes opened #65887 "Ansible can't connect to MySQL on localhost with same credentials as mysql client"
This issue may be related to https://github.com/ansible/ansible/issues/55845 and it mentions "It seems that the commit "mysql_user: fix regression introduced when fixing MariaDB/MySQL multiple versions handling" solves the issue." but there was no link and I don't know how to find that fix.

##### SUMMARY
If I use credentials with the mysql client, they work.  If I use the same credentials with An

[2019-12-16 18:40] Tomasthanes commented on #65887
When it includes the global variables, this is the file that its reading: vars/cmdb.yml:

[code]

[2019-12-16 19:04] ddutt opened #65888 "lldpd module in Ansible 2.8.3 barfs when used with lldpd version 1.0.4"
##### SUMMARY

If you're using VLAN subinterfaces on a Linux box (such as eth1.2, eth1.10 etc.), and run lldpd on that box, it now returns additional lldpd entries of the form 'lldp.swp5.vlan.vlan-id=4', and this causes the lldpd module to barf.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lldpd

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Cumulus L

[2019-12-16 19:13] karthikeyan-dhandapani commented on #65416
HI @imuab , I think you had to make a [task for login](https://github.com/aruba/aruba-switch-ansible/blob/master/aruba_task_lists/aos_switch/login_switch.yml) first and then call the [anycli](https://github.com/aruba/aruba-switch-ansible/blob/master/aruba_task_lists/aos_switch/anycli.yml).

[2019-12-16 19:30] felixfontein commented on #65865
You might want to use `ansible_python_interpreter` to force Ansible to use Python 3. Documentation can be found here:
 - https://docs.ansible.com/ansible/latest/reference_appendices/python_3_support.html#using-python-3-on-the-managed-machines-with-commands-and-playbooks
 - https://docs.ansible.com/ansible/latest/reference_appendices/interpreter_discovery.html

(Also, you might want to upgrade your

[2019-12-16 19:48] xmadsen opened #65889 "redfish_info yielding Failed GET request for any command"
##### SUMMARY

Since updating to Ansible 2.9, redfish_info has failed to yield any inventory information successfully. The same commands that work in redfish_facts in Ansible 2.8 are failing their initial GET requests to the redfish service API endpoint.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

redfish_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRO

[2019-12-16 20:42] magick93 commented on #64811
Yes I do. That is the problem.

Thanks

[2019-12-16 20:42] #64811 closed, assigned to nobody

[2019-12-16 20:58] sergiopacezup opened #65890 "Add support for "uniformBucketLevelAccess" in the gcp_storage_bucket module"
##### SUMMARY
Add support for "uniformBucketLevelAccess" in the gcp_storage_bucket module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
gcp_storage_bucket

##### ADDITIONAL INFORMATION
Property  iamConfiguration.uniformBucketLevelAccess.enabled on the API (https://cloud.google.com/storage/docs/json_api/v1/buckets#resource)

[2019-12-16 21:04] billdodd commented on #65889
Strange. I cannot reproduce this. Nor can I see any reason that the module change from redfish_facts to redfish_info would result in this type of error.

Do you see the same error with the redfish_config and/or redfish_command modules?
Do you see the errors using the latest devel branch?

From the error you are getting, I would be interested in the Content-Type header in the response to the GET re

[2019-12-16 23:19] phanirajl opened #65895 "ec2_vpc_subnet fails with NoneType' object is not subscriptable"
##### SUMMARY

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2019-12-16 23:22] Tomasthanes commented on #65887
Just curious...  My previous issue on this website (XXX) was for syntax errors in the mysql_query.py library module (which my predecessor installed  ).  The resolution of that issue was to change "except Exception, e:" to "except Exception as e:" to accommodate Python2 --> Python3.

When I look at the lines where it's trying to make a connection to (any) MySQL database:
[code]
The line I modified

[2019-12-16 23:44] phanirajl commented on #65895
Component :- ec2_vpc_subnet.py

[2019-12-16 23:46] phanirajl commented on #65895
needs your attention here @erydo

[2019-12-17 00:06] magick93 commented on #65856
@sivel - thanks, but I dont think this should be closed.

I've shown above that this isnt working as you've described.

And I've also shown that this is also not working as you've described.

[2019-12-17 01:49] walterrowe commented on #65506
The error is  at line 210 in is_activated() in beadm.py.

The code starting at line 201 reads:

[code]

Line 210 is this:

[code]

Should it read as similar to line 207?

[code]

Resulting in

[code]

[2019-12-17 01:51] 0mmariano commented on #65865
@MarkusTeufelberger @felixfontein Thanks for the help.

There was both python2 and python3 in the machine and it was defaulting to python2 so I used the ansible_python_interpreter variable in my playbook.

[2019-12-17 01:51] #65865 closed, assigned to nobody

[2019-12-17 02:07] jkupferer opened #65897 "k8s json merge patch broken"
##### SUMMARY
The k8s module does not support json patch as the documentation claims.

A simple review of the implementation of the k8s module reveals that json patch is not implemented. This did function in an earlier Ansible release, but the code base appears to have made so many assumptions that force the resource definition to be a dictionary that it may not be practical to support json patch

[2019-12-17 03:56] Akasurde commented on #65895
!component =lib/ansible/modules/cloud/amazon/ec2_vpc_subnet.py

[2019-12-17 04:31] sohnaeo commented on #65141
@Akasurde

- name: "vm_clone | Clone a VM {{ role_dict.guest_name }} from template {{ role_dict.from_template }}"
  vmware_guest:
    hostname:           "{{ role_dict.hostname }}"
    username:           "{{ role_dict.username }}"
    password:           "{{ role_dict.password }}"
    cluster:            "{{ role_dict.cluster }}"
    datacenter:         "{{ role_dict.datacenter }}"
    name:

[2019-12-17 04:31] sohnaeo commented on #65141
@Akasurde

[2019-12-17 04:31] #65141 closed, assigned to Akasurde

[2019-12-17 04:36] Akasurde commented on #65141
@sohnaeo Thanks for the information. Could you please also provide the hack that you did to overcome this issue? This might help in providing correct fix for now.

Thanks.

[2019-12-17 04:40] sohnaeo commented on #65141
@Akasurde

Thanks for the quick response. Let me explain the problem, we use the vmware_clone playbook to provision vmware hosts in DMZ/DEV/PROD environments. There are no DNS in DMZ but DEV/PROD do so that is the reason we didn't change the vmware_clone playbook but we introduce another playbook that check if host is based in DMZ , no DNS then remove dns entry from nsswitch.conf which made by the

[2019-12-17 04:52] Akasurde commented on #65141
@sohnaeo Ah! Got it. Thanks for the explanation. Thanks.

[2019-12-17 04:54] sohnaeo commented on #65141
@Akasurde do you think this would be fixed in the upcoming releases if no dns then dont touch nsswitch.conf

[2019-12-17 06:05] kirannhegde commented on #65366
Thanks for the quick response. I will get started on this.

[2019-12-17 06:46] Fred-sun commented on #56774
@haiyuazhang Please take a look at this problem when you're free. Thank you very much!

[2019-12-17 06:49] willthames opened #65898 "Double templating again"
##### SUMMARY
Yet another double templating regression

The circumstances are different but the test case is exactly the same as  #62237. The fix should include adding this as a regression test case.

cc @sivel as the breaking commit is 254788b and the circumstances don't seem to be resolved by the documented porting guide.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
templating

##### ANS

[2019-12-17 06:54] willthames commented on #65898
This may not be a bug although the porting guide could possibly be clearer.

It's clear from the porting guide that changing from with_X to loop might fix problems, but in my case, changing from loop to with_X fixed the problem.

[2019-12-17 06:55] wirerydr commented on #65855
Tested PR #65544 within the (otherwise) same environment that originally manifested my problem, as documented by this bug report.  The following scenarios were tested:

1. With new Mount module parameter **verify_src** omitted.  Originally-documented error re-manifested.  **Results as expected, as-per documented default value of _yes_**.
2. With **verify_src _yes_**.  Originally-documented error r

[2019-12-17 06:56] willthames commented on #65898
Also, breaking changes in 2.9 aren't really cool.

This worked fine in 2.9.0 but upgrading to 2.9.2 broke it for us.

[2019-12-17 07:15] Fred-sun commented on #65871
duplicate_with #65814

[2019-12-17 07:15] Fred-sun commented on #65814
fixes by #65875

[2019-12-17 07:16] mpechner commented on #51122
sorry been stuck in terraform hell.  Will do a PR this weekend.

[2019-12-17 07:27] Fred-sun commented on #56634
@haiyuazhang Please take a look at this problem when you're free! Thank you very much!

[2019-12-17 07:40] stephan2012 commented on #28382
Oh, I'm a bit surprised that the bot is waiting for my response. I've opened this issue back in 2017 and today have no longer an environment where I need to connect unmanaged containers to Swarm workers. Maybe some of the other participants can tell if the issue is fixed and close this issue then.

[2019-12-17 07:49] imuab commented on #65416
@karthikeyan-dhandapani I tried it with the login playbook but my playbook failed when its executing the login task. My switches dont listen for port 443.

[2019-12-17 07:50] Fred-sun commented on #45330
close_me

[2019-12-17 08:42] renskewierda commented on #65563
@Fred-sun @haiyuazhang any update on this? If you agree that this is indeed not a supported parameter value, then we will also remove it from the readme of our Ansible role in which we use your module.

[2019-12-17 08:47] Fred-sun commented on #65563
@renskewierda In the process of confirmation, due to the time difference, the delay cannot be confirmed, so it will be handled urgently. Thank you very much!

[2019-12-17 08:49] Fred-sun commented on #65563
@haiyuazhang Could you please help confirm whether this parameter is needed(StandardSSD_LRS), It is very urgent! Thank you very much!

[2019-12-17 08:50] bmalynovytch commented on #65887
Hi @Tomasthanes !

If you get an `access denied` it could be due to MySQL client behaving differently with `localhost` in some implementations.

Some of them (ie. in CLI) consider that `localhost` means "with the unix socket", which is different than "by the network on the loopback interface".

On Ubuntu, the default authentication module post-installation now uses system privileges on the Unix so

[2019-12-17 09:11] nazarko-es opened #65900 "incorrect handling of the variable"
##### SUMMARY
I use netbox plugin for ansible, but not all variables are handled correctly in playbook. Sorting by platform in inventory file and specifying a variable "platforms" in group_wars/platforms_NX-OS.yml solves the problem. Also this problem is not observed with the variable "tags"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
netbox, playbook

##### ANSIBLE VERSION
ansible 2.8.2

[2019-12-17 09:17] renskewierda opened #65901 "Frontend IP Configuration cannot be left empty in azure_rm_loadbalancer module"
##### SUMMARY

In the documentation of the module azure_rm_loadbalancer, frontend_ip_configurations is not listed as a required parameter. However, when trying to use the module when leaving frontend_ip_configurations empty, Ansible reports an error.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_loadbalancer

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / E

[2019-12-17 09:55] stephan2012 commented on #59191
Yep, @willthames pointer helped. Thanks.

[2019-12-17 09:55] #59191 closed, assigned to nobody

[2019-12-17 09:59] Akasurde commented on #47427
resolved_by_pr #65902

[2019-12-17 09:59] Akasurde commented on #47427
@mfisher30, Could you please check PR #65902 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-17 10:00] Akasurde commented on #62954
resolved_by_pr #65902

[2019-12-17 10:00] Akasurde commented on #62954
@pgbidkar, Could you please check PR #65902 and let us know if it works for you ? <br><br>Please check [How to test a PR](https://docs.ansible.com/ansible/latest/dev_guide/testing.html#how-to-test-a-pr) for more help. <br><br> Thanks. <br><br> needs_info

[2019-12-17 10:03] Akasurde commented on #62954
Since `vmware_guest` is already packed with a bunch of features, I took the liberty to create a new generic module for renaming VMware objects.

Thanks.

[2019-12-17 10:07] tchernomax opened #65904 "include_tasks + loop: no "=> (item=…)" output"
#### SUMMARY

[code]
Expected output:
[code]
Current output:
[code]

The problem is here: https://github.com/ansible/ansible/blob/ec0885cf05027e0b220abf1feee96a9f7770cafa/lib/ansible/plugins/callback/default.py#L353

`'item'` is in `included_file._vars` not `included_file._args`.
Also, `ansible_loop_var` should be used instead of 'item' (but I don't know how), so loop_control.loop_var could be use

[2019-12-17 10:07] Andersson007 commented on #65761
@tsacha could you please check https://github.com/ansible/ansible/pull/65903

[2019-12-17 10:26] ganeshrn commented on #65655
@wisotzky Did you get a chance to test the PR? If it works I will merge it and raise a 2.9 backport PR.

Also after internal discussion, we concluded that `ansible_network_os=auto` feature will be deprecated and removed in 2.10. The netconf auto-discovery feature won't be supported in collections. Since in most of the case the network os value is already known to enable netconf on the device which

[2019-12-17 10:45] heuels commented on #65819
@derlucas, thanks for taking the time to report this! I've put together a pull request #65905 with a fix, hopefully it will get merged soon.

[2019-12-17 10:48] HRio commented on #65711
@samdoran and @bcoca can you have a look at this problem? we lost quite a few password hashes due to this and had to grab a backup to recover.

If there is limited time to fix this at the moment I think #45507 should be reverted for the currently affected stable releases.