[2020-01-31 21:50] sivel commented on #63686
That's not exactly what I had in mind. My recommendation is to separate the normalization code into a function that can be used by fetch_url, and as needed in callers of open_url. Not that open_url should normalize it.

[2020-01-31 21:50] goneri opened #67004 "podman connection broken with pipelining==True"
##### SUMMARY

I use an up to date git checkout of devel. The following command works fine without pipelining:
[code]

The same command will fail if I set this content in `ansible.cfg`:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/plugins/connection/podman.py

##### ANSIBLE VERSION

[code]
`podman version 1.7.0` from Fedora 31.

##### STEPS TO REPRODUCE

**Without pipel

[2020-01-31 21:53] mattclay commented on #64523
@kareemhageali Before any work is done on this we need to figure out what help information should be available when outside a collection directory. Do you have any thoughts on that?

[2020-01-31 23:28] #39694 closed, assigned to nobody

[2020-01-31 23:31] jgruberf5 commented on #60193
Large customer transitioning from Heat to Ansible... this is a requirement from them too.

The ansible modules use shade (dumbed down openstack client for python), which purposely has a limited view of the OpenStack APIs. The os_floating_ip module uses the 'public_v4' address from the server which would return your existing floating IP. I'm afraid os_* modules in Ansible were always for the '80%'

[2020-01-31 23:33] goneri commented on #67004
- STDIN input of `podman exec` is broken between 1.6  and 1.8: https://github.com/containers/libpod/issues/4326
- 1.8.0-rc1 comes with another problem: https://github.com/containers/libpod/issues/5046
- If we want `podman exec` to read STDIN, we must pass the `-i` flag, this is not something that is done currently.

[2020-02-01 07:09] #54239 closed, assigned to nobody

[2020-02-01 08:46] #44651 closed, assigned to nobody

[2020-02-01 09:34] stefanhorning commented on #35110
I think this ticket can be closed, since https://github.com/ansible/ansible/pull/55985 was merged and thus this feature is included since the 2.9 release.

[2020-02-01 09:38] stefanhorning commented on #33670
I think this is no longer relevant. I guess the standard nowadays is to use the `~/.aws/` config files (or the standard AWS env variables) which are also used by all other AWS tooling and are reliably picked up by Boto3 too.

[2020-02-01 09:38] #33670 closed, assigned to nobody

[2020-02-01 09:39] Andersson007 commented on #54239
i made a backport PR to 2.9 for that. Probably it will be released in the next minor release.

[2020-02-01 11:10] zeitounator opened #67008 "Ansible version 2.3 documentation should warn for outdated and link to latest"
##### SUMMARY

I lately came across people referencing old documentation links by mistakes on help / forums / Q&A sites. Actually, some old pages still come in pretty high ranks when researching. I don't remember all the past links I have seen but from memory they tend to link to version 2.3 documentation.

Latest example I can give: `ansible stop playbook on any error` researched on https://www.q

[2020-02-01 13:37] #63077 closed, assigned to nobody

[2020-02-01 13:45] #41425 closed, assigned to samccann

[2020-02-01 13:48] felixfontein opened #67012 "nxos_igmp_interface has options which should be removed for Ansible 2.10"
##### SUMMARY
As detected by https://github.com/ansible/ansible/pull/66920, this module has options marked with `removed_in_version='2.10'`. These options should better be removed before Ansible 2.10 is released.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/network/nxos/nxos_igmp_interface.py
lib/ansible/modules/network/nxos/nxos_igmp_interface.py

##### ANSIBLE

[2020-02-01 13:49] felixfontein opened #67013 "purestorage/purefb_fb has option which should be removed for Ansible 2.10"
##### SUMMARY
As detected by https://github.com/ansible/ansible/pull/66920, this module has an option marked with `removed_in_version='2.10'`. This option should better be removed before Ansible 2.10 is released.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/storage/purestorage/purefb_fs.py

##### ANSIBLE VERSION
[code]

[2020-02-01 13:50] felixfontein opened #67014 "win_psexec has option which should be removed for Ansible 2.10"
##### SUMMARY
As detected by https://github.com/ansible/ansible/pull/66920, this module has an option marked with `removed_in_version='2.10'`. This option should better be removed before Ansible 2.10 is released.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/windows/win_psexec.ps1

##### ANSIBLE VERSION
[code]

[2020-02-01 13:51] felixfontein opened #67015 "win_stat has option which should be removed for Ansible 2.10"
##### SUMMARY
As detected by https://github.com/ansible/ansible/pull/66920, this module has an option marked with `removed_in_version='2.10'`. This option should better be removed before Ansible 2.10 is released.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/windows/win_stat.ps1

##### ANSIBLE VERSION
[code]

[2020-02-01 13:58] felixfontein opened #67016 "some vmware modules have options which should have been removed for Ansible 2.9"
##### SUMMARY
As detected by https://github.com/ansible/ansible/pull/66920, (some of) these modules have options marked with `removed_in_version='2.9'`. These options should have been removed before Ansible 2.9 was released. Since that is too late, it would be good if they could be removed before Ansible 2.10 is released.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/mod

[2020-02-01 13:58] felixfontein opened #67017 "some aireos modules have options which should have been removed for Ansible 2.9"
##### SUMMARY
As detected by https://github.com/ansible/ansible/pull/66920, (some of) these modules have options marked with `removed_in_version='2.9'`. These options should have been removed before Ansible 2.9 was released. Since that is too late, it would be good if they could be removed before Ansible 2.10 is released.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/mod

[2020-02-01 13:59] felixfontein opened #67018 "some aruba modules have options which should have been removed for Ansible 2.9"
##### SUMMARY
As detected by https://github.com/ansible/ansible/pull/66920, (some of) these modules have options marked with `removed_in_version='2.9'`. These options should have been removed before Ansible 2.9 was released. Since that is too late, it would be good if they could be removed before Ansible 2.10 is released.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/mod

[2020-02-01 13:59] felixfontein opened #67019 "some asa modules have options which should have been removed for Ansible 2.9"
##### SUMMARY
As detected by https://github.com/ansible/ansible/pull/66920, (some of) these modules have options marked with `removed_in_version='2.9'`. These options should have been removed before Ansible 2.9 was released. Since that is too late, it would be good if they could be removed before Ansible 2.10 is released.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/mod

[2020-02-01 14:00] felixfontein opened #67020 "some cloudengine modules have options which should have been removed for Ansible 2.9"
##### SUMMARY
As detected by https://github.com/ansible/ansible/pull/66920, (some of) these modules have options marked with `removed_in_version='2.9'`. These options should have been removed before Ansible 2.9 was released. Since that is too late, it would be good if they could be removed before Ansible 2.10 is released.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/mod

[2020-02-01 14:00] felixfontein opened #67021 "some dellos10 modules have options which should have been removed for Ansible 2.9"
##### SUMMARY
As detected by https://github.com/ansible/ansible/pull/66920, (some of) these modules have options marked with `removed_in_version='2.9'`. These options should have been removed before Ansible 2.9 was released. Since that is too late, it would be good if they could be removed before Ansible 2.10 is released.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/mod

[2020-02-01 14:00] felixfontein opened #67022 "some dellos6 modules have options which should have been removed for Ansible 2.9"
##### SUMMARY
As detected by https://github.com/ansible/ansible/pull/66920, (some of) these modules have options marked with `removed_in_version='2.9'`. These options should have been removed before Ansible 2.9 was released. Since that is too late, it would be good if they could be removed before Ansible 2.10 is released.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/mod

[2020-02-01 14:01] felixfontein opened #67023 "some dellos9 modules have options which should have been removed for Ansible 2.9"
##### SUMMARY
As detected by https://github.com/ansible/ansible/pull/66920, (some of) these modules have options marked with `removed_in_version='2.9'`. These options should have been removed before Ansible 2.9 was released. Since that is too late, it would be good if they could be removed before Ansible 2.10 is released.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/mod

[2020-02-01 14:01] felixfontein opened #67024 "some sros modules have options which should have been removed for Ansible 2.9"
##### SUMMARY
As detected by https://github.com/ansible/ansible/pull/66920, (some of) these modules have options marked with `removed_in_version='2.9'`. These options should have been removed before Ansible 2.9 was released. Since that is too late, it would be good if they could be removed before Ansible 2.10 is released.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/mod

[2020-02-01 15:50] #61924 closed, assigned to nobody

[2020-02-01 15:58] jgruberf5 commented on #60193
Just another comment..  Not sure why they closed this one without a resolution:

https://github.com/CentOS-PaaS-SIG/linchpin/issues/384

If you have the familiar ""No port on server <uuid> was found matching your NAT destination network" error message.. Again it the assumptions put into dumbing down the shade client.

On you os_server resource add the 'auto_ip = no' attribute and on your os_floati

[2020-02-01 18:21] rrey commented on #42662
This issue should be closed, the parameter is now documented.
(since cb460de)

[2020-02-01 20:52] jdorel opened #67029 "ansible_collections path explained"
##### SUMMARY

I don't understand why ansible collections have to be under an `ansible_collections` folder. Why can't collections directly be under a `collections` folder, like the following:

[code]

Reading [this](http://people.redhat.com/mlessard/ansiblemtl/presentations/avril2019/AnsibleCollections.pdf) (page 13), maybe it has a link with collections beeing Python namespaces ? In this case may

[2020-02-01 21:31] pcfe commented on #23257
You tested the URL of a repo, not a repofile.

Can you please retest with something along the lines of

[code]

I ask because with
- `ansible 2.9.3` on _Fedora 31 x86_64_
- running a playbook against _Sailfish OS 3.2.1.20 (Nuuksio)_
I get a failure on the second run as follows

[code]

Rationale for not using a repo URL

On Sailfish in the UI, with either _Storeman_ or the _Jolla Store_ and the CL

[2020-02-01 23:50] felixfontein commented on #67013
resolved_by_pr #67026

[2020-02-02 08:29] #65385 closed, assigned to nobody

[2020-02-02 10:13] jamescassell opened #67031 "pipelining: wait_for_connection only tries python discovery on first connection attempt"
##### SUMMARY

Same issue as (locked and closed) https://github.com/ansible/ansible/issues/63285

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

wait_for_connection
python discovery

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 29

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

ansible connects successfully

##### ACTUAL RESULTS

[code

[2020-02-02 10:16] felixfontein commented on #63285
new issue for the same problem: #67031

[2020-02-02 12:48] tadeboro opened #67032 "ansible-test sanity expects all modules to be licensed under the GPLv3"
##### SUMMARY

Running `ansible-test sanity --test validate-modules` in a collection that is not licensed under the GPLv3 produces the following error:

[code]

##### ISSUE TYPE
- ~Bug Report~
- Feature Idea

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Commands are being executed on latest stable Fedora (31).

##### STEPS T

[2020-02-02 12:55] nodiscc commented on #53746
This is in my experience blocking ansible-vault adoption, currently you can either:

- Use ansible-vault, but have to manually generate and configure passwords/secrets (can amount to dozens per host)
- Use the password lookup to generate random passwords in a secrets directory, rely on an external mechanism to encrypt/protect this directory (when there is a native secrets encryption method)
- Use

[2020-02-02 13:13] felixfontein opened #67033 "AIX CI tests don't run at all"
##### SUMMARY
Starting up the AIX instances in CI isn't working properly:
[code]

See the failed runs
 - https://app.shippable.com/github/ansible/ansible/runs/157943/summary/console (Feb 2nd, 10:57)
 - https://app.shippable.com/github/ansible/ansible/runs/157930/summary/console (Feb 2nd, 00:40)
 - https://app.shippable.com/github/ansible/ansible/runs/157905/summary/console (Feb 1st, 14:41)

In all

[2020-02-02 14:28] felixfontein commented on #52409
@mulatinho hey three! did you had a chance to look at this again?

[2020-02-02 14:30] #67013 closed, assigned to nobody

[2020-02-02 15:55] alemonmk opened #67035 "openssl_publickey always fails with name 'crypto' is not defined"
##### SUMMARY
`openssl_publickey` calls `module_utils.crypto.get_fingerprint()` and cannot tell it what backend to use, and it calls `module_utils.crypto.load_privatekey()` without backend anyways, then default to `pyopenssl` backend and fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`openssl_publickey`

##### ANSIBLE VERSION

[code]
It should affects devel.

##### CONFIGURATION

[cod

[2020-02-02 16:25] felixfontein commented on #67035
Your analysis looks good. Simply passing the backend in that call to `get_fingerprint` should solve the problem. I've created a PR (#67036) for that.

[2020-02-02 16:36] #58541 closed, assigned to Akasurde

[2020-02-02 17:46] felixfontein commented on #65639
I've started a PR implementing such an option: #67038

[2020-02-02 18:31] cjsrinivas commented on #66852
I am noticing a similar issue. I am trying to create a EC2 security group and it works fine if I create an empty security with no ingress or egress rules, but if I add any rules to it, it just hangs as follows,

TASK [app_infra : Create the webserver security group] ************************************************************************************************************
  9299 1580634917.97323:

[2020-02-02 18:40] #58216 closed, assigned to nobody

[2020-02-02 19:08] mariolenz commented on #51308
@UnknownGnome @sivel

Did #50645 resolve this issue? If this is the case, I think you should close it.

needs_info

[2020-02-03 03:39] Fred-sun commented on #66849
@irmejonk Thanks for you take time open this issue! We will invetest this issue!

[2020-02-03 05:18] #67035 closed, assigned to nobody

[2020-02-03 06:58] salecharohit commented on #66928
So i tried with the suggested ```  - meta: reset_connection ``` however npt much luck please view the output below

[code]

## updated playbook

[code]

[2020-02-03 08:43] jamescassell commented on #67031
only manifests with pipelining enabled such as with `-e ansible_pipelining=yes`

[2020-02-03 10:45] NilashishC commented on #66277
@ericdost This has been backported and is available from 2.9.3 onwards. Hence, closing this issue.

[2020-02-03 10:45] #66277 closed, assigned to nobody

[2020-02-03 10:52] NilashishC commented on #66312
@feisa Thanks for filing the ticket!

It looks like you might not have filled out the issue description based on our standard issue template. You might not have known about that, and that's ok too, we'll tell you how to do it.

We have a standard template because Ansible is a really busy project and it helps to have some standard information in each ticket, and GitHub doesn't yet provide a standar

[2020-02-03 11:07] atosatto commented on #64963
Would it make sense to backport it to 2.8 too?

This bug is breaking the idempotency of the yum/dnf modules.
As 2.8 is still supported for "critical bugfixes" I would argue that it probably makes sense to deploy this fix there too: https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html.

[2020-02-03 11:36] burgerga commented on #55289
Same issue here, installed npm via nvm. But then globally installing a package doesn't work.
Just running npm from the commandline installs the package fine

[2020-02-03 12:32] borowskiio commented on #66560
Hi @jctanner,

I installed ansible via a package manager (dnf).
I don't have an inventory files as the playbook is run on localhost, here's the content of the playbook:

**(setup-host.yml)**
[code]

The ansible-playbook command:

```ansible-playbook -K setup-host.yml```

Which correctly detects playbook is suppose to be running on localhost:

[code]

[2020-02-03 12:47] mkrizek commented on #66694
Yes, this is expected. A couple of notes:
1. a handler in a (dependency) role inherits the `when` conditional from the role,
2. if more handlers with the same name are defined, only the last one defined is used.

See https://docs.ansible.com/ansible/latest/user_guide/playbooks_intro.html#handlers-running-operations-on-change

However, there seems to be a bug that your example shows:
[code]

should

[2020-02-03 12:55] rockaut opened #67042 "grafana_plugin with offline .zip package fails"
##### SUMMARY
If using an offline .zip package for plugin installation the command fails while the plugin is actually installed correctly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
grafana_plugin

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
Grafana 6.6.0 on RHEL7

##### STEPS TO REPRODUCE
[code]

Running this task results in the error seen below while `grafana-cli ls` reports:

[2020-02-03 12:59] rockaut commented on #67042
Also tried with several other .zip plugins and all got the same error.

Looking into it it's because `installing alexanderzobnin-grafana-zabbix @ ` is not reporting the plugin version and at module line 210 ( `plugin_name, plugin_version = line.split(' @ ')` ) breaks.

[2020-02-03 13:09] mkrizek commented on #66977
I have `git bisect`'ed this to https://github.com/ansible/ansible/pull/64282.

We seem to avoid failing in `HostVarsVars.repr()` on an undefined variable, calling `Templar.template()` with `fail_on_undefined=False`:
https://github.com/ansible/ansible/blob/0ee28c14c21cdddbf03842afb350ef3a1a83f899/lib/ansible/vars/hostvars.py#L152-L154

The actual error in this issue is that the undefined error is w

[2020-02-03 13:28] gundalow opened #67047 "Shared documentation RETURN values"
##### SUMMARY
Like we have for `DOCUMENTATION` block

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
plugins/docs

##### ADDITIONAL INFORMATION

[code]

[2020-02-03 13:30] gundalow commented on #67047
Thanks for the suggestion @evgeni

[2020-02-03 14:25] h3po opened #67048 "proxmox_kvm linked clone fails because of format parameter"
##### SUMMARY
creating linked clone with `full: no` using proxmox_kvm fails because the parameter `format: qcow2` is forced set by proxmox_kvm
[code]
I tried setting `format: none` but then I get
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
proxmox_kvm

##### ANSIBLE VERSION

[code]
##### proxmox version: 6.1-5
[code]

##### CONFIGURATION

[code]

##### STEPS TO REPRODUCE

[code]

#

[2020-02-03 14:26] sivel commented on #67032
This is true.  I had discussed this with @thaumos back in August, and at the time we decided to keep the check and the requirement for GPLv3+ modules in validate-modules.

Potentially it could be changed, however I am on the side of requiring anyone not wanting to use GPLv3+ to add an ignore.

At the time at least, the plan was that all certified collections, and those collections which we maintai

[2020-02-03 14:36] tej9 opened #67050 "yum module - releasever option not working as expected"
I am using the yum module to lock the release version for a RHEL 7.6 machine to 7.7 version. However the yum --releasever option does not set the release version to 7.7. I am using Ansible 2.7.10 version.
Here is the discussion regarding the issue:
https://access.redhat.com/discussions/4774501

ISSUE TYPE
Bug Report

COMPONENT NAME
yum --releasever

ANSIBLE VERSION
2.7.10

STEPS TO REPRODUCE
name:

[2020-02-03 14:38] drzraf opened #67051 "os_server: volumes attachments are not updated"
##### SUMMARY
Trying to update the list of volumes (the `volumes` parameters) of an already existing server does not work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
os_server

##### ANSIBLE VERSION
2.9.2 `python version = 3.7.5 (default, Nov 20 2019`

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
"ccc" volume must be attached to the "foo" server if it was not already.

#####

[2020-02-03 14:39] chrisvanheuveln commented on #66843
This suggestion has merit but it feels like it's overloading the module with a tangential knob, since writing the config seems entirely unrelated to this module's specific purpose. _ref: Principle of Least Astonishment (PoLA)._ Plus, I'm not a fan of knob-creep.

It may make more sense to have a dedicated module for writing to startup-config. Or, maybe it's entirely appropriate for MDS devices. I

[2020-02-03 14:58] kaminek commented on #61369
👋 same behavior here in normal node (when not using `--check`)
[code]

task
[code]

output
[code]

[2020-02-03 14:59] error756 commented on #59560
Hi @bincyber
I was wondering if you already had chance to merge / rebase your code to implement the GIT Enterprise URL support?
Thanks and best regards,
Marcel

[2020-02-03 15:53] h3po commented on #67048
As a workaround and to verify that it's not the proxmox API at fault, this works using the uri module:
[code]

[2020-02-03 15:57] helldorado commented on #67048
Hi @h3po  I provided a patch for that. Never Merged. See https://github.com/ansible/ansible/pull/55874

[2020-02-03 16:03] h3po commented on #67048
Interesting. Well that PR is labeled feature request, this is about a bug. Maybe you can separate the fix out into a separate PR?

[2020-02-03 16:04] helldorado commented on #67048
Maybe.

[2020-02-03 16:10] next-jesusmanuelnavarro commented on #29786
It is to be noted that as per ansible version 2.9.4, documentation still shows [the failing createuser example](https://docs.ansible.com/ansible/latest/modules/django_manage_module.html#examples).

It probably makes sense to update the doc entry.

[2020-02-03 16:23] sivel commented on #67032
I've had a conversation with @thaumos and while we agree it may be beneficial to relax this check. In the future we can potentially allow the tooling to be configurable, mainly so we can enforce more strict sets of rules for our repos, but so that others won't necessarily have to abide by all of our rules.

For now, however, we are not planning any immediate changes to the tooling, and you will be

[2020-02-03 16:35] tadeboro commented on #67032
Thanks for the answers, @sivel. I do not mind having an ignore entry at all. I mainly raised this issue because most of the content is moving out of the Ansible repo, which means that `ansible-test` will probably start to be used on non-GPL code more often. Because whether we like it or not, GPL is something that most companies tend to avoid in this age of time.

[2020-02-03 16:49] sivel commented on #29467
@Qalthos Is this work taken care of?  I randomly found this issue using `no:label` in search.

[2020-02-03 16:59] willtome commented on #48309
https://review.opendev.org/#/c/704582/

[2020-02-03 16:59] willtome commented on #59680
https://review.opendev.org/#/c/704582/

[2020-02-03 17:12] #64610 closed, assigned to nobody

[2020-02-03 18:13] #66213 closed, assigned to nobody

[2020-02-03 18:17] mattclay commented on #67033
Resolved by https://github.com/ansible/ansible/pull/67055

[2020-02-03 18:17] #67033 closed, assigned to nobody

[2020-02-03 18:29] dick-twocows commented on #66213
Tested and working.

[2020-02-03 19:12] #66893 closed, assigned to nobody

[2020-02-03 19:22] samccann commented on #61441
Fixed by #66584

[2020-02-03 19:22] #61441 closed, assigned to samccann

[2020-02-03 19:23] nodiscc commented on #65639
Sorry, false alarm, another task in the playbook was changing the key file.

[2020-02-03 19:24] samccann commented on #45939
fixed by #66284

[2020-02-03 19:24] #45939 closed, assigned to acozine, samccann

[2020-02-03 19:28] samccann commented on #39431
Guide has since been updated with FAQ and other entries (including prompt examples etc)

[2020-02-03 19:28] #39431 closed, assigned to acozine, samccann

[2020-02-03 19:31] samccann commented on #18499
This was resolved in the recent User Guide rewrites https://docs.ansible.com/ansible/devel/user_guide/playbooks_tags.html#tags

[2020-02-03 19:31] #18499 closed, assigned to gundalow, samccann

[2020-02-03 19:37] onitake opened #67059 "route53_info module lacks documentation of return value"
##### SUMMARY

The route53_info module documents its arguments well and also lists a number of examples, but doesn't describe what it returns.

There should an accurate outline of the returned data structure in the documentation.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

route53_info

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

###

[2020-02-03 20:24] felixfontein commented on #66919
I've created issues for all affected modules / module groups (they reference #66920).

[2020-02-03 20:56] #55216 closed, assigned to nobody

[2020-02-03 21:47] DaveWK commented on #46780
This is still broken.. Any update? Broken using Ansible 2.9.4 and Python 3.6.8 (Centos 8) simple to reproduce:
[code]
Error msg is:
Command \"/usr/bin/unzip\" could not handle archive. Command \"/usr/bin/gtar\" could not handle archive."

gtar+unzip are installed, Works with absolute path.

[2020-02-03 21:56] DaveWK commented on #46780
A workaround for my localhost use case is just adding the `{{ playbook_dir }}` var to the front of src/dest

[2020-02-03 22:14] evilhamsterman opened #67062 "vmware_guest needs to be able to set OVF Environment Transport"
##### SUMMARY
When deploying a VM to vSphere that can be configured using vApp properties (such as cloud-init type systems) you can set the properties in vmware_guest and they get set correctly, however you still have to select the "OVF Environment Transport" otherwise the values are not passed to the VM.

https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.vm_admin.doc/GUID-14A25C25-

[2020-02-03 22:27] #66225 closed, assigned to nobody

[2020-02-03 22:39] desimaniac commented on #66225
@felixfontein Thanks for getting this added! Just one thing, had a few questions on the comments added to the [PR](https://github.com/ansible/ansible/pull/66382).

[2020-02-04 00:02] julie-blake-verizon opened #67067 "Add example of Setup Module with delegated_facts"
##### SUMMARY
Please update the documentation for the Setup module to include a note to check the Delegated Facts (https://docs.ansible.com/ansible/latest/user_guide/playbooks_delegation.html#delegated-facts) documentation. I spent a long time trying to figure out how to set just the required facts for a group of servers remote servers and it was simple once I found the right document.
Or better y

[2020-02-04 01:14] Fred-sun commented on #66227
@unix-guy Any update for this?

[2020-02-04 06:04] Fred-sun commented on #66251
@dumblerod The charset feature doesn't work. It always sets the default value --"latin1". We'll work on it as soon as possible. Thank you very much!

[2020-02-04 06:34] #66341 closed, assigned to nobody

[2020-02-04 06:38] siru88 opened #67072 "ecs_taskdefinition: The error was: Unknown parameter in volumes[1]: "sourcePath", must be one of: name, host, dockerVolumeConfiguration"
##### SUMMARY

I tried to add ECS_task definition which will mount two paths from host. I checked over official document but there isn't a proper documentation available. I also looked up on the internet and reached this link https://github.com/ansible/ansible/issues/35777 but the solution posted did not work for me.

##### ISSUE TYPE
- Documentation Report
Need the syntax to add volumes to source

[2020-02-04 07:01] nurriz commented on #60576
This still happens in 2.9. Effectively renders the puppet module unusable.

[2020-02-04 07:36] luca-af opened #67074 "Add Custom Properties to ovirt_host_network"
##### SUMMARY

Add field to ovirt_host_network to configure "Custom Properties" (from oVirt)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ovirt_host_network

##### ADDITIONAL INFORMATION

This feature will be used to configure specific options during host's network setup (e.g. custom proprieties for FCoE)

[code]

[2020-02-04 08:56] Fred-sun commented on #66358
@mmallet-digipok @julien1091 My local start/stop VM was successful (ansible 2.8.5 and 2.9.4). How was your VM created? When was it created? Thank you very much!

[2020-02-04 09:09] AirCombat commented on #66963
Pull request accepted

[2020-02-04 09:09] #66963 closed, assigned to nobody

[2020-02-04 09:44] ghost opened #67075 "ansible 2.9 - ipa_user module with ssh keys will error out with no modifications to be performed"
##### SUMMARY
Using ssh keys with the ipa_user module will sometimes run into this "error"
[code]
I've noticed that this will mostly happen with rsa4096 or rsa8192 keys.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ipa_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
host_os: fedora31 / rhel7
target_os: rhel8

##### STEPS TO REPRODUCE
Task:
[code]
Inven

[2020-02-04 10:02] SCLogo commented on #44339
Any updates on it?

[2020-02-04 10:08] lvrfrc87 opened #67077 "ansible.module_utils.connection.ConnectionError: Invalid input (at token 0: 'interface')"
##### SUMMARY
Trying to push configuration via `eos_config` from a rendered jinja2 template using HTTPS API

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
eos_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
virtualenv 20.0.0 in MacOs Mojave 10.14.6

##### STEPS TO REPRODUCE

[code]
##### ACTUAL RESULTS
[code]

[2020-02-04 10:17] tremble commented on #44339
Unfortunately it looks like #46624 stalled out.   As a work around you should be able to use the ec2_tag module it accepts most/all EC2 objects, not just instances.

[2020-02-04 10:19] tomkivlin opened #67078 "[ssh.py] TypeError: not enough arguments for format string"
##### SUMMARY

Whenever I use tasks that use SSH (ssh.py), I get the error described:
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ssh.py Anything that needs SSH.  I happen to be using get_url to drive this error.
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Control host: Mac OS 10.14.6
Target host: CentOS 7

##### STEPS TO REPRODUCE

Create an

[2020-02-04 10:23] tomkivlin commented on #67078
!component ssh.py

[2020-02-04 10:24] tomkivlin commented on #67078
!component +ssh.py

[2020-02-04 10:34] IlyesSemlali opened #67079 "ANSIBLE_REMOTE_TEMP env var not set when using `become_user:`"
##### SUMMARY
Without using `become: true` and `become_user: user`, the `ANSIBLE_REMOTE_TEMP` config parameter works fine, but when using these parameters in a task (unarchive in my case), the remote temp dir is located in `/var/tmp/`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`lib/ansible/config`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Host: Ce

[2020-02-04 11:16] Spredzy commented on #66938
More info.

By default the bits necessary to have UTF8 on the AIX system are not installed on the bootable image provided by cloud.ibm.com. Ongoing conversations are on-going with IBM engineers to see how this could be dealt with without leaking publicly bits that are licensed.

[2020-02-04 11:39] mallniya opened #67080 "Versioning for apt_rpm module"
##### SUMMARY
Implement versioning for apt_rpm module, as now it's not possible to use of this module consistently for versioned packages.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
apt_rpm module

##### ADDITIONAL INFORMATION
In comparison with apt module, which documentation states:

i.e. specifies format of package version, apt_rpm have no explicit package versioning feature, which

[2020-02-04 11:51] ericschaetzlein commented on #43750
I am expericening the same issue with
MacOS Catalina 10.15.3, ansible 2.9.3 and Textmate as external editor.

[2020-02-04 12:39] fumantsu opened #67083 "Ansible dnf python3 is not working with Centos 7"
##### SUMMARY
Using ansible dnf module with python 3 in Centos 7 is impossible due to missing python3 modules.
The python3-dnf doesn't exist as package for Centos 7 (was "backported" in EPEL but removed") but exist in Centos 8. This makes impossible to use Python 3 in Centos 7 if you need to install some packages as from one side the yum module doesn't work with Python 3.

##### ISSUE TYPE
- Bug R

[2020-02-04 12:45] romulo-dbts commented on #26190
+1 it would be very handy!!!

[2020-02-04 13:09] allanlewis opened #67084 "Applying "notify" to included tasks fails"
##### SUMMARY
The following structure, using `tags` instead of `notify`, is recommended in [the docs][1]:
[code]
This passes `ansible-playbook --syntax-check`. However, it produces an error with Ansible 2.9:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`include_tasks`

##### ANSIBLE VERSION

[code]
I've also tested this with v2.9.4: the output is identical.

##### CONFIGURATION

[co

[2020-02-04 14:07] abenokraitis commented on #65741
@thedoubl3j has this been completed?

[2020-02-04 14:16] onitake opened #67086 "aws_s3 should support putting content without filesystem access"
##### SUMMARY

The aws_s3 module currently only supports PUTting objects from local files.
According to [the documentation](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/s3.html#S3.Object.put), the boto3 S3 module also supports passing the content body directly from a variable, without doing a roundtrip to disk.

It would be very useful to add a `content` parameter (or

[2020-02-04 14:26] electrofelix commented on #29801
@jillr @tremble I would suggest that this issue has been resolved based on some of my comments above, and can be worked around for the edge cases.

These days if the task is successfully started using async https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/utilities/logic/async_wrapper.py#L270-L271 should ensure the above error doesn't appear.

Going to unsubscribe from this now.

[2020-02-04 14:29] pertoft opened #67087 "vmware_drs_group does not update group - it overwrites"
##### SUMMARY
When creating a vm group with "vmware_drs_group" it works as expected, but when another host is added to the group, it overwrites the existing ones.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/vmware/vmware_drs_group.py

##### ANSIBLE VERSION

[code]
Also tested from latest dev release - same results.

##### CONFIGURATION

[code]

##### OS / ENVIRON

[2020-02-04 14:58] rockaut opened #67088 "zabbix_template dump - omit date field"
##### SUMMARY
What you think about adding an module option to omit the date field on a template dump. Currently if you export a template the copy-content to file is always changed=True as the date field of the export is always another. If we omit the field it would report the correct change state.

Would add a PR if others like the idea.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
zabbi

[2020-02-04 15:10] mikewiebe commented on #66843
I agree that adding this option to the module would be a departure from how all other `nxos_*` configuration modules work.  The recommended method for saving the `running` configuration to the `startup` configuration is by using the `nxos_config` module.

Also, adding @srbharadwaj to this discussion.

[2020-02-04 15:10] s-hertel commented on #29801
Closing as per above

[2020-02-04 15:10] #29801 closed, assigned to nobody

[2020-02-04 15:14] unix-guy commented on #66227
I have tried multiple ways to reproduce the original issue and I have been unable to do so.

Can you tell me the specific steps you used to do that?

I am happy to test once I can reproduce the condition. Otherwise, I am not sure how to proceed.

[2020-02-04 15:19] rockaut commented on #67088
Just something like

[code]

in the dump_template function.

[2020-02-04 15:20] seuf commented on #67042
ansible grafana modules are now versionned on a new dedicated collection repo : https://github.com/ansible-collections/grafana.
Can you please do a new pull requests on this repo ?

[2020-02-04 15:23] rich-preservica commented on #66852
Also can confirm having this issue in 2.9.4

[2020-02-04 15:31] s-hertel commented on #66728
I was unable to reproduce this. Can you share simple reproducer playbook with any changed configuration settings you're using?

needs_info

[2020-02-04 15:41] vinodpop commented on #64549
do we have any update on this case?\

[2020-02-04 15:49] tkam8 opened #67090 "gcp_storage_object TypeError"
##### SUMMARY
Unable to download file from gcp storage due to TypeError

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
https://docs.ansible.com/ansible/latest/modules/gcp_storage_object_module.html

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target device: Ubuntu 18.04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Able to download the fil

[2020-02-04 16:07] rbharadwaj16 opened #67092 "To Remove NIC from backend of a AZURE Load Balancer using azure_rm_networkinterface module"
##### SUMMARY

As part of azure_rm_networkinterface, there is a option to add NIC to backend of Azure Load Balancer.

However, we cannot remove it through Ansible. Request the team to add this feature.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Ansible Module: azure_rm_networkinterface

##### ADDITIONAL INFORMATION

This will enable end to end management of VM's attaching/de-attaching

[2020-02-04 16:07] tkam8 commented on #67090
Also found below error in the logs
[code]

[2020-02-04 16:38] sivel commented on #67084
Per the error message this is expected:

[code]

The `apply` feature inserts a new block as the parent of the included tasks, and sets the values of `apply` on the block.  However, `notify` is not a valid attribute for a `Block` and therefore, you cannot use `notify` under `apply`.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * m

[2020-02-04 16:38] #67084 closed, assigned to nobody

[2020-02-04 16:41] sivel commented on #67083
This is a known limitation of the dnf module.  The dnf module depends on the underlying python bindings provided by the OS. The only dnf python bindings provided by the OS are those for the default python, which is `/usr/bin/python` (python2).

It is not possible or feasible to use a non-default python to manage dnf.

As such, you will have to ensure that you set `ansible_python_interpreter: /usr/

[2020-02-04 16:41] #67083 closed, assigned to nobody

[2020-02-04 16:46] sivel commented on #67078
The problem here is with your configuration for the control path:

[code]

Since Ansible uses python printf like formatting for this option, you must escape the `%` characters, so that python does not attempt to use them in string replacement.

As such you should use:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing

[2020-02-04 16:46] #67078 closed, assigned to nobody

[2020-02-04 17:04] sivel commented on #67090
!component =lib/ansible/modules/cloud/google/gcp_storage_object.py

[2020-02-04 17:27] a-nldisr opened #67094 "ec2_vpc_vpn tunnel_options changes are not detected and applied."
##### SUMMARY

While reading the documentation one might get the impression that an existing ec2_vpc_vpn setup can be updated, or an existing vpn EC2 site to site vpn tunnel can be updated:
[code]
The filters uses an existing vpn id to retrieve facts, and when you debug this you get a xml object returned with all the configured settings:
[code]
Looking at the code: https://github.com/ansible/ansib

[2020-02-04 17:48] mariolenz commented on #67087
I think the module works as expected. You see, you don't "add" VMs to a DRS group- you define what the DRS group should look like. So
[code]
means "I want group-test to contain exactly k8s-node03.test.netic.dk". Like a lot of other ansible modules, it's declarative.

@karstenjakobsen You're the original author, what do you say?

[2020-02-04 17:56] tomkivlin commented on #67078
Thanks @sivel I will give that a go.

[2020-02-04 18:04] allanlewis commented on #67084
Thanks, @sivel - can you please explain this in the docs, perhaps with a list of valid attributes? Otherwise it's really not clear to me what's valid to use with `apply`, surely I'm not alone in being somewhat confused here!

[2020-02-04 18:04] dansou901 commented on #31924
Same here. Especially necessary when managing clusters of docker-compose services across several machines which need to be stopped to be able to upgrade them. For upgrading, you just need to start one container, after that the rest can be started to join the cluster again.

[2020-02-04 18:12] schlueter opened #67095 "Template validate argument should not require '%s'"
##### SUMMARY
At least with ansible==2.9.3, the `validate` parameter of the `template` module fails if `%s` is not present in the string passed. This is inappropriate as some validations, such as for nginx configurations (`nginx -t`), do not require–actually fail–if passed an additional argument, and they know where to look for the file on their own.

##### ISSUE TYPE
- Bug Report

##### COMPONENT

[2020-02-04 18:26] sivel commented on #67095
The goal of `validate` is to test the file **_before_** it is moved into place.  If `nginx -t` cannot accept the path to a temp file, then you aren't validating the new file, only the old one.

As such, your `validate: echo %s; nginx -t` isn't validating the new changes at all.  In which case, you shouldn't use `validate` anyway.

[2020-02-04 18:28] bmillemathias commented on #66038
Hi @jctanner

reading the thread linked, looking in the code -- I've only find mention of `ignore_unreachable` in
[code]
did not really helped me to get the ins and the outs of `ignore_unreachable`.
I eventually created a test playbook with one unreachable node
[code]
I saw the nodes unreachable during the task `ping` are showing up in the variable `result` and the nodes is kept in the list of nod

[2020-02-04 18:38] pertoft commented on #67087
How would you then add multiple vms to the drs group the “ansible” way with
tasks per host?

I am developing a script which pulls a list of vms from a folder in
vsphere. Then add each host to a in-memory inventory using add-host.

Next I run a play on the newly created group where each vm will have its
own set of tasks.
Then I extract the node Id and check if it’s divisible by two and assign it
to

[2020-02-04 18:46] bmillemathias commented on #66038
Actually I was checking on the `2.9` branch and in `devel` two commits were done (756ac826fe3  and 860cacc54fb) to add a paragraph and an example.

[2020-02-04 18:53] #65366 closed, assigned to nobody

[2020-02-04 19:06] schlueter commented on #67095
Aha, I misunderstood.

[2020-02-04 19:06] #67095 closed, assigned to nobody

[2020-02-04 19:15] DevJackSmith commented on #42933
Even creating the meta file with that information didn't help in my case. thanks to @vbotka for workaround. However i wanted to add one minor change to it. "my_roles_path" is undefined. Instead i used "{{ role_path }}/../". And added version. Notice: My requirements file is in role root. Posting full example below:
`- name: Parse requirements file
  set_fact:
    requirements: "{{ lookup('file', r

[2020-02-04 19:22] Mamosa opened #67096 "How to run a task on all hosts except the last host"
##### SUMMARY
I have a task in my playbook that i need to run on all of the hosts in my inventory except the last host. This host could change over time so i would not know the name of the host to exclude it using its name.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
identify last host in inventory

##### ADDITIONAL INFORMATION
This feature would be used for tasks that need to be run on

[2020-02-04 19:25] samdoran commented on #66582
We discussed this in the IRC meeting today and we'd be willing to review a PR adding this.

Rather than creating a new method, @bcoca suggested you may be able to get this information by modifying existing methods rather than adding a new one.

[code]

[2020-02-04 19:28] mariolenz commented on #67087
You had me at "I extract the node Id and check if it’s divisible by two", that sounds too complicated for me :-P

Actually, we don't discover VMs at the moment. We define them (and our ESXi hosts, clusters ...) in our inventory and can therefore define what DRS groups they should be part of.

Maybe ansible just isn't the right tool for you? For me, ansible is a (declarative) configuration manageme

[2020-02-04 19:30] Mamosa opened #67097 "Unable to append a dictionary to a list of dictionarys"
##### SUMMARY
When i try to append a new dictionary to a list of existing dictionaries it does not append it overwrites the existing data.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
dictionary append

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### EXPECTED RESULTS

I expect the new dictionary to be combined/appended onto the existing lis

[2020-02-04 19:40] #67031 closed, assigned to nobody

[2020-02-04 19:41] karstenjakobsen commented on #67087
@pertoft The module works as expected.

I went through the same thoughts and problems you are facing now, and for a brief period i played around with adding an `append` and `remove` options to the `vmware_drs_group`. But that only resulted in more headaches since we also have the usual `state: present or absent`

What i ended up doing instead, was assigning all my vm hosts to groups using a key wi

[2020-02-04 19:51] ephracis opened #67098 "tower_job_launch does not set credential against AWX 9.1.1"
##### SUMMARY

When using the module `tower_job_launch ` against AWX 9.1.1 the job does not get the correct credential. This worked previously in AWX 2.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

tower_job_launch

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- AWX on CentOS 7 and CentOS 8
- Ansible control machine on macOS Catalina and CentOS 7

##

[2020-02-04 20:11] pdumais commented on #66582
That's what I'm currently doing. In v2_playbook_on_task_start  I check if there was another task before that and that's where I run my artificial on_task_end handler (which prints the result of the task). I also need to do that on the on_stat handler.  It works, but it feels hackish. I was hoping I could get a more official/cleaner way.  I

I understand the matter might be closed now, but I intend

[2020-02-04 20:14] #65332 closed, assigned to GomathiselviS

[2020-02-04 20:17] rrotaru opened #67100 "vmware_guest and vmware_guest_disk modules fail to return Storage DRS recommendations when using datastore clusters"
##### SUMMARY

When passing in a `datastore_cluster` name to the `vmware_guest_disk` or `vmware_guest` modules, returning a datastore recommendation is failing and falling back on the default behavior (iterating through available datastores). This breaks Storage DRS behavior such as "Keep VMDKs Together"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_disk
vmware_guest

##### AN

[2020-02-04 20:28] rodrigonascimento opened #67101 "Add NVDIMM device to a VM"
##### SUMMARY
ESXi hosts with Intel Optane DC Persistent Memory Modules have an option to add an NVDIMM device to a VM.

##### ISSUE TYPE
- Make it possible to add an NVDIMM device into a VM through vmware_guest.

##### COMPONENT NAME

vmware_guest.hardware

##### ADDITIONAL INFORMATION

[code]

[2020-02-04 20:54] yeungj16 opened #67102 "SSH private key is not created properly using the copy module"
##### SUMMARY
I'm having issues creating an SSH private key using the copy module.  The key is stored in Hashicorp Vault using k/v v2 secret engine.

The playbook is supposed to clone a locally hosted GitLab repo onto the target server.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
copy module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Target:

[2020-02-04 21:14] bcoca commented on #67102
You cannot use ` content: "{{ item.content }}"` for key files or any file that might break due to encoding/decoding, write file to disk and use `src:` instead to preserve integrity of the file.

[2020-02-04 21:16] chris-kiick-sp commented on #66560
Ran into same issue on Ansible 2.9.4 installed via pip on  Amazon Linux 2.  Have both python 2.7.16 and python 3.7.4.  Uninstall ansible and re-installing with pip2 cleared the error.

[2020-02-04 21:18] sivel commented on #67097
The `combine` filter was not designed to operate on lists, it was designed for merging 2 or more dicts.

If you just want to add a new dict to a list you would do something like:

[code]

There is a pull request to add support for lists within `combine` that is located at https://github.com/ansible/ansible/pull/57894 but I am not sure it is designed to meet your needs.

If you have further questio

[2020-02-04 21:18] #67097 closed, assigned to nobody

[2020-02-04 21:27] Mamosa commented on #67097
Hi,

I have also tried the + [] but this has the same result. it over writes my variable instead of appending.

[2020-02-04 21:46] Mamosa commented on #67097
This is the line i am using and it is over writing for each host in the inventory

- name: edit thingy2
  set_fact:
    compliance_results: "{{ compliance_results + [results] }}"

[2020-02-04 21:50] billdodd commented on #58941
@samerhaj Thanks for the feedback above. That is helpful. As I've started working on this, I would like to ask for some additional clarification:

1. For locating an "empty" slot: It seems like the 3 properties `Image`, `ConnectedVia`, and `Inserted` are the ones to check to see if a slot is empty. But is there a relative priority among them in case they appear to be in conflict? (e.g. `Image` is

[2020-02-04 22:56] jborean93 commented on #65420
Yes the thumbprint should not contain spaces as per the examples, closing this issue.

[2020-02-04 22:56] #65420 closed, assigned to nobody

[2020-02-04 22:58] jborean93 commented on #62601
@agowa338 virtual accounts should follow the format `NT SERVICE\<service name>` so in your case `NT SERVICES\foobar`. But even then it is still failing for me so we need to fix this up.

[2020-02-04 23:02] #67015 closed, assigned to nobody

[2020-02-04 23:02] #67014 closed, assigned to nobody

[2020-02-04 23:03] jborean93 commented on #14791
This is a known issue as per @nitzmahone's comments, due to the age and the introduction of collections I am closing this issue.

[2020-02-04 23:03] #14791 closed, assigned to nobody

[2020-02-04 23:07] jborean93 commented on #23301
Closing as UTF-8 is the way going forward and it's quite hard to control the console used for running commands as it is set in a few different places. We also have the workaround of running `chcp.com` in your command in case it is really required.

[2020-02-04 23:07] #23301 closed, assigned to nobody

[2020-02-04 23:09] jborean93 commented on #25532
Closing as we have a few workaround for winrm, the retry options for psrp and now ssh is a solution. Unfortunately there is not too much else we can do for this issue.

[2020-02-04 23:09] #25532 closed, assigned to nobody

[2020-02-04 23:09] jborean93 commented on #25469
Closing as per @jhawkesworth comments.

[2020-02-04 23:09] #25469 closed, assigned to jborean93

[2020-02-04 23:09] jborean93 commented on #24572
Implemented with https://github.com/ansible/ansible/pull/49775.

[2020-02-04 23:09] #24572 closed, assigned to nobody

[2020-02-04 23:10] jborean93 commented on #23990
Nano server is not something we are targeting anymore so I am going to close this issue.

[2020-02-04 23:10] #23990 closed, assigned to nobody

[2020-02-04 23:11] jborean93 commented on #23784
If someone wishes to try and implement this we would consider looking at a PR but right now this script works and we don't really wish to modify it any further. Closing this issue.

[2020-02-04 23:11] #23784 closed, assigned to nobody

[2020-02-04 23:14] jborean93 commented on #32699
I was unfortunately unable to replicate this, the user did state packer was used in this which is known to break things like become and async. I am going to close this issue. If you can still replicate this on the latest Ansible version without Packer then feel free to open a new issue with the details.

[2020-02-04 23:14] #32699 closed, assigned to nobody

[2020-02-04 23:14] pmartindev opened #67106 "git_url Unsupported parameter"
##### SUMMARY

When trying to download an artifact from a url using git_url, I am given an error for an unsupported status_code parameter. This contradicts the [documentation](https://docs.ansible.com/ansible/latest/modules/get_url_module.html
).

This is the task snippet:
[code]

And here is the error:

[code]

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

get_url

##### ANSIBLE

[2020-02-04 23:15] jborean93 commented on #31521
Closing, if someone wants to implement this as an info module they can but I am trying to cull these feature requests which has sat over time.

[2020-02-04 23:15] #31521 closed, assigned to nobody

[2020-02-04 23:16] jborean93 commented on #31051
Closing due to the comments already made in this issue. Having something like this would be very complex and not really something that is implemented natively in PowerShell or .NET right now.

[2020-02-04 23:16] #31051 closed, assigned to nobody

[2020-02-04 23:16] jborean93 commented on #31050
Closing as I am trying to cull older feature requests for modules that aren't really going anywhere. In any case this type of module probably wouldn't be accepted for Windows and having it in a collection is preferred.

[2020-02-04 23:16] #31050 closed, assigned to nobody

[2020-02-04 23:19] jborean93 commented on #30972
Closing as we now have a few ways of bootstrapping Windows through Ansible. These include

* The `psexec` module to run over SMB
* Various provider specific connection plugins like `vmware_tools` or `aws_ssm`

More might come in the future but I don't think this issue is 100% relevant anymore.

[2020-02-04 23:19] #30972 closed, assigned to nobody

[2020-02-04 23:19] sivel commented on #67106
I don't see `status_code` documented under `Parameters` for the `get_url` module. It's however listed as a return value the module gives you back. `status_code` is only a valid parameter for the `uri` module.

[2020-02-04 23:20] jborean93 commented on #27564
Closing as I am trying to cull older new module requests. If someone is interested in implementing this then I would recommend they create an Ansible collection and distribute the module that way.

[2020-02-04 23:20] #27564 closed, assigned to nobody

[2020-02-04 23:22] jborean93 commented on #27510
Closing as this is not something we are actively working towards implementing. In the end certificate auth with WinRM is quite difficult to implement and we rarely see it in the wild. We might consider looking at a PR that does this in the future.

[2020-02-04 23:22] #27510 closed, assigned to nobody

[2020-02-04 23:22] jborean93 commented on #38770
Closing as I am trying to cull new module requests for Windows. Even if someone does implement this module for Windows it's not something that we would typically accept. This is better suited towards an Ansible collection instead.

[2020-02-04 23:22] #38770 closed, assigned to nobody

[2020-02-04 23:25] jborean93 commented on #44738
This script is not really designed to be the ultimate script for enabling Windows just a simple script for people to test with. Unfortunately to make it compatible with hardened images we would have to change defaults or add numerous switches making it even more complex than it already is. It should be used as inspiration for someone to create their own script that sets up what they require in the

[2020-02-04 23:25] #44738 closed, assigned to nobody

[2020-02-04 23:28] jborean93 commented on #44573
This module now warns on failures ot enumerate group membership as per https://github.com/ansible/ansible/blob/78470c43c21d834a9513fb309fb219b74a5d1cee/lib/ansible/modules/windows/win_domain_user.ps1#L133. While not a perfect solution it should stop this from failing and still give you a warning that it happened.

The error indicates something went horribly wrong internally and not really somethin

[2020-02-04 23:28] #44573 closed, assigned to nobody

[2020-02-04 23:29] jborean93 commented on #44141
Closing as while we have some workarounds for this to properly implement it in Ansible would require a massive change to how connections are made. This is unlikely to happen anytime soon, for now we just have to live with the workarounds.

[2020-02-04 23:29] #44141 closed, assigned to nobody

[2020-02-04 23:31] pmartindev commented on #67106
Yep, that is correct. I was basing my task off the url module, and not the get_url module. Is there any reason @sivel why this would be supported in url, but not get_url?

[2020-02-04 23:34] selivan commented on #66852
@adq @jillr @s-hertel @tremble

According to @ansibot :robot:  one of you guys may look at this issue. Is the little robot right?

[2020-02-04 23:37] jborean93 commented on #43566
I am closing this issue as it is an older feature requests and a win_pip module is not really something we would accept in Ansible in the future. This type of module would be better suited towards a collection instead.

[2020-02-04 23:37] #43566 closed, assigned to nobody

[2020-02-04 23:38] jborean93 commented on #39633
Closing as while this would be nice, the overhead of maintaining all this in an Ansible module is not something we are wanting to really do. As mentioned there are DSC resources available and we are happy to have a module that manipulates certain policy sections that are grouped together (like win_user_right) but having a catch all will just become too complex and hard to document properly.

[2020-02-04 23:38] #39633 closed, assigned to nobody

[2020-02-04 23:39] jborean93 commented on #39587
Closing as win_get_url and get_url are pretty much as close as they can be for now without making a breaking change in behaviour for a core/stableinterface module.

[2020-02-04 23:39] #39587 closed, assigned to nobody

[2020-02-04 23:43] jborean93 commented on #50094
I am closing this feature requests. This does not mean that we aren't looking for a module that accepts this but just trying to cull issues that have sat over time with no movement. If someone is interested in making a module for this we are more than happy to have a look at a PR that implements this.

[2020-02-04 23:43] #50094 closed, assigned to nobody

[2020-02-04 23:46] jborean93 commented on #48327
We are using the lower level API to delete these files so the issue should no longer be present. If someone is able to replicate this issue then please open another issue with the relevant information. For now I cannot replicate this myself so I am closing the issue.

[2020-02-04 23:46] #48327 closed, assigned to nobody

[2020-02-04 23:47] jborean93 commented on #47821
I am closing as I have never been able to replicate this problem and cannot see why it would occur. If someone is able to come up with a concrete replication or have an idea why it is happening please open a new issue for this.

[2020-02-04 23:47] #47821 closed, assigned to nobody

[2020-02-04 23:50] jborean93 commented on #47229
It's hard to come up with a sane default, for the most count the defaults we have today seem to be fine on most servers there are just exceptions to this. This can be due to so many different factors where if we were to increase it to `1200` seconds today it still might not be enough for some people. In any case `win_updates` with `reboot: yes` actually has a default timeout of 1200 seconds to acc

[2020-02-04 23:50] #47229 closed, assigned to nitzmahone

[2020-02-04 23:52] jborean93 commented on #45291
Closing as the limitation exists on the underlying API and having an arbitrary retry is not ideal. For now we just have to live with the limitations that exist with the the underlying cmdlets. Having a way of locking the files would require more in depth knowledge of what those APIs are actually touching when we should not care about those details at all. It could also lead to a more brittle modul

[2020-02-04 23:52] #45291 closed, assigned to nobody

[2020-02-04 23:53] jborean93 commented on #49708
There seems to be some good content in roles as per @daBONDi comment https://github.com/ansible/ansible/issues/49708#issuecomment-447973501. I am going to close this issue as I am trying to cull older feature requests with little movement. We could potentially look at a PR that tries to implement this in Ansible (or the Windows collection we are migrating to) in the future but for now there is an

[2020-02-04 23:53] #49708 closed, assigned to nobody

[2020-02-04 23:55] jborean93 commented on #54658
The `win_uri` module has support for the `use_default_credential` option since Ansible 2.9. Bear in mind this will only work if you are connecting with CredSSP or Kerberos with credential delegation, or using become on the task for this to actually work.

[2020-02-04 23:55] #54658 closed, assigned to nobody

[2020-02-05 00:00] jborean93 commented on #54545
I am closing as I am unable to replicate this problem. I use the win_get_url module in my packer image setup which builds a brand new Server 2008 R2 (and other versions) from scratch without human intervention. Without any more information to go on there is nothing more we can do.

In any case 2008 R2 is EOL and there is very limited support we can give for these versions anymore.

[2020-02-05 00:00] #54545 closed, assigned to nobody

[2020-02-05 00:01] jborean93 commented on #54250
Closing as this looks like a change in behaviour in Windows and not a problem with this module.

[2020-02-05 00:01] #54250 closed, assigned to nobody

[2020-02-05 00:02] jborean93 commented on #50688
Closing as this is not a critical issue and we are no longer actively working with Server 2008 and 2008 R2 due to their EOL.

[2020-02-05 00:02] #50688 closed, assigned to nobody

[2020-02-05 00:06] jborean93 commented on #61756
No, `EnablePSRemoting.ps1` is not a script we supply. If they are talking about the `ConfigureRemotingForAnsible.ps1` script we do have there is very limited support for that. It works for most cases but there are edge cases where it might fall flat (this could potentially be one). This script is meant to be a template or just a starting point for people to base of their own setup scripts that are

[2020-02-05 00:06] #61756 closed, assigned to nobody

[2020-02-05 00:08] jborean93 commented on #59829
This was eventually backported to ansible 2.8 so the issue around not supporting cross domain requests have been fixed.

[2020-02-05 00:09] jborean93 commented on #59348
`log_path` for `win_domain` has been implemented with https://github.com/ansible/ansible/pull/66956. The `win_domain_controller` module is a lot more difficult because `log_path` is already used for another purpose and we can't just change it to be the `LogPath` parameter.

[2020-02-05 00:12] jborean93 commented on #56633
Closing as this is an older feature request. We would be opened to reviewing a PR that implements this in the future but there's no real point keeping this issue opened if no action has been started on it by now.

[2020-02-05 00:12] #56633 closed, assigned to nitzmahone, jborean93

[2020-02-05 00:20] jborean93 commented on #65562
This is definitely due the quotes on the command line, you need to encoding the `-e` argument in single quotes

[code]

[2020-02-05 00:20] #65562 closed, assigned to nobody

[2020-02-05 00:41] jborean93 commented on #59348
I've opened https://github.com/ansible/ansible/pull/67108 which deprecates the existing (previously undocumented) `log_path` option so in the future we can utilise that as the option for this functionality.

[2020-02-05 01:25] jborean93 commented on #56218
I'm not closing this issue saying we won't accept further improvements to the documentation I just think right now win_chocolatey does document most of the basics.

For your issues you have right now, if you are in an environment where it

#### Does not have access to the internet except for what's on a whitelist,

You should not be installing Chocolatey from an external website if using it in an

[2020-02-05 01:25] #56218 closed, assigned to nobody

[2020-02-05 01:47] Fred-sun commented on #66227
Yes, I can't duplicate the problem and proceed to the next step! Thank you very much!

[2020-02-05 02:10] jborean93 commented on #45188
It looks like the comments in https://stackoverflow.com/questions/781205/getting-a-url-with-an-url-encoded-slash mentioning that in .NET 4.5.1 this is no longer an issue is true. When running the following task in Ansible here is the results I see;

[code]

![image](https://user-images.githubusercontent.com/8462645/73804588-ff1cac80-480f-11ea-975f-66130f6bdb97.png)

We can see that the URL has the

[2020-02-05 02:10] #45188 closed, assigned to nobody

[2020-02-05 02:57] jborean93 commented on #66984
The screenshot you posted is around network locations which is a separate concept to mapped drives but it is still possible to connect to a WebDAV location using `win_mapped_drive` you just need to use a different path format.

Here is an example that I was able to run

[code]

When I log on interactively I can see that the drive has been mapped to the Z drive as expected.

![image](https://user-i

[2020-02-05 03:01] dhilst opened #67110 "ovirt_snapshot has no option for multidisk machines"
##### SUMMARY
I have a VM with two disks, one of them is a kind of cache. I use this machine for testing installations so the idea is the installation is rolled back to beginning (but downloaded packages keep in cache (a separated disk that is not part of the snapshot))

When I restore a snapshot from the Web UI it asks what I want disks I want to provide to the restored VM.

##### ISSUE TYPE
Prov

[2020-02-05 03:15] Fred-sun commented on #65914
@haiyuazhang @gavinfish

[2020-02-05 03:23] #66984 closed, assigned to nobody

[2020-02-05 03:55] arensb opened #67113 "Macports incorrectly reports changes when there is nothing to upgrade"
##### SUMMARY

The macports module incorrectly reports that there has been a change when there is nothing that needs to be upgraded.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

macports

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS:
Darwin susan 18.7.0 Darwin Kernel Version 18.7.0: Sun Dec  1 18:59:03 PST 2019; root:xnu-4903.278.19~1/RELEA

[2020-02-05 04:02] Fred-sun commented on #65901
@renskewierda I tried, but could not copy, can you provide your full playbook? Thank you very much!

[2020-02-05 06:43] bhushangholave opened #67114 "Ansible 2.9.4 does not work/honor for ansible_winrm_server_cert_validation=ignore flag."
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Linux UBI 8 image

##### STEPS TO REPRODUCE

[code]
inventory file
[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]
This exact inventory works with below version of ansible
[code]

[2020-02-05 06:51] pawellrus commented on #65420
In my case playbook was not working event without spaces.
I think the issue could be related with some unprintable symbols that could be occasionally passed to parameter from clipboard.

[2020-02-05 07:53] tremble commented on #66852
@selivan

The bot is CCing most of us because we're a group of folks with an interest in the AWS modules.

The only relevant change I see between 2.9.2 and 2.9.3 is #62374 My guess would be that it's waiting on the wrong thing as a result of that change.  Ansible isn't my day-job so I can't make any guarantees when I'd get time to look into this.  If that hint is enough to find the bug and generat

[2020-02-05 07:54] jasperla commented on #66960
@blackwood821 Currently that is indeed not supported however I can see why it would be useful.
Do you feel like implementing this yourself?

[2020-02-05 07:54] jborean93 commented on #65420
I believe the cert properties have that null character which can cause issues. You are best off using PowerShell to get the thumbprint or making sure you only copy the hex characters and not anything after it.

[2020-02-05 07:58] jborean93 commented on #67114
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

 This is not an error around certificate validation so it has nothing to do with that variable. The error is telling you that it is unable to find a common TLS prot

[2020-02-05 07:58] #67114 closed, assigned to nobody

[2020-02-05 08:07] an-t-oine commented on #67087
i use this module, and it well update DRS groups.
BUT, it is very very slow !!!

I have a DRS VMs group larger than 300 VMs.
It takes around 30 minutes to add only one VM.

what i do is:

First, i gather DRS rules info :

`- name: Gather DRS info
    vmware_drs_rule_info:
      hostname: "{{ PRD_esx_guest_vcenter }}"
      username: "{{ PRD_esx_guest_username }}"
      password: "{{ PRD_esx_guest_

[2020-02-05 08:08] an-t-oine commented on #67087
i use this module, and it well update DRS groups.
BUT, it is very very slow !!!

I have a DRS VMs group larger than 300 VMs.
It takes around 30 minutes to add only one VM.

what i do is:

First, i gather DRS rules info :

[code]

then i create a new variable (array) of the VMs that are already in the DRS group + my new VM that i want to add in this group:

[code]

then, i use this variable to the

[2020-02-05 08:10] felixfontein commented on #56385
Resolved by #67045.

[2020-02-05 08:10] #56385 closed, assigned to nobody

[2020-02-05 08:21] pertoft commented on #67087
Thanks for the valuable input.
Lets start from the beginning...
We have a Rancher node which provisions Kubernetes masters/nodes on vSphere, and when we upgrade a node, rancher rolls the node by building a new node and destroying the old one.
We would like to have the nodes split across two groups of computes (e.g. so all three master nodes are not placed on the same server by accident), we need t

[2020-02-05 08:23] maestrx commented on #67031
I have the same problem without the pipelining enabled

[2020-02-05 08:27] karstenjakobsen commented on #67087
@pertoft If I can find the time, I could create a new module called `vm_drs_group_members'  that adds/removes members on a 1 to 1 basis from drs_groups

[2020-02-05 08:31] maestrx opened #67115 "wait_for_connection failes after change of host OS, detected ansible interpreter issue"
Foun d issue #67031 but i dont have pipelining expicitly enabled
Tested on the latest stable

##### SUMMARY
When ansible playbook starts on RHEL6, during the runtime it gets rebooted and duriong boot reinstaleld to rhel8 (example), the wait_for_connection timeouts

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
wait_for_connection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

#

[2020-02-05 08:32] maestrx commented on #67115
I believe this is the issue:
<10.50.24.11> (127, b'/bin/sh: /usr/libexec/platform-python: No such file or directory\r\n',

[2020-02-05 08:34] bhushangholave commented on #67114
@jborean93
Thank you for the quick reply on this.
1. I am sure you know more details about this bug or what it actually tells.
2. Same Windows host, inventory and command win_ping works with ansible version 2.8.5 and it does not work with ansible 2.9.4.
3. yes if we generate new self sign certificate it works with 2.9.4 but this is workaround because `ansible` still checking `ansible_winrm_server_

[2020-02-05 08:54] renskewierda commented on #65901
Hi Fred-sun, perhaps you didn't succeed because my first code snippet is from a playbook and the second snippet is from a role. Below I merged this into one task, can you reproduce it like this?

[code]
EXPECTED RESULTS
Creation of a load balancer named load-balancer-x, in the existing resource group resource-group-y, without a front-end ip configuration.

ACTUAL RESULTS
Ansible generates an error

[2020-02-05 09:13] pabloheimplatz commented on #66419
Boto3 update solves the problem thank you all!

[2020-02-05 09:13] #66419 closed, assigned to nobody

[2020-02-05 09:13] mnecas commented on #67110
Hi @dhilst,
I think this issue is solved in https://github.com/ansible/ansible/pull/65729.

Please try to
- add library folder to your playbook
- copy and rename the fixed `ovirt_snapshot` (from `devel` branch) to the library
- use the renamed module as task
- example (https://github.com/oVirt/ovirt-ansible-vm-infra/tree/ovirt-ansible-vm-infra-1.1)

It will be released in 2.10 / in collections.

[2020-02-05 09:24] abinassahoo opened #67116 "AttributeError: 'ShellModule' object has no attribute 'ECHO'"
Hi Team,

I am trying to execute ansible playbook inside packer provisioner which is targeting a windows server 2019 OS. While running the first ansible play command i am getting below error.

Variable file:
======================
ansible_user: packer
ansible_connection: winrm
ansible_become_method: runas
ansible_winrm_transport: basic

Error message:
=================
[0;32m    azure-arm: Attrib

[2020-02-05 09:35] gthieleb commented on #38050
This is still an issue in ansible 2.9.4 Is there some progress to include the proposed fix?

[code]

results in:

[code]

[2020-02-05 09:43] Fred-sun commented on #65901
@renskewierda The parameter frontend_ip_configurations is not required; you can refer to The connection file(https://github.com/ansible/ansible/blob/devel/test/integration/targets/azure_rm_loadbalancer/tasks/main.yml) and omit it when there are other parameters. Thank you very much!

[2020-02-05 09:44] Fred-sun commented on #65901
@renskewierda The parameter frontend_ip_configurations is not required; you can refer to The connection file(https://github.com/ansible/ansible/blob/devel/test/integration/targets/azure_rm_loadbalancer/tasks/main.yml) and omit it when there are other parameters. Thank you very much!

[2020-02-05 09:49] renskewierda commented on #65901
Hi @Fred-sun , when you omit the parameter, you get the following error:

"Error creating or updating load balancer load-balancer-x - Azure Error: FrontendIPConfigurationHasNoSubnetOrPublicIPAddressOrPublicIPPrefix\nMessage: Frontend IP Configuration /subscriptions/[subscription id redacted]/resourceGroups/resource-group-y/providers/Microsoft.Network/loadBalancers/load-balancer-x/frontendIPConfigu

[2020-02-05 10:21] selivan commented on #66852
@tremble

Thanks for the answer. I may look into it if I have some time, but no promises to anybody interested in this bug.

[2020-02-05 11:13] evgeni opened #67118 "pylint sanity test fails on Python 3.8"
##### SUMMARY
When running `ansible-test sanity --venv --python 3.8 --test pylint plugins/` inside the `theforeman.foreman` collection (https://github.com/theforeman/foreman-ansible-modules), the test fails with

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 31

##### STEPS TO REP

[2020-02-05 11:27] evgeni commented on #67118
bot_broken

the issue has no PR attached, the referenced PR is in an unrelated repository

[2020-02-05 12:03] #67074 closed, assigned to nobody

[2020-02-05 12:13] tomkivlin commented on #67078
Awesome - can confirm this has worked.

[2020-02-05 12:16] raphaelschnaitl opened #67119 "privilege escalation on PowerShell 5.0 Fails if using aws ssm connection plugin"
##### SUMMARY

privilege escalation (`become`) causes problems when running against windows using the aws_ssm connection plugin ([introduced in this mr](https://github.com/ansible/ansible/pull/49652)) on devel.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

win_shell
become

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS:
`Microsoft Windows Ser

[2020-02-05 12:30] Console32 commented on #67119
!component win_shell
component win_whoami

[2020-02-05 12:43] a-nldisr commented on #67096
You could solve this by making an inventory file and assigning several roles? Just trying to think along.

[2020-02-05 12:47] tremble commented on #66852
While I work for Red Hat, I'm part of our internal IT team rather than Engineering or CE&E (aka customer support).

For official support (If you have an Ansible Tower/Engine subscription) I'd recommend submitting a report via https://access.redhat.com

[2020-02-05 13:05] ghost opened #67122 "os_server_info filters documentation"
##### SUMMARY
os_server_info documentation state that the _filters_ parameter :

but does not describes what these filters are or where to find more information about how to write them.

https://docs.ansible.com/ansible/latest/modules/os_server_info_module.html#os-server-info-module

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
os_server_info

##### ANSIBLE VERSION

[code]

[2020-02-05 13:09] AlanCoding commented on #67098
These modules are being migrated to a collection at https://galaxy.ansible.com/awx/awx

The collection has bugs fixed related to the credential field being ignored. If you find more when using the collection, please let us know in the AWX issue queue.

close_me

[2020-02-05 13:18] #67098 closed, assigned to nobody

[2020-02-05 13:24] tadeboro commented on #62377
I created two minimalistic bugfixes (#67120 and #67121) for Ansible 2.8 and 2.9. They both contain the same single-line fix and should be easy to review.

[2020-02-05 13:40] bachradsusi commented on #27349
Using only .te seems to be inefficient. A standard SELinux module consists of 3 files - .te with type enforcements rules, .fc with file context mappings, and .if with interfaces.

Using only .te means you cannot define a file context mapping when you define a new file type in .te, e.g. I'd have myservice_conf_t type which I want to map to /etc/myservice/*.conf - for this you need a .fc file.

Ther

[2020-02-05 13:50] gthieleb commented on #38050
nevermind, it was a local problem.
`rpm_key` seems to work with remote file and usign a proxy.

[2020-02-05 13:52] rrotaru commented on #67100
Some more additional information that I've come across in the past day of digging into this issue. From the VMWare API documentation [here](https://code.vmware.com/apis/196/vsphere/doc/vim.StorageResourceManager.html#recommendDatastores) we should be specifying `storage_spec.type = 'reconfigure'` for add disk, but instead are specifying `'create'` which does not allow us to pass in the `storage_sp

[2020-02-05 13:57] blackwood821 commented on #66960
@jasperla Unfortunately I don't know Python or else I'd give it a try. I plan to learn it soon so once I do if no one else has implemented it yet I will take a stab at it.

[2020-02-05 14:05] arensb commented on #67113
I should add that the root cause is that the `macports.pm` module expects `port upgrade outdated` to print "`Nothing to upgrade.`" when there are no outdated ports. In fact, it prints
[code]
(which includes a progress bar), so the patch I submitted checks whether the output begins with "`Nothing to upgrade`".

In addition, there was a comment saying that `port upgrade` exits with status 1 when the

[2020-02-05 14:06] mjcotner opened #67124 "Ansible 2.9.3, Python 3.6.8 and winrm connection issues"
##### SUMMARY

'ansible hostname -m win_ping -vvvvv' results in:

testwin.local.net | FAILED! => {
    "msg": "winrm or requests is not installed: No module named 'winrm'"
}

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

winrm

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Platform: VMware 6.7
OS: CentOS8
Ansible 2.9.3
Python3: 3.6.8
Python2: 2.7.16

##

[2020-02-05 14:12] martbhell commented on #41320
I have tested this with a cmdb (so not incident as in the examples). I was able to get a list of servers in our cmdb which is what I wanted. Works for me.

CentOS 7.7. Python2.

The results was not what I expected but that is probably because I didn't spend much time writing a good pysnow query. Took me a while to figure out I wanted to query Name and return name. Why that is the case I don't know

[2020-02-05 14:20] D3DeFi commented on #67088
What about leaving it out completely? Do we even need it in module dumps?

[2020-02-05 14:25] sivel commented on #67106
The original author likely had no requirement or need for such functionality.  I don't see any reason why it couldn't be added, although the `uri` module should support any needs you may have.

We have no current plans to implement this feature, but we would be willing to review a pull request that adds it.  As such, I'm going to proceed with closing this issue.

If you have further questions plea

[2020-02-05 14:25] #67106 closed, assigned to nobody

[2020-02-05 14:29] yeungj16 commented on #67102
Thanks @bcoca but that doesn't explain why the 2 workarounds worked.  It could be Ansible not interpreting properly from Vault?

I have another environment that has a similar setup except Vault is one minor version behind.  This setup works with the code mentioned above.  In fact, these were the original playbook I've copied over to this new setup environment.

[code]

[2020-02-05 14:36] sivel commented on #67118
It seems this is due to the pinned version of `astroid` not supporting python 3.8. This change seems to resolve the issue:

[code]

[2020-02-05 14:38] sivel commented on #67116
This is the result of targeting a windows host, and having `become: true` but not setting `become_method: runas`.  Looking at your variable file you do indicate that you have set this, but the evidence points at it not being configured properly.

Of additional note, is that in Ansible 2.9, the error messaging is changed, and will now indicate that your configured become plugin doesn't support the

[2020-02-05 14:38] #67116 closed, assigned to nobody

[2020-02-05 14:39] GomathiselviS commented on #67077
@FedericoOlivieri  Can you please share the template used?

needs_info

[2020-02-05 14:40] DEvil0000 opened #67125 "postgresql_cluster: manage psql clusters on a host - not just main"
### SUMMARY
ansible allows to manage databases and so on for postgresql but misses management of clusters.
PSQL comes with tools to manage this: pg_lsclusters, pg_createcluster and so on.
There should be a postgresql_cluster to do so.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
postgresql

##### ADDITIONAL INFORMATION
You could have more then one cluster with different DB versions or ex

[2020-02-05 14:42] s-hertel commented on #66710
I'm not sure what this feature is trying to accomplish.

Is the playbook spinning up hosts that you're going to locate with the included dynamic inventory? If that's the case, you may want to take a look at the meta task `refresh_inventory`.

For example, if your playbook spins up AWS instances, you'd create an aws_ec2 config file:
[code]
Run your playbook with -i dev_aws_ec2.yml. No instances may

[2020-02-05 14:45] FedericoOlivieri commented on #67077
I have got to the bottom of the problem. Basically, the config line sent to was wrong and the error log mislead as it was not clear if it was a `ConnectionError` or something else. Would be maybe good to improve the error message with the line number and type of error.

[2020-02-05 14:53] omarkohl commented on #37941
We ran into this issue when upgrading from Python 2 to Python 3.

*test.yml* playbook

[code]

This works fine with the Python 2 interpreter on the target systems.

When adding the following to *ansible.cfg* the network is never restarted (i.e. the playbook is broken!) on the target systems:

[code]

When modiying *ansible.cfg* to specify the complete path to the python3 interpreter it works.

[co

[2020-02-05 14:55] sivel commented on #67124
This is a result of how the `ansible` package provided in EPEL is built.  The shebang in the ansible CLI script is listed as:

[code]

This means that python will not utilize the `site-packages` directory where `pip3` installed `pywinrm` into.

It seems that if you want to install pywinrm from pip, you may be required to install ansible from pip, , modify the shebang of the ansible CLI scripts to

[2020-02-05 15:06] manumeter commented on #11024
Okay, good idea, done: https://github.com/ansible/ansible/pull/67128

[2020-02-05 15:09] evgeni commented on #67118
Yeah. That should fix it

[2020-02-05 15:11] Andersson007 commented on #67125
@DEvil0000 hey, thank you for the suggestion!
Firs of all, we need to evaluate this in terms of idempotency.
@andyton @kostiantyn-nemchenko @amenonsen What guys do you think about this?

[2020-02-05 15:31] unix-guy commented on #66227
So you also cannot reproduce the issue? I am not understanding your last post.

[2020-02-05 15:41] #54819 closed, assigned to nobody

[2020-02-05 15:48] DEvil0000 commented on #67125
!component = https://github.com/ansible/ansible/tree/devel/lib/ansible/modules/database/postgresql

[2020-02-05 15:49] jctanner commented on #66038
Docs appear to live in https://docs.ansible.com/ansible/devel/user_guide/playbooks_error_handling.html#ignoring-unreachable-host-errors now. Awesome!

[2020-02-05 15:49] #66038 closed, assigned to nobody

[2020-02-05 15:51] DEvil0000 commented on #67125
I just realized those cluster related pg_ tools might be ubuntu specific but as a ansible module it may work the same on other distros, too. And its a very nice feature.
http://manpages.ubuntu.com/manpages/xenial/en/man1/pg_lsclusters.1.html

[2020-02-05 15:57] rockaut commented on #67088
Hmm... Technically not but some might like the field to see when they dumped the template.

[2020-02-05 16:07] Lujeni commented on #29972
Hi,

We got an error now, we can close this issue. `close_me`

[code]

[2020-02-05 16:15] AlanCoding opened #67130 "Raise error in `ansible-galaxy collection build` if readme in build_ignore"
##### SUMMARY
Because https://galaxy.ansible.com will reject collections that do not have an expected README file, the command `ansible-galaxy collection build` command should error if specified readme file is inside the list `build_ignore` inside `galaxy.yml`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ansible/cli/galaxy.py

##### ADDITIONAL INFORMATION

Example `galaxy.yml` file

[2020-02-05 16:25] #29972 closed, assigned to nobody

[2020-02-05 16:25] jagibson commented on #10121
I now just encrypt my whole disk now instead of just my own home directory so this bug no longer affects me.  It may however still affect other ecryptfs users.

[2020-02-05 16:32] oxs01 commented on #23320
bug still open?

[2020-02-05 16:51] yeungj16 commented on #67102
I've just upgraded Vault to the latest (1.3.2) and seems to have the same issues.

https://releases.hashicorp.com/vault/

Also, looks like only **WORKAROUND 1** is working...  Tested **WORKAROUND 2** again today and it has the same ```Permission denied (publickey,gssapi-keyex,gssapi-with-mic).``` error.  Maybe yesterday, it was somehow cached which is why it was working.

From the above pattern, i

[2020-02-05 17:04] #66149 closed, assigned to nobody

[2020-02-05 17:34] #58619 closed, assigned to nobody

[2020-02-05 17:34] #64966 closed, assigned to nobody

[2020-02-05 17:50] pcahyna commented on #66714
because vars: on the role invocation leak out to the whole playbook: #55942 https://github.com/ansible/ansible/issues/50278#issuecomment-450901131
This is a problem with `import_role` and `roles`, `include_role` seems to behave fine.

[2020-02-05 17:54] pcahyna commented on #50278
What are actually role params? I thought that role params are just the `vars:` block supplied to the roles under `roles` keyword or `import_role` tasks. Is there another type of role params?

[2020-02-05 17:58] pcahyna commented on #55942
related: #50278

[2020-02-05 17:59] mariolenz commented on #67101
!component =lib/ansible/modules/cloud/vmware/vmware_guest.py

[2020-02-05 18:36] ckaserer commented on #20537
I ended up putting` requirements.yml` in the `molecule/scenario_name` folder and executed my tests. It works like a charm. If you want to manually install the dependency you could run `molecule dependency`.

[2020-02-05 18:54] pokepoke81 commented on #55997
I would very much like to see this module, especially configuring the firewall rules for site-to-site as they get unwieldy in the dashboard.

[2020-02-05 18:59] pilou- commented on #50278
here is an example of role parameter:
[code]
here is an example of role variable:
[code]

Both expressions `role params`  and `role vars` are listed on the [variable precedence list](https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#variable-precedence-where-should-i-put-a-variable).

[2020-02-05 19:08] kbreit commented on #55997
@pokepoke81 - These modules are moving from `ansible/ansible` to a collection in `CiscoDevNet/ansible-meraki`. I created an issue (https://github.com/CiscoDevNet/ansible-meraki/issues/59) in that repository since the module will be created there.

I’m happy to create this one and will bump it to the top of the list. I’ll CC you when I create the pull request so you can test and make sure it operat

[2020-02-05 19:12] jborean93 commented on #67119
It's not technically failing to become on PSv5 but in that version it automatically creates a progress record on startup. This progress record on traditional stdio based systems is sent to the stderr pipe of the process through a CLIXML message but in this case it's getting mixed together somewhere with the stdout. Because it's on the same line it's unable to read the output json as it is no longe

[2020-02-05 19:18] pcahyna commented on #50278
yes, they are listed there, but their meaning is AFAICT not explained, so I always thought that `role vars` refer to the content of `vars/main.yml` and `role params` to `vars:` passed in `role`. The semantic difference between

and

is not explained, so even if one is aware of the former (I don't remember seeing it in the docs) one would assume that it is a syntactic sugar for the latter. Confusin

[2020-02-05 19:18] pcahyna commented on #50278
@pilou-  Anyway, thanks for the explanation.

[2020-02-05 19:22] pcahyna commented on #50278
I also see above that
[code]
and

which seem to have opposite views of the semantics (if "bleed" means "leak out to the whole play").

[2020-02-05 19:23] pilou- commented on #66714
The example playbook mentioned in the description works as intended:
* `roles:` are static and work [like `import_role`](https://docs.ansible.com/ansible/latest/modules/import_role_module.html#notes)

  See also the [2.7 porting guide](https://docs.ansible.com/ansible/latest/porting_guides/porting_guide_2.7.html#include-role-and-import-role-variable-exposure):

* Role variables have greater preced

[2020-02-05 19:28] pcahyna commented on #66714
@pilou- the problem, at least for me, is unclear interpretation of the expression "role’s vars" and "variables defined in vars for the role". Since they occur in expressions "role’s defaults and vars" and "variables defined in vars and defaults for the role", I always supposed that they refer to role's `vars/main.yml` - in analogy with role's `defaults/main.yml`.

[2020-02-05 19:36] eboboshka commented on #66560
Confirmed. In version 2.8.8, there are no problems.
In version 2.9.0 and above, a similar problem appears. Py2 and Py3 - no difference.

Reinstalling doesn't help. It's really weird that you lost error message.

[2020-02-05 19:54] pcahyna commented on #66714
Another problem is that the behavior is very counterintuitive, as in apparently all other cases (`block`, regular tasks, `include_tasks`, `import_tasks`, `include_role`) `vars` are properly scoped to the task that they belong to and don't leak out.

[2020-02-05 20:07] devster31 opened #67138 "Issues when using query, include_vars, and first_found with no matching files"
##### SUMMARY

`query` is not returning an empty list when no file is found using `first_found`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`query`, `first_found`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

Run tasks, described as below. The objective is to grab a file for a specific distribution and version only

[2020-02-05 22:23] jervinjos opened #67143 "Ansible couldn't make connection to Windows machine that is in Audit Mode"
##### SUMMARY
For my testing requirement, I need to communicate with a Windows machine that is in Audit Mode. In Audit mode, the machine will be automatically logged into a default user for whom there won't be password. To mitigate that I created a local user with admin privileges and able to make SSH connection to the machine. But I couldn't connect to the machine using Ansible. I'm getting the b

[2020-02-05 22:30] #53110 closed, assigned to nobody

[2020-02-05 23:13] derekwinters opened #67144 "The nios_a_record module updates values on existing records when in check mode"
##### SUMMARY
The `nios_a_record` module updates values on existing records when in `--check` mode.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`nios`
`nios_a_record`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Red Hat Enterprise Linux 7.7
Infoblox 8.3.4-381259
[code]

##### STEPS TO REPRODUCE
There is a host record named test.example.com already pres

[2020-02-05 23:19] dnmvisser opened #67146 "htpasswd module should allow hash specific configuration parameters"
##### SUMMARY

The htpasswd module uses passlib for its crypto operations. Most of the algorithms that passlib offers accept custom parameters, such as number of rounds, salt, etc. For instance https://passlib.readthedocs.io/en/stable/lib/passlib.hash.argon2.html#interface. There is currently no way of using those through the htpasswd module.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

[2020-02-06 01:26] Fred-sun commented on #66227
@unix-guy Sorry, cancel the last post. I can reproduce and The PR #65601 has fixed this crash issue! You can try this fixes when you encounter this issue! Thank you very much!

[2020-02-06 01:29] Fred-sun commented on #66227
Another , You can create a VM and add two data disks to stop the machine for 2 days, you should run into this problem! Thank you very much!

[2020-02-06 01:36] unix-guy commented on #66227
Excellent - thanks very much for the update. I will try to reproduce and test if I can.

[2020-02-06 02:38] Fred-sun commented on #65072
@Sneedes This PR has been merged and will be added to the current ansible. Can you turn this off? Thank you very much!

[2020-02-06 04:23] Fred-sun commented on #65005
@damiandiaz76 This problem has been solved by PR #65587, you can try. Thank you!

[2020-02-06 04:48] #62739 closed, assigned to Akasurde

[2020-02-06 05:00] cigamit commented on #67101
Hmm... I would imagine that you would have to submit a PR for this yourself, as most people will not have one of these to test a patch with.  My servers aren't even new enough to even support it. :(

[2020-02-06 05:25] srbharadwaj commented on #66843
@chrisvanheuveln @mikewiebe

I too agree on the same.. i think we kind of need to educate the users saying a module will do ONLY what it is supposed to do, any other independent operation has to involve other modules..
That said, i think `nxos_config` is not very intuitive to convey that it can do copy r s, i think we need to add a simple sample example in the documentation on how to do copy r s.

[2020-02-06 05:29] srbharadwaj commented on #66843
@KaiserThaws Please let me know if the following works for you. This needed to be added after the devicealias module
[code]

[2020-02-06 05:56] Fred-sun commented on #67092
@rbharadwaj16  Thank you for taking the time to report this problem, we will investigate it!

[2020-02-06 06:20] Fred-sun commented on #61984
kindly ping

[2020-02-06 07:26] andytom commented on #67125
bot_broken

[2020-02-06 07:47] KaiserThaws commented on #66843
Hi Thank you all for your feedback.

@srbharadwaj Just a quick question, this would only save config on the local MDS and not the whole Fabric, right ?

[2020-02-06 08:39] Console32 commented on #67119
Thanks @jborean93 for clarification.

I did not find out where the CLIXML is mixed into the stdout. It looks like ssm returns the CLIXML as stdout instead of stderr.

But I can strip it out using a regex inside the _post_process function:

[code]

I am unsure if this is a good solution. What do you think?

[2020-02-06 08:50] Fred-sun commented on #64667
working in!

[2020-02-06 08:50] srbharadwaj commented on #66843
Yes this would save the config on the local MDS switch only.

[2020-02-06 09:06] Maddog2050 opened #67152 "Inventory script ec2.py not caching results"
##### SUMMARY
The AWS inventory script ec2.py is failing to cache the results for the specified time in the ec2.ini. This is due to the hash function used returning a different hash for the filename on every run of the script.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

contrib/inventory/ec2.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible c

[2020-02-06 09:09] Maddog2050 commented on #67152
Attached is a patch to change the hashing function to a hashlibfunction that returns a consistent hash based off of the filename of the script.

[ec2.py.patch.zip](https://github.com/ansible/ansible/files/4164148/ec2.py.patch.zip)

[2020-02-06 09:18] Tomorrow9 commented on #66457
@sky-joker, thanks for your response and sample, I'll have a try. Thanks.

[2020-02-06 09:18] Maddog2050 opened #67154 "Add the ability to disable certificate validation in the EC2 script"
##### SUMMARY

Add the ability to disable certificate validation to the EC2 script.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Inventory
contrib/inventory/ec2.py
contrib/inventory/ec2.ini

##### ADDITIONAL INFORMATION

The reason for the request is that I work for an organisation that breaks the certificate validation and to be able to use the EC2 script I need a way to disable the ce

[2020-02-06 09:19] Maddog2050 commented on #67154
Attached is a patch that adds this functionality to the EC2 script.

[ec2.patch.zip](https://github.com/ansible/ansible/files/4164193/ec2.patch.zip)

[2020-02-06 09:19] Fred-sun commented on #64036
@gavinfish @haiyuazhang Would you please help take a look this issue when you're free! Thank you very much!

[2020-02-06 09:45] Tomorrow9 commented on #66457
Excellent, I tried and this method works as expected. Thanks @sky-joker @Akasurde

[2020-02-06 09:46] abinassahoo commented on #67116
Hi @sivel ,

Thank you for the reply, this is the current error, could you please refer to some documentation to fix this issue.

fatal: [default]: FAILED! => {[0m
[0;32m    azure-arm:     "msg": "No setting was provided for required configuration plugin_type: become plugin: runas setting: become_user "

[2020-02-06 09:59] evgeni commented on #67047
cc @mdellweg, you wanted to have that too :)

[2020-02-06 10:01] mdellweg commented on #67047
Yes!

[2020-02-06 10:46] yajo opened #67156 "File type/existence tests are unreliable"
##### SUMMARY

Ansible path tests are not reliable: https://docs.ansible.com/ansible/latest/user_guide/playbooks_tests.html#testing-paths

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

tests

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

From fedora 31 to ubuntu bionic.

##### STEPS TO REPRODUCE

See this console session:

<pre>➤ <font color="#005FD7">a

[2020-02-06 10:55] Yajo commented on #67156
!component =lib/ansible/plugins/test/files.py

[2020-02-06 11:10] Ovski4 commented on #66496
@sivel, how do we differenciate community owned vs core developers owned filters? It's very easy to know for modules but I couldn't find it for filter plugins.

If community drop support for this filter (which might be the case as this filter heavily relies on a lib which does not seem to be supported anymore), shouldn't it be removed from the ansible repository and from the docs?

The json_query

[2020-02-06 11:39] drewhemm commented on #26190
Works beautifully! No need for `--ask-vault-pass` if you have the password in a file identified by the `ANSIBLE_VAULT_PASSWORD_FILE` environment variable:

https://docs.ansible.com/ansible/latest/reference_appendices/config.html#envvar-ANSIBLE_VAULT_PASSWORD_FILE

[2020-02-06 11:44] kormat opened #67157 "string_conversion_action=error breaks diff for copy/template"
##### SUMMARY
When `string_conversion_action` is set to `error`, `--diff` no longer shows proper diff for the copy and template modules (i haven't tested others).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
string_conversion_action

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible host and target host OS are ubuntu 16.04.6.

##### STEPS TO REPROD

[2020-02-06 11:58] kormat commented on #67157
I figured out how to test this on `devel` - it's actually fixed there. This is a dupe of #59433.

[2020-02-06 11:58] #67157 closed, assigned to nobody

[2020-02-06 12:06] jonathannaguin opened #67158 "aws_ssm_parameter_store Key error 'Description'"
##### SUMMARY
Ansibel module aws_ssm_parameter_store fails with error 'Key Error Description' when the SSM parameter description is differnet.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
aws_ssm_parameter_store

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Amazon Linux AMI 2016.03

##### STEPS TO REPRODUCE
The following playbook will try to update the S

[2020-02-06 12:08] mh21 opened #67159 "gitlab_runner needs admin-level token for listing existing runners"
##### SUMMARY

#65176 switched `findRunner` in `lib/ansible/modules/source_control/gitlab/gitlab_runner.py` to use `.all()` instead of `.list()`. As described in #60635, calling `all()` needs an access token of a GitLab admin.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gitlab_runner

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Not relevant.

##### OS / ENVIRONMENT
Fedora 31.

###

[2020-02-06 12:26] TomasTomecek commented on #67004
[code]

[2020-02-06 12:28] TomasTomecek commented on #67004
I wonder what should we do on ansible's side here. Would that be just to pass the `-i` flag?

[2020-02-06 12:35] mh21 commented on #67159
https://github.com/mh21/ansible/tree/gitlab-remote-findrunners-all-list contains a minimal revert of the change that makes non-admin tokens work again.

[2020-02-06 12:45] aisbergg opened #67160 "Extend the path stack for searching local files"
##### SUMMARY

Add a variable `ansible_extra_search_paths` to extend the path stack, so local files can be searched for in custom locations.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

task

##### ADDITIONAL INFORMATION

**Why?**

Inventories can be loaded from a directory, which can be used to define `host_vars` and `group_vars` differently for each inventory. This is nice, because it

[2020-02-06 12:45] rinormaloku opened #67161 "Property spread notation for Ansible"
##### SUMMARY
Looping through a list of items and passing those to a role (using `include_role`) requires to store the items into a variable (by default `item`) and then requires changes in the role to use the properties such as `" {{ item.name }}"`.

**The drawback here is that the role will either be optimized to work with lists or with items. But not both.**

#### Visualizing with an example of

[2020-02-06 13:07] DaveCrown commented on #62302
I think this is an important feature to implement. Given the issues that have were a result of misconfiguration S3 buckets, being able to use ansible as part of a compliance strategy for this would be a perfect fit

[2020-02-06 13:15] rinormaloku commented on #67161
Found out that there is an alternative instead of updating the role, by assigning variables directly in playbook:
[code]

Though this for objects with many properties would be much cleaner to the eye by using the 'spread' property

[2020-02-06 13:45] Acronys1 commented on #67051
Exactly same problem with os_server_info.

With python2.7 no problem but with python3.x I got no volumes attachment.

openstacksdk 0.40.0 on both python version

[2020-02-06 13:48] angegar commented on #39525
I have the same issue, any fix ?

[2020-02-06 13:59] sky-joker commented on #66457
Thank you @Tomorrow9 for the check to the result of the example playbook!

[2020-02-06 14:01] S4enL0ng commented on #41738
Im in the process of changing from "one-time" setup processes to idempotent runs for future updates.
and for this case i wanted to change from firewall-cmd to firewalld as the firewall setup Playbook Modules.
So my different playbooks are (broken down)

[code]

[code]

I have 2 serverclusters set up, each with one or the other playbook.

The only difference i found is this:
[code]
After i added th

[2020-02-06 14:18] WRJFontenot commented on #62377
I am the customer waiting on this fix.  Do not close this issue until it is resolved.

[2020-02-06 14:21] rmbleeker opened #67163 "Templating behaves differently from Jinja2 documentation"
##### SUMMARY
If this has been reported/discussed before I apologize but I couldn't find it.

The Jinja2 template designer documentation for the [IF statement](https://jinja.palletsprojects.com/en/2.10.x/templates/#if) clearly states:

This "simplest form" is just using the plain variable in the IF statement without tests or filters. However Ansible throws an error when trying to deploy a template

[2020-02-06 14:21] goneri commented on #67004
Yes, the `-i` flag is missing. I could also be nice to check podman version, to know if we can enable pipelining.

[2020-02-06 14:23] rmbleeker commented on #67163
##### WORKAROUND
This does work if you formulate the IF statement in the template to explicitly check if the variable is undefined:
[code]

[2020-02-06 14:27] sivel commented on #66496
@Ovski4 to answer your question, right now it is hard to tell, it largely requires asking someone who knows.  But we are addressing that in the upcoming 2.10 release.  In fact, the `json_query` filter will be removed from the `ansible/ansible` repository within the coming weeks, and will be migrated to a new repository that will form the new `community.general` collection.  See https://www.ansible

[2020-02-06 14:32] sivel commented on #67163
Duplicate of https://github.com/ansible/ansible/issues/58835 https://github.com/ansible/ansible/issues/56017

[2020-02-06 14:32] #67163 closed, assigned to nobody

[2020-02-06 14:36] sivel commented on #67156
The file tests, operate on the local ansible controller, whereas the `stat` module operates on the target host.

As such, you cannot use the file tests, to test the existence of a remote file.

[2020-02-06 14:37] ghost opened #67166 "Feature request: sbopkg module"
##### SUMMARY
[sbopkg](https://sbopkg.org/) module for building/installing third party Slackware Linux packages from http://slackbuilds.org/

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
packaging

##### ADDITIONAL INFORMATION
Having a [sbopkg](https://sbopkg.org/) module would greatly complement the slackpkg module for Slackware Linux systems, since http://slackbuilds.org/ is the most po

[2020-02-06 14:54] Ovski4 commented on #66496
That's good news, thanks

[2020-02-06 14:54] somospocos commented on #67166
!component -lib/ansible/modules/packaging/os/package.py

[2020-02-06 15:53] calsaint opened #67167 "Ability for unprivileged user to 'become' another unprivileged user"
##### SUMMARY
Ability for unprivileged user to 'become' a different unprivileged user

##### ISSUE TYPE
* Feature Idea

##### COMPONENT NAME
system/setup.py

##### ADDITIONAL INFORMATION
I don't have root access, but the connect user (**oracle**) on the managed server has privilege to sudo su - user (**ebs1**). Trying to achieve this sing 'become' but it gives an error as follows:

**Shared connec

[2020-02-06 16:00] jctanner opened #67168 "validate the directories in a collection are spelled correctly"
##### SUMMARY
Sanity tests should verify a collection author has not typo'ed a folder name inside the collection.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

collections
sanity

##### ADDITIONAL INFORMATION

[code]

[2020-02-06 16:10] drzraf commented on #67051
Same problem with, although not sure whether it's a regression or not:
[code]

If the volume already exists, the value for `device` is not changed and Ansible always shows `changed: false`.

[2020-02-06 16:15] marbarmar opened #67169 "module nxos_lag_interfaces not idempotent when mode yes"
##### SUMMARY
When using nxos_lag_interfaces with mode: yes, to configure "channel-group x mode on" (needed on Nexuses for connection of FEXes) it is not idempotent.
The output even states the mode as "True" not "yes" (see below).
I am not sure why in the Ansible module there is an option "yes" instead of "on" which is actually used on devices.

changed: [SWITCH-A] => (item={'key': 6, 'value': {u'

[2020-02-06 16:15] dkanbier opened #67170 "authorized_key adds trailing white space to keys"
##### SUMMARY

The authorized_key module adds a trailing white space to key entries when no comments are defined, which causes issues with SSH Signed Certificate logins on RHEL6.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
authorized_key

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux 6 and 7

##### STEPS TO REPRODUCE

Run this

[2020-02-06 16:17] dkanbier commented on #67170
I think the cause is on this line in the authorized_key source:
https://github.com/ansible/ansible/blob/c3635532d3047ff944761005790d4be1111a8f72/lib/ansible/modules/system/authorized_key.py#L518

I believe this will always output a space after the key, even if there is no comment supplied.

[2020-02-06 16:34] mattclay commented on #67168
Somewhat related to https://github.com/ansible/ansible/issues/62079

[2020-02-06 16:49] mjcotner commented on #67124
Thank you! I am new to this, so I had to go the long way around, but it is working now. Here is what I did for anyone else running into this issue:

1. Stood up a new CentOS8 server (attempting to use the ``--install-option='--prefix=/usr/'`` does not work if the bits are already installed).
2. Installed pip, Ansible, pyvmomi and pywinrm (tried to stay Python2 for simplicity):
[code]

3. Installin

[2020-02-06 16:56] jctanner commented on #67168
duplicate_of 62079

[2020-02-06 17:02] Sentiphone commented on #67124
Thank you for this! Had the exact same issue. Fixed using:
`cp -r /usr/local/lib/python3.6/site-packages/* /usr/lib/python3.6/site-packages/
cp -r /usr/local/lib64/python3.6/site-packages/* /usr/lib64/python3.6/site-packages/`

Pip3 wasn't accepting `install-option` as a valid option.

[2020-02-06 17:03] #67168 closed, assigned to nobody

[2020-02-06 17:26] mattclay commented on #63287
Resolved by https://github.com/ansible/ansible/pull/63649

[2020-02-06 17:26] #63287 closed, assigned to nobody

[2020-02-06 17:31] mattclay opened #67172 "Add CI platform: freebsd/12.1"
##### SUMMARY

Replace the `freebsd/12.0` platform in the test matrix with `freebsd/12.1`.

FreeBSD 12.1 was released in November, 2019.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

shippable.yml

[2020-02-06 18:25] bsautel commented on #66617
Thanks a lot @mkrizek for the pull request that fixes this issue! Hope this fix will be available in the next 2.9 release.

[2020-02-06 19:09] thedoubl3j commented on #65741
the first part has been, I believe that this still needs some work to get the module utils stuff figured out. similar to #67081

[2020-02-06 19:50] hdiass commented on #50334
I think it makes sense if you want to automate branches merge for example @samdoran . This is a new world for DevOps automation :) instead of having a shell script for that i guess ansible works better, when you have to scale this to multiple repositories.

[2020-02-06 19:54] kitos9112 commented on #50334
Multiple use cases :) But very interested in the one for backing net configs up.

I think I'll have to put my head around this and come up with custom module written in Python for a project we're working on. I will also see whether I can propose it as a PR and get it reviewed by someone else.

[2020-02-06 20:57] utoddl opened #67177 "get_url ignores sgid bit on destination directory"
##### SUMMARY
The web asset downloaded by `get_url` overrides the sgid bit of the destination directory, even if the "group" parameter is not used, or if it is explicitly set to `"{{ omit }}"`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
git_url

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RHEL-7

##### STEPS TO REPRODUCE
Pull down any web asset with

[2020-02-06 21:20] jpmens commented on #67177
I agree and also don't think this is a get_url issue.

[2020-02-06 21:53] kevinvalk commented on #56046
Just ran into this issue as well. I dynamically include roles that have a dependency on a common role. I expected the common role to be ran once at the begining, but instead it is ran before the included role for each include.

Example
[code]

Where the role X has a dependency set in `.meta/main.yml` like:
[code]

This results in running role Y **twice**, which in my mind should only be ran **once

[2020-02-06 22:34] Mamosa opened #67180 "Use of wildcard in variable with ios_config module"
##### SUMMARY
I need to be able to use a wildcard symbol in the lines section of the ios_config module. I am trying to compare a line of config to a line stored in a variable, however the ip address at the end of the config may change depending on the switch or router.

for example if i have

ip address 10.1.1.1
 on one switches configuration and on another i have

ip address 10.1.1.2

i would lik

[2020-02-06 23:06] yshaban commented on #26190
+1 would be super helpful especially as we transition away from fully encrypted ansible-vault files to just files with encrypted variables (for ease of use/readability/ability to modify etc)

[2020-02-06 23:31] caleb15 opened #67181 "plugins in callback_plugins folder not automatically loaded"
##### SUMMARY
The documentation states the following:

Simply dropping a file into a callback_plugins directory or even doing that and whitelisting it is not enough. You need to add the directory to DEFAULT_CALLBACK_PLUGIN_PATH for it to work. Either the documentation is missing that step or the code has a bug.

https://docs.ansible.com/ansible/latest/plugins/callback.html
https://docs.ansible.com

[2020-02-07 00:34] Mamosa commented on #67096
No. Because that would require anyone who uses this to edit the inventory file to make sure the last device in the list has the correct role.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Rogier Dikkes <notifications@github.com>
Sent: Thursday, February 6, 2020 1:43:48 AM
To: ansible/ansible <ansible@noreply.github.com>
Cc: Mamosa <darkfairy69@live.com>; A

[2020-02-07 02:03] aontas commented on #64558
Here is another example:

Consider the following file called `test.yml`:
[code]
If you attempt to run:
`ansible-playbook test.yml --skip-tags "test"`
it will fail due to:
`The error was: error while evaluating conditional: 'ls_result' is undefined`

While I can work around this issue by changing the `when` to:
[code]
I'm sure you can appreciate that this is less than ideal.

[2020-02-07 03:03] Fred-sun commented on #59770
@bpados Could you spare some time to try this PR #65279? Thank you very much!

[2020-02-07 03:20] igomaa opened #67183 "Creating VM with Multiple NICs"
##### SUMMARY
When we create VM with multiple Network interface , we cant control which one is getting created first . the issue here is the application is depending on the interface name (i.e. ETH0, ETH1, ETH2, ETH3 )  and each interface is connected to a different subnet

What I would like to know is ,
how can i create the VM with multiple NIC using Ansible and control the order of creation of t

[2020-02-07 03:57] Fred-sun commented on #63226
Yes,  you can try PR #65279, it will fix this issue. Thank you very much!

[2020-02-07 05:48] joernheissler opened #67185 "openssh_keypair: check_mode should return public key"
Hello,

##### SUMMARY
When running in check mode, the `openssh_keypair` module returns `"public_key": {}`.
Can the module please return the current key, at least if no changes would be required?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`openssh_keypair`

##### ANSIBLE VERSION

2.9.4

##### STEPS TO REPRODUCE

Run that once without and then with check mode enabled:

[code]
##### EXPECTE

[2020-02-07 06:53] Fred-sun commented on #63428
@nrig837 kindly ping !

[2020-02-07 06:56] Fred-sun commented on #62798
kindly ping!

[2020-02-07 07:01] Fred-sun commented on #63005
@msilmser Thank you for taking the time to report this problem. We will investigate and fix it. Thank you very much!

[2020-02-07 07:05] Fred-sun commented on #62861
@JonTheNiceGuy Thank you for raising this issue and we are taking the time to investigate and add this feature. Thank you very much!

[2020-02-07 07:16] Fred-sun commented on #62715
@dvntstph We are investigating it and will confirm it here as soon as we have information. Thank you very much!

[2020-02-07 07:36] Fred-sun commented on #62711
@gavinfish @haiyuazhang Would you please help take a look this issue when you're free! Thank you very much!

[2020-02-07 08:05] azrdev opened #67187 "yum module cannot use `group install --with-optional`"
##### SUMMARY
[code]
can be used to install a package group in yum/dnf.
However, (at least on tested Fedora31) this only installs the "mandatory" and "default" packages of that group, not the optional ones. On command line you can do `yum group install --with-optional some-group`, but the module does not export that option, according to its documentation.

##### ISSUE TYPE
- Bug Report

##### COMP

[2020-02-07 08:08] gsikorski commented on #29589
I am not sure if this is manifestation of the same issue, but take a look here: https://sourceforge.net/p/sshpass/patches/11. Also https://github.com/ansible/ansible/issues/14335 seems to be the same issue to me.

[2020-02-07 08:31] ssbarnea opened #67190 "pip: false positive [DEPRECATION WARNING]: Invoking "pip" only once while using a loop via squash_actions"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
pip

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
No warning should be seen. Warning implementation was incorrect as it assumed that if you loop on pip tasks you loop for packages.

[2020-02-07 09:16] #65107 closed, assigned to nobody

[2020-02-07 09:25] D3DeFi commented on #67088
well, new option won't hurt anybody so we can give it a try. @sky-joker what do you think?

[2020-02-07 09:31] vinuaven commented on #66066
win_domain_computer requires active directory modules for powershell. Also there are credential delegation issues as we need to use credssp or kerberose with credential delegation for this module to work.

[2020-02-07 09:38] gsikorski commented on #18305
Some of the hangs may be related to https://sourceforge.net/p/sshpass/patches/11/. This can occur when running ansible playbooks on a heavy loaded system (ie. high fork count) and using sshpass and control persist feature for ssh (default for most).

[2020-02-07 09:45] rockaut commented on #67088
I will do a PR over the weekend, you can cancel it later. Will update both files the zabbix_template and zabbix_template_info too.

[2020-02-07 09:46] Fred-sun commented on #62499
@wschoot Kindly ping!

[2020-02-07 10:27] ei-grad opened #67195 "environment keyword doesn't work for pip with virtualenv"
##### SUMMARY

Setting the environment variable for pip install task using virtualenv doesn't work.

Running this task fails:

[code]

because the environment variable was not set:

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

pip
core

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

See summary.

[code]

##### EXPECTED RESULTS

[2020-02-07 10:30] ei-grad commented on #67195
Oh, it is just because the env variable was specified with the boolean value.

[2020-02-07 10:30] #67195 closed, assigned to nobody

[2020-02-07 11:00] tps800 opened #67197 "The key given for installing ansible with Debian is not found on keyservers."
##### SUMMARY
The key given for installing ansible with Debian is not found on keyservers.
[https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html?extIdCarryOver=true&sc_cid=701f2000001OH7YAAW#installing-ansible-on-ubuntu](url)

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
[https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.ht

[2020-02-07 12:19] atommaki commented on #18911
The problem is the parsing of the existing capabilities. The order of the flags doesn't matter, but it is still compared. eg: these should be the same same: cap_net_raw+ep, cap_net_raw+ep  (note the "ep", "pe" diference). I created a pullrequest with the fix.

Till the fix is not released there is a workaround: change the flags in your task to the order what the getcap command gives back.

[2020-02-07 14:11] sky-joker commented on #67088
Hmm...
Let me know in what scene do you omit the date field?
Thank you in advance

[2020-02-07 14:25] jdnrg opened #67207 "ansible-console include_task is not invalidating the loader file cache"
##### SUMMARY
We want to be able to rerun a task in the ansible-console for interactive debugging.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
console
loader

##### ANSIBLE VERSION
devel

##### STEPS TO REPRODUCE

    $ include_tasks file="test.yml"

modify test.yml

    $ include_tasks file="test.yml"

##### EXPECTED RESULTS
I would expect the loader to notice the file has changed and in

[2020-02-07 14:31] jdnrg commented on #67207
!component +/lib/ansible/cli/console.py
!component -lib/ansible/modules/clustering/consul/consul.py
!component -lib/ansible/parsing/yaml/loader.py

[2020-02-07 14:32] GomathiselviS commented on #67077
Hi @FedericoOlivieri

Thanks very much for your submission to Ansible. It sincerely means a lot to us.

Since the issue was with the template, this is not a bug.
As such, we're going to close this ticket. However, we're open to being corrected, should you wish to discuss. You can stop by one of our two mailing lists to talk about this and we might be persuaded otherwise.

https://groups.google.com

[2020-02-07 14:32] #67077 closed, assigned to GomathiselviS

[2020-02-07 16:13] #65482 closed, assigned to nobody

[2020-02-07 16:19] sivel commented on #67190
Your task, and the warning do not align.  That task isn't the one generating the warning.  The one generating the warning is doing a loop over `['pip', 'setuptools', 'pbr']`, which your task in steps to produce does not.

I tested the task you list above, and it does not cause this warning.

[2020-02-07 16:24] sivel commented on #67181
Where is your `callback_plugins` directory in relation to your playbook?

For ansible to automatically use the `callback_directory` it must be located beside the playbook, in the same directory.

The dir structure would need to look like:
[code]

I can confirm this does work as expected using the above dir structure.

[2020-02-07 16:29] natefoo commented on #18911
It's not just the ordering, is it? `cap_net_raw+ep` is going to be the same as `cap_net_raw=ep` in effect, but would also always report "changed." The way [I ultimately worked around this](https://github.com/ansible/ansible/compare/devel...natefoo:capabilities-module-rework) is to just check the caps before and after running `setcap`.

[2020-02-07 16:35] sivel commented on #67197
I cannot duplicate this:

[code]

[2020-02-07 16:35] jpmens commented on #49034
shipit

[2020-02-07 17:24] evanfreed commented on #62647
This may not be the correct solution but sounds similar to an issue we experienced. We were working with Virtual Machine Scale Sets in which we were getting a `500` and `AsyncBatchResponseTooLarge` message back when trying to run any kind of playbook or ad-hoc command.  We had to add `batch_fetch: false` ([reference](https://docs.ansible.com/ansible/latest/plugins/inventory/azure_rm.html)) so that

[2020-02-07 17:45] johnbateman opened #67210 "Every SSH connection logs mux_client_read_packet: read header failed: Broken pipe"
##### SUMMARY

Each SSH connection throughout a playbook execution ends with Broken Pipe error message `mux_client_read_packet: read header failed: Broken pipe`, seen with verbose logging enabled. This doesn't cause the failure of a task and the connection can still be seen to return a 0 exit code and the playbook executes successfully. I'm not getting any performance improvements with pipelining

[2020-02-07 17:46] caleb15 commented on #67181
![](https://media.giphy.com/media/AjYsTtVxEEBPO/giphy.gif)

[2020-02-07 17:46] #67181 closed, assigned to nobody

[2020-02-07 17:56] tps800 commented on #67197
On Fri, 07 Feb 2020 08:35:18 -0800
Matt Martz <notifications@github.com> wrote:

Did you try with https://keyserver.ubuntu.com/ within you webbrowser?
It will report "Not found". As all other keyservers will do too.

Bad if it is impossible to access keyservers using hkps, because this
isn't allowed by firewall and proxy.

--
Thomas

[2020-02-07 18:04] ssbarnea commented on #67190
Oops, yeah, is hould have read the msg twice. sorry for the trouble.

[2020-02-07 18:04] #67190 closed, assigned to nobody

[2020-02-07 18:04] sivel commented on #67197
You will need the full key to search:

https://keyserver.ubuntu.com/pks/lookup?fingerprint=on&op=index&search=0x6125E2A8C77F2818FB7BD15B93C4A3FD7BB9C367

This can be found at https://launchpad.net/~ansible/+archive/ubuntu/ansible

[2020-02-07 18:31] smolz commented on #64896
I am seeing this behavior when using the ios_l2_interfaces module as well.

[2020-02-07 18:47] #39879 closed, assigned to nobody

[2020-02-07 19:02] jillr commented on #67154
The contrib script is not taking new features at this time. There is however, a supported inventory plugin that you could use instead.

Rather than targeting a script with -i ec2.py you'll create a yaml inventory configuration file with the options for the inventory plugin and run -i config_aws_ec2.yml. Your config file must end in aws_ec2.yml or aws_ec2.yaml for the aws_ec2 inventory plugin to us

[2020-02-07 19:02] #67154 closed, assigned to nobody

[2020-02-07 19:08] chris-kiick-sp opened #67213 "openssl_privatekey breaks in FIPS mode"
##### SUMMARY

When attempting to create an openssl key on a system in FIPS mode, the module crashes with error:

Module attempts to fingerprint key using all listed algorithms, even though some of them are forbidden by FIPS.  In particular, md5 does not work.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

#

[2020-02-07 19:17] chris-kiick-sp commented on #67213
In module_utils/crypto.c (on target host):
[code]
by hand:
[code]
I don't know how to get a list of FIPS allowed algorithms. Perhaps the module can catch this specific exception and just skip that algorithm.
In general, if a hash algorithm fails, shouldn't it just be skipped?

[2020-02-07 19:24] stamboman commented on #67210
ansibot - I am having the same problem and I remember reading that this may be a bug. I am wondering if there is a version of ansible that fixes it.  I have tried running my playbook with several ssh configuration options but nothing seems to work.  Do you know if there is an ansible 2.10 out there and whether or not the problem occurs?

[2020-02-07 19:47] cignul9 commented on #19114
This is a great request, but if I may defend the dev's and quote RunDMZ: it's tricky.  Would you consider an workaround?  Boto3 does indeed now support associating and disassociating a VPC with a private hosted zone.  Let's just fold in that functionality using the parameters already available, specifically hosted_zone_id.  Right now, that input is only for deleting zones, but suppose we use it wi

[2020-02-07 20:38] adarobin opened #67219 "vmware_host_firewall_manager: #63567 breaks existing rules"
##### SUMMARY
The fix in #63567 allows rules to be created/managed again without setting `allowed_hosts`.  The way this was implemented seems to break the way the previous functionality worked.

For example, on Ansible 2.8 this code would enable the firewall rule for outbound syslog with allowed_hosts set to any.

On Ansible 2.9 this enables the syslog rule, but doesn't set any `allowed_hosts` whi

[2020-02-07 21:15] #65195 closed, assigned to nobody

[2020-02-07 21:58] jauyzed opened #67223 "uri module post request failing on remote host"
##### SUMMARY
The uri module is failing on the POST request on localhost but the GET request works as required. The uri module is executed on remote host by setting remote_src attribute to yes for both get and post requests. A curl on the the same remote host returns the right http code for POST request.

FYI: this is just a basic kafka connector worker app that I am trying to start.

##### ISSUE

[2020-02-07 22:04] #65318 closed, assigned to nobody

[2020-02-07 22:45] iharrington opened #67227 "Terraform Module Add "required_providers" parameter"
##### SUMMARY

Terraform docs suggest users to define a provider version using the required_providers block see > https://www.terraform.io/docs/configuration/providers.html#provider-versions. But this is also a part of TF that they do not allow variable interpolation (just like the backend_config parameter you already include)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

lib/ansible/mod

[2020-02-08 08:53] andreaso commented on #66845
Oh, this is interesting, in a tricky way.

First of all, here is the offending part of the module, where we at the end try to index an empty list.

https://github.com/ansible/ansible/blob/88efb24ff814d874ee19ba9b72d2079ec10a277d/lib/ansible/modules/net_tools/nsupdate.py#L405-L424

That functionality was introduced as part of https://github.com/ansible/ansible/pull/42973, and later modified in http

[2020-02-08 08:58] andreaso commented on #66845
Also, thanks for a clean and easy-to-use reproduce case!

[2020-02-08 09:10] felixfontein commented on #65378
!component =lib/ansible/plugins/connection/docker.py

[2020-02-08 09:28] felixfontein commented on #66862
Such an option should definitely be called `dockerfile_content` and not reuse `dockerfile`, to make it clear whether the provided string is a filename or a file's content. (A filename can also contain newlines and other crazy stuff, so it's impossible to distinguish the two.)

[2020-02-08 10:13] rhoekstra commented on #66845
Thanks :)
The testzone.test.lab is to be another DNS provider, eg. IPA or AD. so the authoritative dns server for test.lab won't be able to provide answers from within that subdomain.
I assume, using the nsupdate module, specifying the zone to update, that the dns server won't look beyond the specified zone (eg. test.lab, to add an NS record).

[2020-02-08 10:16] rhoekstra commented on #66845
As an example, the parent (test.lab) zone needs to be updated when a new IPA or AD server is added to the cluster, assigning the NS record in the parent (with glue record). for this we want to use ansible... but it needs to be idempotent.. If there is another way, I'm open for suggestions btw.

[2020-02-08 10:25] me-kell opened #67242 "delegate_to: '' tries to decrypt other host's vaults than the specified one"
##### SUMMARY
In an ansible project with vault-encrypted files in host_vars , when a task has his delegate_to set to an empty string '' ansible tries to read and decrypt (!) other host_var files than the specified in hosts. If the other files have different vault-password the task fails with following error.

`ERROR! Decryption failed (no vault secrets were found that could decrypt) on /home/map/a

[2020-02-08 10:41] andreaso commented on #66845
If you are willing to patch your local Ansible the easiest and quickest way forward might be to simply bypass the TTL check for NS records.

[code]

While I do plan on looking into fixing this bug properly I can't promise when I'll get to it.

[2020-02-08 11:28] felixfontein commented on #64956
The final part will be:

resolved_by_pr #67243

[2020-02-08 12:26] rhoekstra commented on #66845
I didn't previously realize that with the dig command I only got an authority section, not an answer section.. I will retry with the patch, pretty sure it'll work.. perhaps the module should evaluate the authority section in case of ns records, instead of the (empty) answer section.. because the authority section does contain the ttl

[2020-02-08 12:47] rhoekstra commented on #66845
Test succeeded btw.

[2020-02-08 12:57] afunix commented on #43566
Is there any reason for that?
Why there is pip for Linux, but pip for Windows is not supposed to be supported?

[2020-02-08 13:13] dhilst commented on #67110
Thanks @mnecas I will wait :)

I end up using a NFS instead, the issue approach sacle is still more dry

Regards

[2020-02-08 13:13] #67110 closed, assigned to nobody

[2020-02-08 13:20] felixfontein commented on #52409
@mulatinho FYI, it will probably be very soon that all non-core modules will be moved to another repository, so in case this PR isn't finished until then, you probably have to create a new PR there (or use some hopefully by then existing script to migrate this PR ;) ). So in case you have time now, feel free to work on this so we can get this merged very soon, otherwise it's probably better to wai

[2020-02-08 13:25] felixfontein commented on #67016
When fixing this, please add a changelog fragment (with a `removed_features:` section) and preferrably also add an entry to the porting guide (https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/porting_guides/porting_guide_2.10.rst#deprecated).

[2020-02-08 13:25] felixfontein commented on #67017
When fixing this, please add a changelog fragment (with a `removed_features:` section) and preferrably also add an entry to the porting guide (https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/porting_guides/porting_guide_2.10.rst#deprecated).

[2020-02-08 13:25] felixfontein commented on #67018
When fixing this, please add a changelog fragment (with a `removed_features:` section) and preferrably also add an entry to the porting guide (https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/porting_guides/porting_guide_2.10.rst#deprecated).

[2020-02-08 13:25] felixfontein commented on #67019
When fixing this, please add a changelog fragment (with a `removed_features:` section) and preferrably also add an entry to the porting guide (https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/porting_guides/porting_guide_2.10.rst#deprecated).

[2020-02-08 13:25] felixfontein commented on #67020
When fixing this, please add a changelog fragment (with a `removed_features:` section) and preferrably also add an entry to the porting guide (https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/porting_guides/porting_guide_2.10.rst#deprecated).

[2020-02-08 13:25] felixfontein commented on #67021
When fixing this, please add a changelog fragment (with a `removed_features:` section) and preferrably also add an entry to the porting guide (https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/porting_guides/porting_guide_2.10.rst#deprecated).

[2020-02-08 13:25] felixfontein commented on #67022
When fixing this, please add a changelog fragment (with a `removed_features:` section) and preferrably also add an entry to the porting guide (https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/porting_guides/porting_guide_2.10.rst#deprecated).

[2020-02-08 13:25] felixfontein commented on #67023
When fixing this, please add a changelog fragment (with a `removed_features:` section) and preferrably also add an entry to the porting guide (https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/porting_guides/porting_guide_2.10.rst#deprecated).

[2020-02-08 13:25] felixfontein commented on #67024
When fixing this, please add a changelog fragment (with a `removed_features:` section) and preferrably also add an entry to the porting guide (https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/porting_guides/porting_guide_2.10.rst#deprecated).

[2020-02-08 13:26] felixfontein commented on #67012
resolved_by_pr #67186

[2020-02-08 13:44] mulatinho commented on #52409
Hey Felix, sorry for the late reply man, I am in a new job with a little
child, things are crazy right now, I will try make a look this weekend.
Thanks for letting me know.

On Sat, Feb 8, 2020, 10:20 Felix Fontein <notifications@github.com> wrote:

[2020-02-08 14:01] felixfontein commented on #52409
@mulatinho if you don't find time now, it's really no problem! Also this PR isn't that complicated (in terms of what will change during migration) so it won't be hard to migrate it :)

[2020-02-08 15:19] graudeejs opened #67245 "become_user: nonroot doesn't work on FreeBSD"
##### SUMMARY
Can't execute any command as non-root user using `become_user`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
core

##### ANSIBLE VERSION

[code]

* Older versions also affected
* devel also affected (as of writing this)

##### CONFIGURATION

Below is output as if vagrant would execute `ansible-config dump --only-changed`
[code]

##### OS / ENVIRONMENT

Target OS: FreeBSD 12.1

[2020-02-08 15:50] vbotka commented on #67245
This is a well-known problem. See [Risks of becoming an unprivileged user](https://docs.ansible.com/ansible/latest/user_guide/become.html#risks-of-becoming-an-unprivileged-user).

FWIW. [ANSIBLE_PIPELINING](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#ansible-pipelining) works fine for me.

[2020-02-08 20:03] andreaso commented on #66845
Yepp, likely mostly about getting the details right.

[2020-02-08 20:39] rkejariwal commented on #65444
hi ftntcorecse
I upgraded my anisble version to the latest 2.9.4 release and am still having the same issue.

[2020-02-08 21:52] flowerysong commented on #67242
You should, in general, expect Ansible to load variables for all hosts in the inventory, regardless of whether they're explicitly referenced in the current run.

[2020-02-09 03:24] kbreit opened #67253 "nxos_feature should have aggregate parameter"
##### SUMMARY
`nxos_feature` is a slow module when I am looping over multiple features. I have a task which iterates over 4-6 tasks and over 4 Nexus switches, this takes over 80 seconds to execute. If possible, I’d like to see this have an `aggregate` parameter which allows me to pass the list. Using a template with `nxos_config` seems much faster, leading me to believe this can be faster.

#####

[2020-02-09 08:47] graudeejs commented on #67245
I would expect the behavior to be the same on both Linux and FreeBSD. In both cases users are unprivileged and in both cases become_user is unprivileged as well.

[2020-02-09 11:48] joaocc opened #67255 "installing ansible[azure] in same pip command as ansible doesn't work"
##### SUMMARY
When trying to install ansible and ansible[azure] via pip3 (both ubuntu and alpine), they need to be installed in separate commands. Calling them in a single command will not install azure modules.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
azure_rm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 18.04.4 LTS (docker image ubuntu:18.0

[2020-02-09 11:55] joaocc commented on #67255
!component +packaging

[2020-02-09 12:03] me-kell commented on #67242
In the example provided the results are not consistent with the expectation that Ansible loads all variables for all hosts in the inventory. At least for the module `debug`.

The observed results are as following:

- if `delegate_to` is not given, then Ansible seems to load only the explicitly referenced hosts in `hosts`
- if `delegate_to` is given, then Ansible seems to load the explicitly refenc

[2020-02-09 14:17] jbemmel commented on #66520
Suggestion to change the title of the ticket - bug is a regression in 2.9.3 where it fails to indicate that 'paramiko' is required for this task (like 2.8.0 does). Question is what changed there?

[2020-02-09 15:14] kevinvalk commented on #63067
+1

[2020-02-09 16:31] stefanoabbate commented on #44374
Using branching you have a workaround. What about having the field "src" with a value taken from a variable? That would help me with code portability between two different and isolated environments (e.g. different git repos). Declaring all the roles (for both git repos) does not work since one of the repos is always unreacheable.

[2020-02-09 19:44] ghost opened #67257 ""skipping: no hosts matched" even when output is disabled"
##### SUMMARY

With the following set in ansible.cfg:

`display_skipped_hosts = False`
`display_ok_hosts = False`

I still see tons of:

`skipping: no hosts matched`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

default

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora release 30 (Thirty)

##### STEPS TO REPRODUCE

Add the following lines to the an

[2020-02-09 20:27] jooola opened #67258 "ansible CI (sftp|scp) transfer mechanism failed on x"
##### SUMMARY
I'm trying to run ansible from a CI environment (gitlab-ci), it's working but I have the following warnings:

` [WARNING]: sftp transfer mechanism failed on [deploy@192.168.100.14]. Use ANSIBLE_DEBUG=1 to see detailed information`
` [WARNING]: scp transfer mechanism failed on [deploy@192.168.100.14]. Use ANSIBLE_DEBUG=1 to see detailed information`

##### ISSUE TYPE
- Bug Report

###

[2020-02-09 20:30] FidelVe opened #67259 "Command 'ansible' not found after correct installation with pip3"
##### SUMMARY
installed `ansible` with the following command, without issues.

`pip3 install ansible`

After the installation process, running `ansible --version` is showing me the following

[code]

If I tried running the installation again I get this

[code]

It looks that the problem is that `ansible` is being installed in a local folder instead of the global `/usr/lib/python3/dist-packages` an

[2020-02-09 21:10] ndclt commented on #42662
bug_resolved

[2020-02-09 21:14] #42662 closed, assigned to nobody

[2020-02-09 23:33] mvorisek opened #67260 "Allow to emit warning and display a summary on the end of playbook execution"
##### SUMMARY
Allow to emit warning and display a summary on the end of playbook execution

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
core

##### ADDITIONAL INFORMATION
Feature searched by more than 5000 people, see https://stackoverflow.com/questions/48033923/ansible-print-warnings-from-playbook

[2020-02-10 01:45] Fred-sun commented on #62130
@gavinfish @haiyuazhang

[2020-02-10 01:55] Fred-sun commented on #61852
@goneri kindly ping!

[2020-02-10 02:24] Fred-sun commented on #61541
@Rajinikamu84  Kindly ping!

[2020-02-10 03:19] Fred-sun commented on #61492
@gavinfish @haiyuazhang Would you please help take a look this issue when you're free? Thank you very much!

[2020-02-10 03:43] Fred-sun commented on #60619
@gavinfish @haiyuazhang

[2020-02-10 03:46] Fred-sun commented on #60597
@haiyuazhang Would you help take a look this issue when you're free! Thank you very much!

[2020-02-10 03:49] Fred-sun commented on #60244
@damiandiaz76 Please take a try PR #66290 when you're free! Thank you very much!

[2020-02-10 03:51] Fred-sun commented on #60284
@acozine This is not a bug! I think we can close it! Please check! Thank you very much!

[2020-02-10 03:52] Fred-sun commented on #60100
working in！

[2020-02-10 04:13] kbreit opened #67261 "nxos_l3_interfaces should configure `no switchport`"
##### SUMMARY
The `nxos_l3_interfaces` module configures layer 3 interfaces. An interface is brought into layer 3 mode by executing the `no switchport` command. However, isn’t obvious `nxos_l3_interfaces` issues that command. If it does, the documentation should state that. Otherwise, the command should be sent to each interface implicitly.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
nx

[2020-02-10 06:30] naumanurrehman opened #67262 "service_facts does not return correct state for services"
##### SUMMARY

I am trying to get state of mysql service on Amazon Linux 2. It returns wrong status.
I have run `systemctl stop mysqld`, and the service is stopped on the system; but ansible's module "service_facts" always shows "RUNNING" state.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

service_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N

[2020-02-10 06:46] craph commented on #62759
Hi,
Sorry for the delay. I have no errors for the moment. May be it was related to a wrong library installed on my server.

[2020-02-10 06:59] gregbird101 commented on #49254
Ansible 2.8.8
Working:

- pre-emptive `ANSIBLE_HOST_KEY_CHECKING=False`

- Placing `host_key_checking = False` in ansible.cfg

Not working:
`ansible_ssh_common_args: '-o userknownhostsfile=/dev/null'` in either inventory or groups

[2020-02-10 07:00] Fred-sun commented on #60066
@Rajinikamu84 Are you still here? Are you still paying attention to this problem? Thank you very much!

[2020-02-10 07:31] Fred-sun commented on #59916
@bpados Kindly ping!

[2020-02-10 07:33] Fred-sun commented on #59880
@kamleshdudani  Could you try the latest PR above? Does it meet your needs? Thank you very much!

[2020-02-10 08:27] rockaut commented on #67088
Heja @sky-joker ... Basically it's for CI and SCM. Currently if you dump a template ansible always reports changed=True as the files are always different. And as such our CI is reporting back changed states. Automation isn't really possible for that now. Same for the git repo.

[2020-02-10 08:34] bpados commented on #59916
@Fred-sun
Sorry not to reply so far. I'm working on a different project now.
I see what you mean. If machine type doesn't support premium disks, then it will not be allowed to change disk type to premium due to the constrains. (although I could change it in Azure CLI)
Since I reported this issue, workaround (call Azure CLI command)  is stable and can manages OS disk type (for sure VM has to be dow

[2020-02-10 09:09] Fred-sun commented on #59916
@bpados Thanks for your update. If you don't have any other questions, I think you can close this one. Thank you very much!

[2020-02-10 09:12] #59916 closed, assigned to nobody

[2020-02-10 09:22] Fred-sun commented on #59496
@gavinfish @haiyuazhang Would you please help take a look this issue?

[2020-02-10 09:38] Fred-sun commented on #59269
@gavinfish @haiyuazhang

[2020-02-10 10:00] Yajo commented on #67156
Oh of course, [docs say it clearly](https://docs.ansible.com/ansible/latest/user_guide/playbooks_tests.html#testing-paths), I missed that part:

Thank you! Sorry.

[2020-02-10 10:00] #67156 closed, assigned to nobody

[2020-02-10 10:01] ephracis opened #67264 "Hidden files in group vars are not applied"
##### SUMMARY

The file `group_vars/all/.foo.yml` is not applied, but `group_vars/all/foo.yml` is.

We have a use case where we ship Ansible folders to customers and due to the large complexity of the system we must use group vars to structure our hundreds of variables. However, we want the customer to be able to overwrite these variables with their own values and this includes as group vars.

Bei

[2020-02-10 10:09] srbharadwaj commented on #66843
I think we  can close this issue

[2020-02-10 10:41] davros1984 commented on #53463
Hi - is there any update or development on this? This is something that would be really helpful, being able to apply tags. We have IAM policies that control parameter access via tags.

[2020-02-10 10:42] sgargel opened #67265 "Mount bind repeats mount when mountpoint are nested"
##### SUMMARY
When using `mount` module with **nested** *bind* mounts points, every run after the first, create a new entry in `/proc/mounts`.

`fstab` is created correctly

Seems that the module is not using `mount -o remount` but has the same effect of doing `mount`  command again.

With mount binds, `mount` command of already mounted fs does not returns  "mount point is already mounted", and th

[2020-02-10 10:55] tphakala opened #67266 "2.9.3 VMware ESXi facts warning 'No python interpreters found'"
##### SUMMARY
Executing a playbook against VMware ESXi 6.7 build 15018017 generates a warning:

[WARNING]: No python interpreters found for host esxi (tried ['/usr/bin/python', 'python3.7', 'python3.6', 'python3.5', 'python2.7', 'python2.6', '/usr/libexec/platform-python',
'/usr/bin/python3', 'python'])

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- facts collection

##### ANSIBLE VERSION

[2020-02-10 11:05] sgargel commented on #67265
The problem does not occurs when `state` is set to `remount`

[code]

[2020-02-10 12:09] johnbateman commented on #67210
@stamboman I have tried the devel branch and the issue still remains there.

[2020-02-10 12:21] pstauffer opened #67267 "open_iscsi: string field conversion warning for the default port argument"
##### SUMMARY

The default `port` value of the `open_iscsi` module throws a type int to string conversion warning.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- open_iscsi

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2020-02-10 12:28] Spreadcat opened #67268 "tower_workflow_template not supporting parameter "ask_limit" and "limit""
##### SUMMARY
The module `tower_workflow_template` does not seem to support the parameter "ask_limit". The AWX interface for configuring workflows does allow to tick a box for AWX to ask for inventories or to specify the "limit" parameter.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
tower_workflow_template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
CentOS L

[2020-02-10 12:41] ssbarnea opened #67269 "no_log does not work with conditions"
##### SUMMARY
It seems that no_log works only with bare boolean values and attempts to use jinja conditions will silently evaluate it as false, producing undesired results.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/plugins/callback

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
`no_log` should respect the condition mentioned there.

[2020-02-10 12:47] rrey commented on #65816
Sorry for the delay. Here are the 10 first lines of each files:

[code]

[2020-02-10 12:52] ssbarnea commented on #67269
!component lib/ansible/plugins/callback

[2020-02-10 13:39] madcowthafirst opened #67271 "sns_topic - subscriptions section lacks setting the raw message delivery option"
##### SUMMARY

The sns_topic module doesn't allow setting the raw message delivery option for subscriptions.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

sns_topic

##### ADDITIONAL INFORMATION

Get a new option within the subscriptions section with the name of raw_message with
a default value of disabled.

We need the raw message delivery option to be enabled on all of our subscription

[2020-02-10 13:45] balonik commented on #17194
How can I get it working with GitLab private repositories where we store shared ansible roles? I don't want to have the access token in the `requirements.yml` file.
I cannot add 'SCM' type credential to Job Template as @mkotsbak is suggesting. There is not such option in AWX.

[2020-02-10 14:02] zinkj opened #67273 "win_timezone cannot set dstoff timezones"
##### SUMMARY
When attempting to use the win_timezone module to set a timezone to "Eastern Standard Time_dstoff" an error displays saying it is not supported.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_timezone

##### ANSIBLE VERSION
ansible 2.9.3
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/zinkj/.ansible/plugins/modules', u'/usr/share/ansible/

[2020-02-10 14:24] graemedavidson opened #67274 "Edgeos config module handling of quotation marks"
##### SUMMARY
The current implementation of the edgeos_config module has changing behaviour for handling the stripping of single quotation marks.

So in review of this [line](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/network/edgeos/edgeos_config.py#L197) the `item` var is defined with stripped single quotes. This is then used for a series of comparisons ending with the orig

[2020-02-10 14:27] fvzwieten opened #67275 "ec2_win_password python3 unicode issue with key_data argument"
##### SUMMARY
when passing a private_key as a variable in the key_data argument of the ec2_win_password module results in error "unable to parse key data" error.

After investigation, this seems to be a python2 to python3 porting issue. When I change line 181 in ec2_win_password.py from:
key = load_pem_private_key(key_data, b_key_passphrase, default_backend())
to
key = load_pem_private_key(key_dat

[2020-02-10 14:27] ShivaniYasa commented on #62931
I am having the same issue, it creates the launch configuration and replaces the asg with new launch configuration but does not replace the instances when I use target_group_arns and throws the below error. It does not even spin new instances and removes the existing instance from target group.

ERROR
"msg": "Waited too long for ELB instances to be healthy

Ansible Version - 2.9.4

[code]

If I us

[2020-02-10 14:39] ShachafGoldstein commented on #67273
The problem seems to be caused by the fact that tzutil /l won't list those options and thus throws an error that they aren't supported.
Not sure what should be the fix to know which tzs are optional for the dstoff suffix

[2020-02-10 15:02] craigarms opened #67277 "ios_config does not support prompt in configuration mode"
##### SUMMARY
The requirement is to answer prompts in configuration mode of the devices.
ios_command handles this well for exec level commands but as the doc page specifies it does not support configuration mode commands.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Alpine Linux Docker container

[2020-02-10 15:10] felixfontein commented on #62759
@craph thanks for replying! In that case, I'll close this for now.

[2020-02-10 15:10] #62759 closed, assigned to nobody

[2020-02-10 15:12] zinkj opened #67278 "win_credential unable to use the wildcard character"
##### SUMMARY
When using the win_credential module, domain suffixes with wildcards will error saying "The parameter is incorrect"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
win_credential

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
(Empty)

##### OS / ENVIRONMENT
Target W10 Enterprise 1909

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Windows Credential manager entry

[2020-02-10 15:23] S-D55 commented on #61424
Is there an update on this issue ?

[2020-02-10 15:31] tadeboro commented on #62377
As I said, I tested the fixes for:

 1. the `devel` branch: #65369,
 2. the `stable-2.9` branch: #67120,
 3. the `stable-2.8` branch: #67121

The playbook I used to test this is the following:

[code]

If I run this playbook using the unpatched Ansible 2.8 or 2.9, I get the following result in the Infoblox dashboard:

![ib1](https://user-images.githubusercontent.com/70951/74163057-1568a500-4c22-11

[2020-02-10 15:50] graemedavidson commented on #67274
@samdoran Would you have any opinions on this?

[2020-02-10 15:51] sky-joker commented on #67088
Thank you @rockaut for detailed info :)
I understood the necessity of the option.
Could you please PR for that patch.

[2020-02-10 16:17] dssdss commented on #34226
2.8.7 Still not working!
Are you forgot about this bug?!

[2020-02-10 16:26] stamboman commented on #67210
John,

Wonderful.  I believe I found a workaround but I currently cannot test it.
I am including its URL.

https://stackoverflow.com/questions/43234911/ansible-ssh-error-during-play

Pay attention to the first answer.

On Mon, Feb 10, 2020 at 7:10 AM johnbateman <notifications@github.com>
wrote:

--
Peter Stamboulis

(301)693-3199 Mobile
(301)607-6460 Home

[2020-02-10 16:47] #66457 closed, assigned to nobody

[2020-02-10 17:01] sivel commented on #67264
This behavior is explicitly documented at https://docs.ansible.com/ansible/latest/plugins/vars/host_group_vars.html#host-group-vars-vars

As such, this is not a bug, instead, you are asking for new functionality to allow loading files that start with `.`

[2020-02-10 17:17] s-hertel commented on #60949
Just linking #67281 since it's looking into addressing whether or not to retry on NotFound exceptions.

[2020-02-10 17:21] AbhishekB15 opened #67284 "Ansible logicmonitor module not working"
##### SUMMARY
When trying to use ansible logicmonitor module, i get the below error

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
logicmonitor module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Target server - Ubuntu 18.04

##### STEPS TO REPRODUCE

As per pre-requisite, you need to have a LogicMonitor account

#Install Collector on a Server
[c

[2020-02-10 17:22] raneq commented on #66422
At the end we can't invest on this issue. As it resulted more complex than expected at first, we will postpone it until we can find funds to do it.
However, if anybody takes it before, I am happy to test and review.

[2020-02-10 17:25] johnbateman commented on #67210
@stamboman It looks like this is for solving a different issue when the task actually fails due to the target host being rebooted causing the SSH session to terminate unexpectedly.

[2020-02-10 17:27] AbhishekB15 commented on #62972
@fdevans: Could you please confirm when would the updated logicmonitor module be available for use with REST API. I am getting the below while trying to use the module.

fatal: [server -> localhost]: FAILED! => {"changed": false, "msg": "Error: Exception making RPC call to https://XXXXXX.logicmonitor.com/santaba/rpc/getHost\nExceptionHTTP Error 410: "}

[2020-02-10 17:35] woz5999 commented on #60536
@felixfontein I'm no longer with LogicMonitor and request to be removed as a maintainer.

[2020-02-10 17:36] mattclay commented on #65816
@rrey I'm not able to reproduce this issue locally. Could you provide a sample collection that triggers the issue, along with the full command you're running?

[2020-02-10 17:57] stamboman commented on #67210
Sounds like my playbook is calling shutdown when it shouldn't be.  That
helps.  Thanks.

On Mon, Feb 10, 2020 at 12:25 PM johnbateman <notifications@github.com>
wrote:

--
Peter Stamboulis

(301)693-3199 Mobile
(301)607-6460 Home

[2020-02-10 18:08] rrey commented on #65816
@mattclay we are in discussion to release the code. It dont’t happen before a week or two but I’ll port it to gitlab.com to reproduce the issue on a public repo.

[2020-02-10 18:24] mjlshen opened #67286 "Allow k8s module to client-side validate definitions without modifying the cluster state"
##### SUMMARY
According to [https://www.ansible.com/blog/continuous-improvements-in-ansible-and-kubernetes-automation](https://www.ansible.com/blog/continuous-improvements-in-ansible-and-kubernetes-automation) it seems like client-side validation is expected to work, but it doesn't seem to be the case, so just in case...

It would be nice if `state: present` or `state: absent` wasn't required with

[2020-02-10 18:55] mariolenz commented on #67016
@felixfontein It looks like these options were mentioned in the documentation section and the argument_spec, but not used in the code (any more?). Since I didn't have to remove any code, I think this is a documentation issue instead of `removed_features`. But maybe we should discuss this in PR #67282.

[2020-02-10 19:02] jborean93 commented on #59829
Sorry looks like I shouldn't have closed this, the PR that was backported fixed the issue where `-Credentials` and `-Server` was not working when specified but actual cross domain membership of groups is still not working.

[2020-02-10 19:22] shane-axiom commented on #26190
A few expansions to @whirlwin's clever workaround:

Instead of a specific var, you can have ansible dump all vars (encrypted and plain) by specifying `-a var="vars"`. There will be some noise in the result with a few stock vars, but it's a nice way to see everything at once.

You can also specify multiple source files by passing multiple `-e "@..."` args.

Also, I haven't tested this personally bu

[2020-02-10 19:50] felixfontein commented on #67016
resolved_by_pr #67282

[2020-02-10 19:57] jhawkesworth commented on #34226
@dssdss pull requests to fix this are welcome!

[2020-02-10 20:16] felixfontein commented on #60536
@woz5999 thanks for the update! I've created #67287 to remove both you and @ethanculler from the maintainer list for the logicmonitor* modules. (From the total absence of @ethanculler in this thread I'm assuming that he should also be removed. @ethanculler if that's wrong, please tell us.)

[2020-02-10 20:29] nARN commented on #29781
@ansible, any interest in pull requests?

There is a (reference?) implementation of "absent" state already in the file module and "present" would likely be exactly what copy and template do now by default. Additionally, since template yields to copy, state parameter only needs to be passed through template module.

Overall it seems relatively straightforward at first, although I am surely missing

[2020-02-10 20:54] Shackelford-Arden opened #67290 "Check Syntax for Entire Role"
##### SUMMARY

I would be fantastic to have the ability to use `--syntax-check` on a playbook that imports/includes a role to have it also check each role/task vs just the single file designated after `--syntax-check`.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Playbook Syntax Check

##### ADDITIONAL INFORMATION

This is particularly helpful when roles are larger and more difficult to

[2020-02-10 20:57] samdoran commented on #48759
When we upgrade the macOS image, we may be able to remove the constraint introduced in #67289.

[2020-02-10 21:24] Dmitry1987 commented on #65748
When this flag will be supported in the Ansible module? I will need to fallback to bash script with "docker run" for now 😢

[2020-02-10 21:29] felixfontein commented on #65748
@Dmitry1987 as soon as [Docker SDK for Python](https://github.com/docker/docker-py/) supports the `DeviceRequests` option.

[2020-02-10 21:36] maxamillion opened #67292 "Add a way to handle session tokens along with passwords for httpapi plugins"
##### SUMMARY

For services exposed as a REST API or similar, it is not uncommon to find that these http-bound APIs support both password auth and some sort of user session key/token auth. Currently in `httpapi` there is not opinionated, default, or otherwise "native" means by which to address these two use cases at the same time and the developer must either overload the `ansible_httpapi_pass` va

[2020-02-10 21:48] jfoliveira opened #67293 "Python3+Service module fails with UnicodeDecodeError when setting `enabled` parameter"
##### SUMMARY
Task execution fails when setting the `enabled` parameter of the service module.
The error was only observec when setting `interpreter_python=/usr/bin/python3` in `ansible.cfg`.
By commenting the `interpreter_python` line in `ansible.cfg` the module runs without any errors.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
service

##### ANSIBLE VERSION

[code]

##### CONFIGURATIO

[2020-02-10 21:49] chrisedebo commented on #64036
I've just run into this issue also. Same behaviour, creating a standard DNS Zone when I set the type parameter to private.

Can anyone assist with using azure_rm_resource module instead? a link to some docs as a work around until the issue is resolved would be very helpful for people who come across this issue 😃

[2020-02-10 21:52] geerlingguy commented on #67293
Full error from downstream issue:

[code]

[2020-02-10 22:05] ephracis commented on #67264
Oh, I see. I tried to Google the behavior but it seems I missed that particular page.

In any case, I would like to request a new feature then. I see no reason to ignore hidden files. It would greatly help us keeping things functional and convenient for both us and our customers.

I would really appreciate this feature and could send you a PR if you think the change makes sense.

[2020-02-10 22:15] danielkinahan opened #67295 "Mail module and callback plugin mail.py do not play nice with eachother"
##### SUMMARY
The yaml mail module built into ansible was working fine locally and remotely. After the introduction of the mail.py callback script to my playbook, my smtp server connection is timing out every time I run my playbook remotely. I have tried changing ports and using seperate authentication, neither seems to have worked.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Mail.py

###

[2020-02-10 22:16] keiransteele commented on #64036
@chrisedebo The below task works for me, I put it in a simple role to make it easier to use. Just make sure your service principal has the Private DNS Zone Contributor role.

[code]

[2020-02-10 22:49] Dmitry1987 commented on #65748
@felixfontein do they have an open PR for this already?

[2020-02-10 22:50] Dmitry1987 commented on #65748
I wonder if there's a way to set that flag in daemon.json config, it seems like one of these flags?  But I didn't find any docs about it in docker.... and the feature is not that new, it's been like half year since it became supported?

[2020-02-10 23:17] damiandiaz76 commented on #60244
@Fred-sun I tried your change and the module no longer fails.  The "records" field for the alias a record is empty, maybe it should get the address from the referenced resource?

[2020-02-10 23:17] #60244 closed, assigned to nobody

[2020-02-10 23:40] willthames commented on #67286
You should be able to use `validate` with `check_mode` if you want to do client side validation.

What in particular isn't working for you?

[2020-02-10 23:43] willthames commented on #67286
Note that the docs say that `fail_on_error` is required. I don't think I've updated kubernetes-validate to 1.17 yet (but it will work for the huge overlap between 1.16 and 1.17).

[code]

[2020-02-11 00:48] JieX19 commented on #66077
Hi @hasegawa-csi, I noticed our team has fixed the bug for the issue and there's no need to change underscore to hyphen, we will handle this on our end. You can download the devel branch to test this module. Feel free to reach out to us if you still have any issue or questions!

[2020-02-11 01:17] mjlshen commented on #67286
Ah, yes, thank you, I had been using `fail_on_error: yes`! `check_mode: yes` is mostly sufficient, but I guess the problem I have is that it requires a kubeconfig even in this case, so this is what I'm testing with now:

[code]

I guess my issue is that client-side validation requires a `kubeconfig` to be set, and defaults `state: present`. It seems more declarative if there was a `state: validate

[2020-02-11 01:46] Fred-sun commented on #59134
@gavinfish @haiyuazhang Can you help confirm the zones parameter type in the azure_rm_virtualmachine module? It should be an int or string instead of a list. Thank you very much!

[2020-02-11 02:20] Fred-sun commented on #58818
@gavinfish @haiyuazhang Can you help track the progress of this problem? Thank you very much!

[2020-02-11 02:31] Fred-sun commented on #58601
@elaurijssens Any update for you test? Thank you very much!

[2020-02-11 02:46] Fred-sun commented on #58285
@haiyuazhang @gavinfish Kindly ping!

[2020-02-11 02:48] AlanCoding commented on #67268
These modules are being moved out of this repo and will be available at https://galaxy.ansible.com/awx/awx, the issues tracked at https://github.com/ansible/awx/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Acomponent%3Aawx_collection

We still don't have complete schema consistency, but any requests like this will be entertained and we can make a simple manual patch.

close_me

[2020-02-11 02:53] jborean93 commented on #67119
I would be wary of doing that as the CLIXML contains things like error messages from powershell so removing it altogether could mean you are removing error messages that would help show what went wrong.

[2020-02-11 02:55] #67268 closed, assigned to nobody

[2020-02-11 03:00] willthames commented on #67286
Yes, because check_mode is still checking whether desired state matches current state so needs to be able to obtain desired state. There's no option to validate only, I'm not against the idea if it doesn't overcomplicate the module (the other option is a separate module that only does validation)

[2020-02-11 03:54] Fred-sun commented on #58069
Working in!

[2020-02-11 05:48] felixfontein commented on #65748
@Dmitry1987 the most promising PR is docker/docker-py#2471 (which you already commented on). About daemon.json: I don't know of such a flag there.

[2020-02-11 07:22] Vladimir-csp commented on #66132
Also upgrades are reported as both removed and installed, instead of just upgraded. I don't know if downgrades are reported properly.

[2020-02-11 08:38] gberginc commented on #62377
@WRJFontenot @sugitk Could you check the scenario tested by @tadeboro and the results? PR #67120 for Ansible 2.9 was merged earlier today and should be shipped with the next release of Ansible 2.9.

[2020-02-11 08:51] Fred-sun commented on #58043
Working in!

[2020-02-11 09:06] fnkr commented on #65906
I think this is a duplicate of #65351.

[2020-02-11 09:38] Fred-sun commented on #67255
@joaocc  I also encountered the same problem as you. After installation, it could not be executed under the root USER. You can switch to the user you created and try again.
In addition, I will further clarify and find out the reason for the error under root. Thank you!

[2020-02-11 09:42] fnkr commented on #65351
We encountered the same issue. IMO Ansible should not use `--databases` unless multiple databases are specified (this is the pre-Ansible-2.9 behavior). Maybe add an option to control the use of `--databases`. Adding `--no-create-db` as an option would not fix this as the dump would still contain a `USE` statement.

This is our workaround for now:

[code]

[2020-02-11 10:02] rockaut commented on #67088
Done.

[2020-02-11 10:51] whysthatso commented on #65906
indeed. should this be closed? or left open for reference?

[2020-02-11 11:05] joaocc commented on #67255
There is no "other user". I am installing this into an alpine:3.11 or ubuntu:18.04 container. In both cases the issue is the same as above.

[2020-02-11 11:09] rbharadwaj16 commented on #67092
Thanks for the confirmation. Any luck with the investigation ?

[2020-02-11 11:27] #67012 closed, assigned to NilashishC

[2020-02-11 11:30] #67016 closed, assigned to nobody

[2020-02-11 11:46] mariolenz opened #67303 "vmware_host_firewall_manager: IP-Specific firewall rules fail with Python 2"
##### SUMMARY
I think this feature doesn't work with Python 2: We are trying to allow syslog traffic only to one IP address but get an error. The integration tests are within a `when: vcsim is not defined` block so shippable doesn't run them and your new CI pipeline doesn't test with Python 2 (I think).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_host_firewall_manager.py

##### ANS

[2020-02-11 12:45] avinash321 opened #67304 "when using async & poll , ansible job failing with "could not create: /home/[user]/.ansible_async\""
Async and poll issue.

##### SUMMARY
The execution was failing like below.
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Async & Poll

##### ANSIBLE VERSION
ansible 2.8.4

[code]

[2020-02-11 13:51] chrisvanheuveln commented on #67261
@mikewiebe kbreit raises a good point. `l3_interfaces` doesn't take switchport state into account, and just assumes the interface is already in an L3 state.  *(I checked our other programmability solutions (i.e. NU) and they do set switchport state)*.  Setting the proper switchport state is a reasonable expectation when any of these L3 settings are used. Likewise for `l2_interfaces` usage.  Though

[2020-02-11 13:53] WRJFontenot commented on #62377
I'll test it as soon as the next release is available on EPEL.

[2020-02-11 14:15] WRJFontenot commented on #62377
<SNIP>

<SNIP>

Does the update TXT module work if there are already multiple TXT records with the same name?  The old module would crash if there was more than one existing TXT record with the same name.  Your first test started with 0 records, the second with 1 record.  You should do a third to see if it works with more than one TXT record with the same name.

Also, can you remove a given TXT re

[2020-02-11 14:55] Fred-sun commented on #67255
@joaocc The errors occur on the root user. Can you share your 'history 'information?

[2020-02-11 14:58] Fred-sun commented on #67092
Working in, thank you!

[2020-02-11 15:27] bmalynovytch commented on #65906
duplicate_of #65351

[2020-02-11 15:29] ShivaniYasa opened #67306 "Deregisters all the instances from Target Group when AutoScaling Group is modified with new Launch Configuration"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ec2_asg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04.2 LTS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Spin up the instances with new launch configuration, register in target group (healthy) then deregister instance with old configuartion from  target group and te

[2020-02-11 15:36] #65906 closed, assigned to nobody

[2020-02-11 15:38] nepella opened #67307 "file module fails in check mode if directory exists but user or group does not."
##### SUMMARY
In check mode, when using the file module to create a directory, if the directory already exists but the requested owner or group do not, the module will fail. I encountered this when running a playbook in check mode that creates a new user and changes the ownership of an existing directory.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
file

##### ANSIBLE VERSION
[code]

####

[2020-02-11 15:49] #32703 closed, assigned to samccann

[2020-02-11 15:53] #65525 closed, assigned to nobody

[2020-02-11 16:15] solairen opened #67308 "Add password to win_unzip module"
##### SUMMARY
According to Ansible documentation, `win_unzip` module does not support the `password` parameter.
This makes ansible unable to unpack the `.zip` file, which is password protected.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
win_unzip:
  password: "password123"

##### ADDITIONAL INFORMATION
Adding this feature will solve problems with unpacking password-protected files.

[c

[2020-02-11 16:39] joaocc commented on #67255
There is no history.
You can launch a new docker container with `docker run --rm -it ubuntu:18.04` and then type the following commands there (they were in the start of the issue, but I can repeat them here for convenience

[code]

[2020-02-11 16:51] jean-christophe-manciot opened #67310 "a loop is executed despite the condition being false"
##### SUMMARY
The task which includes a loop is executed despite the condition being false.
The same task is not executed when the loop statement is removed.
It seems that the loop statement is executed **before** the condition is evaluated, which does not make sense to me: the condition should be evaluated first.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
when

##### ANSIBLE VERSION
[co

[2020-02-11 16:54] jean-christophe-manciot commented on #67310
!component

[2020-02-11 16:59] sivel commented on #67310
This is expected behavior and documented at https://docs.ansible.com/ansible/latest/user_guide/playbooks_loops.html

As such, the `loop` must always be able to evaluate to a list, regardless of the `when` condition, since the `when` condition applies to each iteration of the `loop`.

As such, use of the `|default` filter is likely needed:

[code]

If you have further questions please stop by IRC o

[2020-02-11 16:59] #67310 closed, assigned to nobody

[2020-02-11 17:09] jean-christophe-manciot commented on #67310
This quote does not imply that the loop must be processed first.
If the **when statement is processed first then the loop statement at each iteration**, the quote remains true. In fact, that behavior would make more sense than executing something even though the condition is false.

The "expected" behavior you're describing is not intuitive and as such, adds some complexity and is error-prone.

[2020-02-11 18:06] noahbailey opened #67311 "ec2_group - Add support for AWS Prefix Lists"
This was already discussed in [31383](https://github.com/ansible/ansible/issues/31383), but that thread was locked.

##### SUMMARY

Many Amazon VPC networks use Endpoints (most commonly for S3 to save $$) to route traffic out of private network zones.

Creating egress groups and network acls to restrict outbound traffic is generally considered a good security measure (albeit severe). So, with rest

[2020-02-11 18:17] IPvSean opened #67313 "eos_vlans using state parameter replaced is giving odd behavior"
##### SUMMARY
I assume that the vlan-id is the winning key that will replace other data.  I am seeing some odd behavior where if I have something like

on-box before
[code]

on-box after
[code]

but i am actually sending a key,value name: sean
[code]

but for some reason it nos the name....

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
eos_vlans

##### ANSIBLE VERSION

[code]

##### CONFIGU

[2020-02-11 18:23] vinodpop commented on #58592
hi folks,

when can we expect multi-writer sharing option on disks. ?

[2020-02-11 18:30] tadeboro commented on #62377
Maybe I simplified the use-case a bit too much. I did test those scenarios while preparing PRs for Ansible 2.8 and 2.9, and all of the things you are asking about here are solved in the `devel` and `stable-2.9` branches.

The module crashed previously because it always excepted that the backend has at most one matching entry. Now that the `text` field is part of the parameters that are used to loo

[2020-02-11 18:53] erictomb opened #67314 "Please add support for specify syslog port number and transport type in the ios_logging module"
##### SUMMARY

The ios_logging module does not support configuring logging on Cisco IOS to non standard syslog ports.  Standard port is UDP 514, but some log collectors listen on different ports.

##### ISSUE TYPE
- Feature Idea
Create a transport parameter so that users can specify sending syslog messages to different ports.  I would like to see it support the following command:
``
logging host 1

[2020-02-11 20:06] sivel commented on #66696
Are you trying to install `pywinrm` in the same ansible run that needs to use `pywinrm`?  If so, this is not possible.  Dependencies for controller code must be installed before the playbook needing it is executed.

needs_info

[2020-02-11 20:08] sivel commented on #66698
The issue here is a misunderstanding in the difference between an empty loop and a skipped task.  If `with_fileglob` finds no files, the return is an empty list `[]`.  Looping on an empty list is different from a skipped operation.  The task isn't being skipped, it just has no items to loop over.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.free

[2020-02-11 20:08] #66698 closed, assigned to nobody

[2020-02-11 20:08] sivel commented on #66704
cc @mattclay

[2020-02-11 20:10] sivel commented on #66714
Closing per above.  This is expected behavior based on scoping of `vars:` when applied to a role. They are scoped at the play level, and are thus set for all tasks and all roles of the play, even those that occur logically before the role that `vars` is listed on.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https

[2020-02-11 20:10] #66714 closed, assigned to nobody

[2020-02-11 20:13] sivel commented on #66721
!component =lib/ansible/utils/collection_loader.py

cc @nitzmahone

[2020-02-11 20:18] sivel commented on #66740
This is actually an expected change.  In https://github.com/ansible/ansible/issues/55476 it was outlined that the behavior of using a glob in the service name was inconsistent, and due to the fact that globs are supported by the shell, and the module doesn't invoke the command with a shell, this functionality was explicitly disabled in https://github.com/ansible/ansible/pull/56645

If you have fur

[2020-02-11 20:18] #66740 closed, assigned to nobody

[2020-02-11 20:20] sivel commented on #66753
As I understand it, many of our developers have been using `ansible-test` with podman currently.  I'm curious as to what is causing the issue for you since I believe it is working for others.

cc @mattclay @maxamillion

[2020-02-11 20:29] rain8220 opened #67315 "ansible_os_family is undefined"
##### SUMMARY

ansible_os_family is undefined
You can reproduce the issue via a simple print_fact.yml
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.7.1908 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-02-11 20:36] saddi7087 commented on #66696
Yes, i am installing the pywinrm in the same ansible playbook where it
needed.

Any reason for it is not possible?

Thanks
Santhosh.

On Tue, Feb 11, 2020 at 3:06 PM Matt Martz <notifications@github.com> wrote:

[2020-02-11 20:38] geekifier opened #67316 "Support the selector option in the k8s module when applying service definitions"
##### SUMMARY

The k8s module should support specifying selectors when applying resource definitions, similar to how `kubectl` supports it.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
k8s module

##### ADDITIONAL INFORMATION

Some commonly used projects, such as Knative, require you to apply the Custom Resource Definitions (CRDs) to the K8s cluster, before you can deploy the rest of the

[2020-02-11 20:38] sivel commented on #66782
Our [installation docs](https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#installing-ansible-on-debian) specify that on Debian you should be writing the apt source file yourself, and not using `apt-add-repository`

The reason is that we only specifically build deb packages for Ubuntu, and `apt-add-repository` is saying that you are running Ubuntu Focal which hasn't

[2020-02-11 20:38] #66782 closed, assigned to nobody

[2020-02-11 20:42] sivel commented on #66787
Thank you very much for you interest in Ansible.  We have previously decided that we do not plan to expose all functionality for HTTP requests to modules that tangentially support URLs.  Instead our recommendation is that you should use the `get_url` module, followed by `unarchive` with `remote_src` true as you have indicated above.  If we add this feature, where do we continue to draw the line on

[2020-02-11 20:42] #66787 closed, assigned to nobody

[2020-02-11 20:44] sivel commented on #66696
Ansible is written in Python, and we load the plugins largely via standard python mechanisms.  Importing plugins happens at the beginning of the ansible execution, before any tasks have executed, and as such, the attempt to import `winrm` has already failed by the time that you are installing the dependency.

As such, you will need to install controller dependencies as a bootstrap playbook, that y

[2020-02-11 20:44] #66696 closed, assigned to nobody

[2020-02-11 21:28] sivel commented on #67315
Ansible 2.6 is no longer a supported release.  Ansible 2.8 no longer uses the platform module and would not be affected by whatever issue you are currently experiencing.

Please update to a supported release, 2.8+, and if you are still experiencing issues, feel free to open a new issue.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2020-02-11 21:28] #67315 closed, assigned to nobody

[2020-02-11 22:56] jillr commented on #67311
I suspect the previous ticket may have been closed erroneously, this would be a good feature.

[2020-02-11 23:33] bgre033 commented on #57809
Seeing the same in 2.9.1.

[code]

[code]

[2020-02-11 23:44] billdodd commented on #58941
A follow-up to my comment immediately above regarding locating an empty slot for `InsertMedia`.

In the VirtualMedia_v1.xml schema, the LongDescription for the EjectMedia action says:

This seems to clarify how to check the properties to determine if media is inserted or not.

[2020-02-12 02:18] Fred-sun commented on #67255
Thanks for your share! I will try again.

[2020-02-12 02:36] cuixiangz opened #67329 "[cloud/vmware/vmware_guest_disk]: Remove disk failed."
##### SUMMARY

Use latest code on  ansible devel branch,  when try to remove one existing disk, it report fail.
[code]
Error point to Line 576 of lib/ansible/modules/cloud/vmware/vmware_guest_disk.py
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

lib/ansible/modules/cloud/vmware/vmware_guest_disk.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2020-02-12 03:45] briantist commented on #62601
This is the same issue with using gMSAs in scheduled tasks from #60990 . The password has to be `null` for the virtual account to work, but ansible won't let it.

https://github.com/ansible/ansible/blob/a61dcfd542d75a7477136d54bd9b02a8f3eae326/lib/ansible/modules/windows/win_service.ps1#L52-L54

Commenting out line 53 and then leaving out the password option when calling the module will make this

[2020-02-12 04:01] jborean93 commented on #62601
@briantist just an FYI I've got a WIP to overhaul the Windows service stuff in Ansible which should fix this. Feel free to open a PR if you have something ready but just be aware I've got something in the pipeline for this module.

[2020-02-12 04:03] briantist commented on #62601
Sounds good to me, appreciate the heads up, you might have saved my weekend ;)

[2020-02-12 06:28] tremble commented on #52940
resolved_by_pr #66779

[2020-02-12 06:44] #64956 closed, assigned to nobody

[2020-02-12 06:52] Console32 commented on #67119
That is a good point, I will take another look to find out why the clixml is in the stdout in the first place

[2020-02-12 07:05] Fred-sun commented on #57782
working in!

[2020-02-12 09:12] Fred-sun commented on #57965
Working in!

[2020-02-12 11:27] wolmi commented on #61316
Same here, tested with:

- ansible 2.9.4
- python 3.7.3
- MacOS 10.14.6

[2020-02-12 11:33] PedroPerezElastic commented on #62647
I work with @evanfreed and we've been looking into this recently :)

There are two issues we've seen. The first one is what Evan mentions above. In some of our subs we started seeing 100% error ratio when pulling inventory, so it's been quite a headache for us. The quickest workaround is to move to non-batch operations (which, after all, is an undocumented / unsupported API), however it will also

[2020-02-12 11:39] jlegido commented on #30754
I arrived at this bug, but in my humble opinion should be closed clarifying that there's no bug (unless I missed something), if we can't perform manually as root a successful ```apt-get update``` or ```apt update``` it's expected that ansible module fails as well.

A good point will be open a separate ticket asking for including a flag ```allow-releaseinfo-change```

[2020-02-12 11:50] stamboman commented on #67210
Interestingly enough for me the problem occurs during the "Gathering Facts" task so there is something fundamentally wrong with the way my source host is communicating with my target hosts via ssh.  One of the stackoverflow entires said that you have to insert a delay somewhere but I did not follow how he accomplished that.

[2020-02-12 11:51] stamboman commented on #67210
I am tempted to try and import 2.10 onto my source host and seeing whether or not that fixes the problem.

[2020-02-12 11:57] wolmi commented on #61316
After more testing, I have solved the problem by checking the targets includes the  ending dot
[code]
I've missed it and have this exact `Bad request` error.
Also, the documentation seems to not be correct because the examples don't include it.

[2020-02-12 12:21] stamboman commented on #67210
2.10 has not been released yet,  Are you using the ansible_latest ? Or are you trying a developer releases?

[2020-02-12 12:46] MartinLesterSynamedia commented on #38176
To me this feels like a bug with `--list-tags` when a `never` tag is used in a playbook. Why should `never` or any of the tags with it not be reported?

My current work around is to define the tag on another module that has little or no effect e.g. assert.

@SimplySeth The way you run modules tagged with `never` as extra features in a playbook is with the `all` tag e.g.

    ansible-playbook <othe

[2020-02-12 13:15] maxbube opened #67337 "proxysql module DictCursor ignored"
##### SUMMARY
proxysql  is using `mysql_driver.cursors.DictCursor` for the cursor_class when it must be `'DictCursor'` based on the latest changes in mysql_utils

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
proxysql module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

confirmed on el7 but must affect all

[code]

##### STEPS TO REPRODUCE

[code]

####

[2020-02-12 13:18] jgtaylor opened #67338 "redfish_utils.py: incorrectly uses PATCH method for add_user, incorrectly uses the ID"
##### SUMMARY

The command attempts to PATCH to `self.root_uri + self.accounts_uri + "/" + user['userid']` - but the userid can not exist yet, so the server responds with Error 400.
[code]
Removing the userid value, and retrying, the next error is Error 405. Per the specification, a "Create" should be done with POST, while PATCH should only be for "Update".
[code]
The documentation is also wrong -

[2020-02-12 14:03] billdodd commented on #67338
The Redfish modules in Ansible 2.8 were contributed by someone whose Redfish services had a fixed set of accounts that needed to be PATCHed in order to add or delete users. As you point out, the more standard way to add a user is via POST. In Ansible 2.9, PR #58441 was introduced to add users via POST and fall back to PATCH on services that do not support POST to add users.

Can you update your An

[2020-02-12 14:28] maaz-ul-haque opened #67340 "Misleading 'file not found" error from Slurp Module"
##### SUMMARY

It came under my observation that  slurp shows error of **"File not found"** instead of **"Permission error or file is not readable"** error when the source file resides in a directory whose permissions are not allowing ansible user to read content from it.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Slurp

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

#####

[2020-02-12 14:40] #67144 closed, assigned to nobody

[2020-02-12 14:48] sivel commented on #66727
!component =lib/ansible/modules/cloud/azure/azure_rm_resourcegroup_info.py

[2020-02-12 14:56] wanexa opened #67341 "meta end_host with_items not working"
SUMMARY

end_host with_items seems not working or is it supposed to work ?

ISSUE TYPE

- Bug Report

COMPONENT NAME

meta

ANSIBLE VERSION

ansible-2.9.2-1

STEPS TO REPRODUCE

1.  playbook test as below

`-` name: End the play
    meta: end_host
    when: item.id == 12
    with_items: "{{ test `}}"

2. run the playbook with variables
ansible-playbook test.yml -i hosts -e test='[{"id":"12","name"

[2020-02-12 15:04] stamboman commented on #67210
So I set the [persistent_connection] parameter to
connect_timeout = 3000

The default value is 30

The problem went away (of course now I have NEW errors to worry about)

[2020-02-12 15:24] mkrizek commented on #67341
This is expected, looping on meta tasks is not supported as is documented in https://docs.ansible.com/ansible/latest/modules/meta_module.html#notes.

If you have further questions please stop by IRC or the mailing list:
* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-02-12 15:24] #67341 closed, assigned to nobody

[2020-02-12 15:30] mkrizek commented on #66943
I was able to reproduce the issue. You can use Python 3 on the controller to work around it.

Note, this also fails with `ANSIBLE_JINJA2_NATIVE` on both Python 2 and Python 3.

[2020-02-12 15:38] odyssey4me opened #67343 "Move rabbitmq modules to ansible-collections"
##### SUMMARY

I would like to suggest that we move all the rabbitmq modules to ansible-collections. Ideally we'd like to get the maintainers on board to help with the transition so that we can get it done, setup tests for it and move any existing PR's or issues over to it and begin working on them.

I'm offering my help along with @noonedeadpunk @mnaser @jrosser and others in the OpenStack-Ansibl

[2020-02-12 15:51] jgkirschbaum commented on #67343
What is the idea behind moving the rabbitmq modules to ansible-collections?

[2020-02-12 15:53] odyssey4me opened #67344 "Move virt (libvirt) plugins/modules to ansible-collections"
##### SUMMARY

I would like to suggest that we move all the virt modules to ansible-collections. Ideally we'd like to get the maintainers on board to help with the transition so that we can get it done, setup tests for it and move any existing PR's or issues over to it and begin working on them.

All non-core modules will eventually move into collections by the release of 2.10. I'm suggesting that

[2020-02-12 15:59] odyssey4me commented on #67343
@jgkirschbaum All modules will eventually move into collections by the release of 2.10. I'm suggesting that we create a specific collection with a maintenance team around it, rather than letting this become an 'orphaned' set of modules.

The collection allows us to implement testing specific to the modules (unit, functional, etc), to review independently of Ansible's core, report and resolve issue

[2020-02-12 15:59] #65072 closed, assigned to nobody

[2020-02-12 15:59] Sneedes commented on #65072
Thanks all.

[2020-02-12 16:02] idelsink commented on #62893
I seem to have the same issue, a task being stuck/hanging while trying to resolve an IPv6 address.
I think it has something to do with this issue: https://github.com/ansible/ansible/issues/56258
And it might have been resolved in https://github.com/ansible/ansible/pull/56270 however the Ansible runtime in AWX is still v2.8, just like you have. I already made an issue to upgrade the runtime in th a

[2020-02-12 16:19] wschoot commented on #62499
We've circumvented this approach by directly talking to the API for now but if you can create BlockBlobStage's using this PR, I'm okay!

[2020-02-12 16:24] sivel commented on #66764
This has taken me some time to track the source of the issue.  The issue is in order of keys in a python dict.  In Python3.5+ keys are sorted by insertion order, whereas in Python2 a dict is unsorted.

As such, we get a reliable order when iterating a dict in Python3, and an unreliable order in Python2.

This issue would show up in Python2, but only when the iteration order causes the `hosts` attr

[2020-02-12 16:25] mikewiebe commented on #66843
@NilashishC Can you close out this case?

[2020-02-12 16:27] GomathiselviS commented on #67313
resolved_by_pr #67318

[2020-02-12 16:33] #67313 closed, assigned to GomathiselviS

[2020-02-12 16:48] sivel commented on #66764
After some discussion, (2) is the way we would want to go.  At some time we probably need to evaluate the `priority` of all attributes, but that isn't needed for this change.

Anyone who is interested can pick this up, make the `priority` change as indicated above, add a changelog, write tests, and submit a pull request.

[2020-02-12 17:00] #67306 closed, assigned to nobody

[2020-02-12 17:58] richierg opened #67347 "docker_login not create config.json file with correct permission"
##### SUMMARY

The module docker_login save the config.json with 644 permission instead of 600 (default by docker login command)
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_login
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 18.04 server

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

ll /root/.docker/config.json
-rw------- 1

[2020-02-12 18:18] tremble commented on #52940
bug_resolved

[2020-02-12 18:29] #52940 closed, assigned to nobody

[2020-02-12 19:26] it-praktyk opened #67352 "RFC - the lineinfile module - change format od diff in RETURN"
##### SUMMARY
Recently I've prepared an update of the module `lineinfile` #67224. In that pull request, I document an output provided by the module.

Currently, the `diff` key contains the array of two dictionaries. Keys of both dictionaries are the same :-/

[code]

Due to that usage of that output is
- at least, tricky - section of the return has to be referred by an index,
- a returned output c

[2020-02-12 20:10] felixfontein commented on #67347
True indeed. I've created a fix:

resolved_by_pr #67353

[2020-02-12 20:12] samccann opened #67354 "Fix broken links in gcp modules"
We're trying to fix as many broken links as possible before modules move into collections.  This is the batch of broken links on gcp modules.

NOTE: the link checker sometimes reports an error where a link actually works. Ignore those if you find them.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com

###### BROKEN LINKS

https://docs.ansible.com/ansible/devel/modul