[2018-05-21 05:33] nkrishnakishor commented on #40244
thanks @jborean93  for your support in resolving issue.

I will upgrade Ansible to 2.5.3 version.

[2018-05-21 05:51] mkrizek commented on #40360
Fixed in #40387 and #40389.

[2018-05-21 05:51] #40360 closed, assigned to mkrizek

[2018-05-21 07:36] Akasurde commented on #40410
similar to https://github.com/ansible/ansible/issues/40438

[2018-05-21 07:47] Fred-sun commented on #38883
Hi @spmp , Let me summary this issue, I have confirm with our developer member, Cannot increase created OS disk size,  but it will be fixed on later Ansible version, Now we can use mount and create data disks method to expand the VM disk size, when this question be fixed,  You can by latest Ansible version to try. Thanks a lot!

[2018-05-21 08:04] Fred-sun commented on #39977
Thanks @christopherkeller ,Do you have any update ?

[2018-05-21 08:15] k-troska opened #40471 "Setup module skiping partions on aws m5 machines"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

setup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

NAME=Fedora
VERSION="28 (Workstation Edition)"

##### SUMMARY

Setup module returns empty partition array when used agains m5 type aws machines (gp2 disks).

##### STEPS TO REPRODUCE

Provision aws machine with centos 7 convert it to m5 type in my example:

[2018-05-21 08:48] cavamagie commented on #39959
can i apply the pr?

[2018-05-21 09:20] sk1988 opened #40472 "Arista eos_config interface configuration (through file) indentation issue"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
eos_config

##### ANSIBLE VERSION
ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (defa

[2018-05-21 09:20] Akasurde commented on #40380
@sayantandas Could you please use update code from this branch  https://github.com/ansible/ansible/compare/devel...Akasurde:i40380

This fix adds functionality of selecting resource pool depending upon user parameter such as 'esxi_hostname' and 'cluster'

[2018-05-21 09:48] Akasurde commented on #34559
@coaxial Could you please try this https://github.com/ansible/ansible/pull/40457 and let us know if it works for you ?
I have not tried but I think it will solve your issue.

[2018-05-21 10:45] mohdumar321 commented on #40226
@Akasurde: Thanks for the update. I am planning to write a custom module which can be used to remove the VNIC's from VMware.

Any help on this task will be appreciated.

[2018-05-21 10:50] svpudik commented on #40310
Hi jborean93,
Here is result from whoami:
[whoami.txt](https://github.com/ansible/ansible/files/2022248/whoami.txt)

about secedit result is is a bit problem because your command didn't create result file and when I redirect output to custom file it just create an empty file.

[2018-05-21 10:50] juanvalino opened #40474 "Loop label only renders first item when it uses based vars keywork variables"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
loop

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When the `label` keyword of a loop uses variables defined in a `vars` block, and those variables points to attributes of the iteration item, the rendered output always shows to the first item of the sequence.

##### STEPS TO REPRODUCE
[code]

[2018-05-21 10:53] jborean93 commented on #40310
@svpudik you may want to change directories or set the full path to a temp location after `/cfg`.

[2018-05-21 10:59] pjmcquade opened #40476 "lineinfile module converts double quotes to single quotes unexpectedly"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lineinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_FORKS([REDACTED]) = 15
DEFAULT_HOST_LIST[REDACTED]) = [u'/data/ansible-best-practice/inventories/all.inventory']
DEFAULT_REMOTE_USER([REDACTED]) = ansnixpr
DEFAULT_STDOUT_CALLBACK([REDACTED]) = skippy
DEFAULT_TIMEOUT([REDACTED]) = 30
HOST_KEY_CHECKING([REDACTED]) = False

#

[2018-05-21 11:07] jborean93 commented on #40310
Also your whoami looks good, it's pretty much a match to the host I'm testing on locally, I can see that

* You are using CredSSP for the authentication
* The account is a local account
* The WinRM process has a high privilege level (running as an admin with all privileges available)
* It has the same privileges enabled on the account as my local test

Just so we aren't chasing the wrong thing, do

[2018-05-21 11:15] gdpak commented on #39856
There are two problem here.
1. Bug in code which is fixed by PR#40475. You can get this fix right now by my private repo until it is merged to devel branch/or backported to 2.5
 git clone https://github.com/gdpak/ansible.git -b iosxr_command_prompt

2. when you specify prompt string. Any non-alphanumeric characters should be prefixed by escape character e.g. prompt = '\[confirm\]'
as prompt would

[2018-05-21 11:18] christopherkeller commented on #39977
Going to test today in conjunction with some other Azure fixes, I'll have an update in a few hours.

[2018-05-21 11:18] gdpak commented on #39856
There are two problem here.

- Bug in code which is fixed by PR#40475. You can get this fix right now by my private repo until it is merged to devel branch/or backported to 2.5
git clone https://github.com/gdpak/ansible.git -b iosxr_command_prompt

- when you specify prompt string. Any non-alphanumeric characters should be prefixed by escape character e.g. `prompt = '\[confirm\]'`
as prompt would

[2018-05-21 11:32] svpudik commented on #40310
Yes, with become as SYSTEM account it fails with same result as win_updates.

At last patching it happened on all hosts except one. Month before it was without problem but with ansible version 2.5.0

about secedit, I checked settings and there is no change in User_Rights from default settings, that is why report is empty.

[2018-05-21 12:00] christopherkeller commented on #39976
Per the instructions from @yuwzho, I've updated to the 2.6 devel branch and tested the following snippet that generates one or more vms in sequence (which is my most complex use case):

[code]

Seems to work fine, appreciate the quick turnaround.

[2018-05-21 12:28] svpudik commented on #40310
Is there possibility to any workaround? It will be really helpful to be able execute that module in this week.

[2018-05-21 12:28] sayantandas commented on #40380
@Akasurde , thank you. this works perfectly fine.
Tested.

[2018-05-21 12:34] DasFranck commented on #36585
Same inside an archlinux container (docker).

[2018-05-21 12:53] widgetpl commented on #36729
I have the same issue. When I set user in ansible.cfg like
[code]
it doesn't work but when I set user in `hosts.ini`
[code]
it works

[2018-05-21 13:33] madeinoz67 commented on #38859
Ok thanks @sivel Sorry for the delayed response.

I have to think back on this one but I'm aware of the deprecated docker module and wasn't looking for it at the time.

....its all coming back to me....at the time I was trying to work out how to copy a kerberos config file to an existing AWX container for our Active directory integration in the AWX development container and came across this module

[2018-05-21 14:04] #35372 closed, assigned to nobody

[2018-05-21 14:05] AlexandreGohier opened #40479 "lxd_container : cannot specify LXD cluster host on which a container is created"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

lxd_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

CACHE_PLUGIN(/etc/ansible/ansible.cfg) = jsonfile
CACHE_PLUGIN_CONNECTION(/etc/ansible/ansible.cfg) = /opt/scripts/ansible
CACHE_PLUGIN_TIMEOUT(/etc/ansible/ansible.cfg) = 86400
DEFAULT_GATHERING(/etc/ansible/ansible.cfg) = smart

##### OS / ENVIRONMENT

"N/A" for OS, LXD v3.0

[2018-05-21 14:12] sivel commented on #40396
I believe this is expected, but I'll need a full reproducer to be sure.

Ansible inventory loads *all* inventory during start up, as that happens before playbook parsing has begun.

Since `b_server` only defines `databaseURL : URL_for_hostname2s_db` then that variable is associated with that group and the single server `hostname2`.

Can you please provide an example playbook and template file?

ne

[2018-05-21 14:22] sivel commented on #40442
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-05-21 14:22] #40442 closed, assigned to nobody

[2018-05-21 14:27] Skunnyk opened #40483 "synchronize module is broken in ansible 2.5.3"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

The synchronize module is broken because it tries to use "None" as remote user.
It seems that this problem has been introduced by https://github.com/ansible/ansible/pull/36755 . If I remove the else part, it works again.
It worked with ansible 2.5.2 and p

[2018-05-21 14:51] umrikar commented on #38799
@Akasurde  Thanks

[2018-05-21 15:26] pilou- commented on #40418
@bwlang: please could you try this pull request: #40489 ?

[2018-05-21 15:29] trishnaguha commented on #40013
@mikewiebe Can you please try `net_put` module?
The playbook should look like the following:
[code]
Requirements: connection should be `network_cli` and `ansible_network_os: nxos` needs to be in vars.

If this works, I assume that we will need to pass `socket_timeout` when creating the scpclient object `scp = SCPClient(ssh.get_transport())`
else I believe this is paramiko issue https://github.com/

[2018-05-21 15:42] jeremyollis commented on #38172
##### SUMMARY
Add 'multipart/form-data' support for uri module

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
uri module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Stock

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
Attempt to `POST` data with `Content-Type: "multipart/form-data"` and a body sourced from a file

##### EXPECTED RESULTS
File sent, wrapped in multi-part form

[2018-05-21 15:48] sivel commented on #38172
This may require the functionality added in https://github.com/ansible/ansible/pull/33689 to support using a src file which should be added for the 2.7 release.

[2018-05-21 15:49] gothicx commented on #40469
Hi,

I think that's a problem with your config.

- name: log in as shrenikp7 and do something as root
  remote_user: shrenikp7
  become: yes
  become_user: root

This works for you ?

[2018-05-21 15:54] sivel commented on #40343
Duplicate of https://github.com/ansible/ansible/issues/40007

[2018-05-21 15:54] #40343 closed, assigned to nobody

[2018-05-21 15:56] sivel commented on #40340
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-05-21 15:56] #40340 closed, assigned to nobody

[2018-05-21 15:58] sivel commented on #40328
To prevent a failure you will need to use `failed_when` although your failed_when is incorrect.

[code]

If `result2.rc == 255` then that will fail because it is not equal to 0.

You want something like:

[code]

or
[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible

[2018-05-21 15:58] #40328 closed, assigned to nobody

[2018-05-21 16:01] gothicx commented on #40440
Hi,

This kind of features will require the user, group and modes to be defined in the module in order to achieve the correct result.

You may need to check if the directory exists first with the module stat.

 tasks:
  - name: Ansible check if archive folder exists
    stat:
      path: '/Users/joeyrs/non_existing_dir'
    register: archive_folder

- name: Do archive if folder exists
     archive

[2018-05-21 16:05] sivel commented on #40155
The error indicates that you are missing the dependencies to run the `azure_rm_virtualmachine` module on the `worker1` target.

You will either need to adjust your playbooks to use `delegate_to: localhost` and have the deps installed locally, or install the deps on the remote server.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   *

[2018-05-21 16:05] #40155 closed, assigned to nobody

[2018-05-21 16:05] Zwater opened #40496 "Documentation indicates that main.yml MUST be present in every directory of a role."
##### SUMMARY
Documentation states that a `main.yml` file is required for all directories in a playbook role:

[code]
This, however, is not required.
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

playbooks_reuse_roles.rst

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

N/A

[code]

##### EXPECTED RESULTS

N/A
####

[2018-05-21 16:06] gothicx commented on #40438
Hi,

Have you tried to put a dash in the option ?

[code]

[2018-05-21 16:07] putru2017 opened #40497 "Ansible unable to except any other body format except raw and jason in the uri module and upload a zip or a jar via POST method."
##### SUMMARY

Zip file not getting POST to the server with the uri module in Ansible.

This is the code I am trying to execute

- name: Transfering the Proxies
  uri:
    headers:
     Authorization: '{{API_USER_PASS_BASE64_ENCRYPT}}'
     Content-Type: "application/octet-stream"
    url: https://api.enterprise.apigee.com/v1/organizations/{{API_ORG}}/apis?action=import&name={{ proxy_name }}-{{API

[2018-05-21 16:15] trishnaguha commented on #39364
@mikewiebe This should be fixed by https://github.com/ansible/ansible/pull/40498

[2018-05-21 16:23] #40367 closed, assigned to nobody

[2018-05-21 16:28] sivel commented on #40394
@anis016 You can use multiple `-vv`  for verbosity, which will automatically include the output from the module without the need to use debug, although debug can sometimes produce better output.

Going to close this as the issue is resolved.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/fo

[2018-05-21 16:28] #40394 closed, assigned to nobody

[2018-05-21 16:35] tnalpgge commented on #10530
A co-worker (not [cow-orker](https://en.wiktionary.org/wiki/cow-orker)!) suggested I weigh in on this thorny subject.

[code]

[2018-05-21 16:37] sivel commented on #40400
This is the expected behavior and documented at http://docs.ansible.com/ansible/latest/user_guide/playbooks_tags.html#special-tags

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-21 16:37] #40400 closed, assigned to nobody

[2018-05-21 16:42] sivel commented on #40412
This is the expected behavior when using `ssh_args` from ansible.cfg.

To avoid this, and order the arguments so that when you specify, instead of using `ssh_args` in ansible.cfg, you will need to use one of the following in a place such as `group_vars/all`

* `ansible_ssh_common_args: -C -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey`
* `ansible_ssh_extra_args:

[2018-05-21 16:42] #40412 closed, assigned to nobody

[2018-05-21 16:44] sivel commented on #40426
We have various ways to support this currently, and I don't believe we should add another way.

Current options:

* /etc/ansible/facts.d on the remote server, utilized during gather_facts/setup phase
* vars plugins
* facts modules

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum

[2018-05-21 16:44] #40426 closed, assigned to nobody

[2018-05-21 16:45] sivel commented on #40440
Any attempt to add such functionality will always be limited.  The recommended way, is either to ensure that the path exists already using the `stat` module as indicated above and skip archival, or to use the `file` module and create the path you need.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.go

[2018-05-21 16:45] #40440 closed, assigned to nobody

[2018-05-21 16:47] sivel commented on #40497
The `uri` module does not yet support a `src` argument.  This will be added in https://github.com/ansible/ansible/pull/33689

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-21 16:47] #40497 closed, assigned to nobody

[2018-05-21 16:53] sivel commented on #40474
Duplicate of https://github.com/ansible/ansible/issues/38899

[2018-05-21 16:53] #40474 closed, assigned to nobody

[2018-05-21 16:57] drzraf commented on #23727
Same here.
The main issue being the impossibility to debug this since:
- no informative error message is sent
- even with `ANSIBLE_KEEP_REMOTE_FILES=1` the temporary file is deleted.

[2018-05-21 17:14] sivel commented on #40476
We are aware of this issue.  This is not a side affect of the `lineinfile` module munging data, but a complex interaction between ansible and jinja2 (used for templating).

The problem is that your string contains a template, and because it looks like a python dictionary, it gets converted to a python dictionary, and loses it's context as a string.

There is a more in depth explanation available a

[2018-05-21 17:14] #40476 closed, assigned to nobody

[2018-05-21 17:15] sivel commented on #40469
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-05-21 17:15] #40469 closed, assigned to nobody

[2018-05-21 17:27] andreaso commented on #40445
Thanks for reporting this issue. I can confirm that I run into the same problem while trying to create SRV records using Python3.

Will have to get back to you in regards to what is what.

[2018-05-21 17:57] gothicx commented on #11263
This looks fixed to me on version 2.6 - dev.

--- before
+++ after
@@ -1,4 +1,4 @@
 {
-    "mode": "0755",
+    "mode": "0750",
     "path": "/tmp/test.txt"
 }

[2018-05-21 17:59] gothicx commented on #11263
bug_resolved

[2018-05-21 18:06] putru2017 commented on #40497
Yeah but the body parameter which is supported is also not working.

On Mon, May 21, 2018 at 12:48 PM, Matt Martz <notifications@github.com>
wrote:

[2018-05-21 18:35] putru2017 commented on #40497
So will this functionality be provided in the next release?

On Mon, May 21, 2018 at 2:25 PM, Matt Martz <notifications@github.com>
wrote:

[2018-05-21 18:40] desimaniac commented on #37640
@huiminzeng https://github.com/ansible/ansible/pull/38884

[2018-05-21 18:51] Napster158 opened #40504 "Ansible ping to Windows fails with credssp , “Session' object has no attribute 'merge_environment_settings”"
##### SUMMARY
Ansible ping to Windows fails with credssp , “Session' object has no attribute 'merge_environment_settings”

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
host machine ubuntu 14.04
target machine - windows

##### ANSIBLE VERSION
ansible 2.5.3
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plug

[2018-05-21 18:52] baughj commented on #28770
👍 - this would be very helpful for making custom lookup code reusable / modular.

[2018-05-21 18:54] #31879 closed, assigned to nobody

[2018-05-21 19:16] sivel commented on #40504
You are running a combination of pywinrm and requests that are incompatible with each other.

The version of pywinrm you are using, requires a minimum of requests 2.9.1 as indicated by the dependencies in pywinrm.  It is possible that it may work with an older version of requests, but it appears as though you are using a version older than 2.4, which was when requests added the `merge_environment_

[2018-05-21 19:16] #40504 closed, assigned to nobody

[2018-05-21 19:19] #39364 closed, assigned to trishnaguha

[2018-05-21 19:28] abadger commented on #28770
Unlike module_utils, this doesn't seem very useful except as a matter of symmetry.  You can just install into a local pythonpath for controller code.  To keep everything contained in the role, you can do something like include a python wheel or zipfile of the code you need to install in the roles files and then use the pip module to install that on the local system as one of the role's first tasks

[2018-05-21 19:31] sivel commented on #40466
I do not believe it will be possible to print the original command using any of the built in output methods in ansible.

The problem is that ansible tends to output things in a JSONified format, and those quotes will need to be escaped.

You might be able to switch from double quotes `"` to single quotes `'` to avoid that.

[code]

[code]

If you have further questions please stop by IRC or the ma

[2018-05-21 19:31] #40466 closed, assigned to nobody

[2018-05-21 19:46] Napster158 commented on #40504
I update the requests module to 2.9.1 but I am still seeing the error.
pip freeze returned the below:

requests==2.9.1
requests-credssp==1.0.0
requests-ntlm==1.1.0

[2018-05-21 19:47] sivel commented on #40504
That indicates that requests may be installed in a location where the python binary used to execute ansible cannot see it.

Please stop by the mailing list for further troubleshooting support.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-21 19:48] Skunnyk commented on #40483
I confirm that #40500 fix the problem on my side. Thank you.

[2018-05-21 19:58] baughj commented on #28770
I won't speak to @flungo 's original use case / reason for opening this ticket, but for me, it would be useful to keep everything in one git repository without the need for shims or some kind of notification/documentation that PYTHONPATH must be set to a local path. For my use case, we would want users to be able to simply git checkout and use Ansible without any other interventions. Symmetry in m

[2018-05-21 20:01] abadger commented on #28770
I think that the example I sketched above satisfies all of your needs.

[2018-05-21 20:18] dda-vinko-magecic commented on #40405
I attached the full output, personal information was removed.
[job_1647.txt](https://github.com/ansible/ansible/files/2023979/job_1647.txt)

[2018-05-21 20:27] abadger commented on #28770
Here's a sample of the example to make clear what I mean: https://github.com/abadger/sample-28770

[2018-05-21 20:35] jborean93 commented on #40405
So a quick look through the output shows it is sourcing the win_chocolatey module from `/var/lib/awx/projects/_6__prod_bitbucket/library/win_chocolatey.ps1`. This is not the builtin path for the Ansible supplied win_chocolatey and is being overridden by your custom module.

You either need to remove/rename your custom module at that path so Ansible uses the builtin/tested module that works or you

[2018-05-21 20:35] #40405 closed, assigned to nobody

[2018-05-21 20:45] #40450 closed, assigned to nobody

[2018-05-21 20:58] jrtaisto commented on #17922
Seeing same issue in PIP ansible 2.5.2, PENV: Python 3.5.1, on CentOS 7.

[2018-05-21 21:13] dajnz commented on #40483
I have the same or similar issue. I see that Ansible creates `~jeff/.ansible/tmp/ansible-tmp-152693382
0.38-66867380834850` on my local machine, but should on remote. Also I tried to add changes from the fix above, but the issue still persists after this.

There is my log, (`jnz` - local user, `jeff` - remote SSH user):

[code]

[2018-05-21 21:14] unacceptable opened #40510 "`win_template` will remove the contents of a file if there is an open file handle on that file"
##### SUMMARY
I found this when updating the system's machine.config

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`win_template`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE
1. Start a C# application that keeps the system's macheine.config open (Like IIS - Facepalm, I did not stop it in advance).
2. Run the following pl

[2018-05-21 21:15] jborean93 commented on #40310
The only changes to become since 2.5.0 is a more concise error message saying was user it failed to become and a fix for outputting non ASCII chars correctly. None of those changes would affect the actual become process which is what is failing so I doubt the Ansible changes are the issue. What's happening is that we try and impersonate the SYSTEM account with become so our token retains the full

[2018-05-21 21:18] jborean93 commented on #40510
This sounds like a bug with the PowerShell `Copy-Item` cmdlet as we do not pre checks when copying the file and just rely on that cmdlet to do the work. Are you saying that the module fails and the file is now blank?

[2018-05-21 21:47] ansiblejunky opened #40511 "aws_region_facts module requires region parameter with the latest boto3 python module"
##### SUMMARY
Using the `aws_region_facts` module to retrieve all regions, I get the following error message that the `region` parameter is required.  Our Ansible documentation says it is optional. In fact it shouldn't be required because you want to get all regions. However it seems the latest `boto3` module requires it.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

aws_region_facts

###

[2018-05-21 22:10] bcavns01 opened #40512 "Dynamic inventory failure results in partial inventory during execution"
##### SUMMARY

When mixing dynamic and static inventory, ansible will continue executing if dynamic inventory fails to parse, potentially resulting in partial inventory during execution.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

dynamic inventory
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(env: ANSIBLE_NOCOWS) = True
##### OS / ENVIRONMENT

Ubuntu 16.04.3 LTS
###

[2018-05-21 22:52] carlmontanari opened #40514 "asa_config Python3 Compatibility Issue for "backup""
##### SUMMARY
"backup" in asa_config fails on Python 3.6.3 with Ansible 2.5.2. Same issue as [36717](https://github.com/ansible/ansible/issues/36717) but for asa_config.

Changing line 58 of asa_config.py from:` for key in result.keys()`
To either: `for key in result.copy().keys():`
Or: `for key in list(result)`

Should sort this out for py2 or py3.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT

[2018-05-21 22:59] lufik opened #40515 "Regression: constructed inventory does not use group variables from previous inventory #37397"
##### SUMMARY
There is a regression in ansible 2.5.3. Just see closed #37397 (against 2.4). Everything is again valid in 2.5.3.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
constructed

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
See #37397

##### OS / ENVIRONMENT
See #37397

##### STEPS TO REPRODUCE
See #37397

##### EXPECTED RESULTS
See #37397

##### ACTUAL RESULTS
See #37397

###

[2018-05-21 23:13] jborean93 commented on #40515
@lufik when a PR is merged it is merged into the devel branch, previous major releases like 2.5, 2.4, etc are made from the respective stable-2.x branch, e.g. 2.5 is made from stable-2.5. So while PR 37397 fixed the issue in devel, the changes need to be backported to stable-2.5 for it to be part of the 2.5.y releases. Please see https://docs.ansible.com/ansible/latest/community/development_proces

[2018-05-21 23:13] TMiguelT commented on #31879
This is still a bug though. It outputs an incorrect and confusing error message

[2018-05-21 23:36] #39844 closed, assigned to nobody

[2018-05-21 23:39] lufik commented on #40515
@jborean93 to be honest I reported the problem against version 2.4. I do not have such deep knowledge about stable versions etc. I just expected that the issue I reported against 2.4 was fixed from 2.4 up to the devel branch.
If I understand your comment correctly I have to prepare two more PRs (to backport into 2.4 and 2.5)?
Sounds weird to me but if it's the only way hot to get the fix into next

[2018-05-22 00:12] jborean93 commented on #40515
@lufik it's how we do development and stop features being added to older versions. Each merge does into the current development branch and if it is a bug fix we accept backports/cherry picks to the stable branches.

It's ok that you don't have deep knowledge, these things happen from time to time. We aren't planning any future releases of 2.4 so creating a PR for that branch is probably not worth

[2018-05-22 01:07] Fred-sun commented on #39976
Hi @christopherkeller ,Thanks for your confirm.

[2018-05-22 02:06] yuwzho commented on #39976
resolved_by_pr #38994

[2018-05-22 02:11] #39976 closed, assigned to nobody

[2018-05-22 02:31] spmp commented on #38883
I really have to have this unfortunately.
Rather than rewriting the module in its most basic cut down form, is it possible to be connected with the developer of `azure_rm_virtualmachine` to help me add this functionality? It can be a brutal hack, and I would keep it in the local `library` directory of the project.

Cheers

[2018-05-22 03:14] bcoca commented on #40512
I had tried to avoid this with a deepcopy of the inventory, but this created serialization issues

[2018-05-22 03:14] #33274 closed, assigned to nobody

[2018-05-22 05:14] mcassaniti commented on #23066
I've just noticed this issue. I'm also running into a problem where an environment variable passed to a container can change between runs. This variable contains a random peer. I'd certainly prefer not to restart the container in this case. Once the container is up it can talk to all peers, even if the passed in peer is removed.

Currently I have something similar to the following.

[code]

After

[2018-05-22 05:45] lovenfrancis commented on #40396
here is an updated playbook

[sample playbook 2.zip](https://github.com/ansible/ansible/files/2025101/sample.playbook.2.zip)

[2018-05-22 05:48] lovenfrancis commented on #40396
here is an updated one

[sample playbook 2.zip](https://github.com/ansible/ansible/files/2025111/sample.playbook.2.zip)

[2018-05-22 06:18] alex3305 commented on #20492
Still facing issues regarding this package in 2.5.3. When having `docker-py` installed within Python2.7, the `docker-container` module works great, but the `docker-service` doesn't because it requires Docker compose to be installed.

When following the installation instructions provided by Ansible `pip install docker-compose`, it also installs the Python 3 version of the `docker` package, which br

[2018-05-22 06:26] suhrim commented on #35094
As far as I can tell, this has been fixed in Anisble 2.5. We have managed to migrate to RabbitMQ 3.7.5 using Ansible 2.5.2

[2018-05-22 06:27] Fred-sun commented on #39977
@christopherkeller  Thanks for your confirm.

[2018-05-22 06:30] huiminzeng commented on #40395
Thank you very much!

[2018-05-22 06:57] Fred-sun commented on #38883
I feel very sorry to you, Change a parameter relation more than one module, it need develop and test these modules, not a easy job, So it need time to finish this job, Thanks a lot!

[2018-05-22 07:15] walro commented on #35094
It seems like #33556 (which is included in 2.5) have taken care of the problem in "Example 1" in my original post. I don't see anything that takes care of the change of order though ("Example 2"), but it might be so that RabbitMQ still allows both ways. I will try it out with 2.5.2.

[2018-05-22 07:29] sk1988 commented on #40064
Thank you.  I have upgraded to Ansible version 2.5.3 and confirm that this issue doesn't appear anymore.  I am closing this now.

[2018-05-22 07:29] #40064 closed, assigned to nobody

[2018-05-22 08:00] wojciechkopciewicz commented on #37254
We are also seeing this issue. Is anyone looking at this?

[2018-05-22 08:43] antoinetran commented on #20492
At this point, it may be better to open a new issue, as this one is closed and maybe the Ansible developers do not look at this anymore.

[2018-05-22 08:44] hernando-garcia commented on #18227
A solution to the issue reported here is to wrap the whole end-to-end execution inside a bash script. As follow:

1) Set the ansible_python_interpreter var <TO_POINT_TO_PROJECT's_VIRTUALENV>/bin/python in your play (defaults/main.yml etc)

2) Create a bash script to source/enable the virtualenv

. <PATH_TO_>/bin/activate # The dot [ . ] is recommended instead of the command "source"

3) Execute th

[2018-05-22 08:49] krissi opened #40523 "openssl_certificate: TypeError: unorderable types: str() >= bytes"
##### SUMMARY

The exception `TypeError: unorderable types: str() >= bytes()` is raised when checking for `valid_in` using Python 3.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

openssl_certificate

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

[code]
Installation from pip

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Python 2.7.9 / ansible 2.4.

[2018-05-22 08:49] #40346 closed, assigned to trishnaguha

[2018-05-22 08:52] walro commented on #35094
I have tried it out now, policies are added correctly using RabbitMQ 3.7.5 and Ansible 2.5.3 as far as I can tell. Not sure if backporting is on the table, so I'll leave the issue open for now and let the maintainers decide.

[2018-05-22 08:54] Alwaysc0d3 commented on #40398
thx.

[2018-05-22 09:01] Alwaysc0d3 commented on #40400
@sivel Thanks for investigating this. However, if this is expected behaviour... what is the main target of the 'never' tag? The 'never' tag is ran when I ran a role with a tag and never mention the tag directly addressed to the task -the task with the 'never' tag is inside this role-. This is not what I expected, especially not when I read the documentation. In the docs, the example is with an 've

[2018-05-22 09:15] guillemsola commented on #39958
@Fred-sun I have a set of credentials you can request them to me guillemsola a_t gmail d_ot com.

Besides, discussing with one colleague at work we have seen that once a machine is successfully managed with ansible once it can be managed always 😲

As I was skeptical I did a test this morning. The machines that last week I stopped with ansible can be started today. New machines never managed with a

[2018-05-22 09:42] Fred-sun commented on #39958
hi @guillemsola Sorry, I cannot make sure the reason, But what different between new machine and old,  such as created method , system version ,machine configuration ,the state before the machine starts and so on. Thanks!

[2018-05-22 09:43] jborean93 commented on #40310
@svpudik not sure how I missed it from your whoami output but yes the account does not have SeDebugPrivilege enabled. This privilege is required as we inspect all running processes until we get one run by the system account and we impersonate that privilege. Without this you will not be able to debug the SYSTEM account or become any user and keep the admin rights.

Because this is the cause and no

[2018-05-22 09:43] #40310 closed, assigned to nobody

[2018-05-22 09:48] guillemsola commented on #39958
@Fred-sun no difference at all. Only that some machines have been already successfully managed by Ansible while the others not. As a reminder I'm creating my VM with Azure RM rather than Ansible.

[2018-05-22 09:54] pilou- commented on #40228
It is not specific to  OpenStack inventory plugin. This is an `ansible-inventory` problem: when `ansible-inventory --list` is used, group variables become host variables.

!component =lib/ansible/cli/inventory.py

[2018-05-22 09:57] Fred-sun commented on #39958
@guillemsola But I have create VM by azure RM to reproduced this problem, it cannot reproduced ,  After, I will recreate the VM by azure RM and try again, thanks !

[2018-05-22 10:00] wabat opened #40524 "local_action require privilege escaltion, and gives an error: 'vault_localhost_sudo' is undefined" while used in play on remote host"
##### SUMMARY

Local_action directive, used in remote hosts plays failed on several host of a group, when used vars_file directive in play.
Without vars_file directive local_action, used in this play gives an error: "msg": "The field 'become_pass' has an invalid value, which includes an undefined variable. The error was: 'vault_localhost_sudo' is undefined", (error appears both with become method

[2018-05-22 10:03] justjais commented on #36565
Fixed in #39668, queued for the 2.6 release.

[2018-05-22 10:06] lovenfrancis commented on #40396
screenshots using the same playbook

![ss01](https://user-images.githubusercontent.com/10527322/40356164-e14d1642-5dea-11e8-8abf-015d6d0341b6.png)
![ss02](https://user-images.githubusercontent.com/10527322/40356172-e57eea4c-5dea-11e8-97f7-63b9bda6db75.png)

[2018-05-22 10:09] lovenfrancis commented on #40396
screenshots using the same playbook

![ss01](https://user-images.githubusercontent.com/10527322/40356299-37628daa-5deb-11e8-8c58-f320327eeab7.png)

![ss02](https://user-images.githubusercontent.com/10527322/40356315-3d765b5e-5deb-11e8-84e2-303be387fb4a.png)

[2018-05-22 10:13] lovenfrancis commented on #40396
screenshots using the same playbook

![ss01](https://user-images.githubusercontent.com/10527322/40356468-b122d4c4-5deb-11e8-9f0f-da4bda430fee.png)

![ss02](https://user-images.githubusercontent.com/10527322/40356475-b756166c-5deb-11e8-9ecd-2d01180d13eb.png)

[2018-05-22 10:43] Akasurde commented on #40076
resolved_by_pr https://github.com/ansible/ansible/pull/40525

[2018-05-22 11:00] Akasurde commented on #40076
@shivam-chawla Could you please check the above PR and let me know if it works for you ?

With new patch, you will be able to set both "vmware" and "VMware, Inc." (default) as vendor name.

[2018-05-22 11:01] #40415 closed, assigned to acozine

[2018-05-22 11:04] Akasurde commented on #11498
For CVE and advisory - https://github.com/ansible/ansible/pull/40485

[2018-05-22 11:10] gundalow commented on #39201
In addition:
* Document that multiple prompts can be used
* Document how to escape (for regex matching), see https://github.com/ansible/ansible/issues/39856 for an example

[2018-05-22 11:46] Akasurde commented on #37254
@wojciechkopciewicz @karniemi  Could you please provide playbook which can be used to reproduce this issue ?

[2018-05-22 11:47] gustavomcarmo commented on #38973
@kyliel @yuwzho @zikalino I think this issue deserves attention. I've faced the same problem, while automating the deployment of the Gitlab Community Edition image. Take a look:

[code]

[2018-05-22 11:47] #18180 closed, assigned to gundalow

[2018-05-22 11:48] pilou- commented on #40228
This is a duplicate of #30877: `ansible-inventory --list --export` should fix this problem (`--export` is available since 2.6.0a1).

[2018-05-22 12:03] BarbzYHOOL opened #40526 "Proxmox_module - Edit PVE Container configuration file"
##### SUMMARY

We should be able to edit the configuration files from Containers (/etc/pve/lxc/<CTID>.conf) when using this module https://docs.ansible.com/ansible/latest/modules/proxmox_module.html#options

Actually we need to use blockinfile or lineinfile but it's not practical because it raises another issue readable here https://groups.google.com/forum/#!topic/ansible-project/5cA-FLlTQv4

http

[2018-05-22 12:10] #40058 closed, assigned to nobody

[2018-05-22 12:28] Akasurde commented on #40380
resolved_by_pr #40521

[2018-05-22 12:46] Tux12Fun opened #40528 "subversion co force dosn't work if directory exists"
##### SUMMARY

Like to checkout a SVN to an existing empty folder. Ansible complains, that the folder exists. The force parameter doesn't work

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

subversion

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
PERSISTENT_COMMAND_TIMEOUT(/etc/ansible/ansible.cfg) = 300
RETRY_FILES_ENABLED(/etc/an

[2018-05-22 13:02] umrikar opened #40529 "Unable to enable replication,provisioning while creating vmk on ESXI host"
##### SUMMARY

At present vmware_vmkernel module cant enable replication, provisioning services while creating vmk. These services can be enabled when creating vmk through ESXI UI

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

[code]
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

[2018-05-22 13:09] asantos82 opened #40530 "s3_bucket : Authentication failed when logged in with sts (assumed role)"
##### SUMMARY

Unable to create bucket when I have assumed a role via AWS CLI to login into an account.
When creating the bucket I get "The AWS Access Key Id you provided does not exist in our records."

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

s3_bucket
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
No changes
##### OS / ENVIRONMENT

"N/A"
##### STEPS TO REPRODUCE

Login

[2018-05-22 13:30] ecksun opened #40531 "apt module does not work without apt-mark"
##### SUMMARY
the `apt` module does not work without the `apt-mark` binary

The issue seems to have been introduced with #37751

I believe a simple, and correct, solution is to simply not mark the package as manually installed if the apt-mark binary is missing.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

apt

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_SCP_IF_SSH(/home/u

[2018-05-22 13:33] uraura00 commented on #40241
Why is this closed?
devel branch ansible/plugins/action/__init__.py:586 has invalid python code because of missing (...):
`expand_path = '~%s' % self._play_context.remote_user or self._connection.default_user or ''`
must be
`expand_path = '~%s' % (self._play_context.remote_user or self._connection.default_user or '')`

Because of this I always end up with something weird like echo ~None/.ansible/t

[2018-05-22 13:36] bcavns01 commented on #40512
Not sure if something like this is an option, but to get get the desired effect locally, I updated https://github.com/ansible/ansible/blob/dd02a4e9433f467aec5a4921fe2928bc651e47eb/lib/ansible/inventory/manager.py#L288-L290

To switch to
[code]
That turned any failure to parse dynamic inventory into a critical error that halted execution and ensured I don't end up executing with a partial inventory

[2018-05-22 13:37] guillemsola commented on #39958
@Fred-sun I have created a credentials file that you can use to discard this is a particular configuration issue. Send a msg to gmail.com with the same username that I have in github if you want it.

[2018-05-22 13:42] maxamillion commented on #40530
cc @wimnat @julienvey

[2018-05-22 13:47] wojciechkopciewicz commented on #37254
@Akasurde
We see this issue when working on our custom module that is yet not ready to publish.
But the following playbook should do the job:

[code]

Just run the playbook in a loop via vcenter and add/remove vms in parallel.

The fastest way to reproduce this was to add a loop in the module with the following code:
[code]
I proposed a fix for this - see https://github.com/ansible/ansible/pull/40

[2018-05-22 14:04] sivel commented on #40400
The purpose of the `never` tag is described in the docs I reference:

[2018-05-22 14:07] Porkepix opened #40536 "Explanation for error on lines starting with a quote displays an incorrect error message for lists lines"
##### SUMMARY

Explanation for error on lines starting with a quote displays an incorrect error message for lists lines.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Core (Yaml)
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Nothing relevant
##### OS / ENVIRONMENT

Archlinux
##### STEPS TO REPRODUCE

[code]
display a correct error message
[code]

[code]
display an erronous error mess

[2018-05-22 14:08] tandrieu opened #40537 "nxos_l3_interface - config is not generated"
##### SUMMARY
When using **nxos_l3_interface**, commands output remains empty

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_l3_interface

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
MAC OS X high sierra (10.13.4)
Target network hardware firmware : NXOS v 7.0(3)I7(2)

##### STEPS TO REPRODUCE

roles/l3g/tasks/main.yml
[code]

vlan_prov.yml
[code]

[2018-05-22 14:10] Alwaysc0d3 commented on #40400
@sivel I dont request specifically this tag. I request the tag of the role, which is in my site.yml and not in the main.yml task file.

[2018-05-22 14:13] sivel commented on #40396
Running the playbook from your `sample.playbook.2.zip` I get the following:

[code]

This appears to be working as expected.  I cannot reproduce your error.

needs_info

[2018-05-22 14:16] sivel commented on #40400
Yes, this is expected.

You have tagged the task as `never`, but then you also specify `tags: nginx`.  When specifying `tags` on a role, those specified tags get merged down onto all tasks within the role, so effectively you end up with a task that looks like:

[code]

Per the docs, when you specify the `-t nginx` tag, on a task tagged with `never`, the task will still execute.

If you have furthe

[2018-05-22 14:20] Alwaysc0d3 commented on #40400
Great explanation, thx.

[2018-05-22 14:29] maxamillion commented on #40531
cc @mkrizek @resmo

[2018-05-22 14:30] bcoca commented on #40228
@ITD27M01 this is how Ansible works, group data is always collapsed to the specific hosts, that is how the data exists when running plays.

The `--export` function is there to allow for keeping the data at the group level when exporting to other sources, its a convenience, but not how Ansible processes the data internally.

closing as per above

[2018-05-22 14:30] #40228 closed, assigned to nobody

[2018-05-22 14:37] gdykeman opened #40539 "F5 - bigip_node module server_port issue"
##### SUMMARY
F5 Bigip_node modules requires server port to be defined as a module parameter even if defined in provider.

##### ISSUE TYPE
 Bug Report

##### COMPONENT NAME
bigip_node

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_HOST_LIST(/Users/gdykeman/Documents/Ansible/networking/network-labs/Intro_F5_Automation/Labs/ansible.cfg) = [u'/Users/gdykeman/Documents/Ansible/networking/

[2018-05-22 14:38] gdykeman commented on #40539
@IPvSean

[2018-05-22 14:47] maxamillion commented on #40471
cc @ryansb

[2018-05-22 14:57] mikewiebe opened #40541 "Structured output unsupported failure using httpapi plugin on Nexus 3500 platform."
##### SUMMARY
Following changes introduced by https://github.com/ansible/ansible/commit/e9d7fa04181e91effad9fbfa2026e3994d695776#diff-367b0badce453463ffc33218f1507bdb

New failures occur on our Nexus 3500 platform running image version 6.0(2)A8(8)

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Several nxos_* modules on the N3500 platform.

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[

[2018-05-22 14:59] #40539 closed, assigned to nobody

[2018-05-22 15:00] #40483 closed, assigned to nobody

[2018-05-22 15:10] #40453 closed, assigned to nobody

[2018-05-22 15:15] benjdudas opened #40544 "Add standard available option tags to nios_network doc"
##### SUMMARY

Doc: http://docs.ansible.com/ansible/latest/modules/nios_network_module.html

Under the options parameter for the `name` field it may be good to provide the standard options there. You can configure custom options but it might be helpful to at least list the names of the standard ones.

[code]

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

nios_network

[2018-05-22 15:51] bcharboneauiherb commented on #39832
How I am reading it is that supposedly its not liking the UTF-8 hexcode 0xff character as the first character in the banner, which i do not see anywhere.  Any help?

http://www.fileformat.info/info/unicode/char/ff/index.htm

[2018-05-22 16:05] mirzazeyrek opened #40546 "Setting file permissions without folders"
As some of you already might know sometimes we need different permissions for folders and different permissions for files like in suggested WordPress configuration.

AFAIK, currently it's not possible to do it with 1 command only.

What I need to do is:

[code]

Currently I am using this for the first line but for the second line it's a bit complicated.

[code]

Is there a way to achieve this with

[2018-05-22 16:13] ATP3530 commented on #37567
Any workaround for now please?

[2018-05-22 16:21] trishnaguha commented on #40541
cc @Qalthos

[2018-05-22 16:35] maxamillion commented on #40452
@Sweenu Hi! I'm the one who commented on Reddit. :) I appreciate you filing the issue ticket, I have a PR that should resolve this. Happy Automating!

[2018-05-22 16:36] webknjaz commented on #40397
Can You Help Us Out?
====================

Thanks for filing a ticket!

It looks like you might not have filled out the issue description based on our standard issue template.  You might not have known about that, and that's ok too, we'll tell you how to do it.

We have a standard template because Ansible is a really busy project and it helps to have some standard information in each ticket, and G

[2018-05-22 16:36] #40397 closed, assigned to nobody

[2018-05-22 16:59] #29633 closed, assigned to nobody

[2018-05-22 17:01] webknjaz commented on #40546
Can You Help Us Out?
====================

Thanks for filing a ticket!

It looks like you might not have filled out the issue description based on our standard issue template.  You might not have known about that, and that's ok too, we'll tell you how to do it.

We have a standard template because Ansible is a really busy project and it helps to have some standard information in each ticket, and G

[2018-05-22 17:01] #40546 closed, assigned to nobody

[2018-05-22 17:17] samdoran commented on #40437
I am able to duplicate this and have determined why it is happening. Working on a fix, though it's a bit difficult.

[2018-05-22 17:18] s3w47m88 commented on #24628
I am experiencing this issue now as well.

    ansible 2.4.0.0
      config file = /home/{MYUSER}/Sites/{MYSITE}.com/trellis/ansible.cfg
      configured module search path = [u'/home/{MYUSER}/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
      ansible python module location = /usr/local/lib/python2.7/dist-packages/ansible
      executable location = /usr/local/bin/ansible

[2018-05-22 17:31] Guyverix opened #40549 "ansible_modeule_unarchive.py failure after update"
##### SUMMARY
Ubuntu Xenial release upgrade from Ansible 2.5.2-1 to 2.5.3-1 from the PPA appears to have broken part of the deploy environment dealing with unarchiving files.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible_module_unarchive.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ansible-config dump --only-changed
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/opt/

[2018-05-22 17:43] sivel commented on #40549
Duplicate of https://github.com/ansible/ansible/issues/40483

[2018-05-22 17:43] #40549 closed, assigned to nobody

[2018-05-22 17:47] sivel opened #40551 "synchronize uses remote_user to build local tmpdir"
##### SUMMARY

When using a `remote_user` with `synchronize`, `ActionBase._make_tmp_path` will utilize `remote_user` when building the tmpdir for local tmpdirs.

This was introduced in https://github.com/ansible/ansible/pull/36755

POC fix:

[code]

Cross ref: https://bugzilla.redhat.com/show_bug.cgi?id=1580530

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
synchronize
##### ANSIBLE VERSION

[2018-05-22 17:48] sivel commented on #40551
cc @jctanner @mkrizek

[2018-05-22 18:01] Guyverix commented on #40549
Sorry about the dupe.

[2018-05-22 18:22] der-ali opened #40553 "Ansible does not execute a playbook against on all hosts with password-protectedkey authentication"
##### SUMMARY
Ansible hangs when executing a playbook against multiple hosts with password protected key authentication. When clicking "Enter" key the playbook continuous executing but only on one host.
using  a passwordless key the playbook executes without any problem

##### ISSUE TYPE
 - Bug Report

#### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
ansible

[2018-05-22 18:37] shrenikp7 commented on #40469
Hi Marco,

Thank you so much for responding, it works. Appreciate!

Thanks
Shrenik Parekh

On Mon, May 21, 2018 at 8:50 AM, Marco Rodrigues <notifications@github.com>
wrote:

--
Thanks and regards.

Shrenik Parekh

[2018-05-22 18:38] shrenikp7 commented on #40469
Hi Matt,

Thanks for sharing link google group link for Ansible. It is my pleasure to
join it.

On Mon, May 21, 2018 at 10:16 AM, Matt Martz <notifications@github.com>
wrote:

--
Thanks and regards.

Shrenik Parekh

[2018-05-22 18:45] gothicx commented on #40424
This is a duplicate of #39412

[2018-05-22 18:49] tomernation opened #40556 "osx_defaults array_add into new key sets value to a string rather than array"
##### SUMMARY
Attempting to add a value into an array type key that does not already exist creates a string assignment rather than an array assignment.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
osx_defaults

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
DEFAULT_HOST_LIST changed

##### OS / ENVIRONMENT
OSX 10.13.x

##### STEPS TO REPRODUCE
1. On the host machine run: defaults writ

[2018-05-22 19:08] Sweenu commented on #40452
@maxamillion Thank you!!

[2018-05-22 19:16] maxamillion commented on #40511
cc @ryansb

[2018-05-22 19:17] maxamillion commented on #40452
I'll let this auto-close when the PR merges just

[2018-05-22 19:17] #40452 closed, assigned to nobody

[2018-05-22 19:23] sivel commented on #40551
`_remote_is_local` was recently added in https://github.com/ansible/ansible/pull/40259 to address a similar problem.

The only problem is due to how synchronize works, by swapping the connection plugin.

The POC above basically sets an instance attribute which will win out over the class attribute, preventing us from taking the problematic code path.

[2018-05-22 19:23] maxamillion commented on #40524
Thank you for the issue ticket!

At this time, I'm unable to reproduce this locally so some more context would be useful if you can provide it. I think some of the relevant output from the `ansible-playbook -i /etc/ansible/hosts.yml /etc/ansible/play/empty/emptyping.yml --ask-vault -vvvv` command is missing, could you please provide the full output (sanitized for any potential sensitive data).

Al

[2018-05-22 19:41] ajayreddy28390 opened #40561 "module is missing interpreter line - running python module"
##### SUMMARY

Running python script using Ansible boiler_plate, I get this error "module (run_cmd) is missing interpreter line"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

`lib/ansible/plugins/action/__init__.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expect to get date output
##### ACTUAL

[2018-05-22 19:58] sivel commented on #40561
I cannot reproduce this.  Running your module I actually got the following:

[code]

I fixed some things up and converted a few things to the way we expect modules to work:

[code]

This produces:

[code]

needs_info

[2018-05-22 20:08] mikewiebe commented on #40013
@gundalow I modified the Exception code to dump the exception but we were already getting it with the verbose mode.  No real additional info here:

[code]

[code]

I also increased the timeout but it had no impact.

[code]

[2018-05-22 20:12] ajayreddy28390 commented on #40561
Hi Sivel,

I used above python module on Linux  3.10.0-693.11.6.el7.x86_64. Still same error.
"msg": "module (run_cmd) is missing interpreter line"

[2018-05-22 20:27] mikewiebe commented on #40013
I updated my repo to grab the latest `devel` code and now I am seeing additional issues with transport `httpapi` and `network_cli`.  The only transport that still works IF it does NOT encounter the `Key-exchange timed out waiting for key negotiation` issue is connection `local`.

Here is the error I am seeing for `httpapi`:

[code]
And here is the one for `network_cli`:

[code]

NOTE: I did remove

[2018-05-22 20:38] maxamillion commented on #40553
Thank you for the issue ticket, I'm unable to reproduce the ssh connection hanging locally. Would you mind bumping the verbosity to `-vvvvv` and providing the output?

needs_info

[2018-05-22 20:40] gothicx commented on #40424
This should also fixes #39412

[2018-05-22 20:59] Sweenu commented on #40452
Oh sorry, didn't know it did

[2018-05-22 21:12] #29601 closed, assigned to nobody

[2018-05-22 21:12] #39276 closed, assigned to nobody

[2018-05-22 21:39] Straevaras opened #40564 "vmware_guest disconnect NICs when cloning from template (ref #38143)"
##### SUMMARY

When creating a new VM clone from an existing template with Ansible 2.5, the virtual NICs are not connected in VM configuration and the VM will not be able to obtain any network connection when creating clones.  This issue was previously reported in #38143 but the ticket opener self-closed the ticket.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE

[2018-05-22 21:49] spmp commented on #38973
I have a solution in place which is a bit of a hack but works for now:

[code]
Where the `urn` is:
[code]
You get the idea - all those references separated by colon

[2018-05-22 21:54] dseven opened #40565 "Docs should show that a handler can "listen" to a list of topics."
##### SUMMARY
Docs should show that a handler can "listen" to a list of topics.

##### ISSUE TYPE
 - Documentation Report

http://docs.ansible.com/ansible/latest/user_guide/playbooks_intro.html states that 'As of Ansible 2.2, handlers can also “listen” to generic topics, and tasks can notify those topics as follows:', and shows two examples, each of which only "listen"s to one topic. From reverse-

[2018-05-22 22:12] samdoran opened #40566 "VyOS and EdgeOS modules stack trace during execution"
##### SUMMARY
When trying to run `vyos_facts`, `edgeos_facts` as well as other modules for those operation systems, Ansible shows a stack trace.

Bisected to 483df136266c6e7600e7f02ee718a8b1be803461 as the first failing commit.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
`vyos_facts`
`vyos_command`
`edgeos_facts`
`edgeos_command`
`edgeos_config`

##### ANSIBLE VERSION

[code]

##### CONF

[2018-05-22 22:13] uocxp commented on #40553
[code]

[2018-05-22 22:14] uocxp commented on #40553
which output ?

[2018-05-22 22:33] #30034 closed, assigned to nobody

[2018-05-22 23:07] Sean1140 commented on #10829
+1 this

[2018-05-23 00:00] mattclay opened #40569 "Failing integration test cs_vpn_gateway"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

cs_vpn_gateway

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The integration test cs_vpn_gateway is disabled because it always fails.

##### STEPS TO REPRODUCE

`ansible-test integration cs_vpn_gateway --docker -v --allow-disabled`

##### EXPECTED RESULTS

Tests pass.

##### ACTUAL RESULTS

[2018-05-23 00:02] mattclay opened #40570 "Failing integration test cs_vpn_connection"
##### ISSUE TYPE

Bug Report

##### COMPONENT NAME

cs_vpn_connection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

The integration test cs_vpn_connection is disabled because it always fails.

##### STEPS TO REPRODUCE

`ansible-test integration cs_vpn_connection --docker -v --allow-disabled`

##### EXPECTED RESULTS

Tests pass.

##### ACTUAL

[2018-05-23 01:43] tarheelcoxn commented on #30833
The attached PR by @drmrd works for me against a copy of haproxy.py from the 2.5.3 rpm on el6. Please merge it.

[2018-05-23 02:51] automationnuts commented on #40207
PLAY [OEL7] **********************************************************************************************************************

TASK [Gathering Facts] ***********************************************************************************************************
ok: [129.213.47.235]

TASK [debug] ******************************************************************************************************

[2018-05-23 02:52] automationnuts commented on #40207
I also tried on many version and diffrenet playbook and it does not display variable when register. Did you checked the bug which I pasted link earlier?

[2018-05-23 03:06] jborean93 commented on #40207
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * Ansible 2.3.0.0 is no longer supported, please try on the latest Ansible release
   * I am able to run that playbook you posted it works fine, even on 2.3.0.0

[2018-05-23 03:06] #40207 closed, assigned to nobody

[2018-05-23 03:21] automationnuts commented on #40207
I tried printing std for register variable and it does not do that for any playbook. it is for sure bug

[2018-05-23 03:30] jborean93 commented on #40207
Look closely, you can see your output

[code]

It goes straight from gathering facts to the debug task, skipping your shell task where the variable is registered. This is why the debug task is saying the variable isn't defined.

Compare this to the run of the following playbook

[code]

Here is the output

[code]

I've even run this all the way back to 2.3.0.0 and they all work fine to me. My gues

[2018-05-23 03:46] ghost opened #40581 "Implement replace_dash_in_groups option in aws_ec2 inventory plugin"
##### SUMMARY

Implement replace_dash_in_groups in aws_ec2 inventory plugin
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

aws_ec2 inventory plugin
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A
##### STEPS TO REPRODUCE

So at the moment, if I have this in my `hosts.aws_ec2.yml`

[code]

##### EXPECTED RESULTS

For instances with the name `foo-bar`

[2018-05-23 03:49] bcoca commented on #40581
like: ` - key: tags['Name'].replace('-', '_')` ?

[2018-05-23 04:08] gowthamnakulan opened #40582 "Creating VM from Template is Failing"
##### SUMMARY

We are trying to create VM from template.
I am  facing issue at assigning ip line.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

vsphere_guest:
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

VMshould be created from template and assigned the ip for the interface which i a

[2018-05-23 04:32] cam-fulcrum commented on #40581
Yeah! Thanks! I believe its `- key: tags['Name'].replace('_', '-')` although I've just tried that and it doesn't work (it works for other characters though)

[2018-05-23 04:48] Akasurde commented on #40582
@gowthamnakulan Thanks for reporting this issue. I see three potential issues here -

1. vsphere_guest is deprecated module, I would recommend you to use `vmware_guest` module

2. You have wrong indentation in your Playbook yaml at `ip`. You can use `--syntax-check` option in Ansible command to check syntax of pb before hand.

3. There is no parameter called `networks` in vsphere_guest.

needs_inf

[2018-05-23 04:57] #34195 closed, assigned to nobody

[2018-05-23 05:18] trishnaguha commented on #40537
@tandrieu think I know why. I am hoping this should possibly work when you enter `Vlan1753` as name i.e, first letter in uppercase.

[2018-05-23 05:39] gowthamnakulan commented on #40582
@Akasurde  Thanks for the input. Have fixed the issue using vmware_gyest module.

Working Playbook below:-

---

- hosts: 127.0.0.1
  connection: local
  user: root
  sudo: false
  gather_facts: false
  serial: 1

  tasks:
  - name: Importing Variables
    include_vars: main.yml
  - debug: var=hostname_var
  - debug: var=username_var
  - debug: var=password_var

  - vmware_guest:
       hostname:

[2018-05-23 05:39] #40582 closed, assigned to nobody

[2018-05-23 05:41] Akasurde commented on #40582
@gowthamnakulan Thanks.

[2018-05-23 05:43] #34787 closed, assigned to nobody

[2018-05-23 05:48] yuwzho commented on #30982
When you install the package with `sudo`, the pip may install the package to a path which is not in your `$PYTHONPATH`. Please do the following checking:

1. check your python sys path:

[code]

2. find your target package path

[code]

3. check the step2's path is in the setp1's sys path. If not, add the `PYTHONPATH` by `export PYTHONPATH=PYTHONPATH:<path-step-2>`

**Most case should be find at h

[2018-05-23 06:06] talonx opened #40586 "ansible-galaxy fails to validate the SSL certificate for github.com:443"
##### SUMMARY
Running ansible-galaxy to install a role fails with a certificate validation error.

sudo ansible-galaxy -vvv install DavidWittman.filebeat

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible-galaxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

"Ubuntu 17.10"

Linux 4.13.0-39-generic #44-Ubuntu SMP Thu Apr 5 14:25:01 UTC 2018 x86_64 x86_64 x8

[2018-05-23 06:29] trishnaguha commented on #31862
@dathelen yes agreed, sorry for the delay. @NilashishC is working on the fix for getting `level` supported with logging buffered also.

[2018-05-23 06:33] resmo commented on #40570
resolved_by_pr #40587

[2018-05-23 06:33] resmo commented on #40569
resolved_by_pr #40587

[2018-05-23 06:42] justjais commented on #36565
will be fixed in 2.6 release, so closing the respective bug

[2018-05-23 06:42] justjais commented on #36565
will be fixed in ansible 2.6 release, so closing the respective bug

[2018-05-23 06:42] #36565 closed, assigned to justjais

[2018-05-23 06:53] #40569 closed, assigned to resmo

[2018-05-23 06:53] #40570 closed, assigned to resmo

[2018-05-23 06:55] trishnaguha commented on #40013
@mikewiebe this is because `provider` is ignored when using `network_cli` and `httpapi`.
We will need to leverage action plugin to get username, host and password in the module.

[2018-05-23 07:32] rutujasurve commented on #29214
Are all mysql database modules listed in the http://docs.ansible.com/ansible/latest/modules/list_of_all_modules.html doc compatible with mariadb? Is there a need for raising feature requests for mariadb_user, mariadb_variables modules or are their mysql counterparts mysql_user, mysql_variables compatible with mariadb? If so, could it be documented in the list of docs as well?

[2018-05-23 08:05] tandrieu commented on #40537
Hey @trishnaguha , thanks for the answer.

Tried your workaround (btw, vlan1753 in downcase works with module nxos_interface :) )

So, now a config is generated but deployment fails :

[code]
And this time I know why : VLAN Interface (SVIs) don't accept the `no switchport` command (a SVI is already layer3, can't be converted).

Just checked at the code and we might need a condition to generate com

[2018-05-23 08:26] dentarg commented on #30411
We have also been experiencing Ansible hanging without any error message, when running playbooks against  23 hosts, with `forks=25`. We use Ansible 2.2.3.0, but have the same problem with Ansible 2.5.3. We run our playbooks from macOS 10.12.6, using Python 2.7.15. With `forks=5`I don't see the problem. We also don't see the problem when using `transport=paramiko` (and `forks=25`).

[2018-05-23 08:32] mkrizek commented on #40531
@ecksun Thanks for the bug report! I don't have an access to `yocto linux`, I am curious, what version of `apt` is installed? Is `aptitude` installed - can we do fallback to `aptitude unmarkauto`? Trying to figure out what options we have here and why `apt-mark` is not available there. Thanks!

[2018-05-23 08:51] ShaolongTan opened #40589 "win_service don't work when change window start_mode from auto to delayed"
##### SUMMARY

Changed a window service mode from auto to delayed, ansible win_service module wasn't work.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

win_service

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

1. install tomcat8.5 as a service at window2012 OS.
2. try to change the service start_mode from auto to delaye

[2018-05-23 10:02] adrianrise commented on #40328
@sivel This solution "failed_when: result2.rc not in [0, 255]" works like a charm.

Didn't see it at the docu.
Thank you!

[2018-05-23 10:08] willemdh opened #40594 "Allow selection of hostgroup in nagios module"
##### SUMMARY
The Ansible 'nagios' module doesn't allow selecting a hostgroup for configuring downtime for all hosts in the selected hostgroup.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
nagios module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ansible server => Red Hat Enterprise Linux Server release 7.4 (Maipo)
Nagios server =>  CentOS release 6.9

[2018-05-23 10:08] BenJaziaSadok commented on #13262
Hello, does this feature implemented?

[2018-05-23 10:10] trishnaguha commented on #40537
@tandrieu ah switchport issue is fixed on `devel` branch https://github.com/ansible/ansible/commit/6db3f522c821fb78455fbe4e5999f8c3c26b8828. We will cherry-pick this fix to 2.5.4. Also I am working on the fix for the bug you primarily opened.

[2018-05-23 10:38] jnupponen opened #40595 "aws_ec2 inventory plugin to return private_id_address instead of private_dns_name"
##### SUMMARY

When usin aws_ec2 inventory plugin and hosts have only private IP addresses it would be preferable to have the plugin return their IP addresses instead of dns names because internal dns names won't be resolved outside VPC.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

aws_ec2
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.

[2018-05-23 10:40] tgoetheyn commented on #40594
👍

[2018-05-23 11:09] rcarrillocruz commented on #39576
Hi @mfisher30

I pushed https://github.com/rcarrillocruz/ansible/commit/a95e735269a76bc2ca32ecf80802bee9ed878eee , which it won't gather mem facts in case we get an error on 'show memory statistics', based upon the underlying code @Qalthos pushed.

However, if you tell me if there is another command that works in your device to get the same output for memory, I could do a fallback logic.
On a C385

[2018-05-23 11:20] apendragon opened #40596 "azure availability zone feature"
##### SUMMARY

Azure availability zone feature is missing in azure_rm_virtualmachine
##### ISSUE TYPE
 - It would be very useful to add an option to manage [availability zones](https://docs.microsoft.com/en-us/azure/availability-zones/az-overview) in azure_rm_virtualmachine

##### COMPONENT NAME

azure_rm_virtualmachine

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

_none_
##### OS / ENVIRON

[2018-05-23 11:21] wabat commented on #40524
Yes, it look like, but only when I try to include vars_file like this:

For test I have grouped 2 similar host: host_a and host_b
[code]
and ansible tries to ssh with localhost user, you are rigth
But, when i try to do something with local_action directive, including vars_files, this error appears.
So, I have also tried to put all vars_files, that could be required for this play, but play fails, a

[2018-05-23 11:29] mkrizek commented on #40531
Oh, so it's a bug in the source package that `apt-mark` is not available?

In this case (sounds like a rare corner case) looks like not marking packages if `apt-mark` is not available seems like only option we have. Let me prepare a PR.

Thanks for all the info!

[2018-05-23 11:36] tandrieu commented on #40537
Thanks @trishnaguha, tell me if you need assistance for testing or something else !

[2018-05-23 11:37] trishnaguha commented on #40537
@tandrieu Can you please try the fix https://github.com/ansible/ansible/pull/40598 and test with lowercase vlan?

[2018-05-23 11:48] trishnaguha commented on #40537
To test the PR:
[code]
or
[code]
now run your playbook. This will enable ansbile `2.6.0devel`

[2018-05-23 12:05] cortexx commented on #39663
Hi,

Same problem here and I confirm that in Grafana release number `>= 5.0` the method `Get dashboard by slug` had been deprecated. The method `Get dashboard by uid resource` is recommended instead.

See link for more information : http://docs.grafana.org/http_api/dashboard/#get-dashboard-by-slug

Do you know any workaround to implement to continue to use this useful module ?

##### GRAFANA VERSI

[2018-05-23 12:29] trishnaguha commented on #40537
@tandrieu please install `python-jinja2` on your system.
pip install jinja2
or
install python-jinja2 directly if you are using linux host.

[2018-05-23 12:34] lufik commented on #40515
PR for backport into stable-2.5 created. I hope it helps.

[2018-05-23 12:43] #40531 closed, assigned to mkrizek

[2018-05-23 12:43] AmFlint commented on #40586
Hi, I just add the same issue on macOSX using python2.7.
The problem comes from your python version.
You  should:
[code]

You can then verify your installation with:
[code]

This fixed it for me :)

[2018-05-23 12:46] yodatak commented on #10110
Same on 2.5.2

[2018-05-23 12:56] ecksun commented on #40531
thank you very much :)

[2018-05-23 13:21] tandrieu commented on #40537
@trishnaguha thanks, so here is the result

- using `vlan1753` in downcase works, got this config :

[code]

But found another bug (or maybe it's a feature :) ) : if the interface doesn't exist, the module doesn't create it. => If I send a `no interface vlan1753` to the switch and send try to run the playbook, nothing happens. If I recreate the interface manually, the playbook works !

[2018-05-23 13:27] trishnaguha commented on #40537
That's how the module is designed. You can use nxos_interface for configuring interface on the top this task.

[2018-05-23 13:33] smiller171 commented on #13262
@BenJaziaSadok No. see: https://github.com/ansible/ansible/issues/13262#issuecomment-335904803 for details.

Looping over includes is the best way to handle this for now.

[2018-05-23 13:35] rcarrillocruz commented on #31575
Hi @nickrusso42518

Can you checkout https://github.com/rcarrillocruz/ansible/commit/cd10a65f594fb4163c1afb07321283fcad8ca102 ?

I think with that change the unauthorized commands should be caught, therefore the tasks flagged as failed.

[2018-05-23 13:42] dennisconrad opened #40608 "APT Issues on Minimal Debian and Ubuntu Installations"
##### SUMMARY
PR https://github.com/ansible/ansible/pull/37121 and its `2.5.3` backport https://github.com/ansible/ansible/pull/39409 added `--no-install-recommends` to the installation of `python-apt` and `python3-apt` respectively in the `apt` module.

This behaviour is *not* affected by the `install_recommends` option in the `apt` module, as the switch is hardcoded in the installation of `pytho

[2018-05-23 13:43] tandrieu commented on #40537
Sounds good, already using this one for interfaces descriptions !

[2018-05-23 13:44] gundalow commented on #40514
Would you like to raise a PR to fix this?

[2018-05-23 14:01] ghost opened #40611 "unable to access enable mode on Cisco ASA"
##### SUMMARY
unable to enter enable mode on Cisco ASA

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
asa_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_FORCE_COLOR(/home/ddean1/playbooks/HCS_NEW/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/home/ddean1/playbooks/HCS_NEW/ansible.cfg) = -o ControlMaster=auto -o ControlPersist=30s
DEFAULT_GATHERING(/home/ddean1/playbooks/HCS_NEW

[2018-05-23 14:04] #38817 closed, assigned to Qalthos

[2018-05-23 14:08] uocxp commented on #40553
#### update
i desperately clicked "Enter" and the execution continued. But only one host was reachable though i can execute the playbook on all hosts singly.

[code]

[2018-05-23 14:11] ryansb commented on #40511
I'm unable to reproduce on either 2.5.3 or 2.6-dev. It seems this issue has been fixed in later 2.5.x versions.

[code]

[code]

[2018-05-23 14:11] #40511 closed, assigned to nobody

[2018-05-23 14:17] #40173 closed, assigned to nobody

[2018-05-23 14:19] linlinas commented on #22397
Hello,

What about the case when I am passing a inventory group name based on the predefined variable?
In this scenario based on the variable "sync_source", I invoke to inventory group which is passed as a variable by the user.
'''
    - debug:
        msg:
          - "source instance: {{ inventory_hostname }}"
          - "{{ dir }} size is {{ result_dir_size }} GB"
      when: "inventory_hostna

[2018-05-23 14:20] ibarrere opened #40613 "ios_config erroneously adds space in command"
##### SUMMARY

The ios_config module adds an extra space to some commands.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/home/ibarrere/git/dv-ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/home/ibarrere/git/dv-ansible/ansible.cfg) = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
CACHE_PLUGIN(/h

[2018-05-23 14:21] sivel commented on #22397
@linlinas

[code]

[2018-05-23 14:29] uocxp commented on #40553
### update

using a passwordless ssh key the playbook executed without any problem. The problem remains using a password protected ssh key.

[2018-05-23 14:31] #40613 closed, assigned to nobody

[2018-05-23 14:31] ibarrere commented on #40613
Actually, this looks to be related to issue #29577.

[2018-05-23 14:32] Pectojin opened #40615 "Yum module doesn't respect update_only parameter"
##### SUMMARY
I've been toying around with a role to update specific errata from redhat whenever it comes out and thought the `update_only` parameter for the yum module looked interesting.

However, I've found it doesn't seem to respect the parameter. Even though it does print out messages in debug saying it's going to skip updating packages that are not installed it will still install them on the

[2018-05-23 14:32] carlniger commented on #40514
[Done](https://github.com/ansible/ansible/pull/40614). Realized I had specified wrong file here, but obviously fixed that in the PR. Didn't know if there was a preference on flavor of fix so went w/ the same fix that has been implemented in the EOS/IOS modules.

[2018-05-23 14:33] ibarrere commented on #29577
It looks like this is due to ios_config inserting spaces where spaces don't belong. In all the cases I can see from the command archives on the routers themselves, there's either a trailing space or a space in the middle of the command. I opened issue #40613 thinking it was separate, but after looking at it a bit more, it's the same thing.

[2018-05-23 14:37] maxamillion commented on #40553
Ansible doesn't handle password prompting for ssh keys and it looks like you are trying to run a playbook with a key that needs a password (I think `paramiko` does prompt, but the `ssh` connection plugin does not)

`Enter passphrase for key '/home/alex/.ssh/pvk': Enter passphrase for key '/home/alex/.ssh/pvk': Enter passphrase for key '/home/alex/.ssh/pvk':`

[2018-05-23 14:46] karniemi commented on #37254
@Akasurde @wojciechkopciewicz Hi, not sure if I'm reading the code correctly in PR #40527...but to me it seems to fix a similar issue in another place. As far as I can see,  it does not address the bug in the piece of code that I pointed originally … in the description of this issue… in vmware.py:find_vm_by_id()-function. What do you think?

[2018-05-23 14:59] casept commented on #4297
@kcd83's workaround worked for me on ansible 2.5.3.

[2018-05-23 15:03] tbielawa commented on #40594
This is a great enhancement idea!

[2018-05-23 15:33] karniemi commented on #37254
For us, the problem happened early in vmware_guest module execution. The code path was from this line:
https://github.com/ansible/ansible/blob/d14467b0294296b9a2b85e0ad150315c2d5a2491/lib/ansible/modules/cloud/vmware/vmware_guest.py#L1468
...with the VMs "name" as search criteria... up to the  vmware.py:find_vm_by_id(), which still has that bug in devel. Only, I'm not sure if find_vm_by_id() is us

[2018-05-23 15:40] thefueley opened #40619 "Cannot Inventory AzureRM ScaleSet Instances"
##### SUMMARY

Cannot inventory Azure RM scale set instances using azure_rm.py script.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ansible/contrib/inventory/azure_rm.py

##### ANSIBLE VERSION

[user@ansible ~]$ ansible --version
ansible 2.5.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/nwt/.ansible/plugins/modules', u'/usr/share/ansible/plugins/m

[2018-05-23 16:12] #40537 closed, assigned to trishnaguha

[2018-05-23 16:21] utoddl commented on #39003
To do this as described requires dropping the deprecated "optparse" in favor of "argparse" which allows options with zero or more parameters. After that huge lift, this would be a trivial change. And quite useful! The addition of the "hosts (#):" line broke many of our automation scripts when we moved from version <2 on RHEL / Tower, so I for one would be glad to see this change.

In the mean time

[2018-05-23 16:32] talonx commented on #40586
Thanks for the workaround - I haven't tried it yet.

[2018-05-23 17:00] plumbeo opened #40625 "Ansible 2.5.3 doesn't create the correct remote_tmp directory when the remote user isn't specified"
##### SUMMARY
Ansible 2.5.3 creates a `~None` directory inside the remote user's home directory when `remote_tmp` is set to the default value of `~/.ansible/tmp` and the remote user isn't specified on the command line or in the config file but defaults to the name of the current user.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
A

[2018-05-23 17:07] uocxp commented on #40553
i didn't know that ansible does not handle password prompting for ssh keys. where is that stated? i didn't find anything relevant in the documentation.

[2018-05-23 17:11] Akasurde commented on #36985
resolved_by_pr #40601

[2018-05-23 17:17] #36985 closed, assigned to nobody

[2018-05-23 17:36] bcavns01 opened #40626 "JunOs commit confirmed instant rollback"
##### SUMMARY

`confirm` option of the `junos_config ` module does not work as expected.  Commits are immediately rolled back.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

junos_config
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(env: ANSIBLE_NOCOWS) = True
##### OS / ENVIRONMENT

OS running ansible:
Ubuntu 16.04.3 LTS

OS being managed:
Model: qfx5100-48s-6q
Junos:

[2018-05-23 17:36] sivel commented on #40625
Duplicate of https://github.com/ansible/ansible/issues/40483

[2018-05-23 17:36] #40625 closed, assigned to nobody

[2018-05-23 17:40] wojciechkopciewicz commented on #37254
@karniemi @Akasurde
I managed to reproduce this with the following playbook:
[code]
Fix is on the way - verifying it right now

[2018-05-23 17:56] ryansb commented on #40471
Cannot repro on 2.5.3 or 2.6-dev

[code]

[code]

[2018-05-23 17:56] #40471 closed, assigned to nobody

[2018-05-23 18:50] samdoran commented on #40566
Here are the host_vars:

[code]

[2018-05-23 19:12] tcd156 commented on #31620
Is there any news on this issue? I am receiving the HMAC issue as well, and I have tried numerous permutations of the problem. I have:

- encrypted the strings on OS X and Ubuntu
- used different passwords
- tried encrypting a whole file, or just encrypting single values

and I always receive:  "Decryption failed (no vault secrets would found that could decrypt)"

[2018-05-23 19:26] sivel commented on #40586
This is a known issue in Ansible 2.3.  We had planned to release a fix for this, but Ansible 2.3 entered end of life before the fix was released.

It is recommended that you upgrade ansible to a supported version (2.4+)

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-pr

[2018-05-23 19:26] #40586 closed, assigned to nobody

[2018-05-23 19:33] #37224 closed, assigned to nobody

[2018-05-23 19:34] #29260 closed, assigned to nobody

[2018-05-23 19:36] #35859 closed, assigned to nobody

[2018-05-23 19:40] 514amir opened #40630 "Action plugin doesn't pass environment to script"
##### SUMMARY
If we add some environment to a specific action task it seems that the action called (a python script) doesn't get that set as it's environment. We are using ansible tower too.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

action

##### ANSIBLE VERSION

ansible 2.4.3.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/module

[2018-05-23 19:44] eoprede opened #40631 "F5 bigip_pool_member reports change needs to be made when there's no change"
##### SUMMARY
When running playbook with bigip_pool_member module with state: present against live device, each run results in change being made when in reality there's no need for a change.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

bigip_pool_member
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running Ansible within container as described here: http://r

[2018-05-23 19:47] sivel commented on #40630
I cannot duplicate this.  I created the following module:

library/register_to_action.py
[code]

And updated the playbook to look like:

[code]

Which results in the following output:

[code]

This indicates that the environment is correctly passed to the custom module executed via `action`.

Please provide the contents of your `register_to_action` file, and verbose output of ansible-playbook util

[2018-05-23 19:47] eoprede commented on #40631
@caphrim007 This doesn't affect functionality and is mostly cosmetic.

[2018-05-23 20:09] jborean93 commented on #40204
@GaboFDC did you try out the become stuff I asked you to? Can you run it with `-vvvvv` and post the results back

needs_info

[2018-05-23 20:21] #38364 closed, assigned to nobody

[2018-05-23 20:42] maxamillion commented on #40553
@uocxp It turns out we 100% do not have that documented. Now we will once https://github.com/ansible/ansible/pull/40633 merges.. Thank you for bringing that to our attention, apologies for the confusion.

[2018-05-23 20:45] #38745 closed, assigned to nobody

[2018-05-23 20:49] maxamillion commented on #40553
@uocxp I was corrected by another member of the team who knew where this was (I failed to find it so we need to make it more visible). "Note that you must have passphrase-less SSH keys or an ssh-agent configured for this to work, otherwise rsync will need to ask for a passphrase." http://docs.ansible.com/ansible/latest/user_guide/playbooks_delegation.html

[2018-05-23 20:51] maxamillion commented on #40553
@uocxp also note, you can use the `private_key_file` option to the [ssh connection plugin](https://docs.ansible.com/ansible/devel/plugins/connection/ssh.html)

[2018-05-23 21:11] sat1121 commented on #40180
@Akasurde I tried to debug my environment and I dont see any issues, any thoughts on what could be possible issue. Thanks for the support

[2018-05-23 21:14] joelwking opened #40636 "aci_contract: No JSON object could be decoded error"
##### SUMMARY

##### ISSUE TYPE
 - Informational

##### COMPONENT NAME

aci_contract

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_LOOKUP_PLUGIN_PATH(/etc/ansible/ansible.cfg) = [u'/usr/share/ansible/plu
DEFAULT_MODULE_PATH(/etc/ansible/ansible.cfg) = [u'/usr/share/ansible']

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

Following APIC upgrade to Version: 3.1(2o), the ACI p

[2018-05-23 21:14] ghost opened #40637 "vmware_guest tries to customize the VM when using the networks parameter."
##### SUMMARY
vmware_guest tries to customize the VM when using the networks parameter even without optionnal parameters used for OS customization.
The error that appears is "Failed to create a virtual machine : Customization of the guest operating system 'rhel7_64Guest' is not supported in this configuration. Microsoft Vista (TM) and Linux guests with Logical Volume Manager are supported only for

[2018-05-23 21:45] techfishio commented on #33131
This happens (include_tasks not found) when *role A* includes *role B* using `meta/main.yml/dependencies: role B` and role B uses `include_tasks: somefile.yml`.

You will get:

[fatal: [x.x.x.x]: FAILED! => {"reason": "Unable to retrieve file contents\nCould not find or access '<path_to_playbook>/setup_java.yml'"}](url)

[2018-05-23 22:18] Dmitry1987 commented on #10446
Does this mean we can only "merge" hashes when they are declared on different precedence levels?

[2018-05-23 22:20] bber31 commented on #15786
@bcoca was there any change about this subject ?

I find this behavior quite unapropriate: when we provide a list of tags to be included, having unknown tags being ignored is an issue: we can't parse ansible output everytime we launch it, to ensure there was no mispelling into tags.

[2018-05-23 23:46] #36621 closed, assigned to nobody

[2018-05-23 23:58] mikewiebe commented on #40013
@trishnaguha I patched in the changes from #40592 but now I see the following error.

[code]

[2018-05-24 00:28] dagwieers commented on #40636
A few questions:
1. Did you try using [Signature-based authentication](https://docs.ansible.com/ansible/devel/scenario_guides/guide_aci.html#signature-based-authentication-using-certificates) ? This is to avoid [too many consecutive API calls result in connection throttling](https://docs.ansible.com/ansible/devel/scenario_guides/guide_aci.html#known-issues)
2. I did not see the 'raw' key in the ou

[2018-05-24 00:54] mikewiebe commented on #40013
Same issue for `network_cli`

[code]

[2018-05-24 01:11] mikewiebe commented on #40013
@trishnaguha BTW, `net_put` did not work any better :(

[code]

[2018-05-24 01:45] #37330 closed, assigned to nobody

[2018-05-24 02:03] #36649 closed, assigned to nobody

[2018-05-24 02:22] #24241 closed, assigned to nobody

[2018-05-24 02:29] #40383 closed, assigned to nobody

[2018-05-24 03:21] #38559 closed, assigned to trishnaguha

[2018-05-24 03:30] yuwzho commented on #40596
+label easyfix +label feature

[2018-05-24 04:05] jborean93 commented on #40589
What happens when you run the task twice, what start mode does the GUI show?

needs_info

[2018-05-24 04:14] Akasurde commented on #39959
@cavamagie Could you please explain your environment details so that we can reproduce the issue?
Take a look at this issue description for reference - https://github.com/ansible/ansible/issues/38955

[2018-05-24 04:32] #37734 closed, assigned to nobody

[2018-05-24 04:32] #37917 closed, assigned to nobody

[2018-05-24 04:42] k-troska commented on #40471
Sorry. Seams to be fixed by this already  bf1436ca52a5088109812931fc51667ffafc2199.

[2018-05-24 04:46] #38778 closed, assigned to nobody

[2018-05-24 04:58] Akasurde commented on #38799
@umrikar Does the patch works for you ? Let me know so that I can merge it after review.

[2018-05-24 05:57] soulawaker commented on #15988
Same references, commands and symptoms with @tliss.
In my case, Ansible version 2.5.3, Python version = 2.7.12.

[2018-05-24 06:07] sac commented on #40410
@nerzhul setting the options works while creating the volume. Your playbook does not include the `options: "{{ item.options }}" '

The below playbook worked just fine for me:

[code]

[2018-05-24 06:58] rndmh3ro commented on #33555
I can confirm that https://github.com/ansible/ansible/pull/26582 is the issue.
This PR breaks nodejs v4.3.1 compatibility. So the solution for me is to update nodejs.

## ansible 2.4.4.0
changed: true
[code]

## ansible 2.5.1 and onwards
changed: false
[code]

When removing the `--long` option from [here](https://github.com/ansible/ansible/blame/devel/lib/ansible/modules/packaging/language/npm.py#

[2018-05-24 07:04] Akasurde commented on #40637
@ProfessorDub Thanks for reporting and debugging this issue. I am able to by-pass the customization using this -

[code]

Need more testing before using this change though. Will keep you posted.

[2018-05-24 07:32] prikkeldraad commented on #15321
Adding my key with ssh-copy-id to the remote server fixed the problem.

[2018-05-24 07:36] Akasurde commented on #40180
@sat1121 I am not sure how did you end up in this error (Traceback is least expected with this change). Could you please elaborate more on how you are using this patch ?

[2018-05-24 07:43] jnupponen commented on #40595
Thanks @s-hertel ! This
[code]

[2018-05-24 07:48] #39856 closed, assigned to gdpak

[2018-05-24 08:03] Fred-sun commented on #39958
Hi @guillemsola Maybe I have method reproduced this error, After recheck it, I will update the comment again, Thanks a lot!

[2018-05-24 08:17] spmp commented on #38883
I have resolved this problem in my branch:
https://github.com/spmp/ansible/tree/feature/os_disk_size

I am unlikely to have time to create tests etc. at this stage, but will open a PR soon pending comments.

[2018-05-24 08:20] chopraaa commented on #35665
@dagwieers I'd also be in support of this.

[2018-05-24 08:55] the1bit opened #40648 "azure_rm_virtualmachine: Azure Error - Multiple NICs: NetworkInterfaceMustHavePrimaryPropertySet, Message: Network interface must have Primary property set."
##### SUMMARY

Hi,

I would like to create VMs with 2 NICs. During I execute the playbook I am facing the following error:
[code]

Although I saw this issue was solved in the past I cannot find how can I set the Primary parameter.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
[code]

###

[2018-05-24 08:59] Akasurde commented on #40180
https://github.com/vmware/pyvmomi/issues/682

[2018-05-24 09:01] kxseven opened #40649 "win_group_membership failing if user/group specified is already a member of the group"
##### SUMMARY

- When using the win_group_membership module the invocation fails if user/group specified is already a member of the group
- This happens when the user/group has been added manually and then Ansible is run (Ansible did not add member to group)
- This also happens when Ansible is invoked multiple times; Ansible added the user/group as a member on 1st run but on 2nd and future runs it

[2018-05-24 09:02] Akasurde commented on #39605
@cigamit @dagwieers Do you have any idea about this ?

[2018-05-24 09:03] kxseven commented on #40649
In the event that anyone has a similar issue and needs a workaround until this is fixed - I use the following snippet instead

[code]

[2018-05-24 09:20] jrvilda commented on #39605
I have taken a long time to know the error, since the module does not return or I do not know how to find different traces that can be returned by the different actions.
Very little trace information.

I close the incidence

[2018-05-24 09:20] #39605 closed, assigned to nobody

[2018-05-24 09:25] #40410 closed, assigned to nobody

[2018-05-24 09:29] Akasurde commented on #40410
@nerzhul it's ok. @sac thanks for debugging this issue.

[2018-05-24 09:32] nerzhul commented on #40410
sometimes i miss a line when i push a task with many attributes... and i missed this line was missing heh

[2018-05-24 09:45] sac commented on #40410
@nerzhul no problem :+1:

I have fixed the issue with the patch: https://github.com/sac/ansible/commit/9359af4423cd5e when you get some time please review.

[2018-05-24 09:46] sac commented on #40410
https://github.com/ansible/ansible/pull/40644

[2018-05-24 09:56] srimandarbha commented on #40072
seeing the same error on openstack pike. i am currently using 2.3.3.0 version of ansible, and python-designateclient==2.9.0.

[2018-05-24 09:57] ganeshrn commented on #38819
Fixed by https://github.com/ansible/ansible/pull/40358

[2018-05-24 09:59] ganeshrn opened #40650 "[NET_CONF] Refactor generic netconf_config module"
##### SUMMARY

See Proposal ansible/proposals#104

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

netconf_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-05-24 10:05] jlecour commented on #38655
I've had this issue with Ansible 2.5.2 but not with 2.2.

The line is inserted **even if already present** when using "insertbefore" or "insertafter", but inserted only if needed without them.

[2018-05-24 10:27] kizz1337 opened #40652 "VM Deployement with dhcp and ip, netmask, gateway empty params"
##### SUMMARY
When using "static" as network type ip, mask, gateway are mandatory so no problem, when using dhcp if ip, mask, gateway line are present there is an error and playbook fail.
"msg": "Static IP information provided for network \"VM Network\", but \"type\" is set to \"dhcp\"."

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIG

[2018-05-24 11:06] ctrox opened #40654 "k8s_raw StatefulSet confuses same containerPort for TCP and UDP"
##### SUMMARY
When creating a StatefulSet with k8s_raw which uses the same containerPort for TCP and UDP (ordering is also important, see note at the bottom), a second apply will do a faulty patch resulting in both ports to listen on UDP. This works with Ansible 2.5, and was probably introduced with https://github.com/ansible/ansible/pull/39632.

It is a bit of an edge case but I don't think somet

[2018-05-24 11:34] mohdumar321 commented on #40226
https://github.com/mohdumar321/ansible_custom_modules/blob/master/vmware_vnic.py
Module------------
#-------------------------------------------------------------------------------
# Name:        vmware_vnic
# Purpose:     Remove VNIC's from VM on VMware
#
# Author:      Mohd Umar Mubeen
#
# Created:     22-05-2018
# Copyright:   (c) umar 2018
# Licence:     <your licence>
#-----------------------

[2018-05-24 11:45] Akasurde commented on #40226
@mohdumar321

I think you have error here - replace
[code]
with
[code]
Also, other occurrences of module params. I see there is no variable called `args` which is used in `if args.uuid`

Please open a PR, so that it will be easy to comment and direct development procedure.

[2018-05-24 11:46] rsmeyers commented on #40636
This most likely is DDOS protection which was added as per APIC 3.1, please switch to cert based auth.

[2018-05-24 11:50] alambike commented on #22579
:+1: , I just realize that all of my handlers are notified when an item in the loop changes.
I understand that the whole tasks status is failed when one item fails,  but, as we can use {{item}} in notify, this makes me think that just the right handler will be notified, and organize handlers in that way.

[2018-05-24 11:51] infernix commented on #40185
I am getting this exact error even without a `lookup`.

Here's how to reproduce.

[code]

It fails on `{{ test.replicas }}` but using `{{ testreplicas }}` instead works fine.

[2018-05-24 12:00] mohdumar321 commented on #40226
@Akasurde :   Thanks for that.

I am new to this. Can you please guide me how to open PR?

[2018-05-24 12:02] mohdumar321 commented on #40226
I have modified and after that, I got this error.

![image](https://user-images.githubusercontent.com/12926123/40484152-39ee8a04-5f78-11e8-8db9-3ee4f8dce671.png)

![image](https://user-images.githubusercontent.com/12926123/40484168-504d5bcc-5f78-11e8-9079-bd75fc153aef.png)

[2018-05-24 12:04] gelin commented on #35607
Checked how it's possible to run ECS Fargate containers with Ansible v2.6.0a1.

Works:
* elb_target_group allows to define target_type='ip'.
* ecs_taskdefinition allows to use network_mode='awsvpc'.
* ecs_service allows to define network_configuration.

Missing:
* ecs_taskdefinition, need to define cpu and memory limits for the task.
* ecs_service, need to choose the launch type: "EC2" or "FARGATE

[2018-05-24 12:13] ianj101 commented on #37473
Did you get any further with this, I get this same error on OL7 but works fine with OL6?

[2018-05-24 12:17] dagwieers commented on #40403
From the code I can see what is going on. The `lag_type` parameter was not used, and it is required to decide the correct class name for the URI, even when doing a query.

@brunocalogero @jmcgill298 Do you agree we should make this parameter a required parameter even when doing queries ?

[2018-05-24 12:20] wisotzky commented on #40650
@ganeshrn

The proposed solution breaks compatibility with the existing netconf_config module. I am aware of some operators using this in production, so it might be painful to refactor the existing module.

My proposal would be, to keep the netconf_config module as is, but marking it as depreciated. The refactored version of netconf_config would be named to netconf_set.

Desired functionality:
- S

[2018-05-24 12:21] Akasurde commented on #40652
@kizz1337 Thanks for reporting this issue. This is an additional input checks added to avoid wrong inputs and wrong assumptions.

You can do as following -

[code]

Let me know your inputs on this.

[2018-05-24 12:59] Mixer9 commented on #37473
Unfortunately no, I would like to work with someone on it. I don't know
what else I need / could do on my end.

Any help is appreciated.
Chris

On Thu, May 24, 2018 at 7:14 AM, ianj101 <notifications@github.com> wrote:

--
Chris Hood
chris.hood@gmail.com
RHCE (RedHat Certified Engineer)
RHCVA (RedHat Certified Virtualization Administrator)
RHCDS (RedHat Certified Data Center Specialist)
C|EH (Cert

[2018-05-24 13:01] rdonkin commented on #14487
The ansible.cfg change from @danpospisil made this work with a Mikrotik router using Ansible 2.4.3.

Simple test command:

[code]

[2018-05-24 13:03] billcarlson commented on #15786
Shouldn't tags be similar to variables? Tags must be declared or their use is "undefined", abort.
Yes, this means having to declare tags somewhere, same as defaults.

This would also help playbook development, catch misspelled tags quickly instead of painfully.

[2018-05-24 13:11] eaglemoor commented on #36585
Catch this error on centos 7. Without Docker.

[2018-05-24 13:20] Akasurde commented on #40226
@mohdumar321 I understand. You can read about module development [here](http://docs.ansible.com/ansible/latest/dev_guide/developing_modules.html) and [here](http://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html).

'Connection timed out' is raised when ESXi or vCenter is not reachable. Try debugging by check connectivity to ESXi hostname or vCenter hostname.

[2018-05-24 13:25] huiminzeng opened #40659 "variables encrypted successfully but unable to be detected"
##### SUMMARY

Hi all! I was trying to encrypt some user information with ansible vault module. I can encrypt the info successfully, but the encrypted variables couldn't be detected. Is this a bug or i just made some mistakes?
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

vault
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default Configuration
##### OS / ENVIRONMENT

Ubuntu 16.04
##

[2018-05-24 13:28] mesk41in commented on #23351
It's look like in ansbile 2.5.2 this bug is already fixed:
[code]
[code]

[2018-05-24 13:37] rubal033 opened #40661 "ec2.py limits elasticache nodes to first 100 nodes."
##### SUMMARY

AWS dynamic inventory "ec2.py" shows only first 100 nodes for the Elasticache service. Rest of the nodes and their respective replication_group output get discarded making them unable to use in play.
This happens because of the boto "ElastiCache.Client.describe_cache_clusters" which limit the output to 100.
Ref: http://boto3.readthedocs.io/en/latest/reference/services/elasticache.ht

[2018-05-24 13:44] maxamillion commented on #37473
cc @alikins @barnabycourt @FlossWare @vritant

[2018-05-24 13:50] theonlydoo commented on #27367
@ansibot

[code]

[code]

[2018-05-24 13:59] #40541 closed, assigned to Qalthos

[2018-05-24 14:02] trishnaguha commented on #38639
resolved_by_pr https://github.com/ansible/ansible/pull/40655

[2018-05-24 14:04] sat1121 commented on #40180
Thanks for the response @Akasurde. On more details on how I am using this patch, i just used the entire code that you specified above, may be i should just compare the difference that you proposed and use it? I will try that as well, I am relatively new to python as opposed to powershell.

[2018-05-24 14:08] umrikar commented on #40529
@Akasurde  patch is failing

---
- hosts: 127.0.0.1
  connection: local
  tasks:
    -  name: Add Management vmkernel port using dhcp network type
       local_action:
         module: vmware_vmkernel
         esxi_hostname: mran02.thinkagile.com
         hostname: 10.243.1.44
         username: root
         password: PASSW0RD
         vswitch_name: vSwitch0
         portgroup_name: "Management N

[2018-05-24 14:10] webknjaz commented on #40383
@galund FWIW you can use an executable (script or binary) as your [`--vault-password-file`](http://docs.ansible.com/ansible/latest/cli/ansible-vault.html#cmdoption-ansible-vault-vault-password-file), which may help you migrate to Vault. It just has to print the password to stdout.
JFYI

[2018-05-24 14:13] siffland opened #40664 "Add usermod inactive option to the Linux user module"
##### SUMMARY
When using the user module the inactive timeout is set to 0 during password modification.  In order to reset this the following command has to be run:

usermod --inactive <days> <username>

I would be nice to have this functionality added to the user module so this could be set during account creation or modification for security purposes.

##### ISSUE TYPE
 - Feature Idea

##### COM

[2018-05-24 14:30] dawud commented on #23914
On RHEL, you need a different `parted` command:
[code]

[2018-05-24 14:36] Akasurde commented on #40180
@sat1121 Can you ping me on #ansible-vmware channel hosted on freenode.net ?

[2018-05-24 14:45] rahst12 commented on #26633
This seems to still be an issue with me on Ansible 2.5.2

[2018-05-24 14:46] sivel commented on #40659
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2018-05-24 14:46] #40659 closed, assigned to nobody

[2018-05-24 14:58] trishnaguha commented on #40013
@mikewiebe Please pull the latest commit and test again.
Also add DEBUG=TRUE as environment var to see what's happening.
[code]

[2018-05-24 15:03] adrianrise opened #40668 "cloudfront_origin_access_identity error when CloudFrontOriginAccessIdentityList is empty"
##### SUMMARY
We were trying to create an OAI with the module "cloudfront_origin_access_identity" and found a problem when there are no OAI's created yet.

When the list is empty ot returns an error, but we tried creating an OAI manually and rerunning again the module and it works.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

cloudfront_origin_access_identity

##### ANSIBLE VERSION
[code

[2018-05-24 15:04] adrianrise commented on #40668
@wilvk Does this error sounds to you?

[2018-05-24 15:11] skasai opened #40669 "win_scheduled_task documentation in error for start_boundary example"
##### SUMMARY
win_scheduled_task documentation example for first example, start_boundary notation creates a python error:

TypeError: datetime.datetime(2018, 1, 1, 2, 15) is not JSON serializable

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Documentation win_scheduled_task
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7
##### STEPS TO REPRODUCE

Defin

[2018-05-24 15:20] #40437 closed, assigned to samdoran

[2018-05-24 15:32] #40403 closed, assigned to nobody

[2018-05-24 15:36] dagwieers commented on #40636
@joelwking So if you could confirm this is related to the anti-DDOS measures in ACI v3.1, we can start looking at improving the error-message to make this more straightforward.

The long-term strategy here (for Ansible v2.7) is a full-blown ACI connection plugin, which would be more efficient (no need to authenticate for every task) and would make playbooks more concise (no need to repeat login in

[2018-05-24 15:53] #34816 closed, assigned to nobody

[2018-05-24 15:53] #37160 closed, assigned to s-hertel

[2018-05-24 15:53] #29986 closed, assigned to nobody

[2018-05-24 15:55] mohag opened #40673 "mysql_user fails to fail back to config when check_implicit_admin is set to "yes""
##### SUMMARY
mysql_user fails to fail back to config file (~/.my.cfg) when check_implicit_admin is set to "yes"

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

mysql_user
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Both: CentOS 7
##### STEPS TO REPRODUCE

[code]

This works before a root password is set and fails afterwards. (Another part of the playbook set

[2018-05-24 16:01] #31383 closed, assigned to nobody

[2018-05-24 16:06] samdoran commented on #40649
!component =lib/ansible/modules/windows/win_group_membership.ps1

[2018-05-24 16:14] mohag commented on #40673
Yep, stupid typo... I had the file named as `.my.cfg` instead of `.mycnf`

[2018-05-24 16:14] #40673 closed, assigned to nobody

[2018-05-24 16:18] b2sweety commented on #38608
I am getting the same error on Cisco ISR4451-X/K9-Version 15.5(3)S2. ssh v2 is enabled on the device

ansible 2.4.0.0
  config file = /home/hena/fortify-base/test/fortify-Hena/ansible.cfg
  configured module search path = [u'/usr/lib/python2.7/site-packages/ansible/modules/scp_sidecar/ansible_modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable locatio

[2018-05-24 16:52] m0llym0nster opened #40676 "file module fails to create directory"
##### SUMMARY

File module does not carry mode parameter information to directory_mode. Directory_mode is null, and ansible fails to create a directory on the OS, without error. I had to manually investigate the host.
I added directory_mode to the parameter of my file module in place of mode and the directory was created. This is not documented anywhere, and I am guessing mode is/was supposed to f

[2018-05-24 16:59] therve opened #40677 "AttributeError: 'Connection' object has no attribute '_reset"
##### SUMMARY
When running my playbook, I got some connectivity issues with my servers.
The run failed with the following error:

 exception occurred during task execution. To see the full traceback, use -vvv. The error was: AttributeError: 'Connection' object has no attribute '_reset'

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

[2018-05-24 17:01] sivel commented on #40677
Per the error message, please provide the full traceback by using `-vvv`

needs_info

[2018-05-24 17:29] ericdost commented on #38608
@b2sweety Try to SSH directly from the shell and see what prompt you get.  My issue was that the user account expired and I was getting a prompt to change my password.  The module didn't know what to do with that prompt.

[2018-05-24 17:47] Gregliest commented on #28966
I ran into a similar issue. It turns out I was using python3, so I solved this by installing `python3-passlib` instead of `python-passlib`.

Not sure that this will apply to the issue here though.

[2018-05-24 17:50] s-hertel commented on #38482
Fixed in e2aa1155ba5889296d2f018fdf8284c33f5f4918, backported fix in 389db4c49e27708a1e7a05ed42b8fb9f97aaef67

Thanks @maishsk

[2018-05-24 17:50] #38482 closed, assigned to nobody

[2018-05-24 17:55] #30761 closed, assigned to nobody

[2018-05-24 18:07] b2sweety commented on #38608
Thanks, @ericdost .  I tried and getting the correct password prompt.
login as: ads.user

                   =======================
                   **     ATTENTION     **
                   =======================

                     STAGING LAB DEVICE
Using keyboard-interactive authentication.
ADS_ID_password:

                -=*=- -=*=- -=*=- -=*=- -=*=- -=*=- -=*=- -=*=-

[2018-05-24 18:13] rafamanzo commented on #25022
I've tested @hezbucho solution and it worked just fine over here. What is necessary to make it get into the next version? I'm willing to help on this.

[2018-05-24 18:14] andrewsaraceni commented on #40649
Hey @kxseven, I suspect the problem you're seeing is actually what was previously identified in https://github.com/ansible/ansible/pull/39358, where the module fails to add/remove members of a group where the system hostname is part of the member name.  This should only occur in domain user/group scenarios, as local groups cannot be added to another local group, and local users the same name as th

[2018-05-24 18:27] therve commented on #40677
Sorry, this is an intermittent failure, I dont have a reproducer right now.

[2018-05-24 18:33] abadger commented on #36544
This is a ui wart but not really a bug...  The format of the two lines are necessarily different.  Host lines take multiple key=value parameters per line.  Therefore they need a way to indicate that a space is part of a value rather than a separator.  In contrast, :vars are a single entry per line.  So we can tell that everything after the = is the value for the entry.

If we made these the same f

[2018-05-24 18:59] mikewiebe opened #40683 "Output gets truncated for certain show commands in latest devel"
##### SUMMARY
The `nxos_install_os` module uses several of the `show install all` cli commands to gather information needed to complete successful upgrades.

It appears that updates have gone in over the past couple of days that are causing the output of these commands to be truncated.

This same test was passing 3 days ago.

**MUST FIX FOR 2.6**

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NA

[2018-05-24 19:00] mikewiebe commented on #40683
**NOTE:** There are other commands that will likely be impacted by this bug, but this is a good one to start with.

[2018-05-24 19:07] mikewiebe commented on #40683
Same problem for `ansible_connection=local`

[2018-05-24 19:35] coltsixshooter commented on #34801
I am back and this still has not been fixed in 2.5.3. If you are trying to clone a template and use a cluster instead of the esxi_hostname it fails.

Please see me one line fix in deploy_vm how do we get this fixed?

Thanks -

[2018-05-24 19:39] coltsixshooter commented on #34801
Looking at the latest devel branch it appears the get_resource_pool has been fixed for cluster, but not the function deploy_vm using a template.

It should be this -

if self.params['template']:
                # create the relocation spec
                relospec = vim.vm.RelocateSpec()
                if self.params['esxi_hostname'] **or self.params['cluster']**:

[2018-05-24 19:59] mikewiebe commented on #40683
Here is information for `connection plugin httpapi`

In this case, the output does get returned but the call to `json.loads(responses)[1:-1]` does not process the output correctly.  Empty `[]` is the result.

[code]

[2018-05-24 20:03] geerlingguy opened #40684 "k8s_raw module does not allow multiple Kubernetes objects in one file"
##### SUMMARY

When using the `k8s_raw` module, if you feed it a document with multiple Kubernetes objects (e.g. a `Service` _and_ a `Deployment`, separated by the YAML document separator `---`), then the module will error out with `Error loading resource_definition: expected a single document in the stream`.

In the [Kubernetes Configuration Best Practices docs](https://kubernetes.io/docs/concept

[2018-05-24 20:13] #40514 closed, assigned to nobody

[2018-05-24 20:14] #26279 closed, assigned to abadger

[2018-05-24 20:27] userlerueda commented on #40650
I like the idea of a netconf_set which would go inline with netconf_get, like @wisotzky mentions, some people may be using this and would break functionality for them.

[2018-05-24 20:32] geerlingguy commented on #40684
Deprecated?

Workaround I'm using for now is:

[code]

[2018-05-24 20:34] wisotzky commented on #40650
@userlerueda
Okay, I will give it a kick and try to build something...

[2018-05-24 20:36] fabianvf commented on #40684
In Ansible 2.6 the k8s_raw (now k8s) module had a significant rewrite, it will support multiple documents in a file passed with `src`. I think the template lookup method still fails (looks like failure is from `from_yaml`, not the module), I'll look into allowing it as a string and working around it that way.

[2018-05-24 20:41] ideologysec commented on #35629
I'm still having this issue on Ubuntu 16.04.
My control laptop is python 3.6.5 and Ansible 2.5.3.

Here's the pamd play:
[code]

and the (default) /etc/pam.d/sshd:
[code]

and the error message:
[code]

[2018-05-24 20:42] geerlingguy commented on #40684
@fabianvf - Ah, that explains it!

Hopefully we can stabilize on `k8s` for the foreseeable future ;)

I think the YAML library doesn't support reading in the file with multiple documents... but that's based on some fuzzy memory from searching around over the past day, so could be incorrect. If we can use it as a string that would be ideal (IMHO).

[2018-05-24 21:01] archf opened #40685 "first_found lookup plugin does not resolve path to existing file"
##### SUMMARY

The `first_found` lookup plugin does not expand to existing filepath.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

[first_found](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/lookup/first_found.py) lookup plugin.

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

I run this command give

[2018-05-24 21:18] joelwking commented on #40636
@dagwieers Using cert based authentication against APIC 3.1(2o) has eliminated the issue. I agree that improving the error message would be most helpful! Obviously reading the APIC release notes may have shortened the debugging time. In this instance another engineer did the APIC upgrade and I was not aware of the anti-DDOS feature.

Could I suggest you consider accepting the `private_key` and `ce

[2018-05-24 22:08] fabianvf commented on #40684
@geerlingguy yeah, some people interpreted `_raw` as "internal and dangerous", so we figured we'd make it more clear. `k8s_raw` and `openshift_raw` will still work, they're just aliased to `k8s`. I'll try to get a PR in tomorrow for the string thing.

[2018-05-24 22:32] jborean93 commented on #40524
Can you share your `hosts.yml` file, my guesses as to what is happening is

* You hosts.yml is defining localhost explicitly and so local_action is running over SSH and fails to authenticate
* When you don't define the vars_file, a variable in your hosts.yml is requiring a variable from there. It ultimately fails because it isn't loaded

Please share the contents of your inventory, vars files that

[2018-05-24 22:52] willtome commented on #37240
@arsh9295 I have seen similar behavior before but would like to try and reproduce. Can you run a few additional tests and provide the results?
1) ad-hoc command with raw module `ansible AIX -i inventory -m raw -a uptime -vvvv`
2) a playbook with a single task using raw module
[code]
3) a playbook with 2 tasks using the raw module
[code]

Please run playbooks with full connection verbosity `-vvvv`

[2018-05-24 22:58] agaffney commented on #15143
This now works as of current `devel`, with a caveat. Due to the nature of bash process substitution, the file descriptor is read-once, which means that it only works if the appropriate inventory plugin is the first to read it.

For example, this fails (because the `yaml` inventory plugin reads the content first):

[code]

But this succeeds:

[code]

[2018-05-24 23:31] orderedchaosdev opened #40687 "to_yaml and to_nice_yaml has unexpected output and isn't maintaining var types"
##### SUMMARY

If I use the to_yaml filter it will change some of my strings into ints and some strings dont have quotes around them.
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

to_yaml
to_nice_yaml
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### STEPS TO REPRODUCE

vars file
[code]
template below
[code]

##### EXPECTED RESULTS

[code]
##### ACTUAL R

[2018-05-25 01:19] ykrmy opened #40690 "win_owner failed if it succeeded changing folder owner"
##### SUMMARY
win_own module returned failed state when changing folder owner, but it seemed that this method succeeded

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_owner

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_SSH_ARGS(/root/roaming-user-profiles/ansible.cfg) = -o ControlMaster=aut
DEFAULT_VAULT_PASSWORD_FILE(/root/roaming-user-profiles/ansible.cfg) = /root/roa
HOS

[2018-05-25 01:20] obloquy commented on #34422
The way the ec2_instance (not plain ec2) module works is a good example of how it should be done. You can supply a 'name' and it is used in the default 'filter'.

[2018-05-25 01:27] jborean93 commented on #40649
After looking at this I think the best and proper option to go forward with is to not compare against strings but against the SID's of the objects. We can easily get the SIDs of the accounts in a group with

[code]

This returns an array of SecurityIdentifier objects that are members of that group. From there we can compare the members that we want to add/remove/set from the Ansible args and act a

[2018-05-25 01:29] jborean93 commented on #40669
@skasai funnily enough I just came across this issue yesterday when trying something out, I'll update the documentation shortly.

[2018-05-25 01:33] jborean93 commented on #40669
Here is the PR to fix this https://github.com/ansible/ansible/pull/40691.

[2018-05-25 01:39] #40669 closed, assigned to nobody

[2018-05-25 01:43] jborean93 commented on #40690
Just so I understand correctly, the module failed but the ownership changed? What happens when you run it again, does it detect that no change needs to occur? What this folder created by Ansible or was manually there, does it contains subfolders/files?

needs_info

[2018-05-25 01:51] dagwieers commented on #40636
@joelwking wrt. storing the content, that is a valid request. We decided up to now to use files mostly because of the risk of the key being leaked, but that risk is quite similar to password authentication.

Once we have the connection plugin implemented, this information would not be repeated in the playbook and as such has less potential to leak through other channels. So I will add this to our

[2018-05-25 01:57] ykuromiya commented on #40690
Yes, ownership changed correctly.

It does not detect and Ansible fails the same error.

This folder is created manually and there are subfolders.

[2018-05-25 02:04] admirabilis opened #40694 "`docker run --runtime` option missing from docker_container:"
##### SUMMARY
I would like to sandbox my existing Docker containers provisioned with Ansible by using [Google's gVisor](https://github.com/google/gvisor), but the `--runtime` option is missing from the docker_container module.

[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/teresaejunior/S

[2018-05-25 02:09] jborean93 commented on #40690
Thanks for the info @ykuromiya, I will admit it will be hard without us having a reproducer. If you find out a way of creating this file in structure in Ansible it will go a long way with us finding the issue and getting a fix. My guess is that if the module didn't fail it wouldn't report a change but there's an issue when it tries to get the current owner.

Unfortunately the module right now has

[2018-05-25 03:08] Fred-sun commented on #40648
hi @the1bit ,Would you like to try this PR (https://github.com/ansible/ansible/pull/38994)  to see whether this fixes your problem? You can use pip install git+https://github.com/ansible/ansible.git@devel to install the devel version
I have ran your YML used by devel Ansible , it has been fixed.  Thanks a lot!
[code]

[2018-05-25 03:22] #37258 closed, assigned to alikins

[2018-05-25 03:22] #33314 closed, assigned to nobody

[2018-05-25 03:49] #40215 closed, assigned to nobody

[2018-05-25 03:53] andrewsaraceni commented on #40649
Hey @jborean93, that's a good idea, and would definitely simplify a lot of the code, as most of the work could probably be offloaded to the SID ModuleUtils you wrote.

The only concern I can think of in doing this would be the change in return values.  I'm guessing it would still make sense to return either ADsPath or the result of `Convert-FromSID`?  This way, we could compare on SID, and still r

[2018-05-25 04:21] #40438 closed, assigned to nobody

[2018-05-25 05:07] Akasurde commented on #40154
@slayer01 Thanks for reporting this issue.

I think you are using `python-gitlab` library instead of `pyapi-gitlab` library. Both libraries use `import gitlab` but `__init__` is different for both of them. Could you please retry after uninstalling `python-gitlab` and installing `pyapi-gitlab`.

needs_info

[2018-05-25 05:16] jborean93 commented on #40649
I think that’s a good plan, having the hostname isn’t the end of the world, you can always split by \ if you just want the account. Definitely a +1 to returning the account name and not the SID, the SIDs should just be for internal comparison.

[2018-05-25 05:22] lae opened #40696 "user module should backup shadow to shadow-"
##### SUMMARY
Tools that modify `/etc/shadow` (useradd, groupadd etc) all make a backup at `/etc/shadow-`. Ansible should also do the same. Thoughts?

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
user

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

[2018-05-25 05:33] srinivassurishetty commented on #20051
@sudomateo why default route is required for filling ansible_default_ipv4 info?

[2018-05-25 05:55] #36346 closed, assigned to nobody

[2018-05-25 06:10] cjeanner opened #40699 ""file" module should allow to set "content""
##### SUMMARY

Currently, Ansible doesn't have a straight and easy way to set a file content: either template, or copy. It would be great if we could just set its content through the "file" module

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

"vanilla" ansible

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

This feature c

[2018-05-25 06:11] #36517 closed, assigned to nobody

[2018-05-25 06:16] CTrox commented on #40654
Huh, you are right it seems to be related to this: https://github.com/kubernetes/kubernetes/issues/39188

[2018-05-25 06:16] #40654 closed, assigned to nobody

[2018-05-25 07:03] ykuromiya commented on #40690
The same error occurred.

BTW if I created empty folder and tried to change ownership using win_own, it succeeded and result was also OK.
(At first, win_own state was changed, next time it was ok.)

The folder 'C:\Temp' is a windows profile folder in which there are many files.
So I think some files in this folder make this kind of error.

[2018-05-25 07:08] sky1301 commented on #33323
I've had the same problem，What can I do to solve this problem

[2018-05-25 07:13] umrikar commented on #40529
@Akasurde Code is working fine but i can see one descripancy.When i run same playbook twice without any changes
then it gives below output

LAY [127.0.0.1] *****************************************************************************************************************************

TASK [Gathering Facts] **********************************************************************************************

[2018-05-25 07:29] cjeanner commented on #40699
Damned.. didn't see this option in "copy" - not really my logic :/. So I guess we can close it as "invalid"... Sorry for the noise.

[2018-05-25 07:29] #40699 closed, assigned to nobody

[2018-05-25 07:30] mkrizek commented on #40699
@cjeanner no worries

[2018-05-25 07:58] resmo commented on #40223
resolved_by_pr #40700

[2018-05-25 08:24] #40223 closed, assigned to resmo

[2018-05-25 08:36] Fred-sun commented on #39958
Hi @zikalino , when login Azure portal to create VM , the VM run more than 24h, stop it ( press stop button), ran below YML file to start it will meet report error message. Could you help check it !
Thanks a lot!
[code]

[2018-05-25 08:59] F1rst-Unicorn commented on #40437
I can confirm that the router config is not changed any more after running the task. No services are restarted and no commits are made.

As a cosmetic issue ansible could also recognise nothing has changed and set the `changed` flag appropriately. At the moment the task is always reported as changed. But this might be out of scope here.

Thank you for your work and the fast response time!

[2018-05-25 09:31] lovenfrancis commented on #40396
Tried this on a different environment and it worked correctly there. What do you recommend doing to troubleshoot the previous environment?

[2018-05-25 09:39] jguirlinger opened #40705 "nxos_vlan - failed to create VLAN in N5K without FabricPath"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

nxos_vlan

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default
##### OS / ENVIRONMENT

Ansible run from : Red Hat Enterprise Linux Server release 7.4 (Maipo)
Target device : cisco Nexus 5696 runnning NXOS 7.2(1)N1(1) **with no FabricPath feature**

##### STEPS TO REPRODUCE

Simple playbook for creating VLANs on Nexus 5596

[2018-05-25 09:55] umrikar commented on #38799
@Akasurde  one correction in above playbook
 - set_fact:
      cluster_uuid: "{{ host_facts['ansible_facts']['vsan_cluster_**uuid**'] }}"

and for below task i am getting error
  - name: Configure VSAN on second host
    vmware_vsan_cluster:
      hostname: 10.243.1.45
      username: root
      password: PASSW0RD
      validate_certs: no
      cluster_uuid: "{{ cluster_uuid }}"
    register: vsan

[2018-05-25 10:00] Akasurde commented on #38799
@umrikar Could you please paste whole playbook ?

[2018-05-25 10:01] Akasurde commented on #38799
ping me on #ansible-vmware on irc.freenode.net

[2018-05-25 10:22] walterdolce opened #40706 "[Dependency] Management of 3rd party modules and plugins"
##### SUMMARY
There is neither indication nor capability on how 3rd party Ansible modules and plugins (of any type) should be managed.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
`ansible`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
N/A

##### EXPECTED RESULTS
There should be an equivalent of `ansible-galaxy` resp

[2018-05-25 10:37] gelin commented on #35607
That's great, but in which version of Ansible it'll be available?

[2018-05-25 11:10] sanjogpandasp opened #40708 "Get the same output 2 times"
When I run a playbook on which I register the command output onto a register and assign that to msg with debug true with my ansible.cfg as below
stdout_callback = json
retry_files_enabled = False

I get the desired output of "hosts" 2 times.
##### ANSIBLE VERSION

[code]

##### COMPONENT NAME
module: shell
A sample task looks like below :
[code]
##### CONFIGURATION
ANSIBLE_NOCOWS(xx/xx/xx/ansible.

[2018-05-25 11:15] sudomateo commented on #20051
@srinivassurishetty I'm not sure where in the code it happens, but I'm assuming it happens because without an interface with a default route, how with ansible know which of your possibly many interfaces is your default interface?

[2018-05-25 11:15] peter-murray opened #40709 "lookup nios does not allow for filtering on extattrs"
##### SUMMARY
The lookup for nios is completely ignoring the `extattrs` values that can be passed in

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nios

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
Use the `nios` lookup and pass in a dictionary for the `extattrs` value, the results are not filtered by these properties.

[code]

[2018-05-25 11:19] sanjogpandasp commented on #40708
Also if you want to view non-json output here is the one below :

[code]

[2018-05-25 11:21] wookietreiber opened #40710 "yum: add diff mode"
##### SUMMARY

**yum** module has no diff mode.

##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME

yum

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- CentOS release 6.9 (Final)
- Red Hat Enterprise Linux Server release 7.4 (Maipo)

##### STEPS TO REPRODUCE

**yum** module with diff mode `-D` enabled on the **ansible** or **ansible-playbook** command li

[2018-05-25 11:26] gtema opened #40711 "command module declares `delta` attributes to be always returned, but it is not"
##### SUMMARY
The command module declares `delta` attributes to be always returned, but it is not filled, if due to the internal logic execution was skipped ('creates' exists or 'removes' does not). This leads to problems in callback modules, which assume permanent presence of this attribute. The same is valid for `start` and `end`

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
command

###

[2018-05-25 11:31] gtema commented on #40711
PR https://github.com/ansible/ansible/pull/40712

[2018-05-25 11:39] tandrieu opened #40713 "nxos_vrf module issue on vlan interface"
##### SUMMARY
Associating a VNI to a VRF generates an error

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_vrf

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
MAC OS X high sierra (10.13.4)
Target network hardware firmware : NXOS v 7.0(3)I7(2)

##### STEPS TO REPRODUCE

Task :
[code]
Vars:
[code]

##### EXPECTED RESULTS
Expected interface Vlan1753 to be a

[2018-05-25 11:46] tandrieu commented on #40713
uppercasing interface name doesn't fix the problem

[2018-05-25 11:49] srinivassurishetty commented on #20051
@sudomateo yeah, make sense. Thank you.

[2018-05-25 12:14] acharrett commented on #29416
This seems to have gone away in newer versions of Ansible/Boto libraries

[code]

[2018-05-25 12:48] Jens-vd commented on #8603
+1

[2018-05-25 13:20] maxamillion commented on #40524
@wabat manage them just as you are, but then also add a host entry for `localhost` in your inventory because once the context of the host is defined by the vars, the implicit localhost is overridden.

[2018-05-25 14:07] samdoran commented on #40437
@F1rst-Unicorn Thanks for confirming this works.

Regarding the `changed flag`, that's tricky. I debated this when I was debugging and left it alone for this fix.

What's actually happening after this fix is, if a `delete` command is found in the desired config and a corresponding `set` command also exists in the desired config _as well as_ the running config, both commands will be run. So technic

[2018-05-25 14:08] protondrift opened #40714 "wait_for causes high CPU usage"
##### SUMMARY

Hi guys, i was getting 100% percent CPU usage while using wait_for to wait until hosts port avalible, anything wrong with my scripts?
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
`default config, nothing add`

##### OS / ENVIRONMENT
CENTOS 7.2

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[2018-05-25 14:10] bcoca commented on #40512
that won't help with the default, which is to process possible plugins (specially ini and yaml) on each source, what really needs to happen is to discard changes when the plugin doesn't finish successfully.

[2018-05-25 14:28] michlaustn opened #40715 "Unable to copy files when using lxd connector"
##### SUMMARY

When using the lxd connector I am unable to copy files to the container.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

copy_command
lxd_connector

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/var/lib/jenkins/workspace/ansible-test-kitchen/ansible.cfg) = True
DEFAULT_BECOME(/var/lib/jenkins/workspace/ansible-test-kitchen/ansible.cfg) = True
DEFAULT

[2018-05-25 14:39] sivel commented on #40708
This is the expected output.

You are getting the output from the script module, and then the output from the debug module.

Using `register` does not suppress task results.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-25 14:39] #40708 closed, assigned to nobody

[2018-05-25 14:45] sivel commented on #40687
Quotes are not required in YAML.  Quotes are only required in situations where YAML may asume a different data type.

`08` without quotes is assumed to be a string in YAML:

[code]

As you can see they produce the same results.  However an unquoted `07` does not:

[code]

Thus, when pyyaml serializes the output, it knows it does not need to requote `08` and `09`.

More info can be found on the YAM

[2018-05-25 14:45] #40687 closed, assigned to nobody

[2018-05-25 14:52] mikewiebe opened #40717 "NXOS HTTPAPI: module_utils.connection.ConnectionError: string index out of range"
##### SUMMARY
Several Nexus module tests for httpapi error out.

This example uses the `nxos_hsrp` module integration test to demonstrate the problem.

**MUST FIX FOR 2.6**

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nxos_hsrp

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04
Nexus running versions:
[code]

##### STEPS TO REPRODUCE

Run the `n

[2018-05-25 15:10] dcritch commented on #23590
I ran in to the same thing. We are removing /home if it exists, but having no /home directory caused some issues. Submitted a PR with my take on how to fix it.

[2018-05-25 15:11] #40714 closed, assigned to nobody

[2018-05-25 15:13] mikewiebe commented on #40013
@trishnaguha I did generate the debug output, but there is not much there that seems work looking at.  I did test the following.

1. Increased timeout to `1000` seconds but that had no impact.
2. I tested to see if I can manually SCP files to my N9k device that exhibits the problem when using Ansible and I can easily SCP multiple large files and never encounter any problem.
   * This leads me to c

[2018-05-25 15:17] mikewiebe commented on #40013
Just for reference, here is the dump of ANSIBLE_DEBUG

[code]

[2018-05-25 15:18] slayer01 commented on #40154
Thanks for your reply @Akasurde

I removed python-gitlab via pip and installed pyapi-gitlab, but now I get this error message:
"Missing required gitlab module (check docs or install with: pip install pyapi-gitlab"

So I think python-gitlab is required, but unfortunately it doesn´t work.

[2018-05-25 15:25] slayer01 commented on #40154
Thanks for your reply @Akasurde

I uninstalled python-gitlab with
[code]

and installed pyapi-gitlab:
[code]
So, this looks to me like it is already installed.

And now I get this error message:

But I did exactly what it recommends to me, "pip install pyapi-gitlab" as you can see above.

Any more ideas?

[2018-05-25 15:28] sivel commented on #40154
@slayer01 that output indicates that pip believes `pyapi-gitlab` was already installed.

Uninstall both first, and then install `pyapi-gitlab`:

[code]

Likely since they occupied the same namespace, unless you fully remove both first, you will still run into problems.

[2018-05-25 15:45] slayer01 commented on #40154
@sivel thanks a lot, that did the trick!

[2018-05-25 15:47] sivel commented on #40154
Great! I'll go ahead and close this out now that you've gotten this resolved.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-25 15:47] #40154 closed, assigned to nobody

[2018-05-25 15:50] mkrizek commented on #40715
@michlaustn Can you try with the latest `devel`? The issue should be fixed there.

[2018-05-25 17:00] #32238 closed, assigned to nobody

[2018-05-25 17:07] ryansb commented on #29416
Looks like this is due to an old boto/boto3 version.

[2018-05-25 17:07] #29416 closed, assigned to nobody

[2018-05-25 17:07] ionsquare commented on #40007
Workaround - open `about:config`, search for `layout.css.moz-document.url-prefix-hack.enabled` and toggle it to true. Refresh the docs and the tables will display correctly.

[2018-05-25 17:08] kustodian commented on #35672
@maxamillion check out https://github.com/ansible/ansible/pull/40723.

[2018-05-25 17:09] #40063 closed, assigned to nobody

[2018-05-25 17:23] fabianvf commented on #40654
@CTrox In the meantime, I think if you pass in `force: True` when invoking the module it will do a replace instead of a patch, and should let you avoid this issue.

[2018-05-25 17:30] leifmadsen commented on #33647
@MedicMomcilo you should be able to close this :)

[2018-05-25 17:30] leifmadsen commented on #29302
Documentation shows this as required now. I suspect this can be closed.

[2018-05-25 17:36] kenwdelong opened #40724 "cloudfront_distribution_module fails on new required parameter"
It appears that AWS has added a new required parameter to the cloudfront APIs.

##### SUMMARY

Running a playbook with the cloudfront_distribution_module fails.  It was working as recently as May 14.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

cloudfront_distribution_module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

no env vars: `env | grep ANSIBLE` is empty

##### OS / ENVIRO

[2018-05-25 17:52] sivel opened #40727 "Add loop+filter alternative docs for migration to loop from with_X"
##### SUMMARY
With the introduction of `loop` as the replacement for `with_X` style loops, users have complained about the complexity of using `lookup` with `loop`.

In reality, using `loop`+`lookup/query` is not the recommended way to interact with many types of common loops.  The recommended way is to utilize `loop` and jinja2 filters.

`lookups` were conflated in the past to do multiple things,

[2018-05-25 17:56] bcavns01 commented on #40512
Hmmm, I could be wrong, but I think we're talking about two different cases of partial inventory.  Your commit seems to be addressing the case where a plugin has begun updating self._inventory but then raises an exception in the middle of the process, which is certainly an issue worth solving.

However, the case I'm raising in this issue is one where you'd be mixing two plugins to get your complet

[2018-05-25 17:58] sivel commented on #40727
Additionally, we probably also want to reference this information retroactively in the 2.5 porting guide.

[2018-05-25 18:03] fabianvf commented on #40654
@CTrox It looks like you can also override this behavior by adding `$patch: replace` as the first element of your  port list. This overrides the default merge strategy and sets it to replace instead:
[code]

[2018-05-25 18:04] bcavns01 commented on #40512
A good real-world example of where this could be dangerous would be where Ansible is being used to manage firewall rules.

The user might expect a complete list of hosts to be managed to come from a combination of static .yml files as well as a dynamic list produced by the `constructed` module.  The play might run and get a "static" list of inventory from the .yml files in the inventory path but,

[2018-05-25 18:04] fthommen commented on #20413
Having the same issue here (ansible 2.4) will that definitively not be fixed/changed?

[2018-05-25 18:14] sensetv opened #40728 "sensetv"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-05-25 18:15] samdoran commented on #37448
`lineinfile` is meant to act on individual lines — it does match across `\n`. This means `lineinfile` will look for `export EDITOR=vim\nexport VISUAL=$EDITOR` in each line, not find a match, and insert it at the end of the file.

`blockinfile` is made for handling multi-line text.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the I

[2018-05-25 18:15] #37448 closed, assigned to samdoran

[2018-05-25 18:19] ju2wheels opened #40729 "ansible-pull extra-vars mistakes JSON for YAML"
##### SUMMARY

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible-pull

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 18.04 server

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

ansible-pull should have taken the Ansible extra vars passed as JSON and then run normally. What happens is that it fails because it tries parsing the JSON as YAM

[2018-05-25 18:24] #38484 closed, assigned to nobody

[2018-05-25 19:03] #40011 closed, assigned to nobody

[2018-05-25 19:12] abadger commented on #23179
Ansible currently uses cryptography by default now.  Two things have to happen for Ansible to fallback to pycrypto:

* cryptography must not be present on the system.
* The user must have specified that ansible should not depend on cryptography at install time. by setting the environment variable ANSIBLE_CRYPTO_BACKEND to pycrypto when installing:
[code]

This gives us cryptography by default but

[2018-05-25 19:12] #23179 closed, assigned to nobody

[2018-05-25 19:17] thaumos commented on #23179
Just to be even more clear, if you're running the controller on py2.6 or el6 variants, this move to the cryptography library does not apply.

[2018-05-25 19:20] bcoca commented on #40512
my example covers both, no matter the plugin type, any 'incomplete' should be reverted

[2018-05-25 19:22] honkycat commented on #10374
Providing another work-around:

[code]

[2018-05-25 19:39] eimis05 commented on #39167
I am having exactly same issue, and im not using any proxies or bastion hosts, its connection directly from ansible host to cisco asa or any other cisco ios or nxos device:
[code]

have tried long timeouts etc., no help, if i use old style connection local vs network_cli all works fine.    We just want to fix the playbooks for upcoming versions when 2.9 will decommission use of username and passwo

[2018-05-25 19:40] #40728 closed, assigned to nobody

[2018-05-25 19:42] #37997 closed, assigned to nobody

[2018-05-25 19:53] siran commented on #13236
Is the default inclusion for vaulted variables in roles addressed? it's such an obvious feature needed ...

IMHO, the suggested workaround of "store vaulted variables in otherwise unencrypted vars files" (@shane-axiom ) is just very messy in a big scale ...

[2018-05-25 20:18] jeffersg commented on #36829
I do. Based on this latest PR, I guess we wait for 2.6 with fingers crossed...

[2018-05-25 20:22] sushrut-desora commented on #13304
@gabrielgiordan Your problem might be related to this question https://stackoverflow.com/q/46610256/4781064.
I changed the file permissions by using the file properties on windows
file(right-click) > Properties > Security > Advanced > (Select User) > Edit > Show advanced permission >  Uncheck execute file

[2018-05-25 20:31] gothicx commented on #40729
Hi,

Can you try like this:

ansible-pull --accept-host-key --checkout 0.2.0 --clean --extra-vars "{'docker_registries_login': [{ 'docker_password': '<pw>', 'docker_username': 'user', 'docker_registry_url':'repository-manager.company.com:5001'}], 'docker_registries_logout': [{ 'docker_password': '<pw>', 'docker_username': 'user', 'docker_registry_url':'repository-manager.company.com:5001'}] }" --f

[2018-05-25 20:40] ju2wheels commented on #40729
Isnt that not valid JSON at that point though? I already have a working solution with passing a JSON file, I only opened because IMO, if ansible-playbook --extra-vars accepts this JSON string then so should ansible-pull.

If I understand correctly, the above would actually rely on the fact that JSON is a subset of YAML so its processed as YAML due to not fitting the strict JSON quoting?

[2018-05-25 21:26] siran opened #40735 "tags vs. when"
##### SUMMARY
This steps reproduce the issue:

1) Write a my_playbook.yml that selects some hosts and includes a role_A
2) role_A has a task that "include_role: role_B" with a "when: condition_is_true" AND "tags: some_tag"

The issue is the role_B get included in all hosts regardless of the tag being specified when the playbook is ran as

    ansible-playbook -i hosts --tags=some_tag

I would expe

[2018-05-25 21:36] sivel commented on #40735
The problem here, is the placement of your `tags: always`.

Effectively, every task in your playbook ends up tagged with `tags: always` because your playbook is tagged as `always`.

There was a bug in 2.5.0-2.5.2 that would have prevented this behavior, and was fixed in the 2.5.3 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net

[2018-05-25 21:36] #40735 closed, assigned to nobody

[2018-05-25 21:45] kustodian commented on #32791
I added a simple fix for this in https://github.com/ansible/ansible/pull/40737

[2018-05-25 23:03] #39745 closed, assigned to nobody

[2018-05-25 23:33] andrewvmail commented on #37220
I'm confirming @CarlosEspejo finding i remove the offending tags and it works

[2018-05-25 23:44] timesking commented on #31504
ansible 2.5.0 still affected

[2018-05-26 00:00] adiemu5 opened #40740 "Problematic behavior of file module when creating a symlink that (inadvertently) already points to itself"
##### SUMMARY

Creating a symlink with the file module behaves unexpectedly if the src and dest arguments happen to be the same symlink.  (Trying to ensure the symlink /bin/sh -> /usr/bin/sh exists when it happens that /bin -> /usr/bin)

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Default-config (running 'ansible-config dump --onl

[2018-05-26 01:43] shamiln commented on #34156
@pari-

Doesn't the best practice mention to keep these the vars and vault in the same group vars directory?

[2018-05-26 04:09] Akasurde commented on #32791
resolved_by_pr #40737

[2018-05-26 04:11] Akasurde commented on #35672
bot_skip

[2018-05-26 04:11] Akasurde commented on #35672
resolved_by_pr #40723

[2018-05-26 04:14] trishnaguha commented on #39167
@eimis05 Can you share the hostname you connecting to?

[2018-05-26 09:05] marcinhlybin opened #40746 "include_tasks with loop and when is not skipping tasks"
##### SUMMARY

When using include_tasks in a loop with when condition where left side of the condition ends up undefined, tasks are include but shouldn't.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
Default

##### OS / ENVIRONMENT
Mac OS X

##### STEPS TO REPRODUCE

playbook.yml:
[code]

job.yml:
[code]

##### EXPECTED RESULTS

[2018-05-26 11:29] bank32 commented on #38402
@mkrizek I'm barely understand about Ansible codebase, not sure I can help that 😅

[2018-05-26 13:15] gundalow commented on #39879
bot_status

[2018-05-26 15:26] saito-hideki opened #40752 "network_cli can not handle encrypted string as ansible_ssh_pass"
##### SUMMARY
I tried to use encrypted string that is created by `ansible-vault encrypt_string` as a value of `ansible_ssh_pass`.
However, it seems that it could not worked with `Bad authentication type` error.
If I encrypted whole file using `ansible-vault encrypt <group_vars_file>` instead of `ansible-vault encrypt_string`, it worked without errors.

##### ISSUE TYPE
 - Bug Report

##### COMPONE

[2018-05-26 17:19] #29686 closed, assigned to nobody

[2018-05-26 19:40] BarbzYHOOL commented on #38219
Yes also it added the line at the end of a file instead of at the beginning... very weird

[2018-05-26 21:18] malachantrio commented on #26995
@NBardelot, @abadger @thaumos.

Not sure, if anyone is going to see this now the issues is closed, however for anyone interested, it seems that the problem is caused by the pre update call to "yum check-update".

yum check-update seems to be pretty slow as it checks for updates for all installed packages in all enabled repositories. I want to be clear that this has nothing to do with ansible and i

[2018-05-27 01:46] jamescassell commented on #27520
I've confirmed that this bug is not present in the latest stable-2.3 git, but is present in the latest 2.4, 2.5, and 2.6 git.

test.yml:
[code]

stable-2.3:
[code]

stable-2.6:
[code]

[2018-05-27 03:58] angapov commented on #32741
fixed in https://github.com/ansible/ansible/pull/36253

[2018-05-27 05:42] jamescassell commented on #27520
I git-bisect'ed it to c3ffc49914285774729193d1a09d9a6976369deb, which was introduced by https://github.com/ansible/ansible/pull/25211

Closer inspection indicates that the connection was never actually being reset, that commit only introduced the code to notice the failure.

[2018-05-27 06:37] jcheroske commented on #24236
`prune` is not an acceptable state, but `pruned` is. Please add this.

[2018-05-27 08:06] Akasurde commented on #40076
any news ?

[2018-05-27 10:17] PeteX commented on #10530
You should be careful with features like this: they can ruin product demonstrations if they fire off unexpectedly.  Many years ago I was demonstrating something in Linux.  I had to use sudo and I got one of the joke responses that it used to give when you mistyped your password.  'Oh yes, the err, author, does have a bit of an, um, sense of humour.'  It's unexpected so you've got nothing prepared,

[2018-05-27 13:42] wisotzky commented on #40650
I've got a nice prototype now. The only piece, I am getting not running yet is the validation option. Don't know why. Seems to be somewhere in the Ansible netconf connector or ncclient.

Let me add some integration tests and I will do the PR somewhere next week. Just guessing, we still can have this added by Ansible 2.6.

[2018-05-27 17:08] Akasurde commented on #38679
@mooninite #39285 tries to fix this issue. Could you please check this PR and let me know if it works for you or not ?

[2018-05-27 17:14] edrozenberg commented on #29403
A few years later I've finally tackled this and found a solution via the use of a SUDO_ASKPASS env var  now supported by Homebrew. No other approaches have worked.

Solution posted at:
https://github.com/geerlingguy/ansible-role-homebrew/issues/73#issuecomment-392296635

[2018-05-27 20:31] rvalle opened #40771 "lvg: Can't open /dev/mapper/xxxxx_crypt exclusively"
##### SUMMARY

lvg module is no longer working on luks encrypted devices.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

lvg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HASH_BEHAVIOUR(/home/rafael/Development/privaz.io/VDC/ansible.cfg) = merge
##### OS / ENVIRONMENT

Running ansible from Fedora 27/28
Managing Debian 9

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESUL

[2018-05-27 23:42] eimis05 commented on #39167
@trishnaguha - its just IP address of the asa, tried both name and IP same results, even though i can ssh directly etc., and run playbooks using local connection instead of network_cli, and whats weird that its not all the devices like this, 50% of them with with network_cli and others don't, and they all same version etc.,

[code]

[2018-05-28 00:04] n0vember opened #40775 "dynamic inventory executed without --list"
##### SUMMARY
I have a script that complies to dynamic inventory. When called with --list, it produces a json inventory as output. Since 2.5, using this script fails as script is called without --list option.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
This applies to ansible and ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/n0vember/.ansi

[2018-05-28 00:09] n0vember commented on #40775
Note : using this script

[code]
I can see that --list is actually passed as argument. So I can't explained the described behaviour. But it occurs :(

[2018-05-28 00:30] n0vember commented on #40775
Well... Behaviour comes back to normal after adding the following lines to inventory :
[code]

This was found in the documentation, but is particularly unclear why is needed. It comes with a definition from 'all' and 'ungrouped' groups which do not appear to be mandatory.

My conclusion :

- There is a change in dynamic inventory definition that is not clearly stated in the documentation.
- I am s

[2018-05-28 00:36] n0vember commented on #40775
This issue being messy, I close it to create a more precise one

[2018-05-28 00:36] #40775 closed, assigned to nobody

[2018-05-28 00:47] n0vember opened #40776 "unexpected change in dynamic inventory behaviour"
##### SUMMARY

An undocumented change occured in 2.5 version of ansible that can make old dynamic inventories unusable.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ansible
ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_PIPELINING(/home/n0vember/.ansible.cfg) = True
DEFAULT_SCP_IF_SSH(/home/n0vember/.ansible.cfg) = true
DEFAULT_TRANSPORT(/home/n0vember/.ans

[2018-05-28 00:48] willthames commented on #35607
@gelin difficult to answer - I'd expect it to make 2.7, I'm not sure whether it'll get merged before 2.6

But you can use bleeding edge module improvements with stable Ansible: http://willthames.github.io/2017/12/12/using-updated-modules-with-stable-ansible.html

[2018-05-28 00:50] drzraf opened #40777 "ansible connection armor"
##### SUMMARY
Ansible usually access remote machines using user account (possibly upgrading to root afterward).
It may be of interest to identify which permission-set is needed by Ansible itself to operate on the remote system (independently to the tasks requests).
More specifically: which binaries, aside from python[3?], have to be executable.
Ideally: may I restrict the ssh key used by Ansible t

[2018-05-28 00:52] n0vember commented on #40776
Doing some tests and reading documentation, I found that problem can be solved two ways.

Either by removing the test on the --list argument. Script is then :
[code]
It is not satisfying because my real script soed other things when called without --list.

Either by adding a '_meta' entry within the output. New script :
[code]
It is OK for me, but it is unclear in the doc that this is to be added.

[2018-05-28 01:07] gtirloni commented on #36585
If the service was installed previously in the same play, you have to tell systemd to reload its configuration. Use the `daemon_reload` parameter for that.

[2018-05-28 01:18] jcheroske commented on #29597
This timeout issue is a killer when taking gce snapshots.

[2018-05-28 01:47] nickrusso42518 commented on #31575
@rcarrillocruz , I think I can take a look this week or next.

However, I am not sure that we want to consider unauthorized commands to cause task failures. For example, when we issue a syntactically incorrect command, it makes sense to fail, as the command would not work in any situation. But issuing an unauthorized command could be part of security CI testing. Perhaps it is useful to ensure a li

[2018-05-28 01:59] yuwzho commented on #39879
-label azure

[2018-05-28 04:49] amenonsen opened #40778 "Dynamic include_tasks in a multi-valued loop gets nested include paths wrong"
##### SUMMARY
Suppose you run ``include_tasks`` within a loop as follows

[code]

If ``a/a.yml`` itself does ``include_tasks: x.yml``, ansible will try to include ``./x.yml`` and not ``a/x.yml``. This does not happen if (a) you do ``include_tasks: a/a.yml``, or (b) you loop over a list with a single element.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

core

##### ANSIBLE VERSION

[code]

[2018-05-28 05:14] Akasurde commented on #38955
resolved_by_pr #40382

[2018-05-28 06:48] peknu commented on #35895
For me, this problem was related to the pip version of pip installed by Vagrant ansible_local provisioner (8.1.2). This issue was fixed when I updated pip to latest (10.0.1) prior to executing the other pip tasks:
[code]

[2018-05-28 06:54] MatrixCrawler opened #40782 "Module maven_artifact can't download non unique snapshot-artifact"
##### SUMMARY
Module maven_artifact cannot download a snapshot artifact that is not unique. Non unique Snapshot artifacts do not contain the timestamp field in the maven-metadata.xml

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
maven_artifact

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ANSIBLE_PIPELINING(/etc/ansible/ansible.cfg) = True
ANSIBLE_SSH_ARGS(/etc/ansible/ansible.cfg) =

[2018-05-28 07:43] keltik85 commented on #36585
@gtirloni Can't test, if it works. If so this ticket can be closed.

[2018-05-28 07:45] #39648 closed, assigned to nobody

[2018-05-28 07:45] Akasurde commented on #23390
@hellokangning Could you please retry and let us know if it works for you or not? If not, please paste `-vvv` logs and playbook so that it will be easy to debug?

needs_info

[2018-05-28 08:14] turb commented on #40782
@MatrixCrawler seems legit.

I don't have an Artifactory configured in this way at hand. Do you have/know one online? If not, I have to configure one — it may take some time and the alpha1 of 2.6 has already been released.

[2018-05-28 08:35] kizz1337 commented on #40652
Hello,

thanks for you time,

First, i've try with dhcp variable and network name
[code]

Then try with static variables
[code]

This workarroud seem to work fine :)
Thanks you very much

For understanding, "combine" permit to create an array of variables and add them to the first variable "my_network", right ?

[2018-05-28 08:52] turb commented on #40782
OK, after some tweaking, I can reproduce it.

[2018-05-28 09:07] gtema commented on #39879
With PR https://github.com/ansible/ansible/pull/40532 (for 2.6) `shade` library retired in favor of `openstacksdk` and this script was renamed.

[2018-05-28 09:29] machacekondra commented on #38203
resolved_by_pr 39736

[2018-05-28 09:36] #38203 closed, assigned to nobody

[2018-05-28 09:58] justjais commented on #40709
@peter-murray  Thank you for your observation, will do the required changes and the fix shall be available in ansible 2.6 release.

[2018-05-28 10:14] osegarra opened #40786 "Set delimiter"
The ini_file module assumes the delimiter is the "=" character. That is nice in most cases but there are some examples where a " " or a ":" are used for the same purpose.

Would be possible to have a parameter to set the delimiter?

[2018-05-28 10:15] osegarra opened #40787 "Retrieve values from ini file"
The ini_file module allows delete, add or update any parameter on it. But would be very nice to retrieve the value of a parameter.

Would be possible to add the functionality of retrieving a value?

[2018-05-28 10:21] osegarra commented on #40787
The component name is ini_file

[2018-05-28 10:21] osegarra commented on #40786
The component name is ini_file

[2018-05-28 10:26] #39800 closed, assigned to nobody

[2018-05-28 10:33] Akasurde commented on #40652
@kizz1337 Yes. `combine` filter will allow you to merge or update existing hash/dictionary with new data. Yes, you can directly use `static_network` but `networks` requires list so your playbook will be -

[code]

[2018-05-28 10:42] Yajo commented on #24236
Done

[2018-05-28 11:09] NilashishC commented on #40289
@sysnet4admin Hello. It seems that for the playbook that you mentioned, the *hyphen* between `vrrp-group` is being interpreted in its UTF-8 literal format which is `\xe2\x80\x90` for the following two lines:

`set interfaces ethernet eth2 vrrp vrrp‐group 10 preemt true`
`set interfaces ethernet eth2 vrrp vrrp‐group 10 prioriy 100`

On copy-pasting the play/task you posted, I am facing the same err

[2018-05-28 11:55] remyleone opened #40789 "Options sleep problem"
##### SUMMARY

A message is interpreted as a file path.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

https://github.com/ansible/ansible/blob/devel/lib/ansible/cli/pull.py#L235

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
Output is empty

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

I expected the test case to run smoothly and inst

[2018-05-28 12:04] Zulzig opened #40790 "ios_linkagg create link aggregation group, unauthorized command"
##### SUMMARY
as a network engineer, i would like to create a port-channel interface.

the two following examples (section STEPS TO REPRODUCE)
push on the device this command:
rtr-mac-ios2(config)#int port-channel number
unfortunately this command is not allowed if the port-channel has not be setup before.
the best steps to create a port-channel  in cisco is this way:
interface my_physical_interfa

[2018-05-28 12:26] Akasurde commented on #30052
@metajungle Could you please check with latest version Ansible and let us know if it works for you or not ?

needs_info

[2018-05-28 12:29] pari- commented on #34156
@shamiln how does the above in any way contradict to what I said? :-) .. this issue was about @goldencut putting raw, as in non-YAML data, into `group_vars/` and expect the variable parser not to choke on them.

The stanza you cited above is all about YAML-compliant data (and therefor correct to follow)! :-)

[2018-05-28 12:30] hemskgren commented on #40236
I see the same in ansible 2.5.3.
In general I think conditional in ansible module is not needed, like if platform x allow option fp

[2018-05-28 12:40] daMupfel commented on #20978
Any feedback about this? I run into the same issue.

[2018-05-28 12:47] #40790 closed, assigned to nobody

[2018-05-28 13:16] uocxp commented on #40553
I think the this issue can be closed

[2018-05-28 13:28] agaffney commented on #40789
Do you have a non-standard `sleep` command? It looks like from that output that the `echo ~sieben && sleep 0` is outputting `Sleeping for 1s...`, which ansible then proceeds to use where it would use your user's homedir.

I cannot reproduce this with 1 commit past the one you are testing with, so this sounds like a "local" issue.

[2018-05-28 13:45] yodatak commented on #40453
I got the same on ansible 2.5.3 , it wiil be fix on ansible 2.5.4 right ?

[2018-05-28 13:51] azhurbilo commented on #36725
the same issue

ansible 2.4.3.0
Docker version 18.03.0-ce

ansible task:

[code]

log:
[code]

[2018-05-28 13:56] gerhard-tinned commented on #29622
Oh yes it is still happening. I implemented a workaround as nobody seems to care about reported issueS!!!

This is not the only ticket ignored for years. Do with it what ever you like. I don't count on it to be fixed ... ever!

I am just annoyed I chose Ansible instead of a properly supported solution. - whatever!

[2018-05-28 14:08] sieben commented on #40789
Never mind a `sleep` go binary was polluting my path

[2018-05-28 14:08] #40789 closed, assigned to nobody

[2018-05-28 14:15] tyll commented on #27973
It also affects `ansible 2.5.3 (stable-2.5 116a504825) `

[2018-05-28 15:02] goldencut commented on #34156
Like I said - I have all sorts of non-yml files there and nothing bad happens, ansible works, nothing breaks. Except when file is named _this_way_.

[2018-05-28 15:25] TomasTomecek opened #40795 "docker connection: setup can't be executed"
##### SUMMARY
I am using a docker connection plugin and there is an error when setup module is supposed to be executed. It seems that ansible misinterprets some variable and substitutes it with `None`, i.e.
[code]

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker connection plugin

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora rawhide

##### STE

[2018-05-28 15:37] nickrusso42518 commented on #31575
Also @rcarrillocruz I am not a Python expert, but I believe you've got a misplaced comma here. Shouldn't it be after the Information line, and not be after the Command auth failed line?

[code]

[2018-05-28 15:47] Akasurde commented on #40787
Hi @osegarra !

Take a look at this https://docs.ansible.com/ansible/2.5/plugins/lookup/ini.html

And thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2018-05-28 15:47] #40787 closed, assigned to nobody

[2018-05-28 16:06] osegarra commented on #40787
Hi,

Of course I can retrieve the values from a file, there are lots of ways to
do it.

My post was a feature request for module ini_file because I'd like to do it
by this module.

I will re-open the issue and I'd like to be transfered to the ini_file
module team.

Thanks a lot

El lun., 28 may. 2018 17:48, Abhijeet Kasurde <notifications@github.com>
escribió:

[2018-05-28 16:13] osegarra opened #40796 "Ini_file module: retrieve value"
The ini_file module allows delete, add or update any parameter on it. But would be very nice to retrieve the value of a parameter.

Would be possible to add the functionality of retrieving a value?

##### SUMMARY

##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESU

[2018-05-28 17:47] nickrusso42518 commented on #31575
It's more difficult for me to test the specific case of command authorization without first setting up a functional TACACS server. The testing I did above was focused on measuring whether device output could be captured in the return dictionary of the `ios_config` module generically. Though your new commit did not appear to address this generic request, I'll provide you my test results anyway. As

[2018-05-28 17:57] gundalow commented on #31575
Regarding the security testing case, if you add `ignore_errors: yes` and register the result you can check you that the command files with a permissions error.

[2018-05-28 18:11] gothicx commented on #40786
Files identified in the description:

- [lib/ansible/modules/files/ini_file.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/files/ini_file.py)

[2018-05-28 19:41] nickrusso42518 commented on #31575
True. What about cases where the output is not is not indicative of an error, but is simply informational? I think it is advantageous to capture this in a generic way. Here are a few examples:

[code]

[2018-05-28 19:51] BondAnthony commented on #37220
@CarlosEspejo and @sjentzsch could you please test out this PR https://github.com/ansible/ansible/pull/40798. I believe this will handle the issue your running into.

[2018-05-28 20:30] MikeN123 commented on #38129
I concur with jacco32. This is quite a 'breaking' change and it is odd that is happens at the same time 'include' is 'undeprecated' again. It is a dangerous change as well: we had includes running under a specific user that are now running as root all of a sudden...

[2018-05-28 21:51] sysnet4admin commented on #40289
@NilashishC

Hi~!

Thank you for your response.
And I try to use a fresh version from vyos.io download pasge (https://downloads.vyos.io/?dir=release/1.1.8)
And modify some command to use communication. (ssh, userID, IP)

However I met same error when I run the code.

Thus could you let me know how could you pass to interpret in its UTF-8 literal format properly?

[code]

PLAY [Config VRRP for spin

[2018-05-29 01:00] andrew-sumner commented on #18154
The document link for the variable_precedence setting is incorrect, it's: http://docs.ansible.com/ansible/latest/reference_appendices/config.html#variable-precedence

@bcoca Unless I'm missing something, the variable_precedence setting seems to have missed the mark.
 There doesn't seem to be any way to get variables defined in inventories/<environment>/group_vars/[all | <group>] to override variab

[2018-05-29 02:39] Akasurde commented on #40782
resolved_by_pr #40783

[2018-05-29 02:41] Akasurde commented on #37220
resolved_by_pr #40798

[2018-05-29 03:13] yungezz commented on #39625
PR #38084

[2018-05-29 03:14] yungezz commented on #39624
PR #38084

[2018-05-29 03:16] yungezz commented on #36072
@yuwzho , could you pls help to look at this one?

[2018-05-29 03:28] 1021ky opened #40805 "user_guide/intro_getting_started.html#getting-started sentence is not suitable for mac os."
##### SUMMARY
user_guide/intro_getting_started.html#getting-started sentence is not suitable for mac os.

##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
Docs » Getting Started

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
nothing

##### OS / ENVIRONMENT
from OS : MacOS High Sierra 10.13.4
remote OS: ubuntu 14.04.5 (build with vagrant)

##### STEPS TO REPRODUCE
read http://docs

[2018-05-29 03:50] yuwzho commented on #36072
@yungezz OK

[2018-05-29 05:00] auto2mate opened #40807 "bigip_facts failing on Mac"
##### SUMMARY
bigip_facts failing to run from Mac

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

bigip_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
  System Version:	macOS 10.13.4 (17E202)
  Kernel Version:	Darwin 17.5.0

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
interface and vlan information from F5 LB

##### ACTUAL RESULTS

[co

[2018-05-29 05:01] auto2mate commented on #40807
I have installed ansible using pip

[2018-05-29 05:14] caphrim007 commented on #40807
@auto2mate this is not a Mac specific issue. This *always* means that either your specified port is wrong (for instance on public clouds with single NICs ou *must* specify `server_port: 8443`), or, because the host you specified is not resolvable in DNS, your hosts file, or is an invalid IP address.

You specify a host named "LB". Therefore, this host must either resolve in DNS or in your /etc/hos

[2018-05-29 05:14] ganeshrn commented on #40650
Which proposed functionality breaks backward compatibility?

The module `netconf_config` is supposed to cover all features of configuration management hence adding copy and delete config feature to `netconf_config` makes sense to me, moreover `netconf_rpc` is a wrapper over API and added to support use cases that are not covered with `netconf_get` and `netconf_config` modules. IMO the primary use

[2018-05-29 05:49] gowthamnakulan opened #40808 "Unable to install the Tower in Ubuntu"
##### SUMMARY

We are trying to install the Ansible tower setup in the Ubuntu server.

command which we are using is ANSIBLE_SUDO=True ./setup.sh

##### ISSUE TYPE
 - Documentation Report
Ansible tower Installation error.

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Ubuntu 16.4
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Successfu

[2018-05-29 06:06] Akasurde commented on #38799
@umrikar Could you please verify if this works for you ? needs_info

[2018-05-29 06:27] wkjun commented on #29308
if you use `sudo` ，you may add your env exec path to the server at '/etc/sudoers',like `/usr/local/sbin`

from
[code]
to
[code]
or
use  enviroment to define your PATH in ansible's yaml
[code]

[2018-05-29 06:34] gowthamnakulan commented on #40808
@Akasurde Hi Abhijeet, Do you have any idea on this issue.

[2018-05-29 06:34] thessell opened #40809 "service_facts returns misleading state on systemd hosts"
##### SUMMARY
The system module service_facts returns misleading state information on systemd hosts.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
service_facts

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
Ansible controller: RHEL 7.5
Remote host: RHEL 7.4

##### STEPS TO REPRODUCE
The service_facts module returns one of two states for each service it disc

[2018-05-29 07:06] trishnaguha commented on #40717
resolved_by_pr https://github.com/ansible/ansible/pull/40806

[2018-05-29 08:30] osegarra commented on #40786
[code]

[2018-05-29 08:31] osegarra commented on #40786
[code]

[2018-05-29 08:33] osegarra commented on #40786
I don't know exactly what you mean...

[2018-05-29 09:04] #40782 closed, assigned to nobody

[2018-05-29 09:04] Akasurde commented on #38436
Resolved via dff662fa0f245216e5554474fe8c6ff72a7fe66a

[2018-05-29 09:04] #38436 closed, assigned to nobody

[2018-05-29 09:39] artjomaverin opened #40816 "Variable from playbook in "hosts: all" can't be accessed by further plays like "hosts: group_name""
##### SUMMARY

Variable from playbook in "hosts: all" can't be accessed by further plays like "hosts: group_name"

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

Playbook file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']
HOST_KEY_CHECKING(/etc/ansible/ansible.cfg) = False

##### OS /

[2018-05-29 09:53] ikrauchanka commented on #20864
+1

[2018-05-29 10:06] danieljaouen opened #40817 "hacking/test-module adds an unexpected "_ansible_tmp" parameter"
##### SUMMARY
It looks like `hacking/test-module` adds an unexpected `_ansible_tmp` parameter during execution.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
homebrew_cask

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
OS X --> OS X

##### STEPS TO REPRODUCE
- run `./hacking/test-module -m ./lib/ansible/modules/packaging/os/homebrew_cask.py -a 'name=virtu

[2018-05-29 10:17] umrikar commented on #38799
@Akasurde Yes its working.

[2018-05-29 10:25] #38799 closed, assigned to nobody

[2018-05-29 10:54] rcarrillocruz commented on #31575
good catch, i forgot to push the local change that fixed that, doing now, thanks.

[2018-05-29 10:56] rcarrillocruz commented on #31575
Or well, I had already pushed, it's just the link I put in the comments referenced the sha with the bug.
Check the branch here:

https://github.com/rcarrillocruz/ansible/tree/command_authorization_failed_ios_regex

[2018-05-29 10:58] rcarrillocruz commented on #31575
Differentiating commands that succeed, commands that fail and commands that failed authorization would need further change to underlying code, and makes that special case not worth handling.

I really think the task should fail, and as John pointed out just catch the output and put logic around it, maybe with a block rescue.

[2018-05-29 11:01] rcarrillocruz commented on #31575
If you think the code should allow to configure what outputs of underlying device should be treated as failures and which not, feel free to open a feature idea ticket, we can look at it for next version.

[2018-05-29 11:03] nickrusso42518 commented on #31575
OK, thank you! I'll retest this once I can get TACACS configured and report back. May be about one week.

[2018-05-29 11:06] rcarrillocruz commented on #39576
This is a capture of 'sh ver':

[code]

[2018-05-29 11:19] wisotzky commented on #40650
Please have a look into PR #40818

As per your comment, you've proposed moving from the `xml` and `src` attributes to the `content` attribute. This means, users need to change existing playbooks.

Depending on the knowledge-level of the user, this becomes very obfuscating. Following the principles of NETCONF, you want to make a difference whether you access/edit the content of a datastore (operati

[2018-05-29 11:37] rrey commented on #39663
I guess we need a patch for this. I didn't find time to start working on it yet.

cc @seuf by the way.

[2018-05-29 11:58] trishnaguha commented on #40236
@hemskgren Can you please share `show inventory` output of your device?

[2018-05-29 11:59] trishnaguha commented on #40705
@jguirlinger Can you please share `show inventory` and `show vlan | json` output of your device?

[2018-05-29 12:28] jinowolski opened #40823 "Virtualbox inventory plugins breaks when machine/snapshot description contains ":" character"
##### SUMMARY

When description of a machine or a snapshot contains ":" it pollutes the "VBoxManage list -l vms" command causing virtualbox plugin to gather incorrect data or even brake.

The plugins depends on "VBoxManage list -l vms" command which cannot produce machine-readable output.

The correct way would be to gather list of machines by short version of vm listing "VBoxManage list vms", the

[2018-05-29 12:45] alex-left commented on #40715
until fix comes, you can modify your ansible.cfg
[code]

[2018-05-29 12:49] #31575 closed, assigned to rcarrillocruz

[2018-05-29 12:54] justinhauer opened #40824 "azure_rm.py does not work using service principal authentication"
##### SUMMARY
azure_rm.py does not work if using authentication through a service principal created for azure, the output of "'Namespace' object has no attribute 'adfs_authority_url'" will continually come on screen, this is exhibited on mac OSX, ubuntu and  centos. In order to make the py file work with the dynamic inventory script, all mentions of ADFS authority url need to be commented out - so

[2018-05-29 13:06] trishnaguha commented on #40713
resolved_by_pr https://github.com/ansible/ansible/pull/40825

[2018-05-29 13:12] joshbenner commented on #18154
@andrew-sumner: This works for me:

[code]

With this setup, inventory-based group_vars override playbook-based group_vars.

[2018-05-29 13:14] jguirlinger commented on #40705
here it is :
show inventory : https://gist.github.com/jguirlinger/f264ee0dd8d303fc2a6c9fb9c5b872b9
show vlan : https://gist.github.com/jguirlinger/fbc5a6a729c1ebdb08e3c3ec44a3c284

[2018-05-29 13:28] ganeshrn commented on #40650
`xml` and `src` options will be deprecated and **not** removed immediately. Ansible follows a deprecation cycle of 4 releases and user will get warning messages if they continue to use deprecated options so they will have enough time to move to `content`

This has the added overhead of user requiring to understand Netconf at rfc level which is exactly what we don't want as it kind of defeats the p

[2018-05-29 13:29] ganeshrn commented on #40650
Completely agree on this

[2018-05-29 13:33] michlaustn commented on #40715
@mkrizek testing with the devel branch I do not have the same issue. The task works as expected without issue.

[2018-05-29 13:36] mkrizek commented on #40715
@michlaustn thanks for testing! The fix should be in `2.5.4`.

[2018-05-29 13:36] #40715 closed, assigned to nobody

[2018-05-29 13:41] cfasnacht opened #40827 "Ansible proxy handling seems buggy"
##### SUMMARY

Ansible no_proxy variable is buggy

##### ISSUE TYPE
If a http_proxy is set Ansible always uses this proxy to connect to URLs even if it should not because the domain is in the no_proxy list.

Linux environment variable are the following:
http_proxy=http://x.x.x.x:8080
https_proxy=http://x.x.x.x:8080
no_proxy=localhost,127.0.0.1,localaddress,.localdomain.com,.example.com

Curl works

[2018-05-29 14:12] Qalthos commented on #38082
resolved_by_pr #40820

[2018-05-29 14:14] NilashishC commented on #40289
@sysnet4admin It seems that the last line is erroneous. Please change the following and re-run:

`set interfaces ethernet eth2 vrrp vrrp-group 10 prioriy 100`
TO
`set interfaces ethernet eth2 vrrp vrrp-group 10 priority 100`

If you still face the issue, please post the verbose output(adding -vvv) of the playbook run.

[2018-05-29 14:24] jinowolski commented on #40823
Sadly, the naming of "machinereadable" properties is different to non-machinereadable. For example, non-machinereadable property "Guest OS" has machinereadable name "ostype". This will break existing configurations.
I think that applying the change should be split to some subsequent ansible versions: add an option defaulted to the old parser, switch default to the new parser, remove old parser.

[2018-05-29 14:30] s-hertel commented on #30232
cc @acozine

[2018-05-29 14:36] jvanderaa opened #40829 "ios_facts: Tunnel interface MAC address shows IP address/Prefix"
##### SUMMARY

When running ios_facts to gather information on interfaces, a tunnel interface MAC address shows up as a IP address/prefix, such as `10.10.10.1/30` instead of null

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

ios_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT

MacOS --> IOS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

[2018-05-29 14:42] gundalow commented on #40683
Can we binary chop between a broken commit and working commit to work out what broke this?

[2018-05-29 14:56] ganeshrn commented on #39920
resolved_by_pr https://github.com/ansible/ansible/pull/40255

[2018-05-29 14:56] #39920 closed, assigned to ganeshrn

[2018-05-29 15:03] r1chy commented on #28736
Hey Guys,
i see this ticket is still open :)
i wonder if it's already implemented in ansible :)
Can someone help?
Greetings

[2018-05-29 15:05] sivel commented on #40778
Introduced in 4b01b92cfefd2179d7b601a30e60a3fdf45fa35d

[2018-05-29 15:06] jvanderaa commented on #40829
I dug a little bit into the .py file referenced by the bot. Perhaps changing the search string to `, address is` may be able to catch a MAC address better. Not sure if that would hurt other interfaces if the modification is made unfortunately.

**Hardware Interface**
[code]
**Tunnel Interface**
[code]

[2018-05-29 15:10] maxamillion commented on #40004
cc @chouseknecht @fabianvf

[2018-05-29 15:11] #40553 closed, assigned to nobody

[2018-05-29 15:19] maxamillion commented on #39754
cc @jimi-c

[2018-05-29 15:23] fabianvf commented on #40004
Sorry for the delay, we support the listing of resources through the `k8s` or `openshift` lookup plugins.

[code]

[2018-05-29 15:24] jdavid5815 commented on #36915
Great news that tags will be supported in 2.6. However, would it be possible to retrieve a list of existing tags? This functionality does not seem to be available.

[2018-05-29 15:36] #40713 closed, assigned to trishnaguha

[2018-05-29 15:52] RemiCardona opened #40832 "regression in remote user on ssh connection (2.5.2 ok, 2.5.3 broken)"
##### SUMMARY
ansible no longer figures out the correct ssh user to use. `-u <remotelogin>` becomes mandatory

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

plugin/connection/

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_BECOME_ASK_PASS(/home/rcardona/Projects/dev-servers/ansible.cfg) = True
DEFAULT_CALLBACK_WHITELIST(/home/rcardona/Projects/dev-servers/ansible.cfg) = ['pre

[2018-05-29 15:55] sivel commented on #40832
Duplicate of https://github.com/ansible/ansible/issues/40483 https://github.com/ansible/ansible/issues/40551

[2018-05-29 15:55] #40832 closed, assigned to nobody

[2018-05-29 16:10] gundalow commented on #40551
See also https://github.com/ansible/ansible/pull/40259

[2018-05-29 16:11] angystardust commented on #36915
@jdavid5815 there's a new module in the 2.6. Check it out:
http://docs.ansible.com/ansible/devel/modules/vmware_tag_facts_module.html#vmware-tag-facts-module

[2018-05-29 16:13] #40717 closed, assigned to trishnaguha

[2018-05-29 16:14] #39471 closed, assigned to trishnaguha

[2018-05-29 16:16] #39576 closed, assigned to rcarrillocruz

[2018-05-29 16:43] #40777 closed, assigned to nobody

[2018-05-29 16:46] kandulaziot opened #40836 "pip install ansible errors SyntaxError: invalid syntax"
##### SUMMARY
I am trying to install Ansible by compiling the Python code on a Vagrant cloud image as below.
Image details:
config.vm.define "db1" do |db|
    db.vm.box = "nrel/CentOS-6.6-x86_64"
    db.vm.box_version = "1.0.0"
    db.vm.hostname = "db1"

what has been done so far:
yum install gcc
yum install python-setuptools
easy_install pip
yum install python-devel

when using _sudo pip install

[2018-05-29 16:47] #40746 closed, assigned to nobody

[2018-05-29 16:55] #40795 closed, assigned to nobody

[2018-05-29 16:58] sivel commented on #40808
The error here is when trying to import a GPG key for an APT repository:

[code]

As indicated by this error, this is caused by an inability to contact `hkps.pool.sks-keyservers.net ` on port 11371

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2018-05-29 16:58] #40808 closed, assigned to nobody

[2018-05-29 17:48] ansiblejunky commented on #40511
@ryansb Your test is incomplete, because we need to know the `boto3` version that you have installed on your system. Ansible 2.5.3 might have worked for you because you have an older `boto3` installed on your system. Can you check that please?

[2018-05-29 17:52] ryansb commented on #40511
[code]

[2018-05-29 17:58] ryansb commented on #40511
Also works with:

[code]

It also works on `boto3 v1.3.0`, which was released in March 2016, more than 2 years ago. This isn't an ansible bug.

[2018-05-29 18:49] Bak3y commented on #24037
I have a need to set this on a playbook basis right now.  There's certain times I'd love to control this inside the playbook itself rather than relying on --forks

[2018-05-29 19:35] flowerysong opened #40850 "Inaccurate YAML inventory warning introduced by #40660"
##### SUMMARY

d7419b4dbc15c53317fe6490146bfd4906bc60d0 from #40660 makes a YAML inventory with an empty group warn that the empty group "is not a valid group name." The warning can be avoided in this case by explicitly using an empty mapping, but I'm not sure what the intent of this change was since the check that triggers the warning has nothing to do with the group name.

##### ISSUE TYPE
 - Bu

[2018-05-29 20:38] nwsparks commented on #37795
@FloMedja no problem, and thanks. Glad to hear that solved it.

[2018-05-29 20:39] nrwahl2 commented on #30179
PR #30472 is already merged.

[2018-05-29 20:46] cognifloyd commented on #20493
`import_role` has this issue as well

[2018-05-29 20:48] jimi-c commented on #29047
Fixed by https://github.com/ansible/ansible/pull/40847

If you have any further questions, please let us know by stopping by one of the two mailing lists, as appropriate:

   * https://groups.google.com/forum/#!forum/ansible-project - for user questions, tips, and tricks
   * https://groups.google.com/forum/#!forum/ansible-devel - for strategy, future planning, and questions about writing code

Be

[2018-05-29 20:48] #29047 closed, assigned to nobody

[2018-05-29 21:00] rpural commented on #30599
This is still an issue in Ansible 2.5.3.

[2018-05-29 21:30] sysnet4admin commented on #40289
@NilashishC

oh...Yes it is success
Thank you for your great help NilashiscC

I will test other box or other way to verify this issue.

Thank you a lot!!

##### [ Code ]
[code]

##### [ Run the Code ]

[code]

[2018-05-29 21:53] ghost opened #40853 "homebrew_tap fails to tap caskroom/cask now."
##### SUMMARY

Running the task `homebrew_tap: name=caskroom/cask` fails due to the fact that caskroom/cask has migrated to homebrew/cask.  See https://github.com/Homebrew/brew/pull/4210
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

homebrew_tap

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

From macOS 10.13.4
To macOS 10.13.4

##### STEPS TO REPRODUCE

[2018-05-29 22:37] wisotzky commented on #40650
@ganeshrn

Which even increases the complexity of this module even more...

I am not agreeing on that. My proposed `netconf_set` is not really working at RFC level. As discussed, dedicated modules should be used for functions combining multiple NETCONF RPCs or doing actions in different ways based on nodal capabilities.

Could be done... But again, I think this more raised complexity, as people wo

[2018-05-30 02:00] thessell commented on #40809
Since service_facts is not presently reliable for systemd, as a workaround I'm querying the service I'm interested in with `command: systemctl is-active <service>`

[2018-05-30 02:11] sysnet4admin commented on #40289
It is success output too.
So I will test with ansible version 2.5.2 or other version due to clarify it.

[code]

[2018-05-30 02:11] vpopescu opened #40857 "Azure azure_rm_functionapp and FUNCTIONS_EXTENSION_VERSION"
##### SUMMARY
Need to support setting runtime version. Currently it defaults to runtime ~1, and should be able to select runtime beta as well (and in the future, additional runtimes)

Using the playbook below causes a 409/Conflict error. But I don't think this is the right way of doing it anyway, Microsoft seems to suggest that the app needs to be fully created, then the runtime changed from ~1 to

[2018-05-30 02:50] Akasurde commented on #36915
@jdavid5815 Thanks for providing information. I glad that the new module helps you.

[2018-05-30 03:04] sysnet4admin commented on #40289
It worked and fine...It is very strange result...

#### Uninstall ansible-version 2.5.3
[code]

#### Install ansible-version 2.5.2
[code]

#### And run (don't mention for creating hosts file)
[code]

[2018-05-30 03:08] sysnet4admin commented on #40289
NOW I knew what is cause of this issue.

I paste the code from windows system.
And '-' character mis-read from windows to linux system.

This this problem came from UTF code issue.
Thank you for your help
@NilashishC

![image](https://user-images.githubusercontent.com/29163931/40696747-0d1e4d78-6402-11e8-9955-66f4ce4fc2fe.png)

[2018-05-30 05:08] Akasurde commented on #40836
@kandulaziot Thanks for reporting this issue. Python 2.6 support is dropped for pip 10. Please refer - https://pip.pypa.io/en/stable/news/#deprecations-and-removals. Also, https://github.com/pypa/pip/issues/5152

Make sure you do `pip==9.0.3` on CentOS/RHEL 6.

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to dire

[2018-05-30 05:08] #40836 closed, assigned to nobody

[2018-05-30 05:15] umrikar commented on #40529
Hi @Akasurde did you check why changed flag is getting enabled when there are no changes

[2018-05-30 05:18] gowthamnakulan opened #40862 "Could not able to run Multiple Plays."
##### SUMMARY

I am able to execute a single play in the play book.

But i am not able to execute the second play in the playbook.
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

vmware_guest

##### OS / ENVIRONMENT

Ubuntu 16.4
##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Deploying Two VMs
##### ACTUAL RESULTS

[code

[2018-05-30 05:33] htallur opened #40864 "(azure_rm.py) had an execution error: 'ascii' codec can't decode byte 0xe2 in position 34: ordinal not in range(128)"
##### SUMMARY
<azure dynamic inventory scritp throws error "'ascii' codec can't decode byte 0xe2 in position 34: ordinal not in range(128)" >

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

contrib/inventory/azure_rm.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2018-05-30 05:50] Akasurde commented on #40862
@gowthamnakulan Thanks for reporting this issue.
You have typo in your playbook near

[code]

This should be like -

[code]

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https:

[2018-05-30 05:50] #40862 closed, assigned to nobody

[2018-05-30 07:04] NilashishC commented on #40289
Thank you @sysnet4admin. Glad to know that it is resolved. Closing the issue.

[2018-05-30 07:04] #40289 closed, assigned to NilashishC

[2018-05-30 08:04] dev-yolkin commented on #40816
Seems that vars_prompt feature is really disliked, since those variables are not even part of hostvars['hostname']

[2018-05-30 08:05] jamessemai opened #40867 "Support SID in win_user_right module to handle localized Windows versions"
##### SUMMARY
The current win_user_right module requires users to be specified by name.
This is a problem when managing a mix of localized and non-localized Windows versions, where these names might be different. E.g. 'Administrator' vs 'Administrateur'.

Compare https://support.microsoft.com/en-us/help/243330/well-known-security-identifiers-in-windows-operating-systems and https://support.microso

[2018-05-30 08:09] vikrantrathore opened #40868 "lxd_container do not contain addresses in results"
##### SUMMARY
When launching a lxd container using lxd_container module with registered variable. In the results it should contain addresses, but it does not. I checked the created container it does have ipv4 address.

##### ISSUE TYPE
- Bug report
##### COMPONENT NAME

lxd_container

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
GCC 4.2.1 Compatible Apple LLVM 9.1.0 (

[2018-05-30 08:23] jamessemai opened #40869 "win_security_policy - unable to remove value"
##### SUMMARY
The win_security_module throws an error when "unsetting" a previously set value.

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_security_policy

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE

Task:

[code]

Output:

[code]

##### EXPECTED RESULTS
The value should be emptied.

##### ACTUAL RESULTS
In fact, the value *is* emptied (when c

[2018-05-30 08:55] trishnaguha commented on #40013
@mikewiebe I tried to transfer comparatively larger file(6541 bytes) than the one (367 bytes) we use in tests which works fine.
paramiko version I have
[code]

[2018-05-30 09:31] gowthamnakulan commented on #40808
Hi Sivel,

I have enabled the ports in my Ubuntu server by running the below command . But still its failing.

ansible@vision-testvm05:/opt/work/ansible/ansible-tower-setup-3.2.5$ sudo iptables -I INPUT -p tcp -m tcp --dport 11371 -j ACCEPT
ansible@vision-testvm05:/opt/work/ansible/ansible-tower-setup-3.2.5$ sudo iptables -A INPUT -p tcp --dport 11371 -j ACCEPT

[2018-05-30 09:39] gothicx commented on #40786
!component = lib/ansible/modules/files/ini_file.py

[2018-05-30 09:46] kustodian commented on #29914
@samdoran I'm still interested to have something like this for all file modules. Maybe it can be part of the file utils which all file modules use, so all of them have the same parameter.

[2018-05-30 09:53] mkrizek commented on #37929
This is not a duplicate of #29047, as described in the comment above.

[2018-05-30 09:59] Akasurde commented on #40523
resolved_by_pr #40872

[2018-05-30 10:01] sanpii commented on #39311
Same problem here with archlinux:

[code]

[code]

[2018-05-30 10:29] mkrizek commented on #37929
Running the playbook with `-v` reveals information to user about the cause of the failure:
[code]
So I guess this bug comes down to `debug` module printing `VARIABLE IS NOT DEFINED!` without printing the name of the variable. This is fine in case the var is specified in `var:` param. It's not that user friendly in case like this, when there is an undefined variable nested in the var specified in `