[2017-10-31 14:33] sivel commented on #32366
You are correct.  Feel free to submit a pull request to update the documentation.

[2017-10-31 14:37] bcoca commented on #32383
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Relative paths in the configuration file are relative to the file itself, 2.4.1 fixed a bug in which some configuration items defaulted

[2017-10-31 14:37] #32383 closed, assigned to nobody

[2017-10-31 14:38] alikins commented on #31501
Could this be retested with with devel branch or a 2.4.1 release or release candidate? This could potentially be related to the same issues as other ansible_distribution bugs.

[2017-10-31 14:42] guenhter commented on #22397
I see that the warning is useful, but can e.g. longer expressions like the following one can be written without any templating delimiters:

[code]

[2017-10-31 14:42] alikins commented on #31501
@szollinx

Also, if anyone has an example /usr/lib/os-release from ClearLinux, post it.

Even better would be output from 'hacking/tests/gen_distribution_version_testcase.py' ran on a ClearLinux system that shows this error.

[2017-10-31 14:44] bcoca commented on #32353
@EddyP23 the merging is by design as plays only deal with hosts and tasks, variables are flattened to the host (this is clearly stated in docs as well as the precedence and order of merges) and groups are just a 'host property'.

That said, my comment above is about a feature that will allow more introspection to the setup, this is not something we can easily do during runtime as we do not examine

[2017-10-31 14:49] peteeckel commented on #32383
Hi,

perfect, thanks a lot. That change slipped my attention.

I understand that this behaviour is insecure, but I need it in a development context with several Vagrant environments (which are inherently insecure anyway) that have different inventories, and where putting a specific ansible.cfg file in place for every setup did not seem really practical.

Thanks again,

  Peter.

[2017-10-31 15:14] nusenu commented on #32327
If the documentation says 'latest' is a valid value than this issue should not be considered a 'feature_idea'?

package manager: pkg

[2017-10-31 15:15] MarkusTeufelberger commented on #32377
Seems to be related to https://github.com/pyca/pyopenssl/issues/206

[2017-10-31 15:19] MarkusTeufelberger commented on #32038
I strongly disagree. If a specified criterion is not matched, some action has to be taken or the module should fail. If you are worried that keys could be regenerated, run the play in check mode.

[2017-10-31 15:41] shankerrhce commented on #30566
this issue is not fixed in ansible 2.5.0 too.  i see the fix was submitted but could not see in the nightly build.
How to read the status of this fix

[2017-10-31 15:43] hillsy commented on #20000
The problem with missing dependencies and state: latest is covered in #24864

[2017-10-31 15:44] Akasurde commented on #30774
@robinro Was on PTO so missed this one. Thanks @mkrizek for the PR.

[2017-10-31 15:49] mrcamp opened #32394 "clear_host_errors does not work with gather_facts"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

clear_host_errors

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

CentOS 7

##### SUMMARY

clear_host_errors does not seem to clear host errors from gather_facts.

##### STEPS TO REPRODUCE

[code]

Hosts consist of A and B. A is fine, but B is unreachable.

##### EXPECTED RESULTS

I would expect Ansible to note tha

[2017-10-31 15:55] emanuele-leopardi commented on #32377
Hi, pyOpenssl version **17.3.0**

[2017-10-31 15:57] bcoca commented on #32379
So currently delegation does no checks on the delegated to host.
Here are my thoughts on how this should work:

- add a check against play hosts in 'unreachable' status,
- keep track of 'unreachable' delegated host, check against these
- reexamine current status assignment to 'inventory_hostname' when delegation status is 'unreachable'
- should `meta: clear_host_errors` also clear delegation statu

[2017-10-31 16:03] ktosiek commented on #32347
Same here with the `template` module, on freshly compiled `stable-2.4`. Also, I don't see the difference when running with `--diff`.

[2017-10-31 16:13] bcoca commented on #32386
You should use `no_log: True ` on that kind of task.

[2017-10-31 16:21] inittab commented on #32386
Ouch! True :-)
But, maybe, in this particular case,... Dunno. Just to avoid some of us from shooting ourselves in the foot. Thanks, Alberto

[2017-10-31 16:22] nbk12ul commented on #31982
Had the same issue, then discovered that on this architecture, /etc/rc.local is indeed not a file but a link.  You can backup the actual file with the module if you specify the real file in /etc/rc.d/rc.local.  Not sure if ansible is expected to backup a link in this case.

[2017-10-31 16:23] sanjeevrg473 opened #32395 "WinRM connection Error during playbook execution"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- WinRM
- win_reboot
- wait_for_connection

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

I am executing 2 roles. First role does the server roles+feature install and 2nd role installs core packages. After server roles and features install I have win_reboot module that reboots the systems and waits

[2017-10-31 16:32] ktosiek commented on #32347
Bisected this to b61bfc87b85776a633ba27198a1587048079d60e

[2017-10-31 16:36] ktosiek commented on #32347
It's also broken on 01b6c7c9c6b7459a3cb53ffc2fe02a8dcc1a3acc (which is a cherry-pick of b61bfc87b85776a633ba27198a1587048079d60e), but fixed on devel

[2017-10-31 16:41] jonathannaguin opened #32396 "Create Cloud Formation Change Set fails with a KeyError exception"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
cloudformation

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When I try to create a new Cloud Formation Change Set, Ansible fails with a python error:
KeyError: 'ResourceType'
I did a bit of investigation and I found out this feature was working fine until 6d167399261e656262bbf7ece575cdfd9bd2dc

[2017-10-31 16:42] ktosiek commented on #32347
aaand it was fixed in the, aptly named, 21cdddce744c56b0a1f844297b3e04b4467b8d64. This should get backported to stable-2.4 too :-)

[2017-10-31 16:45] bcoca commented on #32327
@nusenu i would consider that a documentation bug, as package was made to only enforce present/absent #32397

[2017-10-31 16:51] bcoca commented on #32384
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

You are not using a variable, you are using a string, which is always `True`.
This is what you want:
``` ignore_errors: "{{ignore_asser

[2017-10-31 16:53] bcoca commented on #32386
That is why i left this open, we don't currently have a way to do `no_log` based on assigned values, only on the nature of fields, so we would always hide value, even when it is not a password.

[2017-10-31 16:54] gundalow opened #32398 "ansible-test: pip cryptography: error in cryptography setup command: Invalid environment marker: platform_python_implementation != 'PyPy'"
##### ISSUE TYPE
 - Bug Report
##### COMPONENT NAME
ansible-test

##### ANSIBLE VERSION
2.3

##### SUMMARY

In `stable-2.3` on Windows pip installing the requirements fails with:

[code]

As a **work around** in https://github.com/ansible/ansible/pull/32399, if `generate_pip_install` fails we upgrade pip then retry `generate_pip_install`.

This issue acts as a reminder to review that code and if n

[2017-10-31 16:55] Sodki commented on #24425
We use a different workaround, by setting a fact to its own value before using it:

[code]

This way the variable gets set to its decrypted value. The good thing about this approach is that you only need to add lines, not change the lines that you already have. Once the issue is fixed, the extra lines are gone.

[2017-10-31 16:56] nusenu commented on #32327
Brian Coca:

correct, and this issue is about fixing that bug in the documentation

maybe add "(not supported on ...)" next to "latest"?

[2017-10-31 16:58] rromanchuk commented on #32218
Hey @wimnat i'm a new ansible user, i'll RTFM, but you can probably point me in the right direction. is there an easy way to utilize #26483 without a reinstall/cloning the PR?

[2017-10-31 17:00] bcoca commented on #32394
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The issue is not with `meta: clear_host_errors` but in the execution order, `tasks:` runs AFTER `roles:` you want `pre_tasks:`.

In the

[2017-10-31 17:01] bcoca commented on #32327
see PR linked above

[2017-10-31 17:27] mrcamp commented on #32394
I understand that `tasks` runs AFTER `roles`, that's why I used it.

I may not have explained my `EXPECTED RESULTS` in the report well enough: I expect A to be reachable during gathering_facts and the defined roles (this works). I expect B to be unreachable during gathering_facts, and then not tried against for the defined roles (this works). I then expect clear_host_errors to run (this does not a

[2017-10-31 17:31] ghost opened #32400 "loops and mode in modules like file,template cause chmod to complain"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
file related modules like `file`, `template` that have a `mode` parameter

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

just an entry for the inventory path

##### OS / ENVIRONMENT

[code]
##### SUMMARY
using a loop that passes item in the `mode` parameter
results in chmod complaining with `mode must be in octal or symbolic form`

#####

[2017-10-31 17:38] sivel commented on #32400
Duplicate of https://github.com/ansible/ansible/issues/31952

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-10-31 17:38] #32400 closed, assigned to nobody

[2017-10-31 17:40] jhawkesworth commented on #32395
I wonder if the features you are installing require multiple reboots to install?  If so the connection could be disappearing.  Worth making sure no pending windows updates, and automatic maintenance isn't running too.

[2017-10-31 17:40] andygeorge commented on #19604
@bcoca Is the configurable priority still something you guys are planning on adding?

[2017-10-31 17:42] ghost commented on #32400
@sivel the duplicate is closed though, isn't this considered a bug? maybe this should remain open for reference ?

[2017-10-31 17:51] sivel commented on #32400
It is a duplicate of a closed issue that is not considered a bug, thus this issue is not considered a bug.  There is explanation in the other issue, and it also includes reference to other work that may resolve this in the future.

[2017-10-31 18:04] ghost commented on #32400
@sivel i don't see how this is not a bug when following an example in the docs results in an unexpected behavior and error, maybe the docs should change? i understand it's an upstream bug so how can not this be a bug for ansible? maybe this or the original #31952 should remain open for reference until this is fixed?

[2017-10-31 18:09] sanjeevrg473 commented on #32395
@jhawkesworth Yes the features and roles need multiple restarts. I am not sure how many. Do you have any solution on what I should do?

[2017-10-31 18:38] szollin commented on #31501
@alikins

I ran hacking/tests/gen_distribution_version_testcase.py on a ClearLinux server. Below is the output.

[code]

I also created a symlink from /usr/lib/os-release to /etc/os-release. I got different output.
[code]

I also grabbed the output of the /usr/lib/os-release file for you.

[code]

[2017-10-31 18:44] bcoca commented on #32394
@mrcamp sorry for misunderstanding, but i'm not sure your expectation matches the function.
The 'clear host errors' means that the host is now available to proceed in play, not that the error status of all tasks associated with that host get changed.

in any case, for the `meta` task to execute at least one host still needs to be active in the play, is this the case?

[2017-10-31 18:47] mrcamp commented on #32394
No worries! I was probably too vague to begin with. There is at least one host still active in the play.

[2017-10-31 18:49] bcoca commented on #19604
@andygeorge already exists, look at http://docs.ansible.com/ansible/devel/intro_inventory.html#how-variables-are-merged

which also contains the docs that this ticket was a request for, so closing now.

[2017-10-31 18:49] #19604 closed, assigned to nitzmahone

[2017-10-31 19:13] mrcamp commented on #32394
Ok so `clear_host_errors` clears it to retry again, but doesn't technically clear the error from Ansible.

Is there a different meta tag to use or a different strategy to accomplish this? `clear_host_errors` sounded like the correct path, hence my bug report.

[2017-10-31 19:18] bcoca commented on #32394
@mrcamp ah, so you wan to clear the 'TASK' errors, not the HOST .. those are 2 dif things.

Host are marked as 'failed' or 'unreachable' and that affects subsequent task execution, this is what 'clear_host_errors' affects.

Task status is not the same, a failed task can mark a host as failed (unless you use ignore_errors), the state of the task can be controlled via `failed_when:` on the task itse

[2017-10-31 19:18] #32394 closed, assigned to nobody

[2017-10-31 19:21] IPvSean opened #32405 "net_vlan seems to still require provider transport (needs to default to cli)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
net_vlan networking module
https://docs.ansible.com/ansible/2.4/net_vlan_module.html

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

##### SUMMARY
[code]

##### STEPS TO REPRODUCE
Here is the playbook setup:

[code]
and login_info is here

[code]

and ansible.cfg
[code]

##### EXPECTED RESULTS
It would work ide

[2017-10-31 19:30] ghost commented on #32288
The original list was chosen because of this exact problem so it seems that cifs should be in the default as well.  Or it should be better documented rather than having to find it in a closed ticket from 2 years ago.  This wasted 4 hours of my time, it is not an easy thing to figure out for beginners.

[2017-10-31 19:36] bcoca commented on #32288
I'm not sure what additional docs over the link above are needed, but the docs are a part of the project and we encourage people to send us updates for them.

[2017-10-31 19:37] mrcamp commented on #32394
I have not said anything about tasks failing. I fully understand `ignore_errors` and `failed_when` and know that these are not applicable to this scenario.

I am referring to a HOST unreachable error and not a TASK error. You said that `clear_host_errors` affects `unreachable` hosts. That is exactly what my descriptions are about.

1. I run a playbook.
2. A is reachable. B is unreachable. This is

[2017-10-31 19:48] s-hertel commented on #32218
@rromanchuk you can copy the new module file into your local `library/`

The elb_target module returns snake_case and elb_target_group needs capitalized options provided for target (but you can fix it with the regex_replace filter).

[2017-10-31 20:12] guenhter commented on #32384
@bcoca but this also happens when I use:

[code]

I tried the following combinations:

[code]

Nothing works.

[2017-10-31 20:16] moozer commented on #31758
It works when running from the latest source  (following https://docs.ansible.com/ansible/latest/intro_installation.html#running-from-source)

➜ ansible --version
ansible 2.5.0 (devel 95b31a3b61) last updated 2017/10/31 21:08:34 (GMT +200)

[2017-10-31 20:35] #32199 closed, assigned to nobody

[2017-10-31 20:51] tedder commented on #32396
I think it's more likely from @ryansb's change in 11c225e0396259e93bd616a2e833a38e89b26627 around line 269.

In the AWS console (or with awscli), can you tell us what the events are for this stack?

[2017-10-31 20:53] cjacobsen commented on #11997
It still happens in Ansible 2.4.1.0

[2017-10-31 21:28] bcoca commented on #32394
the fail status is not only due to host state, but also due to task failures

[2017-10-31 22:06] paulRbr commented on #14166
@abadger @bcoca I am seeing the same problem stated in this issue with latest devel (`ansible-playbook 2.5.0 (devel 710d1f074e) last updated 2017/10/31 20:27:00 (GMT +200)`) should we reopen it or do you want me to create a new issue?

[2017-10-31 22:11] andreabolognani commented on #31982
Since the `lineinfile` module is changing the contents of the file, I would expect the contents to be backed up, regardless of whether the file is a link. Backing up a link doesn't make much sense anyway ;)

I'm aware of the fact that `/etc/rc.local` is a symbolic link on CentOS 6 and that I could work around the issue by pointing to the actual file, but I'd really rather not special-case this OS,

[2017-11-01 00:14] suankan opened #32416 "module_utils/ios.py: Ansible does not exit from configuration mode in case of command failure"
##### ISSUE TYPE

 - Bug Report
##### COMPONENT NAME

lib/ansible/module_utils/ios.py
lib/ansible/modules/network/ios/ios_config.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

all default configs
##### OS / ENVIRONMENT

Ubuntu 14.04
##### SUMMARY

Before ansible module ios_config executes a command specified with 'lines' parameter, it enters into device config mode by calling `configure t

[2017-11-01 00:51] Sodki commented on #29052
I'm hitting the same issue. The only difference in the skeleton is that on B I'm using `include_role` instead of using `meta`. But the result is the same. This unfortunately means that if you've been doing the right thing and reusing roles, you end up with a broken system and there's no workaround.

[2017-11-01 01:27] dagwieers commented on #19851
Duplicate of #17992

[2017-11-01 01:27] #19851 closed, assigned to nobody

[2017-11-01 01:27] dagwieers commented on #19757
Duplicate of #17992

[2017-11-01 01:27] #19757 closed, assigned to nobody

[2017-11-01 02:15] beverlycodes commented on #27722
This remains an issue in 2.4.1

[2017-11-01 02:19] Akasurde commented on #30195
resolved_by_pr #32418

[2017-11-01 06:34] ganeshrn commented on #32416
@suankan The PR that you referenced does not fix the issue for all the network platforms.

Can you please retest with PR #32426 and check if it fixes the issue.

[2017-11-01 08:15] jhawkesworth commented on #32395
Not really, but there are things you can try.

You could maybe split up the win_feature into multiple steps and work out which ones require reboots.

Or you could insert a long playbook pause before the wait_for_connection (with a when condition on it).

Or perhaps you could move the win_reboot, the long pause and wait_for_connection into a handler and just use a notify for the handler on the win

[2017-11-01 08:15] #32395 closed, assigned to nobody

[2017-11-01 08:15] ganeshrn commented on #32155
Based on the error, it looks like the device is stuck in a wrong prompt while running `show running-config` command, probably due to failure in running earlier task. If that's the case you might want to retest with the patch applied in PR #32426.

[2017-11-01 08:28] masato-asahara commented on #32238
@sivel Thanks!

[2017-11-01 08:50] jonathannaguin commented on #32396
@tedder this is the list of events, taken from the AWS CLI (describe-stack-events):

[code]

[2017-11-01 10:33] noplanman commented on #32001
Is there a fix for this yet?

Or do you have any smart quick-fix solution for it? (like setting the fact manually?)

[2017-11-01 11:14] #18988 closed, assigned to nobody

[2017-11-01 11:29] QuantumGhost opened #32432 "Copy module should fail while copying files to unwritable directories"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 14.04.5 LTS

##### SUMMARY

##### STEPS TO REPRODUCE

Create a folder`/home/user_a/ansible-test` on machine node1 with permission below:
[code]
Then execute the following command on another machine node2:
[code]
with inventory file:

[code]

Command ab

[2017-11-01 12:26] linlynn opened #32436 "does ansible support manage the target machine which only have CLI shell?"
##### ISSUE TYPE
 - Bug Report
 - Feature Idea

[code]

##### OS / ENVIRONMENT
MAC

##### SUMMARY
Our target machine is a bare metal IBM/Lenovo systemX and we are able to ssh into imm (https://download.lenovo.com/ibmdl/pub/pc/pccbbs/thinkservers/imm_userguide.pdf) , are we able to use ansible to execute the cli command ?

##### STEPS TO REPRODUCE
ansible -vvv -i inventory servers -u username -a he

[2017-11-01 12:35] Sodki commented on #29887
@cypx I would still prefer `PyMySQL` instead, since it's a pure Python implementation and requires no system libraries. Having said that, using mysqlclient instead is better than what we have right now. It's essentially a maintained fork, compatible with Python 3.

[2017-11-01 13:07] funkyfuture commented on #31596
i's also suggest to include hyperlinks to the elaboration on [Including an Importing](https://docs.ansible.com/ansible/2.4/playbooks_reuse_includes.html) in the 'module' documentation on `include_tasks` and `import_tasks`.

[2017-11-01 13:12] LordAro opened #32437 "lxd_container config always changed"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
lxd_container

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT
N/A

##### SUMMARY
When changing an existing container's config, the ansible task is always marked as changed

##### STEPS TO REPRODUCE

[code]

From the looks of things, https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/lxd/lxd_container.py#L493 is related

[2017-11-01 13:13] ashemedai commented on #32001
Yes, the current devel and stable-2.4 branch has this since 6 days: https://github.com/ansible/ansible/commit/6203e899f03a923251e5cae72db3648aa4f02eee

@alikins Might want to close this ticket as well then. And I hope this leads to a 2.4.1.1 because it actively breaks existing deployments. Just ran into it myself today that playbooks stopped running.

[2017-11-01 13:18] calfonso commented on #31988
This bug report is actually a feature idea to provide another argument other than `--ask-pass` to use for unlocking the private key rather than overloading `--ask-pass` for two cases (providing a password for password based auth OR using it for unlocking the private key). Since this is not a networking specific issue, I'm going to move this over to core and set it to a feature idea for their evalu

[2017-11-01 13:34] calfonso commented on #30979
This feature idea is dependent on the OS detection work being done in Cliconf. cc/ @rcarrillocruz

[2017-11-01 13:41] gundalow commented on #31988
Added to the Core IRC Meeting agenda https://github.com/ansible/community/issues/273#issuecomment-341108984

[2017-11-01 13:42] calfonso commented on #29760
While we won't support this in junos_command, perhaps we should have a filter plugin to do this work so a user can control what they want to do with the output.

[2017-11-01 13:47] JOduMonT commented on #26670
interesting
On ubuntu 16.04LTS
I have this error only if
I install ansible via pip or ppa.

If I use ansible 2.02, which come from the ubuntu repo
this issue is not present

sadly the `sudo -H pip2 install pyOpenSSL not working for me`
and pip return an issue with OpenSSL; which is a kind of a loop

[2017-11-01 13:48] Petro026 opened #32439 "vmware_guest takes action in check mode"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

NOTE: also verified issue against 2.5/devel

##### CONFIGURATION
DEFAULT_GATHERING(/home/ansible/tower_install/ansible_afsoc/playbooks/ansible.cfg) = implicit
HOST_KEY_CHECKING(/home/ansible/tower_install/ansible_afsoc/playbooks/ansible.cfg) = False
PERSISTENT_CONNECT_TIMEOUT(/home/ansible/tower_instal

[2017-11-01 13:49] calfonso commented on #26371
cc @rcarrillocruz clifconf work should enable resolving this.

[2017-11-01 13:54] xlammertink opened #32440 "Jenkins_plugin module fails with proxy"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Module: jenkins_plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No changes to the default configuration

##### OS / ENVIRONMENT
CentOS 7.4 behind a proxy.
VM cannot talk to the internet without proxy.
Proxy settings are configured through /etc/environment file and also configured for jenkins using /var/lib/jenkins/proxy.xml

##### SUM

[2017-11-01 13:55] calfonso commented on #25319
I'll assume this is fixed. Closing the issue, but if you still see the issue let us know!

[2017-11-01 13:55] #25319 closed, assigned to nobody

[2017-11-01 13:58] calfonso commented on #23723
Closing this issue, assuming it's fixed. If it's still an issue, let us know!

[2017-11-01 13:58] #23723 closed, assigned to nobody

[2017-11-01 14:04] calfonso commented on #23247
Since this issue has turned into a conversation and nothing really actionable, I'm going to close this issue. Any issues with the code should be opened as GH issues with the bug template filled out or feature ideas should be opened as a GH issue and the feature details filled out in the template.

[2017-11-01 14:04] #23247 closed, assigned to nobody

[2017-11-01 14:08] #31161 closed, assigned to ganeshrn

[2017-11-01 14:08] #32416 closed, assigned to ganeshrn

[2017-11-01 14:19] pescobar commented on #32001
I just checked that this is fixed upstream

[code]

[2017-11-01 14:19] jean-christophe-manciot opened #32441 "stderr_lines are missing when stderr is present"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

script

##### ANSIBLE VERSION

Latest unstable version:
[code]
##### CONFIGURATION
[code]
##### OS / ENVIRONMENT
- host: Ubuntu 17.04 4.10
- targets:
  + NX-OSv 9k 7.0(3)I6(1)
- paramiko: 2.0.6

##### SUMMARY

When the **script** module is run **locally** (no ssh) and returns an error, stderr is present but not stderr_lines.

##### STEPS TO REPR

[2017-11-01 15:27] alikins commented on #32001
Fixed in #32806 (and in stable-2.4 headed for 2.4.1)

[2017-11-01 15:27] #32001 closed, assigned to alikins

[2017-11-01 15:36] jtyr commented on #32440
Thanks for reporting this problem. Please could you verify that you can `curl` from the machine Ansible connects to to initiate the plugin installation? Try something like thins:

[code]

[2017-11-01 15:45] #32255 closed, assigned to nobody

[2017-11-01 15:53] alikins commented on #31501
@szollinx Excellent. Thanks!

[2017-11-01 15:55] tallandtree commented on #31342
I have the same issue. The module uri does use the http_proxy setting, but ignores the no_proxy setting if the format '.domain.org' is being used for no_proxy.

This fails with a gateway timeout due to arriving at our http proxy instead at server.domain.org:

[code]

This runs ok:
[code]

[2017-11-01 15:56] jdh239 opened #32445 "copy Module changes content of pam files"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
copy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
ANSIBLE HOST:
[code]

MANAGED HOST:
[code]

##### SUMMARY
When using the copy module to copy a pam.d/src file to a pam.d/dst file, the contents are totally changed.

##### STEPS TO REPRODUCE

1.  Install the ansible host and managed host per specs above (also

[2017-11-01 16:01] g2technologygroup commented on #29890
I am now encountering this issue. Would love to see a fix in core, but for now will have to call out to a command line for AWS CLI calls.

[2017-11-01 16:09] k3ypad opened #32448 "Ansible user module broken in 2.4.1.0"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
user module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MacOs Sierra 10.12.6

##### SUMMARY
User module fails to do anything with the error: `Syntax error: word unexpected (expecting \")\")\r\n"`

##### STEPS TO REPRODUCE
[code]
The above works fine in 2.4.0.0

##### EXPECTED RESULTS
A user called `testuser

[2017-11-01 16:12] alikins commented on #31501
@szollinx

Ah, looks like gen_distribution_version_testcase.py  doesn't know about /usr/lib/os-release so it missed it. I'll update that when I fix this issue.

[2017-11-01 16:14] bcoca commented on #32436
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-11-01 16:14] #32436 closed, assigned to nobody

[2017-11-01 16:21] #29738 closed, assigned to nobody

[2017-11-01 16:43] ArcticPheenix commented on #23663
I can confirm that the issue exists in v2.4 when using a template.

[2017-11-01 16:48] #32111 closed, assigned to ganeshrn

[2017-11-01 17:05] daniyalj commented on #25465
I am running into the same issue. Having the SSL flag on `win_iis_webbindings` makes much more sense. Any update on this? @jborean93

[2017-11-01 17:10] ganeshrn commented on #32343
Fix will be available in 2.4.2beta2 release

[2017-11-01 17:10] #32343 closed, assigned to ganeshrn

[2017-11-01 17:10] ganeshrn commented on #31161
Fix will be available in 2.4.2beta2 release

[2017-11-01 17:11] ganeshrn commented on #32416
Fix will be available in 2.4.2beta2 release

[2017-11-01 17:12] bcoca commented on #31988
@calfonso sadly this does not seem something we can control when using paramiko, its part of it's API

[2017-11-01 17:13] ganeshrn commented on #32111
Fix will be available in 2.4.2beta2 release

[2017-11-01 17:15] bcoca commented on #26154
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The configuration is not loaded incorrectly, you are just mixing python/yaml with ini formats.
Ini does not support `['el1', 'el2']` as

[2017-11-01 17:15] #26154 closed, assigned to bcoca

[2017-11-01 17:23] jmighion commented on #26154
Should this ticket be opened against ansible.cfg?
What was highlighted here was that the defaults in the config are incorrect and if you use the defaults they will break as described above.

[2017-11-01 17:34] gintautassulskus opened #32454 "The combination of delegate_to and with_items drops connection settings"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`delegate_to` and `loop_control` with `loop_var`

##### ANSIBLE VERSION

[code]

##### SUMMARY

The combination of `delegate_to` and `with_items` with `loop_var` drops connection setting `-o 'IdentityFile=....'`.

##### WORKING EXAMPLE

Task example:
[code]
Output:
[code]

##### NOT WORKING EXAMPLE

Task:
[code]
Output:
[code]

[code]

[2017-11-01 17:39] opoplawski opened #32455 "ansible-pull does not evaluate inventory"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ansible-pull

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Scientific Linux 7.4

##### SUMMARY
We've been running ansible-pull with;
[code]

Which has been working fine until 2.4.  Now the inventory is not processed.  If I patch ansible/inventory/manager.py to dump the inventory.hosts in _evaluate_patterns(), hosts

[2017-11-01 17:44] dan-osms opened #32457 "command module issue"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

command module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

command module cannot handle encased quoted command
##### STEPS TO REPRODUCE

[code]
##### EXPECTED RESULTS

run command as needed
##### ACTUAL RESULTS

Syntax error, pertaining to the
[code]

[2017-11-01 18:06] opoplawski commented on #32455
Hmm, this does seem to be fixed in current devel branch.

[2017-11-01 18:34] abadger commented on #32445
This is the result of setting force: no on the copy task.  The file on the remote system is not overwritten in this case.

I see that you have a mailing list thread going where you're trying to understand how that works.  I'll followup there to continue the explanation.

[2017-11-01 18:34] #32445 closed, assigned to nobody

[2017-11-01 18:50] mikewiebe commented on #27403
@ganeshrn and @trishnaguha Thanks for the help you have provided for this issue.  I need to revisit this because I have tried the solutions suggested above and in certain cases have had limited success but I also have more insight based on some updates I am making to nxos modules.

In the latest `devel` branch, this is the behavior I have observed for transport `nxapi` vs. transport `cli`.

For my

[2017-11-01 18:57] opoplawski commented on #32455
Fixed in 2.4.2.0 as well.  Closing.

[2017-11-01 18:57] #32455 closed, assigned to nobody

[2017-11-01 19:09] geerlingguy commented on #32265
I was just thinking of a quick use case for this today, where I write a set of templated files to a directory, and there are about 30 of them—currently each file takes 1-2s to be written, and they have to be written synchronously. If I could get Ansible to kick off the templating operation for all at the same time using `async` it would go from about 30s to a tiny fraction of that. In this case, I

[2017-11-01 19:32] guhcampos opened #32463 "Yum module does not install a list of packages in a single transaction"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
yum_module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
CentOS 7

##### SUMMARY

The documentation for the `yum_module` states that

In versions prior to 1.9.2 this module installed and removed each package given to the yum module separately. This caused problems when packages specified by filename or url ha

[2017-11-01 19:39] jdh239 commented on #32445
It happens with force: yes too

[2017-11-01 19:42] covercash2 commented on #2303
i was brought here because i forgot remote_src.

it would be nice to have an example in the docs

[2017-11-01 19:44] jdh239 commented on #32445
OK, I see my problem, but don't know how to fix it yet.  It is copying the ansible host's pam file and posting it to the managed host's pam files....  It isn't copying the pam file from the managed server (which is what my intention was).  My apologies, I am still new to this.

[2017-11-01 19:47] jdh239 commented on #32445
Done, the key was to add:
remote_src: yes

Thanks for the information though abadger.  I appreciate it.

[2017-11-01 19:54] 405network opened #32465 "Cant create or edit user with "vmware_local_user_manager" module"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_local_user_manager

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

everytime i try to create or edit a user using the "vmware_local_user_manager" module, i receive the following error.
[code]
Im not sure where/how i can specify, create user, update existing user, list user, etc.

Can you provide

[2017-11-01 19:58] djadk84 opened #32466 "host_vars variables"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

host_vars variables

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### SUMMARY
[code]

##### STEPS TO REPRODUCE

[code]

[code]

[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2017-11-01 20:04] #30195 closed, assigned to nobody

[2017-11-01 20:11] #31825 closed, assigned to nobody

[2017-11-01 20:36] Sodki commented on #23609
I've hit this same issue while upgrading from Ansible 2.3 to 2.4. I've spent a couple of hours trying to understand what's going on and have a simple test case with just one playbook and a role (see below).

I've tried this in Debian, Fedora, OpenSUSE and Alpine. Alpine just breaks, I'm guessing because of musl, but the others yeld the following error:
[code]
I've also tried with Python 3:
[code]

[2017-11-01 20:49] bcoca commented on #32455
fixed by #32135

[2017-11-01 20:51] bcoca commented on #32347
fixed by #31812, cherry picked  into stable-2.4 for 2.4.2 release

[2017-11-01 20:51] #32347 closed, assigned to nobody

[2017-11-01 21:02] pari- commented on #29414
Hi,

I've tried to reproduce this using `2.4.1.0`, but without success. Even with `2.2.0.0` I was able to install `mongodb` just fine.

@eoli3n do you still have that issue? Which OS and node/npm version did you try this with?

[2017-11-01 21:08] pari- commented on #29412
Hi,

this has been been fixed with [468e71](https://github.com/ansible/ansible/commit/468e71bf718b3270af692bde186ef30a2ab62738) and can therefor be closed.

[2017-11-01 21:10] alikins commented on #28038
I can reproduce this with devel/

[code]

[2017-11-01 21:28] mikewiebe commented on #27403
**Update:** It would appear that the latest `devel` code actually does work the way I would expect for both transports.  Not sure what changed but I will do some more testing and then close this issue if it's fixed.  I do notice that the `timeout` param will be deprecated in version 2.9 however.

[code]

What is the plan to allow per/task timeout or long running commands after it's deprecated?

[2017-11-01 21:34] alikins commented on #28038
after replacing some wrapped exceptions with direct raises and using py3, I get to the following nested exceptions:

[code]

[2017-11-01 21:44] jborean93 commented on #32368
Thanks for the info @valerius257 and @dssdss. I suppose it is also a security risk as someone could create a malicious exe at `C:\Program.exe` and Windows will execute that per their process argument rules.

I've raised a PR to fix this here https://github.com/ansible/ansible/pull/32469 so if you can check it out we can merge it in hopefully before 2.4.2 is out.

The issue is from a change in 2.4

[2017-11-01 21:48] bcoca commented on #32196
the issue has to do with 'pending' parents not resolving recursively, the change in vars just  pushes the definition earlier and avoids the need for recursion.

[2017-11-01 21:53] bcoca commented on #32196
@slagle  please confirm that the above PR fixes the issue for you

[2017-11-01 22:02] alikins commented on #28038
After unwrapping another exception or two, an initial yaml error comes from:

[code]

The tracebacks more or less point to host_vars/broken.example.com/vars being invalid yaml.

That is true in this case (the malformed !vault scalar), not sure how to work around that.

But that is after modifying a couple of try/except blocks, so I need to verify it's the same issue as unmodified code. There seems

[2017-11-01 22:03] abadger commented on #32286
/cc @alikins

[2017-11-01 22:03] cameronurnes commented on #30780
@robinro This seems to have stalled.  Since the author of the commit which caused the regression is not going to fix it, should it be rolled back?

[2017-11-01 22:04] alikins commented on #32001
Er, make that 2.4.2

[2017-11-01 22:06] Petro026 opened #32472 "async tasks unable to read registered variables in failed_when clause"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
shell module
async, poll and failed_when directives

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
RHEL 7.4

##### SUMMARY
When specifying a task as asynchronous with a timeout and polling interval (NOT fire and forget) the registered variable is unavailable for use in the failed_when clause.  When the task is

[2017-11-01 22:06] JesseAChristensen commented on #15460
Can we get this issue reopened perhaps with a twist on the request?

Reading through the dialog for the meeting in which the vote took place, it appears that the concerns brought up dealt with ansible continuing to execute _stuff_ after the sigint/sigterm had been sent. It didn't appear that much discussion was had regarding actual scenarios where it would be helpful to have the behavior described

[2017-11-01 22:28] alikins commented on #28038
Interesting... the resulting error message/stack trace is different between py2/py3

python2.7:

[code]

python3.6:

[code]

[2017-11-01 22:33] jborean93 commented on #32355
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * Ansible currently does not store any metadata to determine if a vaulted var is being used so it cannot hide the output
   * There is nothing to stop a variable

[2017-11-01 22:33] #32355 closed, assigned to nobody

[2017-11-01 22:34] trondhindenes commented on #32037
I haven't started anything (I'm very consistent like that :-) )

Thanks for writing this up @jborean93 - as long as its consistent with how Ansible works I guess this isn't a bug per se, but an opportunity to improve docs in order to reduce "wtf's per minute" for users.

[2017-11-01 22:41] jborean93 commented on #32380
Hi, Ansible 2.4 has changed the required for Python to be on 2.6 or newer. RHEL 5 came with Python 2.4 by default. You can either

* Install a newer version of Python and set `ansible_python_interpreter` to this newer version
* Keep on using 2.3 for your older hosts
* Upgrade to a newer OS which come with a newer version of Python

http://docs.ansible.com/ansible/latest/intro_installation.html#man

[2017-11-01 22:41] #32380 closed, assigned to nobody

[2017-11-01 22:51] jborean93 commented on #19766
Closing as this required functionality was added with https://github.com/ansible/ansible/pull/32401

[2017-11-01 22:51] #19766 closed, assigned to nobody

[2017-11-01 22:52] dagwieers commented on #32037
Looking at the **uri** module, it has a parameter **body_format** that is either **raw** or **json**. I am not particularly happy with that interface, but I guess we have to either design it the same way, or come up with something more convenient/versatile and fix the **uri** module as well. Easiest is to do it the same as **uri**.

[2017-11-01 22:55] jborean93 commented on #32092
Docs have been updated with the PR https://github.com/ansible/ansible/pull/32412. Thanks all.

[2017-11-01 22:55] #32092 closed, assigned to nobody

[2017-11-01 22:58] slavkv opened #32474 "Ansible RHEL7 repository packages signed with incorrect key"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Ansible RPM packages repository for RHEL7
https://releases.ansible.com/ansible/rpm/release/epel-7-x86_64/

##### ANSIBLE VERSION

[code]
##### OS / ENVIRONMENT
Ansible RPM packages repository for RHEL7
https://releases.ansible.com/ansible/rpm/release/epel-7-x86_64/

##### SUMMARY
RPM packages provided by this repository is not signed properly.

[2017-11-01 23:06] slavkv commented on #32474
Updated

[2017-11-01 23:11] jborean93 commented on #32466
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * When using the `ansible` executable, host_vars and group_vars are loaded from the same directory as the inventory file itself
   * If you were to copy the `hos

[2017-11-01 23:11] #32466 closed, assigned to nobody

[2017-11-01 23:34] DenverJ commented on #10131
For anyone else that stumbles upon this issue from a google search before Ansible's official documentation, check out https://docs.ansible.com/ansible/devel/plugins/inventory/constructed.html

[2017-11-01 23:35] #31898 closed, assigned to jborean93

[2017-11-01 23:39] slavkv commented on #32474
I am sorry, it looks like I mixed repositories and keys. All works good.
I was trying to install packages from preview repo and key from stable repo.
Please ignore.

[2017-11-01 23:39] #32474 closed, assigned to nobody

[2017-11-01 23:41] jborean93 commented on #31898
Changes have been merged into devel and cherry-picked to 2.4. Will be available in 2.4.2 rc1 https://github.com/ansible/ansible/commit/6a7333950ab029d460cd68a0df9fe32686a3c9a3

[2017-11-01 23:49] alikins commented on #28038
Digging deeper... the !vault is invalid yaml, but more specifically, it is also not valid "hexlify'ed" data so, a binascii.unhexlify in vault decrypt fails and raises a binascii.Error.

On py2, binascii.Error is a direct subclass of  Exception
On py3, binascii.Error is a subclass of ValueError

The __getitem__ on vars.hostvars.HostVars attempts to compute a sha1 of the var contents (an AnsibleVaul

[2017-11-02 00:53] ryansb opened #32476 "ec2_asg module uses Python logging directly"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_asg

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Since at least 38d0f31cac7 , the ec2_asg module has used Python stdlib logging directly, sometimes causing it to not respect controller log settings. This should be fixed to use `module.debug` where appropriate.

Hacky fix: https://gist.github.c

[2017-11-02 01:40] brunocalogero opened #32477 "Unknown error connecting to vCenter or ESXi API"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- vmware_vm_facts (under cloud/vmware)

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

 I’ve been having some issues using the vmware_vm_facts Ansible command, it seems like a login issue at first but I’m not sure at all, I triple checked the credentials with and without quotation marks.. the username

[2017-11-02 01:43] vasya4k commented on #32032
I am using a template but but have the same issue

[2017-11-02 02:02] brunocalogero commented on #32477
for some reason it didn't display what I wrote for OS environment:

Running ansible-playbook on MAC OS Sierra 10.12.6, and host is a windows jump server that has vmware vsphere client installed inside of it

[2017-11-02 02:21] xfu8309 commented on #27960
I rollback ansible to 2.2.0.0. And fixed.

[2017-11-02 02:22] charlesgreen opened #32478 "Add support to distinguish Name and DisplayName in win_firewall rules"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
modules/windows/win_firewall_rule

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Control system: MacOS 10.12.6
Target system: Windows 2012 Server R2 server guest deployed on Virtualbox 5.1

##### SUMMARY
The win_firewall module accepts a Name parameter that is used to check for and create Windows Firewall rul

[2017-11-02 02:23] charlesgreen commented on #32478
Btw, I am more than happy to submit a PR for this request if considered.

[2017-11-02 02:51] yaweiw opened #32481 "azure resource providers can not be registered to Azure subscription used by ansible CI environment"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

{
"changed": false,
"msg": "Error creating / updating the ACR instance: Azure Error: MissingSubscriptionRegistration\nMessage: The subscription is not registered to use namespace 'Microsoft.ContainerRegistry'. See https://aka.ms/rps-not-found for how to

[2017-11-02 03:21] dineshdh opened #32486 "ERROR! The vault password file /home/ec2-user/.vault_pass was not found"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

`vault_password_file` configuration in the `ansible.cfg` file seems to cause issues running playbooks in ansible version `2.4.0.0` which previously worked fine in ansible version `2.3.2.0`

I managed to fix the issue thanks to the following post
h

[2017-11-02 03:34] yaweiw commented on #32481
PR #32336 added a method in azure_rm_common e.g. register_namespace that registers the missing azure resource provider into the subscription. But CI still claimed that 'Azure Error: MissingSubscriptionRegistration\nMessage: The subscription is not registered to use namespace 'Microsoft.ContainerRegistry'.

The fix has been proven working locally. For example, one of my subs doesn't have 'TrendMicr

[2017-11-02 03:36] yaweiw commented on #32481
@gundalow
@jborean93
@mattclay
@nitzmahone
@ryansb
@shertel
@thaumos

[2017-11-02 03:38] yaweiw commented on #32481
@haroldwongms @tstringer @xscript @zikalino FYI

[2017-11-02 03:59] sjtarik commented on #16666
Any updates? Still an issue in 2.3 and 2.4

[2017-11-02 04:18] eromoe opened #32487 "Unable to install in msys2 (python2 )"
##### ISSUE TYPE

 - Bug Report

##### SUMMARY

Hi, I am trying to install ansible in msys2 (linux like env on windows), but got below error in python2.

[code]

Above error would not happen in python3.

PS: I have install ansible in python3 successfully.

[2017-11-02 04:27] ganeshrn commented on #27403
As discussed in IRC meeting `timeout` and other credential arguments are deprecated at the top level and will be supported only by `provider` argument. Please remove `timeout` from the top level and add it inside `provider`.
This change in behavior is mentioned in [2.5 porting guide](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/porting_guide_2.5.rst)

[2017-11-02 04:34] suankan commented on #32416
@ganeshrn Thanks a lot for your quick turnaround!
I've tested your fix in the current devel and stable-2.4 branches using the same playbook and now the issue does not happen.

[2017-11-02 04:45] Akasurde commented on #32358
@andreyfedoseev  Thanks for reporting this issue. Could you please run following query on AWS RDS instance ?

[code]

I think there is limited access to `pg_authid` table on AWS RDS instance, but we can use [pg_roles](https://www.postgresql.org/docs/current/static/view-pg-roles.html) which is similar table. Let me know your findings.

[2017-11-02 06:58] eromoe opened #32491 "ansible all -m ping UNREACHABLE"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ping

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Win7 msys2

##### SUMMARY

Doc http://docs.ansible.com/ansible/latest/intro_getting_started.html#your-first-commands

I have `/etc/hosts` with:

    10.142.55.199 c199

I have added ssh by

    ssh-copy-id root@c199

And `ssh root@c199` does work.

----

## But

I tried `/etc/ansible

[2017-11-02 06:59] robertobado commented on #11905
@drybjed could we revisit this? Still an issue

[2017-11-02 07:01] andreaso commented on #23957
@Akasurde, what about you? Any chance that I can tempt you to take a look at the https://github.com/ansible/ansible/pull/31800 PR.

[2017-11-02 07:06] Akasurde commented on #32477
@brunocalogero Thanks for reporting this issue. Could you please also check the version `pyvmomi` library ?

[2017-11-02 07:17] Akasurde commented on #32477
@brunocalogero There is an existing issue in `pyvmomi` related to this stack trace - https://github.com/vmware/pyvmomi/issues/586

[2017-11-02 08:18] YongHaoWu commented on #9065
Can't believe that Ansible do not fix or reply on this issue.
It took me a few hours to debug.

[2017-11-02 08:35] sillent commented on #18979
It's because in ansible, for installing from internet, used **fetch_rpm_from_url** function, which doesn't work with proxy setting
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/packaging/os/yum.py#L735-L736
and for proxy used http(s)_proxy environment

[2017-11-02 08:49] xlammertink commented on #32440
Yes I can. This is the output of a curl from the Jenkins machine to itself:

[code]

[2017-11-02 08:50] atlas-comstock commented on #9065
Can't believe that Ansible do not fix(give hints, warning) or reply more on this issue.
It took me a few hours to debug.

[2017-11-02 09:51] ktosiek commented on #32347
It's still broken on current stable-2.4 (b2f3dc90528c9dcb475ce37044fe4c4ea428d516)

[2017-11-02 10:25] jtyr commented on #32440
Please could you try to use `url: http://localhost:8080` (or remove this parameter completely as that's the default value anyway)? Also please try to define the `no_proxy` on the play/task level as described [here](http://docs.ansible.com/ansible/latest/playbooks_environment.html).

[2017-11-02 10:26] dagwieers opened #32492 "win_shell: Import-SCLibraryPhysicalResource: The remote use of BITS is not supported."
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
win_shell

##### ANSIBLE VERSION
v2.4

##### OS / ENVIRONMENT
Control server: CentOS 7.4
Target system: Windows 2012R2

##### SUMMARY
When automating a complete SCVMM environment, trying to import an ISO image into the Library fails with:
[code]

After trying various things to rule out privileges or Ansible wrapper, I found [this information](h

[2017-11-02 11:05] dcotruta opened #32493 "ansible_pass is ignored"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 16.04 on both

##### SUMMARY
ansible-playbook ignores ansible-pass setting in hosts file

##### STEPS TO REPRODUCE
Create a playbook.
Add a host that you can connect to using a password.
Add ansible-pass: SOMEPASSWORD (use a vault if you

[2017-11-02 11:28] dagwieers commented on #32492
Fixed in Windows 10 Anniversary update :-)
https://connect.microsoft.com/PowerShell/feedback/details/743030/make-it-easier-to-use-bits-with-powershell-remoting

[2017-11-02 11:45] jborean93 commented on #32492
This sounds like a typical WinRM limitation, without knowing more info about BITS I can't say for 100% certain. Have you tried running it with become, win_psexec or a scheduled task?

[2017-11-02 12:02] dcotruta opened #32496 "Users added to sudo group not being picked up"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
core, possibly user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Ubuntu 16.04 on both

##### SUMMARY
Users added to sudo groups on a target machine cannot elevate permissions if a playbook that uses **become: true** has already failed unless the .ansible directory is cleared from the target machine.

#####

[2017-11-02 12:09] Akasurde commented on #24928
@le9i0nx `CREATEUSER` is a deprecated option from [postgresql](https://www.postgresql.org/docs/9.5/static/sql-createrole.html). Could you please try without this option ?

[2017-11-02 12:25] #32062 closed, assigned to nobody

[2017-11-02 12:34] xlammertink commented on #32440
I did some tests, it still gives me the same errors. When the request goes through the proxy it gives the CSRF error, and when the proxy is not used it gives me the "Plugin not found" error.

Without no_proxy variable:
[code]
[code]

Without URL, with no_proxy environment variable:
[code]
[code]

With proxy all variables set:
[code]
[code]

With proxy set, but use_proxy false:
[code]
[code]

[2017-11-02 12:50] le9i0nx commented on #24928
Without this parameter, the module works correctly.
but the fact is that with the module parameter the module crashes.
[code]
And I think it's necessary to add a reference to the description of these parameters in the document.
http://docs.ansible.com/ansible/latest/postgresql_user_module.html

[2017-11-02 13:07] #32493 closed, assigned to nobody

[2017-11-02 13:08] dcotruta commented on #32493
I am silly. I read about the deprecation of ansible_ssh_user to ansible_user and then went code blind and saw ansible_pass where the docs actually read ansible_ssh_pass. May be worthwhile thinking about deprecating ansible_ssh_pass to ansible_pass as that same setting is used for RDP, etc...
Apologies.

My other ticket stands, it's not based on this one.

[2017-11-02 13:24] #31589 closed, assigned to nobody

[2017-11-02 13:36] ristillu opened #32498 "Ansible RPM installation not picking up non-standard Python installation"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

Fresh installation of 2.4.1.0 (and 2.4.0.0) using yum install rpm, which picks up the standard OS python installation at /usr/lib/python2.7/site-packages despite my system using SCL python and PYTHONPATH only referring to the SCL version of Python.

####

[2017-11-02 13:52] mkrizek commented on #32463
@guhcampos Thanks for the report! A workaround for the issue is to specify the packages like this:
[code]

[2017-11-02 13:58] elnur opened #32499 "OSX crash complaining of operation `in progress in another thread when fork() was called`"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- lookup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

I have system variables set in `.bash_profile`:
[code]

##### OS / ENVIRONMENT
Mac OS X High Sierra with latest updates. Ansible is installed using `brew`.

##### SUMMARY
Can't do an etcd lookup since upgrading to 2.4. Worked fine before 2.4.

##### STEPS TO REPRODUCE

[code]

[2017-11-02 14:02] dagwieers commented on #32492
Well,
- It fails with become too (both as Administrator, or as SYSTEM). Problem with SYSTEM appears that it has no rights to perform the action
- Running powershell with win_psexec on the local system has its own set of problems, psexec.exe is a horrible, horrible command (compromises the output, doesn't run stuff as you expect, etc...). Couldn't get it to work...
- A scheduled task is probably th

[2017-11-02 14:19] mikewiebe commented on #27403
@ganeshrn That is not my question.  Today I can do the following.

[code]

How do I accomplish this same per/task timeout capability in 2.9 and later?

[2017-11-02 14:20] stephan2012 opened #32500 "netscaler_server should allow graceful shutdowns"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
Module `netscaler_server`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
RHEL 7.4

##### SUMMARY

Netscaler module `netscaler_server` should provide an option to suspend a server from loadbalancing gracefully, i.e. allow active connections to terminate but do not direct new to it.

##### STEPS TO REPRODUCE

[code]

[2017-11-02 14:50] Akasurde commented on #24928
@le9i0nx Thanks for an quick response. I will update this doc.

[2017-11-02 14:55] djadk84 commented on #32466
@jborean93  looks like you misunderstood my explanation, this was working in the previous version of ansible those variables where define in host_vars. and didn't have any issue with it. This only happens after I have updated ansible and was trying to update a server. I only copied host_vars to inventory directory as a debugging effort. It seems for me I'm unable to query variable in host_vars dir

[2017-11-02 15:06] dssdss commented on #32368
Now, it works! Thank you very much.

[2017-11-02 15:07] trishnaguha commented on #27403
@mikewiebe After timeout is deprecated in 2.9, timeout per task can still be achieved with the following way. I am not saying that this is the best solution, but doable.

**Variables set:**
[code]

**Play:**
[code]

[2017-11-02 15:23] achhabr1 commented on #14578
Is this issue fixed??

[2017-11-02 15:24] achhabr1 commented on #14578
fatal: [localhost]: FAILED! => {
    "failed": true,
    "msg": "Failed to get information on remote file (/home/ac043s/software/ansible_development/ucpe_configuration_template/config/SDW-Spare-E1-u410-vsrx.txt): OpenSSH_5.3p1, OpenSSL 1.0.1e-fips 11 Feb 2013\ndebug1: Reading configuration data /etc/ssh/ssh_config\r\ndebug1: Applying options for *\r\ndebug1: auto-mux: Trying existing master\r\ndeb

[2017-11-02 15:24] achhabr1 commented on #14578
[ac043s@SDNAUTOS02 ucpe_configuration_template]$ ansible-playbook-2 --version
ansible-playbook-2 2.3.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/etc/ansible/roles/Juniper.junos/library', u'/usr/share/my_modules']
  python version = 2.6.6 (r266:84292, Aug  9 2016, 06:11:56) [GCC 4.4.7 20120313 (Red Hat 4.4.7-17)]
[ac043s@SDNAUTOS02 ucpe_configuration_template]

[2017-11-02 15:34] ganeshrn commented on #27403
@mikewiebe One possible way is:
`provider:  "{{ connection | combine({'timeout': 400}) }}"`

[2017-11-02 15:36] opoplawski commented on #32347
Yeah, I can't find any evidence that this commit was cherry-picked into stable-2.4

[2017-11-02 15:39] tima opened #32503 "import_role & include_role do not process variables in parameters"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_role, import_role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

None

##### OS / ENVIRONMENT

Mac OS 10.10.5

##### SUMMARY

Using a variable in `tasks_from` in an `include_role` or `import_role` task is not recognized and interpreted.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

With the `my_action` var set thru t

[2017-11-02 15:41] #32396 closed, assigned to nobody

[2017-11-02 15:50] Akasurde commented on #24928
resolved_by_pr #32504

[2017-11-02 16:07] bauidch opened #32506 "After Update to CentOS 7.4, Ansible-Pull doesn't work"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
ansible-pull

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
CentOS 7.4 1708

##### SUMMARY
After I update my machine to CentOS 7.4. Don't work Ansible Pull now more. When i run ansible-playbook with the same playbook i have no errors. Only with ansible-pull

##### STEPS TO REPRODUCE
Update OS CentOS 7.3.1611 to Centos 7.4.1708
[code]

R

[2017-11-02 16:12] sanraut opened #32507 "Dellos9_command module prompt issue"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
dellos9_command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

dellos9_command module does not support prompt.

##### STEPS TO REPRODUCE

[code]
System configuration has been modified. Save? [yes/no]: yes
!

Proceed with reload [confirm yes/no]:yes

##### EXPECTED RESULTS

dellos9_command module shoul

[2017-11-02 16:21] andreyfedoseev commented on #32358
@Akasurde

That works! I was able to retrieve the information from`pg_roles` table on AWS RDS instance.

[2017-11-02 16:31] Akasurde commented on #32358
@andreyfedoseev

I will make change to retrieve role information from `pg_roles` instead of `pg_authid`.

[2017-11-02 16:38] bcoca commented on #32466
dupe of #31755 and #31758, fixed by #32269, should be in 2.4.2 release

[2017-11-02 16:40] bcoca commented on #32493
it would still not be `ansible_pass`, `ansible_password` is the 'generic' version, then each connection plugin can have it's own overriding version.

[2017-11-02 16:49] Akasurde commented on #30017
resolved_by_pr #32510

[2017-11-02 17:03] chulkilee commented on #30780
Note that rolling back the commit will fix your use case while breaking the already fixed case. Please see the discussion on #31163. The real problem is that *all* operation on `git ls-remote` are basically broken since `git ls-remote` does not give exit code as ansible git module expects, unless using `--exit-code` option, which is introduced later than the minimal required version of git.

[2017-11-02 17:04] wknapik opened #32513 "The helm module should create a tunnel to tiller, the way helm cli does"
##### ISSUE TYPE
Feature Idea

##### COMPONENT NAME
helm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = debug

##### OS / ENVIRONMENT
N/A (executed on Arch Linux)

##### SUMMARY
The command-line `helm` tool automatically creates a tunnel to the tiller server, so it doesn't need to be exposed on the internet.

The helm module does not.

That l

[2017-11-02 17:10] kunzsoni opened #32514 "uri module failing when its running on AIX"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

uri module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

AIX
##### SUMMARY

uri module being used to hit the URL to get the status of the service but fails when it its from AIX machine.
##### STEPS TO REPRODUCE

uri module hist any url with the hostname as an AIX machine

[code]

##### EXPECTED RESULTS

OK
#####

[2017-11-02 17:11] kunzsoni commented on #32514
ANSIBLE uri task failing while its being run on AIX, giving http version not supported error.

[2017-11-02 17:34] brunocalogero commented on #32477
running the following: pyvmomi==6.5.0.2017.5.post1, i'll try using that single quote advice and report back

[2017-11-02 17:45] mikewiebe commented on #27403
@trishnaguha @ganeshrn Thanks for the help!  This option works great.  Closing the issue now.

[2017-11-02 17:45] #27403 closed, assigned to trishnaguha

[2017-11-02 19:26] jhawkesworth commented on #32492
Ah, sorry I didn't mention before, I lost an afternoon trying to make a bits module before realising it was a no go over winrm. Frustrating, it would be awesome for pre deployment  of software and data.

[2017-11-02 20:08] leifmadsen commented on #31655
@hanengarcia et al

No work around for this, other than to go back to `tower-cli <3.2`.

I've started going through the modules, and there is quite a bit of other work that would be required to update this to api/v2.

For example, in the `tower_credentials.py` module alone, you need to create a couple helper modules that look up the required fields, and the fields needed in the list of `{ "inputs"

[2017-11-02 20:32] amir-barkal opened #32520 "ec2_ami add polling interval when waiting for state available to avoid AWS “api request limit exceeded error”"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
ec2_ami

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY
EC2_AMI module can fail when waiting for large AMI to become available because AWS puts a limit on number of api requests. We need to be able control polling interval.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULT

[2017-11-02 20:47] ktosiek commented on #32347
it's there now (fa289a022c8b5702decf5ca89e9df3aef66b1b2c), I'll try to test tomorrow

[2017-11-02 20:56] brunocalogero commented on #32477
update: still same issue, checked on the windows host the version of **vsphere client is 6.0.0** although there are multiple other versions installed on there and I'm not sure which one is selected by default but hopefully the latest version is.. Hence I guess it should be working with pyvmomi 6.5 which is installed on my local machine ?

[2017-11-02 21:26] leifmadsen commented on #31655
Actually, there might be a work around :)

First, downgrade to using the v1 API by installing `ansible-tower-cli` to version <3.2.

Then you can pretty much use the existing modules. For the functionality / modules that don't exist yet, I'm going to be consuming the API directly via the `uri` module for now (primarily so that I can create the inventory cloud sources).

[2017-11-02 21:31] dagwieers commented on #32492
@jhawkesworth At least it's fixed in Windows 10. Now we wait for Windows 10 Server Edition ! ;-)

[2017-11-02 21:33] ElijahLynn opened #32523 "Shell module calling fish instead of /bin/sh"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Shell module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
Ubuntu 14.04

##### SUMMARY
When running a task using the Shell module with `&&` I get an error saying fish can't use `&&`, which is true, it can't. But why is Shell module trying to use fish? http://docs.ansible.com/ansible/latest/shell_module.html says it s

[2017-11-02 21:33] dagwieers commented on #32492
I am contemplating writing a Unix "winexe" module, to have native psexec-alike capabilities. Maybe that helps, if not [a psexec connection plugin](https://github.com/ansible/ansible/issues/30972) is next.

[2017-11-02 21:38] ElijahLynn commented on #32523
Update: Using `executable: /bin/sh` does work but I wasn't expecting to have to specify that in all our tasks. Should it be calling `/bin/sh` locally as well as remotely?

[2017-11-02 21:40] bcoca commented on #32523
I think this i a dupe we already fixed, check against 2.4.2 (currently in beta)

[2017-11-02 21:55] ElijahLynn commented on #32523
@bcoca Thanks, 2.4.2 beta 2 does appear to work. Now I have to get our dynamic inventory script figured out so it doesn't throw an aws_region undefined error past 91a72ce7da so I can actually use 2.4.2.

[2017-11-02 21:55] #32523 closed, assigned to nobody

[2017-11-02 21:57] #32196 closed, assigned to samdoran

[2017-11-02 22:04] nitzmahone commented on #32486
cc @alikins

[2017-11-02 22:08] nitzmahone commented on #32491
Sorry, msys is not a supported control platform- you might have some luck on the mailing list, but we're unable to assist with that.

[2017-11-02 22:08] #32491 closed, assigned to nobody

[2017-11-02 22:19] nitzmahone commented on #32496
cc @abadger this sure sounds like a permission issue in the shell plugin stuff at first blush...

[2017-11-02 22:28] nitzmahone commented on #32498
I'm not aware of a way to get our current RPM builds working with arbitrary SCL-hosted Pythons. You'd probably have better luck installing via `pip` or from source. If you've got knowledge of such things and would like to pitch in on getting RPM installs working with SCLs, feel free to stop by during a core IRC meeting and bring it up.

[2017-11-02 22:28] #32498 closed, assigned to nobody

[2017-11-02 22:34] mprasil commented on #23609
So is there any workaround we can use in the meantime? This is quite a blocker.

[2017-11-02 22:36] jborean93 commented on #30255
Not much can be done for Server 2008, 2008 R2 and Windows 7 but this PR https://github.com/ansible/ansible/pull/32485 fixes this for newer OS'.

[2017-11-02 22:38] nitzmahone commented on #32499
This is apparently due to some new security changes made in High Sierra that are breaking lots of Python things that use `fork()`. Rumor has it that adding
`export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` before your Ansible run should clear it up. The code that's causing issues is well below Ansible in the stack.

[2017-11-02 23:22] jborean93 commented on #32492
@dagwieers, it seems like the workaround MS has put in is to create a scheduled task to run the code when running over WinRM. This is because they say

This usually means that a scheduled task is being run with the `Run only when user is logged on` which in the case of native WinRM won't happen.

Become should be the solution to this and it would be good to find out why it doesn't work. Are you ab

[2017-11-02 23:31] skg-net commented on #32507
@sanraut Thanks for reporting the issue. We will get back to you on this.

[2017-11-02 23:42] nitzmahone opened #32526 "azure_rm_acs fails due to breaking API changes"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
azure_rm_acs

##### ANSIBLE VERSION
2.5.0

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
Due to breaking changes to the Azure Python SDK in `azure-mgmt-containerservice>=2.0.0`, we'll need to adjust the code and requirements to continue working properly. More details in https://github.com/ansible/ansible/pull/32518

##### STE

[2017-11-02 23:55] #32368 closed, assigned to nobody

[2017-11-03 00:00] jborean93 commented on #32368
Fixed has been merged to devel and cherry-picked to stable-2.4 with https://github.com/ansible/ansible/commit/e771b64f1b27b916a289b60695f6b56ba88198e9. Will be released under 2.4.2 beta 3

[2017-11-03 00:53] paulcalabro commented on #17939
I just experienced this using ansible 2.4.0.0.

[2017-11-03 00:57] eromoe opened #32528 "[Feature Request] Add msys2/cygwin to supported control platform"
##### ISSUE TYPE

 - Feature Idea

##### SUMMARY

Actually it is quite easy to install ansible in msys2/cygwin (though has some problem with python2, not with python3).  I think official support is not very hard.

[2017-11-03 01:08] nitzmahone commented on #32528
There are reasons no Windows-native Python is currently supported: Windows doesn't do `fork()`, which is currently pivotal to Ansible's worker model. msys and cygwin both implement a version of `fork()`, but due to the way it works, it's not stable- even [their own documentation](https://www.cygwin.com/faq.html#faq.using.fixing-fork-failures) [says so](https://cygwin.com/cygwin-ug-net/highlights.h

[2017-11-03 01:08] #32528 closed, assigned to nobody

[2017-11-03 01:36] nitzmahone commented on #32487
See https://github.com/ansible/ansible/issues/32528

[2017-11-03 01:36] #32487 closed, assigned to nobody

[2017-11-03 01:39] this-tech commented on #23578
This is a needed feature when gathering data from cloud/dynamic environments.

ex.
`
- name: Define storage pools
  become: true
  shell:  virsh pool-define files/pools/{{item}}-pool.xml
  with_items: "{{ vm_list }}"
  when: ansible_libvirt_pools.{{item}} is undefined
`

[2017-11-03 02:04] elnur commented on #32499
@nitzmahone, the question is why it works fine when I revert to Ansible 2.3. Doesn't it mean it's a regression introduced in 2.4?

[2017-11-03 02:24] Akasurde commented on #18933
Can we close this as PR #23988 is merged ?

[2017-11-03 04:50] yaweiw commented on #17727
@ZhijunZhao can you take a look?

[2017-11-03 04:53] yaweiw commented on #17925
@nitzmahone is this issue resolved? I see the one in python sdk is closed.

[2017-11-03 05:46] basictheprogram commented on #25298
Multiple computers in my lab are now experiencing this problem. But not all of of my computers.
[code]
[code]
All of the computers that have the problem have "ansible-win-updates" in Microsoft\Windows\PowerShell\ScheduledJobs. Couple odd things.

  * Last Run Time: 11/30/1999 12:00:00AM
  * Last Run Result: The task has not yet run. (0x41303)

Details of the error

Task Scheduler failed to start "

[2017-11-03 06:08] yuwzho commented on #30142
We are now working for this feature

[2017-11-03 06:08] yuwzho commented on #26003
Working on this issue

[2017-11-03 06:32] gjedeer commented on #32265
@geerlingguy even when all the files are already there and don't need to be modified, templating still takes the same amount of time.

[2017-11-03 06:54] guenhter commented on #32384
@bcoca please repoen this. Even in the google mailing list, this can't be solved:

https://groups.google.com/forum/#!msg/ansible-project/EwpEF1Gfy-M/gSvplMK9AwAJ

[2017-11-03 07:07] keks24 commented on #28772
Now I understand why it is not possible to use cleartext passwords containing colons. These are used as delimiter character:
[code]
This explains why this part works because the password gets hashed before added to `/etc/shadow`:
[code]

[2017-11-03 07:33] drybjed commented on #11905
@robertobado As far as I know, Ansible team doesn't work on "reopened" issues. If you really want, I suggest that you create a new issue with explanation of your use case and the errors you are getting.

[2017-11-03 07:39] ZimmerHao opened #32532 "ansible yum not working"
### Host:

#### System:
[code]

#### ANSIBLE VERSION

[code]

### Guest

#### System
[code]

#### COMPONENT NAME

`yum`

#### SUMMARY

when i run command on the ops machine:

    ansible web -b -l 192.168.31.101 -m yum -a "name=gcc state=latest"

it returns error shows below:

    192.168.31.101 | FAILED! => {
        "changed": false,
        "failed": true,
        "msg": "python2 bindings for r

[2017-11-03 07:53] eromoe opened #32533 "environment must be a dictionary, received xxxxx (<type 'unicode'>)"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

centos7

##### SUMMARY

site.yml :

[code]

group_vars/all :

[code]

`ansible-playbook site.yml`  got:

[code]

[2017-11-03 07:58] jhawkesworth commented on #32533
possibly just a typo?

Try this (space between PRIVATE_REGISTRY: and "{{docker_registry}}"

[code]

[2017-11-03 08:02] eromoe commented on #32533
@jhawkesworth Oh, that's it! Thank you.

The error message is totally wrong, why ansible doesn't check syntax at first ...

[2017-11-03 08:04] ZimmerHao commented on #32532
yeah, i find the solution, just add a python path to hosts file

    ansible_python_interpreter=/usr/bin/python2.7

[2017-11-03 08:04] #32532 closed, assigned to nobody

[2017-11-03 09:23] karniemi commented on #32238
I really hope this is fixed in next release! I had high hopes for 2.4 due to comments in #28720 ... but it was disappointment to  still face the broken pipes with that version.

[2017-11-03 09:28] jaccoh opened #32534 "authorized_key: please support lists"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
authorized_key module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MacOS 10.13.1, VirtualEnv

##### SUMMARY
When you have an environment that gets refreshed or reinstalled a lot (eg. in a pipeline), you may want the authorized_key module with the `exclusive: yes` option. However, this forces the use of newl

[2017-11-03 10:03] FibreFoX commented on #28772
As the user-module is handing these files, I would except some checks, not just some irritating behaviour.

[2017-11-03 10:38] redbaron commented on #10374
For those who still want it, but don't want to use `set_fact`, there is a workaround which seem to work for me. Trick is to use 'ping:` command to evaluate variables into final values and then use registered variable to access them:

[code]

EDIT:

[code]

[2017-11-03 10:40] bauidch commented on #32506
Now, I have another error, After Ansible update to Version 2.4.1
[code]
This changes above are all new changes.

Have ansible-pull 2.4.1 a problem with git version 2.8?

[2017-11-03 10:49] gstorme opened #32536 "skip tasks from syntax-check"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible-playbook --syntax-check

##### ANSIBLE VERSION
[code]

##### SUMMARY
A task in a role uses a custom module.
When running ansible-playbook --syntax-check, I would like to be able to skip checking of a certain task.
I tried with --syntax-check --skip-tags 'skip_custom', but this doesn't work.

##### STEPS TO REPRODUCE

Command:
[code]

[

[2017-11-03 11:03] poinck opened #32537 "memory leak when using loop_control: label: """
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- **loop_control**
- with_nested

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
The playbook in question uses dynamic inventory. Besides that no special configuration has been done in "ansible.cfg".

##### OS / ENVIRONMENT
- the Ansible-host is a Docker-container based on Ubuntu 16.04 image.
- target (managed) hosts are Ubuntu 14.04 and 16.0

[2017-11-03 11:38] ovidiugrebenisan commented on #32534
I have ran into a similar issue and had to do some not so elegant stuff to get around it as well. Bump!

[2017-11-03 12:17] wknapik commented on #32513
Here's an implementation of option 2:
https://gist.github.com/wknapik/3b93d93053de458fbc2114cd5a7199b6

Downsides include:
* Not portable
* New dependencies (shell, coreutils, kubectl, util-linux)
* Potential port conflicts (any user on the system can deny binding)
* Potentially stale pidfile (esp. in case of play errors, still probably better than using pkill)
* Exposure of tiller to all users on

[2017-11-03 13:17] akdriveus opened #32538 "Getting error when installing IIS server on Win Server 2016 ec2 instance on AWS."
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_feature

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_HOST_LIST(/etc/ansible/ansible.cfg) = [u'/etc/ansible/hosts']
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles']
DEFAULT_SUDO_USER(/etc/ansible/ansible.cfg) = root
DEPRECATION_WARNINGS(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT
Ansible is ru

[2017-11-03 13:35] s-hertel commented on #32533
Closing since this was solved.

[2017-11-03 13:35] #32533 closed, assigned to nobody

[2017-11-03 13:43] bcoca commented on #32384
verified, any value that is not a direct YAML boolean False is interpreted as True

[2017-11-03 13:44] richlv opened #32541 "module references include module description"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docs

##### ANSIBLE VERSION
latest

##### SUMMARY
when referencing modules, the documentation pulls in the title. the title usually contains a brief description, and this messes up the sentences.

##### STEPS TO REPRODUCE
check the documentation pages, for example http://docs.ansible.com/ansible/latest/intro_adhoc.html

##### EXPECTED

[2017-11-03 13:48] jvanderaa opened #32542 "Upper Case Host on ios_config and ios_command fail to connect"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_command
ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Windows Subsystem Linux & Ubuntu 16.04.3

No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 14.04.5 LTS
Release:        14.04
Codename:       trusty

No LSB modules are available.
Distributor ID: Ubuntu
Description:

[2017-11-03 13:52] Tronde opened #32543 "vmware_guest_find: AttributeError: 'NoneType' object has no attribute 'name'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Module name: vmware_guest_find

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I'm running Ansible on RHEL 7.4 and try to use the module with VMware vSphere 6.0.0. I would like to find the vm folder path by the vm name.

##### SUMMARY
Searching the vm folder path by vm name did not return the vm folder but

[2017-11-03 13:56] sebastiendarocha commented on #31718
@sammarland-rh what do you expect ?

you want to add a rule in the second position of the chain right ?

[2017-11-03 13:58] jsowen commented on #27062
Attempted with Ansible 2.5.0 to see if it had been fixed yet, but having the same issue.  I can clone/deploy from template via vsphere client with no problems.  I would love to use the vmware_guest module for the build process, but have to use vsphere_guest at the moment due to this bug.

[2017-11-03 14:00] sammarland-rh commented on #31718
@sebastiendarocha Yes, that was my goal.

[2017-11-03 14:14] Tronde opened #32544 "vmware_guest_snapshot don't find vm by name even if folder is specified"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Module name: vmware_guest_snapshot

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
I'm running Ansible on RHEL 7.4 and try to use the module with VMware vSphere 6.0.0.

##### SUMMARY

I would like to take a snapshot from a running vm specifying the folder where the vm is placed in. But the vm cannot be found.

[2017-11-03 14:17] wknapik opened #32545 "The helm module claims to upgrade packages, but it doesn't"
##### ISSUE TYPE
Bug Report

##### COMPONENT NAME
helm

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_STDOUT_CALLBACK(/etc/ansible/ansible.cfg) = debug

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The module synopsis says "Install, upgrade, delete and list packages with the Helm package manager".
The module cannot be used to upgrade a package.

##### STEPS TO REPRODUCE
Use the module wit

[2017-11-03 14:19] sebastiendarocha commented on #31718
It would be more clear if there was a "position" parameter, otherwise the task couldn't be idempotent

It will be harder to keep the rule idempotent for the user anyway : if several tasks have the same position on the same chain, each run of playbook will add several rules on the chain. It should be explained in the doc.

Anyway it can be usefull.

[2017-11-03 14:27] bcoca commented on #32384
@guenhter the above PR should fix the issue, please confirm.

[2017-11-03 15:02] alexander-balashov opened #32547 "set_fact overrides only one key in dictionary (last)"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

set_fact module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

my ansible.cfg
[code]
##### OS / ENVIRONMENT

16.04.1-Ubuntu
##### SUMMARY

set_fact overrides only one key in dictionary (last)
##### STEPS TO REPRODUCE

1. Set {{playbook_dir}}/group_vars/all.yml
[code]
2. Set {{playbook_dir}}/test.yml
[code]
3. Execute `ansible-playbook -i

[2017-11-03 15:10] Akasurde commented on #32543
resolved_by_pr #32671

[2017-11-03 15:15] onitake commented on #17266
According to the code logic around https://github.com/ansible/ansible/blob/6bc3f98eee2b1f1496d35aa0357b924ab0cb7d0f/lib/ansible/plugins/filter/core.py#L289 passlib is always used if available.

crypt is used as a fallback on systems that don't have it.
Unfortunately, the hash type is not checked in this case, which results in incorrect password hashes.
A check similar to the one for macOS should b

[2017-11-03 15:18] giorgos-nikolopoulos commented on #32500
Thanks for the heads up.

We will add it to the issues in our source [repo](https://github.com/citrix/netscaler-ansible-modules), to be addressed in the future.

[2017-11-03 15:26] pkaramol opened #32548 "json variable returned for launch configuration has wrong name ?"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

`ec2_lc`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Empty result by: `ansible-config dump --only-changed`

##### OS / ENVIRONMENT

[code]
[code]
##### SUMMARY

To access the name of a newly created launch configuration, variable `launch_configuration_name` is used (and not just `name`)
##### STEPS TO REPRODUCE

Playbook run:

[code]

[2017-11-03 15:29] guenhter commented on #32384
@bcoca The fix breaks something. I posted you details on the PR

[2017-11-03 15:51] eromoe commented on #32533
@s-hertel Could ansible improve the error message ?

[2017-11-03 15:52] Akasurde commented on #32544
@Tronde Thanks for reporting this issue. Could you please run [vmware_walk](https://github.com/jctanner/ansible-tools/blob/master/vmware/vmware_walk.py) as follows and use the suggested folder in vmware_guest_snapshot ?

[code]

[2017-11-03 15:58] Akasurde commented on #32477
@brunocalogero I suspect due to multiple other `pyvmomi` versions installed, this could be the error. Could you please try with only latest version ? Also, what is username used in pb ?

[2017-11-03 16:06] sebastiendarocha commented on #31718
@sammarland-rh Could you please change the ISSUE TYPE in your comment in "Feature Idea" ?

Thanks

[2017-11-03 16:06] alexander-balashov commented on #32547
Also was checked on ansible ver 2.4.1.0

[2017-11-03 16:11] Akasurde commented on #32477
Do you have any non-ascii characters in your username ?

[2017-11-03 16:18] wvcardoso commented on #28250
@jmcginn13
Put the absolute path in folder parameter. It's necessary include folder `/vm` after datacenter name.
[code]

[2017-11-03 16:20] wknapik commented on #29661
Also, the helm module locks the user into python2, due to pyhelm depending on grpc, which is python2-only.

[2017-11-03 16:35] sammarland-rh commented on #31718
@sebastiendarocha Updated the initial comment.

[2017-11-03 16:57] halberom opened #32551 "add lstrip_blocks param to template module"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
Mac OS

##### SUMMARY
while it's possible to do `#jinja: lstrip_blocks: True` at the top of a template file, this can cause issues if also using `{% include otherfile.j2 %}` logic.  (Especially with respect to switch config as # is not a valid comment char)

[2017-11-03 17:24] brunocalogero commented on #32477
the complete username is "CISCO\bcaloger" so there is a " \ " character which might be an issue.. I've tried also using single quotes or no quotes at all but it did not solve the issue. for the pyvmomi lib should I just run a pyenv and have the latest pyvmomi or would that still be an issue and be in conflict with other versions ? last time i checked I only had one version of pyvmomi installed loc

[2017-11-03 18:27] admirabilis commented on #31150
The thing is, Vagrant creates */var/www/html/yii2* as owned by `vagrant:vagrant`, but it first creates */var/www/html/* first as owned by `root:root`, I don't know if on purpose. I don't understand either why Ansible fails to chown the directory, but running `chown` directly works:

    - name: fix permission of directory created by vagrant
      become: yes
      command: chown '{{ ansible_user_i

[2017-11-03 18:34] doubleplush opened #32552 "vmware_guest_powerstate does not change power states as expected"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
vmware_guest_powerstate
module_utils/vmware.py

##### ANSIBLE VERSION
[code]
##### SUMMARY
Due to the hyphenated state names used in the vmware_guest_powerstate module (`shutdown-guest`, `powered-on`, `powered-off`, etc.), the `set_vm_power_state` function is unable to convert the state name into one of its accepted states (`poweredoff`, `powere

[2017-11-03 18:47] richlv opened #32553 "Clarify on patterns, add links"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
docs

##### ANSIBLE VERSION
latest

##### SUMMARY
documentation is lacking a bit on where full pattern functionality can be used, and a few links could be helpful

##### STEPS TO REPRODUCE
* http://docs.ansible.com/ansible/latest/intro_adhoc.html does not seem to explain that --limit for ad-hoc commands works on the initial pattern spe

[2017-11-03 18:51] lucastheisen commented on #31376
@kevensen , I finally got a chance to tryout your `lookup_plugin`.  After reading _Ansible: Up and Running_, I think I agree with you that this type of feature makes the most sense as a lookup.  Excellent work, and thank you.

[2017-11-03 18:51] #31376 closed, assigned to nobody

[2017-11-03 18:52] jritorto commented on #32151
Agree about the misunderstanding - from my reading elsewhere, the target is "remote" and the control host is "local" and it seems the docs are written with this design in mind.  For comparison, see docs for the copy module, for instance.
  Anyway, thanks for writing this, @haad.  My use case is that I have a number of freshly-provisioned target machines I'm executing against that need to have a ne

[2017-11-03 18:59] abadger commented on #31988
@ossark how comfortable are you patching code?  I think this may be a bug in paramiko rather than Ansible.  I've proposed the following PR upstream: https://github.com/paramiko/paramiko/pull/1106

[2017-11-03 19:02] basictheprogram opened #32554 "ERROR! A worker was found in a dead state"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

Unknown

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

$ ansible-config dump --only-changed

##### OS / ENVIRONMENT

Ansible host: macOS 10.12.6
Managed hosts: various Window releases

##### SUMMARY

Random Window hosts hang on random tasks eventually timing out with the message, "ERROR! A worker was found in a dead state"

##### STEPS T

[2017-11-03 19:03] smartsammler opened #32555 "Add option to ipa-user to set UIDnumber"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ipa_user

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
It would be great if one could also change the Posix UID (JSON name is uidnumber) of a user via ansible's ipa_user module.

Then one could keep the configuration in ansible and in IPA in sync and easily import users into IPA with specific

[2017-11-03 19:13] nhooey commented on #15460
@JesseAChristensen's suggestions give the user an easy, fail-safe way to recover a system from a bad state, without changing the behaviour of Ansible.

[2017-11-03 19:27] kevensen commented on #31376
@lucastheisen I appreciate you taking the time to test out the lookup plugin.  Thank you.  I’m glad it works for you.  If you get a chance, do you mind adding a +1 to pull request #31525?

[2017-11-03 19:35] chadswen commented on #13563
I'm about two years too late for suggestions here, but for my own curiosity was something like [directory variables](http://docs.ansible.com/ansible/latest/playbooks_variables.html#magic-variables-and-how-to-access-information-about-other-hosts) considered for usage inside requirements.yml as a replacement for relative paths?

As in:
[code]

[2017-11-03 20:03] jahickey opened #32556 "The include_role now states that delegate_to is invalid"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

include_role
##### ANSIBLE VERSION

[code]
Sorry, I'm not able to test newer versions. Apologies if this has been fixed in newer versions
##### CONFIGURATION

ansible-config dump --only-changed
DEFAULT_MANAGED_STR(/etc/ansible/ansible.cfg) = This file is managed by Ansible. Changes may be overwritten
PERSISTENT_CONNECT_TIMEOUT(/etc/ansible/ans

[2017-11-03 20:17] lucastheisen commented on #31376
Dun.

[2017-11-03 20:27] dkquach opened #32559 "No support for login or management of x509 certificate based users using mongdb_user module for MongoDB"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

mongodb_user database module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A

##### SUMMARY

We use Ansible to perform the build out and configuration of our MongoDB cluster. As opposed to passing javascript files through the Mongo CLI to perform actions like managing users, we would like to utilize the mongo

[2017-11-03 20:28] kiorky commented on #21890
Im working on a fix which seems nearly to be good for review, if someone wants to begin some kind of review...

[2017-11-03 20:38] s-hertel commented on #32553
cc @dharmabumstead

[2017-11-03 21:36] basictheprogram opened #32563 "win_chocolatey hangs when unable to uninstall package"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_chocolatey

##### ANSIBLE VERSION

[code]

##### EXPECTED RESULTS

All packages listed in the chocolatey_remove_packages list are removed

##### ACTUAL RESULTS

Task hangs until control-c is used to break

The chocolatey package I'm attempting to remove has a file in use by another process. Trying to remove the package from a powershell co

[2017-11-03 22:10] basictheprogram commented on #32563
Using resmon, CPU tab, Associated Handles, I searched for unins000.dat, ended the process that was using that file and my ansible task to remove uninstalltool now works.

[2017-11-03 22:31] Tronde commented on #32544
@Akasurde No problem. I'm glad if I could help. I'm going to run the [suggested command](https://github.com/ansible/ansible/issues/32544#issuecomment-341744456) next Tuesday, when I'm back at the office.

[2017-11-03 22:33] Tronde commented on #32543
I've seen that the PR #32078 was closed. Do you reopen it against the devel branch?

[2017-11-03 23:14] #30255 closed, assigned to nobody

[2017-11-04 01:47] prasadkatti commented on #32548
@pkaramol - Why are you expecting the name of the newly created launch configuration to be returned as a key `name`? The `ec2_lc` module does not mention any return values.

[2017-11-04 01:50] edwardofclt commented on #10424
It's still happening in 2.4.1

[2017-11-04 02:13] prasadkatti commented on #32548
I just tried creating a new launch configuration using ansible 2.4.0.0. This is what is returned -

[code]

The above output is truncated. It looks like the name of the launch configuration is returned as `name` and also as `result.launch_configuration_name`

HTH

[2017-11-04 02:38] gratchie commented on #20006
@dagwieers - I installed https://github.com/dagwieers/pywinrm but I'm still getting the urllib3 warning. Any ideas? thanks

ansible 2.4.0.0
  config file = /etc/ansible/ansible.cfg
  ansible python module location = /usr/lib/python2.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.5 (default, May  3 2017, 07:55:04) [GCC 4.8.5 20150623 (Red Hat 4.8.5-14)]

pyw

[2017-11-04 03:01] Akasurde commented on #32555
resolved_by_pr #32561

[2017-11-04 03:03] Akasurde commented on #32552
resolved_by_pr #32295

[2017-11-04 04:43] hai-ld commented on #18955
I think the UI could be like below (adding a new `column` type, and a new module argument `table`)

[code]

[2017-11-04 08:24] dmOx commented on #21328
Works in 2.2.1.0 version on Debian, but after upgrade to 2.4.1.0 it breaks like:
[code]

When running like
[code]

This code
[code]
Role "nginx_base" executed like
"roles" task in playbook -> "include_role" A -> dependency of A -> nginx_base

[2017-11-04 10:53] wvcardoso commented on #28250
@jmcginn13
The error is in documentation ([ansible vmware_guest](http://docs.ansible.com/ansible/latest/vmware_guest_module.html)) when it says that folder needs an absolute or relative path.

The correct information is just the absolute path.
Browsing in devel version, the documentation has been fixed.

[2017-11-04 11:31] ghost commented on #31342
I will check this. I think this is the solution fro my.
Thank you.

[2017-11-04 11:51] jhawkesworth commented on #32554
Hey, noticed you are running from a mac - just wondering if you are hitting the maxfiles limit? - described and workaround here: https://github.com/ansible/ansible/issues/12259#issuecomment-137962724

I suggest having a look at your os logging messages (sorry don't know exact location for macOS) - /var/log/syslog type of thing to see if there are any clues in there.

Hope this helps.

Jon

[2017-11-04 12:01] ssbarnea commented on #23057
I think we need to reopen this bug as I found another case where two warnings are raised without any good reason. I have some code that looks like:
[code]
The last tasks throws two warnings:
[code]

[2017-11-04 12:18] bendews commented on #23663
Can also confirm this issue exists in 2.4

[2017-11-04 14:02] ghost opened #32568 "how for variable in groupvar in ansible"
Hi Guys,
  i have file dev in groupvar as below :

 container:
   container1: name1
   container2: name2
   container3: name3

=> how i can for it in fluentd ?

[2017-11-04 14:33] xuyinhao commented on #32537
test?

[2017-11-04 16:16] sedrubal commented on #29266
I have the same issue and I want to try to give the required information:

##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
nmcli

##### ANSIBLE VERSION
[code]

*Versions*
    Client OS: Fedora 26 Workstation
    Target OS: Fedora 26 Server Edition (with python3 interpreter)

[2017-11-04 17:06] getrue opened #32570 "useradd and set password using sudo"
Hi all,

We want to add newuser and set password with user 'user1' using sudo. inventory file has server ip addresses.
We need correct playbook.yml file :) Could you please share yml file content for to add new user and set password.

* Destination servers has no root login.
* So we will login with 'user1' later user1 will create newuser and set password for newuser using sudo command.

We need pl

[2017-11-04 18:22] wvcardoso commented on #23663
@ArcticPheenix @bendews
Look my comment in #28250

[2017-11-04 18:28] roded commented on #27556
Following @asovern's suggestion we're sticking to version 2.2.3.0.
This issue is obviously blocking Windows shops from updating.
Can anyone update on the priority of this issue? Is a fix planned?

[2017-11-04 18:34] ArcticPheenix commented on #23663
Thanks @williancardoso. This solved the issue for me.

[2017-11-04 22:35] traumschule commented on #30169
SUMMARY
allow_unauthenticated=yes only works in conjunction with state={present|latest]

My Play with the following handler was failing because the option `allow_unauthenticated=yes` was ignored:
[code]

VERSION
[code]

STEPS TO REPRODUCE
- sudo echo "deb https://deb.nodesource.com/node_8.x xenial main" > /etc/apt/sources.list.d/nodesource.list.list
- sudo apt-get install nodejs -y --allow-unauthe

[2017-11-05 01:18] bendews commented on #23663
@williancardoso, unfortunately I'm having this issue when not using the folder directive, at the moment I'm just trying with a resource pool

[2017-11-05 02:39] sveemani commented on #15948
Is there any fix for it ?
Am facing  the same  error for tasks attribute in all my plays.

[code]

[2017-11-05 04:31] jbemmel opened #32573 "sros_config terminal_stdout regex does not cover Nuage VSC prompt case including '>'"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

sros_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[DEPRECATION WARNING]: DEFAULT_TASK_INCLUDES_STATIC option, include itself is deprecated and this setting will not matter in the future . This feature will be removed in version 2.8. Deprecation warnings can be
 disabled by setting deprecation_warnings=False in ansible.cfg.
DEFAU

[2017-11-05 05:15] basictheprogram commented on #32554
Won't the -f1 limit the forks to just one? Because I thought it was a thread issue I -f1 to reduce that risk.

Also nothing in logs

[code]

[2017-11-05 09:04] grvtechno commented on #31741
Command python setup.py egg_info failed with error code 1 in /usr/src/p2pool/.pyenv/build/cryptography

[2017-11-05 09:04] grvtechno commented on #31741
can anyone help me with above error..?

[2017-11-05 09:30] jhawkesworth commented on #32554
Sorry, I missed that you had set -f1

Are the modules that it is failing on taking longer than usual to run?

If there is a nothing in the syslog on your controller, I suggest having a look look on the machines that are affected.

This might be irrelevant but I had an issue recently where a Windows box timed out on a wait_for_connection following a reboot. When I logged into the vm it was 100 ‰ cp

[2017-11-05 09:54] RichVel commented on #14578
I extended my example task that showed this bug (see earlier comment) into a playbook, and tried it on 2.4.1.0.  However this playbook doesn't show the bug, either with the final `become: no` or without it.

[code]

bug-playbook.yml:
[code]

Maybe someone can try this on earlier versions to confirm this playbook shows the bug?  It  should provide a simple repro on versions where bug exists, but or

[2017-11-05 10:44] #30017 closed, assigned to nobody

[2017-11-05 11:10] yaroslav-shabalin commented on #8603
+1

[2017-11-05 13:44] aviramartac opened #32575 "ec2_lc module does not respect "gp2" device_type for volume"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ec2_lc.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

ANSIBLE_NOCOWS(/home/ec2-user/ansible/ansible.cfg) = True
COMMAND_WARNINGS(/home/ec2-user/ansible/ansible.cfg) = True
DEFAULT_PRIVATE_KEY_FILE(/home/ec2-user/ansible/ansible.cfg) = /home/ec2-user/ansible/playbooks/ssh/id_rsa_ansible
DEFAULT_REMOTE_USER(/home/ec2-user/ansible/ansibl

[2017-11-05 14:12] piontas commented on #31234
Same error message for me:

Environment: Debian Stretch, `ansible 2.3.2.0` installed in `virtualenv`.
But works fine when I changed  to `ansible 2.4.0.0`

[2017-11-05 14:28] #31894 closed, assigned to mkrizek

[2017-11-05 14:37] thomwiggers opened #32577 "Generate Diffie-Hellman Parameters with openssl module"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME
module openssl_*

##### SUMMARY

There are various commands to generate keys and certificates. It would be helpful to also be able to easily generate Diffie-Hellman parameters from Ansible.

##### Example

[code]

[2017-11-05 14:49] 121compare commented on #19767
Install ansible on both machines then try #ansible all -m ping

[2017-11-05 15:52] charlesgreen commented on #32478
Would a PR be considered for this change?

[2017-11-05 18:54] karlmdavis commented on #32334
Here you go: https://travis-ci.org/karlmdavis/ansible-role-jenkins2#L5476

Blowing up on the apostrophe here: https://github.com/karlmdavis/ansible-role-jenkins2/blob/053a21821770e88699143bc53fc30dfe93918a8e/test/test_basic.yml#L75

[2017-11-05 21:11] jborean93 commented on #25298
For 2.5, we are going to change win_updates to no longer use scheduled tasks and require become using the `#AnsibleRequires -Become` flags. There is no code out there for it right now but this will fix this issue and remove some of the fragility we are seeing with the module.

[2017-11-05 21:16] jborean93 commented on #25344
For some background info, as part of the 2.5 we are planning on looking at what it will take to get PowerShell over SSH working. Some initial work has been done but an fundamental issue with the Win32-OpenSSH implementation has been found.

The issue https://github.com/PowerShell/Win32-OpenSSH/issues/908 causes SSH to randomly drop data from the stdin pipe which is used by a lot of operations for

[2017-11-05 21:38] jborean93 commented on #26485
Just ran this with the latest devel and 2.4.1 and it works fine. Here is my directory tree

[code]

And here is the output.

[code]

Going to close the issue as it appears to be fixed.

[2017-11-05 21:38] #26485 closed, assigned to nobody

[2017-11-05 21:44] jborean93 commented on #32538
Hi @akdriveus, I'm going to close as this appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

In your case you are running a play on localhost to provision the EC2 instance and are immediately running the `win_fe

[2017-11-05 21:44] #32538 closed, assigned to nobody

[2017-11-05 22:07] jborean93 commented on #32478
I'm not sure if we are looking at the same module, `win_firewall_rule` has had 2 versions in the past;

* 1st iteration (pre 2.4) used `netsh advfirewall` to configure firewall rules
* 2nd iteration (2.4 and current) uses COM objects like `HNetCfg.FwPolicy2` and `HNetCfg.FWRule` instead

[HNetCfg.FWRule](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365344(v=vs.85).aspx) has a few pro

[2017-11-05 22:10] jborean93 commented on #30766
I'm going to close this issue as I haven't seen a reply from the reporter. I'm unable to replicate the issue myself and without any further info I can't do anything.

[2017-11-05 22:10] #30766 closed, assigned to nobody

[2017-11-05 23:03] jborean93 commented on #27556
I've had a further look into the logs that were given and found the following entry in the analytics logs that was sent through (note this is translated by Google translate from French to English)

[code]

This means that the WinRM operation failed with error code 1460 and sent back the error (HTTP status 500). This error is caused by a timeout when processing the values, as for why it is timing o

[2017-11-05 23:03] #27556 closed, assigned to nobody

[2017-11-05 23:11] jborean93 commented on #32563
As far as I'm aware there isn't anything we can do to solve this. We call the `choco.exe` executable and wait until that finishes. Because we are running in a non-interactive session, it will open up the error message on a non-existent desktop and wait until someone clicks the `OK` button which no one can. While this error box is open the choco executable is still running so Ansible doesn't see an

[2017-11-05 23:11] #32563 closed, assigned to nobody

[2017-11-05 23:26] InTheCloudDan commented on #32575
Did you try creating it with a volume_type, not device_type? From boto3:

[code]

[2017-11-05 23:28] jborean93 commented on #30940
Hi @codyja, there are currently 2 PR's available that will add these features. If you have any time it would be good if you could test them out and give your feedback on each page.

A PR for modules to create images and generate facts from images https://github.com/ansible/ansible/pull/32403

A PR to allow azure_rm_virtualmachine to create a host from a custom image https://github.com/ansible/ansi

[2017-11-05 23:38] jborean93 commented on #30982
Hi @parmstro there have been some changes with the Azure packages between 2.3 and 2.4. In 2.3, the target package version was 2.0 rc5 which can be installed with `pip install "azure==2.0.0rc5"`. Some breaking changes were made between the rc5 release and the final 2.0.0 which caused some incompatibles such as this. In 2.4, the modules were modified to support the final 2.0.0 release but you would

[2017-11-05 23:45] jborean93 commented on #31502
Support for UInt64 has been added with https://github.com/ansible/ansible/pull/31556, closing issue.

[2017-11-05 23:45] #31502 closed, assigned to nobody

[2017-11-05 23:46] jborean93 commented on #31003
The PR https://github.com/ansible/ansible/pull/31556 has been merged which adds in the majority of these features. PR to update the main documentation page has been raised at https://github.com/ansible/ansible/pull/32581

[2017-11-05 23:52] jborean93 commented on #24328
Hi @param3sh I've added support for this with this PR https://github.com/ansible/ansible/pull/32367. It would be great if you could test it and post your results on that page so we can potentially get it merged soon.

[2017-11-05 23:52] lachlansimpson commented on #19820
+1 this was expected usage given that ansible command+"mount -a" gives a warning to use this package.

[2017-11-05 23:55] elnur commented on #32499
It'd be really nice to have this fixed because I need new stuff from 2.4 but I'm stuck with 2.3 because of the bug.

At least acknowledging it's an Ansible regression instead of blaming OS X would be a step in the right direction.

[2017-11-05 23:56] jborean93 commented on #24936
This is no longer relevant, from Ansible 2.4, `pip install ansible[azure]` or `pip install azure==2.0.0` should be used to install the Azure packages for Ansible

[2017-11-05 23:56] #24936 closed, assigned to nobody

[2017-11-06 00:03] jborean93 commented on #25109
This can be done by using the `azure_rm_virtualmachine_extension` module. I've used the below to build a Windows server and then setup WinRM once it is built

[code]

I believe separating them into different modules is done on purpose as we don't want to have another `ec2` module that does everything and is now a complex beast.

[2017-11-06 00:03] #25109 closed, assigned to nobody

[2017-11-06 00:04] jborean93 commented on #25504
The documentation has been updated for 2.4 to target the 2.0.0 SDK instead. Closing issue.

[2017-11-06 00:04] #25504 closed, assigned to nobody

[2017-11-06 00:06] jborean93 commented on #30394
Going to close this in favour of https://github.com/ansible/ansible/issues/28392 as they are the same issue. Have moved across the comments so we don't loose anything.

[2017-11-06 00:06] #30394 closed, assigned to nobody

[2017-11-06 00:07] jborean93 commented on #28392
_From @nitzmahone at https://github.com/ansible/ansible/issues/30394_

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
azure_rm_virtualmachine

##### ANSIBLE VERSION
2.4.0

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
If azure_rm_virtualmachine encounters an error:
* when creating a VM after some objects are created (eg, NIC, storage account, disk, blob, public IP)
* when

[2017-11-06 00:09] jborean93 commented on #29327
This functionality is done in `azure_rm_common` so any modules that implement `AzureRMModuleBase` have this functionality. Closing this issue.

[2017-11-06 00:09] #29327 closed, assigned to nobody

[2017-11-06 00:12] jborean93 commented on #21143
Issue seems to be because the tenant ID set is not a guid but rather an URL. Going to close the issue as I am able to get this working myself.

[2017-11-06 00:12] #21143 closed, assigned to nobody

[2017-11-06 00:15] jborean93 commented on #27426
Hi @tstringer, not sure where you got up to on this, there are some issues that are related to this

https://github.com/ansible/ansible/issues/29446
https://github.com/ansible/ansible/issues/24927

I've closed those issue and pointed it to this page as there is more info available. It seems like we should just pass in `tenant` to `UserPassCredentials` but I'm fairly new to Azure so I don't underst

[2017-11-06 00:16] jborean93 commented on #24927
It seems like there is another issue raised for this here https://github.com/ansible/ansible/issues/27426. Please have a look at that issue for more details.

Thanks @archit for raising the issue.

[2017-11-06 00:16] #24927 closed, assigned to nobody

[2017-11-06 00:16] jborean93 commented on #29446
It seems like there is another issue raised for this here #27426. Please have a look at that issue for more details.

[2017-11-06 00:16] #29446 closed, assigned to nobody

[2017-11-06 00:18] jborean93 commented on #29447
This issue is because the user being used to create the VM did not have permissions to view the resource group. I've been able to run this step without any issues using both a AD user and SPN.

[2017-11-06 00:18] #29447 closed, assigned to nobody

[2017-11-06 00:20] jborean93 commented on #29709
This issue has been fixed as mentioned above, closing issue.

[2017-11-06 00:20] #29709 closed, assigned to nobody

[2017-11-06 00:22] jborean93 commented on #30212
Ansible 2.0.0 is no longer supported so I will close this issue. Since this time, the Azure SDK has changed dramatically.

In 2.4, Azure 2.0.0 is the Python package used and can be installed with `pip install ansible[azure]`.

[2017-11-06 00:22] #30212 closed, assigned to nobody

[2017-11-06 00:46] jaredledvina opened #32580 "Bug: docker_network not properly finding already connected containers"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
docker_network

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian 9 Stretch
Docker Engine 17.05.0~ce-0~debian-stretch

##### SUMMARY
Using `docker_network` to ensure that an already running container (started previously with `docker_service` via a docker-compose.yml file) is connected to a new network.

####

[2017-11-06 04:11] Illydth commented on #19858
Want to add a "Me To" to track this.

# Destroy Provided Container
- name: "Destroy Container: {{ container_name }} and Associated Volumes"
  docker_container:
    name: "{{ container_name }}"
    docker_host: "tcp://{{ container_host }}:{{ docker_host_port }}"
    state: absent
    keep_volumes: no
  when: not retain_volume or retain_volume is undefined or retain_volume == 'false'

When this runs

[2017-11-06 04:42] charlesgreen commented on #32478
Thank you @jborean93 for the prompt and detailed reply.
Apologies. I must have made a mistake with the repo.

I took a second look at the win_firewall_rule module and as you mentioned, it is using the Name property to determine if there are multiple rules returned with the same name.

As the Name is unique per profile could the Name check be extended to include the $profile?

For example:
The curr

[2017-11-06 05:23] jborean93 commented on #32478
Yep, this sounds like an actual issue that should be fixed. I don't know too much about the implementation but it may require some more changes than that, or may not I'm not 100% sure. The trouble is that each rule can be for 1 profile or multiple ones, e.g. a rule can cover all the profiles, just domain and private, or just domain and so on. @ar7z1 is probably the best person to comment on this a

[2017-11-06 07:04] andersla opened #32584 "Alternative message: FAILED - RETRYING:"
Is it possible to display a user friendlier message when looping waiting for a resource to become available than standard: **FAILED - RETRYING**?
If you want to display output of Ansible process to a user not used to Ansible - this sounds as there is something wrong - when it is actually just part of the planned waiting for a resource to become available after initialization?

If my task name is:

[2017-11-06 07:08] yhaobj opened #32585 "mux_client_read_packet: read header failed: Broken pipe"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
script

##### ANSIBLE VERSION

[code]

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

#####  ACTUAL RESULTS

[code]

[2017-11-06 07:37] abhijeetka commented on #13744
The fix is present in ansible 2.4.1.

[2017-11-06 07:58] 4c74356b41 commented on #27426
well, pretty much like i said the method acepts tenant, just gotta pass it

copied from another thread:

I found a solution. By passing tenant to UserPassCredentials
In azure_rm_common.py file, inside ansible/module_utils applied the patch like below,

line no 188,

self.azure_credentials = UserPassCredentials(self.credentials['ad_user'], self.credentials['password'])

change the above line like

[2017-11-06 08:01] ghost commented on #31342
This work for my:

<pre>
- name: Check is the application over the proxy available
  uri:
    url: "http://intern.example.local"
    status_code: "200"
  register: result
  until: result.status == 200
  retries: "6"
  delay: "10"
  delegate_to: localhost
  environment:
    no_proxy: intern.example.local
    http_proxy:
    https_proxy:
</pre>

[2017-11-06 08:05] charlesgreen commented on #32478
I'm guessing it will be more complicated.

I did a check of the default Windows 2012 R2 firewall profile ID's and found:
Additional profile ID's that are not listed in the win_firewall_rules module.

In the module, I found ID's 1, 2, 4 and 0x7fffffff.
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/windows/win_firewall_rule.ps1#L53

In my default Windows Firewall configuration, I

[2017-11-06 08:48] dagwieers commented on #32478
@charlesgreen I think it's using bits to indicate which profile. So
- 3 means the first and second profile (2^0 + 2^1)
- 4 means the 3rd profile 3 (2^2)
- 6 means the 2nd and 3rd profile (2^1 + 2^2)
- 7 means the 1st, 2nd and 3rd profile (2^0 + 2^1 + 2^2)
- 0x7ffffff means all possible profiles (I assume the highest bit is unused, or used for something else)

If this is the case we can extend our

[2017-11-06 08:58] bendews commented on #23663
@williancardoso Apologies I didn't read the comment threads closely enough.

In my situation (resource pool in root of datacenter), I was able to follow your advice, this is working under Ansible2.4:
[code]

[2017-11-06 09:00] sicheng20 commented on #14578
Got same error when I am using copy module.

[2017-11-06 09:02] charlesgreen commented on #32478
Thanks for your reply. It's helpful to understand. If you'd like me to submit a PR please let me know otherwise I'm happy to test.

[2017-11-06 09:15] dagwieers commented on #32478
Like @jborean93 I think we need to wait for current maintainer @ar7z1 to indicate his preference and then look for an acceptable implementation. I can sense some disagreement how it ought to work.
- Do we make Name unique only
- Do we make it unique per profile (Windows presumably does this)
- Do we make it unique and merge profiles into a single statement (if so, how do we handle existing inconsi

[2017-11-06 09:29] AndrejG82 commented on #27062
The workaround is to set the "esxi_hostname" property instead of "cluster" inside vmware_guest.

As someone said earlier the default host the first one in the cluster. The problem is if that host is in standby mode.

That was the problem in my case and I got around it by specifying the working host directy.

[2017-11-06 09:37] mkrizek commented on #32463
See https://github.com/ansible/ansible/pull/32522

[2017-11-06 09:38] mkrizek commented on #31534
https://github.com/ansible/ansible/pull/32522

[2017-11-06 09:45] mvermaes opened #32586 "Unsorted output when specifying 'order: sorted' for yum (and other?) tasks"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- Inventory

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
  - Management host: Fedora 25
  - Managed hosts: CentOS 7.4.1708

##### SUMMARY
When using the new `order: sorted` option to try to sort the host output of a playbook run, the hosts are returned in non-sorted order.

##### STEPS TO REPRODUCE
  - Contents of `h

[2017-11-06 09:55] dagwieers commented on #20006
@gratchie That tree (personal devel branch) does not include the needed fixes. If anything, use the upstream devel branch instead.

[2017-11-06 10:37] mloc commented on #32580
I'm getting the same error with a playbook that creates two containers and puts them in a network. The first run works fine, but the second errors and leaves the network in a broken state.

ansible --version:
[code]

docker-py on the target host is version 1.10.6.

[2017-11-06 12:59] adelton commented on #31694
What is the best course of action to get https://github.com/ansible/ansible/pull/31695 reviewed and merged?

[2017-11-06 13:15] xlammertink commented on #32440
@jtyr Any idea what it's trying to do?

[2017-11-06 13:19] darkweaver87 commented on #6189
+1 from host X I'll like to access value of a key that host Y has overrided

[2017-11-06 13:22] jtyr commented on #32440
Please can you check if the `timestamper` plugin is actually installed?

[2017-11-06 13:35] jctanner opened #32590 "TEST ISSUE, DO NOT CLOSE"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
lib/ansible/modules/cloud/vmware/vca_*

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT
N/A

##### SUMMARY
vmware stuff, please fix it.

[2017-11-06 13:35] jctanner commented on #32590
bot_skip

[2017-11-06 14:14] alexppg commented on #29676
Isn't this a duplicate of #25414?

[2017-11-06 14:46] s-hertel commented on #32548
@pkaramol I wasn't able to reproduce your results either. Did you make any modifications to the module?
 needs_info

Here's a sample output of what I get:
[code]

I've also opened a pull request to document the return values: #32592.

[2017-11-06 14:51] alikins commented on #32570
This looks like a question about use of ansible, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can ask there, we'd appreciate it.  This allows us to keep the issue tracker for bugs, pull requests, RFEs and the like.

[2017-11-06 14:51] #32570 closed, assigned to nobody

[2017-11-06 14:56] alikins commented on #32577
cc'ing @Spredzy @MarkusTeufelberger

[2017-11-06 15:08] alikins commented on #32585
Need more info about the failure.

Was this working in earlier versions?

Is it a specific host that fails, or all hosts?

Need the rest of the output from running `ansible all -m script -a "/home/adminuser/filebeat.sh hlj" -s -vvvv`  (including the openssh command lines).

Does plain ssh to that host work?  Does it work with the command line to ssh ansible generates and uses?

What is the ansible

[2017-11-06 15:19] alikins commented on #32586
cc'ing @bcoca

[2017-11-06 15:23] dalmadebreceni opened #32594 "host pattern warning"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

- Pattern

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

N/A
##### SUMMARY

When defining multiple patterns, I get warnings. This did not happen with the previous ansible versions.
##### STEPS TO REPRODUCE

[code]
ansible-playbook test.yml --limit tag_group_b:!tag_setup_true

##### EXPECTED RESULTS

To match one o

[2017-11-06 15:25] pkaramol commented on #32548
@s-hertel
If you check, I am only printing out the contents of the `.result` json object.
In there, I think we both get `launch_configuration_name` variable that holds the lc name. (unless I am missing sth).
It seems to be around l.29-l.30 of your code snippet.

The case seems to be as @prasadkatti describes it.
The lc name is returned both within and outside `result` json object (but within varia

[2017-11-06 15:36] prasadkatti commented on #32548
@pkaramol - The name of the newly created launch config is returned as `name` and also as `result. launch_configuration_name`.

It sounds like you are expecting the name to be returned in `result.name`. Why is that? Was it ever returned as `result.name`? Or am I missing something?

[2017-11-06 15:37] alikins commented on #32594
cc'ing @bcoca

[2017-11-06 15:40] s-hertel commented on #32548
@prasadkatti This module just got ported to boto3 so I would guess the problem is that the returns changed.

[2017-11-06 15:46] pkaramol commented on #32548
@prasadkatti to make a long story short, yes I had code that was previously working with `result.name`

[2017-11-06 15:47] bcoca commented on #32594
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, this is not a bug but a new feature added in 2.4. We now warn when a pattern is not matched, several users requested this for the following case:

`groupa:!poduction` <= the misspelled `pro

[2017-11-06 15:47] #32594 closed, assigned to nobody

[2017-11-06 15:50] prasadkatti commented on #32548
Ahh, that makes sense. Thanks.

[2017-11-06 15:51] bcoca commented on #32586
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

The 'sorted' feature ensures which order hosts are processed, but not the order in which tasks end as they might take more time on some

[2017-11-06 15:51] #32586 closed, assigned to nobody

[2017-11-06 15:53] ktosiek commented on #25431
Affects 2.4, too: https://github.com/ansible/ansible/issues/31477
Edit: hmm, can't reproduce this on 2.3. But it is broken on 2.4.

[2017-11-06 15:55] andmos opened #32598 "win_chocolatey: Better error messages"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_chocolatey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Running from Ubuntu 14.04

Against Windows Server 2016

##### SUMMARY

When using `win_chocolatey` and something goes wrong, we don't get that much information from the output. Given this example from a package on a local NuGet server:

[code]

When run

[2017-11-06 16:06] chrisweaver commented on #29965
This issue has been around for a very long time.  It first appeared in 2.1:
https://github.com/ansible/ansible-modules-core/issues/3444

I'm still seeing it with 2.4.1 and on RHEL 7.4:

`boto.exception.BotoServerError: BotoServerError: 400 Bad Request
<ErrorResponse xmlns=\"http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/\">
<Error>
<Type>Sender</Type>
    <Code>DuplicateLoadBalancerName<

[2017-11-06 16:10] bcoca commented on #32568
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2017-11-06 16:10] #32568 closed, assigned to nobody

[2017-11-06 16:10] ryansb commented on #32575
Ostensibly, `device_type` is supposed to work (according to [docs](http://docs.ansible.com/ansible/latest/ec2_lc_module.html)).

[2017-11-06 16:27] ansibotdev commented on #32590
cc @akasurde @dagwieers @dav1x @nerzhul @pdellaert
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-06 16:27] ansibotdev commented on #32590
Files identified in the description:
x['repo_filename']

If these files are inaccurate, please update the `component name` section of the description or use the `component` bot command.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-06 16:34] Akasurde commented on #32552
@doubleplush Could you please try above patch and let me know if it works for you ?

[2017-11-06 16:40] ansibotdev commented on #32590
Files identified in the description:
lib/ansible/modules/cloud/vmware/vmware_guest.py

If these files are inaccurate, please update the `component name` section of the description or use the `component` bot command.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-06 16:52] amsinha2 commented on #31053
Hi!.  is there any movement on this?

[2017-11-06 16:59] ansibotdev commented on #32590
cc @rhoop
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-06 16:59] ansibotdev commented on #32590
Files identified in the description:
* lib/ansible/modules/cloud/vmware/vmware_guest.py
* lib/ansible/modules/cloud/vmware/vsphere_guest.py

If these files are inaccurate, please update the `component name` section of the description or use the `component` bot command.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-06 17:05] ansibotdev commented on #32590
Files identified in the description:
* https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest.py
* https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vsphere_guest.py

If these files are inaccurate, please update the `component name` section of the description or use the `component` bot command.

[click here for bot help](https://git

[2017-11-06 17:05] ktosiek commented on #31477
Bisected this to f86ce0975d8496b61ed6e2206cab917d0779cec9, seems to work on stable-2.3 (contrary to #25431)

[2017-11-06 17:11] ansibotdev commented on #32590
Files identified in the description:
* [lib/ansible/modules/cloud/vmware/vmware_guest.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest.py)
* [lib/ansible/modules/cloud/vmware/vsphere_guest.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vsphere_guest.py)

If these files are inaccurate, please update the `component na

[2017-11-06 17:15] jctanner commented on #32590
!component +lib/ansible/module_utils/vmware.py

[2017-11-06 17:16] jctanner commented on #32590
!component -lib/ansible/modules/cloud/vmware/vsphere_guest.py

[2017-11-06 17:29] tima commented on #10424
@edward-of-clt please read the comment before yours:

[2017-11-06 17:37] aikchar commented on #24864
@jtyr Did you get a chance to work on this?

[2017-11-06 18:52] s-hertel commented on #32575
resolved_by_pr: #32421

[2017-11-06 19:32] ddrake17 commented on #30362
+1

[2017-11-06 19:42] ar7z1 commented on #32478
Unfortunately, Windows allows you to create completely identical rules. :-(

I've created two identical rules (with same profile value). For them `$fw.Rules | Where { $_.Name -eq 'tst8888' }` returns:
[code]

I'm not sure that it'll be a good decision to automatically merge them.

I think we should:
1. Improve search algorithm: if there are several rules with the same name, we can try to distingui

[2017-11-06 20:01] mwinfie commented on #30790
I am currently running into this issue as well with a server that already has chocolatey installed. It has chocolatey version 0.10.0. I am currently digging into it to look for options to resolving the issue from within my playbook as opposed to modifying the win_chocolatey module.

[2017-11-06 20:16] jborean93 commented on #32478
If there is truly no unique identifier we can use then I would say option 2 is the way to go, if that is the way `netsh advfirewall firewall` works then. We'll see what other people say.

[2017-11-06 20:18] gregdek commented on #18933
I'm going to assume so. @BenCoffeed if you think it needs to be reopened, please do so.

[2017-11-06 20:18] #18933 closed, assigned to nobody

[2017-11-06 20:21] ansibotdev commented on #32590
Files identified in the description:
* [lib/ansible/modules/cloud/vmware/vmware_guest.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest.py)
* [lib/ansible/module_utils/vmware.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/vmware.py)

If these files are inaccurate, please update the `component name` section of the description

[2017-11-06 20:32] jborean93 commented on #32598
I would say the error message you are receiving is being sent to the `stderr` stream and at the time of writing the `win_chocolately` module we couldn't see anything being sent there. It looks like we were wrong and should also get the stderr stream and return that on a failure.

As a test can you run the chocolatey command that fails manually on the host and append `2> stderr.out` and see if the

[2017-11-06 20:33] BenCoffeed commented on #18933
Thanks, crew!

[2017-11-06 20:44] opoplawski opened #32603 "Be able to enable new systemd instance services"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
systemd

##### ANSIBLE VERSION

[code]
This is actually git commit dd930344b64c3f5b4b5a1fd11d8b13a524eee963

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Scienttific Linux 7.4

##### SUMMARY

systemd has the ability to have instance services.  e.g. clamav-server-systemd provides /usr/lib/systemd/system/clamd@.service, which you can enabl

[2017-11-06 20:50] opoplawski commented on #32603
Sorry, I should have been installing clamav-server-systemd.

[2017-11-06 20:50] #32603 closed, assigned to nobody

[2017-11-06 20:51] jctanner commented on #32590
!component +contrib/inventory/vmware_inventory.py

[2017-11-06 20:53] ansibotdev commented on #32590
Files identified in the description:
* [lib/ansible/modules/cloud/vmware/vmware_guest.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest.py)
* [lib/ansible/module_utils/vmware.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/vmware.py)
* [contrib/inventory/vmware_inventory.py](https://github.com/ansible/ansible/blob/devel/contr

[2017-11-06 21:04] ansibotdev commented on #32590
Files identified in the description:
* [contrib/inventory/vmware_inventory.py](https://github.com/ansible/ansible/blob/devel/contrib/inventory/vmware_inventory.py)
* [lib/ansible/module_utils/vmware.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/vmware.py)
* [lib/ansible/modules/cloud/vmware/vmware_guest.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modu

[2017-11-06 21:06] ansibotdev commented on #32590
Files identified in the description:
* [lib/ansible/modules/cloud/vmware/vmware_guest.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vmware_guest.py)
* [lib/ansible/modules/cloud/vmware/vsphere_guest.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vsphere_guest.py)

If these files are inaccurate, please update the `component na

[2017-11-06 21:06] ansibotdev commented on #32590
cc @akasurde
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-06 21:08] ansibotdev commented on #32590
Files identified in the description:
* [lib/ansible/modules/cloud/vmware/__init__.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/__init__.py)
* [lib/ansible/modules/cloud/vmware/vca_fw.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vca_fw.py)
* [lib/ansible/modules/cloud/vmware/vca_nat.py](https://github.com/ansible/ansible/bl

[2017-11-06 21:08] ansibotdev commented on #32590
cc @bedecarroll @chrrrles @jcpowermac @jjahns @kamsz @mtnbikenc @privateip @ritzk
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)

[2017-11-06 21:13] ansibotdev commented on #32590
Files identified in the description:
* [lib/ansible/modules/cloud/vmware/vca_fw.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vca_fw.py)
* [lib/ansible/modules/cloud/vmware/vca_nat.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/cloud/vmware/vca_nat.py)

If these files are inaccurate, please update the `component name` section of the descr

[2017-11-06 21:15] dotemacs commented on #9650
Just like @roytruelove & @bcoca before him, I couldn't get it to work as:

but could, with:

This is with ansible **2.4.1.0** on OSX, with CoreOS **1235.12.0**

[2017-11-06 22:30] abadger commented on #9650
it's not expected that most systems would understand trying to set an environment variable inside of a shebang line.  ansible_python_interpreter is set to what will show up inside of the shebang line.  if you are finding documentation somewhere out on the wider internet that says to set the ansible_python_interpreter to include PATH, then you should have them correct it.

I'm going to lock this is

[2017-11-06 23:16] tkeeler33 commented on #31125
What is the proper way to set this directly in Python? I have added `pipelining=True` to my options but it does not appear to be using pipelining. Setting the environment variable works though.

[2017-11-06 23:34] akdriveus commented on #32538
Hi @jborean93 ,

Before I opened this bug, I posted my question on mailing list.
However, I didn't receive any reply so far.

I've modified the playbook as you advised but I'm still getting the same error. Probably I did something wrong.
Could you please take look on the updated playbook following the link below.
https://groups.google.com/forum/#!topic/ansible-project/BtJvb4GqZcM

Thank you!

[2017-11-06 23:53] jborean93 commented on #32538
I'll have a look, it's been a while since I've played with AWS but should be able to give you a very basic example there.

[2017-11-07 00:12] MarkusTeufelberger commented on #32577
Sounds like a nice idea. :-)

Do you want to implement this yourself or are you looking for someone who wants to do this?

[2017-11-07 00:18] nitzmahone commented on #32499
It doesn't appear to be an Ansible regression- 2.3.0 fails for us the exact same way on High Sierra. Are you sure you didn't upgrade to High Sierra between 2.3.x and 2.4.1 (since it was released right around that time)?

This is the best examination of the underlying issue we've found: https://blog.phusion.nl/2017/10/13/why-ruby-app-servers-break-on-macos-high-sierra-and-what-can-be-done-about-it/

[2017-11-07 00:35] akdriveus commented on #32538
Thank you so much, Jordan!

On Nov 6, 2017 6:54 PM, "Jordan Borean" <notifications@github.com> wrote:

I'll have a look, it's been a while since I've played with AWS but should
be able to give you a very basic example there.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/ansible/ansible/issues/32538#issuecomment-342327894>,

[2017-11-07 01:01] rachelkelly commented on #22647
I came across the same error when pulling down the Threatstack GPG key.  Fixing the task did not change this behavior, but adding the Ansible version in urls.py did.

[2017-11-07 01:34] #32398 closed, assigned to mattclay, gundalow

[2017-11-07 01:58] charlesgreen commented on #32478
@ar7z1 I followed your example and use `Get-NetFirewallRule` to obtain a unique identifier.

I first created a new firewall rule with Ansible and then created a second rule manually using the GUI. The Name field in the GUI and the Ansible module mapped to the DisplayName (when returned by Get-NetFirewallRule) while the Name property is a unique GUID.

[code]

[2017-11-07 02:08] cyrilsebastian commented on #24045
I am still getting the same error, even after using Ansible 2.4. Tested with creating another service account with Compute Admin. But even then I am getting the same error.

raise GoogleBaseError(message, self.status, code)
libcloud.common.google.GoogleBaseError: {u'domain': u'global', u'message': u"Required 'compute.zones.list' permission for 'projects/pilot-project-176894'", u'reason': u'forbidd

[2017-11-07 06:16] willthames commented on #32520
I've added a waiter in https://github.com/ansible/ansible/pull/32337/files#diff-dbbe5ac2528c8137437e22f5bf1cbca2R466 that should reduce this problem

[2017-11-07 06:39] s8i commented on #32499
@nitzmahone `export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` helped me get past the initial fork safety issue - thank you

Winrm has issue still
These Windows will ping without pinging via Ansible
Also these Windows machines would also ping via Ansible previous to my High Sierra update

[code]

[2017-11-07 07:14] Akasurde commented on #32465
@405network Thanks for reporting this issue. I am not able to re-produce this issue on my ESXi setup (6.5) and Ansible version 2.4/2.5

I am using following playbook

[code]

Output:

[code]

Are you using correct user while connecting to ESXi (e.g. 'foo')?

[2017-11-07 07:22] andmos commented on #32598
With `2> stderr.out`:
[code]
So looks like it's there. Is it a fixed error message today? A solution would be to check the stream before returning a message.

[2017-11-07 07:59] ar7z1 commented on #32478
@charlesgreen You're right, Windows generates unique ids for rules created via GUI or `HNetCfg.FWRule`. It uses these ids as keys in `HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\SharedAccess\Parameters\FirewallPolicy\FirewallRules`:
![image](https://user-images.githubusercontent.com/2307197/32480727-3fb3a618-c3a1-11e7-8397-4193f1bc737a.png)

Unfortunately, Windows doesn't allow to access

[2017-11-07 08:10] kmschl2 commented on #27955
Can someone take a look at this? Module acl acts incorrect and we have to fix this manually with every update, which is really annoying.
PATCH for 2.4.1:
[code]

[2017-11-07 09:09] mkrizek commented on #27955
@kmschl2 I created a PR for this issue. I tested on linux, it would be great if we can get this tested on freebsd as well.

[2017-11-07 09:42] kmschl2 commented on #27955
The Freebsd man page is even more clear about behaviour (delete ANY acl entries):
[code]
Linux only states:
[code]

[2017-11-07 10:09] mkrizek commented on #29739
@nirik seems like an acl feature, `man acl(5)` says:

     CORRESPONDENCE BETWEEN ACL ENTRIES AND FILE PERMISSION BITS
     The permissions defined by ACLs are a superset of the permissions specified by the file permis‐
     sion bits.

     There is a correspondence between the file owner, group, and other permissions and specific ACL
     entries: the owner permissions correspond to the permissi

[2017-11-07 10:23] charlesgreen commented on #32478
@ar7z1 great info. I agree with the recommended modification of the search algorithm given the challenges. I think it would cover many of the default firewall use cases.

I can submit a PR for the change within the next 24 hours.  Always happy to try and help.

[2017-11-07 10:45] thomwiggers commented on #32577
I guess I could take a stab at it but I'm not sure I'd have time to do it right away.

[2017-11-07 10:50] thomwiggers opened #32616 "openssl_privatekey requires mode to be an integer in yaml"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
openssl_privatekey

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
default

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When specifying the access mode for the private key, it's required to be an integer

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Create the file with mode `0600`.

##### ACTUAL RESULTS

[code]

[2017-11-07 10:57] xscript opened #32617 "Embedded modules in role should not be included in module search path when role is skipped in conditional import"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

N/A

##### OS / ENVIRONMENT

N/A

##### SUMMARY

When conditionally importing roles in playbook, embedded modules in role are always included into module search path, even the role is skipped due to condition check failure.

It also happens when a role has conditionally role dependencies.

##

[2017-11-07 11:21] juanluisvaladas opened #32618 "kubernetes and oc module should support kubeconfig files"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
oc module
kubernetes module

##### ANSIBLE VERSION
Master branch, not implemented at all

##### SUMMARY
Kubeconfig files are the standard way to configure OpenShift and Kubernetes clients. They include all the authentication details:
- Url
- Token/x509 certification authentication
- TLS configuration (skip verify)
- etc.

##### EXPECTED RESULT

[2017-11-07 11:21] ubajze opened #32619 "ios_config: Save_when does not work for Cisco switch C3560G"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

ios_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_HOST_LIST(***/automation/lab-mgmt/ansible.cfg) = [u'***/automation/lab-mgmt/inventory']
HOST_KEY_CHECKING(***/automation/lab-mgmt/ansible.cfg) = False

##### OS / ENVIRONMENT

14.04.1-Ubuntu

##### SUMMARY

"save_when: always" option in ios_config doesn't work on cisco WS-

[2017-11-07 12:11] Akasurde commented on #32616
@thomwiggers Thanks for reporting this issue. I can reproduce this issue. I can also see that `mode` is not documented parameter.

[2017-11-07 12:16] thomwiggers commented on #32616
It is (sort of) documented: the header of the module states the following:

[2017-11-07 12:22] ar7z1 commented on #32478
@charlesgreen Great news! Thank you a lot!

[2017-11-07 12:22] dagwieers commented on #32478
If Windows does not have a unique identifier for rules, it means other applications also have no means of selecting a single instance. Which makes me favor merging identical rules (same name, different profiles) into a single entry (it's as simple as a boolean OR on the profile value). Only when we add/modify, obviously.

I think it greatly simplifies firewall management and takes away any confusi

[2017-11-07 12:27] nblock opened #32622 "authorized_key: path is ignored on 2.4.1"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
authorized_key

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
no changes according to "ansible-config dump --only-changed"

##### OS / ENVIRONMENT
Debian Stretch on Python 2.7.13

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Public keys being deployed to  ```/root/.ssh/authorized_keys2```.

This works on Ansible 2

[2017-11-07 12:45] lampogass commented on #27062
Same issue here and workaround of "esxi_hostname" instead of "cluster" works but this is annoying.

[2017-11-07 13:26] thomwiggers opened #32626 "Support elliptic curves in the crypto modules"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

openssl_privatekey
openssl_publickey (?)
openssl_csr (?)

##### SUMMARY

Many applications now support elliptic curve certificates and keys. It would be helpful to also be able to generate elliptic curve keys in Ansible.

This will probably require a major refactor as pyOpenSSL doesn't support this in the 'normal' API, you'd probably need to

[2017-11-07 13:34] mkrizek commented on #32432
@QuantumGhost I can't reproduce the issue. In ansible version you put `2.4.0.0` but in the output it says `2.4.1.0`, do you hit the issue with both versions?

I can see a traceback in the output you provided:
[code]

Can you maybe provide the exact playbook that is failing, well at least the part related to the directories that you're copying? Thanks!

needs_info

[2017-11-07 13:38] s-hertel commented on #31053
@amsinha2 I still haven't been able to reproduce this issue. What version of botocore and boto3 are you using? Can you try without providing ec2_url? If you're using the S3 VPC endpoint all you should need to set is region and the access/secret keys.

[2017-11-07 14:04] dalmadebreceni commented on #32594
Hi,

When I read the changelog before submitting this, I did not find anything related, unless it is "Improved warnings and error messages across the board". I actually found one similar ticket about templates in which someone wrote it should be reopened, and then described pretty much the same issue I did.
I believe this is very confusing and I'm apparently not alone, my users will surely ask the

[2017-11-07 14:23] kwerey commented on #14578
I think reports to this bug are covering a whole range of issues.

@RichVel , your sample playbook won't reproduce the problem that lead me to this thread, which was unclear error handling around authentication/privilege escalation.

The situation I was in was this:

1. I had set `become: yes` at play level and had supplied credentials
2. I had a task delegated to localhost.
3. Because I was setti

[2017-11-07 14:28] charlesgreen commented on #32478
@dagwieers in the case of the `Remote Desktop - User Mode (TCP-In)` there are 2 built-in rules that are created by default.

Through the GUI changes cannot be made however I'm not sure if they can be merged programmatically. I'll check tomorrow.

Would the approach be to create a new rule while deleting the existing rules or would it be to modify an already created rule?

I'm in favor of the simpl

[2017-11-07 14:36] alimurtazafarooqui commented on #30239
I have experienced a very similar error on ansible 2.4.0.0

[2017-11-07 14:38] dagwieers commented on #32478
@charlesgreen You have one for TCP and one for UDP, no ? Those are different rules IMO.

[2017-11-07 14:38] codecircuit commented on #24037
+1

In our infrastructure the nodes need to register at our IPA-Server, which can not handle a group of nodes simultaneously. With the `serial` option on a task-level, we could simply
serialize the registration task.

[2017-11-07 14:40] dagwieers commented on #32478
@charlesgreen The problem with just comparing profile, is that if you create a rule for profile 1, and then one for profile 3, they are considered 2 different rules, which is incorrect. The second rule incorporates the first rule. Same for profile 0x7fffffff, which incorporates both profiles (and any other profile combinations).

So it wouldn't actually be idempotent in the sense that if you want

[2017-11-07 14:55] doubleplush commented on #32552
@Akasurde LGTM

[2017-11-07 14:56] ryansb commented on #30307
This has been fixed in https://github.com/ansible/ansible/commit/e9b5e14764d9ee713c0d29dd08e92746fe9f6187 and will be released with 2.4.2.

[2017-11-07 14:56] #30307 closed, assigned to nobody

[2017-11-07 15:01] Akasurde commented on #32358
resolved_by_pr #32624

[2017-11-07 15:35] jrosser opened #32635 "Enabling NXAPI fails first time with sandbox disabled"
- Bug Report

##### COMPONENT NAME
nxos_nxapi

##### ANSIBLE VERSION
ansible 2.4.1.0
  config file = /project-mcuk/ap/ipp/jrosser/cloud/ansible-mist/ansible.cfg
  configured module search path = [u'/etc/ansible/roles/plugins/library', u'/usr/local/lib/python2.7/dist-packages/ara/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /u

[2017-11-07 15:42] ssbarnea opened #32636 "ansible file module always reports changed when using both mode and ownership"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
file
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
N/A

##### SUMMARY

Ansible is always touching files when you use owner/group in combination with mode, causing extra changed tasks when this is not really needed.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Not reporting task as changed if the file alr

[2017-11-07 15:54] Tux12Fun commented on #29596
Hi,
I can see this issue on my System looks like it isn't fixed in Version 2.4

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

gce_pd

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

PERSISTENT_COMMAND_TIMEOUT(/etc/ansible/ansible.cfg) = 300
RETRY_FILES_ENABLED(/etc/ansible/ansible.cfg) = False

##### OS / ENVIRONMENT

Linux debmirror 4.4.0-93-generic #116-Ubuntu SMP Fri Aug 11 21:17:5

[2017-11-07 16:06] dagwieers commented on #32598
@andmos It's unclear from your message whether something was in **stderr.out**, or whether the error was send to the console.

[2017-11-07 16:08] privateip commented on #31611
@Per-Forma @ogenstad I think this issue as you pointed out is the that commands structures are not reliable enough to simply put a `no` in front of them.  I have been playing with ideas similar to how this similarly handled in the `lineinfile` module [here](http://docs.ansible.com/ansible/latest/lineinfile_module.html)

thoughts?

[2017-11-07 16:11] tareqalayan opened #32640 "ovirt: there is no way to perform login all to all storage targets via ovirt ansible modules"
- Feature Idea

ovirt_storage_domain to support login to all targets discovered for all hosts in same cluster.

[2017-11-07 16:13] jrosser opened #32641 "nxos_aaa_server not working with NXAPI"
- Bug Report

##### COMPONENT NAME
nxos_aaa_server

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_ACTION_PLUGIN_PATH(env: ANSIBLE_ACTION_PLUGINS) = [u'/etc/ansible/roles/plugins/action', u'/usr/local/lib/python2.7/dist-packages/ara/plugins/actions']
DEFAULT_CALLBACK_PLUGIN_PATH(env: ANSIBLE_CALLBACK_PLUGINS) = [u'/etc/ansible/roles/plugins/callback', u'/usr/local/lib/python2.7/dist-pac

[2017-11-07 16:19] planet-winter commented on #32385
I have implemented the required functionality and will contribute this after testing

[2017-11-07 16:24] jrosser opened #32642 "NXOS save config does not work with NXAPI"
- Bug Report

##### COMPONENT NAME
nxos_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
The playbook should succeed.

##### ACTUAL RESULTS
The NXAPI version times out, the CLI one appears to run OK.

Playbook run with CLI transport
[code]
Playbook run with NXAPI transport
[code]

[2017-11-07 17:17] amsinha2 commented on #31053
Awesome, that worked!  thank you

[2017-11-07 17:17] #31053 closed, assigned to nobody

[2017-11-07 17:41] mattclay commented on #32481
@yaweiw `Microsoft.ContainerRegistry` has been registered. Is this issue resolved now?

[2017-11-07 18:14] andmos commented on #32598
@dagwieers  I'm sorry, I was a bit fast there. Yes, that was the console output, the `stderr.out` file is in fact empty. I run `choco install dips-dbupgrade --version 1.14.4-build0001 --source http://mySource 2> stderr.out`. All text comes in the console, no text in the file.
This seems rather strange to me? Maybe @ferventcoder can clarify for us?
It makes totally sense that Ansible don't show any

[2017-11-07 18:32] bcoca commented on #32617
Possible Misunderstanding
=========================

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We believe the ticket you have filed is being somewhat misunderstood, as one thing works a little differently than stated.

Imports are NOT conditional, that condition you added to the role signature is applied to the included tasks. not to the act of importi

[2017-11-07 18:32] #32617 closed, assigned to nobody

[2017-11-07 18:35] nitzmahone commented on #32617
So we think you could pull this off today with a conditional `include_role` in 2.4+ - that would probably get the behavior you want if run first thing in the play. But conditional plugin inclusion is potentially dangerous- there's been some discussion about killing it in future versions of Ansible because of all the potential for undefined behavior. For now, it'll probably do what you want, though

[2017-11-07 18:56] #30697 closed, assigned to nobody

[2017-11-07 21:07] s-hertel commented on #32211
This feature has been added in a026d64c08e1f1aa094b5ab3241bc6f35f1f58bc.

[2017-11-07 21:07] #32211 closed, assigned to nobody

[2017-11-07 21:28] jahickey commented on #20603
Ansible 2.4.0 with the **import_tasks** module also has this issue and the workaround by @welchwilmerck does work. But unfortunately, I need to have the **import_task** as the second handler listed in the main.yml file.

Basically I'm setting the hostname, then the first handler sets the /etc/hosts file and then the second handler reboots the machine (by importing my reboot-system role's main.yml

[2017-11-07 21:45] ar7z1 commented on #32478
@dagwieers Do you mean rules creation order? I think no.
From [Order of Windows Firewall with Advanced Security Rules Evaluation](http://technet.microsoft.com/en-us/library/cc755191%28v=ws.10%29.aspx):

First of all, Windows searches for the first matched block rule. If none matched, it searches for the first allow rule. If none matched, Windows applies default policy (block for input direction by

[2017-11-07 21:46] #32476 closed, assigned to s-hertel

[2017-11-07 21:53] s-hertel commented on #32185
@cccscdev I'm not able to reproduce the error you're getting and ec2.py is running idempotently with your reproducer. Can you provide a reproducer with the variables filled out so I can try to recreate it? Or debug your "{{ vpc_subnet_id }}" var before the task runs? But if you have a newline attached, I'd expect you to get an error that the subnet doesn't exist.

needs_info

[2017-11-07 22:20] samdoran commented on #29098
@jacobweber I'm unable to duplicate this. Is this still an issue for you?

- CentOS 6.9
- `yum-3.2.29-81.el6.centos.noarch`
- Ansible 2.2.0.0
- Ansible 2.4.1.0

[code]

needs_info

[2017-11-07 22:30] davidmnoriega commented on #29688
I just noticed this as well in ansible version 2.4.0.0

[code]

[2017-11-07 22:49] StFS commented on #4152
sorry to revive an old thread but I'm testing this with Ansible 2.4.0.0 and things are still working as described above... that is, creating /mnt/a/b/c where /mnt exists but no other dirs, sets the user and group on c but not on a or b even though these directories are created by ansible. Am I missing something?

[2017-11-07 23:06] martinbydefault commented on #22189
I saw that https://github.com/ansible/ansible/pull/31698 is already merged, awesome!

Did you have time to look into this? I don't want to rush you or anything, just wanted to know the current status.

BTW, I want to thank you a lot for the work you put in this module. It's very useful to me and some other people I work with.

[2017-11-07 23:24] jmighion commented on #23609
@mprasil I just verified what @Sodki said about this not being a problem in 2.4.0. So something between 2.4.0 and 2.4.1 broke it. If I have the time I'll try to help narrow down the exact problem.

[2017-11-08 00:09] jmighion commented on #23609
I believe it's between tags v2.4.0.0-1...v2.4.1.0-0.1.beta1. I can repro this bug in v2.4.1.0-0.1.beta1 which is the next tag after v2.4.0.0-1 which doesnt show the bug.

[2017-11-08 00:45] dagwieers commented on #32478
@ar7z1 The first two could be merged. The third is not active, so could not be merged. But here the different *profiles* have been split. What happens if you add a rule for both Public/Private that is identical ? Or one with profile=0x7fffffff ?

It seems wrong (and potentially dangerous) to create a third rule.

[2017-11-08 00:53] #32384 closed, assigned to nobody

[2017-11-08 02:58] #31196 closed, assigned to nobody

[2017-11-08 03:32] yaweiw commented on #32481
@mattclay yeah mate. it's resolved! Thanks. Please also help review the PR #32336

[2017-11-08 03:32] #32481 closed, assigned to nobody

[2017-11-08 06:27] Akasurde commented on #32616
resolved_by_pr #32664

[2017-11-08 06:37] xscript commented on #32617
@nitzmahone I just tried both `include_role` and `import_role`. Looks like it doesn't include the embedded modules into module search path.
My playbook looks like below:
[code]

Part of the results looks like below. Both `xscript.child-1` and `xscript.child-2` have module `azure_rm_resourcegroup`, which have been modified a little.
My expectation is the last task should pick the module in role `xs

[2017-11-08 07:20] ar7z1 commented on #32478
@dagwieers If we merge `FPS-SpoolSvc-In-TCP` into `{859DF931-F28C-4B68-AC3B-E4CD9E60E6D0}` then rule with id `FPS-SpoolSvc-In-TCP` will be removed. After that, some Windows application may check firewall rules, determine that rule `FPS-SpoolSvc-In-TCP` doesn't exist and recreate that rule. After that ansible task again will merge two rules. And so on... :-) I mean that we should not remove existin

[2017-11-08 07:28] trishnaguha commented on #31275
issues to be covered after cliconf:
https://github.com/ansible/ansible/issues/26371
https://github.com/ansible/ansible/issues/26827
https://github.com/ansible/ansible/issues/25608

[2017-11-08 07:45] jeyaramji commented on #31999
Any Better solution available at this point of time (managed IAM policy to IAM group) ?

[2017-11-08 08:32] Brulemat commented on #31926
same problem , but I have a good result with

- name: unzip installer
  become: true
  become_method: sudo
  unarchive:
    src: "{{ oracle_tmp }}/{{ installer }}"
    dest: "{{ oracle_tmp }}"
    remote_src: yes

[2017-11-08 08:38] mwperina commented on #31703
resolved_by_pr 31698

[2017-11-08 08:45] mwperina commented on #31703
duplicate_of 31698

[2017-11-08 08:45] #31703 closed, assigned to nobody

[2017-11-08 08:45] srkiNZ84 opened #32667 "Change blockinfile behaviour when running two tasks modifying the same file"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
blockinfile module - https://docs.ansible.com/ansible/latest/blockinfile_module.html

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_HASH_BEHAVIOUR(/Users/srdan/code/ansible_play/ansible.cfg) = merge

##### OS / ENVIRONMENT
N/A

##### SUMMARY
Using "blockinfile" in two tasks, with both accessing the same "dest" file ends up with one t

[2017-11-08 09:43] tremble commented on #23609
I was able to work around this on 2.3 by using "static: False"

[code]

This was supposed to be the default behaviour with 2.4...

[2017-11-08 10:09] tiraboschi opened #32670 "iSCSI port type is not coherent between ovirt_hosts and ovirt_storage_domains"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ovirt_hosts
ovirt_storage_domains

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT
I'm running ansible 2.4 on centos 7.4 connecting to the host in loopback to manage oVirt 4.2 beta.

##### SUMMARY
The iSCSI port type is n

[2017-11-08 10:11] kevensen commented on #32618
@juanluisvaladas I think this has merit.  I’ll look into it for the **oc** module.  FWIW, I think you’ll still have to specify the host or at least a login context when using **.kubeconfig** for authentication.  The **.kubeconfig** file may have multiple login configurations.

[2017-11-08 10:24] juanluisvaladas commented on #32618
@kevensen Kubeconfig files have several contexts and one currentContext. What kubectl and oc do is using the currentContext (unless defined explicitely to use a different thing).

Each context contains a cluster (which contains among other things the URL and an api version which the  way the module is written would be discarded for the hardcoded v1), a namespace (trivial and the module should be a

[2017-11-08 10:30] sebglon opened #32672 "On ansible-playbook with --check, return detailed exit code"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
ansible-playbook

##### SUMMARY
when i run ansible-playbook with `--check` arg, i want possibility to have an exit code different than 0.

Actualy i can use it on terraform with `-detailed-exitcode`
show more here: https://www.terraform.io/docs/commands/plan.html

this can help full to automate check before applying it.

For compatibility this

[2017-11-08 10:36] onitake commented on #32148
Interestingly, this works for me. I use Ansible 2.4.0.0 too.

I suspect that you don't get the expected result because your `register` variable has the same name as the implicit module result variable.
If you change it to something different, you will get the standard `register` result dictionary, and all items are included.

[2017-11-08 10:43] onitake commented on #32148
On the other hand, I think built-in support for `with_items` would be very useful.
The `register` result is much less convenient to use than `getent_<database>`.

[2017-11-08 10:43] lsbwant opened #32673 "ansible_winrm_server_cert_validation=ignore doesn't work when use delegate_to run role in a wodows server"
ISSUE TYPE:
 - Bug Report

COMPONENT NAME:
delegate_to

ANSIBLE VERSION:
2.1 2.2 2.3 2.4

CONFIGURATION
[code]

OS / ENVIRONMENT:
Redhat7.3 in AWS
python 2.7.5
windows server 2012R2 in AWS

SUMMARY:
ansible_winrm_server_cert_validation=ignore doesn't work when I configure it in an inventory file then use directive "delegate_to" run a role in windows servers. the error message like following:

[cod

[2017-11-08 10:46] lsbwant commented on #32673
Anyone like have a look?

[2017-11-08 10:59] dagwieers commented on #32478
@ar7z1 The fact that we impact existing rules, and they may reappear is not something we can ever prevent in Ansible. And it should not be a concern in itself, at the very least Ansible will tell you there's a change you weren't expecting.

If you want to avoid this, you'll be crippling the module. Ultimately the module would have to stay clear from rules it did not create itself, severely limitin

[2017-11-08 10:59] #31694 closed, assigned to nobody

[2017-11-08 11:10] ruben-herold opened #32675 "nmcli can't handle more than one ip for single interface"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
 - nmcli

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT
- Centos 7

##### SUMMARY

nmcli does not allow more than one ip per interface

##### STEPS TO REPRODUCE

The nmcli command on Centos 7 can add multiple addresses

[2017-11-08 11:14] djmattyg007 opened #32676 "htpasswd module does not properly handle creating files during check mode"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
htpasswd

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Not relevant

##### OS / ENVIRONMENT
Both the controller and remote hosts are running Arch Linux.

##### SUMMARY
When in check mode, the `check_file_attrs` function is still called. This calls `module.set_fs_attributes_if_different`, which eventually raises an exception in `module.user_

[2017-11-08 11:15] u625030 opened #32677 "win_copy does not support large files"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_copy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT

N/A (Linux XXXXXXXXXXX.XXXXXXX.XX.XXXXX 3.10.0-327.18.2.el7.x86_64 #1 SMP Thu May 12 11:03:55 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
)

##### SUMMARY

win_co

[2017-11-08 11:34] machacekondra opened #32678 "ovirt: Improve performance of disk upload/download"
##### ISSUE TYPE

 - Feature Idea

##### COMPONENT NAME

ovirt_disks

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

fedora

##### SUMMARY

Currently the disk upload/download isn't optimal solution.
This issue asks for improvement based on following patches:

 - https://gerrit.ovirt.org/#/c/83566/
 - https://gerrit.ovirt.org/#/c/83690/

[2017-11-08 11:36] jstephenson commented on #29578
Is there some philosophical basis for supporting cap add but not drop? If not I'll start on a patch ...

[2017-11-08 11:57] jaqflash commented on #16254
To add my tuppence, I've also just run foul of this

  config file = /home/lexx/Src/new-ansible/ansible.cfg
  configured module search path = [u'/home/lexx/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [G

[2017-11-08 11:58] jurgenhaas commented on #32015
I do have the same problem and it's really hitting me hard.

And I guess there is an additional and cloely related bug too. I thought a workaround could be to give all my `include_tasks` the tag `always` as the [documentation](https://docs.ansible.com/ansible/2.4/playbooks_reuse.html#differences-between-static-and-dynamic) states this:

[code]

But in reality, include_tasks DOES copy all it's tags

[2017-11-08 11:59] Sodki commented on #23609
Git bisect tells me that the first bad commit was ef96329ae2279b3480261b8b737a8d41da663e5e.

I have a feeling that this was due to the removal of the bad code, which would mean that the bad behaviour was already present, but being masked. That commit just revealed the error.

[2017-11-08 12:00] Akasurde commented on #32543
@Tronde I have cherry-picked changes to stable-2.4 branch in #32671

[2017-11-08 12:07] Akasurde commented on #32544
@Tronde Could you please try adding "datacenter" value in folder value ? e.g.

[code]

[2017-11-08 12:09] Sodki commented on #23609
Unfortunately adding `static: False` doesn't help in my test case.

[2017-11-08 12:16] Akasurde commented on #32365
resolved_by_pr #32681

[2017-11-08 12:20] snemir2 commented on #31999
still no good way to add managed policy to iam user?

[2017-11-08 12:35] ismc opened #32683 "junos_user missing 'configured_password' parameter"
The junos_user module is missing the 'configured_password' parameter.  Without this parameter, passwords cannot be configured for the users that are added.

##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

junos_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

Centos in a docker container

##### SUMMARY

The junos_user module is missing the 'configured_passwo

[2017-11-08 12:38] xmj commented on #32486
I'm seeing the same thing with kitchen-ansible. 2.3.2 works fine, `2.4.0.0` doesn't work and 2.4.1.0 isn't in centos extras yet.

[2017-11-08 12:40] dagwieers commented on #32492
**So we found a working solution for this**.

**(1)** The trick here is that BITS jobs require an interactive user logon due to the scheduled task flag being set, Ansible **runas** and **runas.exe** while logged on interactively, does not meet the logged on user requirement for a scheduled task so the bits job doesn't run, however become **SYSTEM** works as the user is already logged on.

If not,

[2017-11-08 12:45] Tronde commented on #32544
Hi,
I've run the command you suggested in [this post](https://github.com/ansible/ansible/issues/32544#issuecomment-341744456) and used the returned path as value to the folder parameter in my playbook. And it works.

Thank you for your support.

Best regards,
Tronde

[2017-11-08 12:45] #32544 closed, assigned to nobody

[2017-11-08 12:52] snemir2 commented on #31999
There has to be a better way to do it with ansible than this
- name: Run CLI to Attach policy
  shell: 'export AWS_ACCESS_KEY_ID="{{AWS_ACCESS_KEY}}"; export AWS_SECRET_ACCESS_KEY="{{AWS_SECRET_KEY}}"; aws iam attach-user-policy --user-name "{{UserName}} --policy-arn "arn:aws:iam::{{AccountID}}:policy/{{role_name}}'

[2017-11-08 13:00] groovemonkey commented on #31999
Thanks snemir2, that's a good solution. I just hate it when Ansible is reduced to a super-complicated window dressing around a shell script :(.

[2017-11-08 13:00] jeyaramji commented on #31999
Thanks , I'm in the same page.
    AWS_ACCESS_KEY_ID={{ aws_access_key }} AWS_SECRET_ACCESS_KEY={{ aws_secret_key }} \
    aws iam attach-role-policy \
      --policy-arn {{ item.1 }} \
      --role-name {{ item.0.name }

But the problem here is I'm not able to find out, if there is really a change happened or not. Since the output for this cli is None, in both case.

[2017-11-08 13:03] yuwzho commented on #31684
Thanks for the idea, we are working on this issue

[2017-11-08 13:17] christianbrensing commented on #31049
Affects Solaris 10 as well.

[2017-11-08 13:28] christianbrensing commented on #31049
If I follow the instructions for the remote debugging of an ansible module, the execution of the setup module on the remote host raises the following error:

`KeyError('devices',)`

I guess this comes from line 240 in `module_utils/facts/hardware/sunos.py`.

I hope this helps narrowing down the problem.

[2017-11-08 13:29] Akasurde commented on #32544
@Tronde Cool.

[2017-11-08 13:30] jurgenhaas commented on #32594
I'm confused too. When writing playbooks for multiple inventories, you never know if all of the used host patterns in the playbooks do exist in all of your inventories. Often they don't and then we have to live with a warning all the time? That's not ideal at least.

[2017-11-08 13:46] tiraboschi opened #32684 "ovirt: ovirt_disk is not failing when disk creation fails"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
ovirt_disk

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_ROLES_PATH(/etc/ansible/ansible.cfg) = [u'/etc/ansible/roles', u'/usr/share/ansible/roles']

##### OS / ENVIRONMENT
I'm running ansible 2.4 on centos 7.4 connecting to the host in loopback to manage oVirt 4.2 beta.

##### SUMMARY

##### STEPS TO REPRODUCE
When disk creation fa

[2017-11-08 14:03] Akasurde commented on #21152
Closing this issue as PR is already merged. Feel free to re-open if problem persists.

[2017-11-08 14:03] #21152 closed, assigned to nobody

[2017-11-08 14:03] Akasurde commented on #32555
Closing issue as PR is merged.

[2017-11-08 14:03] #32555 closed, assigned to nobody

[2017-11-08 14:05] lvrfrc87 commented on #27083
@fwissue can you tell me how you fixed it? I have same problem and I cannot figure out how to fix it

[2017-11-08 14:08] calfonso commented on #29518
Closing this bug as we believe it's fixed. Should you continue to run into this issue, please let us know!

[2017-11-08 14:08] #29518 closed, assigned to nobody

[2017-11-08 14:09] calfonso commented on #29494
Closing this issue as we believe it's fixed. Should you continue to run into the issue, please let us know!

[2017-11-08 14:09] #29494 closed, assigned to nobody

[2017-11-08 14:09] calfonso commented on #28858
@CHBresser Any update on verifying this fix?

[2017-11-08 14:26] ssbarnea commented on #18102
I think that a feature like this would be extremely helpful as it would allow us to avoid the very common bug of using the `somedic.foo.bar | default(xxx)` which always fails if foo is not defined.

@bregman-arie @wznoinsk @dsariel @mpryc

[2017-11-08 14:32] jctanner commented on #32477
!component =lib/ansible/modules/cloud/vmware/vmware_vm_facts.py
!component =lib/ansible/module_utils/vmware.py

[2017-11-08 14:42] hawksight commented on #11245
I got a bit stuck on this, so for anyone else who has the same issue.
(Note - this is a decent guide to getting started: https://medium.com/vimeo-engineering-blog/orchestrating-gce-instances-with-ansible-d825a33793cd)

* do not use any quotes
* JSON keyfile is absolutely fine despite what the script says in the instructions.

An example is here below:
[code]

Replace the `<>` vars with your settin

[2017-11-08 14:45] msoltyspl opened #32685 "Environment on task level doesn't override play level definition when used with loops"
For example, the following yaml:
[code]
And execute: ```ansible-playbook bug.yml -v```

Task 'test 1' will have 'task level' in stdout
Task 'test 2' will loop 3 times with 'play level' in stdout

IF environment is not defined on play-level, 'test 2' will use the task-level setting.

[code]
##### ISSUE TYPE
 - Bug Report

##### ANSIBLE VERSION
[code]

[2017-11-08 15:18] kudrevatykh opened #32687 "show what vault can't decrypt"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vault

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT
NA

##### SUMMARY

When using several encrypted strings embedded in yaml and one string is wrong (encrypted with wrong password or copied with error) I receive 'Decryption failed' without concrete value that can't be decrypted.

##### STEPS TO REPRODUCE

execute pla

[2017-11-08 15:19] ar7z1 commented on #32478
Me too. :-)

Hmm, I think you're right!

Great idea! Can I join you?

[2017-11-08 15:21] lvrfrc87 opened #32688 "Cisco ASA module - unable to open shell"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
asa_config

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible-config dump --only-changed

##### OS / ENVIRONMENT
LSB Version:	core-9.20160110ubuntu5-amd64:core-9.20160110ubuntu5-noarch:security-9.20160110ubuntu5-amd64:security-9.20160110ubuntu5-noarch
Distributor ID:	Ubuntu
Description:	Ubuntu 17.10
Release:	17.10
Codename:	artful

#####

[2017-11-08 15:35] lvrfrc87 commented on #32688
More logs
[code]

[2017-11-08 15:36] bcoca commented on #32148
the modules cannot do this itself, as facts get aggregated on the controller side ... we can make it easier for controller to keep the multiple returns .. but it is a breaking change with current documented return

`ansbile_facts['getent']['shadow'][<uid>]`

[2017-11-08 15:36] magsoftware opened #32690 "Apache Enable Module fails if already enabled for php53"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
apache2_module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
No extra configuration.

##### OS / ENVIRONMENT
Ubuntu 16.04 host managing Ubuntu 16.04 nodes (Linux containers).

##### SUMMARY
When using apache2_module to enable php53 module, apache2_module fails. De facto it enables the module, but (I suppose) during check afterwards - it fa

[2017-11-08 15:37] stintel opened #32691 "yum_repository: baseurl and pgpkey broken in params option"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
yum_repository

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
empty

##### OS / ENVIRONMENT
Gentoo

##### SUMMARY
When using baseurl and gpgkey with the params option of the yum_repository module, a line break is added after each character in the repo file.

##### STEPS TO REPRODUCE
Run the playbook below:
```ansible-playbook yum.yml```

[co

[2017-11-08 15:41] bcoca commented on #32667
dupe of #29962

[2017-11-08 15:41] #32667 closed, assigned to nobody

[2017-11-08 15:42] bcoca commented on #29962
related #31096

[2017-11-08 15:57] slmingol opened #32693 "Odd behavior when concatenating lists using the + operator"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
Jinja2 concatenation operator (+) of semi-complex list objects

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
OSX

##### SUMMARY
Output from 2 lists that are concatenated with the + operator differs vs. use of the union() function in jinja2.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
I expected th

[2017-11-08 15:59] sivel commented on #32693
Your problem is due to how jinja handles order of operations. In your task:

[code]

That applies `map` to `list2` and then concatentates it with `list1`

You instead want:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2017-11-08 15:59] #32693 closed, assigned to nobody

[2017-11-08 16:02] jtyr commented on #32691
Thanks for reporting this issue. The problem seems to be introduced in this [commit](https://github.com/ansible/ansible/commit/1b8fe94e5a51f888edededed0278eb7361cbc828#diff-3e0703568828cb54958e276ae5273b3a). I will fix that. In the meantime, you can use this workaround:

[code]

[2017-11-08 16:06] slmingol commented on #32693
@sivel - thanks that fixed it.

[2017-11-08 16:08] magsoftware commented on #32690
The problem is a following code:

    # a2enmod name replacement to apache2ctl -M names
    text_workarounds = [
        ('shib2', 'mod_shib'),
        ('evasive', 'evasive20_module'),
    ]

    # re expressions to extract subparts of names
    re_workarounds = [
        ('php', r'^(php\d)\.'),
    ]

Either put: ('php53', 'php5_module'), in text_workarounds or change regex in re_workarounds to:

[2017-11-08 16:28] jmighion commented on #23609
Yeah for my env / playbook I'm running into the problem with 3f9a88, but I'm not sure why. I believe it's just a symptom of problem somewhere else and not honestly that commit.

[2017-11-08 16:32] carpnick opened #32696 "Ansible.ModuleUtils.Legacy Fail-Json is failing when being used with IIS based windows modules"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
win_iis_*

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
MAC OSX Sierra 10.12.4 - Control node
Windows 2012  - Attempting to control

##### SUMMARY
Unhandled exceptions are being propagated from Ansible.ModuleUtils.Legacy Fail-Json method when being used by several IIS based modules:

Lines that are hitting the

[2017-11-08 16:33] carpnick commented on #32696
@crazycoop74 FYI.

[2017-11-08 16:55] jpalczewski opened #32699 "async option makes win_package and win_psexec unusable on Windows 7 SP1"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME

win_psexec

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

nothing special was changed in ansible.cfg - except fact that I'm running from unique enviroment, see above
##### OS / ENVIRONMENT

Ansible host: debian stretch
Ansible-managed host: Windows 7 SP1 in packer, qemu-based - packer.py connection is used

##### SUMMARY

When async opti

[2017-11-08 16:57] jhriv commented on #30327
[code]
worked for me. Thank you,  @karniemi and @john-at-p1technologies

Additional note: Ansible 2.4.1.0 lacks any vmware_guest_powerstate module

[2017-11-08 17:09] ghost opened #32702 "vmware_guest not idempotent"
##### ISSUE TYPE

 - Bug Report
 - Documentation Report

##### COMPONENT NAME

vmware_guest

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]
##### SUMMARY

The VM is created every time I launch the playbook. So finally we have a duplication of the VM.

##### STEPS TO REPRODUCE

Fill the following task for a play as "connection:local" and play it to connec

[2017-11-08 17:09] halberom opened #32703 "networking troubleshooting - add note re socket path ~/.ansible/pc must be writeable"
##### ISSUE TYPE
 - Documentation Report

##### COMPONENT NAME
asa_command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
NA

##### OS / ENVIRONMENT
NA

##### SUMMARY
Update https://docs.ansible.com/ansible/2.4/network_debug_troubleshooting.html to include a note that the persistent connection socket path `~/.ansible/pc` must be writeable.

##### STEPS TO REPRODUCE
Start working in /etc/ansibl

[2017-11-08 17:13] lvrfrc87 commented on #32688
Found it
~/.ansible/pc/ had wrong permission so was not possible to write temp socket

[2017-11-08 17:13] #32688 closed, assigned to nobody

[2017-11-08 17:14] jhawkesworth commented on #32699
@jpalczewski I think your indentation isn't correct

try
[code]

async isn't a module parameter, its a parameter for the action, so needs to be less indented than the module parameters.

Please try the above and report back.  If it works then I think maybe we should improve the examples here http://docs.ansible.com/ansible/latest/playbooks_async.html

[2017-11-08 17:21] ssbarnea opened #32704 "yum_repository includepkgs parameter break repo file"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
yum_repository

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
N/A
##### OS / ENVIRONMENT
N/A
##### SUMMARY
If you specify multiple packages to include Ansible will write the list as  Python list inside the repo file and make it unreadable by YUM.

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
repo file should contain this line:
[c

[2017-11-08 17:33] jtyr commented on #32704
Thanks for reporting this. I will provide a fix for this shortly.

[2017-11-08 18:02] onitake commented on #32148
Actually, since the key argument is already part of the return value, this would not be a breaking change.

Passing a list of users would just yield a dictionary with multiple entries. The semantics would stay the same for the single-key case.

[2017-11-08 18:03] onitake commented on #32148
(or, perhaps I misunderstood you and you were referring to the module code, not the usage)

[2017-11-08 18:17] angystardust commented on #18910
@dagwieers your solution is useful but you should be aware that the ownership and permission on the source folder will be copied over on the destination and if you don't have a 1-1 uid/gid mapping between your ansible controller host and the managed node, it can create quite a headache on you application :)

[2017-11-08 18:29] dvershinin commented on #18910
@angystardust if the rsync on the ansible machine is relatively new, then you can pass rsync option ```--chown``` to the synchronize module to specify user and group.

[2017-11-08 18:30] dvershinin commented on #18910
@angystardust if the rsync on the ansible machine is relatively new, then you can pass rsync option ```--chown``` to the synchronize module to specify user and group.

[2017-11-08 18:30] dvershinin commented on #18910
@angystardust if the rsync on the ansible machine is relatively new, then you can pass rsync option ```--chown``` to the synchronize module to specify user and group.

[2017-11-08 18:35] brunocalogero commented on #32477
@jctanner what are you implying I should do ? haha

[2017-11-08 18:41] brunocalogero commented on #32477
@jctanner what are you implying I should do ? haha

[2017-11-08 18:49] rpsiv commented on #16561
I would like to see this resolved as well.  It was a useful feature of 1.9.  I could see having a recursive lookup depth setting and defaulting to '2'.

A use case for me is Git submodules.  I create Ansible modules as an independent Git project and link it to 1 or more Ansible playbook/roles in Git via a submodule in ./library.  This will create a nested directory structure at a depth of 1 typica

[2017-11-08 19:02] mattclay commented on #32341
Cherry picked to stable-2.4 in https://github.com/ansible/ansible/commit/f00f2466d47852b2460f8f2efddc6a0f060ecc72

[2017-11-08 19:02] #32341 closed, assigned to mattclay

[2017-11-08 19:08] jmighion commented on #28878
Also hitting this but not using `with_nested`.

[2017-11-08 19:13] dagwieers commented on #32699
@jhawkesworth I think you are right, the indentation is the likely cause for it to fail. However I am disgusted by that error message :-) I know the current argument-spec handling doesn't handle unsupported parameters, but I wasn't exactly expecting this...

[2017-11-08 19:14] raasss commented on #18910
@angystardust you are totally right. I should have updated my comment with new findings. Actually rsync module behaves differently on mac os and linux regarding syncing permissions. Also, my ansible task is run with remote user who don't have root/admin rights so there is no chown problem. When run as root or user with sudo, complete task may look like.

[code]
I'm excluding .gitkeep because it's

[2017-11-08 19:33] bcoca commented on #32148
both, my proposal is BREAKING the currently unified `getent_<key>` in favor of a dictionary that is mergable

[2017-11-08 19:38] caljess599 commented on #21562
Encountered this in ansible 2.4.1.0. Setting dir values in ansible.cfg as described above worked.

[code]

[2017-11-08 19:55] hwangspringpath commented on #20579
This is definitely a good feature to have.

[2017-11-08 20:48] nhammond commented on #29556
I'm hitting the same issue.

Incidentally, it looks like libcloud just fixed a bug that resulted in ignoring the specified service_account and always using "default". The fix has been merged into trunk now but was not yet released as of apache-libcloud==2.2.1. The fix is [here](https://github.com/apache/libcloud/commit/11337e2020839a65e0f0102336b614e56d32549b)

But once that fix is released, ansib

[2017-11-08 20:53] Per-Forma commented on #31611
@ogenstad & @privateip,

I had not already considered that the negation commands sometimes differ from the creation/config statements. However, I think that what @ogenstad suggested would be a workable solution. The default behavior could be that the module would attempt to place the `no` in front of the statement, and return any errors as a play failure if they present themselves. An optional `re

[2017-11-08 20:58] glassresistor commented on #24215
I think this would be great.
Alternatively or in addition it would be nice to have shortcut for this

[code]

This would help speed up development and in the case where debug is permenent it'll make it more obvious whats happening by putting the results with the task.
something like

[code]

[2017-11-08 21:02] nhammond commented on #21122
It looks like libcloud will at least allow a single non-default service account now. Merged into trunk, expected in the next release. (Not yet released as of apache-libcloud==2.2.1) https://github.com/apache/libcloud/commit/11337e2020839a65e0f0102336b614e56d32549b

Not sure about support for multiple service accounts, but even allowing 1 service account in ansible would handle most use cases.

[2017-11-08 21:08] jborean93 commented on #32636
I'm unable to replicate this issue on 2.4.1.0 or in the latest devel branch. Are there any more details you can share such as;

* your host configuration
* whether you are running over SSH or on localhost
* the task output with `-vvv`
* Is it only affecting one host, or one type of host
* Does the issue disappear if you set it to a different user/group/path
* Is the file itself actually what it sh

[2017-11-08 21:09] onitake commented on #32148
I'm sorry, I really don't understand.

My impression is that
[code]
is a subset of
[code]

Since the former result already has to be accessed like this:
[code]
there wouldn't be any difference in usage if there is a second key besides `"bin"`.

What am I missing?

[2017-11-08 21:29] szollin commented on #31501
@alikins

Is there anything else you need from me?

[2017-11-08 21:38] pyrotimux commented on #30790
Sorry for replying really late. I am on
[code]

I will try to update it as you suggested. For now, I just took the old win_chocolatey script and renamed it then dropped it in the library folder and use that to temp fix the issue.

[2017-11-08 21:39] jctanner commented on #21562
!needs_info

[2017-11-08 21:46] jmighion commented on #28878
Temporary work around with `allow_duplicates: true` in `meta/main.yml`

https://docs.ansible.com/ansible/2.4/playbooks_reuse_roles.html#role-duplication-and-execution

[2017-11-08 22:00] #30874 closed, assigned to nobody

[2017-11-08 22:01] jborean93 commented on #32691
I'm going to close this issue as the `params` option is going to be removed in Ansible 2.5. This was done in https://github.com/ansible/ansible/pull/32708 and using this option should be stopped altogether.

[2017-11-08 22:01] #32691 closed, assigned to nobody

[2017-11-08 22:39] bcoca commented on #32148
not really, it is a subkey of ansible_facts .. they just get injected in the top level (changing in 2.5)

[2017-11-08 22:53] jctanner commented on #32477
@brunocalogero nothing, just clarifying the relevant files for the bot.

[2017-11-09 00:03] jborean93 commented on #31003
Features have been implemented and docs merged in, closing this issue.

[2017-11-09 00:03] #31003 closed, assigned to nobody

[2017-11-09 00:09] jborean93 commented on #32492
Ok to close this @dagwieers?

[2017-11-09 00:10] jborean93 commented on #32598
Darn, looks like something is going wrong with us getting the output. Will need to look into the code and try and replicate it. Thanks for the info @andmos, one more thing which would help is if you could try this with Ansible 2.4, there were a few changes that made it into that release and it may already be fixed.

[2017-11-09 00:10] #32492 closed, assigned to nobody

[2017-11-09 00:14] dagwieers commented on #32598
I remember we looked at improving the options to standard chocolatey runs to show less output so errors would be easier to spot. Mainly because by default there was so much output that it was unusable (progress and error output were in the same stream), especially when you did an update of everything. Not sure if that's related. I am not even sure if this was pushed/merged.

[2017-11-09 00:18] dagwieers commented on #32598
Here it is: https://github.com/ansible/ansible/commit/99b7cb2068d6114e4ea3c86b63d0761e52c6bfe5#diff-94784103cff9b1dff08155eb1f8dd9fcR132

[2017-11-09 00:24] nitzmahone commented on #31105
I had this on the 2.4 roadmap, but it got bumped- definitely back on for 2.5.

[2017-11-09 00:45] jborean93 commented on #32699
I don't think it is the indentation, it seems like an actual issue with async as I can see the error message calling `async_wrapper.ps1` and failing somewhere. I'll have to spin up a Windows 7 box to test it out and see what happens but hoping @jpalczewski can give us some more info. Are you able to test us;

* What edition of Windows 7 you are trying to build, e.g. is it 32 or 64-bit and so on
*

[2017-11-09 00:57] jborean93 commented on #32673
When Ansible has a `delegate_to`, what happens is it replaces the connection vars with the delegated host's connection vars. In the case of WinRM, pretty much all the `ansible_winrm_*` vars are not seen as connection vars and just as host facts. So when it comes to delegating to the Windows hosts, things like `ansible_winrm_server_cert_validation`, `ansible_winrm_transport` are not set as delegate

[2017-11-09 01:02] charlesgreen commented on #32478
Looking forward to the feedback and direction from the meeting. If you'd like any assistance with the PR after an approach is agreed upon please let me know. Many thanks.

[2017-11-09 01:11] kassiansun commented on #29578
@jstephenson no, just because docker add too many command line options since `docker_container` added...

[2017-11-09 01:47] jborean93 commented on #32677
I swore I tested this but will try again and see what happens. A zip is only used when there are multiple files that need to be changed, if it is just the single file it will be copied across as is.

Edit: I've added some more comments to your PR, I see where I went wrong with my original testing. While it not perfect, while people wait for a release, instead of copying a directory, if you copy a

[2017-11-09 02:37] lsbwant commented on #32673
Thanks @jborean93
I am strange it is worked in ubuntu 14.04 LTS. I launched Tower server from official AWS image last year. it is ubuntu 14.04 LTS, ansible version is 2.0. then I upgrade ansible to 2.1.  the image id is "ansible-tower-568ea79f-6747-f9eb-c698-c152b9819ec1 (ami-331cd150)".

OS/ENVIRONMENT:
ubuntu@ip-10-81-2-116:~$ ansible --version
ansible 2.1.0.0
  config file = /etc/ansible/ansibl

[2017-11-09 02:43] jborean93 commented on #32696
Thanks for picking this up @carpnick, are you able to test out PR https://github.com/ansible/ansible/pull/32710 and give some info on that page to see if it fixes your issue?

[2017-11-09 05:21] moudixtc opened #32713 "Bug Report: role param winning priority over set_fact var"
##### ISSUE TYPE
 Bug Report

##### COMPONENT NAME
set_fact

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
DEFAULT_ROLES_PATH(env: ANSIBLE_ROLES_PATH) = ['/projects']

##### OS / ENVIRONMENT
N/A

##### SUMMARY
The role param is winning priority over set_fact, which is not the case in the [documentation](http://docs.ansible.com/ansible/latest/playbooks_variables.html#variable-precedence-where-s

[2017-11-09 05:50] #28451 closed, assigned to alikins

[2017-11-09 06:52] onitake commented on #32148
I really must be thick, I'm not seeing it.

What's the difference in semantics between
[code]
and
[code]
?

`ansbile_facts['getent']['shadow']['bin']` would work just like before.
There is just another key in the dictionary besides 'bin'.

[2017-11-09 07:28] zeten30 opened #32715 "maximum recursion depth exceeded with AWS EC2 dynamic inventory - ec2.py"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
- ansible/inventory/group.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
[code]

##### SUMMARY
Throws python exception while using ec2.py dynamic inventory script
[code]

##### STEPS TO REPRODUCE
Fails on any tasks while using ec2.py - for example:
[code]

##### EXPECTED RESULTS
Inventory is properly parsed,

[2017-11-09 07:30] zeten30 commented on #32715
Same playbook running with 2.4.0.0:

[code]

[2017-11-09 07:53] zeten30 commented on #32715
Same for 2.4.2 (build from github via make srpm + fedora copr)

[code]

[2017-11-09 08:07] D3DeFi commented on #16437
Have you been able to tackle this? I am trying to implement something similar. Would opt to use block/ always, but that doesn't work with `any_errors_fatal` or `max_fail_percentage` (ref: #31543), thus negating the whole point of safe rolling updates, atleast in my use case.

[2017-11-09 08:25] frntn commented on #32092
Unfortunately the online doc is not yet updated accordingly.
Any ETA ?

[2017-11-09 08:28] hvindin opened #32716 "Change of behaviour between 2.4.0.0 and 2.4.1.0 - group_vars in current working directory ignored when running ansible-playbook"
##### ISSUE TYPE
 - Bug Report

##### COMPONENT NAME
group_vars resolution

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
No changes from defaults:
[code]

##### OS / ENVIRONMENT
Behaviour seen on:
Red Hat Enterprise Linux Workstation release 7.4 (Maipo)
Red Hat Enterprise Linux Server release 7.2 (Maipo)
Red Hat Enterprise Linux Server release 7.3 (Maipo)
Red Hat Enterprise Linux Server relea

[2017-11-09 08:37] benthorner opened #32717 "Feature: Assemble module (Header and Footer)"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
assemble (module)

##### ANSIBLE VERSION
[code]

##### SUMMARY
We have a use case for the assemble module where the assembled file needs to have a header and a footer. At the moment we get around this by adding two static files to the '.d' directory with names that mean they get assembled at the beginning and the end. It works, but it's hacky

[2017-11-09 08:55] R-yogesh opened #32719 "Unable to Ping from ansible machine remote machine"
##### ISSUE TYPE

 - Bug Report

##### COMPONENT NAME
/etc/ansible/hosts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT

##### SUMMARY

##### STEPS TO REPRODUCE

#### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2017-11-09 09:01] andmos commented on #32598
@jborean93 Running `ansible 2.4.1.0` gives a lot more output:
[code]

This is good enough for me, the error comes clearly out.

Sorry for not checking `2.4` in the first place, I should have thought about this already being fixed.
We are going to do a full upgrade to `2.4` when #31576 is fixed for a smoother transit.
I guess this can be closed, unless you guys plan to back-port to `2.3`. 👍

[2017-11-09 09:15] Akasurde commented on #32154
@Petro026 Thanks for reporting this issue.

[2017-11-09 09:17] smapjb opened #32720 "RFE: Can we specify XOR ipv4, ipv6 and add options to exclude link-local and loopback"
##### ISSUE TYPE
 - Feature Idea

##### COMPONENT NAME
vmware_guest.py
##### ANSIBLE VERSION
2.4.0

At the moment the 'wait for IP' will pass based on any IP address ipv4 or ipv6.

On Windows 2012r2 a network device will immediately get a link local ipv4 and ipv6 address by default, there is a reasonable delay before vmware_tools reports back the real IP.

While it is reasonable to switch off link

[2017-11-09 09:31] #27955 closed, assigned to nobody

[2017-11-09 09:53] jalbstmeijer commented on #30425
This issue still confuses me.

Using Ansible-2.3.2

inventory/production.yml
[code]
nagios-server.yml:
[code]
My role generate_nagios_config accesses all inventory vars, group_vars/ and host_vars/ for all hosts to be able to generate nagios config on the nagios server.

This works fine when running;
`ansible-playbook --diff  nagios-server.yml`
but not when running; (incomplete as  group_vars/ and

[2017-11-09 10:01] hExPY commented on #27520
Same issue with ansible 2.4.1 but not 2.3.1.

[2017-11-09 10:04] benapetr opened #32722 "--help for --flush-cache is unclear whether it applies for whole cache or selected hosts only"
##### ISSUE TYPE

 - Documentation Report

##### COMPONENT NAME
ansible-playbook

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
any

##### OS / ENVIRONMENT
any

##### SUMMARY
Right now it states: "Clear the fact cache."

Does it apply for all hosts, whole cache file, or just hosts that playbook will run for?

##### STEPS TO REPRODUCE
run "man ansible-playbook"

##### EXPECTED RESULTS
Proper h