[2020-06-17 21:15] sivel commented on #70127
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/google.cloud

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!

[2020-06-17 21:15] #70127 closed, assigned to nobody

[2020-06-17 21:26] imjoseangel commented on #70012
I will work on implementing this. I think is a cool functionality to implement in URI

[2020-06-17 21:28] FrankMauroJr opened #70128 "Problem with "rubrik_assign_sla" with "object_type: mssql_host""
##### SUMMARY
When trying to use the module "rubrik_assign_sla" with "object_type: mssql_host" I am getting the following error: **_fatal: [10.176.50.127]: FAILED! => {"changed": false, "msg": "'InvalidParameterException' object has no attribute 'format'"}_**

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
rubrik_assign_sla   object_type: mssql_host

##### ANSIBLE VERSION
[code]

##### CONFIG

[2020-06-17 21:35] #34001 closed, assigned to nobody

[2020-06-18 02:36] nitzmahone commented on #68361
@mattclay and I were kicking this one around- since it's verified that following our recommended approach with imports "fixes" the short-term problem, I'm going to hold this fix for 2.9.11 instead of trying to jam it in fast... Because that always works well. ;)

[2020-06-18 05:10] nishant-passari opened #70133 "Handling prompts during installation process via ansible2.9"
Am trying to install jenkins-x version 2.0.785 via ansible 2.9.9.

How do I handle the prompts like **"Please enter the name you wish to use with git:"** that I get while installing JX? There are multiple prompts to be handled that I will get when I execute the JX install command.

I get the above mentioned prompt even though "--git-username=automation" is already passed in the JX install command.

[2020-06-18 05:18] Akasurde commented on #70133
Hi @nishant-passari !

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This

[2020-06-18 05:18] #70133 closed, assigned to nobody

[2020-06-18 05:24] Akasurde commented on #70128
@FrankMauroJr Thanks for reporting this issue. The module `rubrik_assign_sla` is a part of https://github.com/rubrikinc/rubrik-modules-for-ansible and is not managed by Ansible core team. Could you please raise an issue against [`rubrik-modules-for-ansible`](https://github.com/rubrikinc/rubrik-modules-for-ansible/issues/new/choose) repo?

Thanks.

[2020-06-18 05:24] #70128 closed, assigned to Akasurde

[2020-06-18 06:01] tonal commented on #69728
see https://github.com/ansible-collections/community.general/issues/532

[2020-06-18 06:10] nishant-passari commented on #70133
ansible version is 2.9

[2020-06-18 06:13] willthames opened #70134 "Broken module_utils imports fail horribly"
##### SUMMARY
Modules that use older module_utils imports now fail horribly

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module_common

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

Playbook works or fails with a helpful error message

##### ACTUAL RESULTS

[code]

[2020-06-18 06:34] luwei19941010 opened #70135 "When trying to utilise the ( ios_l3_interfaces and ios_insterfaces ) module more than once within a playbook, a ConnectionError is thrown."
##### SUMMARY
When trying to utilise the ( ios_l3_interfaces and ios_insterfaces ) module more than once within a playbook, a ConnectionError is thrown.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-connection
connection.py

##### ANSIBLE VERSION
ansible 2.9.9
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/

[2020-06-18 07:29] Akasurde commented on #70135
Issue migrated to https://github.com/ansible-collections/cisco.ios/issues/85

[2020-06-18 07:29] #70135 closed, assigned to nobody

[2020-06-18 07:31] Akasurde commented on #69308
resolved_by_pr #69463

[2020-06-18 07:31] Akasurde commented on #69308
@edhil, Could you please check PR #69463 and let us know if it works for you ? <br><br>Thanks. <br><br> needs_info

[2020-06-18 07:35] Akasurde commented on #69012
resolved_by_pr #69013

[2020-06-18 07:35] Akasurde commented on #69012
@borisovano, Could you please check PR #69013 and let us know if it works for you ? <br><br>Thanks. <br><br> needs_info

[2020-06-18 08:13] Akasurde commented on #52111
cc @jainnikhil30

[2020-06-18 08:25] Andersson007 commented on #26919
close_me

[2020-06-18 08:25] Andersson007 commented on #26919
closed via https://github.com/ansible-collections/community.general/pull/513

[2020-06-18 08:37] #26919 closed, assigned to nobody

[2020-06-18 08:39] Akasurde commented on #36358
Please use [`google.cloud.gcp_compute`](https://github.com/ansible-collections/google.cloud/blob/master/plugins/inventory/gcp_compute.py) instead. Thanks.

[2020-06-18 08:39] #36358 closed, assigned to nobody

[2020-06-18 08:50] Cartman34 commented on #69492
This issue is still alive. Is there any news about a fix please ?
I have to disable task about cron tasks to have Ansible working.

[2020-06-18 09:01] Akasurde commented on #36039
@arsh9295 Are you still facing the issue?

needs_info

[2020-06-18 09:04] Akasurde commented on #36008
@shajay12 This issue is related to AWX installer script. Please file a new issue in [`ansible/awx`](https://github.com/ansible/awx) repo. Thanks.

[2020-06-18 09:04] #36008 closed, assigned to nobody

[2020-06-18 09:15] edhil commented on #69308
I confirm that PR #69463  has been tested and fix this issue on my testbed

[2020-06-18 09:29] Gloupier commented on #54981
I think not, I've never get it work with jump authentication by user/password, so I developed my own python tool which perfectly suit my needs in replacement of ansible

[2020-06-18 09:31] #54748 closed, assigned to nobody

[2020-06-18 09:42] Akasurde commented on #52111
resolved_by_pr #70136

[2020-06-18 09:42] Akasurde commented on #52111
@vmindru, Could you please check PR #70136 and let us know if it works for you ? <br><br>Thanks. <br><br> needs_info

[2020-06-18 09:53] r1k0 commented on #54981
it does work, I use it everyday for months, current 2.9.5 since at 2.7

As explained in my previous post, you should troubleshoot your logs, all jumphost info can be found there.

[2020-06-18 10:04] sbaerlocher opened #70137 "Toml Filters For Formatting Data"
##### SUMMARY
Today there are many applications that have their configuration in Toml format. To make it easier to configure with ansible a filter like `to_toml` would be very useful, this should work similar to the existing `to_json` and `to_yaml`.

##### ISSUE TYPE
- Feature Idea

[2020-06-18 10:17] svhsvh opened #70138 "httpapi stays using port 443 when ansible_httpapi_port is specified"
##### SUMMARY

I am using the httpapi connection to connect to Fortigates. Most of my fortigates run on port 8443.
But when i specify the ansible_httpapi_port variable with 8443 as value in my hostifile, it still tries to connect to port 443.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- httpapi
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I have the

[2020-06-18 10:36] Akasurde commented on #35979
Fixed via https://github.com/ansible/ansible/pull/42477

[2020-06-18 10:36] #35979 closed, assigned to Akasurde

[2020-06-18 10:41] Akasurde commented on #38299
Fixed via https://github.com/ansible/ansible/pull/38313

[2020-06-18 10:41] #38299 closed, assigned to s-hertel

[2020-06-18 10:43] mkrizek commented on #70137
Duplicate of https://github.com/ansible/ansible/issues/69120

[2020-06-18 10:43] #70137 closed, assigned to nobody

[2020-06-18 10:58] cunningr commented on #54981
So for me, the fix was something else.  When moving to my container the Jumphost host key was not known and so Ansible was 'hung' waiting for the "... add host key (yes/no)" but I couldn't see anything obvious in debugs.

The issue was that the shell ENV var ANSIBLE_HOST_KEY_CHECKING=False was only applying to the end host, and not the Jumphost.  The fix was to update the proxy command to ignore h

[2020-06-18 11:26] Gloupier commented on #54981
are you using public key authentication or username/password for the bastion host ?

[2020-06-18 11:34] seocam commented on #68361
@nitzmahone alright. Thank you!

I think that adding a note/section explaining about `try/except ImportError` in the [developing modules general](
https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html) doc would be nice. What do you think?

I could work on that.

[2020-06-18 11:35] ghost opened #70140 "win_dsc: PsCredential exception with null or blank password"
##### SUMMARY
PsCredential not working with null or blank password

##### ISSUE TYPE
Abillity to use PsCredential with blank password

##### COMPONENT NAME
win_dsc

##### ADDITIONAL INFORMATION
i'm tried to avoid win_service virtual account bug (fail mapping) with win_dsc + service resource and its also turned out to be fatal.

[code]

[2020-06-18 11:52] felixfontein commented on #70018
@yurtesen the difference is probably that some of them are modules, and copy is an action plugin + a module. The question is probably when exactly the connection gets killed - if it happens between copying the file and executing the module, the module cannot clean up anything because it is not even run.

[2020-06-18 11:54] #69308 closed, assigned to nobody

[2020-06-18 12:37] yurtesen commented on #70018
@felixfontein ok I was wrong anyway. I found some leftovers from `find`, `stat`, `setup` and `apt` in my test host.

Anyway thanks for the responses, I guess this is just normal operation for ansible apparently.

I will try to setup some cleanup task for `.ansible/tmp` if this becomes a bigger nuisance. So I am closing this issue ticket.

Thanks!

[2020-06-18 12:37] #70018 closed, assigned to nobody

[2020-06-18 13:18] r1k0 commented on #54981
"are you using public key authentication or username/password for the bastion host ?"

user/pass, no keys

[2020-06-18 15:15] MadDog2K commented on #61017
Another issue popped up, which is that if any of the lines to be deleted are currently NOT in the config,
then you'd observe a connection 'hanging' for a while, until timeout occurs

Example, suppose the following are the only vlans on the switch :

set vlans vlan1234 vlan-id 1234
set vlans vlan1236 vlan-id 1236

And you try to remove vlan1235 (which is not present) :

delete vlans vlan1235 vlan-i

[2020-06-18 16:03] #70000 closed, assigned to nobody

[2020-06-18 16:20] nitzmahone commented on #66943
@kevingentile 2.9.10 is planned for today, which includes this fix

[2020-06-18 17:53] #60993 closed, assigned to danielmellado

[2020-06-18 18:24] gundalow commented on #70024
@sayee-jadhav Hi :)
I have some old notes in https://github.com/ansible/ansible/compare/devel...gundalow:docs-argspec?expand=1 which might help

If you'd like to see some real world examples

[2020-06-18 18:36] gundalow opened #70147 "`ansible-galaxy collection list` vs site-packages"
##### SUMMARY
`ansible-base collection list` doesn't show the packages installed by the new `ansible` package

As a workaround, you need to do:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

1. Install Ansible 2.10.0a1
  https://pypi.python.org/packages/source/a

[2020-06-18 18:39] jborean93 commented on #70147
Just an FYI install will also probably be affected and believe the collections aren’t installed as I think the detection mechanism is the same between the two.

[2020-06-18 18:42] sivel commented on #70147
Not saying anything about whether it should or not, but this has been known for a while, and the original listing functionality was added before this feature.  This will require switching from reading the config in `ansible-galaxy collection` to using `AnsibleCollectionFinder`.

This is probably ok. I don't know that we want new installs consulting those packages collections. At least that is my 2

[2020-06-18 20:19] abadger commented on #70147
I concur with sivel on how we want installing to work.  At least, that's how I imagined installing working in my mind up until this point.

[2020-06-18 20:20] sivel commented on #70147
I think this is all we need to make this list the collections:

[code]

[2020-06-18 22:35] #13244 closed, assigned to nobody

[2020-06-18 23:52] jborean93 commented on #70140
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.windows.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!fo

[2020-06-18 23:52] #70140 closed, assigned to nobody

[2020-06-19 00:39] wkoszek opened #70156 "Grouping docs by category, and not by module"
##### SUMMARY

95% of time, when writing a playbook I need to use several modules from the same category. Let's say I'm setting up a PostgreSQL DB on a remote box. It's likely I'll start with making DB, setting up a user, adding permissions etc.  I would expect that the left or top of the page could give me a way to click "Back to Postgres modules" and route me to a parent page, where I can see al

[2020-06-19 00:49] fbruetting opened #70157 "[1]Umlauts not handled properly in `ansible-galaxy collection init`"
### SUMMARY
When I create a new collection with an umlaut in the name, `ansible-galaxy` produces a wrong name string in `galaxy.yml`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Fedora 31 Silverblue

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
`abcö/galaxy.yml`
[code]

##### ACTUAL RESULTS
`abcö

[2020-06-19 01:03] jborean93 commented on #70157
This looks to be fixed on devel/2.10+ and it's only the 2.9.* branches that still have this problem. In any case it's probably not a good idea to use non-ascii chars in the namespace/collection name as it has a few issues when being used by a Python 2.7 host. I would highly recommend you avoid using them in your name.

[2020-06-19 01:26] #35990 closed, assigned to nobody

[2020-06-19 01:43] ajakk opened #70159 "Potential Vulnerability in Pipe Lookup Plugin is Obsfuscated in the Documentation"
##### SUMMARY

In #67792, it was stated that CVE-2020-1734 was invalid because the vulnerability is supposed to be prevented by the playbook author. This isn't clear from the relevant documentation, because the preventative measure playbook authors must use is only mentioned in an example. The warning should be changed to be more visible than it is in an example to ensure users notice the potentia

[2020-06-19 02:11] Akasurde commented on #70157
@jborean93 Do you think we should add a recommendation in collection init documentation regarding this?

[2020-06-19 02:15] Akasurde commented on #70156
@wkoszek Do you mean like this https://docs.ansible.com/ansible/latest/modules/modules_by_category.html or https://docs.ansible.com/ansible/latest/modules/list_of_database_modules.html?

[2020-06-19 02:16] fbruetting commented on #70157
Thanks, good to know! But as far as I know, Python 2 is not even supported anymore, so I think it’s a way worse idea to use that in the first place.

It would be nice if unicode would just work, as many people apart from native english speakers would be able to use proper names instead of escaping non-ascii letters (and up to now it works flawlessly). 😊

[2020-06-19 03:11] Akasurde commented on #55658
resolved_by_pr https://github.com/ansible-collections/community.general/pull/537

[2020-06-19 03:51] jborean93 commented on #70157
It's probably a good idea, I don't even know what Galaxy/AH does to validate the name, I believe `ansible-galaxy collection init` does a basic regex check on `[\w_]` which works with non-ascii chars on Python 3 but breaks on Python 2.

It's still comes by default on RHEL 7 and other distributions and we still test it in CI. Unfortunately to us we still need to support Python 2.7 which is why it is

[2020-06-19 04:25] magick93 opened #70160 "read_csv - Key 'Name' was not found in the CSV header fields"
##### SUMMARY
The `read_csv` module fails to identify a field, yet displaces the field in the list of available fields.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
read_csv

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Ubuntu 20:04

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Expect to be able to read CSV values by col name (field) as bas

[2020-06-19 04:33] magick93 commented on #70160
Interestingly, if I use the following debug task:

[code]
I get the following - notice how `name` becomes `\\ufeffName`.
There are no preceeding or trailing spaces in the `.csv` file.

[code]

[2020-06-19 05:36] Akasurde commented on #55658
bot_skip

[2020-06-19 05:36] Akasurde commented on #55658
bot_skip

[2020-06-19 05:48] mdavis-xyz opened #70161 "iam_role not idempotent"
##### SUMMARY

If I try to create an IAM role, I can.
When I run the task a second time, it fails, because I don't have `iam:UpdateAssumeRolePolicy` permissions in my IAM role.

But if the role policy document hasn't changed, I shouldn't need `iam:UpdateAssumeRolePolicy`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

iam_role

##### ANSIBLE VERSION

[code]

Note that I tried to reproduce t

[2020-06-19 07:06] Akasurde commented on #65931
Fixed in via

2.10 - https://github.com/ansible-collections/ansible.posix/pull/8
2.9 - https://github.com/ansible/ansible/pull/70163

[2020-06-19 07:06] #65931 closed, assigned to nobody

[2020-06-19 07:11] Akasurde commented on #55630
Issue migrated to https://github.com/ansible-collections/community.network/issues/73

[2020-06-19 07:11] #55630 closed, assigned to nobody

[2020-06-19 07:36] Akasurde commented on #55703
Issue migrated to https://github.com/ansible-collections/vmware/issues/247

[2020-06-19 07:36] #55703 closed, assigned to nobody

[2020-06-19 07:39] Akasurde commented on #54900
Closing as per https://github.com/ansible/ansible/pull/55927#issuecomment-491211843

[2020-06-19 07:39] #54900 closed, assigned to nobody

[2020-06-19 07:45] Akasurde commented on #54684
Fixed via https://github.com/ansible/ansible/pull/53937

[2020-06-19 07:45] #54684 closed, assigned to Akasurde

[2020-06-19 08:14] #54280 closed, assigned to nobody

[2020-06-19 09:14] mkrizek commented on #70160
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-06-19 09:14] #70160 closed, assigned to nobody

[2020-06-19 09:14] Akasurde commented on #53700
Closing this as resolved. Please open a new issue against [`amazon.aws`](https://github.com/ansible-collections/amazon.aws) if problem persists.

[2020-06-19 09:14] #53700 closed, assigned to Akasurde

[2020-06-19 09:15] mkrizek commented on #70161
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!foru

[2020-06-19 09:15] #70161 closed, assigned to nobody

[2020-06-19 09:18] Akasurde commented on #53397
@ReinerNippes Could you please check if @tinproject solution works for you? Thanks.

needs_info

[2020-06-19 09:32] arossouw opened #70164 "AWS Dynamic inventory returns empty for af-south-1 region"
##### SUMMARY

When I try to get a list of ec2 instances with ec2.py --list, when I have a ec2 instance active on AWS, within the af-south-1 region. I get the following output:
{
  "_meta": {
    "hostvars": {}
  }
}

When I stop that instance and create an instance in the ohio (us-east-2) region. I do get
the expected output of ec2 instances.

I've set ec2.ini to region=all

##### ISSUE TYPE
- Bu

[2020-06-19 09:43] eljuanchosf commented on #23549
Hello! Issue resolved. Closing. Thank you!

[2020-06-19 09:43] #23549 closed, assigned to nobody

[2020-06-19 09:55] jifox opened #70165 "docker stack ls - functionality"
##### SUMMARY

I would like to list all stacks like `docker stack ls` in order to run some setup containers if a particular stack is not present.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

docker_stack

##### ADDITIONAL INFORMATION

[code]

[2020-06-19 09:55] Akasurde commented on #23549
Thanks @eljuanchosf

[2020-06-19 09:57] Akasurde commented on #70165
Issue migrated to https://github.com/ansible-collections/community.general/issues/540

[2020-06-19 09:57] #70165 closed, assigned to nobody

[2020-06-19 09:58] Akasurde commented on #70164
Issue migrated to https://github.com/ansible-collections/community.aws/issues/110

[2020-06-19 09:58] #70164 closed, assigned to nobody

[2020-06-19 10:15] Akasurde commented on #52180
Issue migrated to https://github.com/ansible-collections/vmware/issues/249

[2020-06-19 10:15] #52180 closed, assigned to nobody

[2020-06-19 10:20] Akasurde commented on #52046
Issue migrated to https://github.com/ansible-collections/community.kubernetes/issues/138

[2020-06-19 10:20] #52046 closed, assigned to nobody

[2020-06-19 10:21] geexmmo opened #70166 "telnet module string concationation TypeError"
##### SUMMARY
telnet.py fails to execute if username or password are numeric AND not quoted in either vault, variables or module parameters inside playbook. Even if you quote variables in module parameters inside of playbook. it looks like there should be type conversion to strings (as Python does when you put numbers in quotes) but it does not happening for some reason.

##### ISSUE TYPE
- Bug Re

[2020-06-19 10:31] mkrizek commented on #70166
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-06-19 10:31] #70166 closed, assigned to nobody

[2020-06-19 10:59] Akasurde commented on #51941
resolved_by_pr https://github.com/ansible-collections/community.aws/pull/111

[2020-06-19 11:11] wolmi opened #70167 "gcp_dns_resource_record_set_facts return allways empty list"
##### SUMMARY

When trying to retrieve current records on a zone it never returns any value because the if on next line is always false:
https://github.com/ansible/ansible/blob/14bcd3b7a307aa1920292e32a021b66cf43eb977/lib/ansible/modules/cloud/google/gcp_dns_resource_record_set_facts.py#L116

It is caused because the collection function has the wrong endpoint
https://github.com/ansible/ansible/blo

[2020-06-19 11:13] ostefek99 commented on #66845
I am observing similar behavior for "A" type of records.

Steps to reproduce:
1) spin up new VM (CentOS 7) with bind9 DNS
2) create new zone(s)
3) add records to a zone => success
4) update records => fails

Tested with two versions of Ansible:

[code]

Task error:
[code]

The issue appears to be in function `ttl_changed`:
[code]

A hack that I made to be able to successfully run a nsupdate module

[2020-06-19 11:22] mkrizek commented on #70167
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/google.cloud.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum

[2020-06-19 11:22] #70167 closed, assigned to nobody

[2020-06-19 11:42] resmo opened #70168 "2.9.10: UnboundLocalError: local variable 'module_style' referenced before assignment"
##### SUMMARY

after upgrade from 2.9.9 to 2.9.10 we see an exception in a task using ~~lineinfile~~ `delegate_facts=true`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-06-19 12:14] kladiv commented on #34281
+1

[2020-06-19 12:15] mkrizek commented on #70168
I couldn't reproduce this with an arbitrary lineinfile task. We'll need you to provide a minimal reproducer.

[2020-06-19 12:19] #55658 closed, assigned to nobody

[2020-06-19 12:25] resmo commented on #70168
@mkrizek I added a reproducer.

[2020-06-19 12:39] mkrizek commented on #70168
Sounds like this might be related to #69604.

cc @bcoca

[2020-06-19 12:43] srgvg commented on #70168
Can confirm, we have the same problem, though it only triggers in particular case (localhost -> localhost)

Playbook:
[code]

Results:

![20200619143809](https://user-images.githubusercontent.com/382239/85133538-2a41ee80-b23b-11ea-9fd9-f0b138aca4ee.png)

[2020-06-19 12:58] #25960 closed, assigned to nobody

[2020-06-19 13:36] Akasurde commented on #55658
Backport 2.9 - https://github.com/ansible/ansible/pull/70169

[2020-06-19 13:52] #70017 closed, assigned to samdoran

[2020-06-19 13:52] mkrizek commented on #70168
Since we now pass `use_vars` instead of `task_vars` to `modify_module`, we need to update information in `use_vars` for the next iteration too. The following makes the problem go away:
[code]
The similar would need to be changed in the `else` branch as well. I am not sure if changing `task_vars` is needed though, or if changing all occurrences of `task_vars` to `use_vars` would be the fix.

[2020-06-19 14:08] abadger commented on #70147
The patch does not seem to fix collection list:
[code]

I have time to get a little more diagnostic info this morning....

[2020-06-19 14:13] #66713 closed, assigned to nobody

[2020-06-19 14:17] gforster opened #70172 "Special Vars for host status during play"
##### SUMMARY

Would like to have a variable that contains a list of hosts that match the end-of-play status (ok, changed, failed, unreachable, skipped).

All the information is there...somewhere. It shows up at the end of the play. We have "ok" via `ansible_play_hosts`. We can even "bring back" failed hosts with `meta: clear_host_errors`.  It would be very helpful to be able to run tasks on speci

[2020-06-19 14:28] abadger commented on #70147
Discussed with sivel and I have a working fix now.

[2020-06-19 15:08] bcoca commented on #70172
https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#accessing-information-about-other-hosts-with-magic-variables

for failed you can already get this from existing vars:

`{{ ansible_play_hosts_all|difference(ansible_play_hosts) }}`

[2020-06-19 15:50] #68079 closed, assigned to nobody

[2020-06-19 16:00] abadger commented on #70147
Alright... @sdoran and I discussed this heavily in slack with input from bcoca, shrews, shertel, and sivel (sivel wasn't there for the end).  It changed my mind about whether install should know about site-packages.  Here's the summary:

* download, init, build, and publish are not about the collections on the system at all so they don't need to care about collection_path and whether site-packages

[2020-06-19 16:09] gforster commented on #70172
That's fair...what about the other statuses such as skipped/changed/unreachable?

[2020-06-19 16:20] #67183 closed, assigned to nobody

[2020-06-19 16:22] #67029 closed, assigned to nobody

[2020-06-19 16:57] sivel commented on #70172
fwiw, I believe this is a duplicate of an older issue, I just don't know what that issue is right now.

I had done some work to see about the ability to add a `meta` action called `play_stats`, and the ability to use `register` on such a `meta` task, that would provide this info.  I never completed this.

[2020-06-19 17:09] sivel commented on #70156
fwiw, now that we have moved the majority of modules and plugins out of this repository, we flattened the module hierarchy, and they are no more categories at all.

[2020-06-19 17:46] #64420 closed, assigned to nobody

[2020-06-19 18:05] wkoszek commented on #70156
@Akasurde Yes, these pages are very good in fact. Unfortunately they're not linked in any way to the child pages. So:

https://docs.ansible.com/ansible/latest/modules/aws_acm_info_module.html#aws-acm-info-module

There's no link to the "parent" category. It'd be a huge improvement if this hierarchy:

![image](https://user-images.githubusercontent.com/483344/85166746-96612a00-b21c-11ea-8e81-6224deb

[2020-06-19 18:15] #63826 closed, assigned to nobody

[2020-06-19 18:43] #63012 closed, assigned to nobody

[2020-06-19 18:57] jguipi commented on #29931
+1

[2020-06-19 19:07] #62637 closed, assigned to nobody

[2020-06-19 19:09] AlanCoding opened #70180 "Fatal error in ansible-galaxy collection list due to common SCM collection practice"
##### SUMMARY
The command `ansible-galaxy collection list` should not _error_ when parsing a particular collection, because this prevents displaying a list of _all other_ collections.

This happens when simply using the source checkout of `community.vmware`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/cli/galaxy.py

##### ANSIBLE VERSION
[code]

86606d3ca707e8836d2b956694bb55d

[2020-06-19 19:14] #61859 closed, assigned to nobody

[2020-06-19 19:28] #69109 closed, assigned to nobody

[2020-06-19 19:34] #61587 closed, assigned to nobody

[2020-06-19 19:38] #61205 closed, assigned to nobody

[2020-06-19 19:40] #61200 closed, assigned to nobody

[2020-06-19 19:41] #61179 closed, assigned to nobody

[2020-06-19 19:49] bcoca commented on #70172
we have a `set_stats` that allows you to add to these, but its mostly for use on external tools, we could add an 'ansible_stats' variable that exposes these, but there has not been a high demand for them.

[2020-06-19 20:13] #59730 closed, assigned to nobody

[2020-06-19 20:19] sivel commented on #70172
@bcoca yeah, my initial thought was effectively replicating the data calculated in `v2_playbook_on_stats`, but only calculating it when asked for it, to reduce performance impact.  The strategy has access to what is required to calculate it.

[2020-06-19 20:22] sivel commented on #70180
FWIW, we have been dictating that `galaxy.yml` must be present, and must have at least some `version` key, even if it's not a valid `semver` for an SCM clone or install of a collection to work.

[2020-06-19 20:26] AlanCoding commented on #70180
With https://github.com/ansible/ansible/pull/69154 it seemed like this was getting much looser.

[2020-06-19 20:33] jborean93 commented on #70180
This sounds like something we should fix, `list` shouldn't fail because a collection in the path isn't buildable, that's for build to decide.

[2020-06-19 20:36] #58266 closed, assigned to nobody

[2020-06-19 20:36] #58233 closed, assigned to nobody

[2020-06-19 20:36] samdoran commented on #70180
I will work on fixing this to be more robust.

[2020-06-19 20:40] sysadmin75 commented on #69597
I verified this now works on Stable-2.9.

[2020-06-19 20:49] #58169 closed, assigned to nobody

[2020-06-19 20:51] #57847 closed, assigned to nobody

[2020-06-19 21:06] samdoran commented on #70180
It looks like this is coming from enforcement of mandatory keys in `_get_galaxy_yml()`, which is a bit far removed from the listing behavior. I'll have to find a way to handle this specially for `execute_list_collection()` without changing this behavior for when it's needed by other calling code.

[2020-06-19 21:15] spikewang opened #70184 "Remote command failed after upgrading from 2.9.9 to 2.9.10"
##### SUMMARY
Remove command execution failed after upgrading to 2.9.10. It works in 2.9.9 release. Seems like an regression.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible remote command

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
Standard Configuration

##### OS / ENVIRONMENT
Debian 9 (Stretch) instance running on EC2

##### STEPS TO REPRODUCE
A simple command call

[code]
O

[2020-06-19 21:20] spikewang commented on #70184
Just to make it easier, the target binary in the target host is actually a Python3 script. Running with other commands, like `ls`, etc works fine.... Only Python3 commands failed.

[2020-06-19 21:21] #56570 closed, assigned to nobody

[2020-06-19 21:24] #56541 closed, assigned to nobody

[2020-06-19 22:02] valugi opened #70186 "Ansible core official offline docs"
It was already reported and closed hastly in https://github.com/ansible/ansible/issues/42303.
Ansible-docs is relative only to the modules and `make webdocs` is not a real substitute for a proper man page. The man page of the Ansible is the the equivalent short notation for ansible-docs for any module, meaning is just a short description of the commands, not proper docs.

This affects all branches

[2020-06-19 22:11] jghal opened #70187 "Azure image gallery version can't set exclude_from_latest to false"
##### SUMMARY

Setting `publishing_profile.exclude_from_latest: false` in `azure_rm_galleryimageversion` task produces bad API call resulting in task failure.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_galleryimageversion

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Play `hosts` is localhost, which is an Alpine 3.11 derivative container

[2020-06-19 22:11] wolmi commented on #70167
Thanks for the info about the maintenance of the plugin, but the repository you refer is only for ansible 2.9+ and the issue I pointing is a bug of ansible 2.8 and the code affected is in this repository.

I've edited the description to add more info using the issue template, also I will open a PR wth the fix.

[2020-06-19 22:11] jghal opened #70188 "Azure image gallery version can't set exclude_from_latest to false"
##### SUMMARY

Setting `publishing_profile.exclude_from_latest: false` in `azure_rm_galleryimageversion` task produces bad API call resulting in task failure.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_galleryimageversion

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Play `hosts` is localhost, which is an Alpine 3.11 derivative container

[2020-06-19 22:13] #54963 closed, assigned to nobody

[2020-06-19 22:14] MarkusTeufelberger commented on #58266
Well, feels weird to answer to a bot, but there is no ansible version this is applicable to directly...?!

[2020-06-19 22:27] #54643 closed, assigned to nobody

[2020-06-19 22:30] #54329 closed, assigned to nobody

[2020-06-19 22:47] #53217 closed, assigned to nobody

[2020-06-19 22:55] #52310 closed, assigned to nobody

[2020-06-19 23:01] mwlpossamai commented on #29931
In the meantime, I came up with a workaround: https://github.com/lpossamai/ansible-iam-cli-keys

[2020-06-20 00:05] #49276 closed, assigned to nobody

[2020-06-20 00:05] #49072 closed, assigned to nobody

[2020-06-20 00:11] #48894 closed, assigned to nobody

[2020-06-20 00:28] #47963 closed, assigned to nobody

[2020-06-20 00:29] #47954 closed, assigned to nobody

[2020-06-20 00:30] #47856 closed, assigned to nobody

[2020-06-20 00:31] #47855 closed, assigned to nobody

[2020-06-20 01:04] #45452 closed, assigned to nobody

[2020-06-20 01:07] #45206 closed, assigned to nobody

[2020-06-20 01:15] nitzmahone commented on #70134
There are a couple of holes in the module_utils builder redirection stuff for subpackages, esp when the parent package doesn't exist. I've got a hacky fix that works in this case (missing package), but fixing it properly needs a bit of refactoring in the recursive module_util finder (to avoid splattering a bunch of copypasta in several places to handle both "real" and missing pkg init code). I'm o

[2020-06-20 01:31] #68652 closed, assigned to nobody

[2020-06-20 01:47] #44017 closed, assigned to nobody

[2020-06-20 01:47] #44016 closed, assigned to nobody

[2020-06-20 01:48] #44015 closed, assigned to nobody

[2020-06-20 01:48] #44010 closed, assigned to nobody

[2020-06-20 02:30] #40565 closed, assigned to nobody

[2020-06-20 02:51] poulterer opened #70190 "Sudo error when connecting project to Bitbucket"
##### SUMMARY

We created an SCM project to exploit our local Bitbucket server. It would not update, but threw an error that sudo was not allowed on localhost.

##### ISSUE TYPE
- Bug Report
We resolved the problem by including "become: false" in /usr/lib/python3.6/site-packages/awx/playbooks/project_update.yml.

##### COMPONENT NAME

/usr/lib/python3.6/site-packages/awx/playbooks/project_update.y

[2020-06-20 03:11] ledyba-z commented on #69492
@Cartman34 I found a workaround. It occurs when the server does not support your locale.
For example, I set my locale as `en_CA.UTF-8`, but the server does not support that locale.
After I set `LC_ALL` to `C.UTF-8` (by `export LC_ALL=C.UTF-8`), I could execute cron module correctly.

[2020-06-20 03:14] Akasurde commented on #69597
Closing this as PR is merged.

[2020-06-20 03:14] #69597 closed, assigned to nobody

[2020-06-20 03:27] #43408 closed, assigned to nobody

[2020-06-20 03:53] Akasurde commented on #50082
Closing as per https://github.com/ansible/ansible/issues/50082#issuecomment-448904967

[2020-06-20 03:53] #50082 closed, assigned to nobody

[2020-06-20 05:36] #58752 closed, assigned to nobody

[2020-06-20 06:02] yajo opened #70191 "ansible-galaxy collection install --dev"
##### SUMMARY

`ansible-galaxy` should be able to install collections in development mode

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

ansible-galaxy

##### ADDITIONAL INFORMATION

Imagine your collection contains this in its `galaxy.yml` file:

[code]

You should be able to run:

[code]

With this result:

[code]

This is important for local testing. Otherwise playbooks inside `playboo

[2020-06-20 06:14] Yajo commented on #70191
Alternatively to this, I'm thinking that the `galaxy.yml` file should be allowed to contain a `requirements` key that points to a `requirements.yaml` file.

This way, I can still use that file for local installs, while I don't have the need to repeat the dependencies in both `requirements.yaml` and `galaxy.yml` in different formats.

[2020-06-20 07:47] Alexdelarose opened #70192 "Value of a registered play does not update when running consecutive playbooks."
##### SUMMARY

When running consecutives playbooks in a shell script either in parallel or one by one without a 2 minute pause (it could be less but tried 30 seconds and 1 min before with similar issues), the registered value of the registered play does not update to the output from the current play but instead keep the value from the previous run and it does this for a few more playbooks (it does

[2020-06-20 08:23] #66109 closed, assigned to nobody

[2020-06-20 10:23] alexcernat opened #70193 "Lack of documentation in new recommended way of generating openssl certificates"
##### SUMMARY

I am using this code to generate self signed certificates:

- name: Verify SSL certificate
  openssl_certificate:
    provider: assertonly
    path: "{{ path_to_crt }}"
    state: present
    issuer:
      CN: "common name"
      O: "organization"
    subject:
      CN: "{{ ansible_fqdn }}"
    valid_in: "2592000" # 30 days
  delegate_to: localhost
  ignore_errors: True
  register:

[2020-06-20 10:55] m4ri0g commented on #69679
Hello
thank you for coming back to me on this
I simply get the error:

[code]

[2020-06-20 11:27] #68074 closed, assigned to nobody

[2020-06-20 11:56] #67746 closed, assigned to nobody

[2020-06-20 12:17] #67520 closed, assigned to nobody

[2020-06-20 12:45] #67101 closed, assigned to nobody

[2020-06-20 13:00] #66862 closed, assigned to nobody

[2020-06-20 13:41] Akasurde commented on #44662
[`vmware_cluster`](https://github.com/ansible-collections/vmware/blob/master/plugins/modules/vmware_cluster.py) is now divided into
- [`vmware_cluster_drs`](https://github.com/ansible-collections/vmware/blob/master/plugins/modules/vmware_cluster_drs.py)
- [`vmware_cluster_ha`](https://github.com/ansible-collections/vmware/blob/master/plugins/modules/vmware_cluster_ha.py)
- [`vmware_cluster_vsan`](

[2020-06-20 13:41] #44662 closed, assigned to Akasurde

[2020-06-20 13:55] Akasurde commented on #43891
I would recommend you use the new [`vmware_vm_inventory`](https://github.com/ansible-collections/vmware/blob/master/plugins/inventory/vmware_vm_inventory.py) inventory plugin which provides this feature using [`filters`](https://github.com/ansible-collections/vmware/pull/137). `vmware_inventory` inventory script is not actively maintained.

Please find the documentation for using VMware inventory

[2020-06-20 13:55] #43891 closed, assigned to Akasurde

[2020-06-20 14:24] #65652 closed, assigned to nobody

[2020-06-20 14:32] #65417 closed, assigned to nobody

[2020-06-20 15:12] #64898 closed, assigned to nobody

[2020-06-20 15:46] MarioVilas commented on #40868
Did not work for me:
[code]

[2020-06-20 16:30] #63112 closed, assigned to nobody

[2020-06-20 17:56] #62050 closed, assigned to nobody

[2020-06-20 19:59] cocampbe commented on #45230
Old. And no longer using LXC. Still think it's a valid change. Doesn't seem like it was taken seriously.

[2020-06-20 19:59] #45230 closed, assigned to nobody

[2020-06-20 20:15] #61548 closed, assigned to nobody

[2020-06-20 20:21] #61400 closed, assigned to nobody

[2020-06-20 20:44] #60583 closed, assigned to nobody

[2020-06-20 21:10] imjoseangel commented on #70012
Hi @josephpisciotta @samdoran

I've been working on debugging the uri module to find how it manages the `client_cert` and `client_key` and it uses `httplib` and `http.client` as expected for Python 2 and 3 respectively.

The certificate is loaded from a SSL context with `self.context.load_cert_chain(self.cert_file, self.key_file)` which requires paths to a key file and a certificate file.

This is

[2020-06-20 21:49] #59089 closed, assigned to nobody

[2020-06-20 21:57] tymik commented on #62492
i'd be happy to try to code required changes to get snaps updated, are there any rules i need to follow to get the PR accepted? if it is not developed in like 3 months there are chances i would start working on it (although i'm not the best coder).

[2020-06-20 22:08] #58682 closed, assigned to nobody

[2020-06-20 22:45] #58165 closed, assigned to nobody

[2020-06-20 23:05] #57763 closed, assigned to nobody

[2020-06-20 23:23] #57283 closed, assigned to nobody

[2020-06-21 00:12] notok commented on #48470
Still same here in ansible 2.9.9.
But here's an another workaround without creating temporary vars file. (also inserting `extra_vars` to the vars hierarchy..)

main.yml (put variables to override in extra_vars):

[code]

sub.yml

[code]

[2020-06-21 02:39] notok commented on #14130
I encountered this when overriding the PATH env var only when some variable is defined. I also expecting `omit` to work on task attributes.

Here's some workaround for `environment`. (not an elegant one...)

[code]

[2020-06-21 06:08] #55095 closed, assigned to nobody

[2020-06-21 06:27] frsauvage commented on #46203
+1 could you please add retry-until in loops !
Absolutely "Must Have" feature !

[2020-06-21 06:57] hnakamur commented on #40868
You might try running with `-vvvv` and look at response/json/error to find what error happens.

[2020-06-21 07:41] imjoseangel commented on #70003
@samdoran I was thinking on adding the RETURN section to the documentation of `dnf` module.

In the other hand, I have seen that 35 of the 70 core modules don’t have the RETURN section. Could it be good to open a new improvment issue to standardize all the modules?

Thank you

[2020-06-21 08:31] #52068 closed, assigned to nobody

[2020-06-21 09:23] #51108 closed, assigned to nobody

[2020-06-21 10:14] #50130 closed, assigned to nobody

[2020-06-21 10:47] #66474 closed, assigned to nobody

[2020-06-21 11:25] ssbarnea commented on #66474
Bot failure again, I doubt this was expected to be closed.

[2020-06-21 13:24] Akasurde commented on #40051
`ansible-test` code has evolved since 2.5. I will mark this as closed for now. Please feel free to open a new issue, if problem persists. Thanks.

[2020-06-21 13:24] #40051 closed, assigned to nobody

[2020-06-21 14:10] ssergiienko commented on #57062
@eli-schwartz Hi,
what you've said about os-release file in https://github.com/ansible/ansible/issues/57062#issuecomment-620342626 actually doesn't work.

[code]

[code]

The only reliable solution I can get is to patch ansible with yet another exclude:
[code]

[2020-06-21 14:42] #49008 closed, assigned to nobody

[2020-06-21 15:27] #47911 closed, assigned to nobody

[2020-06-21 15:43] #47156 closed, assigned to nobody

[2020-06-21 16:07] Akasurde commented on #70193
Issue migrated to https://github.com/ansible-collections/community.crypto/issues/76

[2020-06-21 16:07] #70193 closed, assigned to nobody

[2020-06-21 16:07] #46391 closed, assigned to nobody

[2020-06-21 16:30] #45401 closed, assigned to nobody

[2020-06-21 17:00] Akasurde commented on #70186
I added the following change and was able to generate a single big man page of Ansible docs. I will wait for others to comment on this -

[code]
and
[code]

cc @acozine @samccann @gundalow @felixfontein @Andersson007

[2020-06-21 17:01] Akasurde commented on #70186
This is very on the similar line of https://github.com/ansible/ansible/issues/69880

[2020-06-21 17:03] Akasurde commented on #70186
Also, there is one option called `epub` which creates a offline version of Ansible docs.

[2020-06-21 17:46] dmp1ce opened #70194 "Snapcraft: Add 'alias'"
##### SUMMARY
Because of naming restrictions on snaps it is sometimes necessary to use an alias for snaps. Right now this can be done by requesting an alias in the snapcraft forum or by setting up an alias in the shell.

- ansible 2.9.9

##### ISSUE TYPE
I would like to propose a snap module addition to support the snap alias commands.

##### COMPONENT NAME
lib/ansible/modules/packaging/os/snap.py

[2020-06-21 23:32] opticyclic opened #70195 "Split Out Cloud Modules To Sub-Pages"
##### SUMMARY
The list of Cloud Modules is very long now.
https://docs.ansible.com/ansible/latest/modules/list_of_cloud_modules.html

There are almost 150 just for Azure
https://docs.ansible.com/ansible/latest/modules/list_of_cloud_modules.html#azure

This page would be cleaner if it was a list of the providers and each link in that list went to a separate page detailing the the modules for that p

[2020-06-22 05:35] ganeshrn commented on #68769
@parkrish The file is renamed to `runtime.yml`. Please refer to the `meta/runtime.yml` file in `cisco.ios` collection (https://github.com/ansible-collections/cisco.ios/blob/master/meta/runtime.yml#L4)

[2020-06-22 05:35] #68769 closed, assigned to ganeshrn

[2020-06-22 05:44] Akasurde commented on #70188
Duplicate of https://github.com/ansible/ansible/issues/70187

[2020-06-22 05:44] #70188 closed, assigned to nobody

[2020-06-22 05:45] Akasurde commented on #70187
Issue migrated to https://github.com/ansible-collections/community.azure/issues/2

[2020-06-22 05:45] #70187 closed, assigned to nobody

[2020-06-22 05:46] Akasurde commented on #70187
Issue migrated to https://github.com/ansible-collections/azure/issues/171

[2020-06-22 06:10] Akasurde commented on #38216
@mysqlbox Could you please provide the required information as per https://github.com/ansible/ansible/issues/38216#issuecomment-465229612? Thanks,

needs_info

[2020-06-22 06:40] Akasurde commented on #38164
resolved_by_pr #70196

[2020-06-22 06:40] Akasurde commented on #38164
@jobevers, Could you please check PR #70196 and let us know if it works for you ? <br><br>Thanks. <br><br> needs_info

[2020-06-22 06:48] mkrizek commented on #70194
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-06-22 06:48] #70194 closed, assigned to nobody

[2020-06-22 08:40] mkrizek commented on #34172
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/CiscoDevNet/ansible-aci.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansible-

[2020-06-22 08:40] #34172 closed, assigned to dagwieers

[2020-06-22 09:31] karibou commented on #70184
Hello,
To clarify things a bit further, `ls` happens to work fine because it is present on both the local and remote hosts.
Trying to run `systemctl list-timers` will fail when running in a docker container as systemd is not running in the container though it is running on the remote target. So it is not limited to python scripts but will happen whenever a command is not available on the host wher

[2020-06-22 09:54] markusju commented on #66520
This is an ongoing issue, now moved to here: https://github.com/ansible-collections/community.network/issues/28

[2020-06-22 09:56] nirroz93 opened #70197 "Terraform module backend config not working"
##### SUMMARY

Terraform module backend config doesn't work
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

terraform module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

running on localhost (Fedora 32) terraform installed is Terraform v0.12.26

##### STEPS TO REPRODUCE

[code]
Module gets the config OK (see output in actual result).
...
...
...

##### E

[2020-06-22 10:27] mkrizek commented on #70184
I am unable to reproduce the issue. Here's what I tried:

Remote:
[code]

Controller:
[code]

We'll need a complete minimal reproducer to move this issue forward.

needs_info

[2020-06-22 10:29] mkrizek commented on #70197
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-06-22 10:29] #70197 closed, assigned to nobody

[2020-06-22 11:18] mujeebks10 opened #70198 "EC2 Instance creation failed => Unsupported: The requested configuration is currently not supported."
I am trying to create an EC2 instance, But i am getting below errors
anyone can help me how to resolve this issue

[root@jenkin ansible]# ansible-playbook ec2_in.yml

PLAY [Creating Ec2 instance] ************************************************************************************************************************************************************************

TASK [Gathering Facts] ***********

[2020-06-22 11:28] Akasurde commented on #70198
Issue migrated to https://github.com/ansible-collections/amazon.aws/issues/85

[2020-06-22 11:28] #70198 closed, assigned to nobody

[2020-06-22 11:31] mujeebks10 commented on #70198
How to get component name?

[2020-06-22 11:38] Akasurde commented on #70198
@mujeebks10 This issue is migrated to https://github.com/ansible-collections/amazon.aws/issues/85.

[2020-06-22 12:33] Qalthos commented on #64441
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vyos.vyos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!for

[2020-06-22 13:13] #64441 closed, assigned to Qalthos

[2020-06-22 13:19] karibou commented on #70184
Hello,
This is done with a cloud instance reachable with ssh & public key :
Controller :
[code]
Test role :
[code]
Ansible 2.9.9 :
[code]
Ansible 2.9.10
[code]

HTH,

...Louis

[2020-06-22 13:21] karibou commented on #70184
For some reason, the error context is different, even though it works on 2.9.9 and not on 2.9.10.
I'm short of time but will provide a more complete output of my 2.9.10 test.
The Ansible rôle remains the same though.

[2020-06-22 13:26] karibou commented on #70184
Me again,
Here is a better looking output after fixing ownership issues on /root :
[code]
This corresponds to the outlined problem, which is that the `dnf` command cannot be found on the Ubuntu controller

[2020-06-22 13:32] JonathanSneep commented on #56541
FYI I just got around this by simply modifying ..../ansible/plugins/callback/splunk.py

`        open_url(
            url,
            jsondata,
            **validate_certs=False,**
            headers={
                'Content-type': 'application/json',
                'Authorization': 'Splunk ' + authtoken
            },
            method='POST'
        )`

[2020-06-22 13:47] jobevers commented on #38164
Looks good 👍

[2020-06-22 14:10] poulterer commented on #70190
We fixed this. The line "become" under "[privilege_escalation]" was changed to "True" from the default "False". This caused all execution to become root, not desirable on localhost.

[2020-06-22 14:10] #70190 closed, assigned to nobody

[2020-06-22 14:35] stasjok opened #70200 "Incorrect command line parsing for ansible-vault encrypt_string --prompt"
##### SUMMARY

`ansible-vault encrypt_string --prompt` doesn't work: ERROR! The --prompt option is not supported if also reading input from stdin.
As I understand, if a string to encrypt is not provided in command line it assumes that it would be read from stdin:
https://github.com/ansible/ansible/blob/eaf6086eeab3ffc0389694a037c776cd3d6ac0b5/lib/ansible/cli/vault.py#L132
It works if I add some ex

[2020-06-22 14:54] mkrizek commented on #70200
FWIW it seems that just `ansible-vault encrypt_string` does what you want.

[2020-06-22 14:54] samdoran commented on #70012
I did not look into how to solve this or if it is even possible, which is why it was marked as `waiting_on_contributor`. If it is not possible to do this, then we should document that and close this feature request.

[2020-06-22 15:36] oseiberts11 commented on #68208
This affects us too. Affected versions are at least 2.4 up to 2.9.

`ansible/modules/cloud/openstack/os_router.py` has a systematic bug when it updates the ports that are attached to a router. It does this by first removing all existing ports, and then adding back all the ones that are wanted. Howeever, this strategy is fundamentally wrong, as can be seen in the following case:

[code]

This kind

[2020-06-22 15:41] Shrews commented on #68208
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://opendev.org/openstack/ansible-collections-openstack.git

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/

[2020-06-22 15:41] #68208 closed, assigned to nobody

[2020-06-22 15:44] oseiberts11 commented on #68208
The bug affects supported releases of Ansible, all the way up to 2.9.

[2020-06-22 15:57] Shrews commented on #68208
@oseiberts11 The OpenStack module maintainers will be able to open a backport request for older versions of Ansible.

[2020-06-22 16:36] mahdibensaid opened #70205 "Unable to run systemctl daemon-reload as a non-root user"
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
systemd.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
ansible.cfg
[code]

##### OS / ENVIRONMENT
Control node : Ubuntu 18.04 installed on WSL
Managed hosts : CentOS 7.5.1804

##### SUMMARY

I want to start my application as a non-root user but it fails and I get this error:
```RUNNING HANDLER [springboot : Restart myapp] *****************

[2020-06-22 16:48] crashwind opened #70206 "mac_address"
##### SUMMARY
mac_address in `NetworkSettings`  is empty when using `macvlan` network only

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`docker_container`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]
on server:
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
changed=0 (no diff) for task `create docker container`

##### ACTUAL RE

[2020-06-22 16:56] sivel commented on #70206
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-22 16:56] #70206 closed, assigned to nobody

[2020-06-22 16:57] crashwind commented on #70206
`docker_container.py`:
change `mac_address=network.get('MacAddress'),` to `mac_address=config.get('MacAddress'),` fixes problem for me

[2020-06-22 17:18] flounderpinto opened #70208 "docker_swarm node_cert_expiry units are missing."
##### SUMMARY
The docker_swarm module lists node_cert_expiry as an integer, but does not give the units (the unit appears to be nanoseconds).

When setting this value directly in docker via the command line, it's a string in the format "2160h0m0s".  Tracking down that this was nanoseconds required looking at the source.

Also, the "Edit on GitHub" link seems to be broken for this page.

##### ISSU

[2020-06-22 19:20] Shrews commented on #49447
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to  https://github.com/ansible-collections/vmware.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible-

[2020-06-22 19:20] #49447 closed, assigned to nobody

[2020-06-22 19:20] adilsaju commented on #29657
`{
  "cmd": null,
  "msg": "Unexpected error when accessing exploded file: [Errno 2] No such file or directory: '/usr/local/mysql-6.1.5-GA/mysql-5.7.30-linux-glibc2.12-x86_64/bin/myisam_ftdump'",
  "stderr": null,
  "stdout": null,
  "stdout_lines": null,
  "warnings": null
}
`

code:
`- name: Unarchive mysql
  unarchive:
    src: mysql.tar.gz
    dest: /usr/local/
    owner: mysql
    group: mysq

[2020-06-22 19:23] sivel commented on #70208
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-22 19:23] #70208 closed, assigned to nobody

[2020-06-22 19:33] Shrews commented on #62492
@tymik  This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general if you would like to contribute a change to it. They have some useful information in the README.md file in that repo that may help you get started. Usually you need to make sure your change includes a test to validate that it works, but the maintainers of

[2020-06-22 19:33] #62492 closed, assigned to nobody

[2020-06-22 19:45] Shrews commented on #29931
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/an

[2020-06-22 19:45] #29931 closed, assigned to nobody

[2020-06-22 20:42] jborean93 commented on #70140
Just an update, I was playing around with this in preparation of making a fix in the ansible.windows collection. Even if I did add support for a blank `_password` value in a DSC resource the engine will fail with

[code]

This seems to be a limitation of the DSC engine when it comes to PSCredential options and no changes in the win_dsc module will change that. When looking at some DSC issues it do

[2020-06-22 20:59] niharvarma1247 opened #70218 "Callback Plugin IOError: [Errno 24] Too many open files"
##### SUMMARY
As callback plugin is called for every task, it is creating a series of temp files
for each task and when we have a lot of concurrent tasks then getting "Too many open files" error on linux based operating systems
https://github.com/ansible/ansible/blob/29c6aae2fcffa92a693ef3278b94e97fff1ebbd3/lib/ansible/executor/task_queue_manager.py --using the task manager each task are being exe

[2020-06-22 21:57] #63105 closed, assigned to nobody

[2020-06-22 23:14] binf opened #70223 "postgresql_pg_hba will show a cast warning when backup param is not quoted"
##### SUMMARY
When running without quoted backup parameters, the module issue a warning.
This is fixed when the backup value is single quoted. Other modules do not show this casting warning behavior.

##### ISSUE TYPE
- Bug Report/Cosmetic

##### COMPONENT NAME
postgresql_pg_hba

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
RHEL 7

##### STEPS TO REPRODUCE

If

[2020-06-22 23:49] sivel commented on #70223
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-22 23:49] #70223 closed, assigned to nobody

[2020-06-23 02:23] Ranjandas opened #70226 "aws_s3 module not idempotent for encrypted objects"
##### SUMMARY
`aws_s3` module when used with object encryption is always reporting change. This is the case even when `overwrite: different` is set. Also tried with `Content-MD5` header and it also results in the same problem.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`aws_s3` module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

No Configuration changes.
[code]

##### OS / ENVIR

[2020-06-23 06:21] mkrizek commented on #70226
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/amazon.aws.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/a

[2020-06-23 06:21] #70226 closed, assigned to nobody

[2020-06-23 08:50] mkrizek commented on #70184
So the issue here can be observed with this play:
[code]

Since #69244 we do https://github.com/ansible/ansible/blob/fa48678a08115cc3cd8ef29777370f8db708d9b1/lib/ansible/executor/task_executor.py#L886

which means that if `ansible_connection` for the delegated host is not defined, we fall back to task's connection which in this case is inherited from play which is `local` and it appears that for s

[2020-06-23 09:24] mboehm21 commented on #56542
I second this request. Who is maintaining those modules?

[2020-06-23 10:04] mahdibensaid commented on #70205
Sorry, I put `become: true` in the wrong section. It must be under `[privilege_escalation]`. I thought it was a bug, I apologize once again. You could remove this issue.

[2020-06-23 10:04] #70205 closed, assigned to nobody

[2020-06-23 10:45] CodeitchNY commented on #25068
Curious as to what the status of this is. Obviously open but still hyper annoying to keep one prompts output from clobbering the second prompts output and only getting the "last" host in the list.

`--forks` 1 does resolve the issue but....

so does **CRTL-C** and do again and the playbook will run (add one, then the other) which I do more often cause I forget `--forks 1` all the time.

[code]

[2020-06-23 11:04] karibou commented on #70184
Hello,
Thanks for the follow up. For the time being, it is simpler for us to pin 2.9.9. If it turns out that it is the expected behavior, then we will eventually modify the tasks.
In the meantime, I'll keep monitoring this issue.
...Louis

[2020-06-23 11:38] sjugge commented on #65823
@quazar0 I ran into this issue as well. Turns out an RDS Aurora instance always requires a cluster.
Unfortunately, managing RDS clusters is not supported by any of the available Ansible modules.
You can workaround this by using the `aws` CLI through the `command` or `shell` module.

I found that [this article](https://medium.com/@tomwwright/automating-with-ansible-aurora-clusters-7272364777dd) gav

[2020-06-23 11:44] #36582 closed, assigned to nobody

[2020-06-23 11:55] Akasurde commented on #36543
[`helm`](https://github.com/ansible/ansible/blob/stable-2.9/lib/ansible/modules/cloud/misc/helm.py) (pyhelm based) is deprecated in favor of new [`helm`](https://github.com/ansible-collections/community.kubernetes/blob/master/plugins/modules/helm.py) (command-line based) which is available [Kubernetes collection](https://github.com/ansible-collections/community.kubernetes). The new `helm` module s

[2020-06-23 11:55] #36543 closed, assigned to Akasurde

[2020-06-23 12:37] Akasurde commented on #36428
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2020-06-23 12:37] #36428 closed, assigned to nobody

[2020-06-23 12:49] Akasurde commented on #36300
Foreman inventory plugin is maintained [`here`](https://github.com/theforeman/foreman-ansible-modules). Migrating this issue there.

[2020-06-23 12:55] Akasurde commented on #36300
Issue migrated to https://github.com/theforeman/foreman-ansible-modules/issues/851

[2020-06-23 12:55] #36300 closed, assigned to nobody

[2020-06-23 13:04] #33979 closed, assigned to nobody

[2020-06-23 13:08] gundalow commented on #33979
Fix merged into `community.general` in https://github.com/ansible-collections/community.general/pull/137#issuecomment-648133700

A backport for `stable-2.9` maybe created, checkout the above URL to see if that happens.

[2020-06-23 14:50] SturmB opened #70234 "pip module always reports "changed""
##### SUMMARY

When installing pip libraries (at least the two needed for the `docker_compose` module) using the `pip` module, Ansible _always_ reports changed. As though it is not idempotent.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

pip

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I'm currently using Windows 10 v1909 (hope to upgrade to v2004 s

[2020-06-23 15:20] samdoran commented on #70157
Seems like this is fixed we just need to document this in order to resolve it fully.

[2020-06-23 15:26] #49232 closed, assigned to maxamillion

[2020-06-23 15:26] #43369 closed, assigned to nobody

[2020-06-23 15:27] samdoran commented on #70184
After discussing, this is the intended behavior. That it was working before was a bug that was fixed. Sorry for the inconvenience.

[2020-06-23 15:27] #70184 closed, assigned to nobody

[2020-06-23 15:32] samdoran commented on #70186
This seems like a good change to add to the Makefile for those that need it. I don't think that just because we add it to the Makefile that it somehow means we need to publish those files anywhere, just document how to generate offline docs.

[2020-06-23 15:37] samdoran commented on #70191
We have no plans to implement this feature at this time. Executing a playbook inside the collection will load the collection itself for the context of the playbook without the need for symlinks.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2020-06-23 15:37] #70191 closed, assigned to nobody

[2020-06-23 15:42] Akasurde commented on #62972
Closing this since modules are removed in Ansible 2.10.

[2020-06-23 15:42] #62972 closed, assigned to nobody

[2020-06-23 15:42] Akasurde commented on #60536
Closing this since modules are removed in Ansible 2.10.

[2020-06-23 15:42] #60536 closed, assigned to nobody

[2020-06-23 15:43] Akasurde commented on #67284
Closing this since modules are removed in Ansible 2.10.

[2020-06-23 15:43] #67284 closed, assigned to nobody

[2020-06-23 15:44] Akasurde commented on #51858
Closing this since modules are removed in Ansible 2.10.

[2020-06-23 15:44] #51858 closed, assigned to nobody

[2020-06-23 15:44] samdoran commented on #70192
This is most likely caused by the socket on the jump host staying open, so when you connect to `host_a_1` through the jump host, then quickly connect to `host_b_1` through the same jump host, `ssh` is most likely reusing the same socket from the jump host to the final host.

You will probably need to adjust the connection settings on the controller and/or jump host to prevent socket reuse in order

[2020-06-23 15:44] #70192 closed, assigned to nobody

[2020-06-23 15:45] #38164 closed, assigned to acozine, samccann

[2020-06-23 15:47] #58470 closed, assigned to Qalthos

[2020-06-23 15:47] Qalthos commented on #57745
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!for

[2020-06-23 15:47] #57745 closed, assigned to Qalthos

[2020-06-23 15:50] Qalthos commented on #52647
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-23 15:50] #52647 closed, assigned to Qalthos

[2020-06-23 15:51] Qalthos commented on #50355
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this
repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

This should be fixed with the cisco.nxos collection 1.0.0. Please re-submit this issue in the above repository if you continue to have problems.

If you have further questions please stop by IRC or the mailing list:

[2020-06-23 15:51] #50355 closed, assigned to Qalthos

[2020-06-23 15:58] Qalthos commented on #35525
So this issue has been languishing for a few years, and I'm still not completely clear on what is going on here. In the meantime, our facts modules have been rewritten and the way facts are collected have changed drastically. If you still consider the current state problematic, please open a new issue at https://github.com/ansible-collections/ansible.netcommon and be a little more explicit about w

[2020-06-23 15:58] #35525 closed, assigned to Qalthos

[2020-06-23 16:02] Qalthos commented on #43092
As of Ansible 2.9, this should be achievable by using `wait_for_connection` in place of your `pause` task. Possibly even without that change, I'm not entirely sure. If this is not the case, please open a new issue at https://github.com/ansible-collections/ansible.netcommon with fresh details about the issue.

Please re-submit this issue in the above repository.

If you have further questions pleas

[2020-06-23 16:02] #43092 closed, assigned to Qalthos

[2020-06-23 16:08] samdoran commented on #70234
Duplicate of #67633

[2020-06-23 16:08] #70234 closed, assigned to nobody

[2020-06-23 16:11] Qalthos commented on #59103
That snippet was removed from `connection.py` and moved to its own file in https://github.com/ansible/ansible/pull/60602, where the code was also relicensed to BSD with the explicit permission of all of the authors. I believe this should remove any remaining problems associated with this issue.

[2020-06-23 16:11] #59103 closed, assigned to Qalthos

[2020-06-23 16:17] Qalthos commented on #56236
This appears to be a paramiko issue regarding having excess keys in one's ssh-agent (https://github.com/paramiko/paramiko/issues/1390). I don't know if we can work around that or not.

Please follow the linked issue, and if that does not solve your problem, open a new issue at https://github.com/ansible-collections/ansible.netcommon so we can look in to it

Please re-submit this issue in the above

[2020-06-23 16:17] #56236 closed, assigned to Qalthos

[2020-06-23 16:18] #52339 closed, assigned to Qalthos

[2020-06-23 16:25] CSimpiFoN commented on #48890
Please fix it. Still does not work with Ansible 2.9.10. Really missing feature.

[2020-06-23 16:26] sivel commented on #48890
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.rabbitmq

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/fo

[2020-06-23 16:26] #48890 closed, assigned to nobody

[2020-06-23 16:38] SturmB commented on #70234
Thanks, Sam. I dug around before posting but somehow didn't find that issue.

[2020-06-23 16:39] #43209 closed, assigned to Qalthos

[2020-06-23 16:40] Qalthos commented on #43861
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!for

[2020-06-23 16:40] #43861 closed, assigned to Qalthos, ganeshrn

[2020-06-23 16:40] Qalthos commented on #43996
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-23 16:40] #43996 closed, assigned to Qalthos, ganeshrn

[2020-06-23 16:41] Qalthos commented on #47593
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-23 16:41] #47593 closed, assigned to Qalthos

[2020-06-23 16:41] Qalthos commented on #54470
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-23 16:41] #54470 closed, assigned to Qalthos

[2020-06-23 16:41] Qalthos commented on #56184
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-23 16:41] #56184 closed, assigned to Qalthos

[2020-06-23 16:42] Qalthos commented on #57322
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-23 16:42] #57322 closed, assigned to Qalthos, ganeshrn

[2020-06-23 16:42] Qalthos commented on #61372
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-23 16:42] #61372 closed, assigned to Qalthos

[2020-06-23 16:48] keitalbame commented on #27081
This worked for me with a war file on a CentOS 7 instance.

[2020-06-23 16:56] Akasurde commented on #35502
Closing as per https://github.com/ansible/ansible/issues/35502#issuecomment-362061542. Please feel free to open a new issue in [`community.general`](https://github.com/ansible-collections/community.general).

Thanks.

[2020-06-23 16:56] #35502 closed, assigned to nobody

[2020-06-23 17:13] SturmB commented on #67633
Please forgive me for being ignorant, but what exactly is the latest version? I'm having the same problems, but it _appears_ as though I have the latest versions.

I have an Ubuntu 18.04 server and have done `sudo apt update`, `sudo apt upgrade -y`, `sudo apt install -y python3`, and `sudo apt install -y python3-pip`.

These have resulted in the following versions:
[code]
Is this incorrect? Am I d

[2020-06-23 17:23] sivel commented on #69446
This issue has been addressed as of v2.9.10 in https://github.com/ansible/ansible/commit/9e00214fb435e6b9ea223d966c2e4d9feecac35f

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-06-23 17:23] #69446 closed, assigned to nobody

[2020-06-23 18:01] julien-lang opened #70238 "[Errno 38] Function not implemented - Ansible 2.9.10 - Vmware ESXI 6.5 - Python 3.5"
##### SUMMARY

Ansible version 2.9.10 is unable to connect to an ESXI 6.5 server.
The setup module fails with `[Errno 38] Function not implemented`

This was fully working in previous ansible versions (2.9.9).

I think that the problem was introduced by #69517 (commit  a259d79) as the error **does not exist when I revert a259d79** on top of the `stable-2.9` branch.

##### ISSUE TYPE
- Bug Report

[2020-06-23 18:29] DylanABacon opened #70239 "elb_application_ld modify rule: http-header not working"
##### SUMMARY

When using the "elb_application_lb" module to create/modify rules for a listener, the modify action for a http-header condition type does not work. If the rule is not already created, the module creates the rule correctly, but when it is already created, it returns an error: KeyError: 'Values'.
I am able to modify this rule with the aws cli.

##### ISSUE TYPE
- Bug Report

##### COM

[2020-06-23 18:37] samdoran commented on #67633
The latest version of `pip` is 20.1.1.

[code]

I'm not entirely sure that's the issue, though. I have been trying to reproduce this and am not having any luck. I only see the change reported the first time.

[2020-06-23 18:58] whitej6 opened #70241 "Copy action plugin conflicts with built in python copy lib"
##### SUMMARY
When developing a custom action plugin I was unable to use copy.deepcopy from python due to copy action plugin overwriting build in python copy library

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
copy action plugin

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS with python2.7 and python3.7 venvs

##### STEPS TO REPRODUCE

[code]

#

[2020-06-23 19:18] sivel commented on #70241
At the top of all custom plugins in ansible, you need to ensure you add the following code to prevent these issues on Python2:

[code]

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-06-23 19:18] #70241 closed, assigned to nobody

[2020-06-23 19:25] SturmB commented on #67633
Okay, following your lead, Sam, it does appear to work now. So, this brings up a tangential question:

What's the best way to install the latest pip on a newly-provisioned system? In my installer shell script of another project, I had been using
[code]
But this appears to install pip3, and only at version 9.0.1. Running your suggested `pip3 install -U pip` command does, indeed, install v20.1.1 of

[2020-06-23 19:32] julien-lang commented on #70238
I can provide additional information about this `selectors.DefaultSelector()` call which raises an exception.

[code]

Looking deeper in the `selectors.py` code:
[code]

[2020-06-23 19:43] s-hertel commented on #63341
@AlanCoding This should be fixed now by 087be1da5065f70bff89e1cff7af042d80ed0acc.

[2020-06-23 20:21] relrod commented on #69982
Going to close this out, per above. If DNF adds it to `setup_loggers()` it will start working.

[2020-06-23 20:21] #69982 closed, assigned to relrod

[2020-06-23 20:28] tchellomello opened #70244 "Ansible copy module returns `Operation not supported` for dosfs_t"
#### SUMMARY
When trying to copy a file using the ansible `copy` module to a remote system with SELinux enforcing on a  `vfat` partition, throws the error below:

[code]

However, when using the `touch` module, it works as expected.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`copy`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO

[2020-06-23 20:37] tchellomello commented on #70244
!component =lib/ansible/modules/copy.py

[2020-06-23 20:44] samdoran commented on #67633
@SturmB In general, you should not mess with the `pip` installation done by the system package manager. That's asking for trouble. Stick with the `pip` version that came with the system or use a virtual environment.

[2020-06-23 20:44] valugi commented on #70186
From what I understand there are already ways to build the docs. My request was to have the documents installed directly with ansible, so they will be available with the program, no matter if I do have access to internet or have the time to do a build.

[2020-06-23 21:01] samdoran commented on #67633
It looks like this was investigated in detail in a [previous issue](https://github.com/ansible/ansible/issues/28952#issuecomment-513839216). The bug with older pip always printing out 'Successfully installed' only seems to happen if `state: latest` is passed the module. I am able to duplicate that using older `pip`. But that seems like a `pip` bug and not an Ansible bug.

In the reports for this i

[2020-06-23 21:21] sivel commented on #70239
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#

[2020-06-23 21:21] #70239 closed, assigned to nobody

[2020-06-23 21:35] tchellomello commented on #70244
see also: https://github.com/ansible/ansible/commit/8bca160363390be79481a6f4b7673cbb5efb9278

[2020-06-23 21:45] srivaa31 opened #70247 "ansible installation failing for python3 using command pip3 install ansible"
##### SUMMARY
Running into installation failure with pip3

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.7.1908 (Core)

##### STEPS TO REPRODUCE

Run command sudo pip3 install ansible

[code]

##### EXPECTED RESULTS

Successful installation of ansible modules for python3

##### ACTUAL

[2020-06-23 21:59] sivel commented on #70247
I'm not able to reproduce this error:

[code]

As a curiosity, what `locale` do you have configured?

[2020-06-23 22:02] srivaa31 commented on #70247
LANG="en_US.UTF-8"

[2020-06-23 22:08] srivaa31 commented on #70247
I tried re-installing setuptools .....

[rack6-RR5-sandbox]# pip3 install -U pip setuptools
WARNING: Running pip install with root privileges is generally not a good idea. Try `pip3 install --user` instead.
Cache entry deserialization failed, entry ignored
Collecting pip
  Downloading https://files.pythonhosted.org/packages/43/84/23ed6a1796480a6f1a2d38f2802901d078266bda38388954d01d3f2e821d/pip-20.

[2020-06-23 22:12] djgraff209 opened #70248 "synchronize refers exclusively to deprecated 'ansible_ssh_user'"
##### SUMMARY

The Ansible 'synchronize' refers to the deprecated 'ansible_ssh_user' variable exclusively without taking into account the 'ansible_user' (2.9+) variable.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

synchronize

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Controller: MacOS Catalina 10.15.5 / Python3 3.8.2
Target Node Set:
8 nodes run

[2020-06-23 22:40] mlda065 commented on #70161
There's no Ansibot in the new repo, and it seems I can't tag the original author from that thread either, probably because the author hasn't yet 'joined' the repo.

@wimnat can you please have a look at https://github.com/ansible-collections/community.aws/issues/115 and comment on it?

(Not sure if you're aware, but apparently all AWS Ansible modules have been moved to that other repo.)

[2020-06-23 23:31] imp1sh opened #70249 "opkg fails because package is already installed"
#54284 ### SUMMARY
This task is being used:
[code]

 Installation fails because package is already installed. This is the error given:
[code]
When I manually invoke opkg install htop on the host, it just says:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
opkg

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
ansible host is virtualized on KVM with Alp

[2020-06-24 02:46] Akasurde commented on #70249
Issue migrated to https://github.com/ansible-collections/community.general/issues/572

[2020-06-24 02:46] #70249 closed, assigned to nobody

[2020-06-24 02:47] Akasurde commented on #70248
Issue migrated to https://github.com/ansible-collections/ansible.posix/issues/60

[2020-06-24 02:47] #70248 closed, assigned to nobody

[2020-06-24 06:22] Sanchensh opened #70254 "When Python calls Ansible, start an error"
##### SUMMARY

When Python calls Ansible, start an error.If I comment out part of source code, it's ready to execute. What's the problem

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Python file is playbook_executor.py

##### ADDITIONAL INFORMATION

The code that is commented out is as follows:
![image](https://user-images.githubusercontent.com/21358244/85508066-ee859b00-b625-11ea-889a-3

[2020-06-24 06:23] Sanchensh commented on #70254
ansible version is 2.9.1

[2020-06-24 06:26] mkrizek commented on #70254
What is the error you are getting? What command and arguments are you using to run ansible? Without a reproducer of the issue you are seeing we are unable to move this issue forward.

needs_info

[2020-06-24 06:37] #70254 closed, assigned to nobody

[2020-06-24 09:47] t2d opened #70256 "file module can't get mime info if path contains ":""
##### SUMMARY
Somehow the parsing of the mimetype/-charset is messed up.
The file module doesn't return mimtype and charset if `path` contains ":"
I guess, this happens because the `file` program splits also by `:`
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
file

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu 20.04

##### STEPS TO REPROD

[2020-06-24 09:58] timpasternak opened #70257 "edgeos_config or vyos_config time out"
##### SUMMARY

When using either `edgeos_config`, `vyos_config` or `vyos_facts`, the command timeout gets triggered.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`edgeos_config`, `vyos_config`, `vyos_facts`
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible Host:
Debian-Version: 10.3
Kernel: 4.19.0-8-amd64

Router:
Ubiquiti Edgerouter 12P
Firmware-V

[2020-06-24 11:13] eolix opened #70258 "Hash filter for variables is spotty, and broken for `password_hash` if variable is encrypted with vault"
##### SUMMARY
With a variable, `test_password` with value `hello`:

{{ test_password | hash('sha1') }} -> works
{{ test_password | hash('sha256') }} -> works
{{ test_password | hash('blowfish') }} -> returns blank
{{ test_password | password_hash('sha512') }} -> only works if the value of `test_password` is not encrypted with ansible-vault.

Detailed code below.

##### ISSUE TYPE
- Bug Report

###

[2020-06-24 11:35] SpoonMeiser commented on #46169
Until the fix for this gets released, is there a workaround we can use?

I've tried using the `|to_json` filter, but that has the same problem - the result is an escaped python string, rather than something that could be interpreted as JSON.

[2020-06-24 11:38] gvcgael commented on #69088
Same problem here. We cannot use reboot module with ansible 2.9.

[2020-06-24 11:39] Akasurde commented on #70257
Issue migrated to https://github.com/ansible-collections/community.network/issues/79

[2020-06-24 11:39] #70257 closed, assigned to nobody

[2020-06-24 12:13] srivaa31 commented on #70247
Rebooting the centos box worked and I could see the ansible --version command o/p below as :

ansible 2.9.10
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python3.6/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python versi

[2020-06-24 12:13] #70247 closed, assigned to nobody

[2020-06-24 12:22] mkrizek commented on #70258
I am not sure `blowfish` is everywhere, it does not seem to be built-in on my system (Fedora 31):
[code]

For `{{ test_password | password_hash('sha512') }}` you would have to explicitly do:
[code]
instead because `test_password` is, as the error suggests, `AnsibleVaultEncryptedUnicode` which although we recently made to work more like a string (https://github.com/ansible/ansible/pull/67823) it is

[2020-06-24 12:30] mkrizek commented on #70258
I wonder if we should fail in such case:

[code]

would result in:
[code]

[2020-06-24 12:37] Akasurde commented on #35347
@funkyfuture I think this can be achieved using setting default for all variables in a separate file called `default.yaml` like -

[code]

Also, you can always use [`default`](https://docs.ansible.com/ansible/latest/user_guide/playbooks_filters.html#defaulting-undefined-variables) for undefined variables.

Closing this as per. Thanks.

[2020-06-24 12:37] #35347 closed, assigned to nobody

[2020-06-24 12:51] #68851 closed, assigned to nobody

[2020-06-24 12:57] Qalthos commented on #63167
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!for

[2020-06-24 12:57] #63167 closed, assigned to justjais

[2020-06-24 12:58] Qalthos commented on #63082
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-24 12:58] #63082 closed, assigned to nobody

[2020-06-24 12:59] Qalthos commented on #63138
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection/

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://gro

[2020-06-24 12:59] #63138 closed, assigned to nobody

[2020-06-24 12:59] Qalthos commented on #63057
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-24 12:59] #63057 closed, assigned to nobody

[2020-06-24 13:00] Qalthos commented on #62979
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/fortinet-ansible-dev/ansible-galaxy-fortimanager-collection/

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https:

[2020-06-24 13:00] #62979 closed, assigned to nobody

[2020-06-24 13:00] Qalthos commented on #62664
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-24 13:00] #62664 closed, assigned to nobody

[2020-06-24 13:01] Qalthos commented on #62615
Thank you very much for your interest in Ansible. These plugins are no longer maintained in this repository and have been migrated to https://github.com/ansible-collections/cisco.ios and https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.ne

[2020-06-24 13:01] #62615 closed, assigned to nobody

[2020-06-24 13:02] Qalthos commented on #62352
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.asa

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!for

[2020-06-24 13:02] #62352 closed, assigned to nobody

[2020-06-24 13:03] Qalthos commented on #62210
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2020-06-24 13:03] #62210 closed, assigned to GomathiselviS

[2020-06-24 13:03] Qalthos commented on #62048
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2020-06-24 13:03] #62048 closed, assigned to trishnaguha

[2020-06-24 13:05] Qalthos commented on #61975
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/junipernetworks.junos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com

[2020-06-24 13:05] #61975 closed, assigned to ganeshrn

[2020-06-24 13:06] #61772 closed, assigned to trishnaguha

[2020-06-24 13:06] #61715 closed, assigned to trishnaguha, ikhan2010

[2020-06-24 13:08] Qalthos commented on #61661
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Additionally, a new module `nxos_acls` may provide the functionality you need, as `nxos_acl` has been deprecated in favor of it.

Please re-submit this issue in the above repository.

If you have further questions pleas

[2020-06-24 13:08] #61661 closed, assigned to trishnaguha

[2020-06-24 13:08] NilashishC commented on #62048
@clammers Since, the nxos_l3_interface module has been deprecated, we recommend using the newer [nxos_l3_interfaces](https://github.com/ansible-collections/cisco.nxos/blob/master/docs/cisco.nxos.nxos_l3_interfaces_module.rst) Resource Module where this key has already been added.

[2020-06-24 13:08] Qalthos commented on #61433
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-24 13:08] #61433 closed, assigned to nobody

[2020-06-24 13:09] Qalthos commented on #61211
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2020-06-24 13:09] #61211 closed, assigned to trishnaguha

[2020-06-24 13:10] Qalthos commented on #61193
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/fortinet-ansible-dev/ansible-galaxy-fortimanager-collection/

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https:

[2020-06-24 13:10] #61193 closed, assigned to nobody

[2020-06-24 13:10] Qalthos commented on #61171
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2020-06-24 13:10] #61171 closed, assigned to trishnaguha

[2020-06-24 13:11] Qalthos commented on #60934
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.iosxr

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!f

[2020-06-24 13:11] #60934 closed, assigned to rohitthakur2590

[2020-06-24 13:12] cmoulliard opened #70261 "Error as modules subfolders moved away from the ansible project"
##### SUMMARY

The following sentence `1. Navigate to the correct directory for your new module: $ cd lib/ansible/modules...` is not [correct](https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/dev_guide/developing_modules_general.rst#starting-a-new-module) as the folders `lib/ansible/modules/SUBFOLDERS` are not hosted under the ansible github repo.

##### ISSUE TYPE
- Documentation Re

[2020-06-24 13:13] Qalthos commented on #60927
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2020-06-24 13:13] #60927 closed, assigned to trishnaguha

[2020-06-24 13:14] Qalthos commented on #60556
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://grou

[2020-06-24 13:14] #60556 closed, assigned to nobody

[2020-06-24 13:14] Qalthos commented on #60808
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/CheckPointSW/CheckPointAnsibleMgmtCollection

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.

[2020-06-24 13:14] #60808 closed, assigned to nobody

[2020-06-24 13:15] Qalthos commented on #60440
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!for

[2020-06-24 13:15] #60440 closed, assigned to justjais

[2020-06-24 13:16] Qalthos commented on #60237
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-24 13:16] #60237 closed, assigned to nobody

[2020-06-24 13:17] Qalthos commented on #60224
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!fo

[2020-06-24 13:17] #60224 closed, assigned to adharshsrivatsr

[2020-06-24 13:17] Qalthos commented on #59457
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-24 13:17] #59457 closed, assigned to nobody

[2020-06-24 13:18] Qalthos commented on #59440
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios

This should be fixed with the newer `ios_interfaces` module.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenod

[2020-06-24 13:18] #59440 closed, assigned to justjais

[2020-06-24 13:25] Qalthos commented on #61017
So the _config modules are generally... not super intelligent. They try very hard to match config lines and do the right thing, but do no do too much processing of the parameters or config to achieve that.

Ideally, I think, the solution would be to use the resource-specific module `junos_vlans` to manage the vlans, and other resource modules as appropriate to manage the rest of the config. This i

[2020-06-24 13:25] #61017 closed, assigned to ganeshrn

[2020-06-24 13:31] dsg22 commented on #35515
The pkgng module has moved from ansible/ansible into the ansible-collections/community.general repo.

I have implemented this feature, it's waiting to be merged, see the PR:
https://github.com/ansible-collections/community.general/pull/569

[2020-06-24 13:46] SturmB commented on #67633
That's just it, though. The `pip` installation done by the package manager is the _old_ version, 9.0.1. Believe me, I'd love to just stick with the package manager's version, but if the package manager's version is _woefully_ outdated and causing problems with Ansible, then something needs to be done. That 'something,' in my opinion, is to update `pip` to the latest version by whatever is the best

[2020-06-24 14:24] Akasurde commented on #70238
cc @pgbidkar Could you please confirm if Python on ESXi 6.5 supports `selectors`?

[2020-06-24 14:26] Akasurde commented on #70238
cc @samdoran

[2020-06-24 14:38] Akasurde commented on #33545
[`helm`](https://github.com/ansible-collections/community.general/blob/master/plugins/modules/helm.py) module (which is based upon pyhelm Python package) is deprecated in favor of new [`helm`](https://github.com/ansible-collections/community.kubernetes/blob/master/plugins/modules/helm.py) based upon `helm` command.

Please feel free to open a new issue in [`community.kubernetes`](https://github.co

[2020-06-24 14:38] #33545 closed, assigned to nobody

[2020-06-24 14:40] Akasurde commented on #65970
[`helm`](https://github.com/ansible-collections/community.general/blob/master/plugins/modules/helm.py) module (which is based upon pyhelm Python package) is deprecated in favor of new [`helm`](https://github.com/ansible-collections/community.kubernetes/blob/master/plugins/modules/helm.py) based upon `helm` command.

Please feel free to open a new issue in [`community.kubernetes`](https://github.co

[2020-06-24 14:40] #65970 closed, assigned to nobody

[2020-06-24 14:43] Akasurde commented on #64421
[`helm`](https://github.com/ansible-collections/community.general/blob/master/plugins/modules/helm.py) module (which is based upon pyhelm Python package) is deprecated in favor of new [`helm`](https://github.com/ansible-collections/community.kubernetes/blob/master/plugins/modules/helm.py) based upon `helm` command.

Please feel free to open a new issue in [`community.kubernetes`](https://github.co

[2020-06-24 14:43] #64421 closed, assigned to nobody

[2020-06-24 14:44] Akasurde commented on #63426
[`helm`](https://github.com/ansible-collections/community.general/blob/master/plugins/modules/helm.py) module (which is based upon pyhelm Python package) is deprecated in favor of new [`helm`](https://github.com/ansible-collections/community.kubernetes/blob/master/plugins/modules/helm.py) (based upon `helm` command).

Please feel free to open a new issue in [`community.kubernetes`](https://github.

[2020-06-24 14:44] #63426 closed, assigned to nobody

[2020-06-24 14:44] Akasurde commented on #58967
[`helm`](https://github.com/ansible-collections/community.general/blob/master/plugins/modules/helm.py) module (which is based upon pyhelm Python package) is deprecated in favor of new [`helm`](https://github.com/ansible-collections/community.kubernetes/blob/master/plugins/modules/helm.py) (based upon `helm` command).

Please feel free to open a new issue in [`community.kubernetes`](https://github.

[2020-06-24 14:44] #58967 closed, assigned to nobody

[2020-06-24 14:45] Akasurde commented on #58391
[`helm`](https://github.com/ansible-collections/community.general/blob/master/plugins/modules/helm.py) module (which is based upon pyhelm Python package) is deprecated in favor of new [`helm`](https://github.com/ansible-collections/community.kubernetes/blob/master/plugins/modules/helm.py) (based upon `helm` command).

Please feel free to open a new issue in [`community.kubernetes`](https://github.

[2020-06-24 14:45] #58391 closed, assigned to nobody

[2020-06-24 14:46] Akasurde commented on #56058
[`helm`](https://github.com/ansible-collections/community.general/blob/master/plugins/modules/helm.py) module (which is based upon pyhelm Python package) is deprecated in favor of new [`helm`](https://github.com/ansible-collections/community.kubernetes/blob/master/plugins/modules/helm.py) (based upon `helm` command).

Please feel free to open a new issue in [`community.kubernetes`](https://github.

[2020-06-24 14:46] #56058 closed, assigned to nobody

[2020-06-24 14:46] Akasurde commented on #32911
[`helm`](https://github.com/ansible-collections/community.general/blob/master/plugins/modules/helm.py) module (which is based upon pyhelm Python package) is deprecated in favor of new [`helm`](https://github.com/ansible-collections/community.kubernetes/blob/master/plugins/modules/helm.py) (based upon `helm` command).

Please feel free to open a new issue in [`community.kubernetes`](https://github.

[2020-06-24 14:46] #32911 closed, assigned to nobody

[2020-06-24 14:47] Akasurde commented on #31117
[`helm`](https://github.com/ansible-collections/community.general/blob/master/plugins/modules/helm.py) module (which is based upon pyhelm Python package) is deprecated in favor of new [`helm`](https://github.com/ansible-collections/community.kubernetes/blob/master/plugins/modules/helm.py) (based upon `helm` command).

Please feel free to open a new issue in [`community.kubernetes`](https://github.

[2020-06-24 14:47] #31117 closed, assigned to nobody

[2020-06-24 14:47] Akasurde commented on #29661
[`helm`](https://github.com/ansible-collections/community.general/blob/master/plugins/modules/helm.py) module (which is based upon pyhelm Python package) is deprecated in favor of new [`helm`](https://github.com/ansible-collections/community.kubernetes/blob/master/plugins/modules/helm.py) (based upon `helm` command).

Please feel free to open a new issue in [`community.kubernetes`](https://github.

[2020-06-24 14:47] #29661 closed, assigned to nobody

[2020-06-24 14:48] pgbidkar commented on #70238
Hi @Akasurde , Verified on 65 and 65U3
Python version in both is 3.5+. selectors are supported

[code]
But I see the same error When I call like DefaultSelector()

[code]

[2020-06-24 15:39] mkrizek commented on #43421
Closing as per above.

[2020-06-24 15:39] #43421 closed, assigned to nobody

[2020-06-24 15:45] mkrizek commented on #66470
@evgeni since this has been fixed, can we close the issue?

[2020-06-24 15:46] evgeni commented on #66470
@mkrizek was it fixed in 2.8 (which is what this issue is about)?

I upgraded to 2.9 by now, so not affected anymore, but no idea what about 2.8

[2020-06-24 15:47] mkrizek commented on #63210
@AlanCoding since the mentioned PR has been merged, can this be closed?

[2020-06-24 15:49] mkrizek commented on #66470
Sorry this got forgotten. `2.8` is critical and security fixes only so I am not sure the backport would be accepted at this point.

[2020-06-24 15:49] mkrizek commented on #59340
Closing per above.

[2020-06-24 15:49] #59340 closed, assigned to nobody

[2020-06-24 15:50] mkrizek commented on #59579
Closing per above.

[2020-06-24 15:50] #59579 closed, assigned to nobody

[2020-06-24 15:52] evgeni commented on #66470
Then do whatever you want with this issue. Closed:wontfix I guess?

[2020-06-24 16:33] keitalbame opened #70264 "Unable to restore postgres db from a file with semi colon"
##### SUMMARY

Restore a db from a filename with a semi colon (`;`) fails

The use case for this was that the DB name was accidentally created with a `;`, a dump of the DB was done(using postgresql_db module) with the DB name on the file name and now I need to restore the DB back.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

postgresql_db
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2020-06-24 16:50] #68353 closed, assigned to nobody

[2020-06-24 16:53] sivel commented on #70264
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-24 16:53] #70264 closed, assigned to nobody

[2020-06-24 17:37] ramateja3 commented on #15350
I'm waiting for this resolution. I'm using yum to patch the systems, and if task completes it displays 'changed', but when it fails for any reason (space issues, package conflicts or for any reason, it displays a lot of errors on screen as below, which doesn't seem to be easy to look for when there are bunch of systems.

![image](https://user-images.githubusercontent.com/48451640/85604899-557b7200

[2020-06-24 17:39] samccann commented on #70186
If we decide to add a make man or any other unsupported option in the makefile, please add a comment above it to clearly  state this is an unsupported output format and users will need to take it 'as is' so to speak.

I'm not a big man user - I generated it locally and it does provide output, but I'm unclear how I'd go about finding what I need in that. What are the search options?

[2020-06-24 18:39] samccann opened #70267 "Edit on Github not working in the new world order"
##### SUMMARY

Edit on GitHub has major problems:

- Doesn't work on all the older releases, since it points to devel and most of the modules are no longer in devel
- doesn't work for modules still in ansible-base as per https://github.com/ansible/ansible/issues/69683
- May be difficult to get to work on devel once the docs pipeline is in place to bring back all the module docs from their respecti

[2020-06-24 18:40] herter4171 opened #70268 "Python 3 Isn't Recognizing Installed Packages"
##### SUMMARY

I have a remote that I install some `pip3` packages on followed by attempting to use the `aws_s3` module.  The remote in question uses an AMI generated by Packer based on Amazon Linux 2, and the portion of the Packer-run playbook that involves `python3` is given in the appropriate section.

Some other points that seem worth clarifying are as follows.
* I have checked that no form of

[2020-06-24 18:41] strugg opened #70269 "Blockinfile throwing TypeError: [priority,] message string"
##### SUMMARY

When executing "blockinfile" it is failing with something related to python and syslog.
It cannot merge multiple blocks of content in one file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

blockinfile

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Podman container running:
Red Hat Enterprise Linux Server release 7.7 (Maipo)

##### STEPS

[2020-06-24 18:42] samccann opened #70270 "[1/1]Update the Ansible glossary"
##### SUMMARY

With the split between ansible-base and collections, we have a need to clean up and update the ansible glossary.

This is a starting point:
https://github.com/ansible-collections/overview/#terminology

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL IN

[2020-06-24 18:49] samccann opened #70271 "Update docs to reflect ansible-base vs Ansible"
##### SUMMARY

As we standardize on terminology (see https://github.com/ansible/ansible/issues/70270) we will need to comb through the docs to update as needed to reflect what is ansible-base, what is Ansible (2.10 and later), what is Ansible (older, 2.9 etc).

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

docs.ansible.com
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

[2020-06-24 18:50] #69930 closed, assigned to relrod

[2020-06-24 18:59] stacmi opened #70273 "Python interpreter discovery not discovering the python interpreter on systems a task delegated to"
##### SUMMARY

I have a system running /usr/bin/python3 as the interpreter. There is an include on a task that is delegated to a system requiring /usr/bin/python to be used as the interpreter. The system that the playbook is being run on is specified by the --limit parameter and interpreter discovery successfully sets the interpreter for that system. However interpreter discovery does not successf

[2020-06-24 19:06] octagonprogramming commented on #70273
Note that setting the `ansible_python_interpreter` on the specific task works but with multiple delegate_to throughout a playbook is a very messy solution and being able to have the interpreter be discovered for a system that a task has been delegated to is the preffered solution

[2020-06-24 19:10] sivel commented on #70273
Is this resolved in 2.9.10?  I believe a fix was included in 2.9.10 for this issue.

[2020-06-24 19:27] octagonprogramming commented on #70273
Will update our controller to that

[2020-06-24 19:40] samdoran commented on #70168
Reopening since the fix for this was reverted in #70272.

[2020-06-24 20:01] felixfontein commented on #35515
Everyone interested in this, please check out the PR. Any help with it (like testing, reviews, or even a quick glance and quick comment) would be appreciated!

[2020-06-24 21:07] rrobe53 opened #70274 "Documentation for Ansible-Galaxy requirements"
##### SUMMARY

ansible-galaxy installs reach out to ansible-galaxy.s3.amazonaws.com, which needs to be documented in some form. Operating in a deny by default environment, tracking down why galaxy installs were being blocked after allowing galaxy.ansible.com was burdensome.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
ansible-galaxy

##### ANSIBLE VERSION
[code]

##### CONFIGURAT

[2020-06-24 21:11] herter4171 commented on #70268
I tried [this suggestion](https://www.reddit.com/r/ansible/comments/hem88z/newbie_trouble_with_python_3_packages/fvtpnk8?utm_source=share&utm_medium=web2xl) for using Python 2, and it worked as it should.  I guess this is discernibly a Python 3 issue.

[2020-06-24 21:23] 11gingerbread opened #70275 "Unable to decode JSON from response to exec_command"
##### SUMMARY

show version command is not successful for aruba_command module
##### ISSUE TYPE
- Bug Report
"msg": "Unable to decode JSON from response to exec_command({\"answer\": null, \"command\": \"show version\", \"prompt\": null}). Received 'None'.",
    "rc": 1
##### COMPONENT NAME

module : aruba_command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2020-06-24 21:34] sivel commented on #70275
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-24 21:34] #70275 closed, assigned to nobody

[2020-06-24 22:47] atc0005 opened #70279 ""Unhandled exception occurred while templating" when upgrading from Ansible 2.9.9 to 2.9.10"
##### SUMMARY

We have a small playbook that we use to quickly set downtime quickly in Nagios. This playbook runs without any discernible problem with Ansible 2.9.9. We upgraded to 2.9.10 and now the playbook no longer works.

This is from the start of the error message:

[code]

and this from the tail end:

[code]

The full error is at the bottom of this issue report.

##### ISSUE TYPE
- Bug Repo

[2020-06-24 23:27] Solace7 opened #70282 "DellOS10_Facts: ansible_net_config is empty/"None""
##### SUMMARY
ansible_net_config variable is not showing running configuration

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
dellos10_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Host OS: CentOS 07 VM (ESXi )
Python version: 2.7.5

Tested On:
Two Dell MX9116n running Dell OS 10.5.0.2.468

##### STEPS TO REPRODUCE

Run playbook to gather dellos10

[2020-06-25 05:11] sunshine69 opened #70285 "azure_rm_deployment_info Null object have no attribute 'get'"
search for azure_rm_deployment_info issues and found none yet

Checkout the devel and search for the file azure_rm_deployment_info.py and not found anywhere. Thus don't know where the file is and no documentation shows.

##### SUMMARY

azure_rm_deployment_info fail to get the azure deployment information with error message

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_depl

[2020-06-25 05:14] kendrickluong opened #70286 "vmware_vm_inventory add ability to filter returned inventory and inventory groups based on tags"
##### SUMMARY
The bundled vmware_vm_inventory plugin does not support features such as filtering vms returned from vmware or dynamically creating inventory groups based on tags.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
vmware_vm_inventory

##### ADDITIONAL INFORMATION
The ansible community seems to have a newer version of this plugin (not sure if its been forked) https://github.com/a

[2020-06-25 05:15] Akasurde commented on #70286
Issue migrated to https://github.com/ansible-collections/vmware/issues/261

[2020-06-25 05:15] #70286 closed, assigned to nobody

[2020-06-25 05:20] sunshine69 opened #70287 "azure_rm_deployment_info - return the correlation_id of the deployment"
Searched and found nowhere

##### SUMMARY

azure_rm_deployment_info - return the correlation_id of the deployment

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

azure_rm_deployment_info

##### ADDITIONAL INFORMATION

The module azure_rm_deployment_info does not return all information. This is fair not to make it too many confusing information that most users don't need.

However I need th

[2020-06-25 05:36] Akasurde commented on #70285
Issue migrated to https://github.com/ansible-collections/azure/issues/174

[2020-06-25 05:36] #70285 closed, assigned to nobody

[2020-06-25 05:36] Akasurde commented on #70287
Issue migrated to https://github.com/ansible-collections/azure/issues/175

[2020-06-25 05:36] #70287 closed, assigned to nobody

[2020-06-25 05:40] Akasurde commented on #70282
Issue migrated to https://github.com/ansible-collections/dellemc.os10/issues/23

[2020-06-25 05:40] #70282 closed, assigned to nobody

[2020-06-25 06:56] kees-closed opened #70288 "conditional statements should not include jinja2 templating delimiters"
##### SUMMARY
Like in #56830 when I place conditionals in a variable and then use that in a 'when' condition, I get the error: `[WARNING]: conditional statements should not include jinja2 templating delimiters such as {{ }} or {% %}. Found: stat_logwatch_distribution.stat.checksum != {{ task }}`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible

##### ANSIBLE VERSION
[code]

##### CONFI

[2020-06-25 06:59] iredmail opened #70289 "mysql_* modules should support `MySQLdb` (fork) module for Python 3."
##### SUMMARY

`mysql_*` modules should supports `MySQLdb` for Python 3.

There's a MySQLdb fork (https://pypi.org/project/mysqlclient/) and under active development, it's the only one mysql module for Python 2 + 3 on OpenBSD 6.7 named `py-mysqlclient` (py2) and `py3-mysqlclient` (py3) (although `pymysql` is available in latest ports tree for next stable release).

[2020-06-25 07:05] Akasurde commented on #70289
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

        Migrated this issue in the above repository - https://github.com/ansible-collections/community.general/issues/579.

        If you have further questions please stop by IRC or the mailing list:

[2020-06-25 07:05] #70289 closed, assigned to nobody

[2020-06-25 07:06] AquaL1te commented on #70288
Solved it for now by conditionally load distribution variables, which includes the hash for each distro, and use that in the when conditional.

[2020-06-25 07:13] Akasurde commented on #30876
@libre-man You can check the return value of `self.container.attach_wait(...` and fail accordingly.

[2020-06-25 08:54] amarao opened #70291 "Ansible-galaxy collection build command includes junk files after tests"
Steps to reproduce:

1. clone community.general
2. Run ansible-test sanity there.
3. Run ansible-galaxy collection build

Expected result: only release files in the archive
Actual result: lot of test files (tests/output/.tmp/sanity, etc) inside the archive.

Ansible-galaxy version: 2.9.10

[2020-06-25 09:09] amarao commented on #70291
!component lib/ansible/galaxy/collection.py
!version 2.9.10

[2020-06-25 09:40] Akasurde commented on #70238
After digging a bit, found that `select.epoll` and `select.poll` is supported in Linux 2.6+. I think ESXi does not support these APIs (at least I didn't find anything related to this). We might need to add backward compatible code for https://github.com/ansible/ansible/pull/65058/files#diff-90085fdcec6ed8b273ba885eaee60328L2331

@abadger Could you please suggest something?

[2020-06-25 11:10] n-st opened #70294 "Meta: documentation bug report template asks for version and config dump"
##### SUMMARY

The issue template "Documentation Report" asks for the output from "ansible --version" and "ansible-config dump --only-changed".
Documentation reports should usually be related to the online documentation, which doesn't require you to run Ansible at all.
It might be more useful to ask for the documentation version (e.g. "latest" or "devel"), or the exact documentation link, which in

[2020-06-25 11:11] n-st opened #70295 "Documentation does not mention that module pull requests are no longer accepted"
##### SUMMARY

The documentation still invites module pull requests, despite them [no longer being accepted](https://github.com/ansible/ansible/pull/24370#issuecomment-585242891): https://docs.ansible.com/ansible/devel/community/maintainers.html#pull-requests

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

maintainers.rst

[2020-06-25 11:14] n-st opened #70296 "Documentation still mentions now-deprecated Lightbulb project"
##### SUMMARY

The documentation still mentions Lightbulb as a workshop-in-development: https://docs.ansible.com/ansible/devel/community/how_can_I_help.html#teach-ansible-to-others
It seems, however, that Lightbulb has been deprecated and replaced: https://github.com/ansible/lightbulb

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

how_can_I_help.rst

[2020-06-25 11:19] n-st commented on #70294
!component -lib/ansible/modules/source_control/github/github_issue.py

[2020-06-25 11:20] n-st commented on #70294
Also, that link is invalid (404) — is that a bug in the bot?

[2020-06-25 11:28] sbanswar opened #70297 "iosxr_banner module issue"
The playbbok get timeout but if have only 2 lines it works, any pointer how to fix even I don't see option to increase timeout.
have tried both Login & Motd options and using Ansible 2.8.4 version

- name: Testing Cisco ASR9K
  hosts: HOSTNAME
  gather_facts: no
  connection: netwotk_cli

  tasks:
    - name: Configure the Login banner
      iosxr_banner:
        banner: login
        text: |

[2020-06-25 11:34] n-st commented on #70296
!component docs/docsite/rst/community/how_can_I_help.rst

[2020-06-25 11:56] sbanswar commented on #70297
Ansible version - 2.8.4
Component - ASR9006

[2020-06-25 12:06] mkrizek commented on #70297
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.iosxr.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/

[2020-06-25 12:06] #70297 closed, assigned to nobody

[2020-06-25 12:31] eolix commented on #70258
Thank you @mkrizek , I have tried `{{ test_password | string | password_hash('sha512') }}` and it worked.

Also, I have tried installing `pip3 install passlib` and now blowfish is working as expected

[2020-06-25 13:19] tomuxi opened #70298 "sysctl: create parameter"
##### SUMMARY

It would be useful for the sysctl module to have a 'create' parameter similar to many other file related modules. This would make it easier to modify settings in a sysctl file only if it already exists. Having create: no would not create the settings file. Having create: yes (default) would create the settings file if it does not yet exist.

##### ISSUE TYPE
- Feature Idea

##### CO

[2020-06-25 13:44] gschoenberger opened #70300 "Ansible is printing a deprecation warning although target host with Ubuntu 20.04 is using python3"
##### SUMMARY
Ansible is printing a deprecation warning although target host with Ubuntu 20.04 is using python3
On target host: python3 is set via alternatives: /usr/bin/python -> /etc/alternatives/python -> /usr/bin/python3

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible.cfg and ansible python platform discovery on target host

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[cod

[2020-06-25 13:47] mkrizek commented on #70298
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.posix.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!foru

[2020-06-25 13:47] #70298 closed, assigned to nobody

[2020-06-25 14:16] sivel commented on #70291
As of f8f76628500052ad3521fbec16c073ae7f99d287 which will be included in the 2.10 release, you can specify additional paths to be ignored during the build phase.

On previous versions you will have to manually clean up files you do not wish to include in the artifact before building.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   *

[2020-06-25 14:16] #70291 closed, assigned to nobody

[2020-06-25 14:31] Akasurde commented on #70295
@n-st You can create new content in [Ansible Community General](https://github.com/ansible-collections/community.general) since it is maintained by the community.

[2020-06-25 14:39] FF186 opened #70301 "VMware plugin dynamic inventory configure hostname"
##### SUMMARY

I'm so happy to finally find that it's been pushed a fix for hostnames when using VMware plugin, but I feel like some docs for usage is missing: #63939

I don't quite get the given example:
[code]
What is `config.name` in this case? Where does this value come from and how do I access it?
When running `ansible-inventory -i inv.vmware.yml --list (--graph)` I don't get the "properties"

[2020-06-25 14:41] n-st commented on #70295
@Akasurde That could be a good addition or replacement for

[2020-06-25 14:49] Akasurde commented on #70295
@n-st Would you be interested in creating a PR for this change? Thanks.

[2020-06-25 15:07] n-st commented on #70295
@Akasurde I think it would be more useful if the documentation was updated by someone who was involved in the decision process behind this new policy. So far, I've personally only heard bits and pieces.

[2020-06-25 16:14] centic9 opened #70304 "Detection of distribution facts fails on Debian Bullseye and Unstable if lsb_release is not available"
##### SUMMARY
When gathering facts for Debian systems, Ansible fails to detect at least "bullseye". The fact "ansible_distribution_release" is "NA".
This seems to be caused by trying to call a shell-command via module.run_command(), but not specifying "use_unsafe_shell=True"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module_utils/facts/system/distribution.py

##### ANSIBLE VERSION
[code]

[2020-06-25 16:18] billdodd commented on #66142
@renxulei You probably will want to recreate this feature issue over in the https://github.com/ansible-collections/community.general repo (where the Redfish modules will reside for Ansible 2.10 and later).

[2020-06-25 16:19] billdodd commented on #67726
@panyy3 You probably will want to recreate this feature issue over in the https://github.com/ansible-collections/community.general repo (where the Redfish modules will reside for Ansible 2.10 and later).

[2020-06-25 16:22] billdodd commented on #51283
@xmadsen If you still think this is worth pursuing, you probably will want to recreate it over in the https://github.com/ansible-collections/community.general repo (where the Redfish modules will reside for Ansible 2.10 and later).

[2020-06-25 16:43] sivel commented on #70304
The `run_command` line should probably be updated, but the initial problem is that the `PRETTY_NAME` regex does not match `/etc/os-release`:

/etc/os-release:
[code]

regex:
[code]

Compare this to buster:
[code]

Something like this may be functional:

[code]

[2020-06-25 17:58] AquaL1te commented on #70288
@mkrizek you're right. Closing.

[2020-06-25 17:58] #70288 closed, assigned to nobody

[2020-06-25 19:21] #70256 closed, assigned to nobody

[2020-06-25 19:35] relrod commented on #70273
needs_info

[2020-06-25 19:39] relrod commented on #70274
This is an implementation detail of Ansible Galaxy that we cannot assert in our docs. Please file this in ansible/galaxy.

[2020-06-25 19:39] #70274 closed, assigned to nobody

[2020-06-25 19:55] sivel commented on #70279
This was the result of 9e00214fb435e6b9ea223d966c2e4d9feecac35f

A minimal reproducer:

[code]

[code]

In my test, `host1` and `host2` are hosts accessible via SSH.

cc @bcoca @mkrizek

[2020-06-25 19:55] #70258 closed, assigned to nobody

[2020-06-25 19:58] relrod commented on #70294
There are cases (such as things relating to `ansible-doc`) where this information is actually useful even in documentation bug reports.

You can write `N/A` for these sections if you don't want to provide that information to skip those portions of the issue template.

[2020-06-25 19:58] #70294 closed, assigned to nobody

[2020-06-25 20:08] jerrac commented on #55590
I just ran into this while testing my package management role. The vagrant generic/debian10 box does not have gpg installed.

The generic/debian9 box fails to add apt keys when I do so via keyserver and id parameters.

[code]
FYI, I'm using monodevelop's repo for testing. No particular reason why.

[2020-06-25 20:21] samdoran commented on #70269
I would only expect to see this if something other than a string is passed to the syslog call. There is most likely something in the contents of the file that are causing the issue. I'm not able to duplicate the issue with the provided example. Could you try running with this patch so we can see the message? Or provide the entire contents of the file that is causing the problem?

[code]

needs_inf

[2020-06-25 20:41] geerlingguy opened #70309 "Install requirements of playbook-local collections automatically"
##### SUMMARY

Recently I had this use case come up and I think the current workflow is a little rocky. I don't know exactly how to make it better, but here's the scenario:

1. Create a new collection in a playbook/project (e.g. create `local.mycollection` inside `./collections/ansible_collections/`).
2. Because something in this collection (e.g. a `container_build` role requires modules from anot

[2020-06-25 21:12] beH3uH opened #70311 "Ansible stops the playbook when task fails inside include loop"
##### SUMMARY

When trying to loop through a list with "include_tasks", if any task fails, the whole playbook fails instead of only the item iteration.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

include*

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

redhat 7/ centos 7

##### STEPS TO REPRODUCE

Make a playbook to include tasks with with_items or lo

[2020-06-25 21:14] beH3uH commented on #70311
Forgot to mention, the documentation doesn't mention this behaviour:
_**The primary advantage of using include* statements is looping. When a loop is used with an include, the included tasks or role will be executed once for each item in the loop.**_
See [https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse.html#tradeoffs-and-pitfalls-between-includes-and-imports](link)

[2020-06-25 21:26] abadger commented on #70238
Looks like a bug in the python stdlib selectors implementation (or in the ESXi implementation of python.. I'm unsure from the description, which it is).  We have a bundled copy of a backport of the selectors code so it is likely affected as well. Any fux should likely go to all three places (the stdlib, upstream backport, and our bundled copy).

You'll need to first discover which selectors do wor

[2020-06-25 22:31] sgreiner commented on #62738
Would also be useful for the mysql_user module which is warning if we don't specify no_log: yes.
In the output we don't see what is going on now.

Example:

This
[code]
gives this "great" output:
[code]

[2020-06-25 23:49] #68024 closed, assigned to nobody

[2020-06-26 02:19] Akasurde commented on #70301
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vmware

Migrated this issue in the above repository - https://github.com/ansible-collections/vmware/issues/262.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* ma

[2020-06-26 02:19] #70301 closed, assigned to nobody

[2020-06-26 02:39] Akasurde commented on #70304
@centic9 Please use `https://github.com/ansible/ansible/blob/devel/hacking/tests/gen_distribution_version_testcase.py` and provide the output. Thanks.

[2020-06-26 08:58] mkrizek commented on #70279
@sivel I am confused about the `connection: local` in your reproducer. I was able to reproduce the issue with the following:
[code]

[2020-06-26 09:25] mkrizek commented on #70279
The recursion error is caused by the fact that we end up with `'ansible_user': u'{{ ansible_user|default(omit, true) }}'` in `delegated_vars` which is created in https://github.com/ansible/ansible/blob/3479803520bf27817207ac6d37855143d4ab0986/lib/ansible/playbook/play_context.py#L266

The first exception is then thrown when we try to template `ansible_user`:
https://github.com/ansible/ansible/blob

[2020-06-26 09:44] centic9 commented on #70304
Thanks for the test-script. This actually enabled me to find out more details that play into this:

the problem only happens if the command lsb_release is not available, e.g. in a minimal system where the package lsb-release is not installed.

Without lsb_release being installed, the output of the tool is: https://gist.github.com/centic9/27c40534c5f86e6b6b0c86743a2b2b65

[code]

With lsb_release b

[2020-06-26 10:01] mkrizek commented on #70279
2.9.10:
[code]

2.9.9:
[code]
In `2.9.9` `delegated_vars['ansible_delegated_vars']['host']['vars']['ansible_user']` was created via
https://github.com/ansible/ansible/blob/26e8474f6dd4a9c4756cdfab036861a1ee2574b2/lib/ansible/vars/manager.py#L571-L577

The above code was removed in 9e00214.

[2020-06-26 10:27] jeanfabrice opened #70320 "set_fact variables used in delegated tasks get undefined"
##### SUMMARY
variables created with `set_fact`module and later re-used in `delegated_to` tasks gets undefined in the tasks

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

MacOS, Linux

##### STEPS TO REPRODUCE

1. Create a playbook that set 2 variables using `set_fact`
2. Use those facts as variables in a `delegated_to` tasks

[code]

#

[2020-06-26 10:51] Akasurde commented on #70304
@centic9 Thanks for providing the output.

[2020-06-26 12:03] AlanCoding commented on #63341
@s-hertel providing confirmation of fix, by pulling up the original material I used for this issue

[code]

Closing as fixed.

[2020-06-26 12:03] #63341 closed, assigned to nitzmahone

[2020-06-26 12:06] #63210 closed, assigned to nobody

[2020-06-26 12:38] ryanpetrello opened #70323 "Ansible hostvars with dashes in names perform math in Python 3.6"
##### SUMMARY
Hostvars that contain dashes unexpectedly are interpeted as integers, and math (subtraction) is performed, but seemingly _only_ in Python 3.6 (not Python 3.7 or Python 3.8).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`ansible-inventory`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
[code]

##### STEPS TO REPRODUCE

[code]

Does *not* wor

[2020-06-26 12:56] JoelKle commented on #66916
I think I found where the problem is. Looks like there is a bug in the `libyaml-0-2` libary on a Ubuntu 20.04 Focal.

The `to_nice_yaml` Ansible filter use the `pyyaml` python module. As described in the off. Ansible docs.
The `pyyaml` python module use the underlying C lib `libyaml-0-2`. I think there is bug in this C lib.

When I remove this underlying libyaml from my Ansible host system, this f

[2020-06-26 13:02] mkrizek commented on #70279
https://github.com/ansible/ansible/blob/3479803520bf27817207ac6d37855143d4ab0986/lib/ansible/executor/task_executor.py#L507-L516

It seems that we see this bug now because templar uses only `delegated_vars` which has `'ansible_user': u'{{ ansible_user|default(omit, true) }}'`.

While in `2.9.9` we used all vars where `ansible_user` was not defined and so `omit` was used.

[2020-06-26 13:17] sivel commented on #70279
That's my mistake, it wasn't in my reproducer, I added it while making that comment, and after testing, meant to remove it.

[2020-06-26 13:19] tomdeblende commented on #68684
The issue is still there in 2.9.10.

[2020-06-26 13:22] sivel commented on #70323
This is somewhat expected.  The `ini` inventory plugin, has the following in it's [documentation](https://docs.ansible.com/ansible/latest/plugins/inventory/ini.html):

As such, you are at the mercy of the python versions implementation of `ast.literal_eval` when using this inventory format.  The behavior changes throughout the lifetime of Python, such as python2 converting `1L` to `1` and Python 3

[2020-06-26 13:22] #70323 closed, assigned to nobody

[2020-06-26 13:28] giondo commented on #41977
Hi
Any update on this feature?

[2020-06-26 13:30] czenderink opened #70324 "postgresql_db module doesn't use the correct postgres restore command"
##### SUMMARY
postgresql_db with the state restore doesn't use pg_restore but psql instead. Therefore is also doesn't support the pg_restore arguments like the description of the target_opts suggests in the documentation

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
postgresql_db module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
source Catalina 10.15.5

[2020-06-26 13:49] Akasurde commented on #70324
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Migrated this issue in the above repository - https://github.com/ansible-collections/community.general/issues/588.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on

[2020-06-26 13:49] #70324 closed, assigned to nobody

[2020-06-26 13:58] Akasurde commented on #29922
I am no longer able to reproduce this error. Closing this. Please feel free to open a new issue to [`community.aws`](https://github.com/ansible-collections/community.aws), since this module is moved to this repo.

Thanks.

[2020-06-26 13:58] #29922 closed, assigned to nobody

[2020-06-26 14:01] Akasurde commented on #29911
Closing this. As code is refactored. Please feel free to open a new issue in [`community.aws`](https://github.com/ansible-collections/community.aws) since this module is moved in this repo.

Thanks.

[2020-06-26 14:01] #29911 closed, assigned to nobody

[2020-06-26 14:19] Akasurde commented on #29546
`ec2_ami_find` removed in Ansible 2.9 in favor of [`ec2_ami_info`](https://docs.ansible.com/ansible/2.9/modules/ec2_ami_info_module.html). Closing this issue.

[2020-06-26 14:19] #29546 closed, assigned to nobody

[2020-06-26 14:31] bcoca commented on #70279
This is a useless statement, if ansible_user exists it already overrides remote_user, so any value will be ignored .. making it the same as the value that already overrides it  doesn't accomplish anything.

[2020-06-26 14:55] felixfontein commented on #70134
A part of the problem seems also to be that ansible-base's ansible_builtin_runtime.yml `plugin_routing.module_utils` seems to have been created with the idea of flatmapping in mind, since no subdirectories are mentioned (except in the examples @nitzmahone added in the routing PR). For example, in pre-ansible-base, there were 10 files called `common.py`: `podman/common.py`, `azure_rm_common.py`, `k

[2020-06-26 14:56] bcoca commented on #70320
This is because connections get evaluated in the context of the host doing the connection, not the invenotry_hostname in this case since you delegate, you are setting the facts for inventory_hostname, NOT the delegated host.

This gives you a 'false positive' since it will display the vars for the inventory_hostname, which is correct, but it is not resolving it in the delegated host context (only

[2020-06-26 15:07] samdoran commented on #21639
Closing since this was resolved by #38861.

[2020-06-26 15:07] #21639 closed, assigned to nobody

[2020-06-26 15:15] samdoran commented on #47808
This module has moved to https://github.com/ansible-collections/vmware. Please open the issue there if this is still a problem.

[2020-06-26 15:15] #47808 closed, assigned to nobody

[2020-06-26 15:18] jeanfabrice commented on #70320
Thanks.

Just tried the following play:
[code]

Which now fails this way:
[code]

But, I got a success with that:
[code]

any thoughts on this?

That sounds a major / breaking change to me as I always thought that current host facts should be available to delegated host

[2020-06-26 15:19] samdoran commented on #40496
This is still an issue with current docs. We should clarify this.

ping @acozine

[2020-06-26 15:19] samdoran commented on #49227
To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-06-26 15:19] #49227 closed, assigned to nobody

[2020-06-26 15:20] bingzhangdai opened #70325 "docker-compose module will modify fact"
##### SUMMARY

docker-compose module will accidentally modify the gathered facts.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_compose

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

**Local**:
`Linux DAVID-SB2 4.4.0-19041-Microsoft #1-Microsoft Fri Dec 06 14:06:00 PST 2019 x86_64 x86_64 x86_64 GNU/Linux`
Python: 3.6.9
**remote**
`Debian 4.19.11

[2020-06-26 15:21] sivel commented on #70325
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-06-26 15:21] #70325 closed, assigned to nobody

[2020-06-26 15:25] samdoran commented on #44570
This module was moved to https://github.com/ansible-collections/vmware. If this is still an issue, please open a new issue there.

[2020-06-26 15:25] #44570 closed, assigned to nobody

[2020-06-26 15:39] Akasurde commented on #44570
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vmware

Migrated this issue in the above repository - https://github.com/ansible-collections/vmware/issues/263.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* ma

[2020-06-26 15:44] samdoran commented on #31503
We have no plans to implement this feature at this time. This could be implemented in a custom callback plugin in a collection.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2020-06-26 15:44] #31503 closed, assigned to nobody

[2020-06-26 15:46] julie-blake-verizon opened #70327 "Issue with Windows AD password in inventory vars"
##### SUMMARY
Setting the Windows AD password in inventory vars isn't working.
It works okay for Linux or even on Windows with a local user account.
This happens when the inventory is in INI or YAML format.
When password is setup in a group's vars it isn't working, but if it gets assigned to the host directly it is.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
credssp.py ???

##### ANSIBLE

[2020-06-26 15:49] samdoran commented on #32094
This should be a feature request against [ansible-lint](https://github.com/ansible/ansible-lint).

[2020-06-26 15:49] #32094 closed, assigned to nobody

[2020-06-26 16:01] samdoran commented on #43989
@sivel Is this related to deepdish for 2.6? Is this something we want to fix?

[2020-06-26 16:20] bcoca commented on #70320
the lack of hostvars is a bug .. the part of using
"delegated host's vars for connection" is expected, as using the inventory_hostname would be incorrect:
[code]

As the following you would expect to use the delegated host info and not the inventory host one
[code]

[2020-06-26 16:38] sprive commented on #29451
The way this issue has been handled is disappointing, to phrase it nicely. _Please urgently consider fixing the documentation, which has been updated many times in the 3 years since this issue was filed._

The APT module states you can declare specific package versions:
* https://docs.ansible.com/ansible/latest/modules/apt_module.html#parameter-state

There's even an example. But the example only

[2020-06-26 16:44] jeanfabrice commented on #70320
Ok, I understand the expected behavior. This is a major change in my understanding of `delegate_to`.

Would you like me to open a new issue regarding the lack of hostvars, with a proper example?

[2020-06-26 16:45] bcoca commented on #70320
yes please

[2020-06-26 17:26] herter4171 commented on #70268
I talked to the `#ansible-aws` folks, and it was found that deleting the line below from my playbook made things work.  That's the path I get from `which pip3`, so I'm not sure why that didn't work.  Ah well, though, I think it's reasonable to call this closed.
[code]

[2020-06-26 17:27] #70268 closed, assigned to nobody

[2020-06-26 18:25] jeanfabrice opened #70334 "hostvars not available in delegate_to tasks"
##### SUMMARY
hostvars not available to delegate_to tasks

Related to #70320

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

MacOS, Linux

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

hostvars to be defined in delegate_to tasks

##### ACTUAL RESULTS

[code]

[2020-06-26 20:23] emmm-dee commented on #56930
When I set `force_valid_group_names = ignore` the **WARNING** went away, but the **DEPRECATION NOTICE** did not go away.

Finally I found in the docs: `force_valid_group_names = silently` which will do the replacement and won't clog up the output - if that's what you're looking to do.

Nonetheless, this whole issue could have been avoided in the first place if pointless changes like this weren't m

[2020-06-26 20:50] keithjpaulson commented on #61445
Not sure if this is still an issue, but a workaround is to replace
- "{{  masterInstances }}"
with
- "{{  masterInstances.resources[0]  }}"

[2020-06-26 21:02] schnipdip opened #70335 "Tags Referecncing a non-tagged variable"
##### SUMMARY
When running a playbook and calling a specific task within the playbook with 'tags', it's referencing a tasks variables that has no affiliation with the tagged task.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Module: Tags

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
![image](https://user-images.githubusercontent.com/23109762/85900675-3515f980-b7ce-11ea-8399-f

[2020-06-26 21:09] sivel commented on #70335
The problem is that `meta` tasks do not support `tags`.  As such your `meta` task is not excluded when using `--tags` on the CLI.

Duplicate of https://github.com/ansible/ansible/issues/64558

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-06-26 21:09] #70335 closed, assigned to nobody

[2020-06-26 22:03] spikewang commented on #70184
Thanks @karibou and @samdoran. We will tweak our playbooks too.

[2020-06-26 23:35] eduardomazolini commented on #58325
Same for me.
user@domain is my user from Radius

[2020-06-27 00:27] relrod opened #70337 "items2dict gives "KeyError 'key'" with invalid key/value pair"
##### SUMMARY

We should probably render something a bit nicer with invalid key/value data, especially because items2dict/dict2items are fairly unintuitive functions. Probably something that briefly explains what the purpose of key/value are so the user can get them right.

##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION
devel

##### COMPONENT NAME

plugins.filter.core

[2020-06-27 00:54] relrod commented on #70337
!component =lib/ansible/plugins/filter/core.py

[2020-06-27 03:52] schnipdip opened #70338 "Tags can not be used to skip the Meta module"
##### SUMMARY

Update `Meta` module documentation [https://docs.ansible.com/ansible/latest/modules/meta_module.html](url) to warn Ansible users that the `Meta` module is not skipped when using tags.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

Module: `Meta`
https://docs.ansible.com/ansible/latest/modules/meta_module.html

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[cod

[2020-06-27 04:20] zoredache opened #70339 "known_hosts module breaks when using @cert-authority keys"
##### SUMMARY

If I attempt to add a key for `host.example.com` ansible removes my `@cert-authority *.example.com`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
known_hosts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

Completely default

##### OS / ENVIRONMENT

Docker image on amd64 running debian:buster-slim    image id: 43e3995ee54a
Installed via pip

##### STEPS TO REPRODUCE

pla

[2020-06-27 04:33] schnipdip commented on #70156
Would it be possible to integrate searchable tags?

[2020-06-27 05:50] Yajo commented on #70191
According to my tests, that doesn't happen.  Is there any special thing to doto make that work?

[2020-06-27 06:24] mdavis-xyz opened #70341 "archive exclude_path doesn't work"
##### SUMMARY

Yes I know this module is probably maintained in some other repo.
But I don't know how to figure out what other repo it's in.
Please tell me how to figure out where to report this issue.

The issue is that the `exclude_path` parameter to the `archive` module is ignored.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

archive

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[2020-06-27 07:46] jborean93 commented on #70191
You would need to ensure the collection is in a loadable path, i.e. under `~/.ansible/ansible_collections/<namespace>/<name>`. You can set your own paths with [ANSIBLE_COLLECTIONS_PATHS](https://docs.ansible.com/ansible/latest/reference_appendices/config.html#collections-paths) but bare in mind the paths specified under this config option still needs to have a `ansible_collections` directory which

[2020-06-27 10:22] bmillemathias-1a commented on #70218
Hi @niharvarma1247

I'm not developer, but have you the chance to try with a new version of ansible if the problem is solved ?
Does it happen only with splunk callback or have you tried with other callbacks plugin ?

Could you also, as requested when you opened the bug, provided the output of the command `ansible-config dump --only-changed`

Best.

[2020-06-27 10:40] bmillemathias-1a commented on #68024
Seems to be fixed in branch `devel` https://docs.ansible.com/ansible/devel/reference_appendices/playbooks_keywords.html

[2020-06-27 13:38] richard-viney commented on #51663
We had a similar issue with Ansible package installs randomly and non-deterministically failing on Ubuntu 18.04 running on EC2 instances. We tried explicitly uninstalling the unattended-upgrades packages prior to Ansible being run, but that din't seem to help.

Ended up adding the following workaround which improved things quite a lot:

[code]

A proper fix would be great.

[2020-06-27 16:07] garbled1 commented on #68684
My system is a debian 10 server, and also, use: debian failed on 2.9.10.  Removing the use: line as suggested worked, but still confusing.

[2020-06-27 16:09] Akasurde commented on #70339
resolved_by_pr #70340

[2020-06-27 16:12] bmillemathias-1a commented on #36388
The component is wrong, and now the bug should be moved to project ansible-collections/ansible.netcommon

[2020-06-27 16:18] Akasurde commented on #29236
resolved_by_pr #70342

[2020-06-27 16:18] Akasurde commented on #29236
@ansibot, Could you please check PR #70342 and let us know if it works for you ? <br><br>Thanks. <br><br> needs_info

[2020-06-27 16:18] Akasurde commented on #70341
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Migrated this issue in the above repository - https://github.com/ansible-collections/community.general/issues/593.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on

[2020-06-27 16:18] #70341 closed, assigned to nobody

[2020-06-27 18:34] bmillemathias-1a commented on #63597
Hi @sivel
if this bug is a duplicate, shouldn't it be closed ?

[2020-06-27 18:45] bmillemathias-1a commented on #67122
Hi @devnewton

As Ansible is moving to a collection based modules, Openstack bug and feature should be reported to https://review.opendev.org/#/q/project:openstack/ansible-collections-openstack
Could you open this very bug there ?

Thanks

[2020-06-27 18:47] bmillemathias-1a commented on #61681
@acozine @samdoran
Any idea for this one ?
- Delete the doc
- Rewrite it (but requires manpower)

Best.

[2020-06-27 19:32] bmillemathias-1a commented on #36388
next_nth_usable is already documented

[2020-06-27 21:43] xeijin commented on #58759
same thing happens for me with the following `zfs_extra_properties`:

[code]

[code]

[2020-06-27 23:07] ifelsefi commented on #29698
Still an issue in 2.9.9.

[code]
Error:

[code]

[2020-06-27 23:15] plashenkov opened #70346 "become_user: www-data gives unsuppressable warning"
Hi,

I'm trying to run command as www-data:

[code]

Which gives me a warning:

[code]

What, what does it want from me? What am I doing wrong?
I can't even suppress this warning (command's `warn: no` doesn't help at all).
The same is true for shell module.

---

##### ISSUE TYPE
- [x] Bug Report

##### COMPONENT NAME
- [x] command_module
- [x] shell_module

##### ANSIBLE VERSION
[code]

##### OS

[2020-06-28 05:40] Akasurde commented on #36388
resolved_by_pr #70343

[2020-06-28 10:29] Akasurde commented on #29398
Closing this as PR #56408 fixes this issue. Thanks @blake.

[2020-06-28 10:29] #29398 closed, assigned to nobody

[2020-06-28 10:45] Akasurde commented on #29185
Foreman dynamic inventory is replaced with [`Foreman dynamic inventory plugin`](https://github.com/theforeman/foreman-ansible-modules/blob/master/plugins/inventory/foreman.py). Also, Foreman modules and plugins are migrated to [`theforeman.foreman`](https://github.com/theforeman/foreman-ansible-modules). Please file a new issue against this repo.

Thanks.

[2020-06-28 10:45] #29185 closed, assigned to nobody

[2020-06-28 13:34] bmillemathias opened #70348 "loosing all ansible binaries when pip upgrade from 2.9 to 2.10.0a1"
## SUMMARY
When I followed the instructions provided in the mailing list to upgrade using a virtualenv ansible to 2.10.0a1 I lost all the binaries (ansible-playbook, ansible, …).
To get them back I had to do a pip install ansible --force
I reproduced the problem on another installation.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
pip packaging

##### ANSIBLE VERSION

[code]

##### CONFIGU

[2020-06-28 13:37] felixfontein commented on #70348
The problem is that the Pypi package ansible 2.9 is removed by pip after installing ansible-base 2.10 (and before installing ansible 2.10), which removes the binaries (and probably also most of the things contained in lib/ansible).

This will cause a lot of pain, and it seems hard to avoid this, except by documenting it and warning users that they need to uninstall ansible 2.9 *before* installing

[2020-06-28 14:53] Akasurde commented on #18954
Tracking under https://github.com/ansible/ansible/issues/70339

[2020-06-28 14:53] #18954 closed, assigned to nobody

[2020-06-28 15:10] bmillemathias-1a commented on #70348
-label packaging

[2020-06-28 16:17] bmillemathias commented on #68036
hi @samdoran and @nicolaibaralmueller
Since the scope could the issue be renamed to something more accurate?

Best.

[2020-06-28 16:25] bmillemathias commented on #70172
Did you think about #68036 ?

[2020-06-29 01:49] juliakreger commented on #67122
@devnewton @bmillemathias-1a Greetings, the link you likely want to file a bug for that project is https://storyboard.openstack.org/#!/project/1164

[2020-06-29 06:43] Akasurde commented on #70238
resolved_by_pr #70352

[2020-06-29 06:43] Akasurde commented on #70238
@julien-lang, Could you please check PR #70352 and let us know if it works for you ? <br><br>Thanks. <br><br> needs_info

[2020-06-29 06:48] Akasurde commented on #70238
Before

[code]

After #70352

[code]

[2020-06-29 07:57] mkrizek commented on #70338
Note that there is a pull request implementing this functionality https://github.com/ansible/ansible/pull/67508 so if we were to mention that tags cannot be used to skip meta tasks in the docs we need to make sure to remove it once #67508 is merged.

[2020-06-29 08:17] #70320 closed, assigned to nobody

[2020-06-29 08:27] Akasurde commented on #70296
resolved_by_pr #70353

[2020-06-29 08:27] Akasurde commented on #70296
@n-st, Could you please check PR #70353 and let us know if it works for you ? <br><br>Thanks. <br><br> needs_info

[2020-06-29 08:34] mkrizek commented on #70346
The issue description does not indicate what shell plugin you are using so I am going to use the `sh` shell plugin as an example, see https://docs.ansible.com/ansible/latest/plugins/shell/sh.html.

As the warning suggests it means that ansible cannot access (`[Errno 13] Permission denied: '/var/www/.ansible'`) the remote temporary directory (https://docs.ansible.com/ansible/latest/plugins/shell/sh

[2020-06-29 08:34] #70346 closed, assigned to nobody

[2020-06-29 09:02] kruge002 opened #70354 "loop_control pause does not pause the execution of the tasks included using include_tasks"
##### SUMMARY
The "include_tasks" feature with a loop having a loop_control with a pause only pauses the inclusion of the tasks. It does not pause the execution of these tasks which starts after the last task has been included.
Current behaviour: Include first - Pause - Include second - Pause - Include third - Execute first - Execute second - Execute third.
Expected behaviour: Include first - Exec

[2020-06-29 11:28] plashenkov commented on #70346
Thank you for the answer!

I've reported it here since `warn: no` doesn't suppress this message.

[2020-06-29 11:44] plashenkov commented on #70346
And for some reason warning doesn't show in handlers.

[2020-06-29 11:49] mkrizek commented on #70346
Understood, no worries, just pointing that out.

Note that `warn: no` does not turn off ansible's warning but warnings of the command module itself. Please see https://docs.ansible.com/ansible/latest/reference_appendices/config.html#command-warnings and https://docs.ansible.com/ansible/latest/modules/command_module.html#parameter-warn.

[2020-06-29 11:54] plashenkov commented on #70346
Got it. Thanks, Martin!

[2020-06-29 11:59] m-bucher opened #70357 "AnsibleUnsafeText not casted to basestring when calling from_yaml"
##### SUMMARY

Using a Jinja2 expression using `lookup()` and `from_yaml` produces an error, if the C-Extension of PyYAML is used.
The reason seems to be that Ansible's `from_yaml`-filter calls the YAML-parser with an instance of `AnsibleUnsafeText`
The C-extension of PyYAML explicitly denies subclasses of string/basestring: https://github.com/yaml/pyyaml/blob/23c952fe08b2e7ea0f8d7673f45b17547e331

[2020-06-29 13:10] bmillemathias-1a opened #70359 "delegate_to on a host actually connect to localhost"
### SUMMARY
I have a playbook using localhost as hosts because it target openstack API.
at some point we do a add_hosts to put a machine created into a group, then the next tasks uses `delegate_to: "{{ openstack_machine }}"` however the tasks are run on localhost.
The problem appeared on 2.9.10 only and I know the issue #70334 I want to make sure this is the same root cause because there is no pro

[2020-06-29 13:16] mkrizek commented on #70359
You linked https://github.com/ansible/ansible/issues/70334 but did not mention hostvars in your report. Can you provide a simple reproducer of your issue?

Alternatively, would you be able to test https://github.com/ansible/ansible/pull/70293 to see if it fixes your issue? Thanks!

[2020-06-29 13:18] bmillemathias-1a commented on #70359
I'm trying to

Thanks

[2020-06-29 13:45] jan-hudec opened #70360 "Ansible setup fails to detect domain of server"
##### SUMMARY

`ansible_facts.domain` is empty and `ansible_facts.fqdn` contains only the hostname even though `hostname -f` on the server works correctly.

There are two ways to make `hostname -f` work. Either have DNS set up and include the domain in `search` in `/etc/resolv.conf`, or have a record for the qualified and unqualified hostname in `/etc/hosts`. I am using the former approach as it i

[2020-06-29 13:48] lovilak opened #70361 "json.decoder.JSONDecodeError with win_copy module"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION
ansible 2.9.5
  config file = /opt/ansible/ansible.cfg
  configured module search path = ['/opt/ansible/projects/lib']
  ansible python module location = /opt/ansible29/venv/lib/python3.7/site-packages/ansible
  executable location = /opt/ansible29/venv/bin/ansible
  python version = 3.7.3 (default, Fe

[2020-06-29 13:58] sivel commented on #70354
This is expected, although to understand why, requires a better understanding of what includes are.

Includes themselves are fake tasks, that are actually just triggers to execute functionality within the execution engine of Ansible.

As such, the `include_tasks` is the actual task, but because it's not a real task, it short circuits the task executor code.  Even if we were to address this current

[2020-06-29 13:58] #70354 closed, assigned to nobody

[2020-06-29 14:17] Arenaos opened #70362 "httpapi checkpoint connection cannot specific domain"
##### SUMMARY
Issue is closed with #63890 but i'dont find any solution to specify a domain to connect on.

What is the var to use to specify wich domain (mds solution checkpoint).

##### ISSUE TYPE
- Bug Report

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Var to specify the multi domain server name for CheckPoint R80.40

##### AC

[2020-06-29 14:18] mkrizek commented on #70362
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!for

[2020-06-29 14:18] #70362 closed, assigned to nobody

[2020-06-29 14:30] sivel commented on #70357
Related PR: https://github.com/ansible/ansible/pull/65002

We could potentially merge the above, and use it within `from_yaml`, as this fits the use case and description of `unwrap_var`:

[2020-06-29 14:51] jan-hudec commented on #70360
The bug has been reported to python ~11 years ago as [Issue 5004](https://bugs.python.org/issue5004). It does not seem to be fixed. But even when it is, Ansible might want to carry the corrected version for the benefit of systems installed from stable distributions and therefore carrying ancient builds of Python.

[2020-06-29 14:52] jan-hudec commented on #70360
… the Python issue also carries reference to this fixed version of the `getfqdn()` function: https://github.com/borgbackup/borg/pull/3484/commits/9b0d0f3127289fc3bbe620e8adce8038ed594e9f#diff-4b53f84e19a3bb376bf2202371ed269aR188

[2020-06-29 14:56] sivel commented on #70337
We do have docs for both of these at:

https://docs.ansible.com/ansible/devel/user_guide/playbooks_filters.html#transforming-dictionaries-into-lists
https://docs.ansible.com/ansible/devel/user_guide/playbooks_filters.html#transforming-lists-into-dictionaries

I suppose we could update the code to catch `KeyError` and provide some minimally useful messaging.

[2020-06-29 14:57] sivel commented on #70360
Changing this code to use something other than `socket.getfqdn` could be seen as a backwards incompatible change.  Changing it could have adverse affects on users playbooks.

[2020-06-29 15:00] HRio commented on #66679
@samdoran had you had a chance to look into this? thanks.

[2020-06-29 15:02] sivel commented on #65440
From my perspective, the only approach we are likely to entertain at this point in time is option 1.

Here is a proof of concept that would need tested:

[code]

[2020-06-29 15:35] joelcollin opened #70364 "Same AnsibleModule.warn from multiple hosts shows only once"
##### SUMMARY
When a module is invoked concurrently on more than one host and a module warns on more than one host with the same warning string, the warning is displayed only once and it does not seem possible to determine on which managed node the warning was emitted.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
AnsibleModule

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##

[2020-06-29 15:46] julien-lang commented on #70238
@Akasurde, I checked #70352 and confirmed it works for me.

Thanks!

[2020-06-29 15:48] jan-hudec commented on #70360
@sivel, the facts are called `domain` and `fqdn` (= ‘fully qualified domain name’). They sometimes return what they say, and sometimes they don't return the domain, because the underlying `socket.getfqdn` function is broken. There is some logic behind where it is broken, but when does it make sense to use the fact something is broken?

But if you really think backward compatibility is needed, ther

[2020-06-29 15:49] mkrizek commented on #70364
This is done on purpose to prevent duplicate warnings (deprecations/errors) being printed and polluting the output.

[2020-06-29 15:50] sivel commented on #70360
You seem to assume that I had some specific agenda or opinion on this matter.  I am simply providing a data point that should be taken into account when deciding what, if anything, should be done with this issue.

[2020-06-29 15:58] jan-hudec commented on #70360
@sivel, well, I am explaining why I think it's unlikely somebody depends on the current behaviour, because it is inconsistent.

[2020-06-29 16:08] joelcollin commented on #70364
@mkrizek while the intentions are noble, it makes the warning impossible to associate with the host on which they happen at normal verbosity levels. For deprecation warnings, there is already a configuration (DEPRECATION_WARNINGS) that controls whether or not they are shown. Some modules (shell, command) have module-level warn toggles to block "pollution".

I understand that historical context may

[2020-06-29 16:59] javierwilson commented on #29236
I confirm this works, thanks!

[2020-06-29 17:13] javierwilson opened #70367 "service module: pattern parameter needs clarification"
##### SUMMARY
The paragraph "If the service does not respond to the status command, name a substring to look for as would be found in the output of the ps command as a stand-in for a status result."
makes it sound like ansible will try first to see if status command works and then try the pattern, but source code
[code]
seems to indicate that if pattern is found, then it will not use 'service stat

[2020-06-29 17:28] samccann commented on #67621
@abadger - how much of this is now part of the docs pipeline?

[2020-06-29 17:48] Shrews commented on #67122
As stated above, this module has been moved to an external collection (https://opendev.org/openstack/ansible-collections-openstack.git) and needs to be handled there. As such, closing this one.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-06-29 17:48] #67122 closed, assigned to nobody

[2020-06-29 17:55] mszumilak commented on #66641
Fix implemented in #69748 works.
Upgrading Ansible to 2.9.10 solved the issue.

[2020-06-29 17:55] #66641 closed, assigned to nobody

[2020-06-29 18:36] bmillemathias-1a commented on #67122
Created the request https://storyboard.openstack.org/#!/story/2007873

[2020-06-29 19:06] #70296 closed, assigned to nobody

[2020-06-29 19:25] sg-burtsev commented on #28770
As problem is still actual, this is my approach.
I created a module in `module_utils` directory as usual and placed it in the config:
[code]
Then I tried to load this module into a custom Action plugin with `module_utils_loader`:
[code]
But it was unsuccessful:
[code]
So I had to add a little hack into my module:
[code]
Thus you could use your module_utils in modules and in plugins as well.

[2020-06-29 19:46] Shrews commented on #67170
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.posix

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ans

[2020-06-29 19:46] #67170 closed, assigned to nobody

[2020-06-29 19:51] jpsmeets-work opened #70371 "Ansible looses role variable when include_roles nested 4 levels"
##### SUMMARY
Ansible looses default role variable when include_roles nested 4 levels deep.
We have a a role with a default variable. This is the role_l1.
role_l1 includes role_l2, role_l2 includes roles_l3, role_l3 include role l4
In role_l4 the variable from role_l1 becomes undefined.

In the actual production code the variable in role_l1 becomes undefined even when the lower roles role_l2 .. ro

[2020-06-29 19:53] sivel commented on #70371
Duplicate of https://github.com/ansible/ansible/issues/47023

[2020-06-29 19:53] #70371 closed, assigned to nobody

[2020-06-29 20:07] razbag opened #70372 "vmware_guest_disk: cannot choose between two datastores with parameter autoselect_datastore: True"
##### SUMMARY

Trying to Deploy VM from template and  I want to use
autoselect_datastore: True paramter only for  specific datastores
for example I have three datastores ds-r1 ds-r5 and ds-r10

I want to use autoselect_datastore only for this two datastores  ds-r5 and ds-r10 and I want that system automatically choose with less used datastore
But I can't
I try with list items it is not working

If

[2020-06-29 20:07] Shrews commented on #65818
The behavior you are experiencing appears to be caused by you specifying an empty marker value:

[code]

Because of that, it's going to match blank lines in the file as the location to place the block of text. You need to use a non-empty value, like:

[code]

When you use `insertbefore: BOF` with a proper marker value, it will place the block (and begin/end markers) at the top of the file. The mod

[2020-06-29 20:07] #65818 closed, assigned to nobody

[2020-06-29 20:12] sivel commented on #70372
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vmware

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/

[2020-06-29 20:12] #70372 closed, assigned to nobody

[2020-06-29 20:39] sivel commented on #70367
This is correct, it is up to the playbook author to know whether it responds to `status`, and if not, to provide a string that is used instead of service status.  It is not a fallback, it is an explicit choice for the author.

[2020-06-29 20:48] Donny-Ta opened #70374 "IOSXR_CONFIG Replace Config Not Working as Intended for NCS 5500 (7.1.2.17I) vs NCS 540 (7.2.1.34I)"
##### SUMMARY
I am writing a playbook that will backup and replace the running config on several network devices. I was testing the replace functionality using an NCS 540 and that worked as intended. When I run the replace against an NCS 5500, it did not work and I get an error. There are 3 differences that I can tell when I run the replace: 1) the chassis 2) the OS version and 3) the running conf

[2020-06-29 20:59] sivel commented on #70374
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.iosxr

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!f

[2020-06-29 20:59] #70374 closed, assigned to nobody

[2020-06-29 21:26] #69834 closed, assigned to nobody

[2020-06-29 23:04] nitzmahone commented on #28770
Not sure what you're trying to accomplish here, but this is almost certainly not the right way to do it. You can do this trivially with a playbook-adjacent collection in 2.8+ with no such hackery required.

[2020-06-29 23:05] nitzmahone commented on #28770
I'm actually going to close this issue, since collections satisfies the original request...

[2020-06-29 23:05] #28770 closed, assigned to nobody

[2020-06-30 05:13] Akasurde commented on #29236
@javierwilson Thanks for confirmation.

[2020-06-30 05:19] Akasurde commented on #70010
PR #70040 merged.

Backport 2.10 - https://github.com/ansible/ansible/pull/70379

[2020-06-30 05:19] #70010 closed, assigned to nobody

[2020-06-30 05:38] aoshfan commented on #61635
Please fix this problem on the next release.
It's still not been fixed yet.
`ansible 2.9.6
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/aoshfan/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3/dist-packages/ansible
  executable location = /usr/bin/ansible
  python version = 3.8.2 (default, Apr

[2020-06-30 06:44] daiwei233 opened #70380 "ansible has altered my /root directory permissions,so that I can't connected to my server with ssh，actually this bug can not reappear stably."
I used ansible to execute the following command as root:
[code]

Then I found that I can't connect to my server，and I got this error：
[code]

I check /root directory,this is not normal：
[code]

I have to change the /root dir permission manually,Although it was solved temporarily,it was still terrible:
[code]

[2020-06-30 07:00] CoffeeHi opened #70381 "How to break "until" loop when some conditions meet?"
#54284 ### SUMMARY
I need to call one api to get async result, the api result is like

`{
  "resultCode": 0,
  "resultInfo": "cutover is running",
  "taskStatus": "21"
}`

when taskStatus is 21 means the tasks is running, I should wait and contnue to get the result until the taskStatus becomes 20 that means success, but when the taskStatus is 22 means the api fails, and I should break the loop cal

[2020-06-30 07:07] bmillemathias-1a commented on #70359
I was not able to reproduce on a small playbook, but I can share you the details of the one that cause me this problem

the playbook is run on hosts: localhost and call a role that create a openstack infrastructure

[code]

[code]

[code]

[code]

[2020-06-30 07:15] #70380 closed, assigned to nobody

[2020-06-30 07:23] DavidIans commented on #70380
sorry,It is caused by zabbix

[2020-06-30 07:58] Akasurde commented on #47256
Hi @scottd018, Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/theforeman/foreman-ansible-modules<br><br>If you have further questions please stop by IRC or the mailing list:<br><br>* IRC: #ansible on irc.freenode.net<br>* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-06-30 07:58] #47256 closed, assigned to nobody

[2020-06-30 08:31] mkrizek commented on #70381
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-06-30 08:31] #70381 closed, assigned to nobody

[2020-06-30 08:55] mkrizek commented on #70359
Looking at the playbook this might be a duplicate of https://github.com/ansible/ansible/issues/70320.

[2020-06-30 11:20] CoffeeHi commented on #70381
that's not convenient

[2020-06-30 12:03] mdavis-xyz commented on #70341
Thanks @Akasurde

How are users supposed to know which repo to raise issues against?

I tried looking around, but couldn't figure it out.
Raising them here and waiting for a human to redirect me isn't ideal for either of us.

[2020-06-30 13:00] dbuteau opened #70382 "ansible-inventory doesn't support pattern(?)"
##### SUMMARY
ansible-inventory command doesn't support the [documented](https://docs.ansible.com/ansible/latest/user_guide/intro_patterns.html#common-patterns) host pattern for multiple, excluding and intersect groups

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible-inventory command

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
WSL 1 - Ubuntu 18.0

[2020-06-30 13:16] evgenyidf opened #70383 "zabbix_host fails when try to create with SNMP interface and zabbix 5"
##### SUMMARY
Zabbix 5 API has changed their API and now when you add SNMP interfaces, SNMP `details` should be provided too:
[code]
Please update `ansible/modules/monitoring/zabbix/zabbix_host.py`

For reference:
https://www.zabbix.com/forum/zabbix-help/401836-version-5-0-api-host-create
https://docs.ansible.com/ansible/latest/modules/zabbix_host_module.html
https://www.zabbix.com/documentation/c

[2020-06-30 13:19] Shrews commented on #70383
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.zabbix

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/

[2020-06-30 13:19] #70383 closed, assigned to nobody

[2020-06-30 13:31] #70050 closed, assigned to nobody

[2020-06-30 13:49] #70168 closed, assigned to nobody

[2020-06-30 13:53] #63231 closed, assigned to nobody

[2020-06-30 14:13] gundalow commented on #67484
I think also a `README.md` in https://github.com/ansible/ansible/tree/devel/lib/ansible/modules so people browsing there will see it

[2020-06-30 14:33] Medalibi commented on #67620
Hi, any updates on creatign this new module please?

[2020-06-30 15:06] samdoran commented on #70300
We need to update the dict to include this distribution.

Longer term, we should come up with a better solution that does not require updating a hard coded list.

[2020-06-30 15:11] samdoran commented on #70309
No. Automatically detecting and installing requirements seems fraught with peril.

We could add functionality to allow `ansible-galaxy collection install -r galaxy.yml` to read the requirements from the `galaxy.yml` file.

[2020-06-30 15:16] rrobe53 commented on #70274
ansible/galaxy to my understanding is the hub and not the on-server code executing the ansible-galaxy command. The on-server code executing ansible-galaxy should accurately reflect the URLs being requested.

[2020-06-30 15:17] samdoran commented on #70311
This is working as intended. Use `block` and `rescue` to control failure.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-06-30 15:17] #70311 closed, assigned to nobody

[2020-06-30 15:22] sivel commented on #70274
@rrobe53 The problem, is that this URL is an implementation detail of `galaxy.ansible.com`. It can change at any time, and the means in which this URL is requested is via an HTTP 302 response.  We have no reasonable means in which to know all URLs that may be requested as the result of redirects.  The complexity and overhead required to add such functionality to debug all redirected URLs outweighs

[2020-06-30 15:26] samdoran commented on #70327
The `winrm` connection plugin does use `anisble_password`. This is most likely a problem with some other configuration or environment setting.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-windows on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-06-30 15:26] #70327 closed, assigned to nobody

[2020-06-30 15:29] xXx-foC opened #70391 "attempts to use dnf/yum modules to upgrade AWS RHEL8 AMI fail with unable to resolve repos"
Not sure where this belongs...
with regard to the aws redhat community ami image RHEL-8.2.0_HVM-20200423-x86_64-0-Hourly2-GP2 (ami-098f16afa9edf40be) - can some help me understand what is happening when I try to run a "dnf update" via ansible? https://privatebin.net/?a60b13f1ec839604#EnVQJgKN6D6yiXSJqvpuNCuTBxrEh75je8KCSEwrXx9N - but when I run dnf update on the target host it works fine - I've no

[2020-06-30 15:30] xXx-foC commented on #70391
posting output previously put in privatebin:

(ansible-current) [username@controlhost ansible-it-ops]$ ansible --version
ansible 2.9.10
  config file = /home/username/ansible.cfg
  configured module search path = ['/gitrepo/ansible-modules-extras']
  ansible python module location = /home/username/ansible-current/lib/python3.6/site-packages/ansible
  executable location = /home/username/ansible-cu

[2020-06-30 15:33] samdoran commented on #70338
The fix for this is probably both a fix to documentation for older versions of Ansible and to change `meta` to behave more like a regular module, such as using tags to skip `meta` tasks.

[2020-06-30 15:40] julie-blake-verizon commented on #70327
I gave you a specific example where it is NOT working. Your saying that I am wrong and it IS working, despite the evidence, is entirely unhelpful.

[2020-06-30 15:40] samdoran commented on #70348
This is a bigger, and known, issue. The short term solution is `pip uninstall ansible && pip install ansible --pre`.

[2020-06-30 15:41] samdoran commented on #70348
We filed an upstream issue with `pip` related to this as well. https://github.com/pypa/pip/issues/8509

[2020-06-30 15:49] samccann opened #70392 "Document how to upgrade to ansible and/or ansible-base"
##### SUMMARY

Related to https://github.com/ansible/ansible/issues/70348

When a user updates with pip, there's a problem wherein they can end up with an unstable installation of ansible. Document the correct steps to upgrade.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### ADDITIONAL INFORMA

[2020-06-30 15:50] acozine commented on #70392
Most common error message would be `command not found: ansible-playbook`, because the binary executable files get wiped out.

[2020-06-30 15:52] felixfontein commented on #70392
Installing ansible-base next to ansible 2.9 (or older) essentially destroys the 2.9 installation (and vice versa, if ansible-2.9 is installed afer ansible-base). After that, uninstalling one of them destroys the remaining one.

Once ansible-2.10 is released, `pip install --upgrade ansible` when ansible-2.9 (or older) is currently installed will result in a broken installation (since pip internally

[2020-06-30 15:54] felixfontein commented on #70392
What users should (not) do:
- ansible 2.9 or older should never be installed next to ansible-base (or vice versa)
- when upgrading from ansible 2.9 (or older) to ansible 2.10 (or newer), first uninstall ansible 2.9 manually, and only then install ansible 2.10

[2020-06-30 15:54] samdoran commented on #35324
Closing per https://github.com/ansible/ansible/pull/70355#issuecomment-651884644

[2020-06-30 15:54] #35324 closed, assigned to nobody

[2020-06-30 15:57] abadger commented on #70392
For someone coming from ansible-2.9 or previous, the upgrade commands should be:
[code]

To fix an install if you've already upgraded ansible, the command to fix the install is:
[code]

[2020-06-30 16:03] #29236 closed, assigned to Akasurde

[2020-06-30 16:25] geerlingguy commented on #70309
But what if you have multiple local collections? Most playbooks would probably only have one, but I have some use cases where I might create a couple, with the intention of eventually putting one on Galaxy/Hub but not until later in the playbook's life.

[2020-06-30 16:28] sivel commented on #70309
Auto installing is a feature of Tower, and will not become a feature of ansible-base.  If our plans to allow using `galaxy.yml` in place of a `requirements.yml` aren't useful to you, we will proceed with closing this issue, as we have no plans to extend this further.

This will always continue to be a manual process, but we planned to make it slightly easier, by ensuring you didn't need to duplica

[2020-06-30 16:33] geerlingguy commented on #70309
@sivel - That's fine; but note that I'm not talking about a galaxy.yml and requirements.yml, and I'm not talking about collections really, but rather the use case of being an end user building playbooks.

This problem will also have to be solved in Tower, as it is not currently solved there, either—if you build a playbook that has a collection local to that playbook's repository, and you don't als

[2020-06-30 16:37] sivel commented on #70357
Can you verify if https://github.com/ansible/ansible/pull/65002 resolves your issue?

[2020-06-30 16:39] sivel commented on #70309
We unanimously decided in our triage meeting that we would not implement any runtime functionality for this.  Deps must be resolved before playbook execution though explicit action. If you need to install deps for a collection you have manually installed, we would permit pointing to the galaxy.yml file.  Outside of that, there are no plans to extend this behavior further.

I'll leave this open in

[2020-06-30 16:41] xXx-foC commented on #70391
Issue Type: unknown possibly configuration
Ansible version: 2.9.10
component name: dnf.py

[2020-06-30 16:43] bcoca commented on #70359
The issue here is that a long standing bug on delegation made 'delegated host' ignore task settings:

[code]
previously failed, and required `ansible_connection: winrm` to be added since the delegated host ignored `connection` keyword, that is now fixed, but creates the issue that your `connection: local` is now obeyed and gives a diff result than before.

[2020-06-30 16:45] AlanCoding commented on #70050
Confirmed fix with following output from second fix after rebasing

[code]

Nice, thanks!

[2020-06-30 16:49] geerlingguy commented on #70309
That's fine—I know that it's riddled with issues, but that's why I put the more practical number 2 in the suggestions:

Personally I'm okay with whatever goes (even closing this issue), as I'm used to the status quo and I don't actually rely on dependencies at all (I always explicitly define everything in my `requirements.yml`). But I opened this issue after dealing with this issue showing someone

[2020-06-30 17:50] adamcarheden opened #70397 "Add distinct 'include_role', 'import_role' and 'role' to variable precedence list"
##### SUMMARY

I'm submitting a bug rather than a doc update because I'm new to ansible and I may be missing something.

From the [list of precedence of variables](https://docs.ansible.com/ansible/latest/user_guide/playbooks_variables.html#examples-of-where-to-set-a-variable):

...however, params defined using the 'role:' syntax (#20) do not override role vars (#15)

Example:

[code]

And the code

[2020-06-30 17:53] SpoonMeiser commented on #65812
Is there anything we can do to get this to progress? Or is there a workaround?

We need to reconnect because we add the user we connect as to a group, and then future operations depend on us being in that group.

[2020-06-30 17:55] gugu opened #70398 "AWS ASG Instance refresh"
##### SUMMARY
AWS recently introduced "Instance refresh" feature in ASG. Using it is preferred way to update launch configuration in ASG

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ec2_asg

##### ADDITIONAL INFORMATION

Deploying ASG from the client depends on internet connectivity and is not transactional. In the middle of deployment of ASG it can fail leaving ASG in unpredicted state.

[2020-06-30 17:57] cpmoore opened #70399 "include_tasks provide list instead of file"
##### SUMMARY
Allow passing of tasks as list to include_tasks

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
include_tasks

##### ADDITIONAL INFORMATION
I believe `include_tasks` should allow you to provide a task list directly to it, instead of requiring that the tasks be in a file.
There are many times when i need to loop over just two tasks, to me it can be cumbersome to have a file wit

[2020-06-30 18:01] sivel commented on #70397
You have not used role params in your reproducer, only vars.

What you used:

[code]

Using role params:
[code]

[2020-06-30 18:24] tylerauerbeck commented on #32058
@Akasurde Has there been any progress on this?

[2020-06-30 18:24] relrod commented on #67262
Hi @naumanurrehman -

I am not immediately able to reproduce this. I tried on both 2.5 (which is no longer supported, by the way -- please try against a supported release - currently 2.8 or 2.9) and against `devel`, using an ec2 instance with Amazon Linux 2 and was not able to reproduce it:

[code]

Can you provide more details on how to reproduce this?

needs_info

[2020-06-30 19:30] cpmoore commented on #70399
!component = include_tasks

[2020-06-30 20:09] #48813 closed, assigned to Akasurde

[2020-06-30 20:55] samdoran commented on #66679
@HRio I have not. I'm sorry. 😞  It's on my list, I assure you.

[2020-06-30 22:47] cpmoore commented on #70399
!component =include_tasks

[2020-06-30 22:55] vladimir-mencl-eresearch commented on #64016
Hi,
I've been watching this issue (and the related PRs like #65340) for a while and I think there is confusion (at least between code and documentation) over what should happen if:
* no `checksum` is given
* `force` is set to `no`
* `dest` exists, but differs from the content at `url`

The documentation for `force` clear says:

However, the changes introduced in 2.8.6 (in 7d51cac3301fddf6a876b2f75

[2020-06-30 23:09] tima commented on #60215
All I wanted to do was checkout a collection repo and see what happens when I run `ansible-test sanity`. I just spent the past hour or so trying to figure out how to get ansible to let me do that one simple thing and failing because Ansible forces such a very specific setup and workflow to how you manage your code on your local machine. Now I just read in the previous comment here that I cannot us