[2020-07-01 01:14] divdivgoose opened #70404 "Eradicating the problematic term "Red Hat""
##### SUMMARY
I was very pleased to read [Chris Wright's article](https://www.redhat.com/en/blog/making-open-source-more-inclusive-eradicating-problematic-language) today about making open source projects such as this one more inclusive by eradicating problematic language. The term "Red Hat" is used over [189 times](https://github.com/ansible/ansible/search?q=red+hat&unscoped_q=red+hat) throughout

[2020-07-01 02:04] whowutwut commented on #63256
@willthames , I'm also hitting something similar to this.. I believe generatename @uditgaurav  is talking about is this:

https://kubernetes.io/docs/reference/using-api/api-concepts/#generated-values

So in the metadata, we can have...

[code]

When `kubectl create -f <file>` is run, it could succeed and some random characters would be appended, like:
[code]

However, when running this in k8s modu

[2020-07-01 02:38] abenokraitis commented on #70404
So the term Red Hat is fine in a blog post though?

[2020-07-01 03:00] divdivgoose commented on #70404
No, it is not. Also, listening to others with empathy is not about debating or questioning someone else’s experience.

[2020-07-01 03:18] Akasurde commented on #29343
Fixed via #70342

[2020-07-01 03:18] #29343 closed, assigned to nobody

[2020-07-01 03:19] abenokraitis commented on #70404
Absolutely! Feel free to submit pull requests with your suggestions and the community will take a look.

[2020-07-01 04:15] divdivgoose commented on #70404
What a great idea. We don't have to actually clean up our problematic language at all. All we have to do is say we encourage those who are marginalized by it to put in a bunch of free work to fix it for us. How inclusive! And the icing on the cake is that if someone does happen to do all the work of eradicating the problematic language, getting the tests to pass, updating the docs, etc. we can jus

[2020-07-01 05:57] #70404 closed, assigned to nobody

[2020-07-01 06:25] mkrizek commented on #70398
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!foru

[2020-07-01 06:25] #70398 closed, assigned to nobody

[2020-07-01 06:54] techtonik commented on #64612
According to this test, this should work:

https://github.com/ansible/ansible/blob/a1ac595d426f61001a718698c89b3b0e65ff56e2/test/integration/targets/unarchive/tasks/main.yml#L848-L854

And I couldn't repeat that using `ad-hoc` commands:
[code]

But it is repeatable when I pass unknown extra option.
[code]

@jwatt are you sure you'e using this without `extra_opts`?

[2020-07-01 07:10] techtonik commented on #64612
The real error in my case was caused by invalid arguments. I guess the best solution would be to add better error messages if `extra_opts` is present.
[code]

[2020-07-01 07:37] techtonik commented on #27081
For extracting a single binary from `xz` with extra directory level I used this:
[code]

https://www.cyberciti.biz/faq/linux-unix-extracting-specific-files/

[2020-07-01 07:38] bagasse opened #70407 "file lookup behavior is inconsistent"
##### SUMMARY

Depending on where `lookup('file', 'path/to/file')` is used, its behavior is different

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

file lookup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora release 32 (Thirty Two) x86_64

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

file lookup plugin load data from file in

[2020-07-01 08:17] mkrizek commented on #70407
The issue is not the `file` lookup but the `include_vars` task:
[code]
that tries to load vars files from the `data` directory and fails with message:
[code]

The template file that is inside the `data` directory does not have a valid extension (and importantly is not a valid vars file). Please see https://docs.ansible.com/ansible/latest/modules/include_vars_module.html#parameters, especially para

[2020-07-01 08:17] #70407 closed, assigned to nobody

[2020-07-01 08:20] felixfontein commented on #70134
Just had a similar error where a vendored version of `ldap_attrs` (added after stable-2.9 was branched) was trying to import `ansible.module_utils.ldap`, which is redirected to `ansible_collections.community.general.plugins.module_utils.ldap`:
[code]
I haven't looked at the generated payload, but I suspect that either the `ansible/module_utils/ldap.py` file is wrongly created, or the real module_u

[2020-07-01 08:26] Sprinterfreak opened #70408 "Module authorized_key user schould not be required"
#### SUMMARY
The argument `user` on authorized_key should not be required

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
module: authorized_key

##### ADDITIONAL INFORMATION
The possibility of disabling permissions handling entirely is required for instance, if we like to implement a whole-system key revocation playbook.  In my opinion it is a good reason enabling the module to "lazy" proc

[2020-07-01 08:29] mkrizek commented on #70408
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.posix.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!foru

[2020-07-01 08:29] #70408 closed, assigned to nobody

[2020-07-01 09:45] m-bucher commented on #70357
Yes, it does.
Thanks @sivel !

[2020-07-01 12:25] impsik opened #70409 "delegate_to and ansible_os_family not working together"
##### SUMMARY
Ansible playbook ignores ansible_os_family when using delegate_to

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

task
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 10

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

TASK [capture output of id command] ******************************************************
changed: [localho

[2020-07-01 12:39] ntsapek opened #70410 "win_domain_user absent fails on non-leaf objects"
##### SUMMARY

We have a scheduled job that based on some date calculations deletes disabled AD users after 180 days. Recently we realized that the task occasionally fails with the following message:
`"msg": "The directory service can perform the requested operation only on a leaf object"`

Apparently, any AD User that at some point has enabled _ExchangeActiveSync_ in a mobile device, is turned in

[2020-07-01 13:01] NilashishC commented on #63190
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansibl

[2020-07-01 13:01] #63190 closed, assigned to nobody

[2020-07-01 13:02] NilashishC commented on #62631
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible

[2020-07-01 13:02] #62631 closed, assigned to nobody

[2020-07-01 13:05] NilashishC commented on #61753
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansibl

[2020-07-01 13:05] #61753 closed, assigned to nobody

[2020-07-01 13:08] NilashishC commented on #61228
Thank you very much for your interest in Ansible. We feel that this issue may have been resolved in the latest version of Ansible (2.9). In case this still persists please re-submit this issue at https://github.com/ansible-collections/cisco.nxos.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#

[2020-07-01 13:08] #61228 closed, assigned to nobody

[2020-07-01 13:16] NilashishC commented on #59263
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible

[2020-07-01 13:16] #59263 closed, assigned to justjais

[2020-07-01 13:17] NilashishC commented on #59176
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection/

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google

[2020-07-01 13:17] #59176 closed, assigned to nobody

[2020-07-01 13:17] Qalthos commented on #59381
As mentioned above, this is a paramiko issue, and there isn't really anything we can do about it, other than wait for a fix from paramiko.

In the meantime, the workaround of having the correct key be the first option in your ssh agent should work.

[2020-07-01 13:17] #59381 closed, assigned to pabelanger

[2020-07-01 13:21] NilashishC commented on #59036
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-01 13:21] #59036 closed, assigned to nobody

[2020-07-01 13:21] NilashishC commented on #58811
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-01 13:21] #58811 closed, assigned to nobody

[2020-07-01 13:22] NilashishC commented on #58708
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-01 13:22] #58708 closed, assigned to nobody

[2020-07-01 13:23] NilashishC commented on #58514
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.iosxr

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansib

[2020-07-01 13:23] #58514 closed, assigned to ganeshrn

[2020-07-01 13:24] #58513 closed, assigned to justjais

[2020-07-01 13:25] NilashishC commented on #58473
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-01 13:25] #58473 closed, assigned to nobody

[2020-07-01 13:26] NilashishC commented on #58448
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-01 13:26] #58448 closed, assigned to nobody

[2020-07-01 13:26] NilashishC commented on #58325
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-01 13:26] #58325 closed, assigned to nobody

[2020-07-01 13:27] NilashishC commented on #58303
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/arista.eos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansibl

[2020-07-01 13:27] #58303 closed, assigned to nobody

[2020-07-01 13:28] abadger commented on #70147
@gundalow does this block release?

[2020-07-01 13:29] NilashishC commented on #58258
Looks like this has been moved to the Cisco ASA collection. Hence, closing this.

[2020-07-01 13:29] #58258 closed, assigned to nobody

[2020-07-01 13:31] abadger commented on #70147
I ask because I think I'm stretched too thin.  My PR implements everything that we care about knowing about site-packages but it reveals that the install/upgrade case needs to be redesigned somewhat.  If we're going to address that, I'll probably need an extra hand to help work on that.

[2020-07-01 13:44] SowmyashreeV opened #70411 "Could not able to install Software on remote machine"
Hello,

This is my playbook to install winpcap on remote machine
---
- hosts: windows
  remote_user: ansible
  tasks:

    - name: install winpcap
      win_package:
        path: C:\Win10Pcap-v10.2-5002.msi
        state: present

PLAY [windows] **********************************************************************************************************************************************

TASK [Gat

[2020-07-01 13:47] Akasurde commented on #70410
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.windows

Migrated this issue in the above repository - https://github.com/ansible-collections/community.windows/issues/106.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on

[2020-07-01 13:47] #70410 closed, assigned to nobody

[2020-07-01 13:56] mkrizek commented on #70411
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-07-01 13:56] #70411 closed, assigned to nobody

[2020-07-01 14:36] anxstj opened #70412 "regex_replace with backrefs: different behaviour with python 3.6 and python 3.7"
##### SUMMARY

regex_replace has a different behaviour if executed with Python 3.6 or Python 3.7/3.8.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
regex_replace

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I have tested it with different versions of alpine linux in docker containers, but initially, this came up on a Fedora 32 host.

##### STEPS TO RE

[2020-07-01 14:47] sivel commented on #70412
Duplicate of https://github.com/ansible/ansible/issues/63329

[2020-07-01 14:47] #70412 closed, assigned to nobody

[2020-07-01 15:00] jwatt commented on #64612
This is a bit of a blast from the past. It was 7 months or so since I was looking at this and a lot has happened since then. But from what I recall, yes, I was having issues both with and without `extra_opts`.

[2020-07-01 15:01] gamuniz opened #70413 "dict2items in loops throw typeerror, fails task even when task should be skipped."
##### SUMMARY

Using loops with dict2items fails even when task should be skipped by conditional.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

dict2items filter
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7.8

##### STEPS TO REPRODUCE

Run this playbook

[code]

##### EXPECTED RESULTS

Expected that both tasks are skipped as conditional is no

[2020-07-01 15:05] NixGi opened #70414 "os_server disk_type"
##### SUMMARY
Need to add the disk type while creating a new server from image.

##### ISSUE TYPE
- No Option for disk_type available

##### COMPONENT NAME
os_server

##### ADDITIONAL INFORMATION
I am not sure if i am on the right place here, but i have an issue while creating a new server from an image. It doesn´t matter if the image was build on an ssd disk or sata. If i use the os_server module

[2020-07-01 15:08] bcoca commented on #70413
actually, it returns an `AnsibleFilterError` after capturing the `TypeError`

[2020-07-01 16:01] dariopai opened #70415 "win_service set "desktop_interact=false" when used in "query mode""
##### SUMMARY

 According to the documentation … https://docs.ansible.com/ansible/latest/modules/win_service_module.html
… the module WIN_SERVICE should only "query" the SERVICE STATUS if only the "name" is given. But following the code inside powershell script (win_service.ps1) some parameters are always defined with the default values as "desktop_interact=false". So, when the service status is c

[2020-07-01 16:04] bubthegreat commented on #66356
Bump on this - this would be incredibly helpful for debugging and state management.

[2020-07-01 16:05] Akasurde commented on #70414
@NixGi Thanks for reporting this issue. Openstack modules are moved to [`Openstack`](https://opendev.org/openstack/ansible-collections-openstack) collection. Please open an issue against https://storyboard.openstack.org, since Openstack uses that issue tracker. Thanks.

[2020-07-01 16:05] #70414 closed, assigned to nobody

[2020-07-01 16:09] iakko commented on #57542
I'm still having this issue with Ansible 2.9.6. Is there an expected deadline for this issue to be closed?

[2020-07-01 16:24] Akasurde commented on #68000
Fixed via https://github.com/ansible-collections/community.general/pull/457

[2020-07-01 16:24] #68000 closed, assigned to Akasurde

[2020-07-01 16:59] sivel commented on #70357
I wanted to understand why this is happening, and it led me to the fact that salt is doing something that is probably not the best idea.  However, in Ansible 2.10 this would no longer happen.

1. Before 2.10 we had a `saltstack` connection plugin
1. That plugin imported the `salt` python lib
1. In our code, to pre-populate our configs, we did a `list(connection_loader.all(class_only=True))` which

[2020-07-01 17:10] msilmser opened #70416 "RFE: Allow nxos_users to only purge local users"
##### SUMMARY
Currently the nxos_user module attempts to purge all users from the device. This can sometimes cause a failure due to username length from external user accounts.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
nxos_user.py

##### ADDITIONAL INFORMATION

[code]

[2020-07-01 17:44] schnipdip opened #70419 "Debug Module write output to local log"

[2020-07-01 18:07] bcoca commented on #70419
so, template and/or copy can do this already
[code]

[2020-07-01 18:13] schnipdip commented on #70419
In terms of task time and reducing the amount of needed tasks, wouldn't it be best practice to reduce the amount of needed tasks? I would assume it would be more efficient to write out in the module than having to utilize another task, which will double the amount of lines, 1 (debug) : 1 (copy)

[2020-07-01 18:14] schnipdip commented on #70419
@bcoca

[2020-07-01 18:16] bcoca commented on #70409
you do realize that `ansible_os_family` is referring to the inventory_hostname and NOT the delegated host?

you might want `when: hostvars[item]['ansible_facts']['os_familiy'] == 'Debian'`

[2020-07-01 19:01] greenscar commented on #61525
Due to this issue, I'm unable to use the dedicated GitLab modules. [python-gitlab](https://github.com/python-gitlab/python-gitlab/blob/master/gitlab/__init__.py) supports `oauth_token`. Unfortunately, this module does not.

Working with GitLab, I'm trying to use Ansible to automate some of our internal deploys. Unfortunately, without oauth support, we are required to use the `uri` module to make A

[2020-07-01 19:15] techtonik commented on #64612
@jwatt can you run the `ad-hoc` commands above to ensure that it is not fixed in 2.9.x release. From the codepath I see that the problem can only be caused by the problem with invoked tool, not with the `unarchive` module. It can only fail, if `tar` is unable to unpack file if specified exact flags for it. And as far I remember `tar` is non-intelligent and doesn't rely on extensions. `unarchive` d

[2020-07-01 19:16] #68284 closed, assigned to relrod

[2020-07-01 19:21] techtonik commented on #64612
@jwatt this is where the check starts.

https://github.com/ansible/ansible/blob/91aea92c62b991bb5a343e56f0967b5607923ae7/lib/ansible/modules/unarchive.py#L801

[2020-07-01 19:24] techtonik commented on #64612
And then checks just run `tar` with different flags. File extension doesn't matter at all. The only thing that matters are invalid `tar` arguments to get the message that we've got.

[2020-07-01 19:35] bcoca commented on #70419
not the goal, I much prefer having a set of tools i can compose to get a job done than trying to make very tool into a swiss army knife specialized for a specific task set.

[2020-07-01 19:38] bcoca commented on #70399
soo .. you want looping in block?

[2020-07-01 19:44] bcoca commented on #70397
also, some of this behaviour is a bug that will be fixed in  #69040

[2020-07-01 19:50] sivel commented on #70399
fwiw, I actually evaluated allowing `include_tasks` to accept a task list, as a workaround to looping on a `block`.  But there are  a number of issues doing so, namely needing to track the file of the parent of the `include_tasks`, so that future relative imports work.  It became problematic, and I abandoned it.  Using a tempfile would create even more issues.

[2020-07-01 19:50] Shrews commented on #61525
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-01 19:50] #61525 closed, assigned to nobody

[2020-07-01 19:51] schnipdip commented on #70419
I respect your opinion about this. I just disagree. It's part of the functionality of debug to write debug logs. It doesn't help much if you have 100 tasks. I'd rather see a simple solution that easily formats the output in log file. I wouldn't consider `copy` to be the main solution to providing debug logging.

It should be about trying to keep a play as simple as possible without making it too c

[2020-07-01 19:55] msilmser commented on #70416
filed https://github.com/ansible-collections/cisco.nxos/issues/107 in the collection

[2020-07-01 19:55] #70416 closed, assigned to nobody

[2020-07-01 19:56] bcoca commented on #70382
It is not supposed to, ansible-inventory unnamed argument follows the 'inventory script' convention which accepts host or group name, not host patterns. As the help states:
[code]

[2020-07-01 19:58] #65440 closed, assigned to nobody

[2020-07-01 20:02] shdobxr commented on #42532
Any update to this? I am on
[code]
Policy is syntactically correct, ansible throws the same error. But the policy is actually applied.

[2020-07-01 20:03] tomreeb opened #70422 "delegate_to not delegating raw commands with 2.9.10"
##### SUMMARY

I have a task in my playbook which uses the raw module with delegate_to to execute a command on a remote machine. After upgrading to 2.9.10, the delegate_to is not honored and raw command is executed on the plays target host.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

raw, delegate_to
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Targe

[2020-07-01 20:05] geerlingguy opened #70423 "ansible-galaxy collection publish doesn't support autocomplete"
##### SUMMARY

This is a fairly minor complaint, but every time I go to do a release for my collections, I run into it, so I thought I'd bring it up.

When I'm working with any CLI that accepts file inputs, I'm used to terminal tab autocompletion, e.g. you have a file named `test.txt` in the current directory, and assuming you don't have other files with `test` in the start of the name, you can ty

[2020-07-01 20:16] #40496 closed, assigned to nobody

[2020-07-01 20:22] bcoca commented on #70422
You are telling the delegated host to use 'local' collection, a bug fixed in 2.10 avoids the delegated host 'ignoring' keywords so now it is doing what you are telling it to do.  Also, with localhost, `connecion: local` should be redundant.

[2020-07-01 20:26] xXx-foC commented on #70391
I ran another test with new untouched instances and got a different result from an adhoc ansible command using dnf module to update - and it appeared to work fine - going to try and close this issue.

[2020-07-01 20:26] #70391 closed, assigned to nobody

[2020-07-01 20:27] sivel commented on #70423
I cannot duplicate this.  We actually have argcomplete support for the CLI tools, which I'm unsure whether or not that is the component you are missing.

https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#ansible-command-shell-completion

https://asciinema.org/a/Cqci2x1bAxao3fUprluYYVZrW

In fact I just disabled argcomplete support as well, and I get tab completion

[2020-07-01 20:48] geerlingguy commented on #70423
@sivel - Odd, I don't have anything too special here, but I am using zsh, maybe there's some weird bug I'm hitting.

Like I said, it works great with other `ansible-*` CLI tools, as well as everything else I use day-to-day. I also tested with `ansible-base` installed via pip3, and `ansible 2.9.10` installed via pip3. I'm going to set up a few other clean environments to see if it's just an issue i

[2020-07-01 20:53] smalleni opened #70425 "Ansible Ternary fails on some conditions"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

filters
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Fedora 30 host as ansible controller

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

When inventory_hostname is `localhost`
The facts `ocpinv_file` and `ocp_node_inv_path` should be correctly.

##### ACTUAL RESULTS

[code]
Since

[2020-07-01 20:53] geerlingguy commented on #70423
Couldn't reproduce the error in bash on Ubuntu or on CentOS, so there must be something up in my ZSH profile. Closing this issue, but if I find out what it is, I'll post back here.

[2020-07-01 20:53] #70423 closed, assigned to nobody

[2020-07-01 21:00] apollo13 commented on #65699
@rendhalver `--upgrade` would work well for case where no version is specified. But if I explicitly specify a version with the collection I'd want it to upgrade/downgrade regardless of `--upgrade` (or `--force`) for that matter since I (imo) provided strong intent.

I have written more about this in ansible/proposals#181 -- please also share your thoughts there.

[2020-07-01 21:00] sivel commented on #70425
This is a downside to the `ternary` filter, over using a regular ternary statement:

[code]

The ternary filter needs to evaluate both arguments, regardless of the condition it is attached to. As such, both the false value and the true value both must evaluate without issue. This may require use of the `|default` filter.

You may just want to use the `|default` filter to start.

{{ inventory_tempd

[2020-07-01 21:00] #70425 closed, assigned to nobody

[2020-07-01 21:09] tomreeb commented on #70422
@bcoca Confirming you are correct. Removing the `connection: local` made everything work as expected.

[2020-07-01 21:09] #70422 closed, assigned to nobody

[2020-07-01 21:11] geerlingguy commented on #70423
So... for the benefit of future people who might find this issue, it turns out there were not one but _two_ culprits:

First, I had the following line in my `.zshrc`:

[code]

Second, it seems the `google-cloud-sdk` _also_ did something that argcomplete was not happy with, because I had to remove the Google Cloud SDK zsh autocomplete support from my zsh profile config:

[code]

It looks like the l

[2020-07-01 21:15] jeanmonet opened #70427 "blockinfile - option to add or more newlines before and/or after block markers"
##### SUMMARY

Provide option in `blockinfile` module to insert one or more newlines before and/or after the block (more precisely its marker). This is very useful for the readability of configuration files managed by Ansible.

The newlines would only be added upon block insertion, not upon future verifications on whether the block exists.

Note: including a newline character `\n` in the marker (`

[2020-07-01 22:06] adamcarheden commented on #70397
The role param syntax @sivel provided does indeed work as expected.

Perhaps the todo from the doc front is an example of that syntax in the [roles page](https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html).

See [Example 1](https://docs.ansible.com/ansible/latest/user_guide/playbooks_reuse_roles.html#role-duplication-and-execution):

It uses the `vars:` syntax but refers

[2020-07-01 22:52] #69012 closed, assigned to nobody

[2020-07-02 00:19] willthames commented on #63256
Sure, it's nothing to do with kubectl apply vs kubectl create though (other than that it doesn't work under kubectl apply either) - it's simply that we've never implemented support for generateName.

If anyone fancies implementing this, please raise a pull request against github.com/ansible-collections/community.kubernetes

[2020-07-02 02:08] AlanCoding opened #70429 "Download of SCM collections gives traceback"
##### SUMMARY
Compatibility of `ansible-galaxy collection download` with collections from source control is unclear, but attempting it gives a traceback.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/cli/galaxy.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
defaults

##### OS / ENVIRONMENT
N/A

##### STEPS TO REPRODUCE
Run the command

[code]

Where the requirements file

[2020-07-02 03:01] chrisjsewell opened #70430 "Ansible fails as Vagrant provider"
##### SUMMARY

Using ansible with vagrant (on OSX) does not work

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vagrant

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

- macOS Catalina 10.15.5
- Vagrant 2.2.9

##### STEPS TO REPRODUCE

Take the `Vagrantfile` from https://docs.ansible.com/ansible/latest/scenario_guides/guide_vagrant.html#vagrant-setup

[co

[2020-07-02 03:07] #70419 closed, assigned to nobody

[2020-07-02 04:02] chrisjsewell commented on #70430
Ok sorry I've mainly figured it out, but I'm still very confused: If I move the folder to another directory (e.g. `/Users/chrisjsewell/Downloads/vagrant`) it works absolutely fine.
For some reason if the folder is located in a git checkout of this folder it fails: https://github.com/marvel-nccr/ansible-role-slurm
I guess it is reading something to alter the configuration, in the root folder, but I

[2020-07-02 05:42] Akasurde commented on #70415
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.windows

Migrated this issue in the above repository - https://github.com/ansible-collections/ansible.windows/issues/80.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.

[2020-07-02 05:42] #70415 closed, assigned to nobody

[2020-07-02 06:19] bmillemathias commented on #68803
Hi @sluther
did you have time to look to this issue ?

[2020-07-02 09:39] jwatt commented on #64612
After resurecting the code I was working on when I filed this issue and setting up a machine to test against, I'm not sure why [I thought that?] my PR fixed things for me at the time. It certainly didn't fix things for me this time around.

After a bunch more digging and hacking debug code into the Ansible source it turns out that my issue (at least this time around) was due to setting `unarchive`

[2020-07-02 10:19] bb-Ricardo opened #70432 "module unarchive should support "checksum" param to verify source"
##### SUMMARY

The module unarchive should support the parameter "checksum" the same way the get_uri module provides it (https://docs.ansible.com/ansible/latest/modules/get_url_module.html#parameter-checksum)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

unarchive.py

##### ADDITIONAL INFORMATION

could provide a PR if desired

[2020-07-02 10:31] tracure1337 opened #70433 "Changing and saving changes to the inventory file does not reflect in ansible [tab] autocomplete."
##### SUMMARY

Changing and saving changes to the inventory file does not reflect in ansible [tab] autocomplete.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
 ansible

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS 15.5

##### STEPS TO REPRODUCE

change inventory hyphens to underscore
like
[pi-nodes-a]
to
[pi_nodes_a]

[code]

##### EXPECTED RESUL

[2020-07-02 12:44] geerlingguy commented on #70309
Related: https://github.com/ansible/proposals/issues/7

[2020-07-02 13:55] sivel commented on #70433
Ansible provides no auto completion method to auto complete groups or hosts from inventory from the command line at all.

If you have some auto complete behavior that does this, it is not being provided by any code in this project.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!foru

[2020-07-02 13:55] #70433 closed, assigned to nobody

[2020-07-02 13:58] sivel commented on #70430
You have a `setup.py` file in a location that is being picked up by Ansible, as an override for the `setup.py` Ansible module.  When ansible attempts to run the auto Gather Facts step, it is failing because of this file, which is not an ansible module.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.go

[2020-07-02 13:58] #70430 closed, assigned to nobody

[2020-07-02 14:19] chrisjsewell commented on #70430
Thanks @sivel

[2020-07-02 14:29] webknjaz commented on #69758
FTR both the docs example and `examples/scripts/uptime.py` contain a bug: they show-case setting a custom `module_path` for adding new module lookup locations. Internally, `TaskQueueManager()` adds those paths to the module loader but the example first runs `Play().load()` that tries to resolve modules in the steps and fails to find them in the paths because they weren't added by `TaskQueueManager

[2020-07-02 15:02] gundalow commented on #70147
I wonder if it's OK for ansible-base 2.10 that  `ansible-galaxy collection lists` works, though install doesn't

[2020-07-02 16:00] sivel commented on #70432
Thank you very much for your interest in Ansible.  We have previously decided that modules that perform URL retrieval should only support the most basic of functionalities.

Should you need more support for complex URL requests, you should utilize the `get_url` module directly, and then pass off the result to a module like `unarchive`.

If you have further questions please stop by IRC or the maili

[2020-07-02 16:00] #70432 closed, assigned to nobody

[2020-07-02 16:02] Akasurde commented on #36388
Closing this since PR #70343 is merged. Thanks.

[2020-07-02 16:02] #36388 closed, assigned to nobody

[2020-07-02 16:06] bb-Ricardo commented on #70432
Thank you for the explanation. Whould have been really helpful to verify the source (weather local or remote) in one step without calling another task.

[2020-07-02 16:40] relrod commented on #70244
I tracked this down, it's a one line fix (we're comparing a bytestring to a string, we need to coerce one to the other first).
Working on tests and PR now.

[2020-07-02 16:43] samdoran commented on #70147
We discussed this it the [IRC Meeting on 2020-07-02 ](https://meetbot.fedoraproject.org/ansible-meeting/2020-07-02/ansible_core_public_irc_meeting_https:github.comansiblecommunityissues543.2020-07-02-15.05.html).

The consensus was that `list` and `verify` will look at `site-packages` in the short term and `install` will completely ignore `site-packages`, even for dependency resolution. Longer ter

[2020-07-02 16:47] samdoran opened #70437 "ANSIBLE_SSH_ARGS not applied to hosts created with add_host"
##### SUMMARY

The settings in `ANSIBLE_SSH_ARGS` are not applied to any host created with `add_host` resulting in incorrect connection to those hosts.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`lib/ansible/plugins/connection/ssh.py`
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

Run the following playbook passing `ANSIBLE_S

[2020-07-02 19:04] #70437 closed, assigned to nobody

[2020-07-02 19:05] artgromov commented on #10374
Sure,
just use current Ansible Role specification and make it work like functions from general purpose programming language with all such things as stack, frames, global, local, non-local scope etc...

This will surely match all folks intuitive expectations=)
and also will fix other variable-scope-related bugs and misunderstandings.

Lets call this "Ansible Brick" or "Ansible Block"=)

[2020-07-02 20:22] #65262 closed, assigned to nobody

[2020-07-02 20:35] audioboxer217 commented on #55911
I actually have a slightly more in-depth use case for this.  I have a client that has Windows servers that they connect to with Kerberos.  The AD Server has them using the FQDN so that's what needs to be used as the inventory_hostname.  Also, the instances are in an AutoScaling group so, as mentioned in PR25 (linked above) most of the tags are the same. Which means, I need the hostnames to allow f

[2020-07-02 21:09] snoopotic commented on #67759
I vote for that.
Had a scenario i forgot to set collections_paths in ansible.cfg (usually ./collections inside my ansible-book with alternate directory layout) and after sharing my mates moant because the collection was missing.
Thus I also wanted to cleanup my userspace after moving the collection(s) and this lead me to this issue I now encourage to add this "feature".

[2020-07-02 21:34] mizkax opened #70448 "Importing an entire tags list"
##### SUMMARY
I want a way of importing tags which is actually a list of all tasks I want to perform. Instead of giving tags every time in command line, I need an option just like importing playbook which imports in the beginning of the playbook and matches with the configurations.. This tags.yml should contain all the task tags. I can't give common tags for all tasks(number of tasks are large in

[2020-07-03 00:37] cpmoore commented on #70399
@bcoca
Yes! I was actually unfamiliar with the block module before. I’m still relatively new to ansible. I just googled it, and if looping were supported with it that would be fine for my use case.
@sivel
I thought relative imports and includes were always relative to the main playbook being run?

[2020-07-03 00:45] relrod commented on #70300
@gschoenberger This is actually expected behavior. The default config value for `ansible_python_interpreter` is `auto_legacy`, which will use `/usr/bin/python` if it exists (and warn about doing so). We don't do any checks there to see if `/usr/bin/python` points to py2 or py3.

If you want Ansible to continue using `/usr/bin/python` and not show the warning, you can set `ansible_python_interprete

[2020-07-03 00:45] #70300 closed, assigned to relrod

[2020-07-03 01:28] p-v-a commented on #59945
Just ran into same issue. Want to create truststore jks and as a dependency need p12 archive to import certs from. First run with p12 archive not existing is ok. subsequent run cause this error.

[2020-07-03 02:22] pythonwood commented on #38199
It happen to me.  my short test:

`$ ansible localhost -m debug -a "msg={{playbook_dir | replace('/','//')}}"`
localhost | SUCCESS => {
    "msg": "//home//path"
}

`$ ansible localhost -m debug -a 'msg={{playbook_dir | replace("/","\")}}'`
ERROR! failed at splitting arguments, either an unbalanced jinja2 block or quotes: msg={{playbook_dir | replace("/","\")}}

`$ ansible localhost -m debug -a "m

[2020-07-03 04:19] jamescassell commented on #70147
Sounds like a good way to get stuck on an old version of a collection. The new version is "installed" but because once upon a time I installed something depending on community.general, I'm now stuck with that old version (without explicitly upgrading the installed collections.)

[2020-07-03 09:18] adriansev opened #70450 "ssh:: allow usage of ssh aliases/parse .ssh/config in inventory and host declarations"
did not find

##### SUMMARY
it would be useful to be able to use the ssh aliases of ssh in both inventory and `hosts:` declarations

as stated, it would be useful to allow ssh aliases and furthermore hosts declarations not declared in the inventory
(that would make inventory optional not required)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
inventory, ansible, ansible-playbook

##### AD

[2020-07-03 09:30] adriansev opened #70452 "ansible-playbook:: allow cli to override `Host:` declaration"
did not find

##### SUMMARY

`--hosts` argument to ansible-playbook that would override the `hosts:` declaration from yml file

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
ansible-playbook

##### ADDITIONAL INFORMATION
this would allow a usage like
`ansible-playbook --host MY_OTHER_HOST_MAYBE_A_TEST_VM playbook_for_production_server.yml`
moreover, this would allow an empty `hosts:` speci

[2020-07-03 09:36] dbuteau commented on #70382
Ok thank for your answer, i was not sure, even after reading the doc, if it was supposed to support or not pattern.

i've seen the part about the `host|group` in doc, but believed (and hoped cause of very big inventory) than 'host' should accept pattern too

[2020-07-03 09:36] #70382 closed, assigned to nobody

[2020-07-03 09:46] gabops commented on #70452
Hello,

You have the **--limit** option to limit a host or a subset of hosts. But in case that, for some reason, you want to target a totally different host that does not belong to the targeted one in playbook, the approach I've used and I've seen is:

In playbook:
[code]
Then, when calling the playbook:
[code]

That way, if no "-e target=" is specified, the playbook will run normally over the hos

[2020-07-03 09:54] adriansev commented on #70452
Yes, thanks, i was aware of this possibility but it's quite cumbersome to use in cli .. i use (because it seems easier to me) a bash wrapper that would create a temporary playbook with the value of `hosts:` replaced by the provided argument.
My proposal is just for easier usage, as workarounds exists already.
Thanks!

[2020-07-03 13:22] prokopvv commented on #29405
+1
iptables v1.4.7
ansible 2.9.10 (and ansible 2.0.0.2)
[code]

[2020-07-03 14:06] xterms013 opened #70453 "Problem with adding a user with redfish_command module"
#59263 ### SUMMARY
Can't create users on servers Lenovo( ThinkSystem SR530,630,650)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
redfish_command

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT
CENTOS 8

##### STEPS TO REPRODUCE
If i run this playbook i get the following output(servers contains 192.168.0.1 only)

[code]

[code]
PLAY [run_playbook] ************************************

[2020-07-03 19:29] rjeffman opened #70455 "Output is modified when module set no_log to True."
##### SUMMARY

When Ansible 2.10.0a1 under Azure there might happen that the output of a
task is changed if a module uses no_log = True for an attribute.

For example, if the output of the module should contain "changed: True", and
an attribute with no_log set contains the value `hang` it might happen that
the output is modified to "c******ed: True", and if this output is further
processed (regist

[2020-07-03 20:41] relrod commented on #70453
Hello, this component has moved to an Ansible Collection.

Please re-file this issue against: [community.general](https://github.com/ansible-collections/community.general)

Thank you for your interest in Ansible!

[2020-07-03 20:41] #70453 closed, assigned to nobody

[2020-07-03 21:12] karlkatzke commented on #49207
Encountered this bug when using the aws_secrets lookup.

[2020-07-03 21:33] webknjaz opened #70456 ""broken" `setup.py` in devel: `setuptools>=48.0.0,<49.1` no longer supports `SDistCommand` from `distutils`"
##### SUMMARY

$sbj.
I happen to have a nightly-updated Dumb PyPI site so I noticed this already 2 hours after the new
setuptools got released.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

setup.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

[code]

###### Local repro log

[code]

##### EXPECTED RESULTS

sdist produce

[2020-07-03 21:46] webknjaz commented on #70456
Filed an issue upstream: https://github.com/pypa/setuptools/issues/2230.

[2020-07-03 21:48] olivov commented on #20493
@packetfairy - for your purpose, would you be able to use a handler section in your playbook that called import_tasks to load in common handlers which are nested in the root of your ansible project?

for example:

upgrade_prod.yml:
[code]
where your common handlers are in the file handlers/myhandlers.yml - from my experience, this method seems to make those handlers available to all roles called b

[2020-07-03 22:10] chris93111 commented on #46203
+1

[2020-07-03 23:03] webknjaz commented on #70456
`setuptools==49.1` has disabled this behavior but we still need to assess switching to setuptools from disutils as it's going to be removed from stdlib at some point.

[2020-07-04 00:26] sluther commented on #68803
@bmillemathias sorry, I haven't yet had a chance. I'll try to get to it this weekend. If you could make a git repo with all the files, that would be helpful, but if not I can recreate them locally.

[2020-07-04 04:04] way31415926 opened #70459 "Ansible in Docker,a problem has arisen"
##### SUMMARY
When I run Ansible in Docker(Docker run as root), the ControlPath is different .And a problem has arisen.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ssh

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

<11.164.60.192> ESTABLISH SSH CONNECTION FOR USER: yunfeng.wy
<11.164.

[2020-07-04 05:14] #70459 closed, assigned to nobody

[2020-07-04 05:26] jhg03a opened #70460 "Add warning when using local connection plugin and delegate_to"
##### SUMMARY

After chasing an issue with my teammates, we located a bug in one of our playbooks where we'd used the local connection plugin but later added a delegate_to for another host on some shell module tasks.  Unexpectedly the playbook executed successfully, but produced erratic results as the task wasn't running where we thought it should.  By definition, this seems to be the desired beha

[2020-07-04 07:20] bmillemathias commented on #68803
I was just reviewing the staled issue, so get not knowledge, @smacz42 could you re-test with a newer version of ansible ? if it not solved could you do what @sluther asked ?

Best.

[2020-07-04 07:34] bmillemathias commented on #70460
Hi @jhg03a

Which version of ansible do you use ? that would help to spot the problem.

[2020-07-04 07:36] bmillemathias commented on #70409
@bcoca
don't you think we close this issue ?

[2020-07-04 10:14] impsik commented on #70409
Yes, please close.

[2020-07-04 10:44] imjoseangel commented on #70012
IMHO, I think this feature request should be closed

[2020-07-04 10:44] dan-tfp commented on #29405
+1
iptables v1.4.21
ansible 2.7.7

- name: Iptables - setup port 80
  iptables:
    chain: INPUT
    protocol: tcp
    destination_port: 80
    jump: ACCEPT

I then added the below above destination and it is now idempotent:

source: 0.0.0.0/0

I hope this helps anybody who comes across this (as a daily Ansible user I feel pain on occasions)

Cheers

Dan

[2020-07-04 11:13] imjoseangel commented on #69073
I'm working on this and I see a new state: **download**

Do you agree @caimez and @jimi-c?

[2020-07-04 12:50] atc0005 commented on #70279
I wasn't sure if you were referring to the original report or not, so I delayed responding in case others were more familiar with the context of your reply.

It was likely several versions back when I encountered the problem again, but I've found that for the SSH connection plugin that one of `ansible_user` or `remote_user` wasn't being set, but using the pattern that I posted here *did* seem to w

[2020-07-04 13:29] Akasurde commented on #60576
Fixed via - https://github.com/ansible-collections/community.general/pull/114 and https://github.com/ansible/ansible/pull/70463

[2020-07-04 13:29] #60576 closed, assigned to nobody

[2020-07-04 14:46] bmillemathias commented on #61369
noting there is also the issue #66700 about this problem

[2020-07-04 17:47] Akasurde commented on #68506
AWX now supports `aws_ec2` inventory plugin as per https://github.com/ansible/awx/issues/3472#issuecomment-620061943. Please use `aws_ec2` inventory plugin instead of `ec2.py`.

Thanks.

[2020-07-04 17:47] #68506 closed, assigned to nobody

[2020-07-04 18:08] Akasurde commented on #67072
@siru88 Task should read -

[code]

needs_info

[2020-07-04 18:11] Akasurde commented on #30129
Please use [`aws_ec2`](https://github.com/ansible-collections/amazon.aws/blob/main/plugins/inventory/aws_ec2.py) inventory plugin instead of `ec2.py`

Thanks.

[2020-07-04 18:11] #30129 closed, assigned to nobody

[2020-07-04 18:15] Akasurde commented on #20178
Please use [`aws_ec2`](https://github.com/ansible-collections/amazon.aws/blob/main/plugins/inventory/aws_ec2.py) inventory plugin instead of `ec2.py`. Thanks.

[2020-07-04 18:15] #20178 closed, assigned to nobody

[2020-07-04 18:16] Akasurde commented on #14711
Please use [`aws_ec2`](https://github.com/ansible-collections/amazon.aws/blob/main/plugins/inventory/aws_ec2.py) inventory plugin instead of `ec2.py`. Thanks.

[2020-07-04 18:16] #14711 closed, assigned to nobody

[2020-07-04 18:36] #70409 closed, assigned to nobody

[2020-07-04 19:57] nsheraga opened #70464 "conditional check 'cmdb_hwmodel.startswith('HP ')"
ansible 2.9.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python3.6/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 3.6.8 (default, Sep 26 2019, 11:57:09) [GCC 4.8.5 20150623 (Red Hat 4.8.5-39)]

##### SUMM

[2020-07-04 21:37] sergioisidoro commented on #56576
Confirming another instance of this problem.
Removing ansible from target machine solved the issue (while running `ansible 2.7.5` locally).

[2020-07-05 06:05] Akasurde commented on #70464
Hi @nsheraga!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows

[2020-07-05 06:05] #70464 closed, assigned to nobody

[2020-07-05 06:07] Akasurde commented on #67152
@Maddog2050 Please use [`aws_ec2`](https://github.com/ansible-collections/amazon.aws/blob/main/plugins/inventory/aws_ec2.py) inventory plugin instead of `ec2.py`.

Thanks.

[2020-07-05 06:07] #67152 closed, assigned to nobody

[2020-07-05 07:41] ssbarnea commented on #70003
Why was this closed? I think that current behavior is non standard and confusing, especially because returned "msg" is incomplete and misleading.

It would be much better if the "msg" would just be a concatenation of the "failures" one.

I have nothing against documenting a "failures" return value as a List[str] but did not happen, is inconsistent between all modules used by "package" meta module.

[2020-07-05 07:51] relrod commented on #69442
@micchickenburger I think this isn't an Ansible bug, so I'm going to close this out. I'm guessing that `samba-tool` uses something like Python's `getpass.getpass()` which reads [directly from the tty](https://github.com/python/cpython/blob/master/Lib/getpass.py#L48) as opposed to reading from stdin which is what the `stdin` parameter sends its value to.

You *might* be able to use something like t

[2020-07-05 07:51] #69442 closed, assigned to relrod

[2020-07-05 10:20] relrod commented on #69203
Just to drop an update here, this has been [reported on LP](https://bugs.launchpad.net/ubuntu/+source/python-virtualenv/+bug/1880749) over a month ago with no activity on the ticket. For people who care deeply about this issue, I would suggest trying to get the attention of package maintainers on that ticket, because we are still blocked until it is fixed.

[2020-07-05 19:37] steve-todorov opened #70468 "Included role does not propagate changed to the task."
##### SUMMARY

Included role does not propagate `changed` to the task.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

lib/ansible/modules/include_role.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT

OS: Ubuntu 20.04 LTS
Python: 3.8.2

##### STEPS TO REPRODUCE

An oversimplified reproducible version:

[code]

Then simply `ansible-playbook playbook.yaml

[2020-07-05 20:47] robin-anil opened #70469 "Mysql privs do not support new MariaDB 10.5 permissions like "REPLICATION SLAVE ADMIN""
##### SUMMARY
Here are the new permission specified in MariaDB 10.5
https://mariadb.com/kb/en/grant/#global-privileges

##### COMPONENT NAME
mysql_user

##### ANSIBLE VERSION
[code]

[2020-07-06 00:59] edo1 commented on #68684
How could this help? I've looked into code: `hostnamectl` binary gets priority despite selected `use: xxx` flag.
IMO there should be an option to use `hostname`.

[2020-07-06 04:14] smacz42 commented on #68803
I won't be able to get to it until later this week or this weekend, but I'll put it on my todo list if you think that will help.

However, the issue reported is still present in the latest stable version of ansible. See: https://docs.ansible.com/ansible/latest/modules/docker_compose_module.html#parameter-timeout

It also looks to still be that way for https://github.com/ansible-collections/communi

[2020-07-06 04:51] Akasurde commented on #70469
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Migrated this issue in the above repository - https://github.com/ansible-collections/community.general/issues/617.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on

[2020-07-06 04:51] #70469 closed, assigned to nobody

[2020-07-06 07:44] Akasurde commented on #70468
Duplicate of https://github.com/ansible/ansible/issues/26537. Please see https://github.com/ansible/ansible/issues/26537#issuecomment-333640123 and https://github.com/ansible/ansible/issues/26537#issuecomment-338167934

Thanks.

[2020-07-06 07:44] #70468 closed, assigned to nobody

[2020-07-06 09:17] tremble commented on #42532
There was some work done on this module in https://github.com/ansible/ansible/pull/66778 that hasn't been backported would you be able to test against the version now available through the community.aws collection: https://github.com/ansible-collections/community.aws

[2020-07-06 10:37] macau23 opened #70470 "RFE: lineinfile should support a pure (non-regex) line"
---

##### SUMMARY
I want to be able to use a pure (non-regex) line with lineinfile. Without accidentally escaping or not escaping characters.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lineinfile

##### ADDITIONAL INFORMATION

I have a line in a file which has lots of special characters. I want to use Ansible's lineinfile module.

Ansible's lineinfile module requires a regular express

[2020-07-06 10:54] liupeng0518 commented on #48312
Still relevant imho and still no solution.

[2020-07-06 11:04] mowgli opened #70471 "is version() completly broken"
##### SUMMARY
is version will never be true anymore in version 2.9.6 and 2.9.9

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
version

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Devuan beowolf or sid

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
[code]

##### ACTUAL RESULTS
[code]

[2020-07-06 11:12] mowgli commented on #70471
Forget it, I did the mistake to miss a ","

[2020-07-06 11:12] #70471 closed, assigned to nobody

[2020-07-06 11:14] mowgli commented on #70471
The missing "," in version compare should at least create a syntax error.

[2020-07-06 11:19] mowgli opened #70472 "version() does not create syntax error on obvious wrong usage"
##### SUMMARY
version() has two mandatory parameters. But if the second is missing or the comma is forgotten, that does not issue any syntax error even if it is.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
version

##### ANSIBLE VERSION
[code]

but can be any lower.

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
linux

##### STEPS TO REPRODUCE
… is version('1.2.3' '<') or … is versi

[2020-07-06 13:20] Ph-Wagner opened #70473 "gitlab_project_variable ignores boolean validate_certs"
##### SUMMARY

interacting with an self singed internal gitlab instance fails when invoking `gitlab_project_variable`.
Previous tasks involving  `gitlab_deploy_key`, `gitlab_project` or `gitlab_group` are working fine.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

gitlab_project_variable

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

Fedora 31/32 and GalliumOS

##### STEPS TO REPR

[2020-07-06 13:46] mx-psi commented on #69600
Hi, this is tagged with "waiting on contributor" yet I see no message indicating what needs to be done. What should I do?

[2020-07-06 14:14] sivel commented on #70472
The `version` test only has 1 required parameter.  The 2nd parameter, called `operator`, has a default value of `eq`, and is not required.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-06 14:14] #70472 closed, assigned to nobody

[2020-07-06 14:16] Akasurde commented on #70473
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Migrated this issue in the above repository - https://github.com/ansible-collections/community.general/issues/619.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on

[2020-07-06 14:16] #70473 closed, assigned to nobody

[2020-07-06 14:17] #68751 closed, assigned to nobody

[2020-07-06 14:26] Shrews commented on #59945
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.crypto

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/

[2020-07-06 14:26] #59945 closed, assigned to nobody

[2020-07-06 14:41] ptr727 opened #70474 "Port mappings not removed from container"
##### SUMMARY

Using `docker_container` to create container with `published_ports` containing mapped ports.
Remove `published_ports` section, run task, ports are still active in container configuration.
Set `published_ports` to `[]`, run task, ports are still active in container configuration.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

docker_container

##### ANSIBLE VERSION

[code]

##

[2020-07-06 14:42] sivel commented on #70474
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-07-06 14:42] #70474 closed, assigned to nobody

[2020-07-06 14:57] #63228 closed, assigned to nobody

[2020-07-06 15:46] KSerrania opened #70476 "ansible_become option set in ini inventory file is not correctly used"
##### SUMMARY

On Ansible 2.9.10, setting `ansible_become` to any non-empty string in an `ini`-formatted inventory file causes the `become` plugin to be loaded and used, whereas Ansible 2.9.9 (and below) skipped the `become` plugin load if `ansible_become` was equal to "no" or "false".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Task executor (`lib/ansible/executor/task_executor.py`).

#

[2020-07-06 15:53] jhg03a commented on #70460
I'm using 2.9.10 as well.  I'm not positive that it's a bug though unless I'm mistaken.  The `connection` argument dictates which connection plugin to use & the local connection plugin has no context of anything other than localhost.  Therefore I think it's working as designed, and if it had worked differently before (as I suspect) that was the real issue.  In the example above what connection plu

[2020-07-06 16:23] samdoran commented on #61681
I think the document should be deleted. It's woefully out of date and inaccurate.

[2020-07-06 16:58] #21426 closed, assigned to maxamillion

[2020-07-06 17:02] maxamillion commented on #24529
Closing issue, if you'd like to provide more information so that we may continue to debug this please re-open and we can try and resolve the issue.

[2020-07-06 17:02] #24529 closed, assigned to nobody

[2020-07-06 17:31] samdoran commented on #64612
I'm working on a better fix for this based on the findings here. I haven't made a PR yet, but I'm working on it. Thank you for the investigation.

[2020-07-06 17:58] ghost opened #70481 "mongodb_user not creating user"
##### SUMMARY
The module mongodb_user will not work correctly and wont create a user. Subsequent runs result in a 'Changed' but still no user present

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mongodb_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS:
[code]
[code]

##### STEPS TO REPRODUCE

Run the following YAML:
[code]
Now run it agai

[2020-07-06 18:15] camaer commented on #70481
I was looking under the wrong database. My bad...

[2020-07-06 18:15] #70481 closed, assigned to nobody

[2020-07-06 18:26] ghost opened #70482 "mongodb_user update_password not working as intented"
##### SUMMARY
It seems the **update_password** does not compare the current password in the database and update the password on every run even if it's the same one. According to the doc: `always(which is the default) will update passwords if they differ`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

mongodb_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRO

[2020-07-06 18:50] shdobxr commented on #42532
Let me see about time constraints... I can definitely try when time permits.

[2020-07-06 19:13] samdoran commented on #70012
Closing per above.

[2020-07-06 19:13] #70012 closed, assigned to nobody

[2020-07-06 19:29] Shrews commented on #70476
Yep, this is broken in devel as well. I agree with your conclusion about where the breakage comes from.

[2020-07-06 20:02] sivel commented on #70482
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.mongodb

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-07-06 20:02] #70482 closed, assigned to nobody

[2020-07-06 20:24] acozine commented on #28084
The comments above address the use case, and this issue is now owned by `ghost`. Closing.

[2020-07-06 20:24] #28084 closed, assigned to nobody

[2020-07-06 20:32] acozine commented on #23144
This is still the case, see https://github.com/ansible/ansible/blob/51f6d129cbb30f42c445f7e2fecba68fe02d6f85/lib/ansible/plugins/action/service.py#L73.

Add a note to https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/service.py#L67 to document this constraint.

[2020-07-06 20:33] cedrictabary opened #70486 "eos_lag_interfaces triggers TypeError error in module_utils/network/common/utils.py"
##### SUMMARY

eos_lag_interfaces fails with error
ansible/module_utils/network/common/utils.py\", line 96, in sort_list\nTypeError: '<' not supported between instances of 'dict' and 'dict'\n"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

eos_lag_interfaces
module_utils/network/common/utils.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

target is Ar

[2020-07-06 20:38] cedrictabary commented on #70486
FYI in ansible/module_utils/network/common/utils.py replacing
[code]
with just empty function that returns var makes it work.
I guess it is trying to sort a list of dicts.

[2020-07-06 20:39] sivel commented on #70486
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-07-06 20:39] #70486 closed, assigned to nobody

[2020-07-06 21:17] acozine commented on #43260
Changes to the include_* and import_* documentation came from this PR: https://github.com/ansible/ansible/pull/66371/files.
New pages are currently only available in the `devel` documentation: https://docs.ansible.com/ansible/devel/user_guide/playbooks_reuse.html.

[2020-07-06 21:17] #43260 closed, assigned to acozine

[2020-07-06 21:37] RNCTX opened #70487 "keycloak_client seems to fail related to required field "redirectUris""
##### SUMMARY
Attempt to create a Keycloak client with Ansible

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
keycloak_client

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Client OS: OSX
Host / Target OS: Ubuntu 20.04

##### STEPS TO REPRODUCE
Attempt to create a Keycloak client in the master realm on a server with the playbook below...

[code]

##### EXP

[2020-07-06 22:47] #59282 closed, assigned to nobody

[2020-07-06 23:27] placaze opened #70489 "[postgresql_query] Add the ability to specify a PostgreSQL schema when connecting"
##### SUMMARY
Add the ability to specify a PostgreSQL schema when connecting to a database with the "postgresql_query" module.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Module: postgresql_query

##### ADDITIONAL INFORMATION
Add a parameter to specify a PostgreSQL schema (`currentSchema` or `search_path`) when connecting to a database with the "postgresql_query" module. Currently, a SQ

[2020-07-07 00:12] wilbrown1962 commented on #56501
This is causing problems for us as well.  Not fixed in 2.8?  When will this bug be fixed?  Thank you

[2020-07-07 00:43] borappa opened #70491 ""msg": "winrm or requests is not installed: No module named 'winrm'""
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-07-07 02:54] Akasurde commented on #70489
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Migrated this issue in the above repository - https://github.com/ansible-collections/community.general/issues/625.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on

[2020-07-07 02:54] #70489 closed, assigned to nobody

[2020-07-07 02:54] Akasurde commented on #70487
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Migrated this issue in the above repository - https://github.com/ansible-collections/community.general/issues/626.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on

[2020-07-07 02:54] #70487 closed, assigned to nobody

[2020-07-07 02:54] Akasurde commented on #70491
Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd appreciate it.  This allows us to keep

[2020-07-07 02:54] #70491 closed, assigned to nobody

[2020-07-07 06:21] bmillemathias commented on #70460
Hi @jhg03a
As this is a duplicate, could you close this bug, and for any further comments I suggest to write them on the issue I linked.

Best.

[2020-07-07 08:12] Stogrammus opened #70493 "Disk type always is "Lazy zeroed thick disks""
##### SUMMARY
When I create a virtual machine from a VMware template and change the disk size The disk always changes its type to "Lazy zeroed thick disks". An ansible playbook disc type is "Eager zeroed thick disks".
I tried to use an option "convert: eagerzeroedthick", but the disk type remains "Lazy zeroed thick disks" after the virtual machine was created.
I tried to use in playbook:
type: eag

[2020-07-07 08:30] mkrizek commented on #70493
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vmware.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansib

[2020-07-07 08:30] #70493 closed, assigned to nobody

[2020-07-07 09:46] puchalakd opened #70495 "Change of behaviour with delegate_to: localhost in 2.9.10."
##### SUMMARY

In 2.9.10 there is a change in behaviour when used with delegate_to: localhost
This breaks playbooks that relay on files/directories/scripts/... on controller node.

That same playbook is using different current working directory to execute tasks with delegate_to: localhost :
i.e. in Ansible 2.9.9 and below: /home/puchalakd/Ansible
in Ansible 2.9.10 /home/puchalakd

The problem is i

[2020-07-07 10:11] aitseitz commented on #20077
vote +1 for that feature request.

Same issue still exists with **import_role** in ansible 2.9.5

Example:
[code]

ERROR! Could not find specified file in role: tasks/run_health_check_tasks.yml

Any reason why subfolders in tasks folder should be made?

[2020-07-07 10:58] Akasurde commented on #63767
resolved_by_pr https://github.com/ansible-collections/community.general/pull/629

[2020-07-07 11:09] Akasurde commented on #67898
@uditgaurav Could you please open a new issue with your requirement under [`community.kubernetes`](https://github.com/ansible-collections/kubernetes/issues/new?template=feature_request.md) collection repo? Thanks,

[2020-07-07 11:09] #67898 closed, assigned to nobody

[2020-07-07 11:26] ziima opened #70496 "git_config changes remote on another repository"
##### SUMMARY

When using `git_config` module to change remote URL, the URL is changed on repository from where the ansible is lauched, usually the repository with my ansible project itself.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

git_config

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian testing

##### STEPS TO REPRODUCE

1. Create empty g

[2020-07-07 11:52] mkrizek commented on #70496
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-07-07 11:52] #70496 closed, assigned to nobody

[2020-07-07 11:56] gundalow commented on #68132
`00:23 WARNING: Path not categorized: plugins/callback/selective.py`

[2020-07-07 12:27] gundalow commented on #68132
What's the easiest way to get ansible-tests classifier to tell me what every file in a collection maps to?

[2020-07-07 12:45] pipopopo commented on #57062
This could be considered a regression as Ansible 2.6 did not have this problem.

Older systems like RHEL6 do not have the /etc/os-release file on the system.

Some script on RHEL7 to simulate the behavior for a RHEL6 system by removing the /etc/os-release file and having some custom release file e.g. ora-release :

**reproduce.sh**
[code]

[code]

Ansible should support RHEL6 as a managed node: [h

[2020-07-07 14:13] rmb938 commented on #22473
I have a use case that requires this functionality. If a failure happens on a play all the following plays must not run.

My use case is upgrades where certain groups of hosts must be upgraded before other groups. i.e group a, b, c, d, ect...

[code]

If any host in group b fails, the play for group c and d should not run. I've been trying to figure out a solution since ansible lacks a "fail the w

[2020-07-07 14:24] fredericve opened #70500 "HTTPSConnection attempted even when httplib.HTTPSConnection is not available"
##### SUMMARY
When running a module that uses module_utils/urls.py on a target host that does not support ssl, execution fails.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module_utils/urls.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS is an old Debian release with a vulnerable openssl. It runs python2.7 without ssl support (no _ssl.so).

[2020-07-07 14:38] sivel commented on #70500
This issue was resolved in https://github.com/ansible/ansible/pull/60049 but was not backported to the 2.8 series at that time.  As of now 2.8 is only receiving security fixes, and as such this will not be backported.  Please upgrade to Ansible 2.9+.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.goog

[2020-07-07 14:38] #70500 closed, assigned to nobody

[2020-07-07 15:14] samdoran commented on #70360
We discussed this in triage today and it seems the best path forward is to create new fact keys that have the correct behavior. Changing the longstanding behavior of the existing facts would likely break a lot of playbooks.

[2020-07-07 15:14] bcoca commented on #70360
Discussed with the team, as per the conversation above, the solution is creating new facts keys that return the desired data for this case and leave the existing keys with the current behaviour as too many people and plays depend on it.

[2020-07-07 15:19] samdoran commented on #70361
This is the behavior of `json.loads('')`. We need to account for an empty string in the stdout.

[2020-07-07 15:24] samdoran commented on #70364
It is possible to make the warning messages unique by adding the hostname to the warning message when `warn()` is called.

[2020-07-07 15:26] bcoca commented on #70367
closing as per above

[2020-07-07 15:26] #70367 closed, assigned to nobody

[2020-07-07 15:29] samdoran commented on #70397
Updating the docs to unify the use of "role params" and "role vars" would be helpful.

[2020-07-07 15:31] samdoran commented on #70399
Duplicate of https://github.com/ansible/ansible/issues/46203

[2020-07-07 15:31] #70399 closed, assigned to nobody

[2020-07-07 15:32] mattclay commented on #68132
@gundalow You can use something like the following when using `bash`:

[code]

Substitute `windows-integration` or `network-integration` as needed.

If you're looking for paths which trigger all tests, look for `all$`

[2020-07-07 15:43] samdoran commented on #70427
We have no plans to implement this feature at this time. We would be ok accepting a PR adding this feature but are going to close this issue since it is not being actively worked on.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2020-07-07 15:43] #70427 closed, assigned to nobody

[2020-07-07 15:48] #70244 closed, assigned to relrod

[2020-07-07 15:55] samdoran commented on #70448
We have no plans to implement this feature at this time.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2020-07-07 15:55] #70448 closed, assigned to nobody

[2020-07-07 16:12] paulramsey commented on #23073
+1

[2020-07-07 16:31] webknjaz commented on #70456
@relrod @nitzmahone @abadger FYI

[2020-07-07 17:20] smiller171 commented on #23073
@paulramsey it's generally better to add a 👍  to the first comment and hit the subscribe button in the sidebar so you can vote for an issue and subscribe to future notifications on that issue without spamming everyone who's already subscribed.

[2020-07-07 17:38] joelcollin commented on #70364
@samdoran, this was already mentioned in the 'Additional Info' snippet of the original description. Is there a better way than invoking run_command('hostname') to get it?

Also, this only helps if using a custom module.

[2020-07-07 17:48] sandeep444033 opened #70505 "Conditional wild card usage"
Is there any way I can use the wild cards or regex in when statements,

when: ansible_distribution_major_version|int == 6 or ansible_fqdn == "test[0-1][0-9].example.com"

I actually do not want to pass hostname of my server in vars section. Will this regex work with in conjunction with Ansible facts ? During my playbook execution time, it need to interpret my hostname of the server from fact ansib

[2020-07-07 17:51] sivel commented on #70364
Our own code in `ansible.module_utils.basic.missing_required_lib` uses the following:

[code]

We discussed today that we don't have plans on adding a feature that changes this behavior currently.  We have future plans that would enable you to modify the display class through some form of config, but that would be a generic feature, rather than one specific to this specific use case.  However, we

[2020-07-07 17:52] sivel commented on #70505
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-07-07 17:52] #70505 closed, assigned to nobody

[2020-07-07 18:09] joelcollin commented on #70364
Thank you @sivel. Considering that, in my use case, we are providing a custom module, the hostname workaround can be applied to achieve the desired behaviour.

[2020-07-07 18:09] #70364 closed, assigned to nobody

[2020-07-07 18:36] acozine commented on #67939
Partial fix in #70488.

[2020-07-07 20:02] danepowell commented on #70184
Just wanted to say thanks for posting this issue, turns out we were also relying on this "bug" and spent a lot of time trying to fix it until we found this.

[2020-07-07 20:33] zaphodbb opened #70510 "Task level timeout desperately needed"
##### SUMMARY

NOTE: I was instructed by our RedHat TAM to open this RFE despite similarities to issue 33180.

We need a task level timeout,  Any individual task in Ansible should be able to have a timeout assigned to it.

Similar to https://github.com/ansible/ansible/issues/33180 but possibly simpler to implement,   In a large fleet, the common occurrence of Ansible just hanging indefinitely beca

[2020-07-07 20:36] sivel commented on #70510
This feature was recently implemented in https://github.com/ansible/ansible/pull/69284 and will be included in the Ansible 2.10 release.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-07 20:36] #70510 closed, assigned to nobody

[2020-07-07 20:45] zaphodbb commented on #70510
holy cow, great, sorry we missed that fact in our discussions of the issue. THANK YOU!!!

[2020-07-07 20:53] sivel commented on #70510
No problem at all.

[2020-07-07 21:10] gloomytrousers commented on #52742
This also occurs with `password: /path/to/keyfile`, which is similarly not a sensitive value.

[2020-07-07 22:28] #69352 closed, assigned to relrod

[2020-07-07 23:41] #69678 closed, assigned to relrod

[2020-07-08 00:44] ed-velez opened #70512 "ansible_user_* facts inconsistent with defaults across sudo/su become_method"
##### SUMMARY
Currently the `ansible_user_*` facts are inconsistent based on the underlying `become_method` used when they were collected.

The `ansible_user_*` facts when running in an escalated root context and `su` is used as the `become_method` will reflect the `ansible_user`:
[code]

The `ansible_user_*` facts when running in an escalated root context and `sudo` is used as the `become_method`

[2020-07-08 04:46] Akasurde commented on #65806
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.digitalocean

Migrated this issue in the above repository - https://github.com/ansible-collections/community.digitalocean/issues/4.

If you have further questions please stop by IRC or the mailing list:

* IRC: #an

[2020-07-08 04:46] #65806 closed, assigned to nobody

[2020-07-08 04:46] Akasurde commented on #63175
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.digitalocean

Migrated this issue in the above repository - https://github.com/ansible-collections/community.digitalocean/issues/5.

If you have further questions please stop by IRC or the mailing list:

* IRC: #an

[2020-07-08 04:46] #63175 closed, assigned to nobody

[2020-07-08 04:46] Akasurde commented on #35669
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.digitalocean

Migrated this issue in the above repository - https://github.com/ansible-collections/community.digitalocean/issues/6.

If you have further questions please stop by IRC or the mailing list:

* IRC: #an

[2020-07-08 04:46] #35669 closed, assigned to nobody

[2020-07-08 05:27] Akasurde commented on #58843
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.digitalocean

Migrated this issue in the above repository - https://github.com/ansible-collections/community.digitalocean/issues/7.

If you have further questions please stop by IRC or the mailing list:

* IRC: #an

[2020-07-08 05:27] #58843 closed, assigned to nobody

[2020-07-08 05:52] theNewFlesh opened #70513 "Publish stuck waiting"
##### SUMMARY
`ansible-galaxy collection publish ./the_new_flesh-dev_roles-1.2.0.tar.gz` hangs forever

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Target OS Ubuntu 20.04
##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

published collection

##### ACTUAL RESULTS

hangs forever

[code]

[2020-07-08 06:19] #68234 closed, assigned to nobody

[2020-07-08 06:35] willthames opened #70514 "collections are ignored if plugins/action is missing"
##### SUMMARY
If a collection does not contain plugins/action, it is ignored

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
collections

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS TO REPRODUCE

Install e.g. community.kubernetes

ansible-galaxy collection install community.kubernetes

[code]

##### EXPECTED RESULTS
plugins/action does

[2020-07-08 07:20] willthames opened #70516 "collections aren't passed down to roles"
##### SUMMARY
This may be a feature, I'm not sure, but roles ignore the collections directive of a play

If there's an alternative way to declare collections for a role, that is fine too but it doesn't seem to be mentioned anywhere

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
collections

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A

##### STEPS T

[2020-07-08 07:24] willthames commented on #70516
Ah, I found out about

[code]

in meta/main.yml

My question still remains if this is the desired behaviour or somewhat expected, and if desired, should this behaviour be documented?

[2020-07-08 07:58] willthames commented on #67653
This is fixed in the latest version of the community.kubernetes collection

[2020-07-08 08:58] bmildren opened #70517 "Move MySQL modules from community.general to community.mysql"
##### SUMMARY
I realise it's short notice, but unless anyone has any objections, I'd like to move the MySQL modules (and related content) out of community.general into a dedicated collection community.mysql prior to this Friday's deadline (10th July) so the change can be included in 2.10.  Moving the modules into a dedicated collection has many benefits, and also helps reduce the burden on the tea

[2020-07-08 09:07] bmildren commented on #70517
@bmalynovytch @Andersson007 @Xyon @Oneiroi @michaelcoburn @tolland @Alexander198961

[2020-07-08 09:12] djedovica opened #70518 "asa_og: Issue when using state:replace with Port: 80 in port-groups"
##### SUMMARY

I have a port 80 in the port group on the firewall. When I send a task with state:replace the port 80 will always be removed from this group. When I send once again the same task, the port 80 will be created in this port group. By next attempt it will be removed, and then created etc. I get no errors from ansible.

I have also tested with other ports and the same problem appears wit

[2020-07-08 09:13] rangapv opened #70519 "gcp_compute_instance throws Module error when trying to deconstruct "service_account_contents""
##### SUMMARY

When trying to create a GCP instance in Ansible using the module "service_account_contents:" the playbook fails with the . For "service_account_contents" , i tried many different options
once as a variable(string myvar22 - defined in global_vars directory) with JSON ;key:value pairs  ::::::: the error is the same as Module error , service_account_contents: "{{ myvar22 | string }}"
t

[2020-07-08 09:55] Andersson007 commented on #70517
(maybe it should be opened in community.general as in the current place where they live?)

the modules are mostly supported by me now. i personally don't mind if there are moved.
i'm trying to figure out any possible disadvantages of having them not in community.general that are not obvious now...
We have to ask @bmalynovytch as a WG leader, @bmalynovytch what do you think?

@bmildren are you gonn

[2020-07-08 09:55] Akasurde commented on #70519
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/google.cloud

Migrated this issue in the above repository - https://github.com/ansible-collections/google.cloud/issues/254.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freen

[2020-07-08 09:55] #70519 closed, assigned to nobody

[2020-07-08 09:56] Akasurde commented on #70518
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.asa

Migrated this issue in the above repository - https://github.com/ansible-collections/cisco.asa/issues/55.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net

[2020-07-08 09:56] #70518 closed, assigned to nobody

[2020-07-08 09:58] Andersson007 commented on #70517
@gundalow @felixfontein ^^^

[2020-07-08 10:09] Akasurde commented on #49044
@IcebergTitanic @Vebryn @mnhauke @ferfemar @prashanthps @shamax2201 @boudreau @TrentLewisAU @marouim  Could you please check if https://github.com/ansible-collections/community.general/pull/613 solves this issue? Thanks.

needs_info
has_pr

[2020-07-08 10:11] felixfontein commented on #70517
I guess we could set up the same CI as in community.general. That would probably be the easiest solution. Assuming that's ok for @gundalow of course :) @Andersson007 btw when talking about CI, are the MySQL integration tests spread out over different shippable groups, and if yes, is that necessary to avoid conflicts?

[2020-07-08 10:35] bmildren commented on #70517
@Andersson007 yep, I've added myself to the working group, and would be happy to contribute to actively supporting these modules.

[2020-07-08 10:50] bmildren commented on #70517
@felixfontein for the CI, potentially I can just setup github actions (similarly to [community.proxysql](https://github.com/ansible-collections/community.proxysql/tree/main/.github/workflows), so it might be we don't need to look at shippable for the new collection.

[2020-07-08 11:03] Akasurde commented on #70513
@theNewFlesh Can you please add `-vvv` and see what does debug log say? I get error like

[code]

[2020-07-08 11:40] srivaa31 opened #70520 "Number of virtual devices exceeds the maximum for a given controller while changing adapter settings for a VM"
##### SUMMARY

pyVmomi.VmomiSupport.TooManyDevices exception while configuring four adapter settings on the target VM
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

vmware_guest_network
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

esxi: 6.7
OS: CentOS Linux release 8.1.1911 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Expected to at

[2020-07-08 11:44] SusethiraRam opened #70521 "ansible_network_os for Cisco firepower 2100 device"
Hi,

I'm trying to do firmware upgrade for a Cisco Firepower 2130 device using ansible via CLI.

I tried searching for ansible_network_os, can't able to find the exact one for this. I used with fxos, for which I got error as there is no such module.

Tried with other ansible_network_os types also. With ansible_network_os as 'asa', I'm able to fetch only version details. Can't able to execute comma

[2020-07-08 11:53] Akasurde commented on #56303
Hi @rrey, Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general<br><br>If you have further questions please stop by IRC or the mailing list:<br><br>* IRC: #ansible on irc.freenode.net<br>* mailing list: https://groups.google.com/forum/#!forum/ansible-project<b

[2020-07-08 11:53] Akasurde commented on #64742
Hi @johnbui423, Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general<br><br>If you have further questions please stop by IRC or the mailing list:<br><br>* IRC: #ansible on irc.freenode.net<br>* mailing list: https://groups.google.com/forum/#!forum/ansible-pro

[2020-07-08 11:53] Akasurde commented on #65113
Hi @Lunik, Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general<br><br>If you have further questions please stop by IRC or the mailing list:<br><br>* IRC: #ansible on irc.freenode.net<br>* mailing list: https://groups.google.com/forum/#!forum/ansible-project<

[2020-07-08 11:53] Akasurde commented on #66812
Hi @benpatterson, Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general<br><br>If you have further questions please stop by IRC or the mailing list:<br><br>* IRC: #ansible on irc.freenode.net<br>* mailing list: https://groups.google.com/forum/#!forum/ansible-p

[2020-07-08 11:53] Akasurde commented on #67159
Hi @mh21, Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general<br><br>If you have further questions please stop by IRC or the mailing list:<br><br>* IRC: #ansible on irc.freenode.net<br>* mailing list: https://groups.google.com/forum/#!forum/ansible-project<b

[2020-07-08 11:53] Akasurde commented on #67416
Hi @sakar97, Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general<br><br>If you have further questions please stop by IRC or the mailing list:<br><br>* IRC: #ansible on irc.freenode.net<br>* mailing list: https://groups.google.com/forum/#!forum/ansible-projec

[2020-07-08 11:53] Akasurde commented on #68224
Hi @EvanCarroll, Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general<br><br>If you have further questions please stop by IRC or the mailing list:<br><br>* IRC: #ansible on irc.freenode.net<br>* mailing list: https://groups.google.com/forum/#!forum/ansible-pr

[2020-07-08 11:56] mkrizek commented on #70520
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vmware.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansib

[2020-07-08 11:56] #70520 closed, assigned to nobody

[2020-07-08 11:56] mkrizek commented on #70521
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-07-08 11:56] #70521 closed, assigned to nobody

[2020-07-08 11:59] Akasurde commented on #70520
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vmware

Migrated this issue in the above repository - https://github.com/ansible-collections/vmware/issues/283.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* ma

[2020-07-08 12:24] NilashishC commented on #67570
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

This issue has been reopened in the above mentioned collection for further tracking - https://github.com/ansible-collections/cisco.nxos/issues/115

If you have further questions please stop by IRC or the mailing list:

[2020-07-08 12:24] #67570 closed, assigned to nobody

[2020-07-08 12:41] #67416 closed, assigned to nobody

[2020-07-08 13:00] NilashishC commented on #59057
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-08 13:00] #59057 closed, assigned to pabelanger

[2020-07-08 13:01] NilashishC commented on #58219
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/junipernetworks.junos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!f

[2020-07-08 13:01] #58219 closed, assigned to nobody

[2020-07-08 13:05] #58037 closed, assigned to ganeshrn

[2020-07-08 13:05] #58019 closed, assigned to nobody

[2020-07-08 13:06] NilashishC commented on #57809
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible

[2020-07-08 13:06] #57809 closed, assigned to justjais

[2020-07-08 13:06] NilashishC commented on #57718
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansibl

[2020-07-08 13:06] #57718 closed, assigned to trishnaguha

[2020-07-08 13:07] #57522 closed, assigned to nobody

[2020-07-08 13:08] NilashishC commented on #57122
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansibl

[2020-07-08 13:08] #57122 closed, assigned to rohitthakur2590

[2020-07-08 13:10] NilashishC commented on #57084
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-08 13:10] #57084 closed, assigned to nobody

[2020-07-08 13:10] #56696 closed, assigned to nobody

[2020-07-08 13:10] NilashishC commented on #56542
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-08 13:10] #56542 closed, assigned to nobody

[2020-07-08 13:11] NilashishC commented on #56455
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansibl

[2020-07-08 13:11] #56455 closed, assigned to trishnaguha

[2020-07-08 13:12] NilashishC commented on #56449
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-08 13:12] #56449 closed, assigned to nobody

[2020-07-08 13:12] NilashishC commented on #56284
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-08 13:12] #56284 closed, assigned to nobody

[2020-07-08 13:17] NilashishC commented on #56282
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.asa

Please re-submit this issue in the above repository along with the persistent_log_messages data for the playbook run. More information on how to enable this can be found in https://docs.ansible.com/ansible/latest/network

[2020-07-08 13:17] #56282 closed, assigned to justjais

[2020-07-08 13:19] NilashishC commented on #56077
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-08 13:19] #56077 closed, assigned to nobody

[2020-07-08 13:19] NilashishC commented on #56000
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-08 13:19] #56000 closed, assigned to nobody

[2020-07-08 13:20] #55802 closed, assigned to pabelanger

[2020-07-08 13:21] NilashishC commented on #55722
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-08 13:21] #55722 closed, assigned to justjais

[2020-07-08 13:21] NilashishC commented on #55718
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-08 13:21] #55718 closed, assigned to nobody

[2020-07-08 13:22] #55642 closed, assigned to nobody

[2020-07-08 14:10] Andersson007 commented on #70517
@felixfontein i noticed recently that a part of them is disabled, e.g. for mariadb replication. As far as i remember, yes, we use different groups to avoid conflicts between mysql and mariadb dependencies.

@bmildren nice, it actually needs more active contributors. Feel free to text me for reviewing, etc.

[2020-07-08 14:16] bmillemathias commented on #44780
Hi @bpleines

could you answer ?

[2020-07-08 14:21] Shrews commented on #70516
I believe this is documented in unreleased docs: https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/user_guide/collections_using.rst#using-collections-in-roles

[code]

[2020-07-08 15:26] sivel commented on #70516
This is expected behavior as @Shrews points out above. This was a deliberate decision. The documentation was updated in https://github.com/ansible/ansible/pull/66667

Closing this per above.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-08 15:26] #70516 closed, assigned to nobody

[2020-07-08 15:40] sivel commented on #70514
I'm unable to replicate this behavior.  When I install the `community.kubernetes` collection, and run this playbook with `-vvv` I get the following:

[code]

This shows ansible loading the module from the collection.

Can you run the playbook with `-vvv` to show this verbose output?

[2020-07-08 15:41] bmildren commented on #70517
I created some preemptive pr's to migrate mysql out of community.general here:

https://github.com/ansible/ansible/pull/70523
https://github.com/ansible-collections/community.general/pull/633

These would obviously only be valid if we go ahead and migrate to community.mysql.

[2020-07-08 15:52] jhg03a commented on #70359
Another simple reproduce case is
[code]

[2020-07-08 16:14] #69329 closed, assigned to nobody

[2020-07-08 16:17] krichter722 commented on #66096
This is still an issue with  2.9.10. I'd really appreciate some feedback on this. I don't see how anyone can use the module currently and tons of people might turn away from the Ansible GKE module which would be a pity because Ansible is great.

[2020-07-08 16:21] sivel commented on #66096
@krichter722 There are likely a few hurdles to this being resolved:

1. This module is no longer maintained in this repository, and now located at https://github.com/ansible-collections/google.cloud/
2. Although the resulting module is located at the above repo, Google programmatically generates their modules, and the repo that houses the code to generate the module lives at https://www.github.com

[2020-07-08 16:28] invizus commented on #53426
This happened to me too. My observation is that if LXD cluster decides to create container on a different node, then it fails to start the newly created container. But if container created on the host that playbook is applied on - then container starts just fine.

This is how I did:
1) run playbook for nodeA to create container. Outcome: container created on nodeB, ansible result: failed. Containe

[2020-07-08 16:32] krichter722 commented on #66096
@sivel Thanks for your input. We can definitely close this issue, then. I'll post links here as soon as I opened the issues in one of the referenced projects.

[2020-07-08 16:32] #66096 closed, assigned to nobody

[2020-07-08 16:45] theNewFlesh commented on #70513
I have made some updates after that publish, and tried to republish.

[2020-07-08 16:54] theNewFlesh commented on #70513
I ran it again under version 1.3.0

[code]

[2020-07-08 16:56] theNewFlesh commented on #70513
Can you please just cancel all my running jobs on galaxy.ansible.com?

[2020-07-08 16:59] bcoca commented on #70359
@jhg03a you are telling to use `connection:local ` for all tasks and hosts in play (including delegated) .. unless the host itself has a connection var (`ansible_connection`) to override it.

[2020-07-08 17:07] invizus commented on #40479
Similar issue #53426

[2020-07-08 17:14] krichter722 commented on #66096
I'm so confused that I needed to ask https://stackoverflow.com/questions/62799952/how-to-update-the-ansible-gcp-container-cluster-module.

[2020-07-08 17:18] sivel commented on #70513
@theNewFlesh we do not have the access required to cancel running jobs on galaxy.ansible.com

That would require submitting an issue to https://github.com/ansible/galaxy

However, since we have a task ID in your last example, I can forward that info on.

cc @awcrosby

[2020-07-08 17:19] #69099 closed, assigned to nobody

[2020-07-08 17:19] webknjaz commented on #70456
https://github.com/ansible/ansible/pull/70525

[2020-07-08 17:26] awcrosby commented on #70513
It looks like task 3696 was waiting in the task queue, it has moved to running and is now complete.

[2020-07-08 17:33] theNewFlesh commented on #70513
thanks

[2020-07-08 17:34] gundalow commented on #70517
Sounds like we've got some good people here to help.
Once of the advantages of moving this to `community.mysql` is we can have every PR run against a set of different MySQL server versions.

+1 from me

[2020-07-08 17:34] #69279 closed, assigned to nobody

[2020-07-08 17:46] #70513 closed, assigned to nobody

[2020-07-08 18:06] jhg03a commented on #70359
Ah so maybe it's not the same thing as #70460 then

[2020-07-08 18:09] krichter722 commented on #66096
For starters reported at https://github.com/ansible-collections/google.cloud/issues/255 as overwriting files in `/usr/local/lib/python3.8/dist-packages/ansible/modules/cloud/google/` with files from `~/.ansible/collections/ansible_collections/google/cloud/plugins/modules/` after `ansible-galaxy collection install google.cloud` still causes the issue.

[2020-07-08 18:48] bcoca commented on #70359
its exactly the same thing, this is expected behaviour, this previously only 'worked' because of a bug in delegating ignored  the connection' keyword

[2020-07-08 18:53] #70476 closed, assigned to nobody

[2020-07-08 18:57] bcoca commented on #52742
this is not about the usage, but about the plugin author not using `no_log` and heuristics detecting a 'password named field', to remove the message the author just needs to set `no_log` in the argument_spec. Set to `True` if the contents should be secret, set to `False` if they don't need to be and avoid the heuristic check warning.

[2020-07-08 18:57] #52742 closed, assigned to nobody

[2020-07-08 19:01] sivel commented on #70455
This is expected.  We were made aware of a shortcoming in our `no_log` heuristics that could allow the `no_log` values to show up in keys, whereas previously we only restricted to values.  This was done in https://github.com/ansible/ansible/pull/69653 but was not backported for reasons of a backwards incompatible change made in a minor release.

If you have further questions please stop by IRC or

[2020-07-08 19:36] invizus opened #70528 "lxd_container to support --target for lxd cluster deployments"
##### SUMMARY
When LXD deployed in cluster mode, LXD has algorithm how to provision containers, from their [documentation](https://lxd.readthedocs.io/en/latest/clustering/#instances):

I want my containers to be statically defined across my LXD cluster. With LXD command I could do it this way:
`lxc launch --target node2 ubuntu:18.04 bionic` (from documentation)
or in my case
`lxc launch --target l

[2020-07-08 19:59] gundalow commented on #70517
Repo created, if you want commit please shout out.

[2020-07-08 20:39] sivel commented on #70528
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-07-08 20:39] #70528 closed, assigned to nobody

[2020-07-08 20:52] sivel commented on #38172
Resolved in https://github.com/ansible/ansible/pull/69376 for the 2.10 release.

[2020-07-08 20:52] #38172 closed, assigned to nobody

[2020-07-08 21:36] sivel commented on #70512
Using `-l` with `su` isn't in alignment with how we execute `sudo`.  We do not use `-i`/`--login` with `sudo`, and adding that changes the behavior of `sudo` as we would then be loading profile files that we haven't.  So if we added`-l` for `su` that would still be inconsistent with `sudo` unless we added `-i` for sudo.

This is also dependent on where your `su` came from. Whether that is BSD, vs

[2020-07-08 22:17] bpleines commented on #44780
Hey @bmillemathias & @donestefan ,

I think the separate `ns_group` module definitely satisfies the ask here - thanks for following up. Closing.

[2020-07-08 22:17] #44780 closed, assigned to nobody

[2020-07-09 05:33] mhulot opened #70533 "setup module should support interface names longer than 8 characters"
##### SUMMARY
If an interface device name is longer than 8 charcters, say lan5044:2, setup module does not create a valid variable,
say 'ansible_lan5044:2'.
Instead, it cuts the substring 'lan5044:2' after eight characters:
'ansible_lan5044:'.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
setup module

##### ADDITIONAL INFORMATION
On HPUX when using vlan interfaces the vaild range starts

[2020-07-09 05:45] Akasurde commented on #70533
@mhulot Thanks for reporting this issue. Can you paste whole `ansible nodeA -m setup | grep interface` output?

[2020-07-09 05:53] mhulot commented on #70533
@Akasurde - thank you for the quick reply:
(ansible-2.9.5.0) > ansible nodeA -i inventories/production_ut -m setup | grep interface
        "ansible_default_interface": "lan5532",
        "ansible_interfaces": [
                "interface": "lan4*",
                "interface": "lan5044",
                "interface": "lan5532",
                "interface": "lan5532:",
                "interface":

[2020-07-09 05:53] Akasurde commented on #70533
Thanks. I am looking into this.

[2020-07-09 05:58] bmillemathias commented on #44780
indeed, I actually use this option yesterday, works fine.

[2020-07-09 06:01] Akasurde commented on #70533
@mhulot Can you paste `netstat -ni` output? I want to check if HPUX netstat provides different output than Linux output.

[2020-07-09 06:24] mhulot commented on #70533
@Akasurde
I had to replace the IP addresses

[code]

[2020-07-09 07:09] tw-alexb opened #70534 "Apache2_module generates false/misleading warning"
##### SUMMARY

This warning is in some cases misleading and simply false:
[code]
In case exchanging **mpm_event** module immediately with **mpm_prefork** module generates an false/misleading warning. See message above.

This could be simply fixed by adding an optional warn option:

*PLAYBOOKEXAMPLE*
[code]
*FIX*
[code]

*EXPECTED RESULT WITHOUT FALSE WARNING*
[code]

##### ISSUE TYPE
- Bug Report

[2020-07-09 07:20] mkrizek commented on #70534
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-07-09 07:20] #70534 closed, assigned to nobody

[2020-07-09 07:33] mh21 commented on #67159
Closing as this should be covered by https://github.com/ansible-collections/community.general/issues/440

[2020-07-09 07:33] #67159 closed, assigned to nobody

[2020-07-09 08:42] Andersson007 commented on #70517
we must not forget to move all related stuff including:
1. module_utils/mysql.py || database.py
2. CI test: test/integration/targets/setup_mysql|mariadb and mysql|mariadb_* roles
3. doc fragments
4. unit tests (if exist)

[2020-07-09 08:46] bmalynovytch commented on #70517
Hi there !
I can't think of a good reason not to do so.
Moving the modules should give us more flexibility and less constraints (mostly with other modules in the general section).

👍

[2020-07-09 08:47] Andersson007 commented on #70517
@bmalynovytch thanks for the reply!

[2020-07-09 09:10] tobia opened #70535 "Copy fails on Proxmox VE's CFS filesystem and unsafe_writes does not work"
##### SUMMARY

I cannot seem to be able to copy a file into the `/etc/pve/` directory of a Proxmox VE server. This is a FUSE filesystem implemented in `/usr/bin/pmxcfs` Proxmox Cluster File System aka. CFS.

CFS has a peculiarity in that it does not allow the `chmod` system call, returning Errno 1: Operation not permitted.

The problem is that I cannod find a way to prevent `copy` from issuing a c

[2020-07-09 09:30] bmildren commented on #70517
@Andersson007 - I think I've caught the CI tests/module_utils/doc_fragments (there were no unit tests) in https://github.com/ansible-collections/community.general/pull/633 (anything deleted here will move to community.mysql).

I'll be working today on recreating the CI workflow using GitHub actions 👍

[2020-07-09 09:51] #54339 closed, assigned to Akasurde

[2020-07-09 09:51] #55135 closed, assigned to nobody

[2020-07-09 09:51] #66042 closed, assigned to nobody

[2020-07-09 10:12] #10874 closed, assigned to nobody

[2020-07-09 10:47] jeberhardt87 opened #70536 "cobbler.py script not working - CentOS8.2 with python 3.6.8"
##### SUMMARY
The cobbler.py script from https://raw.githubusercontent.com/ansible/ansible/stable-2.9/contrib/inventory/cobbler.py is not working
OS: CentOS 8.2
Python version: 3.6.8
Ansible version: 2.9.10

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cobbler.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

OS: CentOS 8.2
Python version: 3.6.8
Ansible

[2020-07-09 11:19] acdha commented on #69846
@ansibot bot_broken

The version field is set

[2020-07-09 11:22] rjeffman commented on #70455
The problem with this expected behavior is that if you have one single character in the field set to no log, you get an output like this:
[code]
Note that this output is actually **wrong**, as it says `ok`, but the correct result should be `changed`, as there were changes and they were reported by the module. The value of the field with `no_log` was set to `c`. Note that there are two entries for

[2020-07-09 11:27] Akasurde commented on #70536
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Migrated this issue in the above repository - https://github.com/ansible-collections/community.general/issues/638.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on

[2020-07-09 11:27] #70536 closed, assigned to nobody

[2020-07-09 12:48] Andersson007 commented on #70517
nice, don't forget to copy module_utils/database.py (but needs to be rechecked that it's used by the module).
would be cool to run the whole bunch of CI tests after they migrated
and
[code]
(could be implemented later by a separate PR i think)

[2020-07-09 12:51] t-woerner commented on #70455
I do not understand why the no_log key name sub string is replaced in all other keys. I can understand that a key with the same name might be replaced though.

[2020-07-09 12:59] rjeffman commented on #70455
With the current behavior, I can even hide a failed module execution:

[code]

The `data` attribute has `no_log` set, and this task should fail, but when I execute this, the result is "ok". If I change the value of data to be "foobar" it fails as expected.

[2020-07-09 14:45] sivel commented on #70533
I wonder if netstat is using a different width if operating in a non-interactive session, as opposed an interactive session.

[2020-07-09 14:58] mhulot commented on #70533
HPUX's netstat command's default output is limited in width.
For most outputs this is enough.
In case there are longer lines than the limited output you have to use  the '-w' switch.
It is like it is. Why?. Old but releiable ;-)
Anyway:
'netstat -niw' always produces a a parseable (does this word exist in english?) output.

[2020-07-09 15:04] mhulot commented on #70533
@sivel
Excuse the typos, please.

[2020-07-09 15:23] poulterer opened #70539 "AWX unable to pull Foreman inventory"
##### SUMMARY

AWX is configured to use Foreman (Satellite 6) as an inventory source but fails on python error show below. Running "ansible-inventory -i /etc/ansible/sherlock.foreman.yaml --graph" with file below works. The same user and credentials are used in AWX.
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

foreman

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

###

[2020-07-09 15:34] sivel commented on #70539
As this error is coming from a file within AWX, this issue needs to be resubmitted to https://github.com/ansible/awx

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-09 15:34] #70539 closed, assigned to nobody

[2020-07-09 16:38] EGD opened #70540 "UnicodeDecodeError on probe to set docker ENV variable with non ASCII chars"
##### SUMMARY

If i put any Cyrillic chars in docker ENV then running `ansible-playbook myapp.yml` fails with Python error:

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
module `docker_container`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RedHat Enterprise Linux 7.2
python 2.7

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

no error

####

[2020-07-09 16:41] bmildren commented on #70517
👍  I brought module_utils/database.py across yesterday - sanity tests proved some of the modules did 🙂

[2020-07-09 17:05] rjeffman commented on #70455
If my module has a field ABC that is returned to the user, and the user password is "ABC", my module will not work because my key will be stripped.

Why strip key at all? What does it bring to improve security?

[2020-07-09 17:20] gundalow commented on #70517
YAY FOR TESTS!

I've been starting a checklist for collections: https://github.com/ansible-collections/overview/pull/90 (maybe useful to review) also I'm sure I've missed a lot, so feel free to add comments

[2020-07-09 17:38] Andersson007 commented on #70517
@gundalow ok! Thanks for the reference

[2020-07-09 17:58] sivel commented on #70540
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/for

[2020-07-09 17:58] #70540 closed, assigned to nobody

[2020-07-09 17:59] t-woerner commented on #70455
The parameter that is missing is the password.

[2020-07-09 18:35] bcoca commented on #70452
Already possible, with trivial prep:
`ansible-playbook -e myhosts=somethingelse`

with play.yml
[code]

[2020-07-09 18:53] acozine opened #70544 "Update licensing info"
### SUMMARY

Document applicable licensing requirements (that we know now) in the documentation displayed on https://docs.ansible.com/ansible/devel/dev_guide/developing_modules_in_groups.html#developing-modules-in-groups and other pages.

Known details:

- Existing license requirements still apply to content in ansible/ansible (ansible-base).
- Content that was previously in ansible/ansible and ha

[2020-07-09 18:58] acozine commented on #70544
Related to #70488.

[2020-07-09 19:09] mattclay opened #70545 "Add integration tests for the csvfile lookup plugin"
##### SUMMARY

Add integration tests for the csvfile lookup plugin.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

csvfile lookup plugin

[2020-07-09 19:10] mattclay opened #70546 "Add integration tests for the varnames lookup plugin"
##### SUMMARY

Add integration tests for the varnames lookup plugin.

##### ISSUE TYPE

Feature Idea

##### COMPONENT NAME

varnames lookup plugin

[2020-07-09 19:12] samdoran commented on #70450
We have no plans to implement this feature at this time. This can be done currently by writing a custom inventory or vars plugin.

There is an inventory script in the [community.general](https://github.com/ansible-collection-migration/community.general/blob/master/scripts/inventory/ssh_config.py) collection.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible

[2020-07-09 19:12] #70450 closed, assigned to nobody

[2020-07-09 19:13] samdoran commented on #70452
Closing per above.

[2020-07-09 19:13] #70452 closed, assigned to nobody

[2020-07-09 19:24] #65450 closed, assigned to nobody

[2020-07-09 19:31] samdoran commented on #70495
We're not able to reproduced this using the provided playbook with 2.9.9 and 2.9.10. Can you provide the playbook output with `-vvvv`?

needs_info

[2020-07-09 19:40] bcoca commented on #70512
use `effective_user_id` and `real_user_id` to get consistent user info

[2020-07-09 19:41] samdoran commented on #70512
To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-09 19:41] #70512 closed, assigned to nobody

[2020-07-09 19:43] samdoran commented on #70514
needs_info

[2020-07-09 21:19] imjoseangel commented on #70470
Hi @macau23,

In your example, if you want to modify a file like this:

[code]

You can do:

[code]

To me, it is not painful and readable. What do you think?

[2020-07-09 22:03] n0p90 opened #70547 "ovirt_vm cd_iso by name results in a 404 error"
### SUMMARY
Module `ovirt_vm` crashes with the error **HTTP response code is 404** when starting a VM with an attached ISO provided by name through the `cd_iso` parameter.

Reverting commit 23761b98801ff6891d38af32d961daba1baf1bce fixes the issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`cd_iso` parameter of the `ovirt_vm` module

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[co

[2020-07-10 04:34] Akasurde commented on #70547
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/oVirt/ovirt-ansible-collection

Migrated this issue in the above repository - https://github.com/oVirt/ovirt-ansible-collection/issues/62.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.n

[2020-07-10 04:34] #70547 closed, assigned to nobody

[2020-07-10 05:35] SusethiraRam opened #70549 "AWX: After 23 attempts, failed to spawn pexpect session error message for copying file using nxos_file_copy"
##### SUMMARY

I was trying to copy image file from tftp_server to nexus3k device. I have used nxos_file_copy module for the same. when I execute with command ansible-playbook, it is working fine and the file gets copied to device. When I tried to execute the same from AWX template, file is not getting copied to device. I'm getting below error at AWX.
{
    "msg": "After 23 attempts, failed to spa

[2020-07-10 06:18] SusethiraRam commented on #70549
Hi,
I have updated component name.

COMPONENT NAME
nxos_file_copy

[2020-07-10 07:37] #56303 closed, assigned to nobody

[2020-07-10 07:43] janitza-frmue commented on #69086
Hi,
I don't think this is caused by Windows.
I just had the same error on Fedora 32 with Ansible package version 2.9.10-1.fc32. After a downgrade to 2.9.6-1.fc32 it is working again.

[2020-07-10 07:50] Akasurde commented on #56303
@rrey Can you add a link of the new issue here so that people can track it? Thanks in advance.

[2020-07-10 08:04] nemmeviu commented on #44955
+1

[2020-07-10 08:42] aardbol commented on #69099
I finally managed to test this.

The result is still a hang, at:

[code]

If the key is added to ssh-agent it works. But I don't seem to get Ansible working with ssh-agent

[2020-07-10 08:52] mkrizek commented on #70549
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/a

[2020-07-10 08:52] #70549 closed, assigned to nobody

[2020-07-10 08:56] macau23 commented on #70470
Hello @imjoseangel

Thanks. My snippet was an example. I would like to have a way to use lineinfile with a verbatim line.

[2020-07-10 10:14] imjoseangel commented on #70470
Thank you @macau23

I´m not sure if it should be part of this module of a **new one**. The logic of the module depends on the `regexp` field.

I don´t see a new "`nonregexp`" field. I think it could add extra complexity to the module.

Another option is creating a `regex: true/false`.

What do you think?

[2020-07-10 10:26] tremble commented on #38959
resolved_by #70552

[2020-07-10 10:27] willthames commented on #70514
I can no longer reproduce this myself either!

Closing, will open a new issue if I end up reproducing it

[2020-07-10 10:27] #70514 closed, assigned to nobody

[2020-07-10 10:58] aaadipop commented on #67048
Hi, any updates on this?

ansible --version
2.9.10

[2020-07-10 12:12] bala08yuvaraj opened #70553 "Need to add A record and PRT recored in Cisco switches"
Hey,

In my environment i need to add a record and prt record in cisco switches for 800 devices.

Some share the docs for this project

component Name : network module , cisco

[2020-07-10 12:16] mkrizek commented on #70553
List Information
================

Hi!

Thanks very much for your interest in Ansible.  It sincerely means a lot to us.

This appears to be a user question, and we'd like to direct these kinds of things to either the mailing list or the IRC channel.

   * IRC: #ansible on irc.freenode.net
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

If you can stop by there, we'd app

[2020-07-10 12:16] #70553 closed, assigned to nobody

[2020-07-10 13:04] macau23 commented on #70470
`regex: true/false` is a good compromise :D

[2020-07-10 13:46] StewAlexander-com opened #70554 "Bug: Unable to create ``` '/etc/ansible/hosts.dpkg-new```, looks similar to issue #34922"
Seeing error when trying to install ansible ...

[code]

**OS Version**
[code]

**Ansible version:**
[code]

[2020-07-10 13:49] samccann opened #70555 "Improve `ansible-test` documentation"
From the Virtual contributors Summit-

'ansible-test' documentation results from google aren't great.
Needs getting started info and other details.

(see followon comment for complete meeting minutes on this topic)

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
docs.ansible.com

[2020-07-10 13:49] samccann commented on #70555
https://docs.ansible.com/ansible/latest/dev_guide/testing_running_locally.html#testing-running-locally doesn't say anything about what it's for, how to use it, etc. (geerlingguy, 17:57:02)
ACTION: Google `ansible-test documentation` needs improving (gundalow, 17:57:18)
ACTION: We need some "Getting started with ansible-test" docs in https://docs.ansible.com/ansible/latest/dev_guide/testing.html (g

[2020-07-10 14:09] NilashishC commented on #59295
@jean-christophe-manciot Copying of running-config to non-volatile storage is a wider use case and not specific to either of the modules mentioned. This has been implemented in the `nxos_config` module, which can be used in a task after the ones with nxos_nxapi or nxos_feature to save the changed config. As such, we're going to close this ticket.

If you have further questions please stop by IRC o

[2020-07-10 14:09] #59295 closed, assigned to trishnaguha

[2020-07-10 14:10] samccann opened #70556 "[2]Document use cases for ansible-base"
Use  from https://github.com/ansible-collections/overview/blob/master/README.rst#q-what-exactly-is-ansible-base-for-and-what-does-it-contain to document the common ansible-base use cases.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
docs.ansible.com

[2020-07-10 14:11] samccann commented on #70556
hmm... I'm using the trick of turning a project board note into an actual issue here. and wondering if this is gonna create havoc since it isn't using the issue template...

[2020-07-10 14:21] #67633 closed, assigned to nobody

[2020-07-10 15:12] samdoran commented on #27158
This is not a module we would add to `ansible-base`, but it would be an excellent addition to the [community.general](https://github.com/ansible-collections/community.general) collection.

[2020-07-10 15:12] #27158 closed, assigned to nobody

[2020-07-10 15:16] samdoran commented on #39227
Added in https://github.com/ansible/ansible/pull/48418 is the number of rescued tasks in the play summary.

[2020-07-10 15:16] #39227 closed, assigned to nobody

[2020-07-10 15:24] s-hertel commented on #50805
I think this may have been fixed in https://github.com/ansible/ansible/commit/371d7aae316f5fdc756c9c7173c20c15f40305b5.

[2020-07-10 15:25] imjoseangel commented on #70470
@samdoran What do you think?

[2020-07-10 15:29] samdoran commented on #51487
Closing per above.

[2020-07-10 15:29] #51487 closed, assigned to nobody

[2020-07-10 15:32] samdoran commented on #44080
The `docker_container` module moved to the [community.general](https://github.com/ansible-collections/community.general) collection. If this is still an issue, please open it in that repository.

[2020-07-10 15:32] #44080 closed, assigned to nobody

[2020-07-10 15:33] samdoran commented on #51463
Closing per above.

[2020-07-10 15:33] #51463 closed, assigned to nobody

[2020-07-10 15:48] samdoran commented on #51618
Discussed today in backlog and it seems we should really remove this behavior entirely or use `ansible.module_utils.parsing.convert_bool`, either the constant or the `boolean()` function, so this is consistent with how we convert strings to bool.

[2020-07-10 15:52] samdoran commented on #31064
I don't see anything on the "Should you develop a module?" page indicating it's ok to use `print`. It may have been there at the time this issue was opened, but it isn't now. Sorry it took so long to look at this. If it's still a problem, please open a new issue.

[2020-07-10 15:52] #31064 closed, assigned to gundalow

[2020-07-10 15:53] samdoran commented on #42212
Closing per above. The name changed to use an underscore rather than a dash.

[2020-07-10 15:53] #42212 closed, assigned to nobody

[2020-07-10 15:55] samdoran commented on #50053
We have no plans to add this to `ansible-base` at this time. The recommended solution is to create a custom callback plugin.

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2020-07-10 15:55] #50053 closed, assigned to nobody

[2020-07-10 16:47] samdoran commented on #50805
Confirmed this was fixed by https://github.com/ansible/ansible/commit/371d7aae316f5fdc756c9c7173c20c15f40305b5. Thanks @s-hertel!

[2020-07-10 16:47] #50805 closed, assigned to relrod

[2020-07-10 17:02] zendritic opened #70561 "NXOS BGP Modules Don't Support Check Mode"
Any plan to backport this?

Dangerous bug, should look to backporting as well.

_Originally posted by @doubleshot in https://github.com/ansible/ansible/pull/57360#issuecomment-499558582_

[2020-07-10 17:10] gundalow commented on #70544
Copyright entries (by previous comitters) must also be kept.
Example where this hasn't been done: https://github.com/Infinidat/ansible-infinidat-collection/issues/1#issuecomment-656780796

[2020-07-10 17:19] discopatrick commented on #23401
@guerzon I believe I was using the `ansible-playbook` command.

[2020-07-10 17:59] gabrgomes commented on #34281
+1
I need to import/include a playbook that has a variable defined vars_files entry (- vars_files: "{{environment}}.yml"). Environment is defined on the top_level playbook tasks, so it will never work with a import.

So the point is vars_files should be evaluated at execution time, which is what include_playbook would do.

[2020-07-10 18:12] jhg03a commented on #70460
Not directly a duplicate because it's not asking for the behavior to change.  It's only asking for a usability warning to help prevent such things from recurring.

[2020-07-10 18:13] jhg03a commented on #70359
Ok, I reopened #70460 just to add a warning about that condition.

[2020-07-10 19:15] Aech1977 opened #70569 "Using is_template flag in vmware_guest module does not convert template into virtual machine"
##### SUMMARY
I want to convert a template into a Virtual machine to run updates and then turn back into a template so I dont have to do this manually

##### ISSUE TYPE
Either on instantiation the template is cloned or it complains about wanting extra variables set like datastore, cpu, etc

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION

'2.9'

##### CONFIGURATION
`no output from this co

[2020-07-10 19:34] bmillemathias commented on #68275
@sivel was these inline patch commited ?

[2020-07-10 19:37] bmillemathias commented on #68164
@nomadcz can you close the issue, if you don't provide the information requested by @bcoca ?

Best

[2020-07-10 19:38] #70361 closed, assigned to bcoca

[2020-07-10 20:42] samdoran commented on #70470
Overloading the `regexp` field to accept a string and a boolean is far too confusing and wouldn't pass argument spec validation. I would definitely say no to that.

I would suggest a new field rather than a toggle that changes the behavior of an existing field.

Maybe `raw_line` or `literal_line` to indicate it is a literal string and will not be treated as a regexp pattern.

The main logic curren

[2020-07-10 21:09] samdoran commented on #70514
Thank you for the feedback.

[2020-07-10 21:12] #68164 closed, assigned to nobody

[2020-07-10 21:21] #70545 closed, assigned to relrod

[2020-07-10 22:49] #70413 closed, assigned to nobody

[2020-07-11 02:04] #70546 closed, assigned to relrod

[2020-07-11 03:36] Akasurde commented on #70569
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vmware

Migrated this issue in the above repository - https://github.com/ansible-collections/vmware/issues/290.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* ma

[2020-07-11 03:36] #70569 closed, assigned to nobody

[2020-07-11 03:36] Akasurde commented on #70561
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Migrated this issue in the above repository - https://github.com/ansible-collections/cisco.nxos/issues/119.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.

[2020-07-11 03:36] #70561 closed, assigned to nobody

[2020-07-11 12:20] mx-psi commented on #69600
Pinging @samdoran since I am not sure why this is "waiting on contributor"

[2020-07-11 12:50] StewAlexander-com commented on #70554
No component name, as far as I can tell

[2020-07-11 13:17] aj-cruz opened #70579 "Trouble running devel"
##### SUMMARY
I'm running into what I think is an idempotency bug with a Cisco ACI network module, but I'm having trouble running Ansible from devel to make sure it isn't fixed in the newest version before I submit a bug.

I follow the directions from [https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#running-ansible-from-source-devel](url)
but when I run my playbo

[2020-07-11 13:54] dvonessen commented on #36129
Hi, I encounter the same warning output here.

[2020-07-11 16:47] Akasurde commented on #70579
@aj-cruz Thanks for reporting this issue. With Ansible 2.10 release, `cisco.aci` modules are migrated to their collection repo [here](https://github.com/CiscoDevNet/ansible-aci). You need to specify your collection name like -

[code]

You may want to read more about the collection - [here](https://docs.ansible.com/ansible/latest/user_guide/collections_using.html).

Thanks.

[2020-07-11 16:47] #70579 closed, assigned to Akasurde

[2020-07-11 23:09] TimeTravelersHackedMe opened #70580 "Provisioning WSL Environment on Windows 10 from the WSL Environment Failing"
##### SUMMARY
Provisioning a WSL Ubuntu environment on Windows is failing with the following error:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Ansible SSH

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
WSL Ubuntu on Windows 10

##### STEPS TO REPRODUCE
Install WSL on Windows 10 (Ubuntu)
Try to run a playbook via SSH on the WSL environment from t

[2020-07-12 06:30] Akasurde commented on #63767
Fixed via https://github.com/ansible-collections/community.general/pull/629

[2020-07-12 06:30] #63767 closed, assigned to Akasurde

[2020-07-12 06:34] Akasurde commented on #63767
backport 2.9 - https://github.com/ansible/ansible/pull/70581

[2020-07-12 08:58] twouters opened #70582 "Cannot notify handler via role_name : handler_name, when the handler name also contains the role name"
https://github.com/ansible/ansible/blob/adcdee9bb0031577698246fcfc51f8af63a56a17/lib/ansible/playbook/task.py#L124

##### SUMMARY
Handlers can not be referenced with the `FQCN : handler name` notation if the handler name contains the role name.

Not sure what the reasoning is behind this, but a `httpd` role can't have a `restart httpd` handler name if you want to notify it with `notify: 'httpd : r

[2020-07-12 13:01] gin66 commented on #19463
stale

[2020-07-12 13:01] #19463 closed, assigned to nobody

[2020-07-12 13:09] jabdr opened #70583 "datetime.date not supported in module output: TypeError: Value of unknown type: <class 'datetime.date'>"
##### SUMMARY
My self written module output includes a datetime.date object. This results in a type error here: https://github.com/ansible/ansible/blob/adcdee9bb0031577698246fcfc51f8af63a56a17/lib/ansible/module_utils/basic.py#L397

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
lib/ansible/module_utils/basic.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONME

[2020-07-12 17:47] steelcowboy opened #70585 "Feature Request: "merge" attribute for set_fact module"
##### SUMMARY
In order to make `set_fact` more useful for deeply nested dictionaries, I propose a "merge" option which will enable `set_fact` to natively change individual values in a nested dictionary without writing an unfriendly amount of Jinja to preserve the existing values.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
set_fact.merge (boolean)

##### ADDITIONAL INFORMATION
This feat

[2020-07-12 21:32] kenorb opened #70586 "ERROR! Unexpected Exception, this is probably a bug: No module named 'msrest'"
##### SUMMARY

Ansible fails with the error that module doesn't exist.

I've tried to reinstall Ansible, but it didn't help.

[code]

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

- `azure_rm`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macOS 10.15.5

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

No errors.

##### ACTUAL RESULTS

[code]

[2020-07-13 00:10] ghost opened #70588 "How to Remove Cisco ASA Firewall boot Variables with Ansible"
I am running a project of upgrading multiple Cisco 5506X firewalls and my challenge is i have some firewalls that have primary and secondary boot system configured and some firewalls that have one one boot system configured. Given this issue, how do i build the logic that uses ansible to remove the boot variable and update them with new software and not get errors. I have written the code for this

[2020-07-13 03:16] #70586 closed, assigned to nobody

[2020-07-13 03:21] Akasurde commented on #70582
@twouters Please fill the issue template, it will help us to identify the issue easily.

[2020-07-13 03:23] Akasurde commented on #70588
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.asa

Migrated this issue in the above repository - https://github.com/ansible-collections/cisco.asa/issues/57.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net

[2020-07-13 03:23] #70588 closed, assigned to nobody

[2020-07-13 05:26] craig-bom opened #70589 "User module: homedir created when setting says not to if parent directory doesn't exist"
##### SUMMARY

When creating a user with create_home set to "no", if the parent directory for the user doesn't exist, then the user's home directory is actually created (and populated with the contents of /etc/skel).
Additionally, if the parent directory is a symbolic link that is not valid (points to a non-existent directory) the user cannot be created at all - still with create_home set to "no"

[2020-07-13 06:18] twouters commented on #70582
!component = lib/ansible/playbook/task.py

[2020-07-13 06:20] twouters commented on #70582
!component = lib/ansible/playbook/task.py

[2020-07-13 06:26] twouters commented on #70582
!component =lib/ansible/playbook/task.py

[2020-07-13 06:40] felixfontein commented on #70517
Now that the modules have been moved, I guess we can close this issue.

[2020-07-13 09:20] Alexc0007 opened #70591 "etcd v3 lookup"
##### SUMMARY
Hi, i was willing to use ansible to get values from etcd v3 by using the lookup plugin.
even though on the latest ansible documentation i can see that there is a valid lookup plugin for etcd, i couldnt use it to get data from etcd 3 cluster.

##### ISSUE TYPE
implement support for etcd3 for the etcd lookup plugin.
it would also be nice if authentication was added - that allows usage

[2020-07-13 09:22] Quanalogy opened #70592 "azure_rm_networkinterface fails in python 3.8 due to use of deprecated feature"
##### SUMMARY

When using `azure_rm_networkinterface` with python 3.8 it fails with `AttributeError: module 'time' has no attribute 'clock'`
That feature have been removed in 3.8: https://docs.python.org/3/whatsnew/3.8.html (time.clock)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

azure_rm_networkinterface

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[2020-07-13 09:33] mkrizek commented on #70591
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.general.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!

[2020-07-13 09:33] #70591 closed, assigned to nobody

[2020-07-13 09:34] mkrizek commented on #70592
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure.

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mailing list: https://groups.google.com/forum/#!forum/ansibl

[2020-07-13 09:34] #70592 closed, assigned to nobody

[2020-07-13 09:54] cocoonkid commented on #70433
Thank you. This is indeed the ansible zsh plugin. My apology.

[2020-07-13 12:28] twouters commented on #70582
@sivel could it be that this is simply an overlooked use case and the check should be loosened a bit?

[2020-07-13 12:44] djmattyg007 commented on #49071
I first submitted a somewhat primitive `jsonmod` module PR back in January 2017, before this issue was even created:

https://github.com/ansible/ansible/pull/20064

Since then, both this and the much better `json_patch` module PR have been treated with absolute contempt by the maintainers:

https://github.com/ansible/ansible/pull/52931

For anyone still following this issue, I recommend just using

[2020-07-13 13:59] jean-christophe-manciot opened #70598 "Hash variables fail to be loaded with include_vars in a role after a group_by"
##### SUMMARY
When ```include_vars``` is used in a role after a ```group_by```, complex variables fail to load whereas simple ones can be loaded.
This issue happens:

- only with 2.9.10
- not with previous ansible releases
- on Debian bullseye
- on Ubuntu 20.04
- ...

##### ISSUE TYPE
- Bug report

##### COMPONENT NAME
include_vars

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### O

[2020-07-13 14:02] sivel commented on #70582
The check in task.py seems overly naive.  It should probably be improved.

[2020-07-13 14:37] twouters commented on #70582
Not sure if this is what was supposed to be the purpose? If so, I'd be happy to push a PR

[code]

[2020-07-13 14:45] sivel commented on #70582
@twouters I believe that is correct.

Ensure to add some tests for this as well, integration tests via playbook are fine.

[2020-07-13 14:48] bmillemathias commented on #70589
https://github.com/ansible/ansible/blob/devel/lib/ansible/modules/user.py#L635-L643

[code]

Could it be better with that ?
[code]

[2020-07-13 14:49] #66547 closed, assigned to samdoran

[2020-07-13 14:56] huornlmj opened #70599 "Inclusion of static analysis in lgtm.com"
It would be good if lgtm.com static analysis could be included in the CI pipeline for security validation.  Results could be displayed using the lgtm badges front and center.

[2020-07-13 15:07] jakabk commented on #68066
I'm very interested in this feature. Currently, I should modify on the proxmox server the containers created with proxmox module to set container's feature nested=1.

[2020-07-13 15:10] samdoran commented on #69600
The `waiting_on_contributor` label means we would accept a PR with the proposed feature but no one on the core team has plans to work on it.

[2020-07-13 15:13] jakabk commented on #68066
@ansibot can I provide the filled template for this issue?

[2020-07-13 15:20] mx-psi commented on #69600
Great, thank you for the reply!

[2020-07-13 15:21] amit7itz opened #70601 "Ansible playbook fails randomly on different tasks with "msg": "110" and "rc": null"
##### SUMMARY
We use Ansible to deploy our product on CentOS machines, and running the ansible locally (on localhost)
Recently, we had two separate deployments that failed with a very similar issue, but on completely different tasks.
First one, on a yum task:
![image](https://user-images.githubusercontent.com/23255183/87319518-67478b00-c532-11ea-818e-452fe2be9b34.png)

Second one, on a shell task

[2020-07-13 15:49] sivel commented on #70601
The corresponding code from `lib/ansible/module_utils/basic.py`:

[code]

[2020-07-13 16:10] #70159 closed, assigned to samdoran

[2020-07-13 16:45] lmayorga1980 opened #70608 "Connecting to a Windows Host using Windows SSH"
##### SUMMARY

Followed the Openssh for Windows setup https://docs.microsoft.com/en-us/windows-server/administration/openssh/openssh_server_configuration but I cannot get `ansible` to work over `windows ssh`

I get the following error...

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

SSH Module

##### ANSIBLE VERSION

[code]

##### EXPECTED RESULTS

[code]

##### OS / ENVIRONMENT

Osx Catal

[2020-07-13 17:06] sivel commented on #70554
Ansible 2.0.0.2 is extremely out of date. As of this point only Ansible 2.8+ is supported.

I recommend you follow the steps outlined at https://docs.ansible.com/ansible/latest/installation_guide/intro_installation.html#installing-ansible-on-ubuntu

Since you are on Ubuntu 16.04 and `apt-get` is giving you `2.0.0.2` that indicates you are using the Ubuntu maintained package, and not our packaging.

[2020-07-13 17:06] #70554 closed, assigned to nobody

[2020-07-13 18:16] #70517 closed, assigned to nobody

[2020-07-13 19:12] tremble commented on #42532
I've been doing a little digging on this one.  The original reported issue (comparison when "Sid" is omitted) appears to be gone.  I believe Amazon was originally injecting the Sid in the background which caused our comparison code problems.  This no longer appears to be the case (at least for S3 bucket policies).  While it's possible this will reappear somewhere else (possibly as a 'bad' changed=

[2020-07-13 19:12] tremble commented on #42532
close_me

[2020-07-13 19:18] tremble commented on #42532
Sorry, been looking at multiple bugs.  The original reported issue on this one was "single-item lists" vs "strings", is also fixed, but in a different PR.  Original issue still resolved, but only by the in the module_utils in the amazon.aws collection, which will be shipped with Ansible 2.10 (the bigger version, not the minimal thing now represented by this repo)

[2020-07-13 19:20] #42532 closed, assigned to s-hertel

[2020-07-13 19:20] tremble commented on #60706
close_me

It looks like AWS no longer magically adds "Sid" in the background.

tested using

[code]

[2020-07-13 19:39] #60706 closed, assigned to nobody

[2020-07-13 19:42] #70261 closed, assigned to acozine

[2020-07-13 20:05] bmillemathias commented on #70589
it's seems necessary the parent directory exists even if the home directory is not created else the command fails.
doing that.

[2020-07-13 21:05] Shrews commented on #69544
Possible duplicate of issue #62906

[2020-07-13 21:11] bmillemathias opened #70612 "some part https://docs.ansible.com/ansible/latest/dev_guide/debugging.html seems obsolete"
##### SUMMARY
The section "Debugging Remote" https://docs.ansible.com/ansible/latest/dev_guide/debugging.html#debugging-remote does not apply with current version , there is no `__main__.py` file. It seems it can be removed.

Even the section "Debugging ansiblemodule based modules" https://docs.ansible.com/ansible/latest/dev_guide/debugging.html#debugging-ansiblemodule-based-modules needs some upd

[2020-07-13 22:52] scentoni commented on #69607
Thank you for addressing this! I cannot test this yet, I will comment further once we have have upgraded our Ansible master.

[2020-07-14 00:36] Aech1977 opened #70616 "is_template doesn't turn Template into a Virtual Machine"
##### SUMMARY
is_template flag doesnt convert template into a virtual machine with previous versions of ansible, now it either complains dis and memory isnt set (and when set it clones the template and powers that up instead of converting template).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
vmware_guest

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
ce

[2020-07-14 00:43] jborean93 commented on #70608
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * You are setting connection level variables (`ansible_connection`, `ansible_shell_type`) in `ansible.cfg` when these should be set in your inventory
    * The e

[2020-07-14 00:43] #70608 closed, assigned to nobody

[2020-07-14 00:46] jborean93 commented on #70580
Try setting `ansible_connection: local` for the WSL inventory entry, you shouldn't have to SSH locally to run Python modules on the WSL environment. If you really want to connect to the WSL environment through SSH make sure you can run a normal SSH connection like `ssh <username>@127.0.0.1`.

[2020-07-14 00:55] jborean93 commented on #62761
So while this might still be a problem on your hosts this is still due to a change in how Ansible executes PowerShell modules. We start up a new PowerShell process that listens on stdin for the payload to execute. Once the process has started the winrm module will send a payload which is executed by that new PowerShell process but if the process was killed by some other task there is no pipe anymo

[2020-07-14 00:55] #62761 closed, assigned to nobody

[2020-07-14 01:29] jborean93 commented on #64113
@jamesmarshall24 I know 9 months is a long time but I've opened a PR https://github.com/ansible/ansible/pull/70624 that adds the var `ansible_winrm_kinit_args` that allow someone to specify custom arguments for calls to `kinit`. Keep in mind if someone has already requested delegation we currently add `-f` to the `kinit` call but that won't be the case if custom args are also set.

[2020-07-14 01:29] danlange opened #70625 "ecs_service does not support the platform-version option"
##### SUMMARY
The ecs_service module does not expose the --platform-version option of "aws ecs create-service".
ECS requires "--platform-version 1.4.0" to  create a service using ECS Fargate that mounts an EFS volume.
See:  https://docs.aws.amazon.com/AmazonECS/latest/userguide/platform_versions.html
Please expose this option so I can use ecs_service instead of shelling out to "aws ecs create-serv

[2020-07-14 04:16] Alexc0007 commented on #70591
thank you! moved the issue

[2020-07-14 04:26] Akasurde commented on #70625
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.aws

Migrated this issue in the above repository - https://github.com/ansible-collections/community.aws/issues/136.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.fre

[2020-07-14 04:26] #70625 closed, assigned to nobody

[2020-07-14 04:27] Akasurde commented on #70616
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vmware

Migrated this issue in the above repository - https://github.com/ansible-collections/vmware/issues/296.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* ma

[2020-07-14 04:27] #70616 closed, assigned to nobody

[2020-07-14 04:28] Akasurde commented on #70612
@bmillemathias Could you please go ahead and fix the documentation? Thanks in advance.

[2020-07-14 04:59] NilashishC commented on #55563
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/F5Networks/f5-ansible

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-14 04:59] #55563 closed, assigned to nobody

[2020-07-14 05:01] NilashishC commented on #55159
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-14 05:01] #55159 closed, assigned to nobody

[2020-07-14 09:07] phgogo commented on #57062
We had the problem runnning ansible 2.9.6 under RHEL6. From our numerous RHEL6 systems, only a handful was affected.

In our case, the affected Server where the only ones holding a file `/etc/iredmail-release`, which made the resolving easy.
Renaming the file fixed our problem.

[2020-07-14 09:59] ScottG489 commented on #25414
The workaround in https://github.com/ansible/ansible/issues/25414#issuecomment-440549135 is working for me but I wanted to call out that this issue is still present.

[2020-07-14 10:23] lsoica opened #70632 "ansible-playbook exit code 0 when play fails in always section of a block"
##### SUMMARY
When there is a failure in the always section of a block, the play is marked as failed, but the ansible-playbook process exit code is 0.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Blocks https://docs.ansible.com/ansible/latest/user_guide/playbooks_blocks.html

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.8.2003 (Cor

[2020-07-14 10:33] srivaa31 opened #70633 "command timeout triggered, timeout value is 30 secs failure message using cli_command on dellos10 switch"
##### SUMMARY
shutdown command on switch interface consistently fails with "command timeout triggered, timeout value is 30 secs" message
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cli_command module
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 8.1.1911 (Core)

##### STEPS TO REPRODUCE

switch_shutdown.yml
[code]
switch.yml <- pl

[2020-07-14 10:41] Akasurde commented on #70633
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Migrated this issue in the above repository - https://github.com/ansible-collections/ansible.netcommon/issues/86.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on

[2020-07-14 10:41] #70633 closed, assigned to nobody

[2020-07-14 11:48] Akasurde commented on #68744
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/azure

Migrated this issue in the above repository - https://github.com/ansible-collections/azure/issues/187.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freenode.net
* mail

[2020-07-14 11:48] #68744 closed, assigned to nobody

[2020-07-14 12:15] phospi opened #70636 "[Re-Raise] unit test documentation contains incorrect import references"
SUMMARY
This is a re-raise of a closed documentation issue (#65418). All related issues I could find are closed. I want to request a backport of the fix.
The current fix seems to be targeted at ansible version 2.10. But the documentation fix is relevant to all versions from 2.8.0 up to 2.9.latest. The import path was changed with the release of version 2.8.0 but even the latest docs of Ansible 2.9

[2020-07-14 12:29] Akasurde commented on #41573
Closing as per above comment.

[2020-07-14 12:29] #41573 closed, assigned to nobody

[2020-07-14 12:31] Akasurde commented on #59725
Hi @larsuhartmann, Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/netbox/netbox<br><br>If you have further questions please stop by IRC or the mailing list:<br><br>* IRC: #ansible on irc.freenode.net<br>* mailing list: https://groups.google.com/forum/#!forum/ansible-project<br><br>needs_inf

[2020-07-14 12:31] #59725 closed, assigned to nobody

[2020-07-14 12:37] Akasurde commented on #47918
Fixed via https://github.com/netbox-community/ansible_modules/pull/202

@ollybee Thanks for reporting this issue.

[2020-07-14 12:37] #47918 closed, assigned to nobody

[2020-07-14 12:39] Akasurde commented on #66955
Migrated to https://github.com/netbox-community/ansible_modules/issues/71

Resolved via https://github.com/netbox-community/ansible_modules/pull/81

@ignatenkobrain Thanks for reporting this issue.

[2020-07-14 12:39] #66955 closed, assigned to nobody

[2020-07-14 12:41] Akasurde commented on #66204
Hi @FurryJulie, Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/netbox-community/ansible_modules<br><br>If you have further questions please stop by IRC or the mailing list:<br><br>* IRC: #ansible on irc.freenode.net<br>* mailing list: https://groups.google.com/forum/#!forum/ansible-project<

[2020-07-14 12:41] #66204 closed, assigned to nobody

[2020-07-14 12:42] Akasurde commented on #66204
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/netbox-community/ansible_modules

Migrated this issue in the above repository - https://github.com/netbox-community/ansible_modules/issues/278.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freen

[2020-07-14 12:44] Akasurde commented on #64425
Hi @jutkarsh079, Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/netbox-community/ansible_modules<br><br>If you have further questions please stop by IRC or the mailing list:<br><br>* IRC: #ansible on irc.freenode.net<br>* mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-14 12:44] #64425 closed, assigned to nobody

[2020-07-14 12:45] Akasurde commented on #63862
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/netbox-community/ansible_modules

Migrated this issue in the above repository - https://github.com/netbox-community/ansible_modules/issues/279.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freen

[2020-07-14 12:45] #63862 closed, assigned to nobody

[2020-07-14 12:46] Akasurde commented on #60124
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/netbox-community/ansible_modules

Migrated this issue in the above repository - https://github.com/netbox-community/ansible_modules/issues/280.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freen

[2020-07-14 12:46] #60124 closed, assigned to nobody

[2020-07-14 12:47] Akasurde commented on #59594
Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/netbox-community/ansible_modules

Migrated this issue in the above repository - https://github.com/netbox-community/ansible_modules/issues/281.

If you have further questions please stop by IRC or the mailing list:

* IRC: #ansible on irc.freen

[2020-07-14 12:47] #59594 closed, assigned to nobody

[2020-07-14 12:50] mkrizek commented on #70632
Duplicate of https://github.com/ansible/ansible/issues/70000.

Fixed in https://github.com/ansible/ansible/pull/70094.

Backport for 2.9: https://github.com/ansible/ansible/pull/70203.

Backport for 2.10: https://github.com/ansible/ansible/pull/70204.

[2020-07-14 12:50] #70632 closed, assigned to nobody

[2020-07-14 12:52] jessesimpson36 commented on #68611
Just tried a simple   `failed_when:  False`  on one of my playbooks.   It does not work at all.  I'm on ubuntu 18.04 LTS
[code]

[2020-07-14 12:52] Akasurde commented on #57948
Fixed via https://github.com/netbox-community/ansible_modules/commit/becfd7b878a65d821e8e15c7a0c9e0a520ed7496

[2020-07-14 12:52] #57948 closed, assigned to nobody

[2020-07-14 12:53] Akasurde commented on #59581
Migrated to https://github.com/netbox-community/ansible_modules/issues/61

[2020-07-14 12:53] #59581 closed, assigned to nobody

[2020-07-14 12:54] Akasurde commented on #59581
Hi @pugnacity, Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/netbox-community/ansible_modules<br><br>If you have further questions please stop by IRC or the mailing list:<br><br>* IRC: #ansible on irc.freenode.net<br>* mailing list: https://groups.google.com/forum/#!forum/ansible-project<b

[2020-07-14 12:57] Akasurde commented on #57397
Fixed via https://github.com/netbox-community/ansible_modules/commit/becfd7b878a65d821e8e15c7a0c9e0a520ed7496

[2020-07-14 12:57] Akasurde commented on #57397
Hi @DoctorKM, Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/netbox-community/ansible_modules<br><br>If you have further questions please stop by IRC or the mailing list:<br><br>* IRC: #ansible on irc.freenode.net<br>* mailing list: https://groups.google.com/forum/#!forum/ansible-project<br

[2020-07-14 12:57] #57397 closed, assigned to nobody

[2020-07-14 12:58] Akasurde commented on #57376
Fixed via https://github.com/netbox-community/ansible_modules/pull/103

[2020-07-14 12:59] Akasurde commented on #57376
Hi @tyler-8, Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/netbox-community/ansible_modules<br><br>If you have further questions please stop by IRC or the mailing list:<br><br>* IRC: #ansible on irc.freenode.net<br>* mailing list: https://groups.google.com/forum/#!forum/ansible-project<br>

[2020-07-14 12:59] #57376 closed, assigned to nobody

[2020-07-14 13:00] Akasurde commented on #53380
Tracked via - https://github.com/netbox-community/ansible_modules/issues/59

[2020-07-14 13:00] Akasurde commented on #53380
Hi @swagner-de, Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/netbox-community/ansible_modules<br><br>If you have further questions please stop by IRC or the mailing list:<br><br>* IRC: #ansible on irc.freenode.net<br>* mailing list: https://groups.google.com/forum/#!forum/ansible-project<

[2020-07-14 13:00] #53380 closed, assigned to nobody

[2020-07-14 13:06] Akasurde commented on #48354
@ollybee Thanks for reporting this feature request. This feature is supported by [`nb_lookup`](https://github.com/netbox-community/ansible_modules/blob/devel/plugins/lookup/nb_lookup.py). Please feel to try out this lookup plugin.

[2020-07-14 13:06] Akasurde commented on #48354
Hi @ollybee, Thank you very much for your interest in Ansible. This plugin/module is no longer maintained in this repository and has been migrated to https://github.com/netbox-community/ansible_modules<br><br>If you have further questions please stop by IRC or the mailing list:<br><br>* IRC: #ansible on irc.freenode.net<br>* mailing list: https://groups.google.com/forum/#!forum/ansible-project<br>

[2020-07-14 13:06] #48354 closed, assigned to nobody

[2020-07-14 13:26] jessesimpson36 commented on #68611
quick update, just tried with the `fail` module and setting failed_when to false does ignore the failure.   However,   the shell module is the one that is giving me issues.

[2020-07-14 13:53] bcoca commented on #68611
@mooky31 @jessesimpson36  we still have not seen a reproducer for when `failed_when` does not control the return. I also have an issue with it behaving differently depending on action since this code is independent from module at it resides in the core engine and not in each module.

@mooky31  from your example i suspect the condition is not met because of a type mismatch, try the following:

```f

[2020-07-14 14:09] jessesimpson36 commented on #68611
@bcoca    I cannot speek for @mooky31  in his issue.   For me, I'm still trying to understand what's going on as someone who isn't reading  ansible's code.

Here is something that for sure is reproducible.

[code]

When ansible_facts.services.postgresql  does not exist (because it is not running on the remote instance), there is a error that still outputs the following even though  failed_when is

[2020-07-14 14:15] jessesimpson36 commented on #68611
I think if I determine that  postgresql is defined and postgresql.state is defined in the conditional, then my issue will be at least worked around.

[2020-07-14 14:40] bcoca commented on #68611
@jessesimpson36 that is NOT a task error, you have an undefined variable in your definition, which creates a syntax issue, that is NOT a capturable error by `failed_when`, use `|default` to avoid.

I still need a reproducer of `failed_when` not working on a module's return.

needs_info

[2020-07-14 14:43] bcoca commented on #25414
fixed via #69284

instead of an apt specific fix, its a generic task timeout.

[2020-07-14 14:47] #66812 closed, assigned to nobody

[2020-07-14 15:11] bsolomon1124 opened #70638 "Docs incorrect on "How can I set the PATH" for an entire playbook"
From https://docs.ansible.com/ansible/latest/reference_appendices/faq.html:

This wording is wrong. There is no way, from the examples provided using `environment`, to set variables for the duration of a playbook.  Only for plays.

[code]

Will not prepend foo to path for the second play.

[2020-07-14 15:15] samdoran commented on #70535
We need to handle this error slightly differently in `atomic_move()`

https://github.com/ansible/ansible/blob/918388b85f516116e2cd7dcf0c12eeb19ab561e9/lib/ansible/module_utils/basic.py#L2320-L2323

[2020-07-14 15:22] samdoran commented on #70580
Closing per above. To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-14 15:22] #70580 closed, assigned to nobody

[2020-07-14 15:25] tremble commented on #38959
close_me

[2020-07-14 15:28] samdoran commented on #70585
We have no plans to add merging to `set_fact` at this time. The example task in the description is the recommended solution. You could make it a bit eaiser to read by using `vars` on the task.

[code]

To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2020-07-14 15:28] #70585 closed, assigned to nobody

[2020-07-14 15:38] #70338 closed, assigned to nobody

[2020-07-14 15:42] #70583 closed, assigned to nobody

[2020-07-14 15:45] sivel opened #70639 "_remove_values_conditions probably should not coerce datetime values"
##### SUMMARY
It feels wrong that a method responsible for masking `no_log` values, is coercing datetime objects to strings.

`_remove_values_conditions` should likely ignore any unknown types, and the json encoder should be responsible, including removing the `raise TypeError`

We should evaluate why `_remove_values_conditions` added this functionality to begin with.

Additionally, we need to ens

[2020-07-14 15:50] samdoran commented on #70599
We will evaluate this tool internally and see if it is a good fit for the project. Thank you for the suggestion. To discuss this further, please reach out on IRC or the mailing list:

   * IRC: #ansible-devel on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-devel

[2020-07-14 15:50] #70599 closed, assigned to nobody

[2020-07-14 15:54] samdoran commented on #70601
There looks like there may be a syntax error in a line of the script `| &`. The best place to get help with what looks like an issue with the commands in the playbook on IRC or the mailing list:

   * IRC: #ansible on irc.freenode.net  
   * mailing list: https://groups.google.com/forum/#!forum/ansible-project

[2020-07-14 15:54] #70601 closed, assigned to nobody

[2020-07-14 15:56] #68275 closed, assigned to nobody

[2020-07-14 16:05] #64113 closed, assigned to nobody

[2020-07-14 16:09] s-hertel commented on #70598
I bisected the first bad commit to 9e00214fb435e6b9ea223d966c2e4d9feecac35f

[2020-07-14 16:22] #69004 closed, assigned to nobody

[2020-07-14 16:54] jmazzitelli opened #70640 "find: explicit empty excludes causes find to exclude everything"
##### SUMMARY

When using `find` with empty `excludes` list, it excludes **everything**, yet if you remove that empty `excludes` entirely, the `find` behaves correctly (nothing is excluded).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
find

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

RHEL 7.7

##### STEPS TO REPRODUCE

Run `find` task with `excludes

[2020-07-14 16:57] jmazzitelli commented on #70640
The workaround to this is to never set an empty list in `excludes:` - if you want to exclude nothing, you can either delete the excludes or (if your playbook is using a variable for the list value of excludes and so excludes is always specified) you can set the list to some arbitrary value that you know will never match anything (in my case, setting it to `['_']` will workaround the issue).

[2020-07-14 16:58] madeddie commented on #25414
How does this fix the issue? The problem is the task fails because it cannot get a lock, this was never a timeout issue. It fails immediately because aptitude or apt fail to get a lock, they don't retry or wait for a lock.

[2020-07-14 17:07] nyetwurk commented on #25414
Exactly this.

[2020-07-14 17:07] stas-sbi commented on #25414
Here is what we use as workarounds:
[code]
[code]

[2020-07-14 17:09] giner commented on #25414
Here is what we use as workarounds:
[code]
[code]

[2020-07-14 17:11] nyetwurk commented on #25414
Unfortunately all of the workarounds above still have race issues, because test/get isn't atomic.

[2020-07-14 17:11] madeddie commented on #25414
@giner yeah a similar solution has been posted above, but the original request was for some mechanism to have apt module wait for the lock itself. This issue should not be closed.

[2020-07-14 17:11] nyetwurk commented on #25414
@madeddie Not just wait, but atomic lock acquisition to avoid lock races.

[2020-07-14 17:32] Udayendu opened #70643 "win_partition: Unable to resize the disk"
##### SUMMARY
`win_partition` is unable to resize the disk in windows 2016

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- win_partition

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
- Ubuntu 20.04 LTS
- Powershell  7.0.2
- ansible 2.9.7

##### STEPS TO REPRODUCE
- Deploy a windows 2016 VM with a single disk
- Keep the VM in shutdown state
- Expand the di

[2020-07-14 17:34] samalv opened #70644 "WinRM fails for specific tasks only"
##### SUMMARY

WinRM fails only for certain tasks while it works for others in same play using same modules

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
ansible_winrm_kerberos

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

AWX official docker images

bash-4.4# cat /etc/redhat-release
CentOS Linux release 8.2.2004 (Core)

##### STEPS TO REPRODUCE

I wro

[2020-07-14 17:41] ghost opened #70645 "OpenBSD patch inclusion inquiry"
##### SUMMARY
OpenBSD has a number of [patches](https://github.com/openbsd/ports/tree/master/sysutils/ansible/patches) for ansible to fix issues or improve compatibility. I tried to look through the open issues and PRs but it is a bit of a mess and didn't see anything quickly.

#65112 which looks like it removes one of them so I am not sure what version they are trying to use or what happened that

[2020-07-14 18:48] sivel commented on #70645
patch-lib_ansible_modules_system_service_facts_py:
New feature to add `rcctl` for `system_facts`

patch-lib_ansible_utils_encrypt_py:
Switch from 2a to 2b in blowfish

patch-lib_ansible_module_utils_facts_hardware_openbsd_py:
Use `hw.ncpuonline` instead of `hw.ncpu` to calculate available CPUs

There are several docs patches, but I didn't concern myself with them.

[2020-07-14 19:20] TimeTravelersHackedMe commented on #70580
@jborean93 -- I tried that. Here's the -vvvvv dump from me trying:

[code]

Can you please reopen this @samdoran ? I don't believe many people are using Ansible to provision the WSL environment.. this may be something that Ansible is not yet built for.

[2020-07-14 19:26] sivel commented on #70580
The underlying error appears to be:

[code]

The error appears to be caused by this bug in WSL: https://github.com/microsoft/WSL/issues/4898

You'll either need to use WSL2, or wait for the above bug to be resolved.

[2020-07-14 20:02] TimeTravelersHackedMe commented on #70580
@sivel Thank you that did the trick.

I updated to WSL 2 by running:

[code]

[2020-07-14 20:31] arioch commented on #46963
Gentle nudge...

[2020-07-14 20:39] imjoseangel commented on #70470
@macau23 @samdoran I have just upload the final version of the lineinfile with the new `literal` option. In the first commit, the idea is test current integration tests. I will implement the new ones ASAP.

[2020-07-14 20:50] #38959 closed, assigned to nobody

[2020-07-14 21:01] weiyin opened #70648 "Use `chmod` instead of `setfacl` on macOS when becoming an unprivileged user"
##### SUMMARY
Support become unprivileged user on macOS without `allow_world_readable_tmpfiles=true`

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
action, shell, and copy

##### ADDITIONAL INFORMATION
When using become where the login user and the become user are both unprivileged, Ansible attempts to securely change file permissions to only allow the become user to read the files. It use

[2020-07-14 21:18] jborean93 commented on #70643
Is This A Bug?
==============

Hi!

Thanks very much for your submission to Ansible.  It sincerely means a lot to us.

We're not sure this is a bug, and we don't mean for this to be confrontational.  Let's explain what we're thinking:

   * You are executing a PowerShell module on localhost through the sh shell plugin, PowerShell modules are only designed for Windows hosts
   * Sounds like you are

[2020-07-14 21:18] #70643 closed, assigned to nobody

[2020-07-14 22:32] jborean93 commented on #70644
This is very interesting, it hard to tell what is happening exactly but there are 3 exceptions so stepping through each one. The first exception is

[code]

We can see in the code it tries to [parse the response content](https://github.com/diyan/pywinrm/blob/667703f3ddebc67cab72d86620315c739bfd7262/winrm/protocol.py#L248) and if an exception occurs here (which it does) it raises the original trans

[2020-07-14 23:01] ea167 commented on #29465
The current behaviour breaks Ansible rules: Ansible is supposed to be idempotent, and this behaviour is not.

As @TheLastProject said, there should be an `update` parameter that defaults to `yes`.

I was also surprised by the need of including the repo name in `dest`, which is not the default way of how the command-line `git` works.
Overall it makes the use of the `git` module error-prone and coun

[2020-07-15 00:06] amansoni369 commented on #66744
@ensignavenger were you able to work it out ?

[2020-07-15 00:31] kenmoini commented on #36615
How the...how is this still a thing?  Just ran into this issue myself on Ansible 2.9 on RHEL8.2...guess it's time to look at some python...

[2020-07-15 05:16] Akasurde commented on #70638
@bsolomon1124 Thanks for reporting this. Would you be interested in correcting the documentation and opening a PR?

[2020-07-15 05:44] Akasurde commented on #70645
[patch-docs_docsite__themes_sphinx_rtd_theme_layout_html](https://github.com/openbsd/ports/blob/master/sysutils/ansible/patches/patch-docs_docsite__themes_sphinx_rtd_theme_layout_html) is invalid since we want to notify user that they are using devel or latest or older version of the docs.

~[patch-docs_bin_testing_formatter_sh](https://github.com/openbsd/ports/blob/master/sysutils/ansible/patches

[2020-07-15 05:54] SandraAnildas opened #70649 "time.clock raises AttributeError"
When we run ansible playbook, it ends with AttributeError saying that clock() is not an attribute of time. This is because the attribute clock() is removed frompython3.8.2. Ansible is using 3.8.2. Is there a way to make ansible to use a version of python below 3.8.2.?

[2020-07-15 06:05] Akasurde commented on #70649
@SandraAnildas Thanks for reporting this. Please fill all template details provided in issue template. This will provide vital information about the issue. Also, add console log, ansible version used, OS used on Ansible controller and Ansible managed node.

Thanks.

needs_info

[2020-07-15 07:17] tremble commented on #38959
One thing to note:
there is a 'bundled' version of ec2_group lurking in the repo which includes 1.1.1.1 in the docs section.  *But* because the 'public' ec2_group docs will come from the amazon.aws collection, this reference has no effect.

[2020-07-15 08:08] davidebelloni commented on #58242
Hi,
when this fix will be available in Ansible release?
Or how can I verify that the fix has been applied?

Thanks

[2020-07-15 08:11] samalv commented on #70644
Thanks @jborean93

I tried this morning to run the same play in a command line Ansible (outside AWX) and it worked :-) not sure how AWX is different comparing to command line Ansible (both are running same version of Ansible)

[2020-07-15 08:36] jakabk commented on #68066
As I see the [proxmoxer python package](https://github.com/proxmoxer/proxmoxer) does [not support setting the features](https://github.com/proxmoxer/proxmoxer/search?q=features&unscoped_q=features) of the LXC containers neither.

[2020-07-15 08:44] NilashishC commented on #55025
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-15 08:44] #55025 closed, assigned to nobody

[2020-07-15 08:49] NilashishC commented on #53310
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.

[2020-07-15 08:49] #53310 closed, assigned to nobody

[2020-07-15 08:51] NilashishC commented on #49313
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/openvswitch.openvswitch/

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/

[2020-07-15 08:51] #49313 closed, assigned to danielmellado

[2020-07-15 08:53] NilashishC commented on #49155
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/community.network

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-15 08:53] #49155 closed, assigned to nobody

[2020-07-15 08:54] NilashishC commented on #45437
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.

[2020-07-15 08:54] #45437 closed, assigned to nobody

[2020-07-15 09:09] sundertinwar opened #70651 "Potential bug with Ansible diff mode for network modules"
##### SUMMARY

Looks like a potential bug with modules.

I was going thru this post (https://docs.ansible.com/ansible/latest/user_guide/playbooks_checkmode.html & https://blog.networktocode.com/post/generating-diff-with-ansible/) where its mentioned that we can use check & diff mode together and Network Modules (ios_config, nxos_config, exos_config & eos_config) support check and diff mode.
I am t

[2020-07-15 09:27] nickbroon commented on #64099
I'm seeing: `JenkinsException: Error in request. Possibly authentication failed [403]: Forbidden` when using jenkins_jobs from Ansible 2.9.10 against Jenkins 2.244.
(I can login to the Jenkins api manually API using curl)

[2020-07-15 10:06] kleind commented on #67262
Hi,

I also found that service_facts reports failed services as "stopped".

This is the output on the test host:
[code]

When I run this playbook

[code]

I get this output:

[code]

Is it intentional that the state is reported as "stopped" instead of "failed" or is this to be considered a bug?

[2020-07-15 12:04] evitalis commented on #70645
@sivel based on #55268 I think help from the ansible team is warranted. The original issue for it stated an issue with passlib which was fixed in 2016 based on info in the PR. Is that something someone can help get sorted out since the exist PR seems irrelevant with that info?

@Akasurde The original author of that patch will need to comment as to why its there, but they don't seem to have a GitHu

[2020-07-15 12:52] NilashishC commented on #70651
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-15 12:52] #70651 closed, assigned to nobody

[2020-07-15 12:55] NilashishC commented on #55447
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible

[2020-07-15 12:55] #55447 closed, assigned to rohitthakur2590

[2020-07-15 12:56] NilashishC commented on #55105
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/junipernetworks.junos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!f

[2020-07-15 12:56] #55105 closed, assigned to ganeshrn

[2020-07-15 12:59] NilashishC commented on #54981
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

A whole bunch of things have changed since 2.7. If you are still facing this issue with the latest version, please re-submit this issue in the above repository.

If you have further questions please stop by IRC o

[2020-07-15 12:59] #54981 closed, assigned to pabelanger

[2020-07-15 13:01] NilashishC commented on #54897
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/junipernetworks.junos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!f

[2020-07-15 13:01] #54897 closed, assigned to ganeshrn, cidrblock

[2020-07-15 13:02] NilashishC commented on #54400
Closed by https://github.com/ansible/ansible/pull/63694

[2020-07-15 13:02] #54400 closed, assigned to GomathiselviS

[2020-07-15 13:03] NilashishC commented on #53931
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansibl

[2020-07-15 13:03] #53931 closed, assigned to trishnaguha

[2020-07-15 13:05] NilashishC commented on #53910
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-15 13:05] #53910 closed, assigned to trishnaguha

[2020-07-15 13:06] NilashishC commented on #53862
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.ios

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible

[2020-07-15 13:06] #53862 closed, assigned to justjais

[2020-07-15 13:07] NilashishC commented on #53808
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.iosxr

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansib

[2020-07-15 13:07] #53808 closed, assigned to ganeshrn

[2020-07-15 13:07] NilashishC commented on #53766
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansibl

[2020-07-15 13:07] #53766 closed, assigned to nobody

[2020-07-15 13:08] NilashishC commented on #53555
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/ansible.netcommon

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum

[2020-07-15 13:08] #53555 closed, assigned to ganeshrn

[2020-07-15 13:10] jearls commented on #63484
So how do you create a file from a task using the contents of a variable without having to shove that task into a role in order to make use of the template module?

[2020-07-15 13:11] NilashishC commented on #53189
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/vyos.vyos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansible

[2020-07-15 13:11] #53189 closed, assigned to rohitthakur2590

[2020-07-15 13:12] NilashishC commented on #53139
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/junipernetworks.junos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!f

[2020-07-15 13:12] #53139 closed, assigned to ganeshrn

[2020-07-15 13:13] NilashishC commented on #52817
Thank you very much for your interest in Ansible. This plugin is no longer maintained in this repository and has been migrated to https://github.com/ansible-collections/cisco.nxos

Please re-submit this issue in the above repository.

If you have further questions please stop by IRC or the mailing list:

IRC: #ansible on irc.freenode.net
mailing list: https://groups.google.com/forum/#!forum/ansibl